Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

check-train-circular-imports:
  name: Check Ray Train circular imports
  entry: python python/ray/train/lint/check_circular_imports.py
  language: system
  pass_filenames: false
  args:
  - --patch_dir
  - ray/train/v2

[Core] deflake test_task_events_2 TestIsActorTaskRunning
  python/ray/tests/test_task_events_2.py
Due: docstyle, check-import-order

add diagnostic logs
  python/ray/_private/state_api_test_utils.py
  python/ray/tests/test_task_events_2.py
Due: docstyle, check-import-order

revert test changes
  python/ray/tests/test_task_events_2.py
Due: docstyle, check-import-order

fix test
  python/ray/_private/runtime_env/agent/main.py
  python/ray/_private/workers/default_worker.py
  python/ray/dashboard/agent.py
  python/ray/includes/setproctitle.pxi
Due: docstyle, check-import-order

try and improve set proctitle stability
  python/ray/_private/state_api_test_utils.py
  python/ray/includes/setproctitle.pxi
  python/ray/tests/test_task_events_2.py
Due: docstyle, check-import-order

[serve][llm] Serve P/D direct streaming via engine-native app + route swap
  python/ray/llm/_internal/serve/serving_patterns/prefill_decode/pd_server.py
  python/ray/llm/tests/serve/cpu/deployments/prefill_decode_disagg/test_prefill_decode_disagg.py
Due: docstyle, check-import-order

fixing promtheus metrics fetch bug
  release/ray_release/command_runner/_prometheus_metrics.py
Due: docstyle, check-import-order

[serve] Add recent_dead_replicas to instance-details test fixtures
  python/ray/serve/tests/test_controller.py
  python/ray/serve/tests/test_direct_ingress.py
Due: docstyle, check-import-order

[core] Fix ray.get hanging forever when an object's owner dies during pull (#63694)
  src/mock/ray/object_manager/object_manager.h
  src/ray/object_manager/object_manager.cc
  src/ray/object_manager/object_manager.h
  src/ray/object_manager/plasma/fake_plasma_client.h
  src/ray/object_manager/tests/object_manager_test.cc
  src/ray/raylet/main.cc
  src/ray/raylet/node_manager.cc
  src/ray/raylet/node_manager.h
Due: check-cpp-files-inclusion

Improve string handling
  src/ray/common/monitors/BUILD.bazel
  src/ray/common/monitors/cpu_monitor_utils.cc
  src/ray/common/monitors/cpu_monitor_utils.h
  src/ray/common/monitors/tests/BUILD.bazel
  src/ray/common/monitors/tests/cpu_monitor_utils_test.cc
  src/ray/common/ray_config_def.h
Due: check-cpp-files-inclusion

pr ready
  doc/neelansh-docs/architecture.md
  doc/neelansh-docs/contributing.md
  doc/neelansh-docs/setup.md
  doc/neelansh-docs/use.md
  python/ray/_private/services.py
  python/ray/tests/test_hostname_routing.py
Due: docstyle, check-import-order

[Data] Add locality hints and single-node variant to backpressure training prefetch benchmark (#63676)
  release/nightly_tests/dataset/backpressure_benchmark.py
  release/nightly_tests/dataset/fixed_size_1_cpu_compute.yaml
  release/release_data_tests.yaml
Due: docstyle, check-import-order

[serve][llm] Simplify P/D direct-streaming test fakes
  python/ray/llm/tests/serve/cpu/deployments/prefill_decode_disagg/test_prefill_decode_disagg.py
Due: docstyle, check-import-order

Improve phrasing with docs lint
  doc/source/ray-core/scheduling/ray-oom-prevention.rst
  doc/source/ray-observability/user-guides/debug-apps/debug-memory.rst
Due: none

add check
  doc/source/train/tutorials/ci/py_scripts/04e_rec_sys_workload_pattern.py
Due: none

Set min cpu of 1 on fractional quotas
  src/ray/common/monitors/cpu_monitor_utils.cc
  src/ray/common/monitors/tests/cpu_monitor_utils_test.cc
  src/ray/common/ray_config_def.h
Due: check-cpp-files-inclusion

[Data] Defer all RefBundle emits + batched ray.get(meta_refs) in one pass
  python/ray/data/_internal/execution/interfaces/physical_operator.py
  python/ray/data/_internal/execution/streaming_executor_state.py
  python/ray/data/tests/test_streaming_executor.py
Due: docstyle, check-import-order

[core] Avoid FabricManager stall on NVLink systems in GpuProfilingManager (#63312)
  python/ray/dashboard/modules/reporter/gpu_profile_manager.py
  python/ray/dashboard/modules/reporter/tests/test_gpu_profiler_manager.py
Due: docstyle, check-import-order

refactor GPURankPool; dtype/schema management; more pydocs and typing
  python/ray/data/_internal/gpu_shuffle/hash_aggregate.py
  python/ray/data/_internal/gpu_shuffle/hash_shuffle.py
  python/ray/data/_internal/planner/plan_all_to_all_op.py
  python/ray/data/tests/test_gpu_shuffle.py
Due: docstyle, check-import-order

WIP
  python/ray/dashboard/modules/reporter/gpu_profile_manager.py
Due: docstyle, check-import-order

Update python/ray/dashboard/modules/reporter/gpu_profile_manager.py
  python/ray/dashboard/modules/reporter/gpu_profile_manager.py
Due: docstyle, check-import-order

[Dashboard] Fix invalid PromQL when global_filters is empty in Grafana dashboard generation (#63687)
  python/ray/dashboard/modules/metrics/grafana_dashboard_factory.py
Due: docstyle, check-import-order

[Data] Back Timer percentile with DistributionTracker (KLL sketch)
  python/ray/data/_internal/execution/streaming_executor.py
  python/ray/data/_internal/stats.py
  python/ray/data/tests/test_stats.py
  release/nightly_tests/dataset/benchmark.py
  release/release_data_tests.yaml
Due: docstyle, check-import-order

fix
  src/ray/raylet/scheduling/tests/cluster_lease_manager_test.cc
  src/ray/raylet/scheduling/tests/local_lease_manager_test.cc
  src/ray/raylet/tests/node_manager_test.cc
Due: check-cpp-files-inclusion

fix
  src/ray/raylet/scheduling/tests/cluster_lease_manager_test.cc
  src/ray/raylet/tests/node_manager_test.cc
Due: check-cpp-files-inclusion

[Data] Drop legacy on_data_ready path; deferred-emit is the only mode
  python/ray/data/_internal/execution/interfaces/physical_operator.py
  python/ray/data/_internal/execution/streaming_executor_state.py
  python/ray/data/tests/test_streaming_executor.py
  python/ray/data/tests/util.py
Due: docstyle, check-import-order

Use ceil instead
  src/ray/common/monitors/cpu_monitor_utils.cc
  src/ray/common/monitors/cpu_monitor_utils.h
  src/ray/common/monitors/tests/cpu_monitor_utils_test.cc
Due: check-cpp-files-inclusion

[train] Add debug prints to rec_sys tutorial test (#63684)
  doc/source/train/tutorials/ci/py_scripts/04e_rec_sys_workload_pattern.py
Due: none

[Data] Test downstream capacity backpressure threshold 0.55 ratio 1.5
  python/ray/data/_internal/execution/backpressure_policy/downstream_capacity_backpressure_policy.py
  python/ray/data/context.py
Due: docstyle, check-import-order

Get rid of type cast that mac doesn't like
  src/ray/common/monitors/cpu_monitor_utils.cc
Due: check-cpp-files-inclusion

updating forge release automation image
  .buildkite/release-automation/forge_x86_64.Dockerfile
Due: none

Explicitly provide type for mac
  src/ray/common/monitors/cpu_monitor_utils.cc
Due: check-cpp-files-inclusion

[Data] Make DistributionTracker picklable
  python/ray/data/_internal/execution/interfaces/distribution_tracker.py
  python/ray/data/tests/test_stats.py
  python/ray/data/tests/unit/test_distribution_tracker.py
Due: docstyle, check-import-order

readme exlcude for sub folders only
  doc/source/conf.py
Due: none

[data] Propagate in-memory size estimate through logical operators
  python/ray/data/_internal/datasource/parquet_datasource.py
  python/ray/data/_internal/logical/operators/all_to_all_operator.py
  python/ray/data/_internal/logical/operators/n_ary_operator.py
  python/ray/data/_internal/logical/operators/one_to_one_operator.py
  python/ray/data/_internal/logical/operators/read_operator.py
  python/ray/data/context.py
  python/ray/data/read_api.py
  python/ray/data/tests/datasource/test_read_parquet_v2.py
Due: docstyle, check-import-order

Apply suggestion from @gemini-code-assist[bot]
  python/ray/data/_internal/gpu_shuffle/hash_shuffle.py
Due: docstyle, check-import-order

Adding better error message for worker startup errors
  src/ray/raylet/scheduling/local_lease_manager.cc
Due: check-cpp-files-inclusion

Refine
  src/ray/raylet/scheduling/local_lease_manager.cc
Due: check-cpp-files-inclusion

mounting buildkite agent
  .buildkite/release-automation/forge_x86_64.Dockerfile
  .buildkite/release-automation/post_release.rayci.yml
Due: none

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
