Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)

[ci] release tests: remove unused app configs (#54410)
  release/air_tests/air_benchmarks/app_config.yaml
  release/air_tests/frequent_pausing/app_config.yaml
  release/air_tests/oom/stress_tests_tune_air_oom_app_config.yaml
  release/autoscaling_tests/app_config.yaml
  release/cluster_tests/app_config.yaml
  release/dashboard/agent_stress_app_config.yaml
  release/golden_notebook_tests/torch_tune_serve_app_config.yaml
  release/jobs_tests/app_config.yaml
  release/k8s_tests/app_config.yaml
  release/long_running_distributed_tests/app_config.yaml
  release/long_running_tests/app_config.yaml
  release/ml_user_tests/horovod/app_config.yaml
  release/ml_user_tests/train/app_config.yaml
  release/nightly_tests/chaos_test/app_config.yaml
  release/nightly_tests/dask_on_ray/dask_on_ray_app_config.yaml
  release/nightly_tests/dask_on_ray/large_scale_dask_on_ray_app_config.yaml
  release/nightly_tests/dataset/app_config.yaml
  release/nightly_tests/dataset/shuffle_app_config.yaml
  release/nightly_tests/decision_tree/decision_tree_app_config.yaml
  release/nightly_tests/placement_group_tests/app_config.yaml
  release/nightly_tests/shuffle/100tb_shuffle_app_config.yaml
  release/nightly_tests/shuffle/shuffle_app_config.yaml
  release/nightly_tests/shuffle/shuffle_with_state_api_app_config.yaml
  release/nightly_tests/stress_tests/stress_tests_single_node_oom_app_config.yaml
  release/rllib_tests/app_config.yaml
  release/rllib_tests/debug_app_config.yaml
  release/runtime_env_tests/app_config.yaml
  release/serve_tests/app_config.yaml
  release/serve_tests/gpu_app_config.yaml
  release/train_tests/horovod/app_config.yaml
  release/tune_tests/fault_tolerance_tests/app_config.yaml
Due: none

[serve] Remove usage of `internal_api.memory_summary()` (#54417)
  python/ray/serve/tests/test_advanced.py
Due: docstyle, check-import-order

[data] dask: disable smoke test (#54411)
  release/release_tests.yaml
Due: none

[serve] Remove usage of `ray._private.state` (#54140)
  python/ray/serve/tests/conftest.py
  python/ray/serve/tests/test_cluster.py
  python/ray/serve/tests/test_deploy_app.py
  python/ray/serve/tests/test_deploy_app_2.py
  python/ray/serve/tests/test_grpc.py
  python/ray/serve/tests/test_proxy.py
  python/ray/serve/tests/test_standalone_2.py
  python/ray/serve/tests/test_standalone_3.py
Due: docstyle, check-import-order

[core] Inject reorder_wait_seconds for scheduling queue test (#54404)
  src/ray/core_worker/test/scheduling_queue_test.cc
  src/ray/core_worker/transport/actor_scheduling_queue.cc
  src/ray/core_worker/transport/actor_scheduling_queue.h
  src/ray/core_worker/transport/task_receiver.cc
Due: check-cpp-files-inclusion

migrate signature from _private to _common (#54357)
  python/ray/_common/signature.py
  python/ray/_common/tests/BUILD
  python/ray/_common/tests/test_signature.py
  python/ray/_raylet.pyx
  python/ray/actor.py
  python/ray/remote_function.py
  python/ray/serve/batching.py
  python/ray/util/client/common.py
Due: docstyle, check-import-order

[core] Skip `test_owner_assign_inner_object` on Windows (#54383)
  python/ray/tests/test_object_assign_owner.py
Due: docstyle, check-import-order

[Autoscaler][V2] Use running node instances to rate-limit upscaling (#50414)
  python/ray/autoscaler/_private/constants.py
  python/ray/autoscaler/_private/resource_demand_scheduler.py
  python/ray/autoscaler/v2/instance_manager/reconciler.py
  python/ray/autoscaler/v2/tests/test_reconciler.py
Due: docstyle, check-import-order

[wheel] remove pyarrow <18 restriction (#54405)
  python/requirements.txt
  python/setup.py
Due: docstyle, check-import-order

[deps] sync ml byod deps with global lock file (#54424)
  release/ray_release/byod/requirements_ml_byod_3.9.txt
Due: none

[serve] bump timeout for test_proxy (#54426)
  python/ray/serve/tests/BUILD
Due: none

[ci] add workspace status script (#54398)
  .bazelrc
  bazel/workspace_status.sh
Due: none

[Data] Add `pin_memory` to `iter_torch_batches` (#53792)
  ci/lint/pydoclint-baseline.txt
  python/ray/air/_internal/torch_utils.py
  python/ray/data/collate_fn.py
  python/ray/data/iterator.py
  python/ray/train/tests/test_iter_torch_batches_gpu.py
  release/train_tests/benchmark/config.py
  release/train_tests/benchmark/image_classification/factory.py
  release/train_tests/benchmark/ray_dataloader_factory.py
Due: docstyle, check-import-order

[Refactor]Rename NCCL-related items to comm_backend (#51061)
  ci/lint/pydoclint-baseline.txt
  python/ray/dag/collective_node.py
  python/ray/dag/compiled_dag_node.py
  python/ray/dag/dag_node.py
  python/ray/dag/dag_node_operation.py
  python/ray/dag/tests/experimental/test_collective_dag.py
  python/ray/dag/tests/experimental/test_cpu_communicator_dag.py
  python/ray/dag/tests/experimental/test_torch_tensor_dag.py
  python/ray/dag/tests/experimental/test_torch_tensor_transport.py
  python/ray/experimental/channel/__init__.py
  python/ray/experimental/channel/auto_transport_type.py
  python/ray/experimental/channel/common.py
  python/ray/experimental/channel/conftest.py
  python/ray/experimental/channel/cpu_communicator.py
  python/ray/experimental/channel/nccl_group.py
  python/ray/experimental/channel/serialization_context.py
  python/ray/experimental/channel/torch_tensor_accelerator_channel.py
  python/ray/experimental/channel/torch_tensor_type.py
  python/ray/experimental/collective/conftest.py
  python/ray/experimental/collective/operations.py
  python/ray/tests/test_nccl_channel.py
Due: docstyle, check-import-order

[serve] add request metadata to can_accept_request (#54429)
  python/ray/serve/_private/replica.py
Due: docstyle, check-import-order

Fix formating errors
  python/ray/serve/_private/deployment_state.py
Due: docstyle, check-import-order

[train][doc] ray.train.report api docs should mention optional checkpoint_dir_name (#54391)
  ci/lint/pydoclint-baseline.txt
  python/ray/train/v2/api/train_fn_utils.py
Due: docstyle, check-import-order

[data] Extract backpressure-related code from ResourceManager as a policy (#54376)
  ci/lint/pydoclint-baseline.txt
  python/ray/data/_internal/execution/backpressure_policy/__init__.py
  python/ray/data/_internal/execution/backpressure_policy/backpressure_policy.py
  python/ray/data/_internal/execution/backpressure_policy/concurrency_cap_backpressure_policy.py
  python/ray/data/_internal/execution/backpressure_policy/resource_budget_backpressure_policy.py
  python/ray/data/_internal/execution/interfaces/op_runtime_metrics.py
  python/ray/data/_internal/execution/interfaces/physical_operator.py
  python/ray/data/_internal/execution/resource_manager.py
  python/ray/data/_internal/execution/streaming_executor.py
  python/ray/data/_internal/execution/streaming_executor_state.py
  python/ray/data/tests/test_backpressure_policies.py
  python/ray/data/tests/test_resource_manager.py
  python/ray/data/tests/test_stats.py
  python/ray/data/tests/test_streaming_executor.py
Due: docstyle, check-import-order

[train][checkpoint] Populate checkpoint from before_init_train_context instead of workergroupcontext
  python/ray/train/v2/_internal/execution/checkpoint/checkpoint_manager.py
  python/ray/train/v2/_internal/execution/controller/controller.py
  python/ray/train/v2/_internal/execution/worker_group/worker_group.py
  python/ray/train/v2/tests/test_checkpoint_manager.py
Due: docstyle, check-import-order

[Data] Avoid OOMs with `read_json(..., lines=True)` (#54436)
  python/ray/data/_internal/datasource/json_datasource.py
  python/ray/data/read_api.py
  python/ray/data/tests/test_json.py
Due: docstyle, check-import-order

Optimize get_live_deployments
  python/ray/serve/_private/deployment_state.py
Due: docstyle, check-import-order

fix state unittest
  python/ray/_private/state.py
  python/ray/tests/test_global_state.py
Due: docstyle, check-import-order

disable pp
  release/llm_tests/serve/test_llm_serve_integration.py
Due: docstyle, check-import-order

Fix test_json CI failures (#54352)
  python/ray/data/tests/test_json.py
Due: docstyle, check-import-order

[serve] skip test_proxy_disconnect_metrics on windows (#54441)
  python/ray/serve/tests/test_metrics.py
Due: docstyle, check-import-order

fix all resources function
  python/ray/_private/state.py
  python/ray/tests/test_global_state.py
Due: docstyle, check-import-order

Fix formating failures
  python/ray/serve/_private/deployment_state.py
Due: docstyle, check-import-order

remove comments
  python/ray/_private/state.py
Due: docstyle, check-import-order

[Data] Revisit async UDF handling in Ray Data (#54190)
  python/ray/data/_internal/planner/plan_udf_map_op.py
  python/ray/data/tests/conftest.py
  python/ray/data/tests/test_map.py
  release/llm_tests/batch/test_batch_vllm.py
Due: docstyle, check-import-order

remote route_prefix from get_application_urls
  python/ray/serve/_private/test_utils.py
  python/ray/serve/tests/test_api.py
  python/ray/serve/tests/test_deploy_app.py
  python/ray/serve/tests/test_deploy_app_2.py
Due: docstyle, check-import-order

[data.llm] Return a batch of rows in the udf instead of row by row (#54329)
  python/ray/llm/_internal/batch/stages/base.py
  python/ray/llm/tests/batch/cpu/stages/test_chat_template_stage.py
  python/ray/llm/tests/batch/cpu/stages/test_http_request_stage.py
  python/ray/llm/tests/batch/cpu/stages/test_stage_base.py
  python/ray/llm/tests/batch/cpu/stages/test_tokenize_stage.py
  python/ray/llm/tests/batch/gpu/stages/test_sglang_engine_stage.py
Due: docstyle, check-import-order

fix
  python/ray/serve/_private/application_state.py
  python/ray/serve/_private/test_utils.py
  python/ray/serve/tests/BUILD
  python/ray/serve/tests/test_api.py
  python/ray/serve/tests/test_api_2.py
  python/ray/serve/tests/test_callback.py
  python/ray/serve/tests/test_deploy.py
  python/ray/serve/tests/test_deploy_2.py
  python/ray/serve/tests/test_deploy_app.py
  python/ray/serve/tests/test_deploy_app_2.py
  python/ray/serve/tests/test_failure.py
Due: docstyle, check-import-order

[Data] Fixing `sort_benchmark` to avoid offsets overflows with Pyarrow (#54390)
  release/nightly_tests/dataset/sort_benchmark.py
Due: docstyle, check-import-order

[serve] Remove usage of `ray._private.state` (#54140)
  python/ray/serve/tests/conftest.py
  python/ray/serve/tests/test_cluster.py
  python/ray/serve/tests/test_grpc.py
  python/ray/serve/tests/test_proxy.py
  python/ray/serve/tests/test_standalone_2.py
  python/ray/serve/tests/test_standalone_3.py
Due: docstyle, check-import-order

[ci] upgrade rayci version to 0.16.0 (#54392)
  .rayciversion
Due: none

updating raydepsets test job (#54387)
  .buildkite/cicd.rayci.yml
Due: none
