Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

check-train-circular-imports:
  name: Check Ray Train circular imports
  entry: python python/ray/train/lint/check_circular_imports.py
  language: system
  pass_filenames: false
  args:
  - --patch_dir
  - ray/train/v2

[serve] DNS-AID SVCB record lifecycle for Serve deployments
  doc/serve/dns_aid.rst
  python/ray/serve/_private/controller.py
  python/ray/serve/config.py
  python/ray/serve/dns_aid.py
  python/ray/serve/schema.py
  python/ray/serve/tests/BUILD.bazel
  python/ray/serve/tests/test_dns_aid.py
  python/requirements/serve/dns-aid-reqs.txt
  python/setup.py
Due: docstyle, check-import-order

[deps] Migrate data-tfxbsl CI image to raydepsets (#62496)
  .buildkite/data.rayci.yml
  ci/docker/data-tfxbsl.build.Dockerfile
  ci/docker/datatfxbsl.build.wanda.yaml
  ci/raydepsets/configs/ci_data.depsets.yaml
  python/deplocks/ci/data-base-ci_depset_py3.10.lock
  python/deplocks/ci/data-base-ci_depset_py3.11.lock
  python/deplocks/ci/data-mongo-ci_depset_py3.10.lock
  python/deplocks/ci/data-pyarrow-latest-ci_depset_py3.10.lock
  python/deplocks/ci/data-pyarrow-latest-ci_depset_py3.12.lock
  python/deplocks/ci/data-pyarrow-nightly-ci_depset_py3.10.lock
  python/deplocks/ci/data-pyarrow-v9-ci_depset_py3.10.lock
  python/deplocks/ci/data-tfxbsl-ci_depset_py3.11.lock
  python/deplocks/ci/docgpu_depset_py3.10.lock
  python/deplocks/ci/ml-gpubuild-ci_depset_py3.10.lock
  python/deplocks/ci/ml-lightning1gpubuild-ci_depset_py3.10.lock
  python/deplocks/ci/relaxed_data-ci_depset_py3.10.lock
  python/deplocks/ci/relaxed_data_tfxbsl-ci_depset_py3.10.lock
  python/deplocks/ci/relaxed_data_tfxbsl-ci_depset_py3.11.lock
  python/requirements/data/tfxbsl.txt
  python/requirements/ml/py313/dl-gpu-requirements.txt
Due: none

[ci] Fix GPT-J DeepSpeed release test dependency pins
  doc/source/train/examples/deepspeed/gptj_deepspeed_fine_tuning.ipynb
  release/ray_release/byod/byod_gptj_test.sh
Due: none

[ci] Fix Dolly, Vicuna, and TensorFlow benchmark release tests
  doc/source/train/examples/lightning/dolly_lightning_fsdp_finetuning.ipynb
  doc/source/train/examples/lightning/vicuna_13b_lightning_deepspeed_finetune.ipynb
  release/air_tests/air_benchmarks/workloads/tensorflow_benchmark.py
  release/ray_release/byod/byod_dolly_test.sh
  release/ray_release/byod/byod_vicuna_test.sh
Due: docstyle, check-import-order

[core][rdt] Custom arrow flight + ipc transport
  python/ray/experimental/rdt/arrow_flight_transport.py
  python/ray/experimental/rdt/util.py
  python/ray/tests/rdt/test_rdt_arrow_flight.py
Due: docstyle, check-import-order

[Data] Convert remaining concrete logical operators to frozen dataclasses (#62568)
  ci/lint/pyrefly-excluded-files.txt
  python/ray/data/_internal/logical/operators/n_ary_operator.py
  python/ray/data/_internal/logical/operators/streaming_split_operator.py
  python/ray/data/_internal/logical/rules/predicate_pushdown.py
Due: docstyle, check-import-order

fix: add user_class_name_prefix
  python/ray/serve/_private/benchmarks/locust_utils.py
Due: docstyle, check-import-order

[ci] Fix vicuna fill_prompt KeyError on rewritten_intent
  doc/source/train/examples/lightning/vicuna_13b_lightning_deepspeed_finetune.ipynb
Due: none

disabling failing rllib tests
  rllib/BUILD.bazel
Due: none

Address comments and minor fixes
  python/ray/data/_internal/actor_autoscaler/default_actor_autoscaler.py
  python/ray/data/tests/test_autoscaler.py
Due: docstyle, check-import-order

up to 1s
  src/ray/common/ray_config_def.h
Due: check-cpp-files-inclusion

fix clang-format
  src/ray/core_worker/task_submission/dependency_resolver.cc
Due: check-cpp-files-inclusion

Dispatch pubsub RPCs to dedicated thread
  python/ray/tests/test_core_worker_fault_tolerance.py
  python/ray/tests/test_streaming_generator.py
  src/ray/core_worker/BUILD.bazel
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker.h
  src/ray/core_worker/core_worker_io_context_policy.h
  src/ray/core_worker/core_worker_process.cc
  src/ray/core_worker/core_worker_process.h
  src/ray/core_worker/core_worker_rpc_proxy.h
  src/ray/core_worker/grpc_service.cc
  src/ray/core_worker/grpc_service.h
  src/ray/core_worker_rpc_client/core_worker_client.cc
  src/ray/core_worker_rpc_client/core_worker_client.h
  src/ray/protobuf/core_worker.proto
Due: docstyle, check-import-order, check-cpp-files-inclusion

Fix py3.13 DL/tune pins for raydepsets (torchtext, nevergrad)
  python/requirements/ml/dl-cpu-requirements.txt
  python/requirements/ml/py313/dl-cpu-requirements.txt
  python/requirements_compiled_py3.13.txt
Due: none

address comment
  src/ray/core_worker/core_worker.cc
Due: check-cpp-files-inclusion

log pubsub io_context event stats in periodic stats dump
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker.h
  src/ray/core_worker/core_worker_process.cc
Due: check-cpp-files-inclusion

Account for logical memory usage + Minor fixes + Remove epsilon
  python/ray/data/_internal/actor_autoscaler/default_actor_autoscaler.py
  python/ray/data/tests/test_autoscaler.py
Due: docstyle, check-import-order

recompute all pip deps in requirements.txt
  doc/source/templates/05_dreambooth_finetuning/dreambooth/requirements.txt
Due: none

Raise JAX/jaxlib floor to >=0.4.34 for Python 3.13 requirement sets
  python/requirements/ml/py313/data-test-requirements.txt
  python/requirements/ml/py313/dl-cpu-requirements.txt
  python/requirements/ml/py313/dl-gpu-requirements.txt
Due: none

[RLlib] Add focused regression test for add_module module_state sync
  rllib/algorithms/tests/test_algorithm.py
Due: docstyle, check-import-order

fix unit test
  python/ray/train/v2/tests/test_state.py
Due: docstyle, check-import-order, check-train-circular-imports

[train][torchft] Ray Train manages replica group restarts (#61475)
  ci/lint/pydoclint-baseline.txt
  python/ray/train/backend.py
  python/ray/train/v2/_internal/callbacks/backend_setup.py
  python/ray/train/v2/_internal/callbacks/working_dir_setup.py
  python/ray/train/v2/_internal/execution/callback.py
  python/ray/train/v2/_internal/execution/controller/controller.py
  python/ray/train/v2/_internal/execution/worker_group/__init__.py
  python/ray/train/v2/_internal/execution/worker_group/execution_group.py
  python/ray/train/v2/_internal/execution/worker_group/poll.py
  python/ray/train/v2/_internal/execution/worker_group/state.py
  python/ray/train/v2/_internal/execution/worker_group/worker.py
  python/ray/train/v2/_internal/execution/worker_group/worker_group.py
  python/ray/train/v2/examples/pytorch/torchft_linear_example.py
  python/ray/train/v2/tests/test_controller.py
  python/ray/train/v2/tests/test_torch_trainer.py
  python/ray/train/v2/tests/test_worker_group.py
  python/ray/train/v2/tests/test_worker_group_poll_status.py
  python/ray/train/v2/tests/util.py
  python/ray/train/v2/torch/torchft_config.py
Due: docstyle, check-import-order, check-train-circular-imports

[serve] Bump HAProxy to avoid CVEs
  ci/docker/serve.build.Dockerfile
  doc/source/serve/advanced-guides/performance.md
  docker/base-deps/Dockerfile
  docker/base-slim/Dockerfile
Due: none

pytest disable and exclude only failing tests
  doc/BUILD.bazel
  rllib/BUILD.bazel
  rllib/algorithms/tests/test_node_failures.py
Due: docstyle, check-import-order

properly check directory cleanup
  python/ray/train/v2/tests/test_lightning_integration.py
Due: docstyle, check-import-order, check-train-circular-imports

fix typo
  python/ray/train/lightning/_lightning_utils.py
Due: docstyle, check-import-order, check-train-circular-imports

update example
  doc/source/data/doc_code/working-with-llms/basic_llm_example.py
  doc/source/data/doc_code/working-with-llms/serve_deployment_example.py
  doc/source/data/working-with-llms.rst
Due: none

ignoring zip without explicit strict
  pyproject.toml
Due: none

try only changing huggingface_hub
  doc/source/templates/05_dreambooth_finetuning/dreambooth/requirements.txt
Due: none

[Data] - Add Small Optimization for Hash Partition
  python/ray/data/_internal/arrow_ops/transform_pyarrow.py
Due: docstyle, check-import-order

use validation=False as default instead
  python/ray/train/lightning/_lightning_utils.py
Due: docstyle, check-import-order, check-train-circular-imports

refreshed compiled_requirements.txt and compiled_requirements_py3.13.txt; seeing if they pass tests
  python/requirements_compiled.txt
  python/requirements_compiled_py3.13.txt
Due: none

fix: capture local vars for the closure
  python/ray/serve/_private/benchmarks/locust_utils.py
Due: docstyle, check-import-order

installing c libs for rllib tests
  ci/docker/rllib.build.Dockerfile
Due: none

fix test
  src/ray/core_worker/tests/core_worker_test.cc
Due: check-cpp-files-inclusion

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
