Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)

fix formatting
  doc/source/train/user-guides/checkpoints.rst
Due: none

Addressing comments
  python/ray/tests/test_raylet_fault_tolerance.py
  src/ray/raylet/tests/node_manager_test.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

[core] Kill raylet file and just keep node manager file
  src/ray/raylet/BUILD.bazel
  src/ray/raylet/main.cc
  src/ray/raylet/node_manager.cc
  src/ray/raylet/node_manager.h
  src/ray/raylet/raylet.cc
  src/ray/raylet/raylet.h
  src/ray/raylet/tests/BUILD.bazel
Due: check-cpp-files-inclusion

cleanup v2
  python/ray/data/_internal/logging.py
Due: docstyle, check-import-order

[train] Port over remaining tests to Train v2 (#57722)
  doc/source/train/examples/pytorch/tune_cifar_torch_pbt_example.rst
  doc/source/tune/examples/BUILD.bazel
  doc/source/tune/examples/index.rst
  doc/source/tune/examples/tune_mnist_keras.ipynb
  python/ray/air/BUILD.bazel
  python/ray/train/BUILD.bazel
  python/ray/train/examples/pytorch/tune_cifar_torch_pbt_example.py
  python/ray/train/v2/BUILD.bazel
  python/ray/train/v2/tests/conftest.py
  python/ray/train/v2/tests/test_data_integration.py
  python/ray/train/v2/tests/test_torch_gpu.py
  python/ray/train/v2/tests/test_torch_trainer.py
  python/ray/train/v2/tests/test_worker_group.py
  python/ray/tune/BUILD.bazel
  python/ray/tune/examples/tune_mnist_keras.py
  release/air_tests/air_benchmarks/mlperf-train/app_config_oom.yaml
  release/air_tests/air_benchmarks/mlperf-train/compute_cpu_16.yaml
  release/air_tests/air_benchmarks/mlperf-train/compute_gce_cpu_16.yaml
  release/air_tests/air_benchmarks/mlperf-train/file_size_benchmark.sh
  release/air_tests/air_benchmarks/mlperf-train/make_fake_dataset.py
  release/air_tests/air_benchmarks/mlperf-train/metric_utils.py
  release/air_tests/air_benchmarks/mlperf-train/oom_benchmark.sh
  release/air_tests/air_benchmarks/mlperf-train/process_imagenet.sh
  release/air_tests/air_benchmarks/mlperf-train/pytorch_utils.py
  release/air_tests/air_benchmarks/mlperf-train/resnet50_ray_air.py
  release/air_tests/air_benchmarks/mlperf-train/tf_utils.py
  release/air_tests/horovod/app_config_master.yaml
  release/air_tests/horovod/compute_tpl_aws.yaml
  release/air_tests/horovod/compute_tpl_gce.yaml
  release/air_tests/horovod/workloads/horovod_tune_test.py
  release/long_running_distributed_tests/README.rst
  release/long_running_distributed_tests/compute_tpl.yaml
  release/long_running_distributed_tests/compute_tpl_gce.yaml
  release/long_running_distributed_tests/workloads/pytorch_pbt_failure.py
Due: docstyle, check-import-order

lint
  python/ray/data/_internal/execution/operators/base_physical_operator.py
Due: docstyle, check-import-order

wip
  doc/source/serve/llm/user-guides/vllm-compatibility.md
Due: none

updating precommit
  .pre-commit-config.yaml
Due: none

adding exclude pattern
  doc/source/conf.py
Due: none

blocklist
  python/ray/data/_internal/logging.py
Due: docstyle, check-import-order

[docs] Convert serve/llm/quick-start.rst to MyST Markdown (#57782)
  doc/source/serve/llm/quick-start.md
  doc/source/serve/llm/quick-start.rst
Due: none

[deps] Updating rayimg depsets: base_extra_test_deps_cuda (2/3) (#57747)
  .buildkite/release/build.rayci.yml
  ci/raydepsets/configs/rayimg.depsets.yaml
  release/ray_release/byod/ray_base_extra_testdeps_cuda_py3.10.lock
  release/ray_release/byod/ray_base_extra_testdeps_cuda_py3.11.lock
  release/ray_release/byod/ray_base_extra_testdeps_cuda_py3.12.lock
  release/ray_release/byod/ray_base_extra_testdeps_cuda_py3.9.lock
  release/ray_release/byod/ray_base_extra_testdeps_py3.10.lock
  release/ray_release/byod/ray_base_extra_testdeps_py3.11.lock
  release/ray_release/byod/ray_base_extra_testdeps_py3.9.lock
  release/ray_release/byod/ray_ml_base_extra_testdeps_py3.10.lock
  release/ray_release/byod/ray_ml_base_extra_testdeps_py3.9.lock
Due: none

[Data] Add approximate quantile to aggregator (#57598)
  doc/source/data/api/aggregate.rst
  python/ray/data/aggregate.py
  python/ray/data/stats.py
  python/ray/data/tests/test_custom_agg.py
  python/ray/data/tests/test_dataset_stats.py
  python/requirements/ml/data-test-requirements.txt
  python/requirements_compiled.txt
Due: docstyle, check-import-order

Address code review feedback for Iceberg write operations
  python/ray/data/_internal/datasource/iceberg/datasink.py
  python/ray/data/_internal/datasource/iceberg/upsert_util.py
  python/ray/data/dataset.py
Due: docstyle, check-import-order

[Core] [Azure] Cleaning up extra resources (MSI, VNET, NSG) during cluster teardown
  python/ray/autoscaler/_private/_azure/azure-config-template.json
  python/ray/autoscaler/_private/_azure/config.py
  python/ray/autoscaler/_private/_azure/node_provider.py
  python/ray/autoscaler/_private/commands.py
Due: docstyle, check-import-order

Fixing the tests
  python/ray/tests/resource_isolation/test_resource_isolation_integration.py
  src/ray/common/cgroup2/cgroup_manager.cc
  src/ray/common/cgroup2/tests/cgroup_manager_test.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

[deps] raydepsets: expanding depsets recursively (#57762)
  ci/raydepsets/cli.py
  ci/raydepsets/tests/test_cli.py
  ci/raydepsets/tests/test_data/test.depsets.yaml
  ci/raydepsets/tests/test_workspace.py
Due: docstyle, check-import-order

Make byod_install_jax_tpu.sh executable
  release/ray_release/byod/byod_install_jax_tpu.sh
Due: none

[data][llm] Add per-stage map kwargs for build_llm_processor preprocess/postprocess
  python/ray/data/llm.py
  python/ray/llm/_internal/batch/processor/base.py
  python/ray/llm/_internal/batch/processor/http_request_proc.py
  python/ray/llm/_internal/batch/processor/serve_deployment_proc.py
  python/ray/llm/_internal/batch/processor/sglang_engine_proc.py
  python/ray/llm/_internal/batch/processor/vllm_engine_proc.py
  python/ray/llm/tests/batch/cpu/processor/test_processor_base.py
Due: docstyle, check-import-order

fix 3.11
  release/release_tests.yaml
Due: none

:)
  ci/ray_ci/doc/cmd_check_api_discrepancy.py
Due: docstyle, check-import-order

rllilib
  doc/source/rllib/getting-started.rst
Due: none

[serve][llm] Introduce callback API for customizing things like engine initialization, etc. (#57257)
  python/ray/llm/_internal/common/callbacks/__init__.py
  python/ray/llm/_internal/common/callbacks/base.py
  python/ray/llm/_internal/common/callbacks/cloud_downloader.py
  python/ray/llm/_internal/common/utils/download_utils.py
  python/ray/llm/_internal/common/utils/import_utils.py
  python/ray/llm/_internal/serve/configs/server_models.py
  python/ray/llm/_internal/serve/deployments/llm/vllm/vllm_engine.py
  python/ray/llm/_internal/serve/deployments/routers/builder_ingress.py
  python/ray/llm/_internal/serve/deployments/utils/node_initialization_utils.py
  python/ray/llm/tests/common/utils/test_callback_base.py
  python/ray/llm/tests/serve/cpu/deployments/utils/test_node_initialization_utils.py
Due: docstyle, check-import-order

[docs] Add architecture overview and core components documentation
  doc/source/serve/llm/architecture/core.md
  doc/source/serve/llm/architecture/index.md
  doc/source/serve/llm/architecture/overview.md
Due: none

[docs] Add prefill-decode architecture and images
  doc/source/serve/llm/architecture/index.md
  doc/source/serve/llm/architecture/serving-patterns/index.md
  doc/source/serve/llm/architecture/serving-patterns/prefill-decode.md
  doc/source/serve/llm/images/dp.png
  doc/source/serve/llm/images/dp_flow.png
  doc/source/serve/llm/images/llmserver-ingress-rpc.png
  doc/source/serve/llm/images/llmserver.png
  doc/source/serve/llm/images/pd.png
  doc/source/serve/llm/images/placement.png
Due: none

update tests
  python/ray/llm/tests/batch/cpu/processor/test_processor_base.py
Due: docstyle, check-import-order

removing format
  ci/lint/format.sh
Due: none

[docs] Apply Ray style guide to prefill-decode architecture
  doc/source/serve/llm/architecture/serving-patterns/prefill-decode.md
Due: none

wip
  python/ray/llm/tests/batch/cpu/processor/test_processor_base.py
Due: docstyle, check-import-order

use correct metric
  python/ray/data/_internal/execution/backpressure_policy/downstream_output_capacity_backpressure_policy.py
Due: docstyle, check-import-order

Apply Black formatting to Iceberg datasource files
  python/ray/data/_internal/datasource/iceberg/__init__.py
  python/ray/data/_internal/datasource/iceberg/datasink.py
  python/ray/data/_internal/datasource/iceberg/upsert_util.py
Due: docstyle, check-import-order

Add comprehensive tests for Iceberg write operations and fix documentation
  python/ray/data/dataset.py
  python/ray/data/tests/test_iceberg.py
Due: docstyle, check-import-order

update
  doc/source/data/api/input_output.rst
  doc/source/data/doc_code/working-with-llms/vlm_example.py
  doc/source/data/inspecting-data.rst
  doc/source/data/loading-data.rst
  doc/source/train/examples/lightning/lightning_cola_advanced.ipynb
  doc/source/train/examples/transformers/huggingface_text_classification.ipynb
  doc/source/train/getting-started-transformers.rst
  doc/source/train/user-guides/data-loading-preprocessing.rst
Due: none

including lock files for doc builds
  .buildkite/base.rayci.yml
  .buildkite/dependencies.rayci.yml
  ci/docker/doc.build.Dockerfile
  ci/docker/doc.build.wanda.yaml
  ci/raydepsets/configs/docs.depsets.yaml
  doc/requirements-doc.txt
  python/deplocks/docs/docbuild_depset_py3.12.lock
  python/deplocks/docs/docbuild_depset_py3.9.lock
Due: none

updating p39 to py310
  .buildkite/base.rayci.yml
  .buildkite/lint.rayci.yml
  ci/raydepsets/configs/docs.depsets.yaml
  python/deplocks/docs/docbuild_depset_py3.9.lock
Due: none

adding lock file
  python/deplocks/docs/docbuild_depset_py3.10.lock
Due: none

[docs] Update data-parallel architecture for MoE models
  doc/source/serve/llm/architecture/serving-patterns/data-parallel.md
  doc/source/serve/llm/architecture/serving-patterns/deepseek-v3.md
Due: none

[docs] Apply Ray style guide to data-parallel and DeepSeek-V3
  doc/source/serve/llm/architecture/serving-patterns/data-parallel.md
  doc/source/serve/llm/architecture/serving-patterns/deepseek-v3.md
Due: none

[docs] Add observability guide and refine documentation overview
  doc/source/serve/llm/index.md
  doc/source/serve/llm/quick-start.md
  doc/source/serve/llm/user-guides/index.md
  doc/source/serve/llm/user-guides/observability.md
Due: none

Add PyIceberg version compatibility for overwrite and merge operations
  python/ray/data/_internal/datasource/iceberg/datasink.py
  python/ray/data/tests/test_iceberg.py
Due: docstyle, check-import-order
