Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

fix docs builder
  doc/source/serve/doc_code/external_scaler_config.yaml
Due: none

fix indent
  doc/source/cluster/kubernetes/user-guides/label-based-scheduling.md
Due: none

review changes
  python/ray/serve/_private/application_state.py
  python/ray/serve/_private/controller.py
Due: docstyle, check-import-order

Simulate transient network failure via iptable
  python/ray/_private/simulate_cross_az_network_failure.py
Due: docstyle, check-import-order

Add script to simulate network transient error via ip tables
  python/ray/_private/simulate_cross_az_network_failure.py
Due: docstyle, check-import-order

review changes
  python/ray/dashboard/modules/serve/tests/test_serve_dashboard.py
  python/ray/serve/_private/application_state.py
  python/ray/serve/_private/controller.py
Due: docstyle, check-import-order

[Train] [doc] Local mode user guide (#57751)
  doc/source/train/user-guides.rst
  doc/source/train/user-guides/local_mode.rst
Due: none

[Core] Support Zero-Copy Serialization for Read-Only Tensors
  python/ray/_private/tensor_serialization_utils.py
  python/ray/tests/BUILD.bazel
Due: docstyle, check-import-order

[Core] Support Zero-Copy Serialization for Read-Only Tensors
  python/ray/_private/tensor_serialization_utils.py
Due: docstyle, check-import-order

Add more tests cases, fix SerializeFallbackStrategy, and rename to FallbackOption
  python/ray/_raylet.pyx
  python/ray/includes/common.pxd
  python/ray/tests/test_label_scheduling.py
  src/ray/common/lease/lease_spec.cc
  src/ray/common/lease/lease_spec.h
  src/ray/common/scheduling/fallback_strategy.cc
  src/ray/common/scheduling/fallback_strategy.h
  src/ray/common/scheduling/label_selector.cc
  src/ray/common/scheduling/scheduling_class_util.cc
  src/ray/common/scheduling/scheduling_class_util.h
  src/ray/common/scheduling/tests/fallback_strategy_test.cc
  src/ray/common/scheduling/tests/label_selector_test.cc
  src/ray/common/task/task_spec.cc
  src/ray/common/task/task_spec.h
  src/ray/common/task/task_util.h
  src/ray/common/tests/task_spec_test.cc
  src/ray/core_worker/common.h
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker.h
  src/ray/observability/ray_actor_definition_event.cc
  src/ray/protobuf/common.proto
  src/ray/raylet/scheduling/cluster_resource_scheduler.cc
  src/ray/raylet/scheduling/tests/cluster_resource_scheduler_test.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

Fix doc link
  doc/source/cluster/kubernetes/user-guides/label-based-scheduling.md
Due: none

p
  commits.txt
Due: none

fix tests Signed-off-by: sampan <sampan@anyscale.com>
  python/ray/_private/authentication/__init__.py
  python/ray/_private/authentication/authentication_token_generator.py
  python/ray/_private/authentication/authentication_token_setup.py
  python/ray/_private/worker.py
  python/ray/tests/test_token_auth_integration.py
  src/ray/rpc/authentication/authentication_token_loader.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

fix builds
  src/ray/gcs/BUILD.bazel
  src/ray/raylet/BUILD.bazel
Due: none

lint
  src/ray/gcs/BUILD.bazel
  src/ray/raylet/BUILD.bazel
Due: none

fix tests and address comments
  python/ray/dashboard/auth_utils.py
  python/ray/dashboard/authentication_utils.py
  python/ray/dashboard/http_server_head.py
  python/ray/tests/test_dashboard_auth.py
Due: docstyle, check-import-order

add test to bazel
  python/ray/tests/BUILD.bazel
Due: none

fix tests
  python/ray/serve/tests/unit/test_application_state.py
Due: docstyle, check-import-order

Applied arazthexd's fix.
  rllib/algorithms/algorithm_config.py
Due: docstyle, check-import-order

Added the fix to the other side of the if-else.
  rllib/algorithms/algorithm_config.py
Due: docstyle, check-import-order

added metadata classes and HcclTensorTransport class.
  python/ray/experimental/collective/hccl_tensor_transport.py
  python/ray/util/collective/collective.py
  python/ray/util/collective/types.py
Due: docstyle, check-import-order

Remove redundant definition and fix import order
  python/ray/data/grouped_data.py
  python/ray/data/tests/test_groupby_e2e.py
Due: docstyle, check-import-order

integrate GPU stat tests with other stat tests and add tensor tests
  rllib/utils/metrics/stats/ema.py
  rllib/utils/metrics/stats/lifetime_sum.py
  rllib/utils/metrics/stats/mean.py
  rllib/utils/metrics/stats/min.py
  rllib/utils/metrics/stats/percentiles.py
  rllib/utils/metrics/stats/series.py
  rllib/utils/metrics/tests/test_stats.py
Due: docstyle, check-import-order

fix
  python/ray/tests/test_gcs_fault_tolerance.py
  src/ray/common/asio/periodical_runner.cc
  src/ray/common/ray_syncer/ray_syncer.cc
  src/ray/common/ray_syncer/ray_syncer_bidi_reactor_base.h
  src/ray/raylet/node_manager.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

fix
  python/ray/tests/test_gcs_fault_tolerance.py
  src/ray/raylet/node_manager.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

fix
  python/ray/tests/test_gcs_fault_tolerance.py
Due: docstyle, check-import-order

attempt to fix test
  src/ray/pubsub/python_gcs_subscriber.cc
Due: check-cpp-files-inclusion

fix
  src/ray/raylet/node_manager.cc
Due: check-cpp-files-inclusion

[docs] Updating support for Azure to ray team supported (#58153)
  .github/CODEOWNERS
  doc/source/cluster/getting-started.rst
  doc/source/cluster/vms/getting-started.rst
  doc/source/cluster/vms/index.md
  doc/source/cluster/vms/user-guides/launching-clusters/azure.md
Due: none

fix typo
  python/ray/tests/BUILD.bazel
Due: none

attempt to fix tests
  python/ray/tests/test_token_auth_integration.py
Due: docstyle, check-import-order

[ci] update ci py310 tests - CI-UPGRADES(2/5) (#58169)
  .buildkite/base.rayci.yml
  .buildkite/build.rayci.yml
  .buildkite/lint.rayci.yml
  .buildkite/serve.rayci.yml
Due: none

update
  python/ray/data/read_api.py
Due: docstyle, check-import-order

[release] Allow release test to specify num_retries (#57578)
  release/ray_release/buildkite/step.py
  release/ray_release/schema.json
  release/ray_release/tests/test_step.py
  release/release_tests.yaml
Due: docstyle, check-import-order

[Docs] KubeRay Label Selector Guide (#58157)
  doc/source/cluster/kubernetes/user-guides.md
  doc/source/cluster/kubernetes/user-guides/label-based-scheduling.md
  doc/source/cluster/kubernetes/user-guides/tpu.md
Due: none

reorder
  python/ray/data/_internal/execution/operators/base_physical_operator.py
Due: docstyle, check-import-order

fix
  python/ray/data/_internal/datasource/json_datasource.py
Due: docstyle, check-import-order

size_bytes var
  python/ray/data/_internal/execution/operators/map_operator.py
  python/ray/data/_internal/execution/streaming_executor.py
Due: docstyle, check-import-order

[Data][CI] Fix test arrow serialization (#57837)
  python/ray/data/tests/test_arrow_serialization.py
  semgrep.yml
Due: docstyle, check-import-order

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)
