Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)

Add args for win rate threshold and target mix size, better params
  rllib/examples/multi_agent/multi_agent_footsies.py
Due: docstyle, check-import-order

Remove math when np.isnan is used
  rllib/utils/metrics/stats.py
Due: docstyle, check-import-order

[Feature] Add the warning about deprecating the ray.util.accelerators.XXX.
  python/ray/tests/accelerators/test_accelerators.py
  python/ray/util/accelerators/__init__.py
Due: docstyle, check-import-order

[Docs] Add deprecation notice for accelerator type constants and update examples to get all accelerator types.
  doc/source/ray-core/scheduling/accelerators.rst
  python/ray/util/accelerators/types.py
Due: docstyle, check-import-order

[Feature] Add ray.util.accelerators.TYPES to print all accelerator types or accelerators of a specific type.
  python/ray/tests/accelerators/test_accelerators.py
  python/ray/util/accelerators/types.py
Due: docstyle, check-import-order

format
  python/ray/tests/accelerators/test_accelerators.py
  python/ray/util/accelerators/__init__.py
  python/ray/util/accelerators/types.py
Due: docstyle, check-import-order

fix error
  src/ray/gcs/gcs_server/gcs_actor_scheduler.cc
  src/ray/gcs/gcs_server/gcs_node_manager.cc
  src/ray/gcs/gcs_server/gcs_placement_group_scheduler.cc
  src/ray/gcs/gcs_server/gcs_table_storage.cc
Due: check-cpp-files-inclusion

add initial stub for ray top and object command and local setup steps
  python/ray/scripts/scripts.py
  python/ray/util/state/state_cli.py
  rayscope.md
Due: docstyle, check-import-order

[Chore] fix format
  src/ray/gcs/gcs_server/gcs_actor_scheduler.cc
  src/ray/gcs/gcs_server/gcs_node_manager.cc
  src/ray/gcs/gcs_server/gcs_placement_group_scheduler.cc
Due: check-cpp-files-inclusion

format
  python/ray/scripts/scripts.py
  python/ray/util/state/state_cli.py
Due: docstyle, check-import-order

Fix test case
  python/ray/tests/accelerators/test_accelerators.py
  python/ray/util/accelerators/__init__.py
Due: docstyle, check-import-order

Update doc/source/ray-core/scheduling/accelerators.rst
  doc/source/ray-core/scheduling/accelerators.rst
Due: none

[Refactor] Simplify accelerator type categorization and printing logic.
  python/ray/util/accelerators/types.py
Due: docstyle, check-import-order

update instructions
  rayscope.md
Due: none

[Chore] fix error
  src/ray/common/ray_internal_flag_def.h
  src/ray/common/ray_object.cc
Due: check-cpp-files-inclusion

[Chore] fix format
  src/ray/common/ray_internal_flag_def.h
  src/ray/common/ray_object.cc
Due: check-cpp-files-inclusion

[Fix] Correct typo in `@PublicAPI` decorator and add missing stability annotation for `AcceleratorTypes`.
  python/ray/util/accelerators/tpu.py
  python/ray/util/accelerators/types.py
Due: docstyle, check-import-order

use signal actor instead of time sleep
  python/ray/serve/tests/test_task_processor.py
Due: docstyle, check-import-order

add top refresh, node counts, task/actor state and per-node resource table
  python/ray/scripts/scripts.py
Due: docstyle, check-import-order

rename shadow local vr
  src/ray/core_worker/core_worker_process.cc
Due: check-cpp-files-inclusion

save
  python/ray/tests/test_actor.py
Due: docstyle, check-import-order

[Fix] change actor_manager.cc back
  src/ray/core_worker/actor_manager.cc
Due: check-cpp-files-inclusion

[Fix] change gcs_client_test back and fix mgr_test
  src/ray/gcs/gcs_client/tests/gcs_client_test.cc
  src/ray/gcs/gcs_server/tests/gcs_placement_group_mgr_test.cc
Due: check-cpp-files-inclusion

Simon's comments on typos
  rllib/algorithms/algorithm_config.py
  rllib/env/tests/test_single_agent_env_runner.py
Due: docstyle, check-import-order

split
  src/mock/ray/gcs/gcs_server/node_manager.h
  src/ray/gcs/gcs_server/BUILD.bazel
  src/ray/gcs/gcs_server/gcs_actor_scheduler.h
  src/ray/gcs/gcs_server/gcs_autoscaler_state_manager.cc
  src/ray/gcs/gcs_server/gcs_placement_group_mgr.h
  src/ray/gcs/gcs_server/gcs_placement_group_scheduler.h
  src/ray/gcs/gcs_server/gcs_resource_manager.h
  src/ray/gcs/gcs_server/node_manager.cc
  src/ray/gcs/gcs_server/node_manager.h
  src/ray/gcs/gcs_server/tests/BUILD.bazel
  src/ray/gcs/gcs_server/tests/export_api/gcs_actor_manager_export_event_test.cc
  src/ray/gcs/gcs_server/tests/export_api/node_manager_export_event_test.cc
  src/ray/gcs/gcs_server/tests/gcs_actor_manager_test.cc
  src/ray/gcs/gcs_server/tests/gcs_actor_scheduler_mock_test.cc
  src/ray/gcs/gcs_server/tests/gcs_autoscaler_state_manager_test.cc
  src/ray/gcs/gcs_server/tests/gcs_placement_group_mgr_mock_test.cc
  src/ray/gcs/gcs_server/tests/gcs_placement_group_mgr_test.cc
  src/ray/gcs/gcs_server/tests/gcs_resource_manager_test.cc
  src/ray/gcs/gcs_server/tests/gcs_server_test_util.h
  src/ray/gcs/gcs_server/tests/node_manager_test.cc
Due: check-cpp-files-inclusion

split
  src/ray/gcs/gcs_server/BUILD.bazel
  src/ray/gcs/gcs_server/tests/BUILD.bazel
Due: none

add small division by zero fix
  python/ray/data/_internal/arrow_block.py
  python/ray/data/tests/test_arrow_block.py
Due: docstyle, check-import-order

Update performance metrics for 2.49.0
  release/perf_metrics/benchmarks/many_actors.json
  release/perf_metrics/benchmarks/many_nodes.json
  release/perf_metrics/benchmarks/many_pgs.json
  release/perf_metrics/benchmarks/many_tasks.json
  release/perf_metrics/metadata.json
  release/perf_metrics/microbenchmark.json
  release/perf_metrics/scalability/object_store.json
  release/perf_metrics/scalability/single_node.json
  release/perf_metrics/stress_tests/stress_test_dead_actors.json
  release/perf_metrics/stress_tests/stress_test_many_tasks.json
  release/perf_metrics/stress_tests/stress_test_placement_group.json
Due: none

comments
  doc/source/ray-core/internals/task-lifecycle.rst
Due: none

[Fix] change node_manager back
  src/ray/raylet/node_manager.cc
Due: check-cpp-files-inclusion

put blankline back
  src/ray/raylet/node_manager.cc
Due: check-cpp-files-inclusion

fix
  src/ray/gcs/gcs_server/gcs_placement_group_mgr.h
Due: check-cpp-files-inclusion

fix
  src/ray/gcs/gcs_server/tests/BUILD.bazel
Due: none

Update rayscope.md
  rayscope.md
Due: none

[RLlib] Add StepFailedRecreateEnv exception (#55146)
  doc/source/rllib/package_ref/env/env_runner.rst
  rllib/algorithms/algorithm_config.py
  rllib/env/env_errors.py
  rllib/env/env_runner.py
  rllib/env/tests/test_single_agent_env_runner.py
Due: docstyle, check-import-order

fix
  src/ray/gcs/store_client/redis_store_client.h
Due: check-cpp-files-inclusion

fix
  python/ray/includes/global_state_accessor.pxd
  src/ray/gcs/gcs_server/gcs_server.cc
  src/ray/gcs/gcs_server/gcs_server.h
  src/ray/gcs/store_client/redis_store_client.cc
  src/ray/gcs/store_client/redis_store_client.h
Due: check-cpp-files-inclusion

fix
  src/ray/gcs/gcs_server/gcs_server.cc
Due: check-cpp-files-inclusion
