Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

Remove extra line
  release/nightly_tests/dataset/tpch_q1.py
Due: docstyle, check-import-order

[data] Update depsets for multimodal inference release tests (#57233)
  ci/raydepsets/configs/rayimg.depsets.yaml
  ci/raydepsets/configs/release_multimodal_inference_benchmarks_tests.depsets.yaml
  release/nightly_tests/multimodal_inference_benchmarks/audio_transcription/requirements.in
  release/nightly_tests/multimodal_inference_benchmarks/document_embedding/requirements.in
  release/nightly_tests/multimodal_inference_benchmarks/image_classification/requirements.in
  release/nightly_tests/multimodal_inference_benchmarks/large_image_embedding/requirements.in
  release/nightly_tests/multimodal_inference_benchmarks/video_object_detection/requirements.in
  release/ray_release/byod/audio_transcription_py3.10.lock
  release/ray_release/byod/byod_install_daft_document_embedding.sh
  release/ray_release/byod/byod_install_daft_image_classification.sh
  release/ray_release/byod/byod_install_daft_image_embedding.sh
  release/ray_release/byod/byod_install_daft_video_object_detection.sh
  release/ray_release/byod/byod_install_multimodal_inference_benchmarks_transcription.sh
  release/ray_release/byod/document_embedding_py3.10.lock
  release/ray_release/byod/document_embedding_py3.9.lock
  release/ray_release/byod/image_classification_py3.10.lock
  release/ray_release/byod/image_classification_py3.9.lock
  release/ray_release/byod/large_image_embedding_py3.10.lock
  release/ray_release/byod/large_image_embedding_py3.9.lock
  release/ray_release/byod/ray_base_extra_testdeps_gpu_py3.10.lock
  release/ray_release/byod/ray_base_extra_testdeps_gpu_py3.9.lock
  release/ray_release/byod/requirements_byod_gpu_3.10.in
  release/ray_release/byod/requirements_byod_gpu_3.9.in
  release/ray_release/byod/video_object_detection_py3.10.lock
  release/ray_release/byod/video_object_detection_py3.9.lock
  release/release_multimodal_inference_benchmarks_tests.yaml
Due: none

Fix ReplicaContext serialization error in DPRankAssigner
  python/ray/llm/_internal/serve/serving_patterns/data_parallel/dp_rank_assigner.py
  python/ray/llm/_internal/serve/serving_patterns/data_parallel/dp_server.py
Due: docstyle, check-import-order

remove etl template
  doc/source/data/examples/etl-optimization/ci/aws.yaml
  doc/source/data/examples/etl-optimization/ci/build.sh
  doc/source/data/examples/etl-optimization/ci/gce.yaml
  doc/source/data/examples/etl-optimization/ci/nb2py.py
  doc/source/data/examples/etl-optimization/ci/tests.sh
  doc/source/data/examples/etl-optimization/configs/aws.yaml
  doc/source/data/examples/etl-optimization/configs/gce.yaml
  doc/source/data/examples/etl-optimization/content/README.md
  doc/source/data/examples/etl-optimization/content/etl-optimization.ipynb
  doc/source/data/examples/etl-optimization/requirements.txt
  release/release_tests.yaml
Due: none

adding debug logs (TODO: remove)
  release/ray_release/buildkite/filter.py
  release/ray_release/buildkite/settings.py
Due: docstyle, check-import-order

sync README.md
  doc/source/data/examples/unstructured-data-ingestion/content/README.md
Due: none

use weak_ptr` for gcs actor manager and remove is_shutdown_ flag
  src/ray/gcs/gcs_actor_manager.cc
  src/ray/gcs/gcs_actor_manager.h
  src/ray/gcs/gcs_server.cc
  src/ray/gcs/gcs_server.h
Due: check-cpp-files-inclusion

Remove example
  python/ray/data/expressions.py
Due: docstyle, check-import-order

dp_size_per_node is needed
  release/llm_tests/serve/test_llm_serve_multi_node_integration.py
Due: docstyle, check-import-order

lint
  python/ray/llm/_internal/serve/serving_patterns/data_parallel/dp_server.py
Due: docstyle, check-import-order

Import ordering
  release/llm_tests/serve/test_llm_serve_multi_node_integration.py
Due: docstyle, check-import-order

Revert "adding debug logs (TODO: remove)"
  release/ray_release/buildkite/filter.py
  release/ray_release/buildkite/settings.py
Due: docstyle, check-import-order

finish removing etl template
  doc/source/data/examples.yml
  release/ray_release/byod/byod_etl_optimization.sh
Due: none

using default python
  release/release_multimodal_inference_benchmarks_tests.yaml
Due: none

[doc] change link check to run on python 3.12
  .buildkite/doc.rayci.yml
Due: none

lint
  python/ray/llm/_internal/serve/serving_patterns/data_parallel/dp_rank_assigner.py
Due: docstyle, check-import-order

[doc] ci: move doc annotation check to python 3.12
  .buildkite/doc.rayci.yml
Due: none

removing constraint
  ci/raydepsets/configs/rayimg.depsets.yaml
Due: none

Fix serve build YAML serialization for AggregationFunction enum
  python/ray/serve/scripts.py
Due: docstyle, check-import-order

remove superfluous/LLM verbosity
  doc/source/data/examples/unstructured-data-ingestion/content/README.md
  doc/source/data/examples/unstructured-data-ingestion/content/unstructured-data-ingestion.ipynb
Due: none

fix test failure
  src/ray/core_worker/tests/core_worker_test.cc
Due: check-cpp-files-inclusion

fix:[58485] Make AggregationFunction yaml dumper friendly
  python/ray/serve/config.py
Due: docstyle, check-import-order

revert image generation
  .buildkite/_images.rayci.yml
Due: none

setting requirements files for all images that use base extra docker
  .buildkite/_images.rayci.yml
  ci/raydepsets/configs/rayimg.depsets.yaml
Due: none

Update tests & deprecate images completely
  python/ray/llm/_internal/batch/processor/multimodal_proc.py
  python/ray/llm/_internal/batch/processor/vllm_engine_proc.py
  python/ray/llm/_internal/batch/stages/prepare_multimodal_stage.py
  python/ray/llm/_internal/batch/stages/vllm_engine_stage.py
  python/ray/llm/tests/batch/cpu/processor/test_multimodal_proc.py
  python/ray/llm/tests/batch/cpu/stages/test_prepare_multimodal_stage.py
  python/ray/llm/tests/batch/gpu/processor/test_vllm_engine_proc.py
  python/ray/llm/tests/conftest.py
  release/llm_tests/batch/test_batch_vllm.py
Due: docstyle, check-import-order

[data] Clear queue for manually mark_execution_finished operators (#58441)
  python/ray/data/_internal/execution/operators/base_physical_operator.py
  python/ray/data/_internal/execution/operators/map_operator.py
  python/ray/data/_internal/execution/operators/output_splitter.py
  python/ray/data/_internal/execution/operators/union_operator.py
  python/ray/data/_internal/execution/operators/zip_operator.py
  python/ray/data/tests/test_resource_manager.py
Due: docstyle, check-import-order

[Serve] Keep replica context object serializable
  python/ray/serve/context.py
  python/ray/serve/tests/unit/test_replica_context_serialization.py
Due: docstyle, check-import-order

[Data] - [1/n] Add Temporal, list, tensor, struct datatype support to RD Datatype
  python/ray/data/datatype.py
  python/ray/data/tests/unit/test_datatype.py
Due: docstyle, check-import-order

Falsy error
  python/ray/data/expressions.py
Due: docstyle, check-import-order

Cache temp_dir in runtime context
  python/ray/_common/utils.py
  python/ray/_private/worker.py
  python/ray/_raylet.pyx
  python/ray/includes/libcoreworker.pxd
  python/ray/runtime_context.py
  python/ray/tests/test_tempdir.py
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker.h
  src/ray/core_worker/core_worker_process.cc
  src/ray/flatbuffers/node_manager.fbs
  src/ray/raylet/node_manager.cc
  src/ray/raylet/node_manager.h
  src/ray/raylet_ipc_client/raylet_ipc_client.cc
  src/ray/raylet_ipc_client/raylet_ipc_client.h
  src/ray/raylet_ipc_client/raylet_ipc_client_interface.h
Due: docstyle, check-import-order, check-cpp-files-inclusion

update section ref
  doc/source/data/examples/unstructured-data-ingestion/content/README.md
  doc/source/data/examples/unstructured-data-ingestion/content/unstructured-data-ingestion.ipynb
Due: none

[core] Adding option for in flight rpc failure injection
  python/ray/dashboard/modules/job/tests/test_job_manager.py
  python/ray/tests/test_actor_lineage_reconstruction.py
  python/ray/tests/test_core_worker_fault_tolerance.py
  python/ray/tests/test_gcs_fault_tolerance.py
  python/ray/tests/test_gcs_utils.py
  python/ray/tests/test_object_manager_fault_tolerance.py
  python/ray/tests/test_raylet_fault_tolerance.py
  python/ray/tests/test_streaming_generator_4.py
  src/ray/common/ray_config_def.h
  src/ray/rpc/grpc_client.h
  src/ray/rpc/rpc_chaos.cc
  src/ray/rpc/rpc_chaos.h
  src/ray/rpc/tests/rpc_chaos_test.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

add cpt notebook and fix existing ones
  doc/source/ray-overview/examples/llamafactory-llm-fine-tune/README.ipynb
  doc/source/ray-overview/examples/llamafactory-llm-fine-tune/README.md
  doc/source/ray-overview/examples/llamafactory-llm-fine-tune/dataset-configs/dataset_info.json
  doc/source/ray-overview/examples/llamafactory-llm-fine-tune/notebooks/cpt_deepspeed.ipynb
  doc/source/ray-overview/examples/llamafactory-llm-fine-tune/notebooks/dpo_qlora.ipynb
  doc/source/ray-overview/examples/llamafactory-llm-fine-tune/notebooks/kto_lora.ipynb
  doc/source/ray-overview/examples/llamafactory-llm-fine-tune/notebooks/sft_lora_deepspeed.ipynb
  doc/source/ray-overview/examples/llamafactory-llm-fine-tune/train-configs/cpt_deepspeed.yaml
Due: none

updated sft notebook
  doc/source/ray-overview/examples/llamafactory-llm-fine-tune/notebooks/sft_lora_deepspeed.ipynb
Due: none

[doc] ci: move doc annotation check to python 3.12 (#58507)
  .buildkite/doc.rayci.yml
Due: none

uv pip installing no deps no constraints
  docker/base-deps/Dockerfile
Due: none

[doc] change link check to run on python 3.12 (#58506)
  .buildkite/doc.rayci.yml
Due: none

[java] remove local genrule `//java:ray_java_pkg` (#58503)
  ci/build/build-manylinux-ray.sh
  ci/docker/ray-java.Dockerfile
  java/BUILD.bazel
Due: none

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)
