Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)

fix namespace comment
  src/ray/core_worker/core_worker_process.cc
Due: check-cpp-files-inclusion

Multimodal ai (#54029)
  .vale/styles/config/vocabularies/General/accept.txt
  doc/source/ray-overview/examples/e2e-multimodal-ai-workloads/README.ipynb
  doc/source/ray-overview/examples/e2e-multimodal-ai-workloads/README.md
  doc/source/ray-overview/examples/e2e-multimodal-ai-workloads/ci/nb2py.py
  doc/source/ray-overview/examples/e2e-multimodal-ai-workloads/containerfile
  doc/source/ray-overview/examples/e2e-multimodal-ai-workloads/doggos/data.py
  doc/source/ray-overview/examples/e2e-multimodal-ai-workloads/doggos/embed.py
  doc/source/ray-overview/examples/e2e-multimodal-ai-workloads/doggos/infer.py
  doc/source/ray-overview/examples/e2e-multimodal-ai-workloads/doggos/serve.py
  doc/source/ray-overview/examples/e2e-multimodal-ai-workloads/doggos/train.py
  doc/source/ray-overview/examples/e2e-multimodal-ai-workloads/images/batch_inference.png
  doc/source/ray-overview/examples/e2e-multimodal-ai-workloads/images/overview.png
  doc/source/ray-overview/examples/e2e-multimodal-ai-workloads/images/rayturbo_data_dashboard.png
  doc/source/ray-overview/examples/e2e-multimodal-ai-workloads/notebooks/01-Batch-Inference.ipynb
  doc/source/ray-overview/examples/e2e-multimodal-ai-workloads/notebooks/02-Distributed-Training.ipynb
  doc/source/ray-overview/examples/e2e-multimodal-ai-workloads/notebooks/03-Online-Serving.ipynb
  doc/source/ray-overview/examples/e2e-multimodal-ai-workloads/requirements.txt
Due: none

[Core] Update V2 Autoscaler to support scheduling using Node labels and LabelSelector API (#53578)
  ci/lint/pydoclint-baseline.txt
  python/ray/autoscaler/v2/event_logger.py
  python/ray/autoscaler/v2/scheduler.py
  python/ray/autoscaler/v2/schema.py
  python/ray/autoscaler/v2/tests/test_e2e.py
  python/ray/autoscaler/v2/tests/test_scheduler.py
  python/ray/autoscaler/v2/tests/test_sdk.py
  python/ray/autoscaler/v2/utils.py
  src/ray/common/scheduling/label_selector.cc
  src/ray/common/scheduling/label_selector.h
  src/ray/common/task/task_spec.cc
  src/ray/common/task/task_spec.h
  src/ray/common/test/task_spec_test.cc
  src/ray/gcs/gcs_server/gcs_autoscaler_state_manager.cc
  src/ray/gcs/gcs_server/gcs_autoscaler_state_manager.h
  src/ray/gcs/gcs_server/gcs_resource_manager.cc
  src/ray/gcs/gcs_server/state_util.cc
  src/ray/gcs/gcs_server/state_util.h
  src/ray/gcs/gcs_server/test/gcs_autoscaler_state_manager_test.cc
  src/ray/gcs/test/gcs_test_util.h
  src/ray/protobuf/BUILD
  src/ray/protobuf/autoscaler.proto
  src/ray/protobuf/common.proto
  src/ray/protobuf/gcs.proto
  src/ray/raylet/scheduling/scheduler_resource_reporter.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

remove duplicate definition of ProfileEventEntry and ProfileEvents
  src/ray/protobuf/BUILD
  src/ray/protobuf/export_task_event.proto
Due: none

add tests for same loop router
  .buildkite/serve.rayci.yml
  python/ray/serve/_private/client.py
  python/ray/serve/handle.py
  python/ray/serve/tests/BUILD
  python/ray/serve/tests/conftest.py
  python/ray/serve/tests/test_handle_same_loop.py
Due: docstyle, check-import-order

fix log
  python/ray/serve/_private/default_impl.py
Due: docstyle, check-import-order

Minor refactor
  src/ray/core_worker/core_worker_process.cc
  src/ray/gcs/gcs_server/gcs_autoscaler_state_manager.cc
  src/ray/gcs/gcs_server/gcs_node_manager.cc
  src/ray/gcs/gcs_server/gcs_server.cc
  src/ray/raylet/main.cc
  src/ray/raylet/node_manager.cc
  src/ray/raylet_client/raylet_client.cc
  src/ray/raylet_client/raylet_client.h
  src/ray/rpc/node_manager/node_manager_client.h
  src/ray/rpc/node_manager/raylet_client_pool.cc
  src/ray/rpc/node_manager/raylet_client_pool.h
  src/ray/rpc/worker/core_worker_client_pool.cc
Due: check-cpp-files-inclusion

[doc] disable `automl_for_time_series`
  doc/BUILD.bazel
Due: none

Remove unnecessary include
  src/ray/core_worker/core_worker_process.cc
Due: check-cpp-files-inclusion

add documentation for public APIs
  python/ray/serve/schema.py
Due: docstyle, check-import-order

[ci] rename src & thirdparty BUILD files to BUILD.bazel (#55033)
  src/ray/common/BUILD.bazel
  src/ray/common/cgroup/BUILD.bazel
  src/ray/common/cgroup/test/BUILD.bazel
  src/ray/common/test/BUILD.bazel
  src/ray/protobuf/BUILD.bazel
  src/ray/stats/tests/BUILD.bazel
  src/ray/telemetry/tests/BUILD.bazel
  src/ray/util/BUILD.bazel
  src/ray/util/internal/BUILD.bazel
  src/ray/util/internal/tests/BUILD.bazel
  src/ray/util/tests/BUILD.bazel
  thirdparty/patches/BUILD
  thirdparty/patches/BUILD.bazel
Due: none

fix comment & merge conflict
  BUILD.bazel
  python/ray/dashboard/modules/aggregator/tests/test_aggregator_agent.py
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker_process.cc
  src/ray/core_worker/task_event_buffer.cc
  src/ray/core_worker/task_event_buffer.h
  src/ray/core_worker/test/task_event_buffer_test.cc
  src/ray/protobuf/events_event_aggregator_service.proto
Due: docstyle, check-import-order, check-cpp-files-inclusion

[core] Ensure Actor __del__ method invoked on Actor destruction
  python/ray/_raylet.pyx
  python/ray/includes/libcoreworker.pxd
  python/ray/tests/test_actor_failures.py
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker.h
Due: docstyle, check-import-order, check-cpp-files-inclusion

Add __ray_cleanup__ method for deterministic actor resource cleanup
  python/ray/_raylet.pyx
  python/ray/tests/test_actor_failures.py
Due: docstyle, check-import-order

fix lint issues
  python/ray/tests/test_actor_failures.py
  src/ray/core_worker/core_worker.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

consolidate tests
  python/ray/tests/test_actor_failures.py
Due: docstyle, check-import-order

clear actor_cleanup_callback_
  src/ray/core_worker/core_worker.cc
Due: check-cpp-files-inclusion

rename method
  python/ray/_raylet.pyx
  python/ray/tests/test_actor_failures.py
Due: docstyle, check-import-order

fix trailing space
  python/ray/_raylet.pyx
Due: none

rename shutdown method
  python/ray/_raylet.pyx
  python/ray/includes/libcoreworker.pxd
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker.h
Due: check-cpp-files-inclusion

fix tests
  python/ray/tests/test_actor_failures.py
Due: docstyle, check-import-order

add test fixtures and fix more tests
  python/ray/_raylet.pyx
  python/ray/tests/test_actor_failures.py
Due: docstyle, check-import-order

unify exception handling in _call_actor_shutdown
  python/ray/_raylet.pyx
Due: none

consolidate tests, remove sleep, more fixes
  python/ray/_raylet.pyx
  python/ray/includes/libcoreworker.pxd
  python/ray/tests/test_actor_failures.py
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker.h
  src/ray/core_worker/core_worker_options.h
Due: docstyle, check-import-order, check-cpp-files-inclusion

[Core] Native CPU affinity support for accelerators
  cpp/src/ray/config_internal.cc
  cpp/src/ray/config_internal.h
  cpp/src/ray/runtime/task/task_executor.cc
  cpp/src/ray/runtime/task/task_executor.h
  cpp/src/ray/util/process_helper.cc
  python/ray/_private/node.py
  python/ray/_private/parameter.py
  python/ray/_private/services.py
  python/ray/_private/utils.py
  python/ray/_private/worker.py
  python/ray/_private/workers/default_worker.py
  python/ray/_raylet.pyx
  python/ray/cluster_utils.py
  python/ray/includes/libcoreworker.pxd
  python/ray/scripts/scripts.py
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker_options.h
  src/ray/core_worker/lib/java/io_ray_runtime_RayNativeRuntime.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

wip
  rllib/algorithms/dqn/default_dqn_rl_module.py
  rllib/algorithms/sac/default_sac_rl_module.py
  rllib/core/distribution/__init__.py
  rllib/core/distribution/distribution.py
  rllib/core/distribution/torch/__init__.py
  rllib/core/distribution/torch/torch_distribution.py
  rllib/core/learner/learner.py
  rllib/core/learner/learner_group.py
  rllib/core/learner/tf/tf_learner.py
  rllib/core/models/specs/specs_base.py
  rllib/core/models/specs/specs_dict.py
  rllib/core/models/specs/typing.py
  rllib/core/models/tests/test_base_models.py
  rllib/core/models/tests/test_catalog.py
  rllib/core/models/tf/base.py
  rllib/core/models/tf/encoder.py
  rllib/core/models/tf/heads.py
  rllib/core/models/tf/primitives.py
  rllib/core/rl_module/multi_rl_module.py
  rllib/core/rl_module/rl_module.py
  rllib/core/rl_module/tf/__init__.py
  rllib/core/rl_module/tf/tests/__init__.py
  rllib/core/rl_module/tf/tests/test_tf_rl_module.py
  rllib/core/rl_module/tf/tf_rl_module.py
  rllib/core/testing/bc_algorithm.py
  rllib/core/testing/testing_learner.py
  rllib/core/testing/tf/__init__.py
  rllib/core/testing/tf/bc_learner.py
  rllib/core/testing/tf/bc_module.py
  rllib/core/testing/torch/bc_module.py
  rllib/models/distributions.py
  rllib/models/tf/tf_distributions.py
  rllib/models/torch/torch_distributions.py
Due: docstyle, check-import-order

ensure that code generated for profileEvents is stored in io.ray.runtime.generated package as this package is excluded from spotless checks
  src/ray/protobuf/events_profile_events.proto
Due: none

wip
  rllib/algorithms/dqn/default_dqn_rl_module.py
  rllib/algorithms/sac/default_sac_rl_module.py
  rllib/core/models/torch/base.py
  rllib/core/rl_module/multi_rl_module.py
  rllib/core/rl_module/rl_module.py
  rllib/core/testing/torch/bc_module.py
  rllib/examples/rl_modules/classes/random_rlm.py
  rllib/examples/rl_modules/classes/rock_paper_scissors_heuristic_rlm.py
Due: docstyle, check-import-order

wip
  rllib/core/models/base.py
  rllib/core/models/torch/base.py
  rllib/core/models/torch/encoder.py
Due: docstyle, check-import-order

fixes
  rllib/algorithms/dreamerv3/dreamerv3.py
  rllib/algorithms/dreamerv3/dreamerv3_rl_module.py
  rllib/algorithms/dreamerv3/tests/test_dreamerv3.py
  rllib/algorithms/dreamerv3/torch/dreamerv3_torch_learner.py
  rllib/algorithms/dreamerv3/torch/models/dreamer_model.py
  rllib/algorithms/dreamerv3/utils/add_is_firsts_to_batch.py
  rllib/core/models/tests/test_cnn_transpose_heads.py
Due: docstyle, check-import-order

Address review comments
  python/requirements_compiled.txt
  release/nightly_tests/dataset/autoscaling_hetero_compute.yaml
  release/nightly_tests/dataset/batch_inference_hetero/autoscaling_cluster_compute.yaml
  release/nightly_tests/dataset/batch_inference_hetero/fixed_size_cluster_compute.yaml
  release/nightly_tests/dataset/batch_inference_hetero/main.py
  release/release_data_tests.yaml
Due: docstyle, check-import-order

Address review comments
  release/nightly_tests/dataset/batch_inference_hetero/main.py
Due: docstyle, check-import-order

fixes
  doc/source/rllib/rllib-algorithms.rst
  release/release_tests.yaml
  rllib/algorithms/dreamerv3/README.md
  rllib/algorithms/dreamerv3/dreamerv3_rl_module.py
  rllib/algorithms/dreamerv3/utils/add_is_firsts_to_batch.py
  rllib/algorithms/dreamerv3/utils/env_runner.py
  rllib/tuned_examples/dreamerv3/atari_100k_dreamerv3.py
  rllib/tuned_examples/dreamerv3/atari_200M_dreamerv3.py
  rllib/tuned_examples/dreamerv3/cartpole_dreamerv3.py
  rllib/tuned_examples/dreamerv3/dm_control_suite_vision_dreamerv3.py
  rllib/tuned_examples/dreamerv3/flappy_bird_dreamerv3.py
  rllib/tuned_examples/dreamerv3/frozenlake_2x2_dreamerv3.py
  rllib/tuned_examples/dreamerv3/frozenlake_4x4_deterministic_dreamerv3.py
  rllib/tuned_examples/dreamerv3/gymnasium_robotics_dreamerv3.py
  rllib/tuned_examples/dreamerv3/highway_env_dreamerv3.py
  rllib/tuned_examples/dreamerv3/pendulum_dreamerv3.py
Due: docstyle, check-import-order

fixes
  doc/source/rllib/rllib-algorithms.rst
  rllib/algorithms/dreamerv3/README.md
Due: none

fixes
  rllib/algorithms/dreamerv3/dreamerv3_catalog.py
  rllib/algorithms/dreamerv3/dreamerv3_rl_module.py
  rllib/algorithms/dreamerv3/tests/test_dreamerv3.py
  rllib/algorithms/dreamerv3/torch/dreamerv3_torch_learner.py
  rllib/algorithms/dreamerv3/torch/models/components/sequence_model.py
  rllib/algorithms/dreamerv3/utils/debugging.py
  rllib/algorithms/dreamerv3/utils/summaries.py
Due: docstyle, check-import-order

fixes
  rllib/BUILD
  rllib/algorithms/appo/default_appo_rl_module.py
  rllib/core/models/configs.py
Due: docstyle, check-import-order

Finish LLMconfig and LLMEngine from server_model.py. Add sglang_models.py
  python/ray/llm/_internal/serve/configs/server_models.py
  python/ray/llm/_internal/serve/deployments/llm/sglang/sglang_models.py
Due: docstyle, check-import-order

fix
  doc/source/rllib/rllib-algorithms.rst
  rllib/BUILD
Due: none

add empty deps
  src/ray/protobuf/BUILD.bazel
Due: none

review changes
  python/ray/serve/schema.py
  python/ray/serve/task_consumer.py
  python/ray/serve/task_processor.py
  python/ray/serve/tests/test_task_processor.py
  python/ray/serve/tests/unit/test_task_consumer.py
Due: docstyle, check-import-order
