Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

fix review comment
  src/mock/ray/rpc/event_aggregator_client.h
  src/ray/core_worker/test/task_event_buffer_test.cc
  src/ray/protobuf/events_event_aggregator_service.proto
  src/ray/rpc/event_aggregator_client.h
  src/ray/rpc/gcs_server/gcs_rpc_server.h
Due: check-cpp-files-inclusion

fix the task_event_buffer_export_event_test failure
  src/ray/core_worker/test/task_event_buffer_export_event_test.cc
Due: check-cpp-files-inclusion

fix comment & merge conflict
  src/ray/protobuf/events_event_aggregator_service.proto
Due: none

uncomment tests
  src/ray/core_worker/test/task_event_buffer_test.cc
Due: check-cpp-files-inclusion

fix test failure
  python/ray/dashboard/modules/aggregator/tests/test_aggregator_agent.py
Due: docstyle, check-import-order

improve task event buffer to aggregator error handling
  python/ray/dashboard/modules/aggregator/aggregator_agent.py
  python/ray/tests/test_metrics_agent.py
  src/ray/core_worker/task_event_buffer.cc
  src/ray/core_worker/task_event_buffer.h
  src/ray/core_worker/test/task_event_buffer_test.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

Address review comments
  ci/lint/pydoclint-baseline.txt
  python/ray/_common/ray_option_utils.py
  python/ray/_private/worker.py
  python/ray/actor.py
  python/ray/data/_internal/execution/operators/actor_pool_map_operator.py
Due: docstyle, check-import-order

Address review comments
  python/ray/actor.py
Due: docstyle, check-import-order

Fix test
  python/ray/tests/test_actor_out_of_order.py
Due: docstyle, check-import-order

[Data] Issue Detection Framework
  python/ray/data/_internal/execution/callbacks/__init__.py
  python/ray/data/_internal/execution/callbacks/insert_issue_detectors.py
  python/ray/data/_internal/execution/execution_callback.py
  python/ray/data/_internal/issue_detection/__init__.py
  python/ray/data/_internal/issue_detection/detectors/hanging_detector.py
  python/ray/data/_internal/issue_detection/detectors/high_memory_detector.py
  python/ray/data/_internal/issue_detection/issue_detector.py
  python/ray/data/_internal/issue_detection/issue_detector_configuration.py
  python/ray/data/_internal/issue_detection/issue_detector_manager.py
  python/ray/data/tests/test_issue_detection_manager.py
Due: docstyle, check-import-order

update test_deploy_multi_app_builder_with_args
  python/ray/serve/tests/test_cli.py
Due: docstyle, check-import-order

update test_metrics
  python/ray/serve/tests/test_metrics.py
Due: docstyle, check-import-order

Propogate InvalidArgumentStatus from LabelSelector
  src/ray/common/scheduling/label_selector.cc
  src/ray/common/scheduling/label_selector.h
  src/ray/common/task/task_spec.cc
  src/ray/common/task/task_spec.h
  src/ray/common/test/label_selector_test.cc
Due: check-cpp-files-inclusion

Change logic to validate labelselector before task is built
  python/ray/_raylet.pyx
  src/ray/common/bundle_spec.cc
  src/ray/common/bundle_spec.h
  src/ray/common/scheduling/label_selector.cc
  src/ray/common/scheduling/label_selector.h
  src/ray/common/task/task_spec.cc
  src/ray/common/task/task_spec.h
  src/ray/common/test/label_selector_test.cc
  src/ray/common/test/task_spec_test.cc
Due: check-cpp-files-inclusion

Add tests, fix propagate errors, and add StrictParse function
  src/ray/common/bundle_spec.cc
  src/ray/common/bundle_spec.h
  src/ray/common/scheduling/label_selector.cc
  src/ray/common/scheduling/label_selector.h
  src/ray/common/task/task_spec.h
  src/ray/common/test/label_selector_test.cc
  src/ray/common/test/task_spec_test.cc
Due: check-cpp-files-inclusion

Undo changes from bad rebase
  src/ray/common/scheduling/label_selector.cc
  src/ray/common/task/task_spec.cc
  src/ray/common/task/task_spec.h
Due: check-cpp-files-inclusion

Undo test change
  src/ray/common/test/task_spec_test.cc
Due: check-cpp-files-inclusion

format
  src/ray/common/task/task_spec.h
Due: check-cpp-files-inclusion

Move the callback
  python/ray/data/_internal/execution/execution_callback.py
Due: docstyle, check-import-order

Fix pydoc
  ci/lint/pydoclint-baseline.txt
Due: none

Fix init file and metrics
  python/ray/data/_internal/execution/interfaces/op_runtime_metrics.py
  python/ray/data/_internal/issue_detection/detectors/__init__.py
Due: docstyle, check-import-order

client to specific server fix
  python/ray/util/client/server/proxier.py
Due: docstyle, check-import-order

IPv6 support: address <-> host:port conversion
  BUILD.bazel
  cpp/src/ray/config_internal.cc
  cpp/src/ray/util/util.cc
  python/ray/_private/network_utils.py
  python/ray/_private/runtime_env/agent/main.py
  python/ray/_private/services.py
  src/ray/common/network_util.cc
  src/ray/common/network_util.h
  src/ray/common/test/BUILD.bazel
  src/ray/common/test/network_util_test.cc
  src/ray/gcs/BUILD.bazel
  src/ray/gcs/gcs_client/BUILD.bazel
  src/ray/gcs/gcs_client/gcs_client.h
  src/ray/gcs/redis_context.cc
  src/ray/rpc/grpc_client.h
  src/ray/util/util.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

Fix test_resource_and_label_spec on macOS
  python/ray/tests/unit/test_resource_and_label_spec.py
Due: docstyle, check-import-order

remove async to avoid race condition
  debug_test.py
  python/ray/train/v2/_internal/execution/local_running_utils.py
  python/ray/train/v2/tests/test_local_running_utils.py
Due: docstyle, check-import-order

Add test to BUILD
  python/ray/data/BUILD
Due: none

address review comments
  release/release_data_tests.yaml
Due: none

Pass usage_context to vLLM engine config
  python/ray/llm/_internal/serve/deployments/llm/vllm/vllm_engine.py
Due: docstyle, check-import-order

revamp get all node info
  python/ray/includes/common.pxd
  python/ray/includes/gcs_client.pxi
  python/ray/util/state/state_manager.py
  src/ray/gcs/gcs_client/accessor.cc
  src/ray/gcs/gcs_client/accessor.h
  src/ray/gcs/gcs_client/global_state_accessor.cc
  src/ray/gcs/gcs_server/gcs_node_manager.cc
  src/ray/protobuf/gcs_service.proto
  src/ray/rpc/worker/core_worker_client_pool.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

update pydoclint
  ci/lint/pydoclint-baseline.txt
Due: none

convert back to async, but fix some lock issue
  python/ray/train/v2/_internal/execution/local_running_utils.py
  python/ray/train/v2/tests/test_local_running_utils.py
Due: docstyle, check-import-order

Removed custom block-sizing when using sort/shuffle/aggregate ops
  python/ray/data/_internal/planner/plan_all_to_all_op.py
Due: docstyle, check-import-order

Updated tests
  python/ray/data/_internal/execution/operators/task_pool_map_operator.py
  python/ray/data/tests/test_block_sizing.py
  python/ray/data/tests/test_execution_optimizer.py
Due: docstyle, check-import-order

Removed `target_shuffle_max_block_size`
  python/ray/data/context.py
Due: docstyle, check-import-order

`lint`
  python/ray/data/context.py
Due: docstyle, check-import-order

Fix bug
  release/release_data_tests.yaml
Due: none

pls work
  python/ray/data/tests/test_stats.py
Due: docstyle, check-import-order

[CI] Fix spot preemption simulation in release tests (#55153)
  python/ray/_private/test_utils.py
Due: docstyle, check-import-order

clean comments
  debug_test.py
  python/ray/train/v2/_internal/execution/local_running_utils.py
  python/ray/train/v2/tests/test_local_running_utils.py
Due: docstyle, check-import-order

remove file
  example_output.log
Due: none

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)
