Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

[core] rename sync _compose_stats_payload to _run_in_executor
  python/ray/dashboard/modules/reporter/reporter_agent.py
Due: docstyle, check-import-order

lockfile for python 3.9
  ci/raydepsets/configs/docs.depsets.yaml
  python/deplocks/docs/docbuild_depset_py3.9.lock
Due: none

installing ray without deps
  ci/lint/lint.sh
Due: none

fix
  rllib/utils/metrics/ray_metrics.py
Due: docstyle, check-import-order

using uv to install deps
  release/ray_release/byod/byod_e2e_rag.sh
Due: none

fix
  python/ray/tests/test_draining.py
Due: docstyle, check-import-order

[train] bump test_util timeout (#57939)
  python/ray/train/v2/BUILD.bazel
Due: none

[core] Don't log actor restart warning if arg is detached actor (#57931)
  src/ray/core_worker/actor_handle.cc
  src/ray/core_worker/actor_handle.h
  src/ray/core_worker/actor_manager.cc
  src/ray/core_worker/actor_manager.h
  src/ray/core_worker/core_worker.cc
  src/ray/protobuf/core_worker.proto
Due: check-cpp-files-inclusion

[data.dashboard] Add queued blocks to operator panels (#57739)
  python/ray/dashboard/modules/metrics/dashboards/data_dashboard_panels.py
Due: docstyle, check-import-order

improve histogram metrics midpoint calculation
  python/ray/_private/telemetry/open_telemetry_metric_recorder.py
  python/ray/tests/test_open_telemetry_metric_recorder.py
Due: docstyle, check-import-order

resolve comments
  python/ray/data/_internal/logical/operators/map_operator.py
  python/ray/data/dataset.py
  python/ray/data/grouped_data.py
  python/ray/data/tests/test_execution_optimizer_limit_pushdown.py
Due: docstyle, check-import-order

try 400 partitions
  release/release_data_tests.yaml
Due: none

Support Yuanrong-datasystem as tensor transport backend
  python/ray/_private/node.py
  python/ray/_private/parameter.py
  python/ray/_private/ray_constants.py
  python/ray/_private/services.py
  python/ray/autoscaler/_private/constants.py
  python/ray/scripts/scripts.py
Due: docstyle, check-import-order

[RLlib] Add Prometheus metrics to the selected RLlib components (#57932)
  rllib/algorithms/algorithm.py
  rllib/algorithms/appo/utils.py
  rllib/algorithms/impala/impala.py
  rllib/algorithms/impala/impala_learner.py
  rllib/algorithms/utils.py
  rllib/core/learner/learner.py
  rllib/core/learner/learner_group.py
  rllib/env/env_runner.py
  rllib/env/multi_agent_env_runner.py
  rllib/env/single_agent_env_runner.py
  rllib/utils/metrics/ray_metrics.py
Due: docstyle, check-import-order

Add DeepEP kernels to ray-llm image
  docker/ray-llm/Dockerfile
Due: none

Add DeepEP kernels, remove NVSHMEM patch
  docker/ray-llm/Dockerfile
Due: none

Use vLLM install_python_libraries.sh
  docker/ray-llm/Dockerfile
  python/requirements/llm/llm-requirements.txt
Due: none

[core] (ray-get 2/n) Making ray.get thread-safe (#57911)
  python/ray/tests/BUILD.bazel
  python/ray/tests/test_draining.py
  python/ray/tests/test_ray_get.py
  src/ray/core_worker/store_provider/plasma_store_provider.cc
  src/ray/core_worker/store_provider/plasma_store_provider.h
  src/ray/flatbuffers/node_manager.fbs
  src/ray/raylet/lease_dependency_manager.cc
  src/ray/raylet/lease_dependency_manager.h
  src/ray/raylet/node_manager.cc
  src/ray/raylet/node_manager.h
  src/ray/raylet/tests/lease_dependency_manager_test.cc
  src/ray/raylet/tests/node_manager_test.cc
  src/ray/raylet_ipc_client/fake_raylet_ipc_client.h
  src/ray/raylet_ipc_client/raylet_ipc_client.cc
  src/ray/raylet_ipc_client/raylet_ipc_client.h
  src/ray/raylet_ipc_client/raylet_ipc_client_interface.h
Due: docstyle, check-import-order, check-cpp-files-inclusion

Revert "Use vLLM install_python_libraries.sh"
  docker/ray-llm/Dockerfile
  python/requirements/llm/llm-requirements.txt
Due: none

Fix test_distinct.py issues from PR review
  python/ray/data/tests/test_distinct.py
Due: docstyle, check-import-order

resolve comments
  python/ray/data/tests/test_arrow_serialization.py
Due: docstyle, check-import-order

[tracing] Update OpenTelemetry dependencies and fixing doc to make tracing work (#57908)
  doc/source/ray-observability/user-guides/ray-tracing.rst
  python/ray/util/tracing/tracing_helper.py
Due: docstyle, check-import-order

Fix/ray serve test state api usage (#56948)
  python/ray/serve/tests/test_metrics.py
Due: docstyle, check-import-order

remove docstrings
  python/ray/_common/utils.py
Due: docstyle, check-import-order

testing
  python/ray/_common/utils.py
  python/ray/serve/_private/application_state.py
  python/ray/serve/_private/config.py
  python/ray/serve/_private/deploy_utils.py
  python/ray/serve/_private/router.py
  python/ray/serve/config.py
  python/ray/serve/tests/test_cli.py
  python/ray/serve/tests/test_config_files/use_custom_autoscaling.yaml
  python/ray/serve/tests/test_config_files/use_custom_autoscaling_policy.py
  python/ray/serve/tests/test_config_files/use_custom_request_router.py
  python/ray/serve/tests/test_config_files/use_custom_request_router.yaml
  python/ray/serve/tests/unit/test_application_state.py
  python/ray/serve/tests/unit/test_config.py
Due: docstyle, check-import-order

refactor token loader + fix build
  src/ray/gcs/gcs_server.cc
  src/ray/rpc/BUILD.bazel
  src/ray/rpc/auth_token_loader.cc
  src/ray/rpc/auth_token_loader.h
  src/ray/rpc/grpc_server.cc
  src/ray/rpc/grpc_server.h
  src/ray/rpc/tests/auth_token_loader_test.cc
  src/ray/rpc/tests/grpc_server_client_test.cc
Due: check-cpp-files-inclusion

test signed commit
  rllib/env/__init__.py
  rllib/env/wrappers/isaac_lab_wrapper.py
Due: docstyle, check-import-order

fix
  src/ray/core_worker/task_submission/normal_task_submitter.cc
Due: check-cpp-files-inclusion

fix lint
  src/ray/rpc/tests/grpc_server_client_test.cc
Due: check-cpp-files-inclusion

Fix Ray Data operator fusion tests and re-enable CI coverage (#57843)
  python/ray/data/tests/test_operator_fusion.py
  semgrep.yml
Due: docstyle, check-import-order

Appease lint
  python/ray/data/tests/test_actor_pool_map_operator.py
Due: docstyle, check-import-order

Make NotifyGCSRestart RPC Fault Tolerant
  python/ray/tests/test_raylet_fault_tolerance.py
  src/mock/ray/gcs_client/accessor.h
  src/ray/core_worker/actor_manager.cc
  src/ray/core_worker/tests/actor_manager_test.cc
  src/ray/gcs/gcs_node_manager.cc
  src/ray/gcs_rpc_client/accessor.cc
  src/ray/gcs_rpc_client/accessor.h
  src/ray/gcs_rpc_client/gcs_client.cc
  src/ray/gcs_rpc_client/tests/gcs_client_test.cc
  src/ray/pubsub/gcs_subscriber.cc
  src/ray/pubsub/gcs_subscriber.h
  src/ray/raylet/node_manager.cc
  src/ray/raylet/tests/node_manager_test.cc
  src/ray/raylet_rpc_client/raylet_client.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

implement
  python/ray/data/dataset.py
Due: docstyle, check-import-order

Revert log change
  src/ray/raylet/node_manager.cc
Due: check-cpp-files-inclusion

updgrading pydantic constraint
  doc/requirements-doc.txt
  python/deplocks/docs/docbuild_depset_py3.10.lock
  python/deplocks/docs/docbuild_depset_py3.12.lock
  python/deplocks/docs/docbuild_depset_py3.9.lock
Due: none

[Data] Remove unnecessary `ActorPoolMapOperator.completed()` override (#57918)
  python/ray/data/_internal/execution/operators/actor_pool_map_operator.py
  python/ray/data/tests/test_actor_pool_map_operator.py
Due: docstyle, check-import-order

add tests
  python/ray/tests/BUILD.bazel
  python/ray/tests/test_priority_scheduling.py
  src/ray/raylet/scheduling/tests/cluster_lease_manager_test.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

Update release_tests.yaml
  release/release_tests.yaml
Due: none

add slice placement groups
  python/ray/_private/accelerators/tpu.py
  python/ray/tests/accelerators/test_tpu.py
  python/ray/util/accelerators/tpu.py
Due: docstyle, check-import-order

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)
