Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

inital commit
  release/release_data_tests.yaml
Due: none

[data] Expose max_tasks_in_flight_per_actor in the Dataset API
  python/ray/data/_internal/util.py
  python/ray/data/dataset.py
  python/ray/data/grouped_data.py
  python/ray/data/tests/test_map.py
  python/ray/data/tests/test_util.py
Due: docstyle, check-import-order

upd
  src/ray/core_worker/task_manager.cc
Due: check-cpp-files-inclusion

fix
  src/mock/ray/gcs_client/accessor.h
  src/mock/ray/gcs_client/gcs_client.h
Due: none

revert windows
  .buildkite/windows.rayci.yml
Due: none

Fix case expression unit test failures and complete minimal implementation
  python/ray/data/tests/test_expression_evaluator.py
Due: docstyle, check-import-order

Auto-format notebook files per Ray's pre-push hook requirements
  python/ray/air/examples/lightgbm_example.ipynb
  python/ray/air/examples/sklearn_example.ipynb
  python/ray/air/examples/upload_to_comet_ml.ipynb
  python/ray/air/examples/upload_to_wandb.ipynb
  python/ray/air/examples/xgboost_example.ipynb
  release/air_examples/opt_deepspeed_batch_inference/opt_deepspeed_batch_inference.ipynb
Due: none

lint
  release/BUILD.bazel
Due: none

add app level autoscaling unit tests
  python/ray/serve/_private/application_state.py
  python/ray/serve/_private/autoscaling_state.py
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/tests/test_deploy_app.py
Due: docstyle, check-import-order

add tests for replica ranks (#56120)
  python/ray/serve/_private/controller.py
  python/ray/serve/tests/BUILD.bazel
  python/ray/serve/tests/test_replica_ranks.py
Due: docstyle, check-import-order

adding pipefail to e2e audio test
  doc/source/ray-overview/examples/e2e-audio/ci/tests.sh
Due: none

[train][checkpoint] Add validate_function and validate_config to ray.train.report
  ci/lint/pydoclint-baseline.txt
  doc/source/train/api/api.rst
  python/ray/train/_internal/session.py
  python/ray/train/v2/_internal/callbacks/user_callback.py
  python/ray/train/v2/_internal/execution/callback.py
  python/ray/train/v2/_internal/execution/checkpoint/checkpoint_manager.py
  python/ray/train/v2/_internal/execution/checkpoint/report_handler.py
  python/ray/train/v2/_internal/execution/context.py
  python/ray/train/v2/_internal/execution/controller/controller.py
  python/ray/train/v2/_internal/execution/train_fn_utils.py
  python/ray/train/v2/_internal/execution/worker_group/poll.py
  python/ray/train/v2/_internal/execution/worker_group/worker.py
  python/ray/train/v2/_internal/execution/worker_group/worker_group.py
  python/ray/train/v2/api/exceptions.py
  python/ray/train/v2/api/result.py
  python/ray/train/v2/api/train_fn_utils.py
  python/ray/train/v2/api/validation_info.py
  python/ray/train/v2/tests/test_checkpoint_manager.py
  python/ray/train/v2/tests/test_controller.py
  python/ray/train/v2/tests/test_data_parallel_trainer.py
  python/ray/train/v2/tests/test_report_handler.py
  python/ray/train/v2/tests/test_worker_group.py
  python/ray/train/v2/tests/util.py
Due: docstyle, check-import-order

fix tests num_partitions=1
  python/ray/data/_internal/execution/operators/join.py
  python/ray/data/tests/test_join.py
Due: docstyle, check-import-order

[data] add missing doc strings for DataContext (#56460)
  python/ray/data/context.py
Due: docstyle, check-import-order

[data] Wrong name for Inqueue Panel (#56463)
  python/ray/dashboard/modules/metrics/dashboards/data_dashboard_panels.py
Due: docstyle, check-import-order

Update iterator.py
  python/ray/data/iterator.py
Due: docstyle, check-import-order

Adding documentation. Deleting use of RAY_CHECK_WITH_DISPLAY
  python/ray/tests/resource_isolation/test_resource_isolation_integration.py
  src/ray/common/cgroup2/cgroup_driver_interface.h
  src/ray/common/cgroup2/cgroup_manager.cc
  src/ray/common/cgroup2/cgroup_manager.h
  src/ray/common/cgroup2/cgroup_manager_interface.h
  src/ray/common/cgroup2/sysfs_cgroup_driver.h
Due: docstyle, check-import-order, check-cpp-files-inclusion

Update files
  release/nightly_tests/dataset/image_embedding_from_jsonl/autoscaling_cluster_compute.yaml
  release/nightly_tests/dataset/image_embedding_from_jsonl/fixed_size_cluster_compute.yaml
  release/nightly_tests/dataset/image_embedding_from_jsonl/main.py
  release/release_data_tests.yaml
Due: docstyle, check-import-order

Added new chat_template_kwargs field to build_llm_processor
  python/ray/data/llm.py
  python/ray/llm/_internal/batch/processor/vllm_engine_proc.py
  python/ray/llm/_internal/batch/stages/chat_template_stage.py
  python/ray/llm/tests/batch/cpu/stages/test_chat_template_stage.py
Due: docstyle, check-import-order

fix
  python/ray/data/_internal/execution/operators/join.py
  python/ray/data/tests/test_join.py
Due: docstyle, check-import-order

doc test
  python/ray/data/read_api.py
Due: docstyle, check-import-order

updating uv on manylinux
  .buildkite/dependencies.rayci.yml
  ci/docker/manylinux.Dockerfile
Due: none

adding comments
  .pre-commit-config.yaml
Due: none

WIP
  src/ray/object_manager/tests/BUILD.bazel
  src/ray/object_manager/tests/object_manager_test.cc
Due: check-cpp-files-inclusion

Fixing ASAN bugs in object_manager_test
  src/mock/ray/gcs/gcs_client/gcs_client.h
  src/ray/object_manager/object_manager.cc
  src/ray/object_manager/object_manager.h
  src/ray/object_manager/tests/object_manager_test.cc
  src/ray/raylet/main.cc
Due: check-cpp-files-inclusion

compiling
  BUILD.bazel
  python/ray/includes/common.pxd
  python/ray/includes/gcs_client.pxi
  python/ray/includes/global_state_accessor.pxd
  src/ray/core_worker/tests/actor_creator_test.cc
  src/ray/gcs_client/BUILD.bazel
  src/ray/pubsub/BUILD.bazel
  src/ray/pubsub/python_gcs_subscriber.cc
Due: check-cpp-files-inclusion

turn it all off
  src/ray/common/event_stats.cc
Due: check-cpp-files-inclusion

[data] Expose max_tasks_in_flight_per_actor in the Dataset and GroupedData API
  python/ray/data/_internal/util.py
  python/ray/data/tests/test_map.py
Due: docstyle, check-import-order

[image] add label for ray version and commit
  ci/build/build-ray-docker.sh
Due: none

[core][rdt] Support tensor transfer from outside owners of actors (#56485)
  python/ray/_raylet.pyx
  python/ray/actor.py
  python/ray/includes/common.pxd
  python/ray/includes/libcoreworker.pxd
  python/ray/tests/gpu_objects/test_gpu_objects_gloo.py
  src/ray/common/task/task_spec.h
  src/ray/core_worker/actor_handle.cc
  src/ray/core_worker/actor_handle.h
  src/ray/core_worker/common.h
  src/ray/core_worker/core_worker.cc
  src/ray/protobuf/core_worker.proto
Due: docstyle, check-import-order, check-cpp-files-inclusion

[ci] 2 different pydoclints (1 for ci and 1 for local) (#56464)
  .pre-commit-config.yaml
  ci/lint/lint.sh
Due: none

[LLM][Serve] Allow setting `data_parallel_size=1` in engine_kwargs (#55750)
  python/ray/llm/_internal/serve/configs/server_models.py
  python/ray/llm/tests/serve/cpu/configs/test_models.py
Due: docstyle, check-import-order

upgrading uv
  WORKSPACE
Due: none

[data] Fix test_map.py::test_invalid_concurrency_raises_error
  python/ray/data/tests/test_map.py
Due: docstyle, check-import-order

Fix JoinInfo import error in SQL handlers
  python/ray/data/sql/execution/handlers.py
Due: docstyle, check-import-order

updating unit test
  ci/raydepsets/tests/test_cli.py
Due: docstyle, check-import-order

removing python ver check
  ci/raydepsets/pre_hooks/remove-compiled-headers.sh
Due: none

update
  doc/source/ray-core/direct-transport.rst
  doc/source/ray-core/doc_code/direct_transport_gloo.py
  doc/source/ray-core/doc_code/direct_transport_nccl.py
  doc/source/ray-core/doc_code/direct_transport_nixl.py
Due: none

[ci] removing python ver check for llm lockfile compile (#56495)
  ci/raydepsets/pre_hooks/remove-compiled-headers.sh
Due: none

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)
