Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)

fix
  python/ray/data/_internal/output_buffer.py
Due: docstyle, check-import-order

Simon's comment
  rllib/offline/offline_data.py
Due: docstyle, check-import-order

fix unittest
  python/ray/data/tests/test_operators.py
Due: docstyle, check-import-order

initial
  rllib/algorithms/algorithm.py
  rllib/algorithms/bc/tests/test_bc.py
  rllib/algorithms/marwil/marwil.py
  rllib/core/learner/learner_group.py
Due: docstyle, check-import-order

add tests
  python/ray/data/_internal/execution/operators/map_transformer.py
  python/ray/data/_internal/output_buffer.py
  python/ray/data/tests/test_operators.py
Due: docstyle, check-import-order

Update output_buffer.py
  python/ray/data/_internal/output_buffer.py
Due: docstyle, check-import-order

[release auto] use env var for twine password
  ci/ray_ci/automation/pypi_lib.py
  ci/ray_ci/automation/test_pypi_lib.py
Due: docstyle, check-import-order

[core] format code
  src/ray/raylet/agent_manager.cc
  src/ray/raylet/node_manager.cc
  src/ray/raylet_rpc_client/raylet_client.cc
  src/ray/raylet_rpc_client/raylet_client.h
  src/ray/raylet_rpc_client/raylet_client_with_io_context.h
Due: check-cpp-files-inclusion

test
  python/ray/_private/node.py
  python/ray/_private/pipe.py
  python/ray/_private/runtime_env/agent/main.py
  python/ray/_private/services.py
  python/ray/_private/worker.py
  python/ray/_private/workers/default_worker.py
  python/ray/tests/test_client_proxy.py
  python/ray/tests/test_gcs_port_reporting.py
  python/ray/util/client/server/proxier.py
  python/ray/util/client/server/server.py
  src/ray/gcs/gcs_server_main.cc
  src/ray/raylet/main.cc
  src/ray/raylet/node_manager.cc
  src/ray/raylet/node_manager.h
  src/ray/util/pipe.h
Due: docstyle, check-import-order, check-cpp-files-inclusion

test
  python/ray/tests/test_gcs_port_reporting.py
Due: docstyle, check-import-order

update
  python/ray/data/_internal/execution/streaming_executor.py
Due: docstyle, check-import-order

remove unnecessary comment
  python/ray/data/_internal/execution/streaming_executor.py
Due: docstyle, check-import-order

Doc: Explain how to use a RayJob with Kueue and ProvisioningRequest despite's GKE single PodSet limitation
  doc/source/cluster/kubernetes/examples/rayjob-kueue-gang-scheduling.md
Due: none

test
  python/ray/_private/node.py
  python/ray/_private/services.py
  python/ray/util/client/server/proxier.py
  python/ray/util/client/server/server.py
  src/ray/raylet/node_manager.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

refactor, can cleanup code
  python/ray/data/namespace_expressions/map_namespace.py
  python/ray/data/tests/test_namespace_expressions.py
Due: docstyle, check-import-order

test
  python/ray/tests/test_client_proxy.py
Due: docstyle, check-import-order

update pydoc
  python/ray/data/_internal/output_buffer.py
Due: docstyle, check-import-order

hook with datacontext
  python/ray/data/_internal/datasource/parquet_datasource.py
  python/ray/data/_internal/planner/plan_read_op.py
  python/ray/data/datasource/datasource.py
  python/ray/data/datasource/file_based_datasource.py
Due: docstyle, check-import-order

fix lint check
  python/ray/data/tests/conftest.py
  python/ray/data/tests/test_actor_pool_map_operator.py
Due: docstyle, check-import-order

fix
  python/ray/data/datasource/file_based_datasource.py
Due: docstyle, check-import-order

fix shuffleconfig
  python/ray/data/datasource/file_based_datasource.py
Due: docstyle, check-import-order

[core][rdt] Initial refactor for bring your own transport
  python/ray/_private/serialization.py
  python/ray/experimental/collective/__init__.py
  python/ray/experimental/collective/collective.py
  python/ray/experimental/collective/nixl_tensor_transport.py
  python/ray/experimental/collective/util.py
  python/ray/experimental/gpu_object_manager/collective_tensor_transport.py
  python/ray/experimental/gpu_object_manager/gpu_object_manager.py
  python/ray/experimental/gpu_object_manager/gpu_object_store.py
  python/ray/experimental/gpu_object_manager/nixl_tensor_transport.py
  python/ray/experimental/gpu_object_manager/tensor_transport_manager.py
  python/ray/experimental/gpu_object_manager/types.py
  python/ray/experimental/gpu_object_manager/util.py
  python/ray/llm/_internal/serve/serving_patterns/data_parallel/dp_server.py
  python/ray/util/collective/collective.py
  python/ray/util/collective/collective_group/nixl_backend.py
  python/ray/util/collective/types.py
Due: docstyle, check-import-order

update
  python/ray/data/_internal/execution/resource_manager.py
  python/ray/data/_internal/execution/streaming_executor.py
Due: docstyle, check-import-order

[tune] Add missing substitution for message
  python/ray/tune/schedulers/pbt.py
Due: docstyle, check-import-order

fix lint check
  python/ray/data/_internal/actor_autoscaler/resource_based_actor_autoscaler.py
  python/ray/data/_internal/execution/streaming_executor.py
  python/ray/data/tests/test_resource_based_actor_autoscaler.py
  python/ray/data/tests/test_streaming_integration.py
Due: docstyle, check-import-order

fix lint check
  python/ray/data/_internal/actor_autoscaler/resource_based_actor_autoscaler.py
  python/ray/data/_internal/execution/operators/actor_pool_map_operator.py
  python/ray/data/tests/test_actor_removal_strategy.py
  python/ray/data/tests/test_resource_based_actor_autoscaler.py
  python/ray/data/tests/test_streaming_integration.py
Due: docstyle, check-import-order

[Docs] Add API overview for `SlicePlacementGroup` to TPU docs (#58272)
  doc/source/cluster/kubernetes/user-guides/tpu.md
Due: none

[train] Add bundle_label_selector to ScalingConfig (#58845)
  ci/lint/pydoclint-baseline.txt
  python/ray/train/v2/_internal/execution/controller/controller.py
  python/ray/train/v2/_internal/execution/worker_group/worker_group.py
  python/ray/train/v2/api/config.py
  python/ray/train/v2/tests/test_config.py
  python/ray/train/v2/tests/test_jax_trainer.py
  python/ray/train/v2/tests/test_scheduling.py
  python/ray/train/v2/tests/test_worker_group.py
Due: docstyle, check-import-order, check-train-circular-imports

[train][doc] Document get_all_reported_checkpoints (#58946)
  doc/source/train/doc_code/checkpoints.py
  doc/source/train/user-guides/checkpoints.rst
Due: none

update
  python/ray/data/_internal/execution/resource_manager.py
Due: docstyle, check-import-order

address comments
  python/ray/data/_internal/execution/resource_manager.py
  python/ray/data/_internal/execution/streaming_executor.py
Due: docstyle, check-import-order

fix doc errors
  python/ray/data/_internal/datasource/bigquery_datasource.py
  python/ray/data/_internal/datasource/clickhouse_datasource.py
  python/ray/data/_internal/datasource/databricks_uc_datasource.py
  python/ray/data/_internal/datasource/delta_sharing_datasource.py
  python/ray/data/_internal/datasource/hudi_datasource.py
  python/ray/data/_internal/datasource/huggingface_datasource.py
  python/ray/data/_internal/datasource/iceberg_datasource.py
  python/ray/data/_internal/datasource/kafka_datasource.py
  python/ray/data/_internal/datasource/lance_datasource.py
  python/ray/data/_internal/datasource/mongo_datasource.py
  python/ray/data/_internal/datasource/range_datasource.py
  python/ray/data/_internal/datasource/sql_datasource.py
  python/ray/data/_internal/datasource/torch_datasource.py
  python/ray/data/datasource/datasource.py
  python/ray/data/tests/test_dynamic_block_split.py
  python/ray/data/tests/test_execution_optimizer_basic.py
Due: docstyle, check-import-order

update func typing
  python/ray/data/datasource/file_based_datasource.py
Due: docstyle, check-import-order

update doc
  python/ray/data/datasource/datasource.py
Due: docstyle, check-import-order

fix lint
  python/ray/data/expressions.py
Due: docstyle, check-import-order

fix lint
  python/ray/data/expressions.py
  python/ray/data/tests/test_namespace_expressions.py
Due: docstyle, check-import-order

parquet test update
  python/ray/data/datasource/file_based_datasource.py
  python/ray/data/read_api.py
  python/ray/data/tests/test_parquet.py
Due: docstyle, check-import-order

[wheel] move wheel license text to a file (#58961)
  ci/docker/min.build.wanda.yaml
  python/LICENSE.txt
  python/setup.py
Due: docstyle, check-import-order

[repo] add `__pycache__` directories to .gitignore
  .gitignore
Due: none
