Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)

[release] Temporarily disable Azure image push for release-test images
  ci/ray_ci/anyscale_docker_container.py
  ci/ray_ci/automation/push_release_test_image.py
  ci/ray_ci/test_anyscale_docker_container.py
  release/ray_release/byod/build.py
  release/ray_release/custom_byod_build_init_helper.py
  release/ray_release/tests/test_custom_byod_build_init_helper.py
Due: docstyle, check-import-order

[data] auto-detect AzureFileSystem for Blob HTTPS URLs in download()
  python/ray/data/datasource/path_util.py
  python/ray/data/tests/unit/test_path_util.py
Due: docstyle, check-import-order

Address test failures and regressions
  python/ray/data/_internal/execution/block_ref_counter.py
  python/ray/data/_internal/execution/interfaces/physical_operator.py
  python/ray/data/tests/unit/test_resource_manager.py
Due: docstyle, check-import-order

Remove extra resource accounting in resource manager
  python/ray/data/_internal/execution/resource_manager.py
Due: docstyle, check-import-order

[Dashboard] Extend telemetry allowlist with GPU + Ray Data per-operator metrics
  python/ray/dashboard/modules/databricks_telemetry/constants.py
Due: docstyle, check-import-order

Update 2.56 oom documentation to use resource isolation mode to resolve oom issues
  doc/source/ray-core/images/time-based-killing-policy.png
  doc/source/ray-core/scheduling/ray-oom-prevention.rst
  doc/source/ray-observability/images/ray-oom-kills.png
  doc/source/ray-observability/images/unexpected-system-level-worker-failures.png
  doc/source/ray-observability/user-guides/debug-apps/debug-memory.rst
  src/ray/raylet/node_manager.cc
Due: check-cpp-files-inclusion

Fix typo
  doc/source/ray-core/scheduling/ray-oom-prevention.rst
  doc/source/ray-observability/user-guides/debug-apps/debug-memory.rst
Due: none

[core] Avoid extra memcpy when spilling fused objects
  python/ray/_private/external_storage.py
Due: docstyle, check-import-order

Deflake windows test
  python/ray/serve/tests/test_callback.py
  python/ray/serve/tests/test_target_capacity.py
Due: docstyle, check-import-order

[Data] Replace outer make_async_gen with iter_in_background in BatchIterator
  python/ray/data/_internal/block_batching/iter_batches.py
  python/ray/data/_internal/block_batching/util.py
Due: docstyle, check-import-order

Fixing counter related bug (2)
  src/ray/gcs/actor/gcs_actor_manager.cc
Due: check-cpp-files-inclusion

[core] Fix CHECK failure in HandleTaskExecutionResult caused by unhandled KeyboardInterrupt in Cython task handler
  python/ray/_raylet.pyx
  test_core_2834.py
Due: docstyle, check-import-order

Fix doc build error
  doc/source/ray-core/scheduling/ray-oom-prevention.rst
  doc/source/ray-observability/user-guides/debug-apps/debug-memory.rst
Due: none

[dashboard] Update freshness label more frequently
  python/ray/dashboard/client/src/pages/layout/MainNavLayout.component.test.tsx
  python/ray/dashboard/client/src/pages/layout/MainNavLayout.tsx
Due: none

Fix actor generator backpressure task completion
  python/ray/_raylet.pyx
  python/ray/includes/libcoreworker.pxd
  python/ray/tests/test_streaming_generator_backpressure.py
  src/ray/common/task/task_spec.cc
  src/ray/common/task/task_spec.h
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker.h
  src/ray/core_worker/core_worker_rpc_proxy.h
  src/ray/core_worker/generator_waiter.cc
  src/ray/core_worker/generator_waiter.h
  src/ray/core_worker/grpc_service.cc
  src/ray/core_worker/grpc_service.h
  src/ray/core_worker/task_manager.cc
  src/ray/core_worker/task_manager.h
  src/ray/core_worker/tests/task_manager_test.cc
  src/ray/core_worker_rpc_client/core_worker_client.h
  src/ray/core_worker_rpc_client/core_worker_client_interface.h
  src/ray/core_worker_rpc_client/fake_core_worker_client.h
  src/ray/protobuf/core_worker.proto
Due: docstyle, check-import-order, check-cpp-files-inclusion

Use separate consumed updates for generator backpressure
  python/ray/_raylet.pyx
  python/ray/includes/libcoreworker.pxd
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker.h
  src/ray/core_worker/generator_waiter.cc
  src/ray/core_worker/generator_waiter.h
  src/ray/core_worker/task_manager.cc
  src/ray/core_worker/task_manager.h
  src/ray/core_worker/tests/task_manager_test.cc
Due: check-cpp-files-inclusion

fix: only cache successful presigned URL responses
  release/ray_release/aws.py
Due: docstyle, check-import-order

fix(ci): retry presigned URL requests on server errors
  release/ray_release/aws.py
Due: docstyle, check-import-order

Add back streaming split prefetch
  python/ray/data/_internal/execution/resource_manager.py
Due: docstyle, check-import-order

[Dashboard] Use api/v1/query as the sole Prometheus healthcheck
  python/ray/dashboard/modules/metrics/metrics_head.py
Due: docstyle, check-import-order

CR feedback
  doc/source/serve/advanced-guides/custom-request-router.md
  doc/source/serve/doc_code/custom_request_router_app.py
Due: none

Update
  doc/source/serve/advanced-guides/custom-request-router.md
  doc/source/serve/doc_code/custom_request_router_app.py
Due: none

Move imports
  doc/source/serve/doc_code/custom_request_router_app.py
Due: none

Fix accelerator limit calculation for dual-core TPUs
  python/ray/_private/accelerators/accelerator.py
  python/ray/_private/accelerators/tpu.py
  python/ray/_private/resource_and_label_spec.py
  python/ray/tests/accelerators/test_tpu.py
Due: docstyle, check-import-order

Improve State API filter key handling (#63638)
  python/ray/tests/test_state_api.py
  python/ray/util/state/state_cli.py
Due: docstyle, check-import-order

[release] Temporarily disable Azure image push for release-test images (#63651)
  ci/ray_ci/anyscale_docker_container.py
  ci/ray_ci/automation/push_release_test_image.py
  ci/ray_ci/test_anyscale_docker_container.py
  release/ray_release/byod/build.py
  release/ray_release/custom_byod_build_init_helper.py
  release/ray_release/tests/test_custom_byod_build_init_helper.py
Due: docstyle, check-import-order

[Data] Force data collection env for test_usage data usage tests
  python/ray/data/tests/test_usage.py
Due: docstyle, check-import-order

Address Gemini review: Normalize accelerator types and add tests
  python/ray/_private/accelerators/tpu.py
  python/ray/_private/resource_and_label_spec.py
  python/ray/tests/accelerators/test_tpu.py
Due: docstyle, check-import-order

Attempt to resolve test failures
  ci/docker/llm.build.Dockerfile
  docker/ray-llm/Dockerfile
Due: none

msg
  src/ray/core_worker/actor_management/tests/actor_manager_test.cc
  src/ray/core_worker/core_worker_process.cc
  src/ray/core_worker/reference_counter.cc
  src/ray/core_worker/reference_counter.h
  src/ray/core_worker/task_submission/tests/actor_task_submitter_test.cc
  src/ray/core_worker/task_submission/tests/direct_actor_transport_test.cc
  src/ray/core_worker/tests/core_worker_test.cc
  src/ray/core_worker/tests/object_recovery_manager_test.cc
  src/ray/core_worker/tests/reference_counter_test.cc
  src/ray/core_worker/tests/task_manager_test.cc
Due: check-cpp-files-inclusion

[core][docs] Document hex round-trip ObjectRef anti-pattern
  doc/source/ray-core/doc_code/anti_pattern_out_of_band_object_ref_serialization_hex.py
  doc/source/ray-core/patterns/out-of-band-object-ref-serialization.rst
Due: none

[core][docs] Tighten section structure for out-of-band ObjectRef anti-patterns
  doc/source/ray-core/patterns/out-of-band-object-ref-serialization.rst
Due: none

[Dashboard] Wire POST path for Databricks telemetry collector
  python/ray/dashboard/modules/databricks_telemetry/constants.py
  python/ray/dashboard/modules/databricks_telemetry/prometheus_forwarder_head.py
Due: docstyle, check-import-order

[Data] Indicate pyrefly bad type for Data usage test
  python/ray/data/tests/test_usage.py
Due: docstyle, check-import-order

[core][docs] Cross-link serialization page to hex round-trip anti-pattern
  doc/source/ray-core/objects/serialization.rst
Due: none

[Data] Refactor walk_ops in collect Data usage to match plan_str
  python/ray/data/_internal/usage/collector.py
Due: docstyle, check-import-order

[Data] Lint fixes data usage collection
  python/ray/data/_internal/usage/collector.py
Due: docstyle, check-import-order

l
  src/ray/core_worker/core_worker.cc
Due: check-cpp-files-inclusion

lint
  src/ray/object_manager/object_manager.cc
  src/ray/object_manager/object_manager.h
  src/ray/raylet/node_manager.cc
Due: check-cpp-files-inclusion

free secondaries
  src/mock/ray/object_manager/object_manager.h
  src/ray/object_manager/object_manager.cc
  src/ray/object_manager/object_manager.h
  src/ray/raylet/node_manager.cc
Due: check-cpp-files-inclusion
