Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

drop redundant test of iterabledataset
  python/ray/data/tests/test_formats.py
Due: docstyle, check-import-order

make ray data from_torch respect __len__ property of original dataset
  python/ray/data/_internal/datasource/torch_datasource.py
Due: docstyle, check-import-order

lazy import
  python/ray/llm/_internal/batch/stages/vllm_engine_stage.py
Due: docstyle, check-import-order

wip
  doc/source/rllib/metrics-logger.rst
  rllib/algorithms/algorithm.py
  rllib/utils/metrics/metrics_logger.py
  rllib/utils/metrics/stats.py
  rllib/utils/replay_buffers/episode_replay_buffer.py
Due: docstyle, check-import-order

lint
  python/ray/llm/_internal/batch/stages/vllm_engine_stage.py
Due: docstyle, check-import-order

wip testsing
  python/ray/llm/_internal/serve/deployments/llm/llm_engine.py
  python/ray/llm/_internal/serve/deployments/llm/llm_server.py
  python/ray/llm/tests/serve/cpu/deployments/llm/test_llm_server.py
  python/ray/llm/tests/serve/cpu/deployments/llm/vllm/test_vllm_engine.py
Due: docstyle, check-import-order

made batch tests medium
  python/ray/llm/tests/BUILD
Due: none

fixing tests
  python/ray/llm/_internal/serve/deployments/utils/server_utils.py
  python/ray/llm/tests/serve/cpu/deployments/llm/test_llm_server.py
Due: docstyle, check-import-order

Debug data task cancellation
  src/ray/core_worker/task_manager.cc
  src/ray/core_worker/transport/actor_scheduling_queue.cc
  src/ray/core_worker/transport/actor_task_submitter.cc
Due: check-cpp-files-inclusion

wip
  python/ray/llm/_internal/serve/deployments/llm/llm_engine.py
  python/ray/llm/_internal/serve/deployments/llm/llm_server.py
  python/ray/llm/_internal/serve/deployments/utils/server_utils.py
  python/ray/llm/tests/serve/cpu/deployments/llm/test_llm_server.py
  python/ray/llm/tests/serve/cpu/deployments/llm/vllm/test_vllm_engine.py
Due: docstyle, check-import-order

[release] Upgrade twine to 6.1.0 and skip python 3.13 wheel for Windows (#52689)
  ci/ray_ci/automation/ray_wheels_lib.py
  ci/ray_ci/automation/test_ray_wheels_lib.py
  release/requirements_buildkite.in
  release/requirements_buildkite.txt
Due: docstyle, check-import-order

Addressed review comments
  python/ray/air/_internal/torch_utils.py
  python/ray/data/collate_fn.py
Due: docstyle, check-import-order

fix custom evaluation example
  rllib/examples/evaluation/custom_evaluation.py
Due: docstyle, check-import-order

Addressed review comments
  python/ray/data/iterator.py
Due: docstyle, check-import-order

backward compatibility
  rllib/utils/metrics/stats.py
Due: docstyle, check-import-order

wip
  python/ray/llm/_internal/serve/deployments/routers/router.py
Due: docstyle, check-import-order

fix chat template test
  python/ray/llm/tests/batch/cpu/stages/test_chat_template_stage.py
Due: docstyle, check-import-order

Addressed review comments
  python/ray/data/collate_fn.py
  python/ray/data/iterator.py
  python/ray/data/tests/test_iterator.py
Due: docstyle, check-import-order

lint
  python/ray/llm/tests/batch/cpu/stages/test_chat_template_stage.py
Due: docstyle, check-import-order

fix offline eval
  rllib/algorithms/algorithm.py
Due: docstyle, check-import-order

fix stats saving value list in history
  doc/source/rllib/metrics-logger.rst
  rllib/utils/metrics/metrics_logger.py
  rllib/utils/metrics/stats.py
  rllib/utils/metrics/tests/test_stats.py
Due: docstyle, check-import-order

pass tensor_transport to C++
  python/ray/_private/serialization.py
  python/ray/_raylet.pyx
  python/ray/actor.py
  python/ray/includes/common.pxd
  src/ray/core_worker/common.h
Due: docstyle, check-import-order, check-cpp-files-inclusion

wip
  rllib/algorithms/algorithm.py
  rllib/examples/algorithms/appo_custom_algorithm_w_shared_data_actor.py
  rllib/examples/algorithms/classes/appo_w_shared_data_actor.py
Due: docstyle, check-import-order

Modified test size and number of iterations for MAML example.
  rllib/BUILD
Due: none

docs: update volcano integration with new flag -e Signed-off-by: machichima <nary12321@gmail.com>
  doc/source/cluster/kubernetes/k8s-ecosystem/volcano.md
Due: none

Decreased the number of iterations for maml example.
  rllib/BUILD
Due: none

Added 'no-plot' argument to avoid plots. This was blocking CI tests.
  rllib/BUILD
Due: none

p
  .buildkite/build.rayci.yml
  .buildkite/generate_indexes.sh
  ci/ray_ci/automation/BUILD.bazel
  ci/ray_ci/automation/docker_tags_lib.py
  ci/ray_ci/automation/generate_index.py
Due: docstyle, check-import-order

p
  ci/ray_ci/automation/docker_tags_lib.py
  ci/ray_ci/automation/generate_index.py
Due: docstyle, check-import-order

fix doctest and offline eval
  doc/source/rllib/metrics-logger.rst
  rllib/algorithms/algorithm.py
Due: docstyle, check-import-order

wip
  rllib/utils/postprocessing/zero_padding.py
Due: docstyle, check-import-order

[RLlib] Clean up meta learning class and example files. (#52680)
  rllib/BUILD
  rllib/algorithms/algorithm.py
  rllib/algorithms/algorithm_config.py
  rllib/algorithms/marwil/marwil.py
  rllib/core/learner/differentiable_learner.py
  rllib/core/learner/differentiable_learner_config.py
  rllib/core/learner/torch/torch_differentiable_learner.py
  rllib/core/learner/torch/torch_meta_learner.py
  rllib/examples/algorithms/classes/maml_lr_differentiable_learner.py
  rllib/examples/algorithms/classes/maml_lr_differentiable_rlm.py
  rllib/examples/algorithms/classes/maml_lr_meta_learner.py
  rllib/examples/algorithms/maml_lr_supervised_learning.py
  rllib/examples/learners/maml_lr_supervised_learning.py
  rllib/tuned_examples/marwil/cartpole_marwil.py
  rllib/utils/metrics/utils.py
Due: docstyle, check-import-order

Suppress type error Signed-off-by: Neil Girdhar <mistersheik@gmail.com>
  python/ray/train/constants.py
Due: docstyle, check-import-order

wip
  rllib/examples/connectors/mean_std_filtering.py
Due: docstyle, check-import-order

cleanup
  doc/source/rllib/metrics-logger.rst
  rllib/examples/evaluation/custom_evaluation.py
  rllib/utils/metrics/metrics_logger.py
  rllib/utils/metrics/stats.py
  rllib/utils/metrics/tests/test_metrics_logger.py
Due: docstyle, check-import-order

fix
  python/ray/tests/conftest.py
  python/ray/tests/test_multiprocessing.py
Due: docstyle, check-import-order

fix
  python/ray/tests/BUILD
Due: none

Add label selector scheduling logic to Cluster Resource Manager (#51901)
  python/ray/_raylet.pyx
  python/ray/actor.py
  python/ray/includes/common.pxd
  python/ray/remote_function.py
  python/ray/tests/BUILD
  python/ray/tests/test_label_scheduling.py
  src/ray/common/BUILD
  src/ray/common/scheduling/cluster_resource_data.cc
  src/ray/common/scheduling/cluster_resource_data.h
  src/ray/common/scheduling/label_selector.cc
  src/ray/common/scheduling/label_selector.h
  src/ray/common/task/task_spec.cc
  src/ray/common/task/task_spec.h
  src/ray/common/task/task_util.h
  src/ray/common/test/BUILD
  src/ray/common/test/label_selector_test.cc
  src/ray/core_worker/common.h
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker.h
  src/ray/protobuf/common.proto
  src/ray/raylet/scheduling/cluster_resource_manager.h
  src/ray/raylet/scheduling/cluster_resource_scheduler.cc
  src/ray/raylet/scheduling/cluster_resource_scheduler.h
  src/ray/raylet/scheduling/cluster_resource_scheduler_test.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)
