Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)

[ci] Relax Pydantic constraints
  python/deplocks/base_extra_testdeps/ray-base_extra_testdeps_py3.10.lock
  python/deplocks/base_extra_testdeps/ray-base_extra_testdeps_py3.11.lock
  python/deplocks/base_extra_testdeps/ray-base_extra_testdeps_py3.12.lock
  python/deplocks/base_extra_testdeps/ray-gpu-base_extra_testdeps_py3.10.lock
  python/deplocks/base_extra_testdeps/ray-ml-base_extra_testdeps_py3.10.lock
  python/deplocks/base_slim/ray_base_slim_py3.10.lock
  python/deplocks/base_slim/ray_base_slim_py3.11.lock
  python/deplocks/base_slim/ray_base_slim_py3.12.lock
  python/deplocks/llm/rayllm_py311_cpu.lock
  python/deplocks/llm/rayllm_py311_cu128.lock
  python/deplocks/llm/rayllm_py312_cpu.lock
  python/deplocks/llm/rayllm_py312_cu130.lock
  python/deplocks/llm/rayllm_test_py311_cpu.lock
  python/deplocks/llm/rayllm_test_py311_cu128.lock
  python/deplocks/llm/rayllm_test_py312_cpu.lock
  python/deplocks/llm/rayllm_test_py312_cu130.lock
  python/deplocks/ray_img/ray_img_py310.lock
  python/deplocks/ray_img/ray_img_py311.lock
  python/deplocks/ray_img/ray_img_py312.lock
  python/requirements.txt
  python/requirements/llm/llm-requirements.txt
  python/requirements_compiled.txt
  python/setup.py
Due: docstyle, check-import-order

use blocks per row
  release/nightly_tests/dataset/worker_scaling_benchmark.py
Due: docstyle, check-import-order

placement group initial commit
  doc/source/ray-core/internals.rst
  doc/source/ray-core/internals/placement-groups.rst
Due: none

Recompiled with Python 3.11
  python/deplocks/base_deps/ray_base_deps_py3.10.lock
  python/deplocks/base_extra/ray_base_extra_py3.10.lock
  python/deplocks/base_extra_testdeps/ray-base_extra_testdeps_py3.10.lock
  python/deplocks/base_extra_testdeps/ray-base_extra_testdeps_py3.11.lock
  python/deplocks/base_extra_testdeps/ray-base_extra_testdeps_py3.12.lock
  python/deplocks/base_extra_testdeps/ray-gpu-base_extra_testdeps_py3.10.lock
  python/deplocks/base_extra_testdeps/ray-ml-base_extra_testdeps_py3.10.lock
  python/deplocks/base_slim/ray_base_slim_py3.10.lock
  python/deplocks/base_slim/ray_base_slim_py3.11.lock
  python/deplocks/base_slim/ray_base_slim_py3.12.lock
  python/deplocks/ray_img/ray_img_py310.lock
  python/deplocks/ray_img/ray_img_py311.lock
  python/deplocks/ray_img/ray_img_py312.lock
  python/requirements_compiled.txt
Due: none

Remove requirement
  python/deplocks/llm/rayllm_py311_cpu.lock
  python/deplocks/llm/rayllm_py311_cu128.lock
  python/deplocks/llm/rayllm_py312_cpu.lock
  python/deplocks/llm/rayllm_py312_cu130.lock
  python/deplocks/llm/rayllm_test_py311_cpu.lock
  python/deplocks/llm/rayllm_test_py311_cu128.lock
  python/deplocks/llm/rayllm_test_py312_cpu.lock
  python/deplocks/llm/rayllm_test_py312_cu130.lock
  python/requirements/llm/llm-requirements.txt
Due: none

[data] Rank actors per node in a heap
  python/ray/data/_internal/execution/operators/actor_pool_map_operator.py
Due: docstyle, check-import-order

Fix weird deadlock issue
  src/ray/core_worker/core_worker.cc
Due: check-cpp-files-inclusion

[data][metrics] Add metric for task block locality (#62249)
  python/ray/data/_internal/execution/interfaces/op_runtime_metrics.py
  python/ray/data/tests/test_stats.py
Due: docstyle, check-import-order

Support new schema in Buildkite resource calculation and env vars (#62014)
  release/ray_release/buildkite/concurrency.py
  release/ray_release/buildkite/step.py
  release/ray_release/template.py
  release/ray_release/tests/test_buildkite.py
Due: docstyle, check-import-order

[ci][deps] Generating dependency sets for Data CI images (#61532)
  .buildkite/core.rayci.yml
  .buildkite/data.rayci.yml
  ci/docker/data.build.Dockerfile
  ci/docker/data.build.wanda.yaml
  ci/docker/data9.build.wanda.yaml
  ci/docker/datal.build.wanda.yaml
  ci/docker/datamongo.build.wanda.yaml
  ci/docker/datan.build.wanda.yaml
  ci/raydepsets/configs/ci_data.depsets.yaml
  doc/BUILD.bazel
  python/deplocks/ci/data-base-ci_depset_py3.10.lock
  python/deplocks/ci/data-base-ci_depset_py3.12.lock
  python/deplocks/ci/data-mongo-ci_depset_py3.10.lock
  python/deplocks/ci/data-pyarrow-latest-ci_depset_py3.10.lock
  python/deplocks/ci/data-pyarrow-latest-ci_depset_py3.12.lock
  python/deplocks/ci/data-pyarrow-nightly-ci_depset_py3.10.lock
  python/deplocks/ci/data-pyarrow-v9-ci_depset_py3.10.lock
  python/deplocks/ci/relaxed_data-ci_depset_py3.10.lock
  python/deplocks/ci/relaxed_data-ci_depset_py3.12.lock
  python/ray/data/BUILD.bazel
  python/ray/data/_internal/util.py
  python/ray/data/datasource/file_based_datasource.py
  python/ray/data/datasource/file_meta_provider.py
  python/ray/data/tests/datasource/test_lance.py
  python/ray/data/tests/test_dataset_validation.py
  python/ray/data/tests/test_pandas_block.py
  python/ray/tests/modin/modin_test_utils.py
  python/ray/tests/modin/test_modin.py
  python/requirements/data/mongo.txt
  python/requirements/data/pyarrow-latest.txt
  python/requirements/data/pyarrow-nightly.txt
  python/requirements/data/pyarrow-v9.txt
  python/requirements/ml/py313/data-requirements.txt
  python/requirements/ml/py313/data-test-requirements.txt
  python/requirements/ml/py313/dl-cpu-requirements.txt
  python/requirements/ml/py313/dl-gpu-requirements.txt
  python/requirements_compiled_py3.13.txt
Due: docstyle, check-import-order

Simplify direct-ingress substrate for route-once
  python/ray/llm/_internal/serve/core/configs/llm_config.py
  python/ray/llm/_internal/serve/core/ingress/builder.py
  python/ray/llm/_internal/serve/core/ingress/ingress.py
  python/ray/llm/_internal/serve/core/server/llm_server.py
  python/ray/llm/_internal/serve/engines/vllm/vllm_engine.py
  python/ray/serve/_private/application_state.py
  python/ray/serve/_private/build_app.py
  python/ray/serve/_private/client.py
  python/ray/serve/_private/controller.py
  python/ray/serve/_private/deploy_utils.py
  python/ray/serve/_private/deployment_info.py
  python/ray/serve/_private/haproxy.py
  python/ray/serve/_private/haproxy_templates.py
  python/ray/serve/_private/http_util.py
  python/ray/serve/_private/sidecar_route.lua
  python/ray/serve/handle.py
  python/ray/serve/schema.py
Due: docstyle, check-import-order

SINGLE_HOST_8_CHIPS_TPU_TYPES -> SINGLE_HOST_8_CHIPS_TPU_TYPE
  python/ray/_private/accelerators/tpu.py
Due: docstyle, check-import-order

Add integrated ingress-bypass routing layer
  python/ray/llm/_internal/serve/core/configs/llm_config.py
  python/ray/llm/_internal/serve/core/ingress/builder.py
  python/ray/llm/_internal/serve/core/ingress/ingress.py
  python/ray/serve/_private/application_state.py
  python/ray/serve/_private/build_app.py
  python/ray/serve/_private/client.py
  python/ray/serve/_private/controller.py
  python/ray/serve/_private/deploy_utils.py
  python/ray/serve/_private/deployment_info.py
  python/ray/serve/_private/haproxy.py
  python/ray/serve/_private/haproxy_templates.py
  python/ray/serve/_private/sidecar_route.lua
  python/ray/serve/schema.py
Due: docstyle, check-import-order

normalize topology string
  python/ray/_private/accelerators/tpu.py
Due: docstyle, check-import-order

[Data] Skip tabular sum test with nulls from pandas due to deviating schemas for blocks containing nulls, extending earlier HashShuffle & pandas skip
  python/ray/data/tests/test_groupby_e2e.py
Due: docstyle, check-import-order

[Data] Add obstore async download backend for download operator (#61735)
  ci/lint/pydoclint-baseline.txt
  pyrefly.toml
  python/ray/data/_internal/planner/_obstore_download.py
  python/ray/data/_internal/planner/download_partition_actor.py
  python/ray/data/_internal/planner/plan_download_op.py
  python/ray/data/_internal/util.py
  python/ray/data/datasource/path_util.py
  python/ray/data/tests/test_download_expression.py
  python/ray/data/tests/unit/test_obstore_download.py
Due: docstyle, check-import-order

refactor: break long isinstance check line into multiple lines
  python/ray/serve/_private/autoscaling_state.py
Due: docstyle, check-import-order

[CI] bump rayciversion to 0.39.0 (#62263)
  .rayciversion
Due: none

[Data] Skip test_tabular_sum for pandas batch_format and pyarrow version < 14
  python/ray/data/tests/test_groupby_e2e.py
Due: docstyle, check-import-order

Refine
  src/ray/gcs/gcs_placement_group_scheduler.cc
  src/ray/raylet/scheduling/policy/label_domain_bundle_scheduling_policy.cc
  src/ray/raylet/scheduling/policy/scheduling_options.h
Due: check-cpp-files-inclusion

[Data] Add metric for unexpected worker oom to release test check
  release/ray_release/command_runner/_anyscale_job_wrapper.py
  release/ray_release/command_runner/_prometheus_metrics.py
Due: docstyle, check-import-order

[tpu] fix v6e single-host corner cases in get_chips_per_host (#62306)
  doc/source/cluster/kubernetes/user-guides/tpu.md
  python/ray/_private/accelerators/tpu.py
Due: docstyle, check-import-order

address more comments
  python/ray/train/v2/_internal/callbacks/backend_setup.py
  python/ray/train/v2/_internal/callbacks/working_dir_setup.py
  python/ray/train/v2/_internal/execution/callback.py
  python/ray/train/v2/_internal/execution/worker_group/worker.py
  python/ray/train/v2/_internal/execution/worker_group/worker_group.py
Due: docstyle, check-import-order, check-train-circular-imports

[Core] Fix typos and replace type() checks with isinstance() (#62154)
  python/ray/_private/ray_logging/__init__.py
  python/ray/_private/services.py
  python/ray/_private/utils.py
  python/ray/autoscaler/_private/subprocess_output_util.py
  python/ray/dashboard/memory_utils.py
  python/ray/serve/_private/autoscaling_state.py
  python/ray/serve/multiplex.py
  python/ray/tune/experiment/experiment.py
  python/ray/tune/search/concurrency_limiter.py
  python/ray/tune/search/repeater.py
  python/ray/tune/search/searcher.py
Due: docstyle, check-import-order

Add _assign_worker_ranks test
  python/ray/train/v2/tests/test_worker_group.py
Due: docstyle, check-import-order, check-train-circular-imports

address cursor-reported bugs
  python/ray/train/v2/_internal/execution/callback.py
  python/ray/train/v2/torch/torchft_config.py
Due: docstyle, check-import-order, check-train-circular-imports

Refine
  src/ray/raylet/scheduling/policy/tests/scheduling_policy_test.cc
Due: check-cpp-files-inclusion

fix
  python/ray/data/_internal/iterator/stream_split_iterator.py
Due: docstyle, check-import-order

[CI] Convert _images.rayci.yml from matrix to array syntax
  .buildkite/_images.rayci.yml
  .buildkite/build.rayci.yml
  .buildkite/core.rayci.yml
  .buildkite/kuberay.rayci.yml
  .buildkite/release/build.rayci.yml
  .buildkite/serve.rayci.yml
Due: none

[data] Convert all-to-all, join, read, and write logical operators to frozen dataclasses
  ci/lint/pydoclint-baseline.txt
  python/ray/data/_internal/logical/operators/all_to_all_operator.py
  python/ray/data/_internal/logical/operators/join_operator.py
  python/ray/data/_internal/logical/operators/read_operator.py
  python/ray/data/_internal/logical/operators/write_operator.py
  python/ray/data/_internal/logical/rules/inherit_batch_format.py
  python/ray/data/_internal/logical/rules/limit_pushdown.py
  python/ray/data/_internal/logical/rules/predicate_pushdown.py
  python/ray/data/_internal/logical/rules/set_read_parallelism.py
Due: docstyle, check-import-order

add dependency info to taskspec debugstring
  src/ray/common/task/task_spec.cc
Due: check-cpp-files-inclusion

reverting pip installable wheel changes
  ci/raydepsets/BUILD.bazel
  ci/raydepsets/__init__.py
  ci/raydepsets/__main__.py
  ci/raydepsets/build_zipapp.py
  ci/raydepsets/cli.py
  ci/raydepsets/pyproject.toml
Due: docstyle, check-import-order

updating readme
  ci/raydepsets/README.md
Due: none
