Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

error handling with actor deaths
  python/ray/actor.py
  python/ray/experimental/collective/collective.py
  python/ray/experimental/collective/collective_tensor_transport.py
  python/ray/experimental/collective/tensor_transport_manager.py
  python/ray/experimental/gpu_object_manager/gpu_object_manager.py
  python/ray/tests/gpu_objects/test_gpu_objects_gloo.py
  python/ray/util/collective/collective_group/nccl_collective_group.py
Due: docstyle, check-import-order

use ongoing episodes everywhere
  rllib/env/multi_agent_env_runner.py
  rllib/env/single_agent_env_runner.py
  rllib/env/tests/test_single_agent_env_runner.py
Due: docstyle, check-import-order

make deployment retry configurable
  python/ray/serve/_private/config.py
  python/ray/serve/_private/constants.py
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/api.py
  python/ray/serve/tests/test_api.py
  python/ray/serve/tests/unit/test_config.py
  python/ray/serve/tests/unit/test_deployment_version.py
  src/ray/protobuf/serve.proto
Due: docstyle, check-import-order

make deployment retry configurable
  python/ray/serve/tests/test_api.py
Due: docstyle, check-import-order

lint issue
  python/ray/_private/utils.py
Due: docstyle, check-import-order

up
  python/ray/experimental/gpu_object_manager/gpu_object_manager.py
Due: docstyle, check-import-order

wip: add multi-agent version of external EnvRunnerServer
  rllib/env/external/base_external_env_runner_server.py
  rllib/env/external/multi_agent_env_runner_server_for_external_inference.py
  rllib/env/external/rllib_gateway.py
  rllib/env/external/single_agent_env_runner_server_for_external_inference.py
  rllib/examples/envs/classes/utils/dummy_multi_agent_external_client.py
  rllib/examples/envs/multi_agent_env_connecting_to_rllib_w_tcp_client.py
Due: docstyle, check-import-order

Add labels to autoscaling config
  python/ray/autoscaler/_private/kuberay/autoscaling_config.py
  python/ray/tests/kuberay/test_autoscaling_config.py
Due: docstyle, check-import-order

Update python/ray/autoscaler/_private/kuberay/autoscaling_config.py
  python/ray/autoscaler/_private/kuberay/autoscaling_config.py
Due: docstyle, check-import-order

wip: fix metrics and decoding
  rllib/env/external/base_external_env_runner_server.py
  rllib/env/external/multi_agent_env_runner_server_for_external_inference.py
  rllib/env/external/rllink.py
  rllib/env/external/single_agent_env_runner_server_for_external_inference.py
  rllib/env/multi_agent_episode.py
  rllib/examples/envs/classes/utils/dummy_multi_agent_external_client.py
Due: docstyle, check-import-order

WIP
  src/ray/core_worker/tests/actor_creator_test.cc
  src/ray/gcs_client/gcs_client.h
  src/ray/gcs_client/tests/gcs_client_reconnection_test.cc
  src/ray/gcs_client/tests/gcs_client_test.cc
  src/ray/gcs_client/tests/global_state_accessor_test.cc
Due: check-cpp-files-inclusion

fix
  src/ray/gcs/gcs_server/tests/gcs_server_rpc_test.cc
  src/ray/gcs_client/tests/gcs_client_test.cc
Due: check-cpp-files-inclusion

fix
  .pre-commit-config.yaml
  ci/lint/format.sh
Due: none

fix
  .pre-commit-config.yaml
Due: none

fix
  ci/lint/format.sh
Due: none

WIP
  src/mock/ray/gcs/gcs_actor_manager.h
  src/mock/ray/gcs/gcs_actor_scheduler.h
  src/mock/ray/gcs/gcs_job_manager.h
  src/mock/ray/gcs/gcs_kv_manager.h
  src/mock/ray/gcs/gcs_node_manager.h
  src/mock/ray/gcs/gcs_placement_group_manager.h
  src/mock/ray/gcs/gcs_placement_group_scheduler.h
  src/mock/ray/gcs/gcs_resource_manager.h
  src/mock/ray/gcs/gcs_task_manager.h
  src/mock/ray/gcs/gcs_worker_manager.h
  src/mock/ray/gcs/pubsub/gcs_pub_sub.h
Due: none

[core] Creating non-linux implementation for sysfs_cgroup_driver. (#56483)
  src/ray/common/cgroup2/BUILD.bazel
  src/ray/common/cgroup2/noop_sysfs_cgroup_driver.cc
  src/ray/common/cgroup2/sysfs_cgroup_driver.cc
  src/ray/common/cgroup2/sysfs_cgroup_driver.h
Due: check-cpp-files-inclusion

compiling
  python/ray/includes/global_state_accessor.pxd
Due: none

compiling
  BUILD.bazel
Due: none

fix
  src/ray/gcs/gcs_server.cc
  src/ray/gcs/gcs_server.h
  src/ray/gcs/tests/gcs_kv_manager_test.cc
  src/ray/gcs/tests/gcs_worker_manager_test.cc
  src/ray/gcs/tests/in_memory_gcs_table_storage_test.cc
  src/ray/gcs/tests/redis_gcs_table_storage_test.cc
Due: check-cpp-files-inclusion

fix
  BUILD.bazel
Due: none

WIP
  BUILD.bazel
  src/ray/gcs/gcs_client/tests/BUILD.bazel
Due: none

fix
  src/ray/common/cgroup2/BUILD.bazel
  src/ray/common/cgroup2/noop_sysfs_cgroup_driver.cc
  src/ray/common/cgroup2/sysfs_cgroup_driver.cc
Due: check-cpp-files-inclusion

fix
  src/ray/common/cgroup2/BUILD.bazel
Due: none

fix
  src/ray/common/cgroup2/BUILD.bazel
  src/ray/common/cgroup2/sysfs_cgroup_driver.h
Due: check-cpp-files-inclusion

fix all tests
  src/ray/observability/ray_actor_definition_event.cc
  src/ray/observability/ray_actor_definition_event.h
  src/ray/observability/ray_actor_lifecycle_event.cc
  src/ray/observability/ray_actor_lifecycle_event.h
  src/ray/observability/tests/ray_actor_definition_event_test.cc
  src/ray/observability/tests/ray_actor_lifecycle_event_test.cc
  src/ray/observability/tests/ray_event_recorder_test.cc
Due: check-cpp-files-inclusion

[image] add label for ray version and commit (#56493)
  ci/build/build-ray-docker.sh
Due: none

[core] Fix `clang-format` pre-commit step (#56534)
  .pre-commit-config.yaml
  ci/lint/format.sh
Due: none

[ci][deps] raydepsets: building ray img lockfiles (#56444)
  .buildkite/build.rayci.yml
  .buildkite/dependencies.rayci.yml
  ci/build/build-placeholder-wheel.sh
  ci/docker/manylinux.Dockerfile
  ci/raydepsets/cli.py
  ci/raydepsets/rayimg.depsets.yaml
  ci/raydepsets/rayllm.depsets.yaml
  ci/raydepsets/tests/test_cli.py
  python/deplocks/llm/ray_py311_cpu.lock
  python/deplocks/llm/ray_py311_cu121.lock
  python/deplocks/llm/ray_py311_cu128.lock
  python/deplocks/llm/ray_test_py311_cpu.lock
  python/deplocks/llm/ray_test_py311_cu121.lock
  python/deplocks/llm/rayllm_py311_cpu.lock
  python/deplocks/llm/rayllm_py311_cu121.lock
  python/deplocks/llm/rayllm_py311_cu128.lock
  python/deplocks/llm/rayllm_test_py311_cpu.lock
  python/deplocks/llm/rayllm_test_py311_cu121.lock
  python/deplocks/llm/rayllm_test_py311_cu128.lock
  python/deplocks/ray_img/ray_img_py310.lock
  python/deplocks/ray_img/ray_img_py311.lock
  python/deplocks/ray_img/ray_img_py312.lock
  python/deplocks/ray_img/ray_img_py39.lock
Due: docstyle, check-import-order

Bump vLLM to 0.10.2
  python/deplocks/llm/rayllm_py311_cpu.lock
  python/deplocks/llm/rayllm_py311_cu121.lock
  python/deplocks/llm/rayllm_py311_cu128.lock
  python/deplocks/llm/rayllm_test_py311_cpu.lock
  python/deplocks/llm/rayllm_test_py311_cu121.lock
  python/deplocks/llm/rayllm_test_py311_cu128.lock
  python/requirements/llm/llm-requirements.txt
  python/requirements/llm/llm-test-requirements.txt
  python/setup.py
Due: docstyle, check-import-order

add more tests for async inf (#56408)
  python/ray/serve/task_processor.py
  python/ray/serve/tests/conftest.py
  python/ray/serve/tests/test_task_processor.py
Due: docstyle, check-import-order

[SERVE] Proxy Actor Interface (#56288)
  python/ray/serve/_private/proxy.py
Due: docstyle, check-import-order

Fixing failing tests and cleaning up log messages
  python/ray/tests/resource_isolation/test_resource_isolation_integration.py
  src/ray/common/cgroup2/cgroup_manager.cc
  src/ray/common/cgroup2/sysfs_cgroup_driver.cc
  src/ray/raylet/main.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)
