Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

change cloud file system to use aws s3 sync if s3 source
  python/ray/llm/_internal/common/callbacks/cloud_downloader.py
Due: docstyle, check-import-order

[macos] run macos cpp tests on apple silicon (#56222)
  .bazelrc
  .buildkite/macos/macos.rayci.yml
  ci/ci.sh
  ci/ray_ci/macos/macos_ci.sh
  cpp/BUILD.bazel
Due: none

Fixed value bootstrapping bug for PPO and added a test to detect future regressions.
  rllib/BUILD.bazel
  rllib/algorithms/ppo/tests/test_ppo_value_bootstrapping.py
  rllib/connectors/learner/add_one_ts_to_episodes_and_truncate.py
Due: docstyle, check-import-order

Use DI for prometheus handler in integration test
  python/ray/_common/prometheus_utils.py
  python/ray/serve/_private/controller.py
  python/ray/serve/_private/replica.py
  python/ray/serve/tests/test_prometheus_autoscaling_metrics.py
  python/ray/tests/test_metrics_agent_2.py
Due: docstyle, check-import-order

Add missing imports to autoscaling policy example
  doc/source/serve/doc_code/autoscaling_policy.py
Due: none

Update doc/source/serve/doc_code/autoscaling_policy.py
  doc/source/serve/doc_code/autoscaling_policy.py
Due: none

[Doc][Serve] Import AutoscalingContext in autoscaling policy example (#57876)
  doc/source/serve/doc_code/autoscaling_policy.py
Due: none

Linted code
  rllib/algorithms/ppo/tests/test_ppo_value_bootstrapping.py
  rllib/connectors/learner/add_one_ts_to_episodes_and_truncate.py
Due: docstyle, check-import-order

removed adding the taskactor pool strategy as it's not needed/supported here
  doc/source/ray-overview/examples/e2e-multimodal-ai-workloads/notebooks/01-Batch-Inference.ipynb
Due: none

up
  src/mock/ray/gcs_client/accessor.h
  src/ray/gcs_rpc_client/accessor.cc
  src/ray/gcs_rpc_client/accessor.h
  src/ray/gcs_rpc_client/tests/gcs_client_test.cc
  src/ray/raylet/main.cc
  src/ray/raylet/node_manager.cc
  src/ray/raylet/node_manager.h
  src/ray/raylet/tests/node_manager_test.cc
Due: check-cpp-files-inclusion

chore: lint
  python/ray/data/tests/test_operator.py
Due: docstyle, check-import-order

compiling after merge
  python/ray/_raylet.pyx
  python/ray/includes/common.pxd
  src/ray/core_worker/task_execution/actor_scheduling_queue.cc
  src/ray/core_worker/task_execution/normal_scheduling_queue.cc
  src/ray/protobuf/common.proto
  src/ray/raylet/scheduling/cluster_lease_manager.cc
  src/ray/raylet/scheduling/cluster_lease_manager.h
  src/ray/raylet/scheduling/internal.h
  src/ray/raylet/scheduling/scheduler_resource_reporter.cc
  src/ray/raylet/scheduling/scheduler_stats.cc
Due: check-cpp-files-inclusion

chore: move new test into test_operators
  python/ray/data/tests/test_operator.py
  python/ray/data/tests/test_operators.py
Due: docstyle, check-import-order

fix
  src/ray/raylet/main.cc
  src/ray/raylet/node_manager.cc
  src/ray/raylet/node_manager.h
  src/ray/raylet/tests/node_manager_test.cc
Due: check-cpp-files-inclusion

fix the tests based on the task event schema update
  python/ray/tests/test_ray_event_export_task_events.py
Due: docstyle, check-import-order

unused local node info
  src/ray/gcs_rpc_client/accessor.cc
Due: check-cpp-files-inclusion

redo the raylet stuff for leases
  src/ray/core_worker/common.h
  src/ray/core_worker/task_execution/normal_scheduling_queue.cc
  src/ray/core_worker/task_submission/normal_task_submitter.cc
  src/ray/core_worker/task_submission/normal_task_submitter.h
  src/ray/raylet/local_lease_manager.cc
  src/ray/raylet/local_lease_manager.h
  src/ray/raylet/scheduling/cluster_lease_manager.cc
  src/ray/raylet/scheduling/cluster_lease_manager.h
  src/ray/raylet/scheduling/local_lease_manager_interface.h
  src/ray/raylet/scheduling/scheduler_resource_reporter.cc
  src/ray/raylet/scheduling/scheduler_resource_reporter.h
  src/ray/raylet/scheduling/scheduler_stats.cc
  src/ray/raylet/tests/local_lease_manager_test.cc
Due: check-cpp-files-inclusion

fix
  src/ray/raylet/local_lease_manager.cc
Due: check-cpp-files-inclusion

wip
  rllib/utils/metrics/metrics_logger.py
  rllib/utils/metrics/stats/base.py
  rllib/utils/metrics/stats/item_series.py
  rllib/utils/metrics/stats/mean.py
  rllib/utils/metrics/stats/percentiles.py
  rllib/utils/metrics/stats/series.py
  rllib/utils/metrics/stats/sum.py
  rllib/utils/metrics/tests/test_metrics_logger.py
  rllib/utils/metrics/tests/test_stats.py
Due: docstyle, check-import-order

ci tests for transcriptions api and docs for transcription
  python/ray/llm/tests/serve/conftest.py
  python/ray/llm/tests/serve/cpu/deployments/llm/test_llm_engine.py
  python/ray/llm/tests/serve/cpu/deployments/llm/test_llm_server.py
  python/ray/llm/tests/serve/mocks/mock_vllm_engine.py
  python/ray/llm/tests/serve/utils/testing_utils.py
Due: docstyle, check-import-order

naming fixes
  python/ray/llm/_internal/serve/core/ingress/ingress.py
  python/ray/llm/_internal/serve/core/server/llm_server.py
  python/ray/llm/_internal/serve/engines/vllm/vllm_engine.py
Due: docstyle, check-import-order

enum fix
  python/ray/llm/_internal/serve/core/ingress/ingress.py
Due: docstyle, check-import-order

request_id added in transcription request
  python/ray/llm/_internal/serve/core/configs/openai_api_models.py
Due: docstyle, check-import-order

lora prefix updates and code formatting
  python/ray/llm/_internal/serve/core/configs/openai_api_models.py
  python/ray/llm/tests/serve/mocks/mock_vllm_engine.py
  python/ray/llm/tests/serve/utils/testing_utils.py
Due: docstyle, check-import-order

modified docs for ci tests and added release test
  doc/source/llm/doc_code/serve/transcription/transcription_config_example.yaml
  doc/source/llm/doc_code/serve/transcription/transcription_example.py
  doc/source/llm/doc_code/serve/transcription/transcription_yaml_config_example.py
  python/ray/llm/_internal/serve/core/configs/openai_api_models.py
  python/ray/llm/_internal/serve/core/ingress/ingress.py
  release/llm_tests/serve/test_llm_serve_integration.py
Due: docstyle, check-import-order

type error fix
  python/ray/llm/tests/serve/conftest.py
Due: docstyle, check-import-order

initial commit for transcriptions api integration
  python/ray/llm/_internal/serve/core/configs/openai_api_models.py
  python/ray/llm/_internal/serve/core/ingress/ingress.py
  python/ray/llm/_internal/serve/core/server/llm_server.py
  python/ray/llm/_internal/serve/engines/vllm/vllm_engine.py
  python/ray/serve/llm/openai_api_models.py
Due: docstyle, check-import-order

router fix
  python/ray/llm/_internal/serve/core/ingress/ingress.py
Due: docstyle, check-import-order

router updates
  python/ray/llm/_internal/serve/core/ingress/ingress.py
Due: docstyle, check-import-order

naming updates
  python/ray/llm/tests/serve/cpu/deployments/llm/test_llm_engine.py
  python/ray/llm/tests/serve/mocks/mock_vllm_engine.py
Due: docstyle, check-import-order

formatting updated and added engine transcription function def
  python/ray/llm/_internal/serve/core/configs/openai_api_models.py
  python/ray/llm/_internal/serve/core/engine/protocol.py
  python/ray/llm/_internal/serve/core/ingress/ingress.py
  python/ray/llm/_internal/serve/core/server/llm_server.py
  python/ray/llm/_internal/serve/engines/vllm/vllm_engine.py
  python/ray/llm/tests/serve/cpu/deployments/llm/test_llm_server.py
Due: docstyle, check-import-order

create_transcription and release test fixes
  python/ray/llm/_internal/serve/engines/vllm/vllm_engine.py
  release/llm_tests/serve/test_llm_serve_integration.py
Due: docstyle, check-import-order

lock updates
  python/deplocks/llm/rayllm_py311_cpu.lock
  python/deplocks/llm/rayllm_py311_cu128.lock
  python/deplocks/llm/rayllm_test_py311_cpu.lock
  python/deplocks/llm/rayllm_test_py311_cu128.lock
Due: none

docs fix
  doc/source/serve/llm/user-guides/vllm-compatibility.md
Due: none

doc updates
  doc/source/serve/llm/user-guides/vllm-compatibility.md
Due: none

requirements updates
  python/requirements/llm/llm-requirements.txt
  python/setup.py
Due: docstyle, check-import-order

enum fixes
  python/ray/llm/_internal/serve/core/ingress/ingress.py
Due: docstyle, check-import-order

updates
  python/ray/llm/_internal/serve/core/engine/protocol.py
Due: docstyle, check-import-order

doc fix
  doc/source/serve/llm/user-guides/vllm-compatibility.md
Due: none

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)
