Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

[RLlib] Add setters to MultiAgentEpisode (#56585)
  rllib/env/multi_agent_episode.py
  rllib/env/tests/test_multi_agent_episode.py
Due: docstyle, check-import-order

[data][dashboard] Add initial data iterator metrics to dashboard attempt 2 (#57531)
  python/ray/dashboard/modules/metrics/dashboards/data_dashboard_panels.py
  python/ray/data/_internal/stats.py
Due: docstyle, check-import-order

[Core] Abstract reference counter behind interface for more defined API (#57177)
  src/mock/ray/core_worker/reference_counter.h
  src/ray/core_worker/BUILD.bazel
  src/ray/core_worker/actor_manager.h
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker.h
  src/ray/core_worker/future_resolver.h
  src/ray/core_worker/object_recovery_manager.h
  src/ray/core_worker/reference_counter.cc
  src/ray/core_worker/reference_counter.h
  src/ray/core_worker/reference_counter_interface.h
  src/ray/core_worker/store_provider/memory_store/memory_store.cc
  src/ray/core_worker/store_provider/memory_store/memory_store.h
  src/ray/core_worker/store_provider/plasma_store_provider.cc
  src/ray/core_worker/store_provider/plasma_store_provider.h
  src/ray/core_worker/task_manager.cc
  src/ray/core_worker/task_manager.h
  src/ray/core_worker/tests/BUILD.bazel
  src/ray/core_worker/tests/core_worker_test.cc
  src/ray/core_worker/tests/object_recovery_manager_test.cc
  src/ray/core_worker/tests/reference_counter_test.cc
  src/ray/core_worker/tests/task_manager_test.cc
Due: check-cpp-files-inclusion

[rllib] Fix footsies install (#57106)
  rllib/examples/envs/classes/multi_agent/footsies/game/footsies_binary.py
Due: docstyle, check-import-order

[train] Fix exception queue race condition in ThreadRunner (#57249)
  python/ray/train/v2/_internal/execution/worker_group/thread_runner.py
  python/ray/train/v2/tests/test_thread_runner.py
Due: docstyle, check-import-order

[ci] kick forge (#57588)
  ci/docker/forge.Dockerfile
Due: none

[core][rdt] Fix deregisterMem with none when using nixl (#57603)
  python/ray/experimental/collective/nixl_tensor_transport.py
Due: docstyle, check-import-order

[core] Make WaitForActorRefDeleted RPC Fault Tolerant (#57116)
  python/ray/tests/test_core_worker_fault_tolerance.py
  src/mock/ray/core_worker/reference_counter.h
  src/mock/ray/rpc/worker/core_worker_client.h
  src/ray/core_worker/actor_manager.cc
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/reference_counter.cc
  src/ray/core_worker/reference_counter.h
  src/ray/core_worker/reference_counter_interface.h
  src/ray/core_worker/tests/core_worker_test.cc
  src/ray/core_worker_rpc_client/core_worker_client.h
  src/ray/core_worker_rpc_client/core_worker_client_interface.h
  src/ray/core_worker_rpc_client/fake_core_worker_client.h
  src/ray/gcs/gcs_actor_manager.cc
  src/ray/gcs/gcs_actor_manager.h
  src/ray/gcs/tests/export_api/gcs_actor_manager_export_event_test.cc
  src/ray/gcs/tests/gcs_actor_manager_test.cc
  src/ray/gcs_rpc_client/tests/gcs_client_test.cc
  src/ray/protobuf/core_worker.proto
  src/ray/protobuf/node_manager.proto
  src/ray/protobuf/object_manager.proto
  src/ray/pubsub/subscriber_interface.h
Due: docstyle, check-import-order, check-cpp-files-inclusion

[serve] Prevent rechunking during streaming tests (#57592)
  python/ray/serve/tests/test_streaming_response.py
Due: docstyle, check-import-order

[Core] [Azure] Adding a test cluster config for azure and minor updates to launch_and_validate_cluster.py (#55719)
  python/ray/autoscaler/azure/tests/azure-cluster.yaml
  python/ray/autoscaler/launch_and_verify_cluster.py
Due: docstyle, check-import-order

[train] update trainv2 flaky gpu test partitioning (#57602)
  .buildkite/ml.rayci.yml
Due: none

[core][otel] print a warning if metric name contains the ":" character (#57267)
  python/ray/util/metrics.py
Due: docstyle, check-import-order

[release] Annotate images built on release pipeline (#57277)
  .buildkite/release/build.rayci.yml
  ci/ray_ci/anyscale_docker_container.py
  release/ray_release/byod/build.py
  release/ray_release/custom_byod_build_init_helper.py
  release/ray_release/tests/test_util.py
Due: docstyle, check-import-order

[Core] Fix autoscaler_aws release test (#57275)
  release/autoscaling_tests/run.py
  release/autoscaling_tests/test_core.py
  release/nightly_tests/stress_tests/test_threaded_actors.py
Due: docstyle, check-import-order

[Data] Fixing prefetch loop to avoid being blocked on the block being fetched (#57613)
  python/ray/data/_internal/block_batching/util.py
  python/ray/data/_internal/stats.py
Due: docstyle, check-import-order

Add pydantic model to maintain compatibility across reporter_agent and node_head (#56726)
  python/ray/dashboard/modules/job/tests/test_job_agent.py
  python/ray/dashboard/modules/node/node_head.py
  python/ray/dashboard/modules/reporter/reporter_agent.py
  python/ray/dashboard/modules/reporter/reporter_models.py
  python/ray/dashboard/modules/reporter/tests/test_reporter.py
Due: docstyle, check-import-order

[ci][deps] checking multimodal inference release tests (#57580)
  .buildkite/dependencies.rayci.yml
Due: none

fix num oom'd tasks metric not working (#57611)
  python/ray/dashboard/modules/metrics/dashboards/default_dashboard_panels.py
Due: docstyle, check-import-order

[Data] Split `test_map` (#57551)
  python/ray/data/BUILD.bazel
  python/ray/data/tests/test_map.py
  python/ray/data/tests/test_map_batches.py
  python/ray/data/tests/test_with_column.py
Due: docstyle, check-import-order

[Train][release test] Migrating air_example_dolly_v2_lightning_fsdp_finetuning and air_example_gptj_deepspeed_fine_tuning release tests to train v2 (#57046)
  doc/source/train/examples/deepspeed/gptj_deepspeed_fine_tuning.ipynb
  doc/source/train/examples/lightning/dolly_lightning_fsdp_finetuning.ipynb
  release/air_examples/dolly_v2_lightning_fsdp_finetuning/dolly_v2_fsdp_compute_aws.yaml
  release/air_examples/gptj_deepspeed_finetuning/gptj_deepspeed_compute_aws.yaml
  release/air_examples/gptj_deepspeed_finetuning/gptj_deepspeed_compute_gce.yaml
  release/release_tests.yaml
Due: none

[release] Add Azure dependencies to release test pipeline (#57537)
  release/requirements.txt
  release/requirements_buildkite.in
  release/requirements_buildkite.txt
  release/setup.py
Due: docstyle, check-import-order

[serve][LLM] Enable cross-node placement groups for serve.llm (#56980)
  doc/source/serve/llm/quick-start.rst
  python/ray/llm/_internal/serve/configs/server_models.py
  python/ray/llm/_internal/serve/deployments/llm/vllm/vllm_engine.py
  python/ray/llm/_internal/serve/deployments/llm/vllm/vllm_models.py
  python/ray/llm/tests/serve/cpu/configs/test_multi_node_placement_groups.py
  python/ray/llm/tests/serve/cpu/deployments/llm/test_llm_server.py
  python/ray/llm/tests/serve/cpu/deployments/routers/test_builder_ingress.py
  python/ray/llm/tests/serve/gpu/deployments/llm/vllm/test_vllm_engine_gpu.py
  release/llm_tests/serve/configs/serve_llama_3dot2_1b_s3.yaml
  release/llm_tests/serve/llm_2x_4xl4.yaml
  release/llm_tests/serve/test_llm_serve_multi_node_integration.py
  release/release_tests.yaml
Due: docstyle, check-import-order

[release] autoscaler & runtime core release tests on py3.10 (#57049)
  release/release_tests.yaml
Due: none

[train] Raise errors when mixing V1 and V2 API usage (#57570)
  python/ray/air/tests/test_air_usage.py
  python/ray/train/base_trainer.py
  python/ray/train/tests/test_api_migrations.py
  python/ray/train/v2/api/config.py
  python/ray/train/v2/api/data_parallel_trainer.py
  python/ray/train/v2/tests/test_data_parallel_trainer.py
  python/ray/train/v2/tests/test_telemetry.py
  python/ray/train/v2/tests/test_v2_api.py
Due: docstyle, check-import-order

[Data] - Add to_pyarrow() to Expr (#57271)
  python/ray/data/expressions.py
  python/ray/data/tests/test_expressions.py
Due: docstyle, check-import-order

[release] allowing post_build_script or python_depsets (#57122)
  release/hello_world_tests/test.sh
  release/ray_release/byod/build.py
  release/ray_release/byod/byod.custom.Dockerfile
  release/ray_release/byod/dummy.sh
  release/ray_release/custom_byod_build_init_helper.py
  release/ray_release/scripts/custom_byod_build.py
  release/ray_release/test.py
  release/ray_release/tests/test_custom_byod_build.py
  release/release_tests.yaml
Due: docstyle, check-import-order

[Core] [Azure] skip managed identity auth for Azure when not running on Azure (#57134)
  python/ray/_common/tests/test_usage_stats.py
  python/ray/_common/usage/usage_lib.py
  python/ray/autoscaler/_private/_azure/node_provider.py
Due: docstyle, check-import-order

call reconfigure on rank changes (#57091)
  python/ray/serve/_private/local_testing_mode.py
  python/ray/serve/_private/replica.py
  python/ray/serve/tests/test_replica_ranks.py
  python/ray/serve/tests/unit/test_user_callable_wrapper.py
Due: docstyle, check-import-order

[core] Remove `_metadata` option in actor & task decorators (#57211)
  ci/lint/pydoclint-baseline.txt
  python/ray/_common/ray_option_utils.py
  python/ray/_common/tests/test_ray_option_utils.py
  python/ray/_private/worker.py
  python/ray/actor.py
  python/ray/remote_function.py
  python/ray/tests/test_basic.py
Due: docstyle, check-import-order

Resolving Circular Imports in Ray Train (#56921)
  .pre-commit-config.yaml
  python/ray/train/lint/README.md
  python/ray/train/lint/check_circular_imports.py
  python/ray/train/lint/images/ErrorPath.png
  python/ray/train/lint/images/Linter.png
  python/ray/train/lint/images/SuccessPath.png
  python/ray/train/v2/BUILD.bazel
  python/ray/train/v2/horovod/__init__.py
  python/ray/train/v2/tests/test_circular_import_linter.py
  python/ray/train/v2/tests/test_circular_imports.py
  python/ray/train/v2/torch/__init__.py
Due: docstyle, check-import-order

Add autoscaling metrics aggregation function (#56871)
  doc/source/serve/api/index.md
  python/ray/serve/_private/autoscaling_state.py
  python/ray/serve/_private/config.py
  python/ray/serve/_private/metrics_utils.py
  python/ray/serve/config.py
  python/ray/serve/tests/test_autoscaling_policy.py
  python/ray/serve/tests/test_controller.py
  python/ray/serve/tests/test_deploy_2.py
  python/ray/serve/tests/test_deploy_app_2.py
  python/ray/serve/tests/unit/test_metrics_utils.py
  src/ray/protobuf/serve.proto
Due: docstyle, check-import-order

[serve] Change test_controller_recovery logging config condition (#57568)
  python/ray/serve/tests/test_controller_recovery.py
Due: docstyle, check-import-order

[ci] kicking manylinux docker file too (#57595)
  ci/docker/manylinux.Dockerfile
Due: none

[train][data] Enable Train v2 for ray/air/tests (#57534)
  ci/lint/pydoclint-baseline.txt
  python/ray/air/BUILD.bazel
  python/ray/air/examples/custom_trainer.py
  python/ray/air/tests/test_api.py
  python/ray/air/tests/test_configs.py
  python/ray/air/tests/test_remote_storage_hdfs.py
  python/ray/air/tests/test_tracebacks.py
  python/ray/air/tests/test_util_torch_dist.py
  python/ray/air/util/check_ingest.py
  python/ray/air/util/torch_dist.py
  python/ray/data/BUILD.bazel
  python/ray/data/tests/test_arrow_type_conversion.py
  python/ray/data/tests/test_data_batch_conversion.py
  python/ray/data/tests/test_object_extension.py
  python/ray/data/tests/test_tensor_extension.py
  python/ray/data/tests/test_torch_tensor_utils.py
  python/ray/train/util/__init__.py
  python/ray/train/v2/BUILD.bazel
  python/ray/train/v2/api/config.py
  python/ray/train/v2/tests/test_config.py
  python/ray/train/v2/tests/test_serialization.py
  python/ray/train/v2/tests/test_v2_api.py
  python/ray/tune/BUILD.bazel
Due: docstyle, check-import-order

[release] Accommodate multiple filters with same attribute (#57577)
  release/ray_release/buildkite/filter.py
  release/ray_release/buildkite/settings.py
  release/ray_release/tests/test_buildkite.py
Due: docstyle, check-import-order

[release] Remove duplicate list_java_files func (#57582)
  ci/ray_ci/automation/update_version_lib.py
Due: docstyle, check-import-order

Add ray docs for custom autoscaling in serve (#57600)
  doc/source/serve/advanced-guides/advanced-autoscaling.md
  doc/source/serve/api/index.md
  doc/source/serve/doc_code/autoscaling_policy.py
  doc/source/serve/doc_code/custom_metrics_autoscaling.py
  doc/source/serve/doc_code/scheduled_batch_processing.py
  python/ray/serve/_private/autoscaling_state.py
  python/ray/serve/autoscaling_policy.py
  python/ray/serve/config.py
  python/ray/serve/tests/test_autoscaling_policy.py
  python/ray/serve/tests/unit/test_autoscaling_policy.py
Due: docstyle, check-import-order

[release] Upload & download blobs from Azure (#57540)
  release/BUILD.bazel
  release/ray_release/buildkite/step.py
  release/ray_release/command_runner/_anyscale_job_wrapper.py
  release/ray_release/command_runner/anyscale_job_runner.py
  release/ray_release/file_manager/job_file_manager.py
  release/ray_release/glue.py
  release/ray_release/test.py
  release/ray_release/tests/test_util.py
  release/ray_release/util.py
Due: docstyle, check-import-order

Add perf metrics for 2.50.0 (#57585)
  release/perf_metrics/benchmarks/many_actors.json
  release/perf_metrics/benchmarks/many_nodes.json
  release/perf_metrics/benchmarks/many_pgs.json
  release/perf_metrics/benchmarks/many_tasks.json
  release/perf_metrics/metadata.json
  release/perf_metrics/microbenchmark.json
  release/perf_metrics/scalability/object_store.json
  release/perf_metrics/scalability/single_node.json
  release/perf_metrics/stress_tests/stress_test_dead_actors.json
  release/perf_metrics/stress_tests/stress_test_many_tasks.json
  release/perf_metrics/stress_tests/stress_test_placement_group.json
Due: none

Introduce sub-tabs with full Grafana dashboard embeds on Metrics tab (#57561)
  python/ray/dashboard/client/src/pages/metrics/Metrics.component.test.tsx
  python/ray/dashboard/client/src/pages/metrics/Metrics.tsx
Due: none

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)
