Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)

Adding proxy service handler to remove funky rpc_address modification
  src/ray/core_worker/BUILD.bazel
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker.h
  src/ray/core_worker/core_worker_process.cc
  src/ray/core_worker/core_worker_process.h
  src/ray/core_worker/core_worker_service_handler_proxy.h
  src/ray/core_worker/future_resolver.h
  src/ray/core_worker/lease_policy.h
  src/ray/core_worker/object_recovery_manager.h
  src/ray/core_worker/reference_count.h
  src/ray/core_worker/test/normal_task_submitter_test.cc
  src/ray/core_worker/transport/normal_task_submitter.h
Due: check-cpp-files-inclusion

feat: reverted fixes Signed-off-by: Omkar omkar@anyscale.com
  python/ray/serve/tests/test_cli.py
  python/ray/serve/tests/test_cli_2.py
Due: docstyle, check-import-order

[data] Fix calculation in log for resource manager
  python/ray/data/_internal/execution/resource_manager.py
Due: docstyle, check-import-order

Pre-commit
  python/ray/data/_internal/execution/resource_manager.py
Due: docstyle, check-import-order

[ci] do not clear user's `.bazelrc` file (#54867)
  ci/env/install-bazel.sh
Due: none

Update python/ray/data/_internal/execution/resource_manager.py
  python/ray/data/_internal/execution/resource_manager.py
Due: docstyle, check-import-order

fix tests
  python/ray/serve/schema.py
  python/ray/serve/task_consumer.py
  python/ray/serve/tests/test_task_consumer.py
Due: docstyle, check-import-order

cleanup
  python/ray/_raylet.pyx
  python/ray/includes/common.pxd
  src/ray/common/status.h
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/store_provider/plasma_store_provider.cc
  src/ray/core_worker/transport/task_receiver.cc
  src/ray/object_manager/plasma/client.cc
  src/ray/object_manager/plasma/client.h
  src/ray/object_manager/plasma/create_request_queue.cc
Due: check-cpp-files-inclusion

Comments
  python/ray/tests/test_runtime_env.py
Due: docstyle, check-import-order

fix
  python/ray/experimental/gpu_object_manager/gpu_object_store.py
Due: docstyle, check-import-order

Fix test
  python/ray/autoscaler/v2/tests/test_sdk.py
Due: docstyle, check-import-order

fix
  python/ray/_private/serialization.py
  python/ray/experimental/gpu_object_manager/gpu_object_store.py
Due: docstyle, check-import-order

Update doc/source/cluster/kubernetes/examples/rayserve-deepseek-example.md
  doc/source/cluster/kubernetes/examples/rayserve-deepseek-example.md
Due: none

feat: reverted fixes Signed-off-by: Omkar omkar@anyscale.com
  python/ray/serve/tests/test_controller_recovery.py
Due: docstyle, check-import-order

update
  python/ray/tests/BUILD
Due: none

Update python/ray/serve/tests/test_cli.py
  python/ray/serve/tests/test_cli.py
Due: docstyle, check-import-order

first pass of separate sync/async approaches (edward's suggestion)
  python/ray/llm/_internal/serve/deployments/llm/llm_server.py
Due: docstyle, check-import-order

feat: reverted fixes Signed-off-by: Omkar omkar@anyscale.com
  python/ray/serve/tests/test_replica_request_context.py
  python/ray/serve/tests/test_replica_sync_methods.py
Due: docstyle, check-import-order

Update python/ray/serve/tests/test_replica_request_context.py
  python/ray/serve/tests/test_replica_request_context.py
Due: docstyle, check-import-order

Update python/ray/serve/tests/test_replica_sync_methods.py
  python/ray/serve/tests/test_replica_sync_methods.py
Due: docstyle, check-import-order

minor changes
  src/ray/stats/tests/metric_with_open_telemetry_test.cc
Due: check-cpp-files-inclusion

style changes
  src/ray/stats/tests/metric_with_open_telemetry_test.cc
Due: check-cpp-files-inclusion

[wheel] use pkg_files to capture non-proto generated files
  BUILD.bazel
Due: none

remove [] from ip
  BUILD.bazel
  python/ray/_private/network_utils.py
  python/ray/_private/node.py
  python/ray/_private/services.py
  python/ray/_private/utils.py
  python/ray/_raylet.pyx
  python/ray/autoscaler/_private/monitor.py
  python/ray/autoscaler/v2/monitor.py
  python/ray/dashboard/http_server_head.py
  python/ray/dashboard/modules/reporter/reporter_agent.py
  python/ray/dashboard/utils.py
  python/ray/includes/common.pxi
  python/ray/includes/gcs_client.pxi
  python/ray/scripts/scripts.py
  python/ray/util/collective/collective_group/gloo_collective_group.py
  python/ray/util/spark/cluster_init.py
  python/ray/util/state/state_cli.py
  src/ray/common/network_util.cc
  src/ray/common/network_util.h
  src/ray/raylet/node_manager.cc
  src/ray/rpc/grpc_client.h
  src/ray/util/util.h
Due: docstyle, check-import-order, check-cpp-files-inclusion

[Doc] Fix newline character display issue in data-internals
  doc/source/data/data-internals.rst
Due: none

test
  python/ray/serve/_private/request_router/request_router.py
Due: docstyle, check-import-order

solve comments
  doc/source/cluster/kubernetes/examples/rayserve-deepseek-example.md
Due: none

Don't push past map_batches
  python/ray/data/_internal/logical/rules/limit_pushdown.py
  python/ray/data/tests/test_execution_optimizer.py
  python/ray/data/tests/test_transform_pyarrow.py
Due: docstyle, check-import-order

refactor tests
  src/ray/stats/tests/metric_with_open_telemetry_test.cc
  src/ray/telemetry/open_telemetry_metric_recorder.h
Due: check-cpp-files-inclusion

style
  src/ray/stats/tests/metric_with_open_telemetry_test.cc
Due: check-cpp-files-inclusion

wip
  rllib/env/multi_agent_env_runner.py
  rllib/env/tests/test_multi_agent_env_runner.py
Due: docstyle, check-import-order

fix code issues
  src/ray/stats/tests/metric_with_open_telemetry_test.cc
Due: check-cpp-files-inclusion

Add __ray_cleanup__ method for deterministic actor resource cleanup
  python/ray/_raylet.pyx
  python/ray/tests/test_actor_failures.py
Due: docstyle, check-import-order

[core] Ensure Actor __del__ method invoked on Actor destruction
  python/ray/_raylet.pyx
  python/ray/includes/libcoreworker.pxd
  python/ray/tests/test_actor_failures.py
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker.h
Due: docstyle, check-import-order, check-cpp-files-inclusion
