Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

check-train-circular-imports:
  name: Check Ray Train circular imports
  entry: python python/ray/train/lint/check_circular_imports.py
  language: system
  pass_filenames: false
  args:
  - --patch_dir
  - ray/train/v2

fix review
  python/ray/data/_internal/datasource/parquet_datasource.py
  python/ray/data/_internal/logical/operators/read_operator.py
Due: docstyle, check-import-order

fix review
  python/ray/data/_internal/datasource/parquet_datasource.py
Due: docstyle, check-import-order

[Data] Remove dead code (#59627)
  python/ray/data/util/data_batch_conversion.py
  python/ray/data/util/torch_utils.py
Due: docstyle, check-import-order

Initial commit
  python/requirements/ml/data-test-requirements.txt
Due: none

Comment out Mongo dependencies
  python/requirements/ml/data-test-requirements.txt
Due: none

Update files
  python/requirements/ml/data-test-requirements.txt
Due: none

Update tensorflow
  python/requirements/ml/data-test-requirements.txt
Due: none

Fix TaskContext for upstream_map_fn
  doc/source/data/api/expressions.rst
  python/ray/data/_internal/planner/plan_expression/random_impl.py
  python/ray/data/tests/test_nullary_expression.py
Due: docstyle, check-import-order

[Data] Add random() expression
  doc/source/data/api/expressions.rst
  python/ray/data/BUILD.bazel
  python/ray/data/_internal/datasource/iceberg_datasource.py
  python/ray/data/_internal/planner/exchange/shuffle_task_spec.py
  python/ray/data/_internal/planner/plan_expression/expression_evaluator.py
  python/ray/data/_internal/planner/plan_expression/expression_visitors.py
  python/ray/data/_internal/planner/plan_expression/random_impl.py
  python/ray/data/expressions.py
  python/ray/data/tests/test_nullary_expression.py
Due: docstyle, check-import-order

Address cursor comments
  python/ray/data/_internal/planner/plan_expression/expression_evaluator.py
  python/ray/data/_internal/planner/plan_expression/nullary_impl.py
  python/ray/data/expressions.py
Due: docstyle, check-import-order

fix ut
  python/ray/data/read_api.py
Due: docstyle, check-import-order

[rllib] add ormsgpack in python/requirements.txt
  python/deplocks/llm/ray_py311_cpu.lock
  python/deplocks/llm/ray_py311_cu128.lock
  python/deplocks/llm/ray_test_py311_cpu.lock
  python/deplocks/llm/ray_test_py311_cu128.lock
  python/deplocks/llm/rayllm_py311_cpu.lock
  python/deplocks/llm/rayllm_py311_cu128.lock
  python/deplocks/llm/rayllm_subset_py311_cu128.lock
  python/deplocks/llm/rayllm_test_py311_cpu.lock
  python/deplocks/llm/rayllm_test_py311_cu128.lock
  python/requirements.txt
  python/requirements_compiled.txt
  python/setup.py
  release/ray_release/byod/llm_batch/llm_batch_single_node_benchmark_py311_cu128.lock
Due: docstyle, check-import-order

fix review
  python/ray/data/dataset.py
Due: docstyle, check-import-order

downgrading pandas for data tests
  ci/docker/data.build.Dockerfile
  python/requirements/ml/tune-test-requirements.txt
  python/requirements/test-requirements.txt
  python/requirements_compiled.txt
  rllib/utils/tf_utils.py
Due: docstyle, check-import-order

fix conflicts
  bazel/ray_deps_setup.bzl
Due: none

add missing grpc dependency
  src/ray/pubsub/BUILD.bazel
Due: none

[core] add missing grpc dependency
  src/ray/pubsub/BUILD.bazel
Due: none

.
  WORKSPACE
Due: none

feat: remove constructor in ClusterAutoscaler
  python/ray/data/_internal/cluster_autoscaler/__init__.py
  python/ray/data/_internal/cluster_autoscaler/base_cluster_autoscaler.py
  python/ray/data/_internal/cluster_autoscaler/default_cluster_autoscaler.py
  python/ray/data/_internal/cluster_autoscaler/default_cluster_autoscaler_v2.py
  python/ray/data/tests/test_default_cluster_autoscaler_v2.py
Due: docstyle, check-import-order

fix: remove unused resource_manager
  python/ray/data/_internal/cluster_autoscaler/__init__.py
  python/ray/data/_internal/cluster_autoscaler/default_cluster_autoscaler.py
  python/ray/data/tests/test_autoscaler.py
Due: docstyle, check-import-order

[Data] Update `read_lance` doc (#59673)
  python/ray/data/read_api.py
Due: docstyle, check-import-order

[data] Remove dead FastFileMetadataProvider code (#59027)
  doc/source/data/api/input_output.rst
  python/ray/data/_internal/datasource/image_datasource.py
  python/ray/data/datasource/__init__.py
  python/ray/data/datasource/file_meta_provider.py
  python/ray/data/tests/test_binary.py
  python/ray/data/tests/test_csv.py
  python/ray/data/tests/test_image.py
  python/ray/data/tests/test_json.py
  python/ray/data/tests/test_metadata_provider.py
  python/ray/data/tests/test_numpy.py
  python/ray/data/tests/test_text.py
Due: docstyle, check-import-order

update
  python/ray/data/_internal/execution/operators/zip_operator.py
  test_zip.py
Due: docstyle, check-import-order

[Data] Remove constructor from ClusterAutoscaler base class (#59733)
  python/ray/data/_internal/cluster_autoscaler/__init__.py
  python/ray/data/_internal/cluster_autoscaler/base_cluster_autoscaler.py
  python/ray/data/_internal/cluster_autoscaler/default_cluster_autoscaler.py
  python/ray/data/_internal/cluster_autoscaler/default_cluster_autoscaler_v2.py
  python/ray/data/tests/test_autoscaler.py
  python/ray/data/tests/test_default_cluster_autoscaler_v2.py
Due: docstyle, check-import-order

[CLI]: add `ray kill-actor --name/--namespace` for force/graceful shutdown ([#59573](https://github.com/muyihao/ray/issues/59573))
  python/ray/scripts/scripts.py
  python/ray/tests/test_kill_actor_cli.py
Due: docstyle, check-import-order

chore: reformat code
  python/ray/tests/test_client_kill_actor.py
Due: docstyle, check-import-order

chore: reformat code
  python/ray/scripts/scripts.py
  python/ray/tests/BUILD.bazel
  python/ray/tests/test_client_kill_actor.py
Due: docstyle, check-import-order

revert serialization change
  python/ray/_private/serialization.py
Due: docstyle, check-import-order

make minimize ray get metadata in zip op
  python/ray/data/_internal/execution/operators/zip_operator.py
  python/ray/data/block.py
  python/ray/data/tests/unit/test_block.py
Due: docstyle, check-import-order

put some tests in test_sort.py into another two files - test_push_based_shuffle.py and test_shuffle_diagnostics.py to enhance CI parallelization
  python/ray/data/tests/test_push_based_shuffle.py
  python/ray/data/tests/test_shuffle_diagnostics.py
  python/ray/data/tests/test_sort.py
Due: docstyle, check-import-order

modify bazel build file to include the two new python test files
  python/ray/data/BUILD.bazel
Due: none

Replace startup token with worker id
  cpp/src/ray/config_internal.cc
  cpp/src/ray/config_internal.h
  cpp/src/ray/util/process_helper.cc
  java/performance_test/src/main/java/io/ray/performancetest/test/ActorPerformanceTestBase.java
  java/runtime/src/main/java/io/ray/runtime/RayNativeRuntime.java
  java/runtime/src/main/java/io/ray/runtime/config/RayConfig.java
  java/runtime/src/main/resources/ray.default.conf
  java/test.sh
  java/test/src/main/java/io/ray/test/ExitActorTest2.java
  java/test/src/main/java/io/ray/test/FailureTest.java
  java/test/src/main/java/io/ray/test/JobConfigTest.java
  java/test/src/main/java/io/ray/test/KillActorTest.java
  python/ray/_private/worker.py
  python/ray/_private/workers/default_worker.py
  python/ray/_raylet.pyx
  python/ray/includes/libcoreworker.pxd
  src/ray/core_worker/core_worker_options.h
  src/ray/core_worker/core_worker_process.cc
  src/ray/core_worker/lib/java/io_ray_runtime_RayNativeRuntime.cc
  src/ray/core_worker/lib/java/io_ray_runtime_RayNativeRuntime.h
  src/ray/flatbuffers/node_manager.fbs
  src/ray/raylet/node_manager.cc
  src/ray/raylet/node_manager.h
  src/ray/raylet/tests/local_lease_manager_test.cc
  src/ray/raylet/tests/util.h
  src/ray/raylet/tests/worker_pool_test.cc
  src/ray/raylet/worker.cc
  src/ray/raylet/worker.h
  src/ray/raylet/worker_interface.h
  src/ray/raylet/worker_pool.cc
  src/ray/raylet/worker_pool.h
  src/ray/raylet_ipc_client/fake_raylet_ipc_client.h
  src/ray/raylet_ipc_client/raylet_ipc_client.cc
  src/ray/raylet_ipc_client/raylet_ipc_client.h
  src/ray/raylet_ipc_client/raylet_ipc_client_interface.h
Due: docstyle, check-import-order, check-cpp-files-inclusion

[core] add missing grpc dependency (#59731)
  src/ray/pubsub/BUILD.bazel
Due: none

[Data] Fix lambda syntax in AggregateFnV2 documentation example
  doc/source/data/aggregating-data.rst
Due: none

[Data] Improve AggregateFnV2 API usability with batch_format support
  doc/source/data/aggregating-data.rst
  python/ray/data/aggregate.py
Due: docstyle, check-import-order

[Data] Update expected output in AggregateFnV2 documentation example
  doc/source/data/aggregating-data.rst
Due: none

Fixes
  python/ray/data/tests/test_stats.py
Due: docstyle, check-import-order

lint
  src/ray/raylet/node_manager.cc
  src/ray/raylet/tests/worker_pool_test.cc
  src/ray/raylet/worker_pool.cc
Due: check-cpp-files-inclusion

lint
  java/test/src/main/java/io/ray/test/ExitActorTest2.java
  java/test/src/main/java/io/ray/test/FailureTest.java
  java/test/src/main/java/io/ray/test/KillActorTest.java
Due: none

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
