Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)

core(uv): Fix uv existence check
  python/ray/_private/runtime_env/uv.py
Due: docstyle, check-import-order

[Data] Fix assertion in zip shared blocks test
  python/ray/data/tests/test_zip.py
Due: docstyle, check-import-order

fix progress counter to include zombies in gone_procs
  python/ray/scripts/scripts.py
Due: docstyle, check-import-order

Fix double reporting sync_report_blocked_time
  release/train_tests/async_checkpointing_validation_benchmark/test_async_checkpointing_validation_benchmark.py
Due: docstyle, check-import-order

fixing python build arg
  ci/docker/doctest.build.Dockerfile
  ci/docker/doctest.build.wanda.yaml
Due: none

apt-get update
  ci/docker/doctest.build.Dockerfile
Due: none

more apt-get packages
  ci/docker/doctest.build.Dockerfile
Due: none

[serve] Evict per-deployment LongPollHost state on deployment delete
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/_private/long_poll.py
  python/ray/serve/tests/test_long_poll.py
Due: docstyle, check-import-order

[release test] move release_tests.json upload into custom_image_build_and_test_init
  .buildkite/release/custom-image-build-and-test-init.sh
  release/ray_release/scripts/custom_image_build_and_test_init.py
  release/ray_release/tests/test_custom_image_build_and_test_init.py
Due: docstyle, check-import-order

Fix type hint
  python/ray/train/v2/api/data_parallel_trainer.py
Due: docstyle, check-import-order, check-train-circular-imports

[serve] Trim verbose comments in LongPollHost leak fix
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/_private/long_poll.py
  python/ray/serve/tests/test_long_poll.py
Due: docstyle, check-import-order

drop implementation detail in test
  src/ray/object_manager/tests/pull_manager_test.cc
Due: check-cpp-files-inclusion

[serve] Add tracing support for Windows and enable test_tracing_utils
  python/ray/serve/tests/test_tracing_utils.py
Due: docstyle, check-import-order

[ci] Add generic extract_wanda_artifact tool (#62769)
  ci/ray_ci/automation/BUILD.bazel
  ci/ray_ci/automation/extract_wanda_artifact.py
  ci/ray_ci/automation/test_extract_wanda_artifact.py
Due: docstyle, check-import-order

[ci] Replace extract_wanda_wheels with extract_wanda_artifact (#62770)
  .buildkite/build.rayci.yml
  .buildkite/linux_aarch64.rayci.yml
  ci/ray_ci/automation/BUILD.bazel
  ci/ray_ci/automation/extract_wanda_wheels.py
Due: docstyle, check-import-order

[ci] Remove duplicate extract_wanda_artifact BUILD rules
  ci/ray_ci/automation/BUILD.bazel
Due: none

Fix type hint
  python/ray/train/v2/_internal/execution/local_mode/torch.py
Due: docstyle, check-import-order, check-train-circular-imports

updating depsets
  python/deplocks/ci/data-pyarrow-nightly-ci_depset_py3.10.lock
  python/deplocks/docs/doctest_depset_py3.10.lock
Due: none

Fix type hint
  python/ray/train/v2/_internal/execution/local_mode/torch.py
  python/ray/train/v2/_internal/execution/local_mode/utils.py
  python/ray/train/v2/api/data_parallel_trainer.py
Due: docstyle, check-import-order, check-train-circular-imports

merge master
  .bk.yaml
  .consult/deployment_status_flipping_analysis.html
  .consult/history.log
  .consult/longpoll_host_leak.html
  .consult/oom_analysis_table.html
  .consult/oom_analysis_table_23_14_35.html
  .consult/oom_analysis_table_23_39_45.html
  .consult/oom_analysis_worker_018924.html
Due: none

[Serve] Fix orphaned actors on controller crash during shutdown
  python/ray/serve/_private/application_state.py
  python/ray/serve/_private/controller.py
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/tests/test_shutdown.py
  python/ray/serve/tests/unit/test_application_state.py
  python/ray/serve/tests/unit/test_deployment_state.py
Due: docstyle, check-import-order

installing nightly pyarrow on top of nightly image
  ci/docker/data.build.Dockerfile
  ci/raydepsets/configs/ci_data.depsets.yaml
  python/deplocks/ci/data-pyarrow-nightly-ci_depset_py3.10.lock
  python/requirements/data/pyarrow-nightly.txt
Due: none

adding upgrade flag
  ci/docker/data.build.Dockerfile
Due: none

new pyarrow lock
  python/deplocks/ci/data-pyarrow-nightly-ci_depset_py3.10.lock
Due: none

[serve] Batch pending_clients_gauge updates in LongPollHost
  python/ray/serve/_private/long_poll.py
Due: docstyle, check-import-order

[ci] Remove duplicate extract_wanda_artifact BUILD rules (#62822)
  ci/ray_ci/automation/BUILD.bazel
Due: none

[Serve] Address PR review: Resources safety and scheduling types
  python/ray/serve/_private/deployment_scheduler.py
  python/ray/serve/tests/unit/test_deployment_scheduler.py
Due: docstyle, check-import-order

handle divide by zero
  python/ray/serve/_private/deployment_scheduler.py
  python/ray/serve/tests/unit/test_deployment_scheduler.py
Due: docstyle, check-import-order

[serve] deflake test_direct_ingress (#62780)
  python/ray/serve/tests/test_direct_ingress.py
Due: docstyle, check-import-order

fix type
  python/ray/serve/tests/unit/test_deployment_scheduler.py
Due: docstyle, check-import-order

remove unused func
  src/ray/object_manager/tests/pull_manager_test.cc
Due: check-cpp-files-inclusion

Add benchmark for low latency high throughput
  release/release_tests.yaml
  release/serve_tests/workloads/router_microbenchmark.py
Due: docstyle, check-import-order

Remove environment variable and timeout for get_allocated_resources
  python/ray/data/_internal/cluster_autoscaler/default_autoscaling_coordinator.py
  python/ray/data/_internal/cluster_autoscaler/default_cluster_autoscaler_v2.py
  python/ray/data/tests/test_autoscaling_coordinator.py
Due: docstyle, check-import-order

better naming
  src/ray/object_manager/pull_manager.cc
  src/ray/object_manager/pull_manager.h
Due: check-cpp-files-inclusion
