Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

check-train-circular-imports:
  name: Check Ray Train circular imports
  entry: python python/ray/train/lint/check_circular_imports.py
  language: system
  pass_filenames: false
  args:
  - --patch_dir
  - ray/train/v2

Fix clang-format violations in core_worker.h
  src/ray/core_worker/core_worker.h
Due: check-cpp-files-inclusion

add handler func
  python/ray/serve/_private/proxy.py
  python/ray/serve/_private/replica.py
Due: docstyle, check-import-order

[Data] Fixing output backpressure unblocking sequence to properly handle terminal ops (#60798)
  python/ray/data/_internal/execution/resource_manager.py
  python/ray/data/tests/test_resource_manager.py
Due: docstyle, check-import-order

remove file
  test_write_turbopuffer.py
Due: docstyle, check-import-order

Fix in rename cols
  python/ray/data/_internal/datasource/turbopuffer_datasink.py
Due: docstyle, check-import-order

Fix comprehensive clang-format violations across core_worker and task_spec files
  src/ray/common/task/task_spec.h
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker.h
Due: check-cpp-files-inclusion

Clean up
  python/ray/data/_internal/datasource/turbopuffer_datasink.py
Due: docstyle, check-import-order

[Docs][data.llm] Document max_tasks_in_flight_per_actor vs max_concurrent_batches (#60477)
  doc/source/data/doc_code/working-with-llms/basic_llm_example.py
  doc/source/data/working-with-llms.rst
  python/ray/llm/_internal/batch/processor/base.py
Due: docstyle, check-import-order

Extract two-phase commit pattern into TwoPhaseCommitMixin
  python/ray/data/_internal/datasource/flink_datasource.py
  python/ray/data/_internal/datasource/kafka_datasource.py
  python/ray/data/_internal/datasource/kinesis_datasource.py
  python/ray/data/_internal/datasource/streaming_utils.py
Due: docstyle, check-import-order

add import
  python/ray/includes/object_ref.pxi
Due: none

Fix compiler error in CI test
  src/ray/raylet/node_manager.cc
  src/ray/raylet/worker_killing_policy_group_by_owner.cc
Due: check-cpp-files-inclusion

Fix compilation errors: add std::string() conversions for string_view parameters
  src/ray/core_worker/core_worker.cc
Due: check-cpp-files-inclusion

[depset] uv upgrade and index update (#60341)
  WORKSPACE
  ci/raydepsets/configs/llm_release_tests.depsets.yaml
  ci/raydepsets/configs/rayimg.depsets.yaml
  ci/raydepsets/configs/rayllm.depsets.yaml
  ci/raydepsets/configs/release_multimodal_inference_benchmarks_tests.depsets.yaml
  ci/raydepsets/tests/test_cli.py
  python/deplocks/base_extra_testdeps/ray-llm-base_extra_testdeps_py3.11.lock
Due: docstyle, check-import-order

Fix clang-format violations: split long function call lines
  src/ray/core_worker/core_worker.cc
Due: check-cpp-files-inclusion

up
  python/ray/_raylet.pyx
Due: none

[Docs] Add missing testoutput and fix datetime format in expressions.rst (#60762)
  doc/source/data/api/expressions.rst
Due: none

Handle zarr v2 dimension separator
  python/ray/data/_internal/datasource/zarr_datasource.py
Due: docstyle, check-import-order

Add URLs for third-party library documentation
  python/ray/data/_internal/datasource/flink_datasource.py
  python/ray/data/_internal/datasource/kinesis_datasource.py
  python/ray/data/_internal/logical/operators/unbound_data_operator.py
Due: docstyle, check-import-order

[ci] refactor push_ray_image shared functions to image_tags_lib (#60793)
  ci/ray_ci/automation/BUILD.bazel
  ci/ray_ci/automation/image_tags_lib.py
  ci/ray_ci/automation/push_ray_image.py
  ci/ray_ci/automation/test_image_tags_lib.py
  ci/ray_ci/automation/test_push_ray_image.py
Due: docstyle, check-import-order

spilling peak and average
  release/train_tests/benchmark/ray_dataloader_factory.py
Due: docstyle, check-import-order

Add tests for zarr datasource
  python/ray/data/tests/datasource/test_zarr.py
Due: docstyle, check-import-order

Fix lint issues: add missing imports and remove code duplication
  python/ray/data/_internal/datasource/kafka_datasource.py
  python/ray/data/_internal/datasource/kinesis_datasource.py
  python/ray/data/_internal/datasource/streaming_utils.py
  python/ray/data/_internal/execution/operators/unbounded_data_operator.py
  python/ray/data/_internal/streaming/partition_coordinator.py
  python/ray/data/_internal/streaming/reader_actor.py
  python/ray/data/datasource/datasource.py
  python/ray/data/datasource/streaming_sink.py
  python/ray/data/tests/test_unbounded_data_operator.py
Due: docstyle, check-import-order

[Data] Fixing output backpressure unblocking sequence to properly handle terminal ops (#60808)
  python/ray/data/_internal/execution/resource_manager.py
  python/ray/data/tests/test_resource_manager.py
Due: docstyle, check-import-order

[Serve] skip fetching routing stats when not required
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/_private/replica.py
  python/ray/serve/tests/test_controller_recovery.py
Due: docstyle, check-import-order

[core] Add Actor Transformation Logic for Locally Loaded Classes (#60712)
  python/ray/_private/function_manager.py
Due: docstyle, check-import-order

[core] use AuthenticationValidator in Ray sync server (#60779)
  src/ray/ray_syncer/BUILD.bazel
  src/ray/ray_syncer/ray_syncer.cc
  src/ray/ray_syncer/ray_syncer.h
  src/ray/ray_syncer/ray_syncer_server.cc
  src/ray/ray_syncer/ray_syncer_server.h
  src/ray/ray_syncer/tests/ray_syncer_test.cc
Due: check-cpp-files-inclusion

[core] Adding a private core debugging API to get the internal state of the ReferenceCounter as a JSON string. (#60760)
  python/ray/_private/debug_api.py
  python/ray/_raylet.pyx
  python/ray/includes/libcoreworker.pxd
  src/ray/core_worker/BUILD.bazel
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker.h
  src/ray/core_worker/reference_counter.cc
  src/ray/core_worker/reference_counter.h
  src/ray/core_worker/reference_counter_interface.h
Due: docstyle, check-import-order, check-cpp-files-inclusion

fix test
  python/ray/serve/tests/test_metrics.py
Due: docstyle, check-import-order

[core] fix dashboard event agent for reporting events without http scheme
  python/ray/dashboard/modules/event/event_agent.py
Due: docstyle, check-import-order

[Core] (Resource Isolation 2/n) Modify memory monitor to enable memory usage mocking in test (#60752)
  src/ray/common/cgroup2/BUILD.bazel
  src/ray/common/memory_monitor.cc
  src/ray/common/memory_monitor.h
  src/ray/common/tests/BUILD.bazel
  src/ray/common/tests/memory_monitor_test.cc
  src/ray/raylet/node_manager.cc
  src/ray/raylet/node_manager.h
  src/ray/raylet/tests/BUILD.bazel
  src/ray/raylet/tests/worker_killing_policy_test.cc
  src/ray/raylet/worker_killing_policy.cc
  src/ray/raylet/worker_killing_policy.h
  src/ray/raylet/worker_killing_policy_group_by_owner.cc
  src/ray/raylet/worker_killing_policy_group_by_owner.h
Due: check-cpp-files-inclusion

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
