Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)

[serve] Allow same event loop handle shutdown from sync context (#55551)
  ci/docker/min.build.Dockerfile
  doc/source/serve/api/index.md
  python/ray/serve/__init__.py
  python/ray/serve/_private/client.py
  python/ray/serve/api.py
  python/ray/serve/handle.py
  python/ray/serve/tests/conftest.py
  python/ray/serve/tests/test_handle_same_loop.py
  python/ray/serve/tests/test_standalone.py
Due: docstyle, check-import-order

[llm] disable sglang release test (#55884)
  release/release_tests.yaml
Due: none

[serve] install httpx for running container runtime env tests (#55869)
  ci/docker/runtime_env_container/Dockerfile
Due: none

[ci] raydepsets: remove build_arg_sets arg from raydepsets (#55852)
  ci/raydepsets/cli.py
Due: docstyle, check-import-order

[core] Remove unnecessary `gcs_client` dependency (#55883)
  src/ray/raylet/BUILD.bazel
  src/ray/raylet/scheduling/BUILD.bazel
  src/ray/raylet/scheduling/local_resource_manager.cc
  src/ray/raylet/scheduling/local_resource_manager.h
  src/ray/raylet/scheduling/tests/BUILD.bazel
Due: check-cpp-files-inclusion

[core] Fixing broken links for public docs in error messages (#55823)
  python/ray/util/client/worker.py
Due: docstyle, check-import-order

[Data] Fix `UnboundLocalError` when `read_parquet` with columns and no partitioning (#55820)
  python/ray/data/_internal/datasource/parquet_datasource.py
  python/ray/data/tests/test_parquet.py
Due: docstyle, check-import-order

Add perf metrics for 2.49.0 (#55815)
  release/perf_metrics/benchmarks/many_actors.json
  release/perf_metrics/benchmarks/many_nodes.json
  release/perf_metrics/benchmarks/many_pgs.json
  release/perf_metrics/benchmarks/many_tasks.json
  release/perf_metrics/metadata.json
  release/perf_metrics/microbenchmark.json
  release/perf_metrics/scalability/object_store.json
  release/perf_metrics/scalability/single_node.json
  release/perf_metrics/stress_tests/stress_test_dead_actors.json
  release/perf_metrics/stress_tests/stress_test_many_tasks.json
  release/perf_metrics/stress_tests/stress_test_placement_group.json
Due: none

[core] move the update for node labels and total resources to ray syncer (#55727)
  src/ray/protobuf/ray_syncer.proto
  src/ray/raylet/node_manager.cc
  src/ray/raylet/scheduling/cluster_resource_manager.cc
  src/ray/raylet/scheduling/local_resource_manager.cc
  src/ray/raylet/scheduling/tests/cluster_resource_manager_test.cc
  src/ray/raylet/scheduling/tests/local_resource_manager_test.cc
  src/ray/raylet/tests/node_manager_test.cc
Due: check-cpp-files-inclusion

[serve] remove regular checkpointing (#55848)
  python/ray/serve/_private/application_state.py
  python/ray/serve/_private/controller.py
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/tests/unit/test_application_state.py
  python/ray/serve/tests/unit/test_deployment_state.py
Due: docstyle, check-import-order

[image] add slim image to the image build matrix (#55723)
  .buildkite/_forge.rayci.yml
  ci/docker/ray-slim.cpu.base.wanda.yaml
  ci/docker/ray-slim.cuda.base.wanda.yaml
  docker/base-slim/Dockerfile
Due: none

[observability] Prometheus http service discovery API (#55656)
  doc/source/cluster/metrics.md
  python/ray/_private/metrics_agent.py
  python/ray/dashboard/modules/reporter/reporter_head.py
  python/ray/tests/test_metrics_agent.py
Due: docstyle, check-import-order

[core][gpu-objects] tensor shape/dtype is not necessary for send_multiple_tensors (#55870)
  python/ray/experimental/collective/collective_tensor_transport.py
  python/ray/experimental/collective/nixl_tensor_transport.py
  python/ray/experimental/collective/tensor_transport_manager.py
  python/ray/experimental/gpu_object_manager/gpu_object_manager.py
  python/ray/experimental/gpu_object_manager/gpu_object_store.py
Due: docstyle, check-import-order

[Data] Add large parquet release test (#55889)
  release/release_data_tests.yaml
Due: none

[core] Fix flaky `shutdown_coordinator_test` (#55893)
  src/ray/core_worker/tests/shutdown_coordinator_test.cc
Due: check-cpp-files-inclusion

[Data] Add time to first batch metric for dataset iterators (#55758)
  python/ray/data/_internal/block_batching/iter_batches.py
  python/ray/data/_internal/stats.py
  python/ray/data/tests/test_stats.py
Due: docstyle, check-import-order

[core] Remove experimental `max_cpu_frac_per_node` (#53610)
  cpp/src/ray/runtime/task/native_task_submitter.cc
  python/ray/_raylet.pyx
  python/ray/includes/common.pxd
  python/ray/util/placement_group.py
  src/ray/common/placement_group.cc
  src/ray/common/placement_group.h
  src/ray/core_worker/common.h
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/lib/java/io_ray_runtime_task_NativeTaskSubmitter.cc
  src/ray/gcs/gcs_server/gcs_placement_group_mgr.cc
  src/ray/gcs/gcs_server/gcs_placement_group_mgr.h
  src/ray/gcs/gcs_server/gcs_placement_group_scheduler.cc
  src/ray/gcs/gcs_server/gcs_placement_group_scheduler.h
  src/ray/gcs/tests/gcs_test_util.h
  src/ray/protobuf/common.proto
  src/ray/protobuf/gcs.proto
  src/ray/raylet/scheduling/policy/bundle_scheduling_policy.cc
  src/ray/raylet/scheduling/policy/bundle_scheduling_policy.h
  src/ray/raylet/scheduling/policy/scheduling_options.h
  src/ray/raylet/scheduling/policy/tests/hybrid_scheduling_policy_test.cc
  src/ray/raylet/scheduling/policy/tests/scheduling_policy_test.cc
  src/ray/raylet/scheduling/tests/cluster_resource_scheduler_2_test.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

[Core] Fix variable shadowing in local_object_manager_test.cc (#55888)
  src/ray/raylet/tests/local_object_manager_test.cc
Due: check-cpp-files-inclusion

[core] Remove `gcs_rpc_server.h` dependency from `GcsNodeManager` (#55886)
  src/ray/gcs/gcs_server/BUILD.bazel
  src/ray/gcs/gcs_server/gcs_node_manager.h
  src/ray/gcs/gcs_server/gcs_server.cc
  src/ray/gcs/gcs_server/grpc_service_interfaces.h
  src/ray/gcs/gcs_server/grpc_services.cc
  src/ray/gcs/gcs_server/grpc_services.h
  src/ray/rpc/gcs/gcs_rpc_server.h
Due: check-cpp-files-inclusion

[Serve.llm] Add start/stop_profile method to LLMServer (#55920)
  python/ray/llm/_internal/serve/deployments/llm/llm_server.py
  python/ray/llm/_internal/serve/deployments/llm/vllm/vllm_engine.py
  python/ray/llm/tests/serve/cpu/deployments/llm/test_llm_server.py
  python/ray/llm/tests/serve/mocks/mock_vllm_engine.py
Due: docstyle, check-import-order

[Core][AMD] Add AMD Instinct MI350 and MI355 products (#55853)
  python/ray/_private/accelerators/amd_gpu.py
  python/ray/util/accelerators/accelerators.py
Due: docstyle, check-import-order

[Data] - Hash Partitioning test, make assert less sensitive to exact number of partitions (#55905)
  python/ray/data/tests/test_transform_pyarrow.py
Due: docstyle, check-import-order

[train] add usage tag key for JaxTrainer (#55887)
  python/ray/air/_internal/usage.py
Due: docstyle, check-import-order

Add GKE GPU compat paths to ray image: PATH, LD_LIBRARY_PATH (temporarily) (#55569)
  docker/base-deps/Dockerfile
  docker/ray-llm/Dockerfile
Due: none

[core] Remove `gcs_rpc_server.h` dependency from `RuntimeEnvHandler` (#55901)
  src/ray/gcs/gcs_server/BUILD.bazel
  src/ray/gcs/gcs_server/gcs_server.cc
  src/ray/gcs/gcs_server/grpc_service_interfaces.h
  src/ray/gcs/gcs_server/grpc_services.cc
  src/ray/gcs/gcs_server/grpc_services.h
  src/ray/gcs/gcs_server/runtime_env_handler.h
  src/ray/rpc/gcs/gcs_rpc_server.h
Due: check-cpp-files-inclusion

[java] convert `gen_maven_deps` to py_binary (#55928)
  BUILD.bazel
  java/BUILD.bazel
  java/build-jar-multiplatform.sh
  java/gen_maven_deps.py
  java/test.sh
Due: docstyle, check-import-order

[ci] removing python 3.13 wheel verification for mac (#55907)
  .buildkite/release-automation/verify-macos-wheels.sh
Due: none

[core] avoid copying node labels when updating them from sync messages (#55909)
  src/ray/gcs/gcs_server/gcs_resource_manager.cc
  src/ray/raylet/node_manager.cc
  src/ray/raylet/scheduling/cluster_resource_manager.cc
  src/ray/raylet/scheduling/cluster_resource_manager.h
Due: check-cpp-files-inclusion

[ci] organizing llm lock files (#55714)
  ci/docker/llm.build.Dockerfile
  ci/docker/llm.build.wanda.yaml
  ci/docker/ray-llm.base.wanda.yaml
  ci/pipeline/test_rules.txt
  ci/raydepsets/rayllm.depsets.yaml
  ci/test_compile_llm_requirements.sh
  doc/source/ray-overview/examples/e2e-audio/requirements.txt
  docker/ray-llm/Dockerfile
  python/deplocks/llm/ray_py311_cpu.lock
  python/deplocks/llm/ray_py311_cu121.lock
  python/deplocks/llm/ray_py311_cu128.lock
  python/deplocks/llm/ray_test_py311_cpu.lock
  python/deplocks/llm/ray_test_py311_cu121.lock
  python/deplocks/llm/ray_test_py311_cu128.lock
  python/deplocks/llm/rayllm_py311_cpu.lock
  python/deplocks/llm/rayllm_py311_cu121.lock
  python/deplocks/llm/rayllm_py311_cu128.lock
  python/deplocks/llm/rayllm_test_py311_cpu.lock
  python/deplocks/llm/rayllm_test_py311_cu121.lock
  python/deplocks/llm/rayllm_test_py311_cu128.lock
Due: none

[core] Remove `node_manager_server.h` header from `node_manager_client` target (#55953)
  src/ray/rpc/BUILD.bazel
Due: none

[core] Remove `gcs_client` dependency in `gcs_server` tests (#55902)
  src/ray/gcs/gcs_server/tests/BUILD.bazel
  src/ray/gcs/gcs_server/tests/gcs_server_test_util.h
Due: check-cpp-files-inclusion

[core] Remove `gcs_rpc_server.h` dependency from `GcsWorkerManager` (#55954)
  src/ray/gcs/gcs_server/BUILD.bazel
  src/ray/gcs/gcs_server/gcs_server.cc
  src/ray/gcs/gcs_server/gcs_worker_manager.h
  src/ray/gcs/gcs_server/grpc_service_interfaces.h
  src/ray/gcs/gcs_server/grpc_services.cc
  src/ray/gcs/gcs_server/grpc_services.h
  src/ray/rpc/gcs/gcs_rpc_server.h
Due: check-cpp-files-inclusion

[core] Fix TSAN build for `redis_store_client_test` (#55951)
  src/ray/gcs/store_client/tests/in_memory_store_client_test.cc
  src/ray/gcs/store_client/tests/observable_store_client_test.cc
  src/ray/gcs/store_client/tests/redis_store_client_test.cc
  src/ray/gcs/store_client/tests/store_client_test_base.h
Due: check-cpp-files-inclusion

[core][dashboard] use ray node id instead of ip for profilinglink (#55439)
  ci/lint/pydoclint-baseline.txt
  python/ray/dashboard/client/src/common/ProfilingLink.tsx
  python/ray/dashboard/client/src/components/ActorTable.tsx
  python/ray/dashboard/client/src/pages/actor/ActorDetail.tsx
  python/ray/dashboard/client/src/pages/job/JobDetailInfoPage.tsx
  python/ray/dashboard/client/src/pages/job/JobRow.tsx
  python/ray/dashboard/client/src/pages/node/NodeRow.tsx
  python/ray/dashboard/modules/reporter/reporter_head.py
  python/ray/tests/test_dashboard_profiler.py
Due: docstyle, check-import-order

[core][obsclean/04] move metric registration to constructor (#55544)
  src/ray/stats/metric.cc
  src/ray/stats/metric.h
Due: check-cpp-files-inclusion

added ssl to ray serve (#55228)
  python/ray/serve/_private/http_util.py
  python/ray/serve/_private/utils.py
  python/ray/serve/config.py
  python/ray/serve/schema.py
  python/ray/serve/tests/BUILD
  python/ray/serve/tests/test_certs/ca.crt
  python/ray/serve/tests/test_certs/server.crt
  python/ray/serve/tests/test_certs/server.csr
  python/ray/serve/tests/test_certs/server.key
  python/ray/serve/tests/test_https_proxy.py
Due: docstyle, check-import-order

[data] truncate sequences in sanitize for struct (#55818)
  python/ray/data/_internal/metadata_exporter.py
  python/ray/data/tests/test_state_export.py
Due: docstyle, check-import-order

[core] Remove `gcs_rpc_server.h` dependency from `GcsJobManager` (#55899)
  src/ray/gcs/gcs_server/BUILD.bazel
  src/ray/gcs/gcs_server/gcs_job_manager.cc
  src/ray/gcs/gcs_server/gcs_job_manager.h
  src/ray/gcs/gcs_server/gcs_server.cc
  src/ray/gcs/gcs_server/grpc_service_interfaces.h
  src/ray/gcs/gcs_server/grpc_services.cc
  src/ray/gcs/gcs_server/grpc_services.h
  src/ray/rpc/gcs/gcs_rpc_server.h
Due: check-cpp-files-inclusion

[data] Update `repartition` docs for streaming repartition (#55808)
  doc/source/data/images/dataset-shuffle.svg
  python/ray/data/dataset.py
Due: docstyle, check-import-order

[Core] Bind dashboard agent http server to localhost in addition to the node ip (#55910)
  python/ray/_common/network_utils.py
  python/ray/_common/tests/test_network_utils.py
  python/ray/dashboard/agent.py
  python/ray/dashboard/http_server_agent.py
  python/ray/util/client/server/proxier.py
  python/ray/util/client/server/server.py
Due: docstyle, check-import-order
