Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

fix test due to https://github.com/vllm-project/vllm/pull/17130
  python/ray/llm/tests/serve/mocks/mock_vllm_engine.py
Due: docstyle, check-import-order

remove set_v1
  python/ray/llm/tests/serve/gpu/deployments/llm/vllm/test_vllm_engine_gpu.py
Due: docstyle, check-import-order

fix
  python/ray/llm/_internal/serve/deployments/llm/vllm/vllm_engine.py
  python/ray/llm/tests/serve/mocks/mock_vllm_engine.py
Due: docstyle, check-import-order

fix
  python/ray/llm/_internal/serve/deployments/llm/vllm/vllm_engine.py
  python/ray/llm/tests/serve/cpu/deployments/llm/vllm/test_vllm_server.py
  python/ray/llm/tests/serve/gpu/deployments/llm/vllm/test_vllm_engine_gpu.py
  python/ray/llm/tests/serve/mocks/mock_vllm_engine.py
Due: docstyle, check-import-order

cmt
  python/ray/llm/_internal/serve/deployments/llm/vllm/vllm_engine.py
  python/ray/llm/_internal/serve/deployments/prefill_decode_disagg/prefill_decode_disagg.py
  python/ray/llm/tests/serve/gpu/deployments/llm/prefill_decode_disagg/test_prefill_decode_disagg_gpu.py
  python/ray/llm/tests/serve/gpu/deployments/llm/vllm/test_vllm_engine_gpu.py
  python/ray/llm/tests/serve/mocks/mock_vllm_engine.py
Due: docstyle, check-import-order

uuid
  python/ray/llm/_internal/serve/deployments/llm/vllm/vllm_engine.py
  python/ray/llm/_internal/serve/deployments/prefill_decode_disagg/prefill_decode_disagg.py
Due: docstyle, check-import-order

revert peek, create_server, move test
  python/ray/llm/_internal/serve/deployments/routers/router.py
  python/ray/llm/_internal/serve/deployments/utils/server_utils.py
  python/ray/llm/tests/serve/conftest.py
  python/ray/llm/tests/serve/cpu/deployments/llm/vllm/test_vllm_server.py
  python/ray/llm/tests/serve/cpu/deployments/prefill_decode_disagg/test_prefill_decode_disagg.py
Due: docstyle, check-import-order

missing import
  python/ray/llm/tests/serve/cpu/deployments/prefill_decode_disagg/test_prefill_decode_disagg.py
Due: docstyle, check-import-order

Added 'OldAPIStack' tags to the 'foreach_env' and 'foreach_env_with_context.
  rllib/env/env_runner_group.py
Due: docstyle, check-import-order

[Serve.llm] Fix runtime passthrough and auto-executor class selection (#53253)
  python/ray/llm/_internal/serve/deployments/llm/vllm/vllm_engine.py
Due: docstyle, check-import-order

fix passing request router to asyncio router
  python/ray/serve/_private/router.py
Due: docstyle, check-import-order

fix GPU line in cluster_utilization metric not working (#53244)
  python/ray/dashboard/modules/metrics/dashboards/default_dashboard_panels.py
Due: docstyle, check-import-order

Reduce flakiness of UI tests (#53215)
  python/ray/dashboard/client/src/components/ActorTable.component.test.tsx
  python/ray/dashboard/client/src/setupTests.js
Due: none

todo
  python/ray/llm/_internal/serve/deployments/llm/vllm/vllm_engine.py
  python/ray/llm/tests/serve/cpu/deployments/prefill_decode_disagg/test_prefill_decode_disagg.py
Due: docstyle, check-import-order

[Serve] Add on_request_routed callback
  python/ray/serve/_private/request_router/request_router.py
  python/ray/serve/_private/router.py
  python/ray/serve/tests/unit/test_router.py
Due: docstyle, check-import-order

[serve.llm] Prefill-Decode disaggregation initial implementation (#53092)
  python/ray/llm/_internal/serve/configs/server_models.py
  python/ray/llm/_internal/serve/deployments/llm/vllm/vllm_engine.py
  python/ray/llm/_internal/serve/deployments/llm/vllm/vllm_models.py
  python/ray/llm/_internal/serve/deployments/prefill_decode_disagg/__init__.py
  python/ray/llm/_internal/serve/deployments/prefill_decode_disagg/prefill_decode_disagg.py
  python/ray/llm/tests/serve/cpu/deployments/llm/multiplex/test_multiplex_deployment.py
  python/ray/llm/tests/serve/cpu/deployments/prefill_decode_disagg/test_prefill_decode_disagg.py
  python/ray/llm/tests/serve/gpu/deployments/llm/prefill_decode_disagg/test_prefill_decode_disagg_gpu.py
  python/ray/llm/tests/serve/gpu/deployments/llm/vllm/test_vllm_engine_gpu.py
  python/ray/llm/tests/serve/mocks/mock_vllm_engine.py
  release/llm_tests/serve/configs/model_config/qwen_3_0dot6B_1replica.yaml
  release/llm_tests/serve/configs/serve_qwen3_0dot6B_1p1d.yaml
Due: docstyle, check-import-order

[core] Add ActorMethodShell
  python/ray/actor.py
Due: docstyle, check-import-order

Add a simple test
  python/ray/tests/test_actor.py
Due: docstyle, check-import-order

fix lint issues
  python/ray/actor.py
Due: docstyle, check-import-order

fix more tests and docs
  python/ray/actor.py
  python/ray/dag/tests/test_output_node.py
  python/ray/tests/test_actor_failures.py
  python/ray/tests/test_reference_counting.py
  python/ray/tests/test_scheduling_2.py
Due: docstyle, check-import-order

[ci] kick forge content
  ci/docker/forge.Dockerfile
Due: none

Add log
  python/ray/data/_internal/execution/operators/actor_pool_map_operator.py
Due: docstyle, check-import-order

Misc Fixes
  python/ray/data/tests/test_daft.py
Due: docstyle, check-import-order

[Data] Make resource manager aware of retry tasks (#1757)
  python/ray/data/_internal/execution/interfaces/__init__.py
  python/ray/data/_internal/execution/interfaces/physical_operator.py
  python/ray/data/_internal/execution/operators/actor_pool_map_operator.py
  python/ray/data/_internal/execution/resource_manager.py
  python/ray/data/tests/test_actor_pool_map_operator.py
  python/ray/data/tests/test_resource_manager.py
Due: docstyle, check-import-order

typos
  doc/source/ray-overview/examples/e2e-xgboost/README.ipynb
  doc/source/ray-overview/examples/e2e-xgboost/index.rst
  doc/source/ray-overview/examples/e2e-xgboost/notebooks/01-Distributed_Training.ipynb
  doc/source/ray-overview/examples/e2e-xgboost/notebooks/02-Validation.ipynb
  doc/source/ray-overview/examples/e2e-xgboost/notebooks/03-Serving.ipynb
  doc/source/ray-overview/examples/index.rst
Due: none

[ci] kick forge content (#53273)
  ci/docker/forge.Dockerfile
Due: none

[Chore][Core] Remove unused constants (#51779)
  python/ray/_private/node.py
  python/ray/_private/ray_constants.py
  python/ray/dashboard/tests/test_dashboard.py
  python/ray/tests/test_logging.py
Due: docstyle, check-import-order

tests: add concurrent batching test
  python/ray/serve/batching.py
  python/ray/serve/tests/test_batching.py
Due: docstyle, check-import-order

fix tag
  python/ray/tests/BUILD
Due: none

[Serve] Improve `_best_fit_node` logic to consider prioritized custom resources (#51978)
  python/ray/serve/_private/constants.py
  python/ray/serve/_private/deployment_scheduler.py
  python/ray/serve/tests/unit/test_deployment_scheduler.py
Due: docstyle, check-import-order

Move dep to ray_release to fix bk too
  release/BUILD.bazel
Due: none

tests: address PR comment
  python/ray/serve/tests/test_batching.py
Due: docstyle, check-import-order

Handle operator fusion [not clean]
  python/ray/data/_internal/execution/operators/actor_pool_map_operator.py
  python/ray/data/_internal/execution/operators/map_operator.py
  python/ray/data/_internal/execution/operators/map_transformer.py
  python/ray/data/_internal/execution/operators/task_pool_map_operator.py
  python/ray/data/_internal/planner/plan_read_op.py
  python/ray/data/_internal/planner/plan_udf_map_op.py
Due: docstyle, check-import-order

[core] Revert some test sizes (#53277)
  python/ray/tests/BUILD
Due: none

[Do not merge] testing test_llm_serve_correctness
  release/llm_tests/serve/test_llm_serve_correctness.py
Due: docstyle, check-import-order

update tests
  python/ray/tests/test_advanced_3.py
Due: docstyle, check-import-order

fix
  python/ray/serve/tests/test_standalone.py
Due: docstyle, check-import-order

[core] Make raylet NodeManager testable (#53120)
  BUILD.bazel
  src/mock/ray/object_manager/object_directory.h
  src/mock/ray/object_manager/object_manager.h
  src/mock/ray/pubsub/subscriber.h
  src/mock/ray/raylet/raylet.h
  src/mock/ray/rpc/worker/core_worker_client.h
  src/mock/ray/rpc/worker/core_worker_client_pool.h
  src/ray/object_manager/object_manager.h
  src/ray/raylet/dependency_manager_test.cc
  src/ray/raylet/local_task_manager_test.cc
  src/ray/raylet/node_manager.cc
  src/ray/raylet/node_manager.h
  src/ray/raylet/raylet.cc
  src/ray/raylet/raylet.h
  src/ray/raylet/test/node_manager_test.cc
Due: check-cpp-files-inclusion

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)
