Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)

[serve] per_node: count only nodes that can host the replica
  python/ray/serve/_private/deployment_scheduler.py
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/tests/unit/test_deployment_state.py
Due: docstyle, check-import-order

[serve] Address review comments on Prometheus autoscaling
  python/ray/serve/_private/prometheus_metrics.py
  python/ray/serve/llm/autoscaling.py
  python/ray/serve/tests/test_prometheus_autoscaling_metrics.py
Due: docstyle, check-import-order

[serve.llm] Run the direct-streaming ingress router one per node
  python/ray/llm/_internal/serve/core/ingress/builder.py
  python/ray/llm/tests/serve/cpu/deployments/routers/test_builder_ingress.py
Due: docstyle, check-import-order

[serve] Drop design-comparison comments in Prometheus autoscaling
  python/ray/serve/_private/prometheus_metrics.py
  python/ray/serve/llm/autoscaling.py
Due: docstyle, check-import-order

[release] Update shipped dependencies for Ray 2.56.1
  doc/source/ray-overview/installation.rst
  doc/source/ray-overview/pip_freeze_ray-py310-cpu.txt
Due: none

[serve] Dedupe Prometheus autoscaling state-manager tests
  python/ray/serve/tests/test_prometheus_autoscaling_metrics.py
Due: docstyle, check-import-order

Add function using which ray data can register callback to be fired when object is freed from producer
  PLASMA_MOVE_SEMANTICS.md
  python/ray/_raylet.pyx
  python/ray/includes/libcoreworker.pxd
  src/mock/ray/object_manager/object_directory.h
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker.h
  src/ray/core_worker/reference_counter.cc
  src/ray/core_worker/reference_counter.h
  src/ray/core_worker/reference_counter_interface.h
  src/ray/object_manager/object_directory.h
  src/ray/object_manager/object_manager.cc
  src/ray/object_manager/object_manager.h
  src/ray/object_manager/ownership_object_directory.cc
  src/ray/object_manager/ownership_object_directory.h
  src/ray/protobuf/core_worker.proto
Due: check-cpp-files-inclusion

[ci] read pip-freeze via single-file image read, not full extraction
  ci/ray_ci/automation/crane_lib.py
  ci/ray_ci/automation/push_ray_image.py
  ci/ray_ci/automation/test_crane_lib.py
  ci/ray_ci/automation/test_push_ray_image.py
Due: docstyle, check-import-order

[serve.llm] Scale the ingress router via num_replicas="per_node"
  python/ray/llm/_internal/serve/core/ingress/builder.py
  python/ray/llm/tests/serve/cpu/deployments/routers/test_builder_ingress.py
  release/llm_tests/serve/test_llm_serve_multi_node_integration.py
Due: docstyle, check-import-order

[build] rocksdb: disable ccache launcher to fix bazel sandbox rebuild
  bazel/rocksdb.BUILD
Due: none

[Data] hash_shuffle_external: dedupe test helpers with v2 shared utilities
  python/ray/data/tests/test_hash_shuffle_external_repartition.py
  python/ray/data/tests/test_hash_shuffle_external_smoke.py
Due: docstyle, check-import-order

[serve] Strictly enforce scalar Prometheus query results
  python/ray/serve/_private/prometheus_metrics.py
  python/ray/serve/tests/test_prometheus_autoscaling_metrics.py
Due: docstyle, check-import-order

[docs] Update shipped dependencies freeze for master
  doc/source/ray-overview/installation.rst
  doc/source/ray-overview/pip_freeze_ray-py310-cpu.txt
Due: none

[Data] hash_shuffle_external: drop redundant chained-repartition test
  python/ray/data/tests/test_hash_shuffle_external_repartition.py
Due: docstyle, check-import-order

[Data] hash_shuffle_external: drop redundant repartition-then-map test
  python/ray/data/tests/test_hash_shuffle_external_repartition.py
Due: docstyle, check-import-order

[Data] hash_shuffle_external: harden flag-off test with mock spy
  python/ray/data/tests/test_hash_shuffle_external_repartition.py
Due: docstyle, check-import-order

ignore new warnings added for tests
  python/ray/air/BUILD.bazel
  python/ray/train/tests/test_tensorflow_checkpoint.py
  python/ray/train/tests/test_tensorflow_trainer.py
  python/ray/train/tests/test_torch_checkpoint.py
  python/ray/train/tests/test_torch_trainer.py
Due: docstyle, check-import-order, check-train-circular-imports

[Data] hash_shuffle_external: assert shuffle-dir cleanup after every test
  python/ray/data/tests/test_hash_shuffle_external_repartition.py
Due: docstyle, check-import-order

[Data] hash_shuffle_external: drop redundant unit test for cleanup helper
  python/ray/data/tests/test_hash_shuffle_external_smoke.py
Due: docstyle, check-import-order

[serve] Clear Prometheus cache on autoscaling config change
  python/ray/serve/_private/autoscaling_state.py
  python/ray/serve/tests/test_prometheus_autoscaling_metrics.py
Due: docstyle, check-import-order

[release] Update shipped dependencies for Ray 2.56.1 (#64728)
  doc/source/ray-overview/installation.rst
  doc/source/ray-overview/pip_freeze_ray-py310-cpu.txt
Due: none

[serve] per_node: honor target_capacity=0, document node-eligibility limits
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/tests/unit/test_deployment_state.py
Due: docstyle, check-import-order

Revert "[build] rocksdb: disable ccache launcher to fix bazel sandbox rebuild"
  bazel/rocksdb.BUILD
Due: none

[serve] Restore black 22.10.0 formatting in autoscaling_state.py
  python/ray/serve/_private/autoscaling_state.py
Due: docstyle, check-import-order

[serve] per_node: surface UPSCALING/DOWNSCALING status on node changes
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/tests/unit/test_deployment_state.py
Due: docstyle, check-import-order

[serve] per_node: clear autoscaling_config on the config-file override path
  python/ray/serve/_private/application_state.py
  python/ray/serve/tests/unit/test_application_state.py
Due: docstyle, check-import-order

Update callback throughput benchmark
  release/benchmarks/object_store/test_callback_throughput.py
Due: docstyle, check-import-order

[Data] hash_shuffle_external: fix sibling-prefix path traversal + batch handle resolution
  python/ray/data/_internal/execution/operators/shuffle_operators/external_shuffle_runtime.py
Due: docstyle, check-import-order

[Data] Use "no_split" label and comma legend for iteration metrics
  python/ray/dashboard/modules/metrics/dashboards/data_dashboard_panels.py
  python/ray/data/_internal/stats.py
  python/ray/data/tests/test_stats.py
Due: docstyle, check-import-order

[Data] Rename split_label to split_tag for consistency
  python/ray/data/_internal/stats.py
Due: docstyle, check-import-order

[Data] hash_shuffle_external: use socket.sendfile inline, drop _sendfile_all
  python/ray/data/_internal/execution/operators/shuffle_operators/external_shuffle_runtime.py
Due: docstyle, check-import-order

Fix callback lifetime issue for cases where an object is not moved. Ray data adds the callback for every object, but not every object is moved.
  src/ray/core_worker/reference_counter.cc
Due: check-cpp-files-inclusion

[Data] Fix stale iteration-metric tag docstrings
  python/ray/data/_internal/iterator/iterator_impl.py
  python/ray/data/iterator.py
Due: docstyle, check-import-order

Include the device drain in step timing
  release/train_tests/benchmark/frameworks/deepspeed/adapter.py
Due: docstyle, check-import-order

Update README tests section after test_harness_logic.py removal
  release/train_tests/benchmark/core/README.md
Due: none

[skill] Update ray-dependencies skill for unified requirements_compiled
  .claude/skills/ray-dependencies/SKILL.md
Due: none

Update .md file
  PLASMA_MOVE_SEMANTICS.md
Due: none

[Data] hash_shuffle_external: sweep dead code + symmetric staging-dir names
  python/ray/data/_internal/execution/operators/shuffle_operators/external_shuffle_runtime.py
  python/ray/data/_internal/execution/operators/shuffle_operators/external_shuffle_tasks.py
  python/ray/data/_internal/execution/operators/shuffle_operators/shuffle_map_operator_external.py
  python/ray/data/_internal/execution/operators/shuffle_operators/shuffle_reduce_operator_external.py
  python/ray/data/_internal/logical/rules/operator_fusion.py
Due: docstyle, check-import-order

remove unnecessary import
  python/ray/data/tests/test_iter_torch_batches.py
Due: docstyle, check-import-order

Pin deepspeed to 0.19.2 in the benchmark byod image
  release/ray_release/byod/byod_train_benchmark_deepspeed.sh
Due: none
