Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)

[core] Extend swap accounting to resource-isolation user-slice OOM monitor
  src/ray/common/memory_monitor_interface.h
  src/ray/common/memory_monitor_utils.cc
  src/ray/common/memory_monitor_utils.h
  src/ray/common/tests/memory_monitor_utils_test.cc
Due: check-cpp-files-inclusion

[core] Fall back to host swap when cgroup memory.swap.max is unlimited
  python/ray/_common/tests/test_utils.py
  python/ray/_common/utils.py
  src/ray/common/memory_monitor_test_fixture.cc
  src/ray/common/memory_monitor_test_fixture.h
  src/ray/common/memory_monitor_utils.cc
  src/ray/common/memory_monitor_utils.h
  src/ray/common/tests/memory_monitor_utils_test.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

[Data] Refactor to provide a narrower interface, use callable CustomOpStatsReportFn instead of reporter class in _map_task and transformer
  python/ray/data/_internal/execution/operators/map_operator.py
  python/ray/data/_internal/execution/operators/map_transformer.py
Due: docstyle, check-import-order

[ci] Fix PR number parsing in get_contributors for cherry-picks and edge cases
  ci/ray_ci/automation/get_contributors.py
  ci/ray_ci/automation/test_get_contributors.py
Due: docstyle, check-import-order

[ci] Simplify PR number collection by scanning the whole commits blob
  ci/ray_ci/automation/get_contributors.py
  ci/ray_ci/automation/test_get_contributors.py
Due: docstyle, check-import-order

[Data] Speed up ExecutionResources fold + accessors
  python/ray/data/_internal/execution/interfaces/execution_options.py
  python/ray/data/_internal/execution/resource_manager.py
  python/ray/data/tests/test_autoscaler.py
  python/ray/data/tests/test_executor_resource_management.py
Due: docstyle, check-import-order

fix the potential double release on the sentinel
  src/ray/core_worker/task_manager.cc
  src/ray/core_worker/tests/task_manager_test.cc
Due: check-cpp-files-inclusion

[core] Raylet self-terminates when GCS is unreachable to avoid zombie nodes
  python/ray/tests/test_gcs_fault_tolerance.py
  src/ray/common/ray_config_def.h
  src/ray/raylet/node_manager.cc
  src/ray/raylet/node_manager.h
Due: docstyle, check-import-order, check-cpp-files-inclusion

[core] Address review: restore test_session_name; check GCS timeout at top of self-check
  python/ray/tests/test_gcs_fault_tolerance.py
  src/ray/raylet/node_manager.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

[ci] Fail loudly on PR-author lookup errors and refresh stale docs
  ci/ray_ci/automation/get_contributors.py
  ci/ray_ci/automation/test_get_contributors.py
Due: docstyle, check-import-order

[data][llm] Fix build_processor failing with vLLM >= 0.19 (#64337)
  python/ray/llm/_internal/batch/stages/vllm_engine_stage.py
Due: docstyle, check-import-order

udpating deps
  doc/source/ray-overview/installation.rst
  doc/source/ray-overview/pip_freeze_ray-py310-cpu.txt
Due: none

[serve] Reject object store memory replica actor option
  python/ray/serve/_private/config.py
  python/ray/serve/tests/unit/test_config.py
Due: docstyle, check-import-order

[data][llm] Avoid vLLM dtype auto-detection in multimodal prep
  python/ray/llm/_internal/batch/stages/prepare_multimodal_stage.py
  python/ray/llm/tests/batch/cpu/stages/test_prepare_multimodal_stage.py
Due: docstyle, check-import-order

Deflake serve tests
  python/ray/serve/tests/BUILD.bazel
  python/ray/serve/tests/conftest.py
Due: docstyle, check-import-order

addressing comments
  python/ray/train/__init__.py
  python/ray/train/v2/_internal/callbacks/state_manager.py
  python/ray/train/v2/_internal/constants.py
  python/ray/train/v2/_internal/execution/controller/controller.py
  python/ray/train/v2/_internal/execution/controller/state.py
  python/ray/train/v2/_internal/execution/train_fn_utils.py
  python/ray/train/v2/api/exceptions.py
  python/ray/train/v2/api/train_fn_utils.py
  python/ray/train/v2/tests/test_controller.py
Due: docstyle, check-import-order, check-train-circular-imports

[llm][serve] SGLangServer control plane parity (#63021)
  python/ray/llm/_internal/serve/engines/sglang/sglang_engine.py
  release/llm_tests/serve/test_llm_serve_sglang.py
Due: docstyle, check-import-order

[core] fix flaky test_generator_oom (#64311)
  python/ray/tests/test_generators.py
Due: docstyle, check-import-order

[ci] Fix PR number parsing in get_contributors for cherry-picks and edge cases (#64354)
  ci/ray_ci/automation/get_contributors.py
  ci/ray_ci/automation/test_get_contributors.py
Due: docstyle, check-import-order

CR feedback round 2
  python/ray/llm/_internal/serve/engines/vllm/vllm_engine.py
  python/ray/llm/_internal/serve/routing_policies/kv_aware/kv_aware_actor.py
  python/ray/llm/_internal/serve/routing_policies/kv_aware/utils.py
  python/ray/llm/_internal/serve/routing_policies/kv_aware/vllm/kv_events.py
  python/ray/llm/tests/serve/cpu/deployments/routers/kv/test_kv_aware_router.py
  python/ray/llm/tests/serve/cpu/deployments/routers/kv/test_kv_events.py
  release/llm_tests/kv_router_test/test_kv_event_ingestion.py
  release/llm_tests/kv_router_test/test_kv_events.py
Due: docstyle, check-import-order

args compatible method
  python/ray/data/_internal/logical/rules/operator_fusion.py
Due: docstyle, check-import-order

addressing staggered preemption
  python/ray/train/v2/_internal/execution/controller/controller.py
  python/ray/train/v2/_internal/execution/preemption.py
  python/ray/train/v2/tests/test_controller.py
  python/ray/train/v2/tests/test_preemption_watcher.py
Due: docstyle, check-import-order, check-train-circular-imports

[Core] Define WIN32_LEAN_AND_MEAN globally for Windows builds
  bazel/ray.bzl
Due: none

[Data] Prevent Optimization on Non-Deterministic Expressions (#64165)
  ci/lint/pyrefly-excluded-files.txt
  python/ray/data/BUILD.bazel
  python/ray/data/_internal/logical/operators/map_operator.py
  python/ray/data/_internal/logical/rules/common_subexpr_elimination.py
  python/ray/data/_internal/logical/rules/limit_pushdown.py
  python/ray/data/_internal/logical/rules/predicate_pushdown.py
  python/ray/data/_internal/logical/rules/projection_pushdown.py
  python/ray/data/_internal/planner/plan_expression/expression_visitors.py
  python/ray/data/expressions.py
  python/ray/data/tests/test_idempotency_optimizer_guards.py
  python/ray/data/tests/unit/test_expression_visitor.py
Due: docstyle, check-import-order

review comments pt1
  python/ray/data/catalog.py
  python/ray/data/read_api.py
Due: docstyle, check-import-order

make into frozen dataclass
  python/ray/data/catalog.py
  python/ray/data/tests/test_catalog.py
Due: docstyle, check-import-order

[Core] Remove redundant WIN32_LEAN_AND_MEAN guards
  cpp/include/ray/api/logging.h
  src/ray/common/metrics.h
  src/ray/rpc/authentication/authentication_token_loader.cc
  src/ray/rpc/authentication/tests/authentication_token_loader_test.cc
  src/ray/stats/tests/metric_exporter_grpc_test.cc
  src/ray/util/compat.h
  src/ray/util/logging.h
  src/ray/util/process.cc
  src/ray/util/process_utils.cc
  src/ray/util/thread_utils.h
Due: check-cpp-files-inclusion

Fix incompatible protobuf
  python/ray/serve/_private/config.py
Due: docstyle, check-import-order

Add assign_replica_kv_events_endpoint test
  python/ray/llm/tests/serve/cpu/deployments/routers/kv/test_kv_events.py
Due: docstyle, check-import-order

[data][llm] Fix type hint for config parameter in build_processor (#64098)
  python/ray/data/llm.py
Due: docstyle, check-import-order

[serve] Pass controller_options to _start_controller in serve_start and serve_start_async
  python/ray/serve/_private/api.py
Due: docstyle, check-import-order

[serve] Harden regression tests and clean up comments for #63597
  python/ray/serve/_private/api.py
  python/ray/serve/tests/test_standalone.py
Due: docstyle, check-import-order

[serve] Fix IDLE Worker leak causing OOM on Ray Head node
  python/ray/serve/_private/api.py
Due: docstyle, check-import-order

[Serve] Inline controller creation to fix IDLE-worker leak / head-node OOM
  python/ray/serve/_private/api.py
  python/ray/serve/tests/test_standalone.py
Due: docstyle, check-import-order

[serve] Address abrarsheikh review on #63597 tests
  python/ray/serve/tests/test_standalone.py
Due: docstyle, check-import-order

make typechecker happy again
  python/ray/data/catalog.py
Due: docstyle, check-import-order

[Data] Fix requirements_compiled*.txt alphabetical ordering for daft
  python/requirements_compiled.txt
  python/requirements_compiled_py3.13.txt
  python/requirements_compiled_py3.14.txt
Due: none

[serve][LLM] use model_id, not remote URI, as cache identifier in VLLMEngineConfig (#64110)
  python/ray/llm/_internal/serve/engines/vllm/vllm_models.py
  python/ray/llm/tests/serve/cpu/configs/test_models.py
Due: docstyle, check-import-order

Remove unreachable conditional
  python/ray/llm/_internal/serve/routing_policies/kv_aware/vllm/kv_events.py
Due: docstyle, check-import-order

guard empty partitions:
  python/ray/data/_internal/execution/operators/shuffle_operators/shuffle_reduce_operator.py
Due: docstyle, check-import-order
