Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)

[serve] Stop using admin socket for HAProxy reload readiness check
  python/ray/serve/_private/haproxy.py
Due: docstyle, check-import-order

[glia-bench] add long_tasks control to v5 sweep, drop v4 references
  glia-bench/OPTIMIZATION_REPORT.md
  glia-bench/results/optimization_perf_master_vs_rebased.jsonl
Due: none

[serve] Accept any HTTP response in HAProxy listener probe
  python/ray/serve/_private/haproxy.py
Due: docstyle, check-import-order

[Serve] Rename loop variable to avoid shadowing dataclasses.field
  python/ray/serve/schema.py
Due: docstyle, check-import-order

[serve] Normalize autoscaling_config in gang scheduling validator
  python/ray/serve/schema.py
Due: docstyle, check-import-order

[serve] Use exclude_unset=True when normalizing AutoscalingConfig in gang validator
  python/ray/serve/schema.py
Due: docstyle, check-import-order

Add AcceleratorConfig to Serve and fix gang scheduling
  python/ray/llm/_internal/serve/core/configs/accelerators.py
  python/ray/llm/_internal/serve/engines/vllm/vllm_models.py
  python/ray/llm/tests/serve/cpu/configs/test_models.py
  python/ray/llm/tests/serve/cpu/deployments/llm/test_llm_engine_tpu.py
  python/ray/serve/_private/common.py
  python/ray/serve/_private/config.py
  python/ray/serve/_private/default_impl.py
  python/ray/serve/_private/deployment_scheduler.py
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/api.py
  python/ray/serve/config.py
  python/ray/serve/tests/BUILD.bazel
  python/ray/serve/tests/test_accelerator_config.py
  python/ray/serve/tests/unit/BUILD.bazel
  python/ray/serve/tests/unit/test_accelerator_config.py
  python/ray/serve/tests/unit/test_deployment_state.py
  src/ray/protobuf/serve.proto
Due: docstyle, check-import-order

[serve] Use TCP-only probe for HAProxy readiness, HTTP for health
  python/ray/serve/_private/haproxy.py
Due: docstyle, check-import-order

[serve] Bump default HAProxy startup timeout to match reload timeout
  python/ray/serve/_private/haproxy.py
Due: docstyle, check-import-order

[Fix] Preserve sub-progress display totals
  python/ray/data/_internal/progress/rich_progress.py
  python/ray/data/_internal/progress/tqdm_progress.py
Due: docstyle, check-import-order

[data] Defer hash-shuffle schema broadcast to first row-bearing block
  python/ray/data/_internal/execution/operators/hash_shuffle.py
  python/ray/data/tests/test_join.py
Due: docstyle, check-import-order

[doc] add agent context for Ray documentation
  doc/.claude/CLAUDE.md
Due: none

[doc][DOC-908] exclude Jupyter notebooks from llms-full.txt
  doc/source/conf.py
Due: none

Apply suggestion from @dstrodtman
  doc/.claude/CLAUDE.md
Due: none

re-sync weights if workers come back
  rllib/algorithms/algorithm.py
Due: docstyle, check-import-order

code review
  python/ray/train/v2/_internal/execution/checkpoint/checkpoint_manager.py
  python/ray/train/v2/tests/test_data_parallel_trainer.py
Due: docstyle, check-import-order, check-train-circular-imports

fix
  rllib/algorithms/algorithm.py
  rllib/algorithms/algorithm_config.py
Due: docstyle, check-import-order

[Data] Move ExecutionPlan State into Dataset (#62815)
  python/ray/data/_internal/dataset_repr.py
  python/ray/data/_internal/iterator/stream_split_iterator.py
  python/ray/data/_internal/logical/interfaces/logical_plan.py
  python/ray/data/_internal/logical/interfaces/plan.py
  python/ray/data/_internal/plan.py
  python/ray/data/dataset.py
  python/ray/data/grouped_data.py
  python/ray/data/iterator.py
  python/ray/data/read_api.py
  python/ray/data/tests/datasource/test_csv.py
  python/ray/data/tests/datasource/test_iceberg.py
  python/ray/data/tests/datasource/test_json.py
  python/ray/data/tests/datasource/test_parquet.py
  python/ray/data/tests/datasource/test_raydp.py
  python/ray/data/tests/datasource/test_tensorflow_datasets.py
  python/ray/data/tests/test_consumption.py
  python/ray/data/tests/test_dataset_aggregrations.py
  python/ray/data/tests/test_dynamic_block_split.py
  python/ray/data/tests/test_ecosystem_dask.py
  python/ray/data/tests/test_execution_optimizer_advanced.py
  python/ray/data/tests/test_execution_optimizer_basic.py
  python/ray/data/tests/test_execution_optimizer_integrations.py
  python/ray/data/tests/test_execution_optimizer_limit_pushdown.py
  python/ray/data/tests/test_join.py
  python/ray/data/tests/test_limit_operator.py
  python/ray/data/tests/test_mix.py
  python/ray/data/tests/test_operator_fusion.py
  python/ray/data/tests/test_optimize.py
  python/ray/data/tests/test_predicate_pushdown.py
  python/ray/data/tests/test_projection_fusion.py
  python/ray/data/tests/test_read_datasource.py
  python/ray/data/tests/test_sort.py
  python/ray/data/tests/test_split.py
  python/ray/data/tests/test_state_export.py
  python/ray/data/tests/test_union.py
  python/ray/data/tests/test_zip.py
  python/ray/train/_internal/state/state_manager.py
  python/ray/train/tests/test_state.py
  python/ray/tune/impl/test_utils.py
Due: docstyle, check-import-order, check-train-circular-imports

[Data] Fix flaky streaming repartition test: remainder block position is not guaranteed (#62326)
  python/ray/data/tests/test_repartition_e2e.py
Due: docstyle, check-import-order

Update pyarrow in byod
  release/ray_release/byod/byod_ray_train_workloads.sh
Due: none

fix iceberg checkpoint merge issue & fix 2-phase commit issure
  python/ray/data/_internal/execution/execution_callback.py
  python/ray/data/_internal/planner/checkpoint/__init__.py
  python/ray/data/_internal/planner/checkpoint/plan_read_op.py
  python/ray/data/_internal/planner/checkpoint/plan_write_op.py
  python/ray/data/_internal/planner/planner.py
  python/ray/data/_internal/stats.py
  python/ray/data/checkpoint/checkpoint_filter.py
  python/ray/data/checkpoint/checkpoint_writer.py
  python/ray/data/checkpoint/iceberg_checkpoint.py
  python/ray/data/checkpoint/load_checkpoint_callback.py
  python/ray/data/checkpoint/util.py
  python/ray/data/datasource/file_datasink.py
  python/ray/data/tests/test_checkpoint_for_iceberg.py
Due: docstyle, check-import-order

learner resources
  rllib/algorithms/algorithm_config.py
  rllib/algorithms/impala/tests/test_impala.py
  rllib/core/learner/learner_group.py
Due: docstyle, check-import-order

[doc][DOC-908] exclude Jupyter notebooks from llms-full.txt (#63228)
  doc/source/conf.py
Due: none

[doc][DOC-898] probe: remove MockedClassDocumenter monkey-patch in conf.py (#63197)
  doc/source/conf.py
Due: none

log: shorter command
  python/ray/llm/_internal/batch/stages/vllm_engine_stage.py
Due: docstyle, check-import-order

[data] DataSourceV2: V2 checkpoint filter integration
  python/ray/data/_internal/planner/checkpoint/__init__.py
  python/ray/data/_internal/planner/checkpoint/plan_read_files_op.py
  python/ray/data/_internal/planner/planner.py
  python/ray/data/checkpoint/checkpoint_filter.py
Due: docstyle, check-import-order

CR feedback
  python/ray/data/llm.py
  python/ray/llm/_internal/batch/processor/base.py
  python/ray/llm/tests/batch/cpu/processor/test_processor_base.py
Due: docstyle, check-import-order

best effort error handling
  python/ray/train/v2/_internal/state/schema.py
Due: docstyle, check-import-order, check-train-circular-imports

[DRAFT] Run serve gce tests without changes
  release/release_tests.yaml
Due: none

Add docstring comments for task option helpers
  python/ray/includes/task_options_utils.pxi
Due: none

Preserve ValueError arguments in task option helper
  python/ray/includes/task_options_utils.pxi
Due: none

[serve] Add timing instrumentation for HAProxy reload phases
  python/ray/serve/_private/haproxy.py
Due: docstyle, check-import-order

[serve] Fix AttributeError when request_router is None in update_deployment_config (#63180)
  python/ray/serve/_private/router.py
Due: docstyle, check-import-order

[serve] Split HAProxy admin sockets and skip startup DNS
  python/ray/serve/_private/haproxy.py
  python/ray/serve/_private/haproxy_templates.py
  python/ray/serve/tests/test_haproxy_api.py
Due: docstyle, check-import-order

switch Dataset.mix() from classmethod to instance method for consistency with union/zip
  doc/source/train/user-guides/dataset-mixing.rst
  python/ray/data/dataset.py
  python/ray/data/tests/test_mix.py
Due: docstyle, check-import-order

[serve] Use AutoConfig instead of PretrainedConfig for HF config loading in LLMConfig
  python/ray/llm/_internal/serve/core/configs/llm_config.py
Due: docstyle, check-import-order

Use kwargs for trust_remote_code at all call sites
  python/ray/llm/_internal/serve/core/configs/llm_config.py
Due: docstyle, check-import-order

Apply black formatting to test_models.py
  python/ray/llm/tests/serve/cpu/configs/test_models.py
Due: docstyle, check-import-order

Format with pre-commit hooks
  python/ray/llm/_internal/serve/core/configs/llm_config.py
Due: docstyle, check-import-order

[serve][LLM] Add unit tests for AutoConfig-based HF config loading
  python/ray/llm/tests/serve/cpu/configs/test_models.py
Due: docstyle, check-import-order
