Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)

[Data] Fix the Vale errors this PR's prose introduced
  doc/source/data/monitoring-your-workload.rst
Due: none

[Data] Address review: document the breakdown with a worked example
  doc/source/data/monitoring-your-workload.rst
  python/ray/data/_internal/execution/operators/map_transformer.py
Due: docstyle, check-import-order

review
  python/ray/_raylet.pyx
  python/ray/includes/object_ref.pxi
  python/ray/includes/object_ref.pyi
  python/ray/serve/_private/replica_result.py
  python/ray/serve/_private/utils.py
  python/ray/serve/tests/test_actor_replica_wrapper.py
  python/ray/serve/tests/unit/test_router.py
Due: docstyle, check-import-order

nit
  python/ray/_private/worker.py
Due: docstyle, check-import-order

[Data] Address review: rename "UDF time" to "Block transform time"
  doc/source/data/inspecting-data.rst
  doc/source/data/monitoring-your-workload.rst
  python/ray/data/_internal/execution/interfaces/op_runtime_metrics.py
  python/ray/data/_internal/execution/operators/map_operator.py
  python/ray/data/_internal/execution/operators/map_transformer.py
  python/ray/data/_internal/stats.py
  python/ray/data/block.py
  python/ray/data/context.py
  python/ray/data/tests/conftest.py
  python/ray/data/tests/test_map_transformer.py
  python/ray/data/tests/test_stats.py
Due: docstyle, check-import-order

[Data] Address review: fold built-in stage bodies into "Function body"
  doc/source/data/monitoring-your-workload.rst
  python/ray/data/_internal/execution/interfaces/op_runtime_metrics.py
  python/ray/data/_internal/execution/operators/map_operator.py
  python/ray/data/_internal/execution/operators/map_transformer.py
  python/ray/data/_internal/stats.py
  python/ray/data/block.py
  python/ray/data/tests/test_stats.py
Due: docstyle, check-import-order

[data] Move push-split construction into Dataset.streaming_split_push_based; disable external-consumer-bytes feed
  python/ray/data/_internal/iterator/push_based_split_iterator.py
  python/ray/data/dataset.py
  python/ray/train/_internal/push_based_data_config.py
Due: docstyle, check-import-order, check-train-circular-imports

[data] Quote NodeIdStr annotation (TYPE_CHECKING-only import in dataset.py)
  python/ray/data/dataset.py
Due: docstyle, check-import-order

Use oos drain lock for TryReleaseLocalRefs
  src/ray/core_worker/reference_counter.cc
  src/ray/core_worker/reference_counter.h
  src/ray/core_worker/tests/reference_counter_test.cc
Due: check-cpp-files-inclusion

[docs] Update sandboxing networking docs to recommend for untrusted code
  doc/source/ray-core/sandboxes.md
Due: none

[Data] Address review: time reads and writes too, and fix the 2PC ordering
  doc/source/data/inspecting-data.rst
  doc/source/data/monitoring-your-workload.rst
  python/ray/data/_internal/execution/operators/map_transformer.py
  python/ray/data/_internal/planner/checkpoint/plan_write_op.py
  python/ray/data/_internal/planner/plan_read_files_op.py
  python/ray/data/_internal/planner/plan_read_op.py
  python/ray/data/_internal/planner/plan_udf_map_op.py
  python/ray/data/_internal/planner/plan_write_op.py
  python/ray/data/tests/test_map_transformer.py
  python/ray/data/tests/test_stats.py
Due: docstyle, check-import-order

impl ref._ready
  python/ray/includes/object_ref.pxi
  python/ray/includes/object_ref.pyi
  python/ray/serve/_private/replica_result.py
  python/ray/serve/_private/utils.py
  python/ray/serve/tests/test_handle_2.py
  python/ray/serve/tests/unit/test_router.py
  python/ray/tests/test_asyncio.py
Due: docstyle, check-import-order

Address reviews
  src/ray/core_worker/core_worker_process.cc
  src/ray/core_worker/core_worker_shutdown_executor.cc
  src/ray/core_worker/reference_counter.cc
  src/ray/core_worker/reference_counter.h
Due: check-cpp-files-inclusion

review
  python/ray/serve/_private/utils.py
  python/ray/serve/tests/test_actor_replica_wrapper.py
  python/ray/tests/test_asyncio.py
Due: docstyle, check-import-order

[docs] Update sandboxing networking docs to recommend `none` for untrusted code (#65876)
  doc/source/ray-core/sandboxes.md
Due: none

[serve] Drop grpcio-reflection from CI test requirements
  python/deplocks/ci/serve_base_depset_py3.10.lock
  python/deplocks/ci/serve_base_depset_py3.12.lock
  python/deplocks/ci/serve_ci_depset_py3.10.lock
  python/deplocks/ci/serve_ci_depset_py3.12.lock
  python/deplocks/ci/serve_tracing_depset_py3.10.lock
  python/requirements/serve/serve-test-requirements.txt
  python/requirements_compiled.txt
Due: none

[TPU] Rename dispatch to run_on_slice (#65442)
  doc/source/ray-core/api/utility.rst
  python/ray/tests/test_tpu.py
  python/ray/util/tpu.py
Due: docstyle, check-import-order

[Data] Append logical uuid for logical operators in usage collection
  python/ray/data/_internal/usage/collector.py
Due: docstyle, check-import-order

[Data] [11/11] Enable footer-based Parquet reads by default (#65821)
  python/ray/data/_internal/datasource_v2/chunkers/file_chunker.py
  python/ray/data/_internal/datasource_v2/chunkers/parquet_file_chunking_utils.py
  python/ray/data/_internal/datasource_v2/listing/file_indexer.py
  python/ray/data/_internal/datasource_v2/parquet_datasource_v2.py
  python/ray/data/_internal/datasource_v2/readers/parquet_file_reader.py
  python/ray/data/_internal/datasource_v2/tests/test_footer_chunking.py
  python/ray/data/_internal/datasource_v2/tests/test_parquet_datasource_v2.py
  python/ray/data/context.py
  python/ray/data/tests/datasource/test_parquet.py
  python/ray/data/tests/datasource/test_read_parquet_v2.py
  python/ray/data/tests/unit/datasource_v2/test_file_chunker.py
  python/ray/data/tests/unit/datasource_v2/test_file_indexer.py
  release/nightly_tests/dataset/map_benchmark.py
  release/release_data_tests.yaml
Due: docstyle, check-import-order

initial
  release/nightly_tests/multimodal_inference_benchmarks/audio_transcription/daft_main.py
  release/nightly_tests/multimodal_inference_benchmarks/audio_transcription/requirements.in
  release/nightly_tests/multimodal_inference_benchmarks/document_embedding/daft_main.py
  release/nightly_tests/multimodal_inference_benchmarks/document_embedding/requirements.in
  release/nightly_tests/multimodal_inference_benchmarks/image_classification/daft_main.py
  release/nightly_tests/multimodal_inference_benchmarks/image_classification/requirements.in
  release/nightly_tests/multimodal_inference_benchmarks/video_object_detection/daft_main.py
  release/nightly_tests/multimodal_inference_benchmarks/video_object_detection/requirements.in
  release/ray_release/byod/audio_transcription_py3.10.lock
  release/ray_release/byod/document_embedding_py3.10.lock
  release/ray_release/byod/image_classification_py3.10.lock
  release/ray_release/byod/video_object_detection_py3.10.lock
  release/release_multimodal_inference_benchmarks_tests.yaml
Due: docstyle, check-import-order

[Fix] Address CI error
  python/ray/dashboard/tests/test_dashboard_agent.py
  src/ray/ray_syncer/tests/BUILD.bazel
  src/ray/ray_syncer/tests/ray_syncer_test.cc
  src/ray/rpc/tests/grpc_server_client_test.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

[Data] arrow-rs probe: concurrency-cliff sweep for the M92 single-node read loss
  release/nightly_tests/dataset/arrow_rs_probe/concurrency_cliff_probe.py
Due: docstyle, check-import-order

[Data] Support appending a subset of columns to a Lance dataset. (#64474)
  python/ray/data/_internal/datasource/lance_datasink.py
  python/ray/data/tests/datasource/test_lance.py
Due: docstyle, check-import-order

[Data] cliff probe: subprocess-per-cell so the reader arm switch is real
  release/nightly_tests/dataset/arrow_rs_probe/concurrency_cliff_probe.py
Due: docstyle, check-import-order

[Data] Track consumer-held object store memory
  python/ray/data/_internal/batcher.py
  python/ray/data/_internal/block_batching/interfaces.py
  python/ray/data/_internal/block_batching/iter_batches.py
  python/ray/data/_internal/block_batching/util.py
  python/ray/data/_internal/execution/resource_manager.py
  python/ray/data/_internal/execution/streaming_executor.py
  python/ray/data/_internal/iterator/stream_split_iterator.py
  python/ray/data/iterator.py
  python/ray/data/tests/block_batching/test_util.py
  python/ray/data/tests/test_resource_manager.py
  python/ray/data/tests/test_split.py
Due: docstyle, check-import-order

[Data] cliff probe: ray.init(address='local') so cells don't join the workspace raylet
  release/nightly_tests/dataset/arrow_rs_probe/concurrency_cliff_probe.py
Due: docstyle, check-import-order

multiprocessing: unify fixed and elastic actor lifecycles
  doc/source/ray-more-libs/multiprocessing.rst
  python/ray/tests/test_joblib_autoscale.py
  python/ray/util/multiprocessing/pool.py
Due: docstyle, check-import-order

[Data] cliff probe: --sum-col so the real release datasets are consumable
  release/nightly_tests/dataset/arrow_rs_probe/concurrency_cliff_probe.py
Due: docstyle, check-import-order

[Data] Remove Daft variations from multimodal inference benchmarks (#65765)
  release/nightly_tests/multimodal_inference_benchmarks/audio_transcription/daft_main.py
  release/nightly_tests/multimodal_inference_benchmarks/audio_transcription/requirements.in
  release/nightly_tests/multimodal_inference_benchmarks/document_embedding/daft_main.py
  release/nightly_tests/multimodal_inference_benchmarks/document_embedding/requirements.in
  release/nightly_tests/multimodal_inference_benchmarks/image_classification/daft_main.py
  release/nightly_tests/multimodal_inference_benchmarks/image_classification/requirements.in
  release/nightly_tests/multimodal_inference_benchmarks/video_object_detection/daft_main.py
  release/nightly_tests/multimodal_inference_benchmarks/video_object_detection/requirements.in
  release/ray_release/byod/audio_transcription_py3.10.lock
  release/ray_release/byod/document_embedding_py3.10.lock
  release/ray_release/byod/image_classification_py3.10.lock
  release/ray_release/byod/video_object_detection_py3.10.lock
  release/release_multimodal_inference_benchmarks_tests.yaml
Due: docstyle, check-import-order

multiprocessing: clarify actor slot ownership
  python/ray/tests/test_joblib_autoscale.py
  python/ray/util/multiprocessing/pool.py
Due: docstyle, check-import-order

[Data] cliff probe: --consume iter-bundles for release-faithful full decode
  release/nightly_tests/dataset/arrow_rs_probe/concurrency_cliff_probe.py
Due: docstyle, check-import-order

[Data] Address review: keep unmeasured phases out of the metrics as None
  doc/source/data/monitoring-your-workload.rst
  python/ray/data/_internal/execution/interfaces/op_runtime_metrics.py
  python/ray/data/tests/test_op_runtime_metrics.py
  python/ray/data/tests/test_stats.py
Due: docstyle, check-import-order

make delete generic, successful delete is captured with exception handling
  python/ray/autoscaler/_private/kuberay/node_provider.py
  python/ray/autoscaler/v2/instance_manager/cloud_providers/kuberay/cloud_provider.py
Due: docstyle, check-import-order

[Data] Document the contract deferred apply puts on a stage
  python/ray/data/_internal/execution/operators/map_transformer.py
Due: docstyle, check-import-order

[Data] Simplify the comment on the commit stage's drain
  python/ray/data/_internal/planner/checkpoint/plan_write_op.py
Due: docstyle, check-import-order

Alias ids and indices for clarity
  python/ray/data/_internal/execution/lineage_tracker.py
  python/ray/data/tests/test_lineage_tracker_fan_out.py
  python/ray/data/tests/test_lineage_tracker_linear.py
Due: docstyle, check-import-order

[ci] soft_fail the raydepsets compile-all job during the data.pyg.org outage
  .buildkite/dependencies.rayci.yml
Due: none

[Data][3/n] external shuffle planner (#65499)
  python/ray/data/BUILD.bazel
  python/ray/data/_internal/execution/operators/shuffle_operators/external_shuffle_map_operator.py
  python/ray/data/_internal/execution/operators/shuffle_operators/external_shuffle_reduce_operator.py
  python/ray/data/_internal/execution/resource_manager.py
  python/ray/data/_internal/logical/rules/operator_fusion.py
  python/ray/data/_internal/planner/plan_all_to_all_op.py
  python/ray/data/context.py
  python/ray/data/tests/test_hash_shuffle_external_repartition.py
  python/ray/data/tests/test_hash_shuffle_external_smoke.py
  python/ray/data/tests/test_hash_shuffle_v2.py
  python/ray/data/tests/test_operator_fusion.py
  release/release_data_tests.yaml
Due: docstyle, check-import-order

[core] fix typo: prom_addreses -> prom_addresses
  python/ray/_common/test_utils.py
Due: docstyle, check-import-order
