Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)

Fixes
  python/ray/data/tests/test_progress_bar.py
Due: docstyle, check-import-order

[serve] Whitelist gRPC circular refs in test_replica_memory_growth
  python/ray/serve/tests/test_regression.py
Due: docstyle, check-import-order

run just test_task_events
  .buildkite/windows.rayci.yml
Due: none

fix
  python/ray/data/_internal/cluster_autoscaler/default_cluster_autoscaler_v2.py
  python/ray/data/tests/test_default_cluster_autoscaler_v2.py
Due: docstyle, check-import-order

catalog env vars
  python/ray/serve/_private/constants.py
  python/ray/serve/_private/deployment_state.py
Due: docstyle, check-import-order

fix build failure
  src/ray/core_worker/task_event_buffer.cc
Due: check-cpp-files-inclusion

agg
  python/ray/data/aggregate.py
Due: docstyle, check-import-order

update
  python/ray/data/_internal/cluster_autoscaler/default_cluster_autoscaler_v2.py
  python/ray/data/tests/test_default_cluster_autoscaler_v2.py
Due: docstyle, check-import-order

avoid duplicate so just delete all pendings
  python/ray/data/checkpoint/checkpoint_filter.py
Due: docstyle, check-import-order

[Data] Fix ProgressBar with use_ray_tqdm (#59996)
  python/ray/data/_internal/progress/progress_bar.py
  python/ray/data/tests/test_progress_bar.py
Due: docstyle, check-import-order

fix use-after-free race condition
  bazel/ray_deps_setup.bzl
Due: none

Enable max file size control to avoid out of disk
  src/ray/common/ray_config_def.h
  src/ray/raylet/local_object_manager.cc
  src/ray/raylet/local_object_manager.h
  src/ray/raylet/tests/local_object_manager_test.cc
Due: check-cpp-files-inclusion

remove unnecessary tests
  src/ray/observability/tests/ray_event_recorder_test.cc
Due: check-cpp-files-inclusion

support concurrent pg scheduling
  src/ray/common/ray_config_def.h
  src/ray/gcs/gcs_placement_group_manager.cc
  src/ray/gcs/gcs_placement_group_manager.h
  src/ray/gcs/tests/gcs_placement_group_manager_mock_test.cc
  src/ray/gcs/tests/gcs_placement_group_manager_test.cc
Due: check-cpp-files-inclusion

[serve] Skip _to_object_ref tests when gRPC is enabled by default
  python/ray/serve/tests/test_handle_2.py
Due: docstyle, check-import-order

Fix ut for local object manager max file size cap
  src/ray/raylet/tests/local_object_manager_test.cc
Due: check-cpp-files-inclusion

add comments
  src/ray/gcs/gcs_placement_group_manager.cc
Due: check-cpp-files-inclusion

[Data] Introduce seams to DefaultAutoscaler2 to make it more testable (#59933)
  python/ray/data/_internal/cluster_autoscaler/default_cluster_autoscaler_v2.py
  python/ray/data/_internal/cluster_autoscaler/fake_autoscaling_coordinator.py
  python/ray/data/tests/test_default_cluster_autoscaler_v2.py
Due: docstyle, check-import-order

[rllib] Cleanup `BUILD.bazel` and `rllib.rayci.yml` (#59388)
  .buildkite/rllib.rayci.yml
  rllib/BUILD.bazel
Due: none

test: use local mocked time var
  python/ray/data/tests/test_autoscaling_coordinator.py
Due: docstyle, check-import-order

Fixed metrics compilation in evaluation. Wrote tests for 'OfflinePolicyEvaluationRunner'.
  rllib/algorithms/algorithm.py
  rllib/offline/offline_policy_evaluation_runner.py
  rllib/utils/metrics/stats/sum.py
Due: docstyle, check-import-order

Added tests and aded tests to Bazel.
  rllib/BUILD.bazel
  rllib/offline/tests/test_offline_policy_evaluation_runner.py
Due: docstyle, check-import-order

Add files via upload
  README.txt
Due: none

fix test
  src/ray/core_worker/tests/task_event_buffer_test.cc
Due: check-cpp-files-inclusion

Added docstrings to all tests.
  rllib/offline/tests/test_offline_policy_evaluation_runner.py
Due: docstyle, check-import-order

Delete README.txt
  README.txt
Due: none

Update __init__.py
  python/ray/__init__.py
Due: docstyle, check-import-order

Added validation for 'offline_evaluation_interval' and added safeguards for empty evaluation results.
  rllib/algorithms/algorithm.py
  rllib/algorithms/algorithm_config.py
Due: docstyle, check-import-order

Remvoed double key.
  rllib/algorithms/algorithm.py
Due: docstyle, check-import-order

[ci] remove some 'oss' tags
  .buildkite/build.rayci.yml
  .buildkite/core.rayci.yml
  .buildkite/linux_aarch64.rayci.yml
  .buildkite/macos/macos.rayci.yml
Due: none

Update rllib/BUILD.bazel
  rllib/BUILD.bazel
Due: none

Update python/ray/tests/test_label_utils.py
  python/ray/tests/test_label_utils.py
Due: docstyle, check-import-order

Trim whitespace around selector and fix invalid test case
  python/ray/_private/label_utils.py
  python/ray/tests/test_label_utils.py
Due: docstyle, check-import-order

addressing comments
  src/ray/gcs/BUILD.bazel
  src/ray/gcs/gcs_actor_manager.cc
  src/ray/gcs/gcs_resource_manager.h
Due: check-cpp-files-inclusion

[core] (3/n) [Removing GCS Centralized Scheduling] Removing GlobalGC from the GCS (#60019)
  src/ray/common/ray_config_def.h
  src/ray/gcs/BUILD.bazel
  src/ray/gcs/gcs_server.cc
  src/ray/gcs/gcs_server.h
  src/ray/raylet/BUILD.bazel
  src/ray/raylet/node_manager.cc
  src/ray/raylet/node_manager.h
  src/ray/raylet/tests/BUILD.bazel
  src/ray/raylet/tests/throttler_test.cc
  src/ray/raylet/throttler.h
  src/ray/util/BUILD.bazel
  src/ray/util/tests/BUILD.bazel
Due: check-cpp-files-inclusion

Add technical charter
  doc/source/index.rst
  doc/source/ray-governance/index.md
  doc/source/ray-governance/people.md
Due: none

fix it
  doc/source/ray-governance/index.md
Due: none

[serve] Fix Windows test failure in test_serve_with_tracing by closing tracer file handles (#60078)
  python/ray/serve/tests/test_serve_with_tracing.py
Due: docstyle, check-import-order
