Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

Changing the test timeout, removing some test parameters, speeding up prefill/empty of object store
  release/benchmarks/object_store/test_object_store_fixed_size_throughput.py
  release/release_tests.yaml
Due: docstyle, check-import-order

add img clf factory skeleton
  release/train_tests/benchmark/image_classification/factory.py
  release/train_tests/benchmark/image_classification/image_classification_jpeg/factory.py
  release/train_tests/benchmark/train_benchmark.py
Due: docstyle, check-import-order

add test
  python/ray/dashboard/modules/reporter/tests/test_reporter.py
Due: docstyle, check-import-order

Update requirements.in by uncommenting transformers
  doc/source/ray-overview/examples/e2e-audio/requirements.in
Due: none

Remove redundant export from post build script
  doc/source/train/examples/pytorch/distributing-pytorch/ci/build.sh
Due: none

Remove verbose output
  doc/source/cluster/kubernetes/examples/rayserve-llm-example.md
Due: none

added rag files
  doc/source/ray-overview/examples/e2e-rag/README.ipynb
  doc/source/ray-overview/examples/e2e-rag/README.md
  doc/source/ray-overview/examples/e2e-rag/ci/aws.yaml
  doc/source/ray-overview/examples/e2e-rag/ci/build.sh
  doc/source/ray-overview/examples/e2e-rag/ci/gce.yaml
  doc/source/ray-overview/examples/e2e-rag/ci/nb2py.py
  doc/source/ray-overview/examples/e2e-rag/ci/tests.sh
  doc/source/ray-overview/examples/e2e-rag/configs/aws.yaml
  doc/source/ray-overview/examples/e2e-rag/configs/gce.yaml
  doc/source/ray-overview/examples/e2e-rag/containerfile
  doc/source/ray-overview/examples/e2e-rag/index.rst
  doc/source/ray-overview/examples/e2e-rag/notebooks/01_(Optional)_Regular_Document_Processing_Pipeline.ipynb
  doc/source/ray-overview/examples/e2e-rag/notebooks/02_Scalable_RAG_Data_Ingestion_with_Ray_Data.ipynb
  doc/source/ray-overview/examples/e2e-rag/notebooks/03_Deploy_LLM_with_Ray_Serve.ipynb
  doc/source/ray-overview/examples/e2e-rag/notebooks/04_Build_Basic_RAG_Chatbot.ipynb
  doc/source/ray-overview/examples/e2e-rag/notebooks/05_Improve_RAG_with_Prompt_Engineering.ipynb
  doc/source/ray-overview/examples/e2e-rag/notebooks/06_(Optional)_Evaluate_RAG_with_Online_Inference.ipynb
  doc/source/ray-overview/examples/e2e-rag/notebooks/07_Evaluate_RAG_with_Ray_Data_LLM_Batch_inference.ipynb
  doc/source/ray-overview/examples/e2e-rag/notebooks/anyscale-jobs-docs/Create_and_manage_jobs.pdf
  doc/source/ray-overview/examples/e2e-rag/notebooks/anyscale-jobs-docs/Job_queues.pptx
  doc/source/ray-overview/examples/e2e-rag/notebooks/anyscale-jobs-docs/Job_schedules.html
  doc/source/ray-overview/examples/e2e-rag/notebooks/anyscale-jobs-docs/Jobs.txt
  doc/source/ray-overview/examples/e2e-rag/notebooks/anyscale-jobs-docs/Monitor_a_job.docx
  doc/source/ray-overview/examples/e2e-rag/notebooks/evaluation_data/rag-eval-questions.csv
  doc/source/ray-overview/examples/e2e-rag/notebooks/rag_utils.py
  doc/source/ray-overview/examples/e2e-rag/notebooks/serve_llm.py
Due: none

add task config
  release/train_tests/benchmark/config.py
Due: docstyle, check-import-order

[ci] fix misconfig on byod scripts
  .github/CODEOWNERS
Due: none

[ci] fix misconfig on byod scripts (#53682)
  .github/CODEOWNERS
Due: none

implement the task config routing for img clf ray data
  release/train_tests/benchmark/image_classification/factory.py
  release/train_tests/benchmark/image_classification/image_classification_jpeg/factory.py
  release/train_tests/benchmark/image_classification/image_classification_parquet/factory.py
  release/train_tests/benchmark/image_classification/imagenet.py
Due: docstyle, check-import-order

[Docs] Adds second notebook to timeseries tutorial (#53561)
  .vale/styles/config/vocabularies/General/accept.txt
  doc/source/ray-overview/examples/e2e-timeseries/README.ipynb
  doc/source/ray-overview/examples/e2e-timeseries/README.md
  doc/source/ray-overview/examples/e2e-timeseries/ci/test.py
  doc/source/ray-overview/examples/e2e-timeseries/e2e_timeseries/01-Distributed-Training.ipynb
  doc/source/ray-overview/examples/e2e-timeseries/e2e_timeseries/02-Validation.ipynb
  doc/source/ray-overview/examples/e2e-timeseries/e2e_timeseries/__init__.py
  doc/source/ray-overview/examples/e2e-timeseries/e2e_timeseries/data_factory.py
  doc/source/ray-overview/examples/e2e-timeseries/index.rst
  doc/source/ray-overview/examples/e2e-xgboost/dist_xgboost/tests.py
  release/ray_release/byod/byod_e2e_timeseries.sh
  release/release_tests.yaml
Due: none

round 3 :)
  python/ray/data/_internal/arrow_block.py
  python/ray/data/_internal/execution/legacy_compat.py
  python/ray/data/_internal/execution/operators/hash_shuffle.py
  python/ray/data/_internal/execution/operators/zip_operator.py
  python/ray/data/_internal/execution/streaming_executor.py
  python/ray/data/_internal/execution/streaming_executor_state.py
  python/ray/data/_internal/iterator/stream_split_iterator.py
  python/ray/data/_internal/pandas_block.py
  python/ray/data/_internal/plan.py
  python/ray/data/_internal/planner/exchange/aggregate_task_spec.py
  python/ray/data/_internal/planner/exchange/shuffle_task_spec.py
  python/ray/data/_internal/planner/exchange/sort_task_spec.py
  python/ray/data/_internal/planner/plan_read_op.py
  python/ray/data/_internal/table_block.py
  python/ray/data/_internal/util.py
  python/ray/data/block.py
Due: docstyle, check-import-order

[Docs] Create lockfiles for various e2e tutorials (#53672)
  doc/source/ray-overview/examples/e2e-audio/ci/build.sh
  doc/source/ray-overview/examples/e2e-audio/requirements.in
  doc/source/ray-overview/examples/e2e-audio/requirements.txt
  doc/source/ray-overview/examples/e2e-timeseries/requirements.in
  doc/source/ray-overview/examples/e2e-timeseries/requirements.txt
  release/ray_release/byod/byod_e2e_audio.sh
  release/ray_release/byod/byod_e2e_timeseries.sh
Due: none

fix linting
  python/ray/llm/_internal/serve/configs/prompt_formats.py
  python/ray/llm/tests/serve/cpu/configs/test_models.py
  python/ray/llm/tests/serve/cpu/configs/test_prompt_formats.py
Due: docstyle, check-import-order

finish for torch dl variants
  release/train_tests/benchmark/image_classification/factory.py
  release/train_tests/benchmark/image_classification/image_classification_jpeg/factory.py
Due: docstyle, check-import-order

remove unused redundant factories
  release/train_tests/benchmark/image_classification/image_classification_jpeg/factory.py
  release/train_tests/benchmark/image_classification/image_classification_parquet/factory.py
  release/train_tests/benchmark/image_classification/localfs_image_classification_jpeg/factory.py
Due: docstyle, check-import-order

remove localfs task special case
  release/train_tests/benchmark/torch_dataloader_factory.py
Due: docstyle, check-import-order

[ci] change macos intel platform to 12_0 (#53671)
  ci/ray_ci/automation/ray_wheels_lib.py
  ci/ray_ci/automation/test_ray_wheels_lib.py
  doc/source/ray-overview/installation.rst
  release/util/download_wheels.sh
Due: docstyle, check-import-order

docstring
  release/train_tests/benchmark/image_classification/factory.py
Due: docstyle, check-import-order

[core] Speed up & deflake `test_multitenancy.py` (#53674)
  python/ray/tests/test_multi_tenancy.py
Due: docstyle, check-import-order

[core] Remove deprecated `ray start` CLI options (#53675)
  python/ray/scripts/scripts.py
Due: docstyle, check-import-order

remove unused method
  release/train_tests/benchmark/factory.py
Due: docstyle, check-import-order

Train Tests: Add wrapper to run tests in loop
  release/release_tests.yaml
  release/train_tests/benchmark/image_classification/run_benchmark.sh
Due: none

remove nit
  release/train_tests/benchmark/ray_dataloader_factory.py
Due: docstyle, check-import-order

update release test commands
  release/release_tests.yaml
Due: none

pt 2
  release/release_tests.yaml
Due: none

[train][template] Add Anyscale template for PyTorch + Ray Train + Ray Data (#53220)
  doc/source/conf.py
  doc/source/train/examples/pytorch/distributing-pytorch/README.ipynb
  doc/source/train/examples/pytorch/distributing-pytorch/README.md
  doc/source/train/examples/pytorch/distributing-pytorch/ci/BUILD
  doc/source/train/examples/pytorch/distributing-pytorch/ci/aws.yaml
  doc/source/train/examples/pytorch/distributing-pytorch/ci/build.sh
  doc/source/train/examples/pytorch/distributing-pytorch/ci/gce.yaml
  doc/source/train/examples/pytorch/distributing-pytorch/ci/nb2py.py
  doc/source/train/examples/pytorch/distributing-pytorch/ci/tests.sh
  doc/source/train/examples/pytorch/distributing-pytorch/configs/aws.yaml
  doc/source/train/examples/pytorch/distributing-pytorch/configs/gce.yaml
  doc/source/train/examples/pytorch/distributing-pytorch/images/data_dashboard.png
  doc/source/train/examples/pytorch/distributing-pytorch/images/metrics_dashboard.png
  doc/source/train/examples/pytorch/distributing-pytorch/images/train_run.png
  doc/source/train/examples/pytorch/distributing-pytorch/images/train_runs.png
  doc/source/train/examples/pytorch/distributing-pytorch/images/train_worker.png
  release/BUILD.bazel
  release/ray_release/byod/byod_pytorch_train_data.sh
  release/release_tests.yaml
Due: none

fix impl of dataset creation time
  release/train_tests/benchmark/image_classification/image_classification_jpeg/factory.py
  release/train_tests/benchmark/image_classification/image_classification_parquet/factory.py
  release/train_tests/benchmark/ray_dataloader_factory.py
  release/train_tests/benchmark/recsys/recsys_factory.py
  release/train_tests/benchmark/train_benchmark.py
Due: docstyle, check-import-order

Revert "fix impl of dataset creation time"
  release/train_tests/benchmark/image_classification/image_classification_jpeg/factory.py
  release/train_tests/benchmark/image_classification/image_classification_parquet/factory.py
  release/train_tests/benchmark/ray_dataloader_factory.py
  release/train_tests/benchmark/recsys/recsys_factory.py
  release/train_tests/benchmark/train_benchmark.py
Due: docstyle, check-import-order

[Core] Native CPU affinity support for accelerators
  cpp/src/ray/config_internal.cc
  cpp/src/ray/config_internal.h
  cpp/src/ray/runtime/task/task_executor.cc
  cpp/src/ray/runtime/task/task_executor.h
  cpp/src/ray/util/process_helper.cc
  python/ray/_private/node.py
  python/ray/_private/parameter.py
  python/ray/_private/services.py
  python/ray/_private/utils.py
  python/ray/_private/worker.py
  python/ray/_private/workers/default_worker.py
  python/ray/_raylet.pyx
  python/ray/cluster_utils.py
  python/ray/includes/libcoreworker.pxd
  python/ray/scripts/scripts.py
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker_options.h
  src/ray/core_worker/lib/java/io_ray_runtime_RayNativeRuntime.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

[Dashboard] Support reporting AMD GPU usage
  python/ray/_private/thirdparty/pyamdsmi/pyamdsmi.py
  python/ray/dashboard/client/src/components/ActorTable.tsx
  python/ray/dashboard/client/src/pages/node/index.tsx
  python/ray/dashboard/modules/reporter/reporter_agent.py
Due: docstyle, check-import-order

move dataset creation time impl out of factory
  release/train_tests/benchmark/factory.py
  release/train_tests/benchmark/runner.py
  release/train_tests/benchmark/train_benchmark.py
Due: docstyle, check-import-order

rename some folders
  release/train_tests/benchmark/image_classification/jpeg/__init__.py
  release/train_tests/benchmark/image_classification/jpeg/factory.py
  release/train_tests/benchmark/image_classification/jpeg/imagenet.py
  release/train_tests/benchmark/image_classification/jpeg/torch_jpeg_image_iterable_dataset.py
  release/train_tests/benchmark/image_classification/parquet/__init__.py
  release/train_tests/benchmark/image_classification/parquet/factory.py
  release/train_tests/benchmark/image_classification/parquet/imagenet.py
  release/train_tests/benchmark/image_classification/parquet/torch_parquet_image_iterable_dataset.py
Due: docstyle, check-import-order

move jpeg ds download bash script
  release/release_tests.yaml
  release/train_tests/benchmark/image_classification/jpeg/download_input_data_from_s3.sh
  release/train_tests/benchmark/image_classification/localfs_image_classification_jpeg/__init__.py
Due: docstyle, check-import-order

rename some things
  release/train_tests/benchmark/image_classification/jpeg/jpeg_iterable_dataset.py
  release/train_tests/benchmark/image_classification/parquet/parquet_iterable_dataset.py
Due: docstyle, check-import-order

fix
  release/train_tests/benchmark/image_classification/factory.py
  release/train_tests/benchmark/image_classification/jpeg/factory.py
  release/train_tests/benchmark/image_classification/parquet/factory.py
Due: docstyle, check-import-order

rename factory -> benchmark_factory
  release/train_tests/benchmark/benchmark_factory.py
  release/train_tests/benchmark/recsys/recsys_factory.py
  release/train_tests/benchmark/runner.py
  release/train_tests/benchmark/train_benchmark.py
Due: docstyle, check-import-order

Migrating pydantic compat utils from private to common
  python/ray/_common/pydantic_compat.py
  python/ray/dashboard/modules/job/job_head.py
  python/ray/dashboard/modules/job/pydantic_models.py
  python/ray/dashboard/modules/log/log_manager.py
  python/ray/dashboard/modules/serve/serve_head.py
  python/ray/serve/_private/api.py
  python/ray/serve/_private/config.py
  python/ray/serve/_private/http_util.py
  python/ray/serve/_private/version.py
  python/ray/serve/config.py
  python/ray/serve/schema.py
  python/ray/serve/tests/test_api.py
  python/ray/serve/tests/test_cli_2.py
  python/ray/serve/tests/test_config_files/arg_builders.py
  python/ray/serve/tests/test_deploy.py
  python/ray/serve/tests/test_target_capacity.py
  python/ray/serve/tests/unit/test_config.py
  python/ray/serve/tests/unit/test_schema.py
  python/ray/train/_internal/state/schema.py
  python/ray/train/v2/_internal/state/schema.py
  python/ray/util/serialization_addons.py
  python/ray/util/state/common.py
Due: docstyle, check-import-order

ruff
  python/ray/tests/test_runtime_env_uv_run.py
Due: docstyle, check-import-order

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)
