Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

check-train-circular-imports:
  name: Check Ray Train circular imports
  entry: python python/ray/train/lint/check_circular_imports.py
  language: system
  pass_filenames: false
  args:
  - --patch_dir
  - ray/train/v2

[ci] Place cicd.rayci.yml into buildkite test rules
  .buildkite/test.rules.txt
Due: none

Revisited hash method of the Pyarrow schemas to just drop the metadata
  python/ray/data/block.py
Due: docstyle, check-import-order

Fixed equality check to align with hash method
  python/ray/data/_internal/execution/interfaces/ref_bundle.py
Due: docstyle, check-import-order

Aligned `PandasBlockSchema` with Pyarrow's `Schema`
  python/ray/data/_internal/pandas_block.py
Due: docstyle, check-import-order

[Serve][4/n] Public API and docs for deployment-scoped actors (#61833)
  doc/source/serve/api/index.md
  python/ray/serve/__init__.py
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/api.py
  python/ray/serve/context.py
  python/ray/serve/tests/BUILD.bazel
  python/ray/serve/tests/test_config_files/config_only_deployment_actor.py
  python/ray/serve/tests/test_config_files/deployment_actors.yaml
  python/ray/serve/tests/test_config_files/flex_deployment_actor.py
  python/ray/serve/tests/test_deployment_actors.py
  python/ray/serve/tests/test_standalone.py
Due: docstyle, check-import-order

renaming lock files
  ci/docker/serve.build.wanda.yaml
  ci/raydepsets/configs/ci_serve.depsets.yaml
  python/deplocks/ci/serve_ci_depset_py3.10.lock
  python/deplocks/ci/serve_ci_depset_py3.12.lock
  python/deplocks/ci/serve_tracing_depset_py3.10.lock
Due: none

Fixed eq check
  python/ray/data/_internal/execution/interfaces/ref_bundle.py
Due: docstyle, check-import-order

Fixed hashing util
  python/ray/data/block.py
Due: docstyle, check-import-order

[serve] Fix CLI entry point and clean up argparse sections
  python/ray/llm/_internal/serve/benchmark/__main__.py
  python/ray/llm/_internal/serve/benchmark/cli.py
Due: docstyle, check-import-order

[CI] Add wanda digest tooling for ray-core cache lookups
  .buildkite/build.rayci.yml
  .buildkite/copy_files.py
  .rayciversion
  WORKSPACE
  bazel/BUILD.bazel
  bazel/wanda.bzl
  ci/build/BUILD.bazel
  ci/build/publish_core_digest.py
  ci/build/publish_core_digest_test.py
  ci/build/wanda.py
  ci/build/wanda_version_test.py
Due: docstyle, check-import-order

[Serve] drop replica label from controller histogram metrics (#62088)
  doc/source/serve/monitoring.md
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/tests/test_metrics.py
  python/ray/serve/tests/test_metrics_3.py
Due: docstyle, check-import-order

feat: draft kafka partition offset
  python/ray/data/_internal/datasource/kafka_datasource.py
  python/ray/data/read_api.py
  python/ray/data/tests/datasource/test_kafka.py
Due: docstyle, check-import-order

fix: improve lookup time
  python/ray/data/_internal/datasource/kafka_datasource.py
Due: docstyle, check-import-order

fix: variable name
  python/ray/data/_internal/datasource/kafka_datasource.py
Due: docstyle, check-import-order

fix: remove default fallback
  python/ray/data/_internal/datasource/kafka_datasource.py
Due: docstyle, check-import-order

fix: OffsetOutOfRangeError
  python/ray/data/_internal/datasource/kafka_datasource.py
  python/ray/data/tests/datasource/test_kafka.py
Due: docstyle, check-import-order

fix: combine validation into _validate_offsets
  python/ray/data/_internal/datasource/kafka_datasource.py
Due: docstyle, check-import-order

[Data] Add get_dataset_schema to SplitCoordinator
  python/ray/data/_internal/iterator/stream_split_iterator.py
  python/ray/data/tests/test_streaming_integration.py
Due: docstyle, check-import-order

[Data] Remove _base_dataset from StreamSplitDataIterator
  python/ray/data/_internal/iterator/stream_split_iterator.py
  python/ray/data/tests/test_streaming_integration.py
Due: docstyle, check-import-order

updated get_dataset_schema condition to succeed after schema execution and updated tests
  python/ray/data/_internal/iterator/stream_split_iterator.py
  python/ray/data/tests/test_streaming_integration.py
Due: docstyle, check-import-order

test fix
  python/ray/data/tests/test_streaming_integration.py
Due: docstyle, check-import-order

fix tests
  python/ray/train/v2/tests/test_data_integration.py
Due: docstyle, check-import-order, check-train-circular-imports

use current executor
  python/ray/data/_internal/iterator/stream_split_iterator.py
Due: docstyle, check-import-order

remove index counting
  python/ray/data/_internal/iterator/stream_split_iterator.py
Due: docstyle, check-import-order

Add incompatibility workaround
  doc/source/data/working-with-llms.rst
  doc/source/serve/llm/troubleshooting.md
Due: none

[core] print out the grpc peer address on GCS's HandleDrainNode
  src/ray/gcs/gcs_autoscaler_state_manager.cc
  src/ray/gcs/gcs_autoscaler_state_manager.h
  src/ray/gcs/grpc_service_interfaces.h
  src/ray/gcs/grpc_services.cc
  src/ray/gcs/tests/gcs_autoscaler_state_manager_test.cc
  src/ray/rpc/grpc_server.h
  src/ray/rpc/server_call.h
Due: check-cpp-files-inclusion

Revert "[Data] Remove flag from datacontext for arrow block conversion, keep default"
  python/ray/data/block.py
  python/ray/data/context.py
Due: docstyle, check-import-order

dataclass for test configuration
  python/ray/serve/tests/test_autoscaling_with_streaming.py
Due: docstyle, check-import-order

including tpu image builds
  .buildkite/_images.rayci.yml
  .buildkite/release/build.rayci.yml
  ci/docker/ray-anyscale-tpu.wanda.yaml
  docker/base-extra-testdeps/tpu.wanda.yaml
  docker/base-extra/tpu.wanda.yaml
Due: none

remove test_autoscaling_with_streaming
  ci/ray_ci/serve_hap_test_names.txt
Due: none

remove test_autoscaling_with_streaming
  python/ray/serve/tests/BUILD.bazel
Due: none

[Data] revert numpy conversion for accumulator blocks
  python/ray/data/_internal/table_block.py
Due: docstyle, check-import-order

[Data] Disable InheritBatchFormatRule if batch_to_block_arrow_format is set
  python/ray/data/_internal/logical/optimizers.py
Due: docstyle, check-import-order

[data] Heap based actor ranking
  python/ray/data/_internal/actor_autoscaler/autoscaling_actor_pool.py
  python/ray/data/_internal/execution/operators/actor_pool_map_operator.py
  python/ray/data/_internal/utils/heapdict.py
Due: docstyle, check-import-order

[ci] Place cicd.rayci.yml into buildkite test rules (#62107)
  .buildkite/test.rules.txt
Due: none

[core] run rdt_single_node_A100_microbenchmark on llm-cu130 images
  release/release_tests.yaml
Due: none

Avoid carrying `input_files` inside `DatasetStats`
  python/ray/data/read_api.py
Due: docstyle, check-import-order

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
