Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

[wheel] revert back cython build rule hack (#55175)
  bazel/cython.BUILD
Due: none

[RLlib] Simplify: Remove input/output specs from RLModules. (#55141)
  rllib/BUILD
  rllib/algorithms/dqn/default_dqn_rl_module.py
  rllib/algorithms/dqn/dqn_catalog.py
  rllib/algorithms/impala/tests/test_vtrace_v2.py
  rllib/algorithms/ppo/ppo_catalog.py
  rllib/algorithms/sac/default_sac_rl_module.py
  rllib/algorithms/sac/sac_catalog.py
  rllib/core/distribution/distribution.py
  rllib/core/distribution/torch/torch_distribution.py
  rllib/core/models/base.py
  rllib/core/models/catalog.py
  rllib/core/models/tests/test_catalog.py
  rllib/core/models/torch/base.py
  rllib/core/rl_module/multi_rl_module.py
  rllib/core/rl_module/rl_module.py
  rllib/core/rl_module/torch/torch_rl_module.py
  rllib/core/testing/torch/bc_module.py
  rllib/env/env_context.py
  rllib/examples/catalogs/custom_action_distribution.py
  rllib/examples/multi_agent/self_play_with_open_spiel.py
  rllib/examples/multi_agent/utils/self_play_callback.py
  rllib/examples/rl_modules/classes/autoregressive_actions_rlm.py
  rllib/examples/rl_modules/classes/custom_action_distribution_rlm.py
  rllib/examples/rl_modules/classes/modelv2_to_rlm.py
  rllib/examples/rl_modules/classes/random_rlm.py
  rllib/examples/rl_modules/classes/rock_paper_scissors_heuristic_rlm.py
  rllib/models/tests/test_distributions.py
Due: docstyle, check-import-order

[Data] Issue Detection Framework (#55155)
  python/ray/data/BUILD
  python/ray/data/_internal/execution/callbacks/__init__.py
  python/ray/data/_internal/execution/callbacks/insert_issue_detectors.py
  python/ray/data/_internal/execution/execution_callback.py
  python/ray/data/_internal/execution/interfaces/op_runtime_metrics.py
  python/ray/data/_internal/issue_detection/__init__.py
  python/ray/data/_internal/issue_detection/detectors/__init__.py
  python/ray/data/_internal/issue_detection/detectors/hanging_detector.py
  python/ray/data/_internal/issue_detection/detectors/high_memory_detector.py
  python/ray/data/_internal/issue_detection/issue_detector.py
  python/ray/data/_internal/issue_detection/issue_detector_configuration.py
  python/ray/data/_internal/issue_detection/issue_detector_manager.py
  python/ray/data/context.py
  python/ray/data/tests/test_issue_detection_manager.py
Due: docstyle, check-import-order

Added Ray Train LoggingManager Utility Class (#55121)
  python/ray/train/v2/_internal/execution/controller/controller.py
  python/ray/train/v2/_internal/execution/worker_group/worker.py
  python/ray/train/v2/_internal/logging/__init__.py
  python/ray/train/v2/_internal/logging/logging.py
  python/ray/train/v2/tests/test_logging.py
Due: docstyle, check-import-order

[train] Fix the xgboost v2 callback (#54787)
  ci/lint/pydoclint-baseline.txt
  python/ray/train/xgboost/_xgboost_utils.py
  python/ray/tune/integration/xgboost.py
Due: docstyle, check-import-order

Addressing comments
  src/ray/core_worker/core_worker_process.cc
  src/ray/rpc/node_manager/raylet_client_pool.h
  src/ray/rpc/worker/core_worker_client.cc
  src/ray/rpc/worker/core_worker_client_pool.h
Due: check-cpp-files-inclusion

updating path
  ci/raydepsets/rayllm.depsets.yaml
Due: none

[ci] raydepsets: adding override and append UV flag fields (#54809)
  ci/raydepsets/cli.py
  ci/raydepsets/test_cli.py
  ci/raydepsets/workspace.py
Due: docstyle, check-import-order

update
  python/ray/scripts/symmetric_run.py
Due: docstyle, check-import-order

added ssl to ray serve
  python/ray/serve/_private/http_util.py
  python/ray/serve/config.py
  python/ray/serve/example_https.py
  python/ray/serve/example_https_advanced.py
  python/ray/serve/schema.py
Due: docstyle, check-import-order

hook up DatasetManager impl in the context
  python/ray/train/v2/_internal/execution/context.py
Due: docstyle, check-import-order

fix build name
  python/ray/train/v2/BUILD
Due: none

hook up the user API
  python/ray/train/v2/_internal/callbacks/datasets.py
  python/ray/train/v2/_internal/execution/context.py
  python/ray/train/v2/_internal/execution/worker_group/worker.py
  python/ray/train/v2/api/train_fn_utils.py
Due: docstyle, check-import-order

[core] improve the robustness of raylet metric reporting
  src/ray/raylet/main.cc
Due: check-cpp-files-inclusion

tess
  python/ray/scripts/symmetric_run.py
  python/ray/tests/test_cli.py
Due: docstyle, check-import-order

fix excluding train total resources on datasets
  python/ray/train/v2/_internal/callbacks/datasets.py
  python/ray/train/v2/tests/test_data_integration.py
Due: docstyle, check-import-order

add nit comment
  python/ray/train/v2/_internal/callbacks/datasets.py
Due: docstyle, check-import-order

test jax trainer
  python/ray/experimental/channel/__pycache__/serialization_context.cpython-39.pyc.4431272656
Due: none

[llm][ci] Run llm gpu tests less (#55224)
  .buildkite/llm.rayci.yml
Due: none

[Doc][KubeRay] fix typo in integration with Apache YuniKorn
  doc/source/cluster/kubernetes/k8s-ecosystem/yunikorn.md
Due: none

[llm] disable failing gpu test
  python/ray/llm/tests/BUILD
Due: none

[llm] disable failing gpu test (#55232)
  python/ray/llm/tests/BUILD
Due: none

[Data] `map_batches` set default row modification to False and explicitly don't push past in limit (#54992)
  python/ray/data/_internal/logical/operators/map_operator.py
  python/ray/data/_internal/logical/rules/limit_pushdown.py
Due: docstyle, check-import-order

[wheel] use hermetic genrule to perform protobuf import path renaming (#55037)
  BUILD.bazel
  ci/docker/base.gpu.Dockerfile
Due: none

[Data] Refactor planner interface (#55018)
  python/ray/data/_internal/planner/planner.py
Due: docstyle, check-import-order

[ci] raydepsets: build graph execution (#54610)
  ci/raydepsets/BUILD.bazel
  ci/raydepsets/cli.py
  ci/raydepsets/depset.config.yaml
  ci/raydepsets/test_cli.py
  release/requirements_buildkite.in
  release/requirements_buildkite.txt
Due: docstyle, check-import-order

start improving _raylet.pyi
  python/ray/_raylet.pyi
  python/ray/types.py
Due: docstyle, check-import-order

[LLM] Update ray-llm image to include EP deps (#54980)
  docker/ray-llm/Dockerfile
Due: none

[core] Removing non factory raylet pool constructor (#55036)
  BUILD.bazel
  src/ray/core_worker/core_worker_process.cc
  src/ray/gcs/gcs_server/gcs_autoscaler_state_manager.cc
  src/ray/gcs/gcs_server/gcs_node_manager.cc
  src/ray/gcs/gcs_server/gcs_server.cc
  src/ray/raylet/main.cc
  src/ray/raylet/node_manager.cc
  src/ray/raylet/test/node_manager_test.cc
  src/ray/raylet_client/raylet_client.cc
  src/ray/raylet_client/raylet_client.h
  src/ray/rpc/node_manager/node_manager_client.h
  src/ray/rpc/node_manager/raylet_client_pool.cc
  src/ray/rpc/node_manager/raylet_client_pool.h
  src/ray/rpc/worker/core_worker_client_pool.cc
Due: check-cpp-files-inclusion

unique_ids.pyi
  python/ray/_raylet.pyi
  python/ray/includes/common.pyi
  python/ray/includes/unique_ids.pxd
  python/ray/includes/unique_ids.pxi
  python/ray/includes/unique_ids.pyi
  python/ray/includes/unique_ids_wip.pyi
Due: none

more raylet changes
  python/ray/_raylet.pyi
Due: none

unique_ids.pyi WIP
  python/ray/includes/unique_ids.pyi
Due: none

run tests/ruff
  ci/lint/pydoclint-baseline.txt
Due: none

complete typestubbing
  ci/lint/pydoclint-baseline.txt
  python/ray/_private/external_storage.py
  python/ray/_private/worker.py
  python/ray/_raylet.pyi
  python/ray/_raylet.pyx
  python/ray/data/tests/test_map.py
  python/ray/experimental/channel/shared_memory_channel.py
  python/ray/experimental/locations.py
  python/ray/includes/buffer.pyi
  python/ray/includes/common.pyi
  python/ray/includes/function_descriptor.pyi
  python/ray/includes/gcs_client.pyi
  python/ray/includes/global_state_accessor.pyi
  python/ray/includes/libcoreworker.pyi
  python/ray/includes/metric.pxi
  python/ray/includes/metric.pyi
  python/ray/includes/object_ref.pxi
  python/ray/includes/object_ref.pyi
  python/ray/includes/ray_config.pyi
  python/ray/includes/serialization.pyi
  python/ray/includes/setproctitle.pyi
  python/ray/includes/unique_ids.pxi
  python/ray/includes/unique_ids.pyi
  python/ray/includes/unique_ids_wip.pyi
  python/ray/types.py
Due: docstyle, check-import-order

update stubs
  python/ray/_raylet.pyi
  python/ray/includes/gcs_client.pyi
Due: none

[core] Fixing windows build error (#55053)
  src/ray/core_worker/core_worker_process.cc
Due: check-cpp-files-inclusion

[release test] fix broken release test configs (#55061)
  ci/pipeline/test_conditional_testing.py
  ci/pipeline/test_rules.txt
  release/release_tests.yaml
Due: docstyle, check-import-order

Fix LLM Streaming Kuberay cluster mem (#55029)
  python/ray/tests/chaos/prepare_env.sh
Due: none

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)
