Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

[core][telemetry/05] refactor open_telemetry_metric_recorder.py
  python/ray/tests/test_metrics_agent.py
Due: docstyle, check-import-order

debugging (#53265)
  python/ray/tests/test_metrics_agent.py
Due: docstyle, check-import-order

[core][telemetry/08] record counter metric e2e
  python/ray/tests/test_open_telemetry_metric_recorder.py
  src/ray/stats/tests/metric_with_open_telemetry_test.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

debugging (#53265)
  python/ray/tests/BUILD
  src/ray/telemetry/open_telemetry_metric_recorder.h
Due: check-cpp-files-inclusion

[core] remove otel from hard dependencies
  .buildkite/serve.rayci.yml
  ci/docker/serve.build.Dockerfile
  ci/docker/servetracing.build.wanda.yaml
  python/ray/tests/BUILD
  python/ray/tests/test_open_telemetry_metric_recorder.py
  python/requirements.txt
  python/requirements/cloud-requirements.txt
  python/requirements/test-requirements.txt
  python/requirements_compiled.txt
  python/setup.py
Due: docstyle, check-import-order

[core][telemetry/07] support counter metric
  python/ray/tests/BUILD
  src/ray/telemetry/open_telemetry_metric_recorder.h
Due: check-cpp-files-inclusion

debugging (#53265)
  python/ray/tests/BUILD
Due: none

[core][telemetry/09] record sum metric e2e
  python/ray/tests/test_metrics_agent.py
  src/ray/stats/tests/metric_with_open_telemetry_test.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

[core][telemetry/11] support histogram metric on worker side
  python/ray/tests/test_metrics_agent.py
  src/ray/stats/tests/metric_with_open_telemetry_test.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

[core][telemetry/12] record histogram metric e2e
  .buildkite/serve.rayci.yml
  python/ray/_private/telemetry/open_telemetry_metric_recorder.py
  python/ray/dashboard/modules/reporter/reporter_agent.py
  python/ray/tests/test_metrics_agent.py
  python/ray/tests/test_open_telemetry_metric_recorder.py
  src/ray/stats/metric.h
  src/ray/stats/stats.h
  src/ray/stats/tests/metric_with_open_telemetry_test.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

[core] remove otel from hard dependencies
  .buildkite/serve.rayci.yml
Due: none

[core][telemetry/08] record counter metric e2e
  src/ray/stats/tests/metric_with_open_telemetry_test.cc
Due: check-cpp-files-inclusion

[core][telemetry/12] record histogram metric e2e
  src/ray/stats/tests/metric_with_open_telemetry_test.cc
Due: check-cpp-files-inclusion

[core][telemetry/13] performance tests
  release/release_tests.yaml
  src/ray/stats/tests/metric_with_open_telemetry_test.cc
Due: check-cpp-files-inclusion

Fix `test_runtime_env_container` (#54330)
  python/ray/serve/_private/test_utils.py
  python/ray/serve/tests/test_cli_2.py
  python/ray/serve/tests/test_cli_3.py
Due: docstyle, check-import-order

deflake test_gcs_fault_tolerance
  python/ray/tests/conftest.py
Due: docstyle, check-import-order

removing unecessary code
  ci/raydepsets/BUILD.bazel
  ci/raydepsets/README.md
  ci/raydepsets/cli.py
  ci/raydepsets/tests/test_cli.py
Due: docstyle, check-import-order

adding depsets
  ci/depsets/BUILD.bazel
  ci/depsets/README.md
  ci/depsets/main.py
  ci/depsets/pyproject.toml
  ci/depsets/src/dependencies/cli.py
  ci/depsets/src/dependencies/config.py
  ci/depsets/src/dependencies/depset.config.yaml
  ci/depsets/src/dependencies/depset.py
Due: docstyle, check-import-order

updating bazel file
  ci/raydepsets/BUILD.bazel
  ci/raydepsets/cli.py
Due: docstyle, check-import-order

updating test_cli
  ci/raydepsets/tests/test_cli.py
Due: docstyle, check-import-order

scafolding for raydepsets
  ci/raydepsets/BUILD.bazel
  ci/raydepsets/cli.py
Due: docstyle, check-import-order

formatting
  ci/raydepsets/cli.py
  ci/raydepsets/tests/test_cli.py
Due: docstyle, check-import-order

adding import
  ci/raydepsets/tests/test_cli.py
Due: docstyle, check-import-order

formatting
  ci/depsets/src/dependencies/cli.py
  ci/depsets/src/dependencies/config.py
  ci/depsets/src/dependencies/depset.py
Due: docstyle, check-import-order

removing print statements
  ci/depsets/src/dependencies/config.py
  ci/depsets/src/dependencies/depset.config.yaml
Due: docstyle, check-import-order

adding dummy unit test for test cli
  ci/raydepsets/BUILD.bazel
  ci/raydepsets/config.py
  ci/raydepsets/depset.config.yaml
  ci/raydepsets/depset.py
  ci/raydepsets/tests/test_cli.py
Due: docstyle, check-import-order

formatting
  ci/raydepsets/tests/test_cli.py
Due: docstyle, check-import-order

refactoring
  ci/depsets/main.py
  ci/depsets/pyproject.toml
  ci/depsets/src/dependencies/depset.config.yaml
  ci/raydepsets/BUILD.bazel
  ci/raydepsets/README.md
  ci/raydepsets/cli.py
  ci/raydepsets/config.py
  ci/raydepsets/depset.config.yaml
  ci/raydepsets/depset.py
  ci/raydepsets/raydepsets.py
Due: docstyle, check-import-order

deflake test_multiplex
  python/ray/serve/tests/test_multiplex.py
Due: docstyle, check-import-order

sort the imports
  python/ray/train/v2/api/config.py
Due: docstyle, check-import-order

fix
  python/ray/serve/tests/test_multiplex.py
Due: docstyle, check-import-order

raise importerror
  python/ray/train/collective/__init__.py
Due: docstyle, check-import-order

deflake
  python/ray/serve/tests/test_autoscaling_policy.py
Due: docstyle, check-import-order

[core][task-manager/02] consolidate TaskManager interface (#54317)
  src/mock/ray/core_worker/task_manager_interface.h
  src/ray/core_worker/BUILD.bazel
  src/ray/core_worker/object_recovery_manager.cc
  src/ray/core_worker/object_recovery_manager.h
  src/ray/core_worker/task_finisher.h
  src/ray/core_worker/task_manager.h
  src/ray/core_worker/task_manager_interface.h
  src/ray/core_worker/test/actor_task_submitter_test.cc
  src/ray/core_worker/test/dependency_resolver_test.cc
  src/ray/core_worker/test/direct_actor_transport_mock_test.cc
  src/ray/core_worker/test/normal_task_submitter_test.cc
  src/ray/core_worker/test/object_recovery_manager_test.cc
  src/ray/core_worker/transport/actor_task_submitter.cc
  src/ray/core_worker/transport/actor_task_submitter.h
  src/ray/core_worker/transport/dependency_resolver.cc
  src/ray/core_worker/transport/dependency_resolver.h
  src/ray/core_worker/transport/normal_task_submitter.cc
  src/ray/core_worker/transport/normal_task_submitter.h
Due: check-cpp-files-inclusion

[train] fix dependencies
  python/requirements/ml/train-test-requirements.txt
Due: none

address comment + fix tests
  python/ray/serve/_private/controller.py
  python/ray/serve/_private/grpc_util.py
  python/ray/serve/_private/http_util.py
  python/ray/serve/_private/proxy.py
  python/ray/serve/tests/test_callback.py
Due: docstyle, check-import-order

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)
