Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)

[docs] Tune toc (#51684)
  doc/source/tune/examples/exercises.rst
  doc/source/tune/examples/experiment-tracking.rst
  doc/source/tune/examples/hpo-frameworks.rst
  doc/source/tune/examples/index.rst
  doc/source/tune/examples/ml-frameworks.rst
  doc/source/tune/examples/other-examples.rst
  doc/source/tune/examples/tune_analyze_results.ipynb
  doc/source/tune/getting-started.rst
  doc/source/tune/key-concepts.rst
  doc/source/tune/tutorials/overview.rst
Due: none

use mutex
  src/ray/object_manager/grpc_stub_manager.h
Due: check-cpp-files-inclusion

Implemented feature, added tests
  python/ray/_private/arrow_serialization.py
  python/ray/data/tests/test_arrow_serialization.py
Due: docstyle, check-import-order

fix lint
  src/ray/object_manager/grpc_stub_manager.h
Due: check-cpp-files-inclusion

[core] Implement utils class to setup and cleanup cgroup folder (#49941)
  src/ray/common/cgroup/BUILD
  src/ray/common/cgroup/base_cgroup_setup.h
  src/ray/common/cgroup/cgroup_setup.cc
  src/ray/common/cgroup/cgroup_setup.h
  src/ray/common/cgroup/cgroup_utils.cc
  src/ray/common/cgroup/constants.h
  src/ray/common/cgroup/fake_cgroup_setup.cc
  src/ray/common/cgroup/fake_cgroup_setup.h
  src/ray/common/cgroup/test/BUILD
  src/ray/common/cgroup/test/cgroup_test_utils.cc
  src/ray/common/cgroup/test/cgroup_test_utils.h
  src/ray/common/cgroup/test/cgroup_v2_setup_test.cc
  src/ray/common/cgroup/test/fake_cgroup_setup_test.cc
  src/ray/core_worker/core_worker.cc
Due: check-cpp-files-inclusion

[core] Move the core worker client implementations to a separate .cc file to improve build time. (#51948)
  BUILD.bazel
  src/ray/rpc/worker/core_worker_client.cc
  src/ray/rpc/worker/core_worker_client.h
Due: check-cpp-files-inclusion

up
  src/ray/core_worker/task_manager.cc
Due: check-cpp-files-inclusion

adapt status macros
  src/ray/common/cgroup/cgroup_setup.cc
Due: check-cpp-files-inclusion

lint
  src/ray/common/cgroup/cgroup_setup.cc
Due: check-cpp-files-inclusion

[core][autoscaler] Don't error if rayStartParams absent (#51954)
  python/ray/autoscaler/_private/kuberay/autoscaling_config.py
  python/ray/tests/kuberay/test_autoscaling_e2e.py
Due: docstyle, check-import-order

[core][autoscaler] fix Pylance type warning (#51955)
  python/ray/autoscaler/_private/kuberay/autoscaling_config.py
Due: docstyle, check-import-order

fix check
  src/ray/common/cgroup/cgroup_setup.cc
Due: check-cpp-files-inclusion

[Chore][Autoscaler] Improve resource demand scheduler documentation
  python/ray/autoscaler/_private/resource_demand_scheduler.py
Due: docstyle, check-import-order

[core] grpc stub manager (#51616)
  BUILD.bazel
  src/ray/object_manager/grpc_stub_manager.h
  src/ray/rpc/object_manager/object_manager_client.h
Due: check-cpp-files-inclusion

Parse out leading/trailing quotes
  java/test/src/main/java/io/ray/test/NodeLabelSchedulingTest.java
  python/ray/_private/label_utils.py
  python/ray/tests/test_node_labels.py
Due: docstyle, check-import-order

cleanup application cgroup at raylet exit
  BUILD.bazel
  src/ray/common/cgroup/BUILD
  src/ray/common/cgroup/cgroup_macros.h
  src/ray/common/cgroup/cgroup_setup.cc
  src/ray/common/cgroup/cgroup_setup.h
  src/ray/common/cgroup/cgroup_utils.cc
  src/ray/common/cgroup/cgroup_utils.h
  src/ray/common/cgroup/test/cgroup_v2_setup_test.cc
  src/ray/raylet/main.cc
Due: check-cpp-files-inclusion

Address comment: Add logger.exception
  python/ray/dashboard/modules/state/state_head.py
Due: docstyle, check-import-order

fix
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/task_manager.cc
  src/ray/core_worker/transport/actor_task_submitter.cc
  src/ray/core_worker/transport/actor_task_submitter.h
  src/ray/core_worker/transport/sequential_actor_submit_queue.cc
  src/ray/rpc/worker/core_worker_client.cc
  src/ray/rpc/worker/core_worker_client.h
Due: check-cpp-files-inclusion

TODO for integration test
  src/ray/raylet/main.cc
Due: check-cpp-files-inclusion

[Core] Use structured binding for better readability (#51952)
  src/ray/gcs/gcs_server/gcs_job_manager.cc
Due: check-cpp-files-inclusion

[Feat][Core/Dashboard] Convert NodeHead to subprocess module (#51876)
  python/ray/dashboard/modules/node/node_head.py
  python/ray/dashboard/utils.py
Due: docstyle, check-import-order

fix
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/task_manager.cc
  src/ray/core_worker/transport/actor_task_submitter.cc
  src/ray/core_worker/transport/actor_task_submitter.h
  src/ray/rpc/worker/core_worker_client.h
Due: check-cpp-files-inclusion

[Feat][Core/Dashboard Convert TrainHead to subprocess module
  python/ray/dashboard/modules/train/train_head.py
  python/ray/dashboard/subprocesses/utils.py
Due: docstyle, check-import-order

[core] split plasma_client into smaller targets
  BUILD.bazel
  src/ray/object_manager/plasma/client.cc
Due: check-cpp-files-inclusion

[Fix][Core/Dashboard] Remove `format=leading_1` query string from `get_logs` in StateHead (#51787)
  python/ray/dashboard/client/src/pages/job/JobDriverLogs.component.test.tsx
  python/ray/dashboard/client/src/service/log.ts
  python/ray/dashboard/client/src/service/log.unit.test.ts
  python/ray/dashboard/modules/state/state_head.py
  python/ray/util/state/api.py
Due: docstyle, check-import-order

feat: move pubsub bazel into src/ray/pubsub -e Signed-off-by: machichima <nary12321@gmail.com>
  BUILD.bazel
  src/ray/pubsub/BUILD.bazel
Due: none

fix windows build
  src/ray/common/cgroup/constants.h
Due: check-cpp-files-inclusion

refactor: remove comment out lines -e Signed-off-by: machichima <nary12321@gmail.com>
  src/ray/pubsub/BUILD.bazel
Due: none

[serve] Update _best_fit_node in DeploymentScheduler to choose the best-fit node based on custom resources
  python/ray/serve/_private/deployment_scheduler.py
  python/ray/serve/tests/unit/test_deployment_scheduler.py
Due: docstyle, check-import-order

Format code with script
  python/ray/serve/_private/deployment_scheduler.py
Due: docstyle, check-import-order

Fix: add missing os import to satisfy ruff lint
  python/ray/serve/tests/unit/test_deployment_scheduler.py
Due: docstyle, check-import-order

fix: move pubsub test target to pubsub/ folder -e Signed-off-by: machichima <nary12321@gmail.com>
  BUILD.bazel
  src/ray/pubsub/BUILD.bazel
Due: none

fix
  src/ray/core_worker/transport/actor_task_submitter.cc
Due: check-cpp-files-inclusion

add tests
  python/ray/tests/test_actor_failures.py
Due: docstyle, check-import-order

Added 'is_online' to develop hybrid algorithms.
  rllib/algorithms/algorithm.py
  rllib/algorithms/algorithm_config.py
Due: docstyle, check-import-order

[Chore][Core/Dashboard] Merge MetricsHead into APIHead
  python/ray/dashboard/consts.py
  python/ray/dashboard/http_server_head.py
  python/ray/dashboard/modules/api/api_head.py
  python/ray/dashboard/modules/api/metrics/__init__.py
  python/ray/dashboard/modules/api/metrics/consts.py
  python/ray/dashboard/modules/api/metrics/dashboards/__init__.py
  python/ray/dashboard/modules/api/metrics/dashboards/common.py
  python/ray/dashboard/modules/api/metrics/dashboards/data_dashboard_panels.py
  python/ray/dashboard/modules/api/metrics/dashboards/data_grafana_dashboard_base.json
  python/ray/dashboard/modules/api/metrics/dashboards/default_dashboard_panels.py
  python/ray/dashboard/modules/api/metrics/dashboards/default_grafana_dashboard_base.json
  python/ray/dashboard/modules/api/metrics/dashboards/serve_dashboard_panels.py
  python/ray/dashboard/modules/api/metrics/dashboards/serve_deployment_dashboard_panels.py
  python/ray/dashboard/modules/api/metrics/dashboards/serve_deployment_grafana_dashboard_base.json
  python/ray/dashboard/modules/api/metrics/dashboards/serve_grafana_dashboard_base.json
  python/ray/dashboard/modules/api/metrics/export/prometheus/prometheus.yml
  python/ray/dashboard/modules/api/metrics/grafana_dashboard_factory.py
  python/ray/dashboard/modules/api/metrics/install_and_start_prometheus.py
  python/ray/dashboard/modules/api/metrics/templates.py
  python/ray/dashboard/modules/api/metrics/tests/__init__.py
  python/ray/dashboard/modules/api/metrics/tests/test_utils.py
  python/ray/dashboard/modules/api/metrics/utils.py
  python/ray/dashboard/modules/data/data_head.py
  python/ray/dashboard/modules/metrics/metrics_head.py
  python/ray/dashboard/modules/tests/test_metrics_integration.py
  python/ray/dashboard/subprocesses/routes.py
  python/ray/scripts/scripts.py
  python/ray/tests/test_metrics_head.py
  python/setup.py
Due: docstyle, check-import-order

skip cgroup directory creation
  src/ray/common/cgroup/cgroup_setup.cc
  src/ray/common/cgroup/cgroup_setup.h
  src/ray/common/cgroup/test/cgroup_v2_setup_test.cc
Due: check-cpp-files-inclusion

Add plasma prefix
  BUILD.bazel
Due: none

fix: update requirements_compiled -e Signed-off-by: machichima <nary12321@gmail.com>
  python/requirements_compiled.txt
Due: none

fix sac
  rllib/algorithms/dqn/dqn.py
  rllib/algorithms/sac/torch/sac_torch_learner.py
  rllib/core/learner/tests/test_learner.py
  rllib/utils/metrics/stats.py
Due: docstyle, check-import-order
