Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)

[Train] Implement a JaxTrainer to support SPMD with TPUs (#55207)
  python/ray/_private/accelerators/tpu.py
  python/ray/_private/resource_and_label_spec.py
  python/ray/tests/accelerators/test_tpu.py
  python/ray/train/v2/BUILD
  python/ray/train/v2/_internal/callbacks/__init__.py
  python/ray/train/v2/_internal/callbacks/tpu_reservation_callback.py
  python/ray/train/v2/_internal/execution/callback.py
  python/ray/train/v2/_internal/execution/controller/controller.py
  python/ray/train/v2/_internal/execution/worker_group/worker_group.py
  python/ray/train/v2/api/config.py
  python/ray/train/v2/api/data_parallel_trainer.py
  python/ray/train/v2/jax/__init__.py
  python/ray/train/v2/jax/config.py
  python/ray/train/v2/jax/jax_trainer.py
  python/ray/train/v2/tests/test_jax_trainer.py
Due: docstyle, check-import-order

[ci] Shorten bazel directory paths to avoid failures on Windows (#55525)
  WORKSPACE
  bazel/gen_extract.py
  bazel/jemalloc.BUILD
  bazel/ray_deps_build_all.bzl
  bazel/ray_deps_setup.bzl
  ci/pipeline/test_conditional_testing.py
  ci/ray_ci/windows/build_ray.sh
  ci/raydepsets/testing_utils.py
  ci/raydepsets/tests/test_cli.py
  ci/raydepsets/tests/utils.py
  doc/external/test_hashes.py
  java/BUILD.bazel
  python/ray/serve/tests/unit/test_config.py
  python/ray/tests/test_traceback.py
  release/ray_release/bazel.py
  src/ray/core_worker/task_execution/test/BUILD.bazel
  src/ray/core_worker/task_submission/test/BUILD.bazel
  thirdparty/patches/grpc-zlib-fdopen.patch
  thirdparty/patches/prometheus-zlib-fdopen.patch
Due: docstyle, check-import-order

Add `orjson` as a dependency for release test images (#55313)
  release/ray_release/byod/requirements_byod_3.9.in
Due: none

Remove ref to deleted panel in Ray Data metrics (#55478)
  python/ray/dashboard/client/src/pages/metrics/Metrics.tsx
Due: none

[image] remove extra image build tags (#55494)
  .buildkite/_forge.rayci.yml
Due: none

Upgrade commons-lang3 to fix CVE-2025-48924 (#55524)
  java/dependencies.bzl
Due: none

[data] Sanitization of Dataset Metadata Export (#55379)
  python/ray/data/_internal/issue_detection/issue_detector_configuration.py
  python/ray/data/_internal/metadata_exporter.py
  python/ray/data/tests/test_state_export.py
Due: docstyle, check-import-order

Suppress type error (#50994)
  python/ray/train/constants.py
Due: docstyle, check-import-order

[core] Use passed report interval in Raylet instead of `RayConfig` (#55481)
  src/ray/raylet/node_manager.cc
Due: check-cpp-files-inclusion

[Data] Fixing flaky test (#55485)
  python/ray/data/BUILD
  python/ray/data/tests/test_jumbo_arrow_block.py
Due: docstyle, check-import-order

[serve.llm] Serialize ChatCompletionRequest tool_calls ValidatorIterator object (#55538)
  python/ray/llm/_internal/serve/deployments/routers/router.py
  python/ray/llm/tests/serve/cpu/deployments/routers/test_router.py
Due: docstyle, check-import-order

[core][gpu-objects] Exception handling for application errors (#55442)
  python/ray/tests/test_gpu_objects_gloo.py
Due: docstyle, check-import-order

[ci] raydepsets: implementing build arg sets (2/2) (#55423)
  ci/raydepsets/cli.py
  ci/raydepsets/tests/test_cli.py
  ci/raydepsets/tests/test_workspace.py
Due: docstyle, check-import-order

[RLlib] Add another curriculum example using Atari Pong and frameskip tasks. (#54966)
  doc/source/rllib/rllib-examples.rst
  rllib/BUILD
  rllib/examples/curriculum/curriculum_learning.py
  rllib/examples/curriculum/pong_curriculum_learning.py
Due: docstyle, check-import-order

[Serve.llm] Forbid extra fields in ModelLoadingConfig (#55440)
  python/ray/llm/_internal/common/base_pydantic.py
  python/ray/llm/_internal/serve/configs/server_models.py
  python/ray/llm/_internal/serve/deployments/llm/vllm/vllm_models.py
  python/ray/llm/_internal/serve/deployments/prefill_decode_disagg/prefill_decode_disagg.py
  python/ray/llm/tests/serve/cpu/configs/test_models.py
Due: docstyle, check-import-order

[release test] remove release image build step from postmerge (#55564)
  .buildkite/release/build.rayci.yml
  .buildkite/releasebuild.rayci.yml
Due: none

[Data] Update streaming_exec test by removing upper bound on assertion (#55489)
  python/ray/data/tests/test_streaming_executor.py
Due: docstyle, check-import-order

[image] remove uninstall dask in base image (#55508)
  docker/base-deps/Dockerfile
Due: none

[Serve.llm] Add LMCacheConnectorV1 support for kv_transfer_config (#54579)
  doc/source/cluster/kubernetes/examples/rayserve-deepseek-example.md
  doc/source/cluster/kubernetes/examples/rayserve-llm-example.md
  doc/source/serve/doc_code/pd_dissagregation/lmcache/mooncake.yaml
  doc/source/serve/doc_code/pd_dissagregation/lmcache/nixl/decoder.yaml
  doc/source/serve/doc_code/pd_dissagregation/lmcache/nixl/prefiller.yaml
  doc/source/serve/doc_code/pd_dissagregation/lmcache_mooncake_example.yaml
  doc/source/serve/doc_code/pd_dissagregation/lmcache_nixl_example.yaml
  doc/source/serve/doc_code/pd_dissagregation/nixl_example.yaml
  doc/source/serve/index.md
  doc/source/serve/llm/index.md
  doc/source/serve/llm/pd-dissagregation.md
  doc/source/serve/llm/quick-start.rst
  python/ray/llm/_internal/serve/configs/server_models.py
  python/ray/llm/_internal/serve/deployments/llm/vllm/kv_transfer_backends/__init__.py
  python/ray/llm/_internal/serve/deployments/llm/vllm/kv_transfer_backends/base.py
  python/ray/llm/_internal/serve/deployments/llm/vllm/kv_transfer_backends/lmcache_connector_v1.py
  python/ray/llm/_internal/serve/deployments/llm/vllm/kv_transfer_backends/nixl_connector.py
  python/ray/llm/_internal/serve/deployments/llm/vllm/vllm_engine.py
  python/ray/llm/_internal/serve/deployments/prefill_decode_disagg/prefill_decode_disagg.py
  python/ray/llm/tests/serve/cpu/deployments/llm/vllm/kv_transfer_backends/__init__.py
  python/ray/llm/tests/serve/cpu/deployments/llm/vllm/kv_transfer_backends/test_lmcache_connector_v1.py
  python/ray/llm/tests/serve/cpu/deployments/llm/vllm/kv_transfer_backends/test_nixl_connector.py
  python/ray/llm/tests/serve/cpu/deployments/prefill_decode_disagg/test_prefill_decode_disagg.py
  python/ray/llm/tests/serve/gpu/deployments/llm/prefill_decode_disagg/test_prefill_decode_disagg_gpu.py
  release/llm_tests/serve/configs/lmcache/decoder.yaml
  release/llm_tests/serve/configs/lmcache/prefiller.yaml
  release/llm_tests/serve/configs/serve_llama_3dot1_8b_quantized_tp1_2p6d_lmcache.yaml
  release/ray_release/byod/byod_llm_lmcache_test.sh
  release/release_tests.yaml
Due: docstyle, check-import-order

[core][raycheck/02] core_worker_process already initialized (#54906)
  python/ray/_private/worker.py
Due: docstyle, check-import-order

[data] make hash shuffling resource usage calculation faster (#55503)
  python/ray/data/_internal/execution/operators/hash_shuffle.py
Due: docstyle, check-import-order

Disable gemini code review summary (#55488)
  .gemini/config.yaml
  .github/CODEOWNERS
Due: none

[DOC][Tune] fix: remove extra space in tune documentation (#55125)
  doc/source/tune/key-concepts.rst
Due: none

[ci] add orjson to release test images (#55518)
  release/ray_release/byod/requirements_byod_3.9.in
  release/ray_release/byod/requirements_byod_3.9.txt
  release/ray_release/byod/requirements_ml_byod_3.9.in
  release/ray_release/byod/requirements_ml_byod_3.9.txt
Due: none

[release] Move logic to check whether to build custom BYOD image (#55470)
  release/ray_release/byod/build.py
  release/ray_release/scripts/build_pipeline.py
  release/ray_release/scripts/ray_bisect.py
  release/ray_release/tests/test_byod_build.py
Due: docstyle, check-import-order

[core] fix test_unpickleable_stacktrace test on windows (#55523)
  python/ray/tests/test_traceback.py
Due: docstyle, check-import-order

[ci] raydepsets: storing build arg set name in depset (#55504)
  ci/raydepsets/tests/test_cli.py
  ci/raydepsets/workspace.py
Due: docstyle, check-import-order

[core] Improve gcs publish perf + clean up publisher in general (#55560)
  python/ray/_raylet.pyx
  python/ray/includes/common.pxd
  python/ray/includes/gcs_client.pxi
  src/mock/ray/gcs/gcs_client/accessor.h
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/test/reference_count_test.cc
  src/ray/gcs/callback.h
  src/ray/gcs/gcs_client/accessor.cc
  src/ray/gcs/gcs_client/accessor.h
  src/ray/gcs/gcs_client/test/gcs_client_test.cc
  src/ray/gcs/gcs_server/gcs_actor_manager.cc
  src/ray/gcs/gcs_server/gcs_autoscaler_state_manager.cc
  src/ray/gcs/gcs_server/gcs_job_manager.cc
  src/ray/gcs/gcs_server/gcs_node_manager.cc
  src/ray/gcs/gcs_server/gcs_node_manager.h
  src/ray/gcs/gcs_server/gcs_server.cc
  src/ray/gcs/gcs_server/gcs_worker_manager.cc
  src/ray/gcs/gcs_server/pubsub_handler.cc
  src/ray/gcs/gcs_server/pubsub_handler.h
  src/ray/gcs/pb_util.h
  src/ray/gcs/pb_utils.cc
  src/ray/gcs/pubsub/gcs_pub_sub.cc
  src/ray/gcs/pubsub/gcs_pub_sub.h
  src/ray/pubsub/README.md
  src/ray/pubsub/publisher.cc
  src/ray/pubsub/publisher.h
  src/ray/pubsub/test/integration_test.cc
  src/ray/pubsub/test/publisher_test.cc
  src/ray/raylet/node_manager.cc
  src/ray/raylet/worker_pool.cc
Due: check-cpp-files-inclusion

[core] Fallback unserializable exceptions to their string representation (#55476)
  python/ray/exceptions.py
  python/ray/tests/test_traceback.py
Due: docstyle, check-import-order

[ci] moving workspace tests to test_workspace file (#55403)
  ci/raydepsets/BUILD.bazel
  ci/raydepsets/tests/test_cli.py
  ci/raydepsets/tests/test_data/requirement_constraints_test.txt
  ci/raydepsets/tests/test_data/requirements_compiled_test.txt
  ci/raydepsets/tests/test_data/requirements_compiled_test_expand.txt
  ci/raydepsets/tests/test_data/requirements_compiled_test_update.txt
  ci/raydepsets/tests/test_data/requirements_test.txt
  ci/raydepsets/tests/test_data/test.depsets.yaml
  ci/raydepsets/tests/test_workspace.py
  ci/raydepsets/tests/utils.py
Due: docstyle, check-import-order

[data] Task metric improvements (#55429)
  python/ray/dashboard/client/src/pages/metrics/Metrics.tsx
  python/ray/dashboard/modules/metrics/dashboards/data_dashboard_panels.py
  python/ray/data/_internal/execution/interfaces/op_runtime_metrics.py
  python/ray/data/tests/test_stats.py
Due: docstyle, check-import-order

[core][ci] Kill debug wheel step (#55571)
  .buildkite/build.rayci.yml
Due: none

[RLlib] Add docs for Implicit Q-Learning. (#55422)
  doc/source/rllib/rllib-algorithms.rst
Due: none

[Data] decrease parquet metadata storage usage (#54821)
  python/ray/data/datasource/parquet_meta_provider.py
Due: docstyle, check-import-order

[serve.llm] fix: improve error handling for invalid model_id (#55589)
  python/ray/llm/_internal/serve/configs/server_models.py
Due: docstyle, check-import-order

[llm] add grpcio-tools into the depset (#55514)
  ci/compile_llm_requirements.sh
  python/requirements_compiled_ray_py311_cpu.txt
  python/requirements_compiled_ray_py311_cu121.txt
  python/requirements_compiled_ray_py311_cu128.txt
  python/requirements_compiled_ray_test_py311_cpu.txt
  python/requirements_compiled_ray_test_py311_cu121.txt
  python/requirements_compiled_ray_test_py311_cu128.txt
  python/requirements_compiled_rayllm_py311_cpu.txt
  python/requirements_compiled_rayllm_py311_cu121.txt
  python/requirements_compiled_rayllm_py311_cu128.txt
  python/requirements_compiled_rayllm_test_py311_cpu.txt
  python/requirements_compiled_rayllm_test_py311_cu121.txt
  python/requirements_compiled_rayllm_test_py311_cu128.txt
Due: none

[core] Combine `RedisClient` into `RedisStoreClient` (#55655)
  BUILD.bazel
  python/ray/includes/global_state_accessor.pxd
  src/ray/common/ray_config_def.h
  src/ray/gcs/BUILD.bazel
  src/ray/gcs/gcs_client/BUILD.bazel
  src/ray/gcs/gcs_server/BUILD.bazel
  src/ray/gcs/gcs_server/gcs_placement_group_mgr.h
  src/ray/gcs/gcs_server/gcs_redis_failure_detector.cc
  src/ray/gcs/gcs_server/gcs_redis_failure_detector.h
  src/ray/gcs/gcs_server/gcs_server.cc
  src/ray/gcs/gcs_server/gcs_server.h
  src/ray/gcs/gcs_server/gcs_table_storage.cc
  src/ray/gcs/gcs_server/gcs_table_storage.h
  src/ray/gcs/gcs_server/tests/BUILD.bazel
  src/ray/gcs/gcs_server/tests/export_api/gcs_actor_manager_export_event_test.cc
  src/ray/gcs/gcs_server/tests/export_api/gcs_node_manager_export_event_test.cc
  src/ray/gcs/gcs_server/tests/gcs_actor_manager_test.cc
  src/ray/gcs/gcs_server/tests/gcs_actor_scheduler_test.cc
  src/ray/gcs/gcs_server/tests/gcs_kv_manager_test.cc
  src/ray/gcs/gcs_server/tests/gcs_placement_group_mgr_test.cc
  src/ray/gcs/gcs_server/tests/gcs_placement_group_scheduler_test.cc
  src/ray/gcs/gcs_server/tests/gcs_server_test_util.h
  src/ray/gcs/gcs_server/tests/gcs_worker_manager_test.cc
  src/ray/gcs/gcs_server/tests/in_memory_gcs_table_storage_test.cc
  src/ray/gcs/gcs_server/tests/redis_gcs_table_storage_test.cc
  src/ray/gcs/pubsub/BUILD.bazel
  src/ray/gcs/redis_client.cc
  src/ray/gcs/redis_client.h
  src/ray/gcs/store_client/BUILD.bazel
  src/ray/gcs/store_client/redis_async_context.cc
  src/ray/gcs/store_client/redis_async_context.h
  src/ray/gcs/store_client/redis_context.cc
  src/ray/gcs/store_client/redis_context.h
  src/ray/gcs/store_client/redis_store_client.cc
  src/ray/gcs/store_client/redis_store_client.h
  src/ray/gcs/store_client/tests/BUILD.bazel
  src/ray/gcs/store_client/tests/redis_async_context_test.cc
  src/ray/gcs/store_client/tests/redis_callback_reply_test.cc
  src/ray/gcs/store_client/tests/redis_store_client_test.cc
  src/ray/gcs/tests/BUILD.bazel
Due: check-cpp-files-inclusion

[Data] Update the export API to refresh the dataset and operator states (#55355)
  python/ray/data/_internal/execution/dataset_state.py
  python/ray/data/_internal/execution/streaming_executor.py
  python/ray/data/_internal/metadata_exporter.py
  python/ray/data/_internal/stats.py
  python/ray/data/tests/test_state_export.py
  src/ray/protobuf/export_dataset_metadata.proto
Due: docstyle, check-import-order

[Serve.llm] Improve PrefixCacheAffinityRouter text normalization compat (#55588)
  python/ray/llm/_internal/serve/request_router/prefix_aware/prefix_aware_router.py
  python/ray/llm/tests/serve/cpu/deployments/test_prefix_aware_request_router.py
Due: docstyle, check-import-order
