Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)

[ci] write test progress message to stderr (#58019)
  ci/ray_ci/tester.py
Due: docstyle, check-import-order

[core] Make Cancel Remote Task RPC Fault Tolerant (#57965)
  python/ray/tests/test_core_worker_fault_tolerance.py
  src/mock/ray/core_worker/core_worker.h
  src/mock/ray/rpc/worker/core_worker_client.h
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker.h
  src/ray/core_worker/core_worker_rpc_proxy.h
  src/ray/core_worker/grpc_service.cc
  src/ray/core_worker/grpc_service.h
  src/ray/core_worker/task_submission/normal_task_submitter.cc
  src/ray/core_worker_rpc_client/core_worker_client.h
  src/ray/core_worker_rpc_client/core_worker_client_interface.h
  src/ray/core_worker_rpc_client/fake_core_worker_client.h
  src/ray/protobuf/core_worker.proto
Due: docstyle, check-import-order, check-cpp-files-inclusion

[core][stats-die/02] kill STATS in object manager component (#57974)
  src/ray/common/metrics.h
  src/ray/core_worker/BUILD.bazel
  src/ray/core_worker/store_provider/memory_store/memory_store.cc
  src/ray/core_worker/store_provider/memory_store/memory_store.h
  src/ray/object_manager/BUILD.bazel
  src/ray/object_manager/metrics.h
  src/ray/object_manager/object_manager.cc
  src/ray/object_manager/object_manager.h
  src/ray/object_manager/ownership_object_directory.cc
  src/ray/object_manager/plasma/BUILD.bazel
  src/ray/object_manager/plasma/stats_collector.cc
  src/ray/object_manager/plasma/stats_collector.h
  src/ray/object_manager/plasma/store.cc
  src/ray/object_manager/pull_manager.cc
  src/ray/object_manager/pull_manager.h
  src/ray/object_manager/push_manager.cc
  src/ray/object_manager/push_manager.h
  src/ray/raylet/local_object_manager.cc
  src/ray/raylet/local_object_manager.h
  src/ray/raylet/main.cc
  src/ray/raylet/scheduling/BUILD.bazel
  src/ray/raylet/tests/BUILD.bazel
  src/ray/raylet/tests/local_object_manager_test.cc
  src/ray/stats/metric_defs.cc
  src/ray/stats/metric_defs.h
Due: check-cpp-files-inclusion

[Data] Add repartition to audio transcription benchmark for proper block sizing (#58013)
  release/nightly_tests/multimodal_inference_benchmarks/audio_transcription/ray_data_main.py
Due: docstyle, check-import-order

[core] Don't trigger Spark-on-Ray tests with `java` tag (#57993)
  .buildkite/core.rayci.yml
Due: none

[core] add no_windows tag on cgroup related tests (#58027)
  python/ray/tests/resource_isolation/BUILD.bazel
Due: none

[data] Fix type for UDFs (#57976)
  python/ray/data/block.py
Due: docstyle, check-import-order

[release] Running core scalibility tests on python 3.10 (#57044)
  release/release_tests.yaml
Due: none

[bugfix][serve][llm] Fix port collisions for TP/PP with NIXL/LMCache (#57771)
  python/ray/llm/_internal/serve/engines/vllm/kv_transfer/base.py
  python/ray/llm/_internal/serve/engines/vllm/kv_transfer/lmcache.py
  python/ray/llm/_internal/serve/engines/vllm/kv_transfer/nixl.py
Due: docstyle, check-import-order

[Data] [2/n] - Update Project operator to use Expressions (#57855)
  python/ray/data/_internal/arrow_block.py
  python/ray/data/_internal/datasource/parquet_datasource.py
  python/ray/data/_internal/logical/operators/map_operator.py
  python/ray/data/_internal/logical/rules/projection_pushdown.py
  python/ray/data/_internal/planner/plan_expression/expression_evaluator.py
  python/ray/data/_internal/planner/plan_expression/expression_visitors.py
  python/ray/data/_internal/planner/plan_udf_map_op.py
  python/ray/data/dataset.py
  python/ray/data/expressions.py
  python/ray/data/tests/test_execution_optimizer_basic.py
  python/ray/data/tests/test_operator_fusion.py
  python/ray/data/tests/test_projection_fusion.py
Due: docstyle, check-import-order

[Data] - Fix expression mapping for Pandas (#57868)
  python/ray/data/_internal/planner/plan_expression/expression_evaluator.py
  python/ray/data/tests/test_filter.py
Due: docstyle, check-import-order

[Data] Fixing handling of renames in projection pushdown (#58033)
  python/ray/data/_internal/collections.py
  python/ray/data/_internal/datasource/parquet_datasource.py
  python/ray/data/_internal/logical/interfaces/logical_operator.py
  python/ray/data/_internal/logical/operators/read_operator.py
  python/ray/data/_internal/logical/rules/projection_pushdown.py
  python/ray/data/_internal/planner/plan_expression/expression_visitors.py
  python/ray/data/datasource/datasource.py
Due: docstyle, check-import-order

[core] (cgroups 22/n) Updating public API doc-strings (#58059)
  python/ray/_private/worker.py
  python/ray/scripts/scripts.py
Due: docstyle, check-import-order

[Data][CI] Add fix_block.py back to CI (#57841)
  python/ray/data/_internal/arrow_block.py
  python/ray/data/tests/test_block.py
  semgrep.yml
Due: docstyle, check-import-order

[serve] Allow `RAY_SERVE_THROUGHPUT_OPTIMIZED` flags to be overriden (#58057)
  doc/source/serve/advanced-guides/performance.md
  python/ray/serve/_private/constants.py
Due: docstyle, check-import-order

[Doc] Adding docs for Kuberay KAI scheduler integration (#54857)
  doc/source/cluster/kubernetes/k8s-ecosystem.md
  doc/source/cluster/kubernetes/k8s-ecosystem/kai-scheduler.md
Due: none

[serve][llm] Add KV connector factory and MultiConnector support (#58011)
  python/ray/llm/_internal/serve/core/configs/llm_config.py
  python/ray/llm/_internal/serve/engines/vllm/kv_transfer/__init__.py
  python/ray/llm/_internal/serve/engines/vllm/kv_transfer/factory.py
  python/ray/llm/_internal/serve/engines/vllm/kv_transfer/multi_connector.py
  python/ray/llm/tests/serve/cpu/deployments/llm/vllm/kv_transfer_backends/test_factory.py
  python/ray/llm/tests/serve/cpu/deployments/llm/vllm/kv_transfer_backends/test_multi_connector.py
Due: docstyle, check-import-order

[ci] enabling python 3.10 for subset of ci tests (#58036)
  .buildkite/base.rayci.yml
  .buildkite/build.rayci.yml
  .buildkite/lint.rayci.yml
  .buildkite/ml.rayci.yml
  .buildkite/serve.rayci.yml
Due: none

[Data] Fix MCAP datasource import for better compatibility (#57964)
  python/ray/data/_internal/datasource/mcap_datasource.py
Due: docstyle, check-import-order

[air] disable air example tests that have been failing (#58088)
  release/release_tests.yaml
Due: none

fix default dep name for async inf (#57664)
  python/ray/serve/task_consumer.py
  python/ray/serve/tests/unit/test_task_consumer.py
Due: docstyle, check-import-order

[Doc] Minor Fix for doc typos (#58038)
  doc/source/ray-core/actors.rst
Due: none

[release] Add Azure CLI to base-extra image (#58012)
  release/ray_release/byod/byod.Dockerfile
Due: none

[Data] Remove unstable `image_classification_chaos_no_scale_back` release test (#58048)
  release/nightly_tests/setup_cluster_compute_config_updater.py
  release/release_data_tests.yaml
Due: docstyle, check-import-order

[core] report driver stat and add test (#58045)
  python/ray/dashboard/modules/reporter/reporter_agent.py
  python/ray/dashboard/modules/reporter/tests/test_reporter.py
  python/ray/tests/test_metrics_agent.py
Due: docstyle, check-import-order

[core] Mark the scalability envelope as WIP (#58055)
  release/benchmarks/README.md
Due: none

[deps][ci] compiling all depsets in single job (#57957)
  .buildkite/dependencies.rayci.yml
  ci/raydepsets/cli.py
  ci/raydepsets/tests/test_cli.py
Due: docstyle, check-import-order

[serve][llm][transcription] Add support for Transcription in vLLM engine backend (#57194)
  doc/source/llm/doc_code/serve/transcription/transcription_example.py
  doc/source/serve/llm/user-guides/vllm-compatibility.md
  python/deplocks/llm/rayllm_py311_cpu.lock
  python/deplocks/llm/rayllm_py311_cu128.lock
  python/deplocks/llm/rayllm_test_py311_cpu.lock
  python/deplocks/llm/rayllm_test_py311_cu128.lock
  python/ray/llm/_internal/serve/core/configs/openai_api_models.py
  python/ray/llm/_internal/serve/core/engine/protocol.py
  python/ray/llm/_internal/serve/core/ingress/ingress.py
  python/ray/llm/_internal/serve/core/server/llm_server.py
  python/ray/llm/_internal/serve/engines/vllm/vllm_engine.py
  python/ray/llm/tests/serve/conftest.py
  python/ray/llm/tests/serve/cpu/deployments/llm/test_llm_engine.py
  python/ray/llm/tests/serve/cpu/deployments/llm/test_llm_server.py
  python/ray/llm/tests/serve/mocks/mock_vllm_engine.py
  python/ray/llm/tests/serve/utils/testing_utils.py
  python/ray/serve/llm/openai_api_models.py
  python/requirements/llm/llm-requirements.txt
  python/setup.py
  release/llm_tests/serve/test_llm_serve_integration.py
Due: docstyle, check-import-order

[lint][ci] removing format script (#57799)
  .buildkite/lint.rayci.yml
  .github/CODEOWNERS
  .pre-commit-config.yaml
  ci/lint/format.sh
Due: none

[Data] Add enhanced support for Unity Catalog (#57954)
  python/ray/data/_internal/datasource/uc_datasource.py
  python/ray/data/_internal/datasource/unity_catalog_datasource.py
  python/ray/data/read_api.py
Due: docstyle, check-import-order

[ci][deps] raydepsts: Improved error messages (#58058)
  ci/raydepsets/cli.py
  ci/raydepsets/tests/test_cli.py
  ci/raydepsets/tests/test_workspace.py
  ci/raydepsets/tests/utils.py
  ci/raydepsets/workspace.py
Due: docstyle, check-import-order

[Data] Fix renamed columns to be appropriately dropped from the ouput (#58040)
  python/ray/data/_internal/arrow_block.py
  python/ray/data/_internal/logical/operators/map_operator.py
  python/ray/data/_internal/logical/rules/projection_pushdown.py
  python/ray/data/_internal/pandas_block.py
  python/ray/data/_internal/planner/plan_expression/expression_evaluator.py
  python/ray/data/_internal/planner/plan_expression/expression_visitors.py
  python/ray/data/block.py
  python/ray/data/dataset.py
  python/ray/data/expressions.py
  python/ray/data/tests/test_projection_fusion.py
Due: docstyle, check-import-order

[doc][serve][llm] Add user guide for kv-cache offloading (#58025)
  doc/source/serve/llm/user-guides/index.md
  doc/source/serve/llm/user-guides/kv-cache-offloading.md
Due: none

[data] Include total memory in aggregator memory calculation (#58002)
  python/ray/data/_internal/execution/operators/hash_shuffle.py
  python/ray/data/_internal/execution/util.py
  python/ray/data/tests/test_executor_resource_management.py
Due: docstyle, check-import-order

import custom class safely in controller by using runtime env (#56855)
  python/ray/_common/utils.py
  python/ray/serve/_private/application_state.py
  python/ray/serve/_private/config.py
  python/ray/serve/_private/deploy_utils.py
  python/ray/serve/_private/request_router/common.py
  python/ray/serve/_private/router.py
  python/ray/serve/config.py
  python/ray/serve/tests/test_cli.py
  python/ray/serve/tests/test_config_files/use_custom_autoscaling.yaml
  python/ray/serve/tests/test_config_files/use_custom_autoscaling_policy.py
  python/ray/serve/tests/test_config_files/use_custom_request_router.py
  python/ray/serve/tests/test_config_files/use_custom_request_router.yaml
  python/ray/serve/tests/unit/test_application_state.py
  python/ray/serve/tests/unit/test_config.py
Due: docstyle, check-import-order

[Data] ConcurrencyCapBackpressurePolicy - Only increase threshold (#58023)
  python/ray/data/_internal/execution/backpressure_policy/concurrency_cap_backpressure_policy.py
  python/ray/data/tests/test_backpressure_policies.py
Due: docstyle, check-import-order

[Doc][KubeRay] add output example of the command (#58078)
  doc/source/cluster/kubernetes/k8s-ecosystem/kai-scheduler.md
Due: none

[train] Add SHUTTING_DOWN TrainControllerState and improve logging (#57882)
  python/ray/train/v2/_internal/callbacks/state_manager.py
  python/ray/train/v2/_internal/execution/checkpoint/validation_manager.py
  python/ray/train/v2/_internal/execution/controller/controller.py
  python/ray/train/v2/_internal/execution/controller/state.py
  python/ray/train/v2/tests/test_controller.py
  python/ray/train/v2/tests/test_state.py
  python/ray/train/v2/tests/test_validation_manager.py
Due: docstyle, check-import-order, check-train-circular-imports

add deployment status check in test (#58087)
  python/ray/serve/tests/test_autoscaling_policy.py
Due: docstyle, check-import-order

[Data] - Add human friendly repr for Expression Tree (#58154)
  python/ray/data/_internal/planner/plan_expression/expression_visitors.py
  python/ray/data/expressions.py
  python/ray/data/tests/test_expressions.py
Due: docstyle, check-import-order
