Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)

[dashboard] Guard against zero num_cpus in k8s_utils.cpu_percent
  python/ray/dashboard/k8s_utils.py
  python/ray/tests/test_advanced_8.py
Due: docstyle, check-import-order

[Data] Quantize satisfies_limit; fix reservation test expectations
  python/ray/data/_internal/execution/interfaces/execution_options.py
  python/ray/data/tests/test_reservation_based_resource_allocator.py
Due: docstyle, check-import-order

[Data] Preserve right-side join keys for asymmetric Dataset.join
  python/ray/data/_internal/execution/operators/join.py
  python/ray/data/tests/test_join.py
Due: docstyle, check-import-order

[data] Incrementally update resource usages after task dispatch
  python/ray/data/_internal/execution/resource_manager.py
  python/ray/data/_internal/execution/streaming_executor.py
  python/ray/data/tests/test_resource_manager.py
Due: docstyle, check-import-order

[data] Fix extra_resource_usage being discarded
  python/ray/data/_internal/execution/resource_manager.py
Due: docstyle, check-import-order

[data] Cache completed-ops set and reservation in resource allocation
  python/ray/data/_internal/execution/resource_manager.py
  python/ray/data/tests/test_resource_manager.py
Due: docstyle, check-import-order

[docs] template collection pull with timeout (#63151)
  doc/source/conf.py
  doc/source/data/examples.yml
  doc/source/ray-overview/examples/index.rst
  doc/source/ray-overview/use-cases.rst
  doc/source/serve/examples.yml
  doc/source/train/deepspeed.rst
  doc/source/train/examples.yml
  doc/source/train/train.rst
  doc/source/tune/examples/index.rst
  doc/source/tune/examples/tune-pytorch-cifar.ipynb
Due: none

Revert "[docs] template collection pull with timeout (#63151)"
  doc/source/conf.py
  doc/source/data/examples.yml
  doc/source/ray-overview/examples/index.rst
  doc/source/ray-overview/use-cases.rst
  doc/source/serve/examples.yml
  doc/source/train/deepspeed.rst
  doc/source/train/examples.yml
  doc/source/train/train.rst
  doc/source/tune/examples/index.rst
  doc/source/tune/examples/tune-pytorch-cifar.ipynb
Due: none

[data] Merge compatible adjacent BatchMapTransformFns to eliminate batch round-trips
  python/ray/data/_internal/execution/operators/map_transformer.py
  python/ray/data/tests/test_map_transformer.py
Due: docstyle, check-import-order

[Data] Release permanently dead actors from ActorPool
  python/ray/data/_internal/execution/operators/actor_pool_map_operator.py
  python/ray/data/tests/test_actor_pool_map_operator.py
Due: docstyle, check-import-order

[ci] Build and publish the rayproject/ray cu130 image
  .buildkite/build.rayci.yml
Due: none

[core] Normalize OTel metric labels before Prometheus export
  python/ray/_private/telemetry/open_telemetry_metric_recorder.py
  python/ray/dashboard/modules/reporter/reporter_agent.py
  python/ray/dashboard/modules/reporter/tests/test_reporter.py
  python/ray/tests/test_open_telemetry_metric_recorder.py
Due: docstyle, check-import-order

[dashboard] Apply black formatting to cpu_percent regression test
  python/ray/tests/test_advanced_8.py
Due: docstyle, check-import-order

[Data] Cache ExecutionResources.zero()/inf() as singletons
  python/ray/data/_internal/execution/interfaces/execution_options.py
Due: docstyle, check-import-order

[data] Cache per-op min_max_resource_requirements in the allocator
  python/ray/data/_internal/execution/resource_manager.py
  python/ray/data/tests/test_resource_manager.py
Due: docstyle, check-import-order

[Core] Fix Python log monitor handling for same-inode truncated files
  python/ray/_private/log_monitor.py
  python/ray/tests/unit/test_log_monitor.py
Due: docstyle, check-import-order

Fix actor working_dir being overridden by job-level py_driver_sys_path
  python/ray/_raylet.pyx
  python/ray/tests/test_runtime_env_working_dir.py
Due: docstyle, check-import-order

Normalize paths before sibling-directory comparison
  python/ray/_raylet.pyx
Due: none

Apply black formatting to regression test
  python/ray/tests/test_runtime_env_working_dir.py
Due: docstyle, check-import-order

[core] Use absl::InlinedVector for hot-path ObjectID vectors in AddPendingTask
  src/ray/core_worker/reference_counter.cc
  src/ray/core_worker/reference_counter.h
  src/ray/core_worker/reference_counter_interface.h
  src/ray/core_worker/task_manager.cc
Due: check-cpp-files-inclusion

Locate actor working_dir by 'working_dir_files' segment, not PYTHONPATH[0]
  python/ray/_raylet.pyx
Due: none

Cover py_modules + working_dir case in regression test
  python/ray/tests/test_runtime_env_working_dir.py
Due: docstyle, check-import-order

Tighten regression test to match existing test style
  python/ray/tests/test_runtime_env_working_dir.py
Due: docstyle, check-import-order

env fix
  release/release_data_tests.yaml
Due: none

polish
  rllib/algorithms/appo/appo.py
  rllib/algorithms/appo/torch/appo_torch_learner.py
Due: docstyle, check-import-order

add shutdown
  python/ray/data/tests/test_actor_pool_map_operator.py
Due: docstyle, check-import-order

ray object store support spill to hdfs via pyarrow
  python/ray/_private/external_storage.py
  python/ray/_private/node.py
  python/ray/_private/workers/default_worker.py
  python/ray/tests/unit/test_external_storage_hdfs.py
Due: docstyle, check-import-order

fix buffer_size passed to wrong PyArrow API method
  python/ray/_private/external_storage.py
  python/ray/tests/unit/test_external_storage_hdfs.py
Due: docstyle, check-import-order

fix Instance variable _base_paths only used in constructor
  python/ray/_private/external_storage.py
Due: docstyle, check-import-order

fix
  python/ray/_private/external_storage.py
Due: docstyle, check-import-order

fix buildkite/microcheck
  python/ray/_private/node.py
  python/ray/tests/unit/test_external_storage_hdfs.py
Due: docstyle, check-import-order

fix buildkite/microcheck
  python/ray/_private/external_storage.py
  python/ray/_private/node.py
Due: docstyle, check-import-order

fix Race condition: uri and spill_dir may mismatch
  python/ray/_private/external_storage.py
Due: docstyle, check-import-order

fix Missing empty URI list validation
  python/ray/_private/external_storage.py
  python/ray/tests/unit/test_external_storage_hdfs.py
Due: docstyle, check-import-order

Fix the subprocess.run call in the HDFS destroy path only catches subprocess.TimeoutExpired.
  python/ray/_private/node.py
Due: docstyle, check-import-order

[test] Fix ruff lint error in test_log_monitor.py
  python/ray/tests/unit/test_log_monitor.py
Due: docstyle, check-import-order

lint
  python/ray/serve/_private/haproxy.py
Due: docstyle, check-import-order

[Data] add logging for iter bench
  python/ray/data/_internal/datasource_v2/readers/file_reader.py
Due: docstyle, check-import-order

[Core][gcs] Fix replica actor zombie process issue after GCS restart
  src/ray/gcs/actor/gcs_actor_manager.cc
  src/ray/gcs/actor/tests/gcs_actor_manager_test.cc
Due: check-cpp-files-inclusion

Address comments
  python/ray/data/_internal/logical/operators/all_to_all_operator.py
  python/ray/data/_internal/logical/operators/n_ary_operator.py
  python/ray/data/aggregate.py
  python/ray/data/expressions.py
  python/ray/data/tests/test_infer_schema.py
Due: docstyle, check-import-order
