Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

fix var names
  src/ray/raylet/scheduling/cluster_resource_scheduler.cc
Due: check-cpp-files-inclusion

add test to build file
  python/ray/_private/accelerators/tpu.py
  python/ray/tests/BUILD.bazel
Due: docstyle, check-import-order

Skip test code because requires raycluster with tpu node
  python/ray/util/tpu.py
Due: docstyle, check-import-order

fix bug
  python/ray/serve/_private/application_state.py
Due: docstyle, check-import-order

fix
  python/ray/runtime_context.py
Due: docstyle, check-import-order

Fixing
  python/ray/serve/llm/ingress.py
Due: docstyle, check-import-order

Adding docstring per gemini suggestion
  python/ray/serve/llm/ingress.py
Due: docstyle, check-import-order

fix
  src/ray/pubsub/tests/python_gcs_subscriber_auth_test.cc
Due: check-cpp-files-inclusion

fix lint issues
  src/ray/rpc/tests/BUILD.bazel
  src/ray/rpc/tests/grpc_auth_token_tests.cc
  src/ray/rpc/tests/grpc_server_client_test.cc
Due: check-cpp-files-inclusion

[data] Fix reading from zipped json
  python/ray/data/_internal/datasource/json_datasource.py
  python/ray/data/_internal/util.py
  python/ray/data/datasource/file_based_datasource.py
  python/ray/data/tests/test_json.py
Due: docstyle, check-import-order

add back hadoop
  python/ray/data/datasource/file_based_datasource.py
Due: docstyle, check-import-order

add file system
  python/ray/data/datasource/file_based_datasource.py
Due: docstyle, check-import-order

[ci] pin pip version in min setup
  ci/env/install-dependencies.sh
Due: none

add one todo
  python/ray/train/v2/_internal/execution/checkpoint/checkpoint_manager.py
Due: docstyle, check-import-order

add handling for trailing slash
  python/ray/train/v2/api/result.py
  python/ray/train/v2/tests/test_result.py
Due: docstyle, check-import-order

[ci] write test progress message to stderr (#58019)
  ci/ray_ci/tester.py
Due: docstyle, check-import-order

[train] FSDP2 Template: Resume from previous epoch when checkpointing (#57938)
  doc/source/train/examples/pytorch/pytorch-fsdp/README.ipynb
  doc/source/train/examples/pytorch/pytorch-fsdp/README.md
Due: none

Change test size from medium to large
  python/ray/train/v2/BUILD.bazel
Due: none

fix unittest
  python/ray/train/v2/tests/test_result.py
Due: docstyle, check-import-order

Update python/ray/train/v2/api/result.py
  python/ray/train/v2/api/result.py
Due: docstyle, check-import-order

[data] Use ranges in `test_operator_fusion.py` (#58000)
  python/ray/data/tests/test_operator_fusion.py
Due: docstyle, check-import-order

add path validation
  python/ray/train/v2/api/result.py
  python/ray/train/v2/tests/test_result.py
Due: docstyle, check-import-order

commit
  python/ray/train/v2/_internal/execution/callback.py
  python/ray/train/v2/api/result.py
  python/ray/train/v2/tests/conftest.py
  python/ray/train/v2/tests/test_result.py
Due: docstyle, check-import-order

add timeout for test-result
  python/ray/train/v2/BUILD.bazel
Due: none

[serve] Check if proxy is ready to serve traffic (#57723)
  python/ray/serve/_private/client.py
  python/ray/serve/_private/proxy.py
  python/ray/serve/api.py
  python/ray/serve/tests/test_api.py
  python/ray/serve/tests/test_deploy_app.py
  python/ray/serve/tests/test_deploy_app_2.py
  python/ray/serve/tests/test_gcs_failure.py
Due: docstyle, check-import-order

[data] Fix type for UDFs (#57976)
  python/ray/data/block.py
Due: docstyle, check-import-order

check experiment folder
  python/ray/train/v2/api/result.py
  python/ray/train/v2/tests/test_result.py
Due: docstyle, check-import-order

[examples] disable tests that have been failing (#58015)
  release/release_tests.yaml
Due: none

[release] Running core scalibility tests on python 3.10 (#57044)
  release/release_tests.yaml
Due: none

[Data] Add repartition to audio transcription benchmark for proper block sizing (#58013)
  release/nightly_tests/multimodal_inference_benchmarks/audio_transcription/ray_data_main.py
Due: docstyle, check-import-order

[serve] Add `from_proxy_manager` arg in get_target_groups (#57620)
  python/ray/serve/_private/controller.py
  python/ray/serve/_private/test_utils.py
Due: docstyle, check-import-order

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)
