Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

[core][gpu-objects] Fix wrong skipif in test_gpu_objects_gloo (#56258)
  python/ray/tests/gpu_objects/test_gpu_objects_gloo.py
Due: docstyle, check-import-order

[Serve.llm] Gracefully return timeouts as HTTPException (#56264)
  python/ray/llm/_internal/serve/deployments/routers/router.py
Due: docstyle, check-import-order

[RLlib] Add tests for the Footsies environment (#55041)
  doc/source/rllib/rllib-examples.rst
  pyproject.toml
  rllib/BUILD
  rllib/algorithms/algorithm.py
  rllib/algorithms/algorithm_config.py
  rllib/examples/envs/classes/multi_agent/footsies/README.md
  rllib/examples/envs/classes/multi_agent/footsies/__init__.py
  rllib/examples/envs/classes/multi_agent/footsies/encoder.py
  rllib/examples/envs/classes/multi_agent/footsies/fixed_rlmodules.py
  rllib/examples/envs/classes/multi_agent/footsies/footsies_env.py
  rllib/examples/envs/classes/multi_agent/footsies/game/__init__.py
  rllib/examples/envs/classes/multi_agent/footsies/game/constants.py
  rllib/examples/envs/classes/multi_agent/footsies/game/footsies_binary.py
  rllib/examples/envs/classes/multi_agent/footsies/game/footsies_game.py
  rllib/examples/envs/classes/multi_agent/footsies/game/proto/footsies_service.proto
  rllib/examples/envs/classes/multi_agent/footsies/game/proto/footsies_service_pb2.py
  rllib/examples/envs/classes/multi_agent/footsies/game/proto/footsies_service_pb2_grpc.py
  rllib/examples/envs/classes/multi_agent/footsies/utils.py
  rllib/examples/multi_agent/self_play_footsies.py
  rllib/tuned_examples/ppo/multi_agent_footsies_ppo.py
Due: docstyle, check-import-order

[data] Adding in updated code to from uris release test (#56091)
  python/ray/data/_internal/logical/operators/map_operator.py
  release/nightly_tests/dataset/read_from_uris_benchmark.py
Due: docstyle, check-import-order

[core] Drop messages received after `ClientConnection::Close` (#56240)
  src/ray/ipc/client_connection.cc
  src/ray/ipc/client_connection.h
Due: check-cpp-files-inclusion

[core] Fix cancel race that leads to RAY_CHECK it->second.submitted_task_ref_count > 0 (#56123)
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker.h
  src/ray/core_worker/task_submission/actor_task_submitter.cc
  src/ray/core_worker/task_submission/actor_task_submitter.h
  src/ray/core_worker/tests/core_worker_test.cc
  src/ray/core_worker/tests/memory_store_test.cc
Due: check-cpp-files-inclusion

[Core] Remove the unnecessary redirection of get_protocols_provider (#56262)
  python/ray/_private/runtime_env/default_impl.py
  python/ray/_private/runtime_env/protocol.py
Due: docstyle, check-import-order

Enable ruff lint for `workers/`, `workflow/`, `setup-dev.py`, and `cloudpickle/` (#56081)
  .pre-commit-config.yaml
  pyproject.toml
  python/ray/setup-dev.py
Due: docstyle, check-import-order

[core][autoscaler] Reword `Total Demands` and `Total Constraints` to `Pending Demands` and `From request_resources` (#55787)
  doc/source/cluster/kubernetes/user-guides/configuring-autoscaling.md
  python/ray/autoscaler/_private/util.py
  python/ray/autoscaler/v2/tests/test_utils.py
  python/ray/autoscaler/v2/utils.py
  python/ray/tests/test_autoscaler_e2e.py
  python/ray/tests/test_cli_patterns/test_ray_status.txt
  python/ray/tests/test_cli_patterns/test_ray_status_multinode.txt
  python/ray/tests/test_cli_patterns/test_ray_status_multinode_v1.txt
  python/ray/tests/test_cli_patterns/test_ray_status_v1.txt
  python/ray/tests/test_resource_demand_scheduler.py
Due: docstyle, check-import-order

[CORE][DOC] Fix documentation typos, grammar, and formatting issues in ray-core directories (#56275)
  doc/source/ray-core/actors/async_api.rst
  doc/source/ray-core/actors/concurrency_group_api.rst
  doc/source/ray-core/actors/named-actors.rst
  doc/source/ray-core/actors/out-of-band-communication.rst
  doc/source/ray-core/actors/terminating-actors.rst
  doc/source/ray-core/compiled-graph/profiling.rst
  doc/source/ray-core/compiled-graph/ray-compiled-graph.rst
Due: none

[serve] swap toolz for collections.defaultdict in tests (#56249)
  python/ray/serve/tests/unit/test_metrics_utils.py
Due: docstyle, check-import-order

[llm] Vllm bump -> 0.10.1.1 (#56099)
  python/deplocks/llm/ray_py311_cpu.lock
  python/deplocks/llm/ray_py311_cu121.lock
  python/deplocks/llm/ray_py311_cu128.lock
  python/deplocks/llm/ray_test_py311_cpu.lock
  python/deplocks/llm/ray_test_py311_cu121.lock
  python/deplocks/llm/ray_test_py311_cu128.lock
  python/deplocks/llm/rayllm_py311_cpu.lock
  python/deplocks/llm/rayllm_py311_cu121.lock
  python/deplocks/llm/rayllm_py311_cu128.lock
  python/deplocks/llm/rayllm_test_py311_cpu.lock
  python/deplocks/llm/rayllm_test_py311_cu121.lock
  python/deplocks/llm/rayllm_test_py311_cu128.lock
  python/ray/llm/_internal/batch/stages/vllm_engine_stage.py
  python/ray/llm/_internal/serve/configs/openai_api_models.py
  python/ray/llm/_internal/serve/deployments/llm/vllm/vllm_engine.py
  python/ray/llm/_internal/serve/deployments/llm/vllm/vllm_models.py
  python/ray/llm/_internal/serve/deployments/routers/middleware.py
  python/ray/llm/_internal/serve/deployments/routers/router.py
  python/ray/llm/_internal/serve/deployments/utils/server_utils.py
  python/ray/llm/tests/batch/gpu/stages/test_vllm_engine_stage.py
  python/requirements/llm/llm-requirements.txt
  python/requirements_compiled.txt
  python/setup.py
  release/release_tests.yaml
Due: docstyle, check-import-order

add tests and DLQ business logic (#55608)
  python/ray/serve/task_consumer.py
  python/ray/serve/task_processor.py
  python/ray/serve/tests/BUILD
  python/ray/serve/tests/test_task_processor.py
  python/ray/serve/tests/unit/test_task_consumer.py
Due: docstyle, check-import-order

[Core] [TaskEvent] Fix Missing Events Issue in Task Events (#55916)
  src/ray/core_worker/task_event_buffer.cc
  src/ray/core_worker/task_event_buffer.h
  src/ray/core_worker/tests/task_event_buffer_test.cc
Due: check-cpp-files-inclusion

[CORE][DOC] Fix grammar, spelling, and formatting issues in Ray Core documentation (#56278)
  doc/source/ray-core/patterns/concurrent-operations-async-actor.rst
  doc/source/ray-core/patterns/fork-new-processes.rst
  doc/source/ray-core/patterns/limit-pending-tasks.rst
  doc/source/ray-core/patterns/out-of-band-object-ref-serialization.rst
  doc/source/ray-core/scheduling/accelerators.rst
  doc/source/ray-core/scheduling/index.rst
  doc/source/ray-core/scheduling/placement-group.rst
Due: none

[CI] Add text embed benchmark tests to group: data-tests. (#56256)
  release/release_tests.yaml
Due: none

[ci] raydepsets: single depset compilation with dependencies (#56263)
  ci/raydepsets/cli.py
  ci/raydepsets/tests/test_cli.py
Due: docstyle, check-import-order

[CORE][DOC] Fix typos and grammatical issues in Ray Core documentation (#56279)
  doc/source/ray-core/actors.rst
  doc/source/ray-core/configure.rst
  doc/source/ray-core/cross-language.rst
  doc/source/ray-core/fault-tolerance.rst
  doc/source/ray-core/handling-dependencies.rst
  doc/source/ray-core/namespaces.rst
  doc/source/ray-core/ray-generator.rst
  doc/source/ray-core/user-spawn-processes.rst
Due: none

[core] (cgroups 3/n) Creating CgroupManager to setup Ray's cgroup hierarchy and clean it up (#56186)
  src/ray/common/cgroup2/BUILD.bazel
  src/ray/common/cgroup2/cgroup_manager.cc
  src/ray/common/cgroup2/cgroup_manager.h
  src/ray/common/cgroup2/cgroup_manager_interface.h
  src/ray/common/cgroup2/fake_cgroup_driver.h
  src/ray/common/cgroup2/scoped_cgroup_operation.h
  src/ray/common/cgroup2/tests/BUILD.bazel
  src/ray/common/cgroup2/tests/cgroup_manager_test.cc
  src/ray/common/status_or.h
Due: check-cpp-files-inclusion

[core][gpu-objects] Add warning when GPU object refs passed back to the same actor (#55639)
  python/ray/experimental/gpu_object_manager/gpu_object_manager.py
  python/ray/tests/gpu_objects/test_gpu_objects_gloo.py
Due: docstyle, check-import-order

[Data] Bump test_json timeout (#56267)
  python/ray/data/tests/test_json.py
Due: docstyle, check-import-order

[core] Proper typing for ObjectRef (#55566)
  python/ray/_raylet.pyi
  python/ray/includes/object_ref.pxi
  python/ray/includes/object_ref.pyi
  python/ray/includes/unique_ids.pyi
Due: none

[core] (cgroups 4/n) adding constraint bounds checking to the CgroupManager. (#56246)
  src/ray/common/cgroup2/cgroup_driver_interface.h
  src/ray/common/cgroup2/cgroup_manager.cc
  src/ray/common/cgroup2/cgroup_manager.h
  src/ray/common/cgroup2/cgroup_manager_interface.h
  src/ray/common/cgroup2/cgroup_test_utils.h
  src/ray/common/cgroup2/fake_cgroup_driver.h
  src/ray/common/cgroup2/integration_tests/sysfs_cgroup_driver_integration_test.cc
  src/ray/common/cgroup2/sysfs_cgroup_driver.cc
  src/ray/common/cgroup2/sysfs_cgroup_driver.h
  src/ray/common/cgroup2/tests/sysfs_cgroup_driver_test.cc
Due: check-cpp-files-inclusion

[Core] Fix ABFSS (Azure Blob File System Secure) protocol support problems during E2E test in Anyscale environment (#56188)
  python/ray/_private/runtime_env/protocol.py
  python/ray/tests/test_runtime_env_packaging.py
Due: docstyle, check-import-order

[data] refactor download expression to use inheritance from `AbstractOneToOne` (#56294)
  python/ray/data/_internal/logical/operators/map_operator.py
  python/ray/data/_internal/logical/operators/one_to_one_operator.py
  python/ray/data/_internal/planner/plan_download_op.py
  python/ray/data/_internal/planner/planner.py
  python/ray/data/dataset.py
Due: docstyle, check-import-order

[RLlib] [DOC] Fix documentation typos and grammatical issues in RLlib docs (#56130)
  doc/source/rllib/algorithm-config.rst
  doc/source/rllib/external-envs.rst
  doc/source/rllib/getting-started.rst
  doc/source/rllib/metrics-logger.rst
  doc/source/rllib/package_ref/index.rst
  doc/source/rllib/rllib-offline.rst
Due: none

[DOC] Fix grammar, syntax, and formatting issues in ray-air and ray-contribute documentation (#56067)
  doc/source/ray-air/deployment.rst
  doc/source/ray-air/getting-started.rst
  doc/source/ray-contribute/ci.rst
  doc/source/ray-contribute/debugging.rst
  doc/source/ray-contribute/development.rst
  doc/source/ray-contribute/docs.md
  doc/source/ray-contribute/fake-autoscaler.rst
  doc/source/ray-contribute/getting-involved.rst
  doc/source/ray-contribute/involvement.rst
Due: none

[DOC] Fix grammar, syntax, and formatting issues in ray-more-libs documentation (#56068)
  doc/source/ray-more-libs/dask-on-ray.rst
  doc/source/ray-more-libs/data_juicer_distributed_data_processing.md
  doc/source/ray-more-libs/joblib.rst
  doc/source/ray-more-libs/mars-on-ray.rst
  doc/source/ray-more-libs/modin/index.rst
  doc/source/ray-more-libs/multiprocessing.rst
  doc/source/ray-more-libs/ray-collective.rst
  doc/source/ray-more-libs/raydp.rst
Due: none

[Core] Remove test_head_node_job_agent_always_used (#56292)
  python/ray/dashboard/modules/job/tests/test_sdk.py
Due: docstyle, check-import-order

[lint] change API annotations and policy check triggers (#56289)
  .buildkite/lint.rayci.yml
Due: none

[deps] upgrade boto3 (#56291)
  python/deplocks/llm/ray_py311_cpu.lock
  python/deplocks/llm/ray_py311_cu121.lock
  python/deplocks/llm/ray_py311_cu128.lock
  python/deplocks/llm/ray_test_py311_cpu.lock
  python/deplocks/llm/ray_test_py311_cu121.lock
  python/deplocks/llm/ray_test_py311_cu128.lock
  python/deplocks/llm/rayllm_py311_cpu.lock
  python/deplocks/llm/rayllm_py311_cu121.lock
  python/deplocks/llm/rayllm_py311_cu128.lock
  python/deplocks/llm/rayllm_test_py311_cpu.lock
  python/deplocks/llm/rayllm_test_py311_cu121.lock
  python/deplocks/llm/rayllm_test_py311_cu128.lock
  python/requirements/cloud-requirements.txt
  python/requirements/ml/core-requirements.txt
  python/requirements/ml/data-requirements.txt
  python/requirements/test-requirements.txt
  python/requirements_compiled.txt
  release/ray_release/byod/requirements_byod_3.9.in
  release/ray_release/byod/requirements_byod_3.9.txt
  release/ray_release/byod/requirements_ml_byod_3.9.in
  release/ray_release/byod/requirements_ml_byod_3.9.txt
Due: none

[Data] Fixed `ParquetDatasource` encoding ratio estimation (#56268)
  ci/lint/pydoclint-baseline.txt
  doc/source/data/api/input_output.rst
  python/ray/data/_internal/datasource/parquet_datasource.py
  python/ray/data/datasource/__init__.py
  python/ray/data/datasource/file_meta_provider.py
  python/ray/data/datasource/parquet_meta_provider.py
  python/ray/data/read_api.py
  python/ray/data/tests/test_metadata_provider.py
  python/ray/data/tests/test_parquet.py
  python/ray/data/tests/test_size_estimation.py
Due: docstyle, check-import-order

[core] Add a warning when returning an object w/ num_returns=0 (#56213)
  python/ray/_raylet.pyx
Due: none

update build script
  src/ray/protobuf/public/BUILD.bazel
Due: none

[core] Delete unnecessary plasma.cc + macro (#56308)
  src/ray/object_manager/object_buffer_pool.h
  src/ray/object_manager/plasma/BUILD.bazel
  src/ray/object_manager/plasma/common.h
  src/ray/object_manager/plasma/plasma.cc
  src/ray/object_manager/plasma/plasma.h
  src/ray/object_manager/plasma/shared_memory.h
  src/ray/util/macros.h
  src/ray/util/subreaper.h
Due: check-cpp-files-inclusion

[Data] Add total input/output row counts of Operator in the output of Dataset.stats() (#56040)
  python/ray/data/_internal/stats.py
  python/ray/data/tests/test_stats.py
Due: docstyle, check-import-order

[core] replace node_manager_client with raylet_client_lib (#56261)
  BUILD.bazel
  src/fakes/ray/rpc/raylet/BUILD.bazel
  src/fakes/ray/rpc/raylet/raylet_client.h
  src/ray/core_worker/BUILD.bazel
  src/ray/core_worker/core_worker.h
  src/ray/core_worker/core_worker_process.cc
  src/ray/core_worker/experimental_mutable_object_provider.h
  src/ray/core_worker/lib/java/io_ray_runtime_task_NativeTaskExecutor.cc
  src/ray/core_worker/object_recovery_manager.h
  src/ray/core_worker/task_submission/BUILD.bazel
  src/ray/core_worker/task_submission/normal_task_submitter.h
  src/ray/core_worker/task_submission/tests/BUILD.bazel
  src/ray/core_worker/task_submission/tests/normal_task_submitter_test.cc
  src/ray/core_worker/tests/BUILD.bazel
  src/ray/core_worker/tests/object_recovery_manager_test.cc
  src/ray/gcs/gcs_server/BUILD.bazel
  src/ray/gcs/gcs_server/gcs_actor_scheduler.h
  src/ray/gcs/gcs_server/gcs_autoscaler_state_manager.h
  src/ray/gcs/gcs_server/gcs_node_manager.h
  src/ray/gcs/gcs_server/gcs_placement_group_scheduler.h
  src/ray/gcs/gcs_server/gcs_server.cc
  src/ray/gcs/gcs_server/gcs_server.h
  src/ray/raylet/BUILD.bazel
  src/ray/raylet/main.cc
  src/ray/raylet/node_manager.h
  src/ray/raylet_client/BUILD.bazel
  src/ray/raylet_client/node_manager_client.h
  src/ray/rpc/BUILD.bazel
  src/ray/rpc/node_manager/node_manager_server.h
  src/ray/rpc/raylet/raylet_client.cc
  src/ray/rpc/raylet/raylet_client.h
  src/ray/rpc/raylet/raylet_client_interface.h
  src/ray/rpc/raylet/raylet_client_pool.cc
  src/ray/rpc/raylet/raylet_client_pool.h
  src/ray/rpc/raylet/tests/BUILD.bazel
  src/ray/rpc/raylet/tests/raylet_client_pool_test.cc
  src/ray/rpc/retryable_grpc_client.h
  src/ray/rpc/worker/core_worker_client_pool.h
Due: check-cpp-files-inclusion

[serve] Fix buffered logging reusing request context (Fixes #55851) (#56094)
  python/ray/serve/_private/logging_utils.py
  python/ray/serve/tests/test_logging.py
Due: docstyle, check-import-order

merge with protobuf changes
  src/ray/observability/BUILD.bazel
  src/ray/observability/ray_actor_definition_event.cc
  src/ray/observability/ray_actor_definition_event.h
  src/ray/observability/ray_actor_lifecycle_event.cc
  src/ray/observability/ray_actor_lifecycle_event.h
  src/ray/observability/ray_event.h
  src/ray/observability/ray_event_interface.h
  src/ray/observability/ray_event_recorder.h
  src/ray/observability/tests/BUILD.bazel
  src/ray/observability/tests/ray_event_recorder_test.cc
Due: check-cpp-files-inclusion

fix failing tests
  src/ray/observability/ray_actor_lifecycle_event.cc
  src/ray/observability/ray_actor_lifecycle_event.h
  src/ray/observability/tests/ray_event_recorder_test.cc
Due: check-cpp-files-inclusion

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)
