Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)

Apply iter33 S1 snapshot ingress behavior
  python/ray/llm/_internal/serve/core/ingress/ingress.py
Due: docstyle, check-import-order

Apply iter33 S2 router metadata cluster
  python/ray/llm/_internal/serve/core/configs/llm_config.py
  python/ray/llm/_internal/serve/core/ingress/builder.py
  python/ray/serve/_private/application_state.py
  python/ray/serve/_private/build_app.py
  python/ray/serve/_private/client.py
  python/ray/serve/_private/deploy_utils.py
  python/ray/serve/_private/deployment_info.py
  python/ray/serve/schema.py
Due: docstyle, check-import-order

Mitigate iter33 S2 controller kwarg mismatch
  python/ray/serve/_private/client.py
Due: docstyle, check-import-order

Apply iter33 S3 replica plumbing cluster
  python/ray/llm/_internal/serve/core/server/llm_server.py
  python/ray/llm/_internal/serve/engines/vllm/vllm_engine.py
  python/ray/serve/_private/common.py
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/_private/replica.py
  python/ray/serve/_private/request_router/replica_wrapper.py
  python/ray/serve/context.py
  python/ray/serve/handle.py
Due: docstyle, check-import-order

Mitigate iter33 S3 direct-ingress registry gap
  python/ray/serve/_private/replica.py
Due: docstyle, check-import-order

Apply iter33 S4 built-in HAProxy cluster
  python/ray/serve/_private/client.py
  python/ray/serve/_private/controller.py
  python/ray/serve/_private/haproxy.py
  python/ray/serve/_private/haproxy_templates.py
  python/ray/serve/_private/sidecar_route.lua
Due: docstyle, check-import-order

Test iter33 S4 HAProxy reuse mitigation
  python/ray/serve/_private/haproxy_templates.py
Due: docstyle, check-import-order

Test iter33 S4 HAProxy logging mitigation
  python/ray/serve/_private/haproxy_templates.py
Due: docstyle, check-import-order

Test iter33 S4 no fallback backend mitigation
  python/ray/serve/_private/haproxy.py
Due: docstyle, check-import-order

Add space
  python/ray/dashboard/modules/metrics/dashboards/default_dashboard_panels.py
Due: docstyle, check-import-order

Test iter33 S4 no health checks mitigation
  python/ray/serve/_private/haproxy.py
  python/ray/serve/_private/haproxy_templates.py
Due: docstyle, check-import-order

[Serve] clarify request cancel in async io docs (#62280)
  doc/source/serve/advanced-guides/asyncio-best-practices.md
Due: none

Mitigate iter33 S4 no-health-check readiness coupling
  python/ray/serve/_private/haproxy_templates.py
Due: docstyle, check-import-order

Make iter33 ingress-bypass health-check disable opt-in
  python/ray/serve/_private/haproxy.py
Due: docstyle, check-import-order

Test iter33 S4 native RR without router targets
  python/ray/serve/_private/controller.py
Due: docstyle, check-import-order

review
  python/ray/data/_internal/stats.py
  python/ray/data/tests/test_stats.py
Due: docstyle, check-import-order

Refine iter33 router-target isolation controls
  python/ray/serve/_private/controller.py
  python/ray/serve/_private/haproxy.py
Due: docstyle, check-import-order

updating deps
  python/deplocks/ci/ml-build-ci_depset_py3.10.lock
  python/deplocks/ci/ml-build-ci_depset_py3.12.lock
  python/deplocks/ci/ml-gpubuild-ci_depset_py3.10.lock
  python/deplocks/ci/ml-gpubuild-ci_depset_py3.12.lock
  python/deplocks/ci/ml-lightninggpubuild-ci_depset_py3.10.lock
  python/deplocks/ci/ml-lightninggpubuild-ci_depset_py3.12.lock
  python/ray/train/v2/tensorflow/tensorflow_trainer.py
  python/requirements/ml/py313/dl-gpu-requirements.txt
  python/requirements/ml/py313/train-test-requirements.txt
Due: docstyle, check-import-order, check-train-circular-imports

reverting tf-keras import (not needed)
  python/ray/train/tensorflow/tensorflow_checkpoint.py
  python/ray/train/tensorflow/tensorflow_predictor.py
Due: docstyle, check-import-order, check-train-circular-imports

reverting tensorflow_trainer
  python/ray/train/v2/tensorflow/tensorflow_trainer.py
Due: docstyle, check-import-order, check-train-circular-imports

review
  python/ray/data/_internal/dataset_repr.py
  python/ray/data/_internal/util.py
  python/ray/data/dataset.py
  python/ray/data/tests/datasource/test_parquet.py
  python/ray/data/tests/test_gpu_shuffle.py
  python/ray/train/base_trainer.py
Due: docstyle, check-import-order, check-train-circular-imports

add back comment
  python/ray/data/_internal/dataset_repr.py
Due: docstyle, check-import-order

Add iter33 ingress-bypass roundrobin override toggle
  python/ray/serve/_private/haproxy.py
  python/ray/serve/_private/haproxy_templates.py
Due: docstyle, check-import-order

updating depset
  .buildkite/_images.rayci.yml
  ci/raydepsets/configs/rayimg.depsets.yaml
  python/deplocks/base_deps/ray_base_deps_tpu_py3.11.lock
  python/deplocks/base_deps/ray_base_deps_tpu_py3.12.lock
  python/deplocks/base_deps/ray_base_deps_tpu_py3.13.lock
Due: none

[Docs] Fix RST title underline length for Job naming section
  doc/source/ray-observability/getting-started.rst
Due: none

[Dashboard] Add Name column to Jobs view from job_name metadata
  python/ray/dashboard/client/src/pages/job/JobRow.tsx
  python/ray/dashboard/client/src/pages/job/index.tsx
Due: none

Update doc/source/ray-observability/getting-started.rst
  doc/source/ray-observability/getting-started.rst
Due: none

[Docs] Use self-contained entrypoint in job_name example
  doc/source/ray-observability/getting-started.rst
Due: none

[Dashboard] Add Name search filter to Jobs view
  python/ray/dashboard/client/src/pages/job/hook/useJobList.ts
  python/ray/dashboard/client/src/pages/job/index.tsx
Due: none

[Docs] Document job_name metadata key in Jobs view
  doc/source/ray-observability/getting-started.rst
Due: none

removing unused lock files
  python/deplocks/base_deps/ray_base_deps_tpu_py3.11.lock
  python/deplocks/base_deps/ray_base_deps_tpu_py3.12.lock
  python/deplocks/base_deps/ray_base_deps_tpu_py3.13.lock
Due: none

update
  python/ray/data/_internal/cluster_autoscaler/default_autoscaling_coordinator.py
  python/ray/data/_internal/execution/autoscaling_requester.py
  python/ray/data/_internal/head_node_placement.py
  python/ray/data/tests/unit/test_autoscaling_actor_placement.py
Due: docstyle, check-import-order
