Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

check-train-circular-imports:
  name: Check Ray Train circular imports
  entry: python python/ray/train/lint/check_circular_imports.py
  language: system
  pass_filenames: false
  args:
  - --patch_dir
  - ray/train/v2

wip
  rllib/env/env_runner.py
Due: docstyle, check-import-order

[Train / Doc] Uncomment `Result.from_path` in docs
  doc/source/train/doc_code/key_concepts.py
  doc/source/train/user-guides/results.rst
Due: none

Fix variable name
  doc/source/train/doc_code/key_concepts.py
Due: none

Explicitly include natural CPU count in worker_nodes resources overrides
  release/serve_tests/compute_tpl_32_cpu.yaml
  release/serve_tests/compute_tpl_8_cpu_autoscaling.yaml
Due: none

[data] DataSourceV2: support ``_block_udf`` + ``tensor_column_schema``; per-fragment reads for variable-shape tensors
  python/ray/data/_internal/datasource_v2/readers/file_reader.py
  python/ray/data/_internal/logical/operators/read_operator.py
  python/ray/data/_internal/planner/plan_read_files_op.py
  python/ray/data/read_api.py
  python/ray/data/tests/datasource/test_parquet.py
  python/ray/data/tests/unit/datasource_v2/test_read_parquet_v2.py
Due: docstyle, check-import-order

[RLlib] Stop catching in env runners; let FaultAwareApply handle it
  rllib/env/multi_agent_env_runner.py
  rllib/env/single_agent_env_runner.py
Due: docstyle, check-import-order

[RLlib] Drop obsolete test and noisy comments around make_env close
  rllib/env/multi_agent_env_runner.py
  rllib/env/single_agent_env_runner.py
  rllib/env/tests/test_single_agent_env_runner.py
Due: docstyle, check-import-order

[RLlib] Keep env lifecycle in make_env() unchanged on this branch
  rllib/env/multi_agent_env_runner.py
  rllib/env/single_agent_env_runner.py
Due: docstyle, check-import-order

Flip pytest_serve_router_benchmark; normalize flag placement
  release/release_tests.yaml
Due: none

delete comment
  rllib/env/multi_agent_env_runner.py
Due: docstyle, check-import-order

add
  python/ray/_common/pydantic_compat.py
  python/ray/_private/worker.py
  python/ray/dashboard/modules/serve/serve_head.py
  python/ray/dashboard/modules/serve/tests/test_serve_dashboard.py
  python/ray/tests/test_client.py
  python/ray/tests/test_minimal_install.py
  python/ray/tests/test_pydantic_serialization.py
  python/ray/tests/test_serialization.py
  python/requirements.txt
  python/setup.py
Due: docstyle, check-import-order

fix
  proto/bench_flight_store.py
  proto/verify_flight_store.py
  python/ray/_private/flight_object_store.py
Due: docstyle, check-import-order

add
  python/requirements.txt
  python/requirements/serve/pydantic-reqs.txt
  python/setup.py
Due: docstyle, check-import-order

updating datanbuild uv install command
  ci/docker/data.build.Dockerfile
Due: none

[ci][deps] updating datanbuild uv install command (#62889)
  ci/docker/data.build.Dockerfile
Due: none

updating flags
  ci/docker/data.build.Dockerfile
Due: none

[data] DataSourceV2: fix CI regressions — local-scheme detection, cross-version pq.read_schema, test op-name match
  python/ray/data/_internal/datasource_v2/datasource_v2.py
  python/ray/data/_internal/datasource_v2/parquet_datasource_v2.py
  python/ray/data/_internal/datasource_v2/scanners/file_scanner.py
  python/ray/data/read_api.py
  python/ray/data/tests/test_limit_operator.py
Due: docstyle, check-import-order

[RLlib] Add custom_resources_for_main_process to AlgorithmConfig (#62475)
  rllib/BUILD.bazel
  rllib/algorithms/algorithm.py
  rllib/algorithms/algorithm_config.py
  rllib/algorithms/tests/test_get_main_process_bundle.py
  rllib/algorithms/utils.py
Due: docstyle, check-import-order

[ci][deps] update uv flags (#62890)
  ci/docker/data.build.Dockerfile
Due: none

[Data][docs] Update the doc's minimum version to support build_processor (#61757)
  doc/source/data/working-with-llms.rst
Due: none

add
  python/ray/dashboard/modules/serve/serve_head.py
  python/ray/tests/test_pydantic_serialization.py
Due: docstyle, check-import-order

[Serve] Add separate stores for replica and gang replica constructor failures
  python/ray/serve/_private/test_utils.py
  python/ray/serve/tests/test_constructor_failure.py
  python/ray/serve/tests/test_gang_scheduling.py
Due: docstyle, check-import-order

[Serve] Support per request timeout and disconnect in http proxy path (#62867)
  ci/ray_ci/serve_di_test_names.txt
  ci/ray_ci/serve_hap_test_names.txt
  doc/source/serve/advanced-guides/performance.md
  python/ray/serve/_private/http_util.py
  python/ray/serve/_private/proxy.py
  python/ray/serve/_private/replica.py
  python/ray/serve/tests/BUILD.bazel
  python/ray/serve/tests/test_per_request_headers.py
Due: docstyle, check-import-order

[Serve] Filter stale bootstrap observations from `serve_long_poll_latency_ms` (#62868)
  python/ray/serve/_private/long_poll.py
Due: docstyle, check-import-order

safer
  src/ray/core_worker/task_submission/normal_task_submitter.cc
Due: check-cpp-files-inclusion

fix
  proto/bench_flight_store.py
  proto/verify_flight_store.py
  python/ray/_private/flight_object_store.py
  python/ray/_private/ray_constants.py
  python/ray/_private/serialization.py
  python/ray/_raylet.pyx
  python/ray/experimental/rdt/arrow_flight_transport.py
  python/ray/experimental/rdt/util.py
Due: docstyle, check-import-order

fix
  proto/bench_flight_store.py
  proto/verify_flight_store.py
  python/ray/_private/serialization.py
  python/ray/experimental/rdt/arrow_flight_transport.py
Due: docstyle, check-import-order

Adding more logs to see if consumer memory consumption is because of second ReleaseFreedObject early returning
  src/ray/raylet/local_object_manager.cc
Due: check-cpp-files-inclusion

try host pid fix
  python/ray/tests/test_gpu_provider_on_gpu.py
Due: docstyle, check-import-order

Update python/ray/_raylet.pyx
  python/ray/_raylet.pyx
Due: none

[serve] Plumb session_id through request metadata and proxy layers
  python/ray/serve/_private/common.py
  python/ray/serve/_private/constants.py
  python/ray/serve/_private/default_impl.py
  python/ray/serve/_private/handle_options.py
  python/ray/serve/_private/proxy.py
  python/ray/serve/_private/proxy_request_response.py
  python/ray/serve/context.py
  python/ray/serve/handle.py
  python/ray/serve/tests/unit/test_handle_options.py
  python/ray/serve/tests/unit/test_proxy.py
  python/ray/serve/tests/unit/test_proxy_request_response.py
  python/ray/serve/tests/unit/test_request_metadata.py
  src/ray/protobuf/serve.proto
Due: docstyle, check-import-order

StrFormat
  src/ray/object_manager/BUILD.bazel
  src/ray/object_manager/pull_manager.cc
  src/ray/object_manager/pull_manager.h
Due: check-cpp-files-inclusion

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
