Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

Cleaning up test file
  src/ray/core_worker/test/normal_task_submitter_test.cc
Due: check-cpp-files-inclusion

update
  python/ray/util/spark/cluster_init.py
  python/ray/util/spark/ray_metrics_monitor.py
Due: docstyle, check-import-order

del actor name check + todo
  python/ray/actor.py
Due: docstyle, check-import-order

Update python/ray/train/v2/tests/test_failure_policy.py
  python/ray/train/v2/tests/test_failure_policy.py
Due: docstyle, check-import-order

fix comments
  python/ray/train/v2/tests/test_failure_policy.py
Due: docstyle, check-import-order

Lint failure
  src/ray/core_worker/test/normal_task_submitter_test.cc
Due: check-cpp-files-inclusion

Using kuberay client (#613)
  python/ray/autoscaler/_private/kuberay/autoscaling_config.py
Due: docstyle, check-import-order

fix
  python/ray/util/spark/cluster_init.py
  python/ray/util/spark/databricks_hook.py
Due: docstyle, check-import-order

update
  python/ray/util/spark/databricks_hook.py
Due: docstyle, check-import-order

fix
  python/ray/util/spark/databricks_hook.py
Due: docstyle, check-import-order

fix
  python/ray/util/spark/cluster_init.py
Due: docstyle, check-import-order

up
  src/ray/object_manager/ownership_object_directory.cc
  src/ray/object_manager/plasma/get_request_queue.cc
  src/ray/object_manager/plasma/get_request_queue.h
  src/ray/object_manager/plasma/store.cc
Due: check-cpp-files-inclusion

no get filter
  src/ray/core_worker/core_worker.cc
  src/ray/gcs/gcs_client/accessor.cc
  src/ray/gcs/gcs_client/accessor.h
  src/ray/object_manager/object_manager.cc
  src/ray/rpc/worker/core_worker_client_pool.cc
Due: check-cpp-files-inclusion

Add Profile events to Ray events schema
  python/ray/dashboard/modules/aggregator/tests/test_aggregator_agent.py
  src/ray/protobuf/BUILD
  src/ray/protobuf/events_base_event.proto
Due: docstyle, check-import-order

lint
  python/ray/dashboard/modules/aggregator/tests/test_aggregator_agent.py
Due: docstyle, check-import-order

docs: Adding docs for Kuberay KAI scheduler integration
  doc/source/cluster/kubernetes/k8s-ecosystem.md
  doc/source/cluster/kubernetes/k8s-ecosystem/kai-scheduler.md
Due: none

Update doc/source/cluster/kubernetes/k8s-ecosystem/kai-scheduler.md
  doc/source/cluster/kubernetes/k8s-ecosystem/kai-scheduler.md
Due: none

fix(parquet): handle empty fragments in sampling when num_row_groups=0
  python/ray/data/_internal/datasource/parquet_datasource.py
  python/ray/data/tests/test_parquet.py
Due: docstyle, check-import-order

resync with master
  BUILD.bazel
  src/ray/protobuf/BUILD
Due: none

CI: Split Java and CPP tests on macOS
  .buildkite/macos/macos.rayci.yml
  ci/ray_ci/macos/macos_ci.sh
Due: none

CI: Remove redundant function in bash script
  ci/ray_ci/macos/macos_ci.sh
Due: none

wip
  rllib/algorithms/dreamerv3/dreamerv3.py
  rllib/algorithms/dreamerv3/dreamerv3_rl_module.py
  rllib/algorithms/dreamerv3/tests/test_dreamerv3.py
  rllib/algorithms/dreamerv3/torch/dreamerv3_torch_learner.py
  rllib/algorithms/dreamerv3/torch/dreamerv3_torch_rl_module.py
  rllib/algorithms/dreamerv3/torch/models/dreamer_model.py
  rllib/algorithms/dreamerv3/torch/models/world_model.py
  rllib/algorithms/dreamerv3/utils/env_runner.py
  rllib/connectors/common/add_states_from_episodes_to_batch.py
  rllib/connectors/module_to_env/remove_single_ts_time_rank_from_batch.py
  rllib/core/rl_module/rl_module.py
  rllib/env/wrappers/atari_wrappers.py
Due: docstyle, check-import-order

wip
  rllib/tuned_examples/dreamerv3/atari_100k.py
Due: docstyle, check-import-order

Added another curriculum example using Atari Pong and frameskip tasks.
  rllib/examples/curriculum/atari_pong_curriculum_learning.py
  rllib/examples/curriculum/classes/__init__.py
  rllib/examples/curriculum/classes/pong_curriculum_callback.py
Due: docstyle, check-import-order

Fixed a small bug.
  rllib/BUILD
  rllib/examples/curriculum/atari_pong_curriculum_learning.py
Due: docstyle, check-import-order

Using Atari within gymnasium v1.0.0 results in a weeird import bug from internal gymnasium code. Upgrading to gymnasium 1.2.0 works.
  python/setup.py
Due: docstyle, check-import-order

fix prefer_ipv6 tag
  BUILD.bazel
  python/ray/_private/ray_constants.py
  python/ray/_private/runtime_env/agent/main.py
  python/ray/autoscaler/_private/monitor.py
  python/ray/autoscaler/v2/monitor.py
  python/ray/dashboard/agent.py
  python/ray/dashboard/head.py
  python/ray/dashboard/http_server_agent.py
  python/ray/dashboard/modules/reporter/reporter_agent.py
  python/ray/util/rpdb.py
  src/ray/rpc/grpc_server.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

Initialized counter with another callback and added missing initialization to other curriculum example.
  rllib/examples/curriculum/classes/pong_curriculum_callback.py
  rllib/examples/curriculum/curriculum_learning.py
Due: docstyle, check-import-order

update
  python/ray/util/spark/cluster_init.py
Due: docstyle, check-import-order

use proxy url in proxy tests (#54941)
  python/ray/serve/tests/test_logging.py
Due: docstyle, check-import-order

Quiet podman run
  python/ray/_private/runtime_env/image_uri.py
Due: docstyle, check-import-order

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)
