Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)

[Data] Fix `TensorArray` to Arrow tensor conversion (#59449)
  python/ray/air/util/tensor_extensions/arrow.py
  python/ray/air/util/tensor_extensions/utils.py
  python/ray/data/read_api.py
  python/ray/data/tests/test_tensor_extension.py
Due: docstyle, check-import-order

add
  python/ray/includes/serialization.pxi
  src/ray/util/memory.cc
Due: check-cpp-files-inclusion

fix conflit
  python/ray/includes/serialization.pxi
  src/ray/util/memory.cc
Due: check-cpp-files-inclusion

Initial commit
  python/ray/data/_internal/cluster_autoscaler/default_autoscaling_coordinator.py
  python/ray/data/tests/test_autoscaling_coordinator.py
Due: docstyle, check-import-order

add
  python/ray/includes/serialization.pxi
Due: none

add
  python/ray/_private/serialization.py
Due: docstyle, check-import-order

[Data][Cherry-pick] Fix bug where `AutoscalingCoordinator` crashes if you request 0 GPUs on CPU-only cluster (#59516)
  python/ray/data/_internal/cluster_autoscaler/default_autoscaling_coordinator.py
  python/ray/data/tests/test_autoscaling_coordinator.py
Due: docstyle, check-import-order

wip
  python/ray/llm/_internal/serve/core/engine/protocol.py
  python/ray/llm/_internal/serve/core/ingress/dev_ingress.py
  python/ray/llm/_internal/serve/core/ingress/mixins/broadcastable.py
  python/ray/llm/_internal/serve/core/ingress/mixins/cache_manager.py
  python/ray/llm/_internal/serve/core/ingress/mixins/sleepable.py
  python/ray/llm/_internal/serve/core/server/llm_server.py
  python/ray/llm/_internal/serve/core/server/mixins/sleepable.py
  python/ray/llm/_internal/serve/engines/vllm/mixins/sleepable.py
  python/ray/llm/_internal/serve/engines/vllm/vllm_engine.py
  python/ray/llm/_internal/serve/utils/broadcast.py
  python/ray/llm/examples/serve/example_reset_kv_cache/reset_kv_cache_example.py
  python/ray/llm/tests/serve/cpu/deployments/utils/test_dispatch.py
  python/ray/llm/tests/serve/mocks/mock_vllm_engine.py
Due: docstyle, check-import-order

move hashes to wanda.yaml, compact manylinux
  .buildkite/_forge.rayci.yml
  .buildkite/build.rayci.yml
  .buildkite/dependencies.rayci.yml
  .buildkite/linux_aarch64.rayci.yml
  ci/docker/manylinux.aarch64.wanda.yaml
  ci/docker/manylinux.wanda.yaml
  ci/docker/ray-core.Dockerfile
  ci/docker/ray-core.wanda.yaml
  ci/docker/ray-dashboard.Dockerfile
  ci/docker/ray-dashboard.wanda.yaml
  ci/docker/ray-java.Dockerfile
  ci/docker/ray-java.wanda.yaml
Due: none

wip
  python/ray/llm/_internal/serve/core/engine/mixins/__init__.py
  python/ray/llm/_internal/serve/core/engine/mixins/cache_manager.py
  python/ray/llm/_internal/serve/core/engine/mixins/sleepable.py
  python/ray/llm/_internal/serve/core/server/mixins/__init__.py
  python/ray/llm/_internal/serve/core/server/mixins/cache_manager.py
  python/ray/llm/_internal/serve/core/server/mixins/sleepable.py
  python/ray/llm/_internal/serve/engines/vllm/mixins/__init__.py
  python/ray/llm/_internal/serve/engines/vllm/mixins/sleepable.py
Due: docstyle, check-import-order

wip
  python/ray/llm/_internal/serve/core/ingress/mixins/__init__.py
  python/ray/llm/_internal/serve/core/server/llm_server.py
  python/ray/llm/tests/serve/mocks/mock_vllm_engine.py
Due: docstyle, check-import-order

One more comment
  python/ray/data/_internal/datasource/iceberg_datasink.py
Due: docstyle, check-import-order

re-add rayci.yml
  .buildkite/_forge.rayci.yml
  .buildkite/build.rayci.yml
  .buildkite/linux_aarch64.rayci.yml
Due: none

[Core] Optimize open telemetry metric recording calls (#59337)
  python/ray/_private/telemetry/metric_cardinality.py
  python/ray/_private/telemetry/metric_types.py
  python/ray/_private/telemetry/open_telemetry_metric_recorder.py
  python/ray/dashboard/modules/aggregator/aggregator_agent.py
  python/ray/dashboard/modules/reporter/reporter_agent.py
  python/ray/tests/test_open_telemetry_metric_recorder.py
Due: docstyle, check-import-order

Updating jax
  ci/raydepsets/configs/rayimg.depsets.yaml
  python/deplocks/base_extra/ray_base_extra_py3.10.lock
  python/deplocks/base_extra/ray_base_extra_py3.11.lock
  python/deplocks/base_extra/ray_base_extra_py3.12.lock
  python/deplocks/base_extra/ray_base_extra_py3.13.lock
  python/deplocks/llm/ray_py311_cpu.lock
  python/deplocks/llm/ray_py311_cu128.lock
  python/deplocks/llm/ray_test_py311_cpu.lock
  python/deplocks/llm/ray_test_py311_cu128.lock
  python/deplocks/llm/rayllm_py311_cpu.lock
  python/deplocks/llm/rayllm_py311_cu128.lock
  python/deplocks/llm/rayllm_subset_py311_cu128.lock
  python/deplocks/llm/rayllm_test_py311_cpu.lock
  python/deplocks/llm/rayllm_test_py311_cu128.lock
  python/deplocks/ray_img/ray_img_py310.lock
  python/deplocks/ray_img/ray_img_py311.lock
  python/deplocks/ray_img/ray_img_py312.lock
  python/deplocks/ray_img/ray_img_py313.lock
  python/requirements/ml/dl-cpu-requirements.txt
  python/requirements/ml/dl-gpu-requirements.txt
  python/requirements/test-requirements.txt
  python/requirements_compiled.txt
  release/ray_release/byod/ray_base_extra_testdeps_cuda_py3.10.lock
  release/ray_release/byod/ray_base_extra_testdeps_cuda_py3.11.lock
  release/ray_release/byod/ray_base_extra_testdeps_cuda_py3.12.lock
  release/ray_release/byod/ray_base_extra_testdeps_cuda_py3.13.lock
  release/ray_release/byod/ray_base_extra_testdeps_gpu_py3.10.lock
  release/ray_release/byod/ray_base_extra_testdeps_py3.10.lock
  release/ray_release/byod/ray_base_extra_testdeps_py3.11.lock
  release/ray_release/byod/ray_base_extra_testdeps_py3.12.lock
  release/ray_release/byod/ray_base_extra_testdeps_py3.13.lock
  release/ray_release/byod/ray_ml_base_extra_testdeps_cuda_py3.10.lock
  release/ray_release/byod/ray_ml_base_extra_testdeps_py3.10.lock
Due: none

fix architecture baked into wanda name
  ci/ray_ci/builder_container.py
  ci/ray_ci/test_builder_container.py
Due: docstyle, check-import-order

fix test
  python/ray/data/tests/test_autoscaler.py
Due: docstyle, check-import-order

Restore literalinclude
  doc/source/serve/llm/user-guides/prefix-aware-routing.md
Due: none

[Data] Concurrency cap backpressure with tuning (Disabled)
  python/ray/data/_internal/execution/backpressure_policy/concurrency_cap_backpressure_policy.py
  python/ray/data/_internal/execution/resource_manager.py
  python/ray/data/context.py
  python/ray/data/tests/test_backpressure_policies.py
Due: docstyle, check-import-order

[llm][docs] Restore literalinclude to code example (#59520)
  doc/source/serve/llm/user-guides/prefix-aware-routing.md
Due: none

wip
  python/ray/llm/_internal/serve/core/ingress/mixins/broadcastable.py
  python/ray/llm/examples/serve/example_reset_kv_cache/reset_kv_cache_example.py
  python/ray/llm/tests/serve/cpu/deployments/utils/test_broadcast.py
Due: docstyle, check-import-order

wip
  python/ray/llm/examples/serve/example_reset_kv_cache/reset_kv_cache_example.py
Due: docstyle, check-import-order

Extend bucket ranges
  python/ray/_raylet.pyx
  src/ray/common/metrics.h
  src/ray/core_worker/metrics.h
Due: check-cpp-files-inclusion

[llm][docs] Fix relative path in literalinclude
  doc/source/serve/llm/user-guides/prefix-aware-routing.md
Due: none

[llm][docs] Fix relative path in literalinclude (#59521)
  doc/source/serve/llm/user-guides/prefix-aware-routing.md
Due: none

wip
  python/ray/llm/_internal/serve/core/ingress/dev_ingress.py
  python/ray/llm/_internal/serve/core/ingress/mixins/__init__.py
  python/ray/llm/_internal/serve/core/ingress/mixins/pausable.py
  python/ray/llm/_internal/serve/core/server/llm_server.py
  python/ray/llm/_internal/serve/engines/vllm/vllm_engine.py
  python/ray/llm/tests/serve/cpu/deployments/routers/test_dev_ingress.py
  python/ray/llm/tests/serve/mocks/mock_vllm_engine.py
  release/llm_tests/serve/test_llm_serve_pause_resume.py
  release/release_tests.yaml
Due: docstyle, check-import-order

wip
  python/ray/llm/_internal/serve/core/ingress/mixins/broadcastable.py
Due: docstyle, check-import-order

[Data] Concurrency cap backpressure with tuning (Disabled) (#59519)
  python/ray/data/_internal/execution/backpressure_policy/concurrency_cap_backpressure_policy.py
  python/ray/data/_internal/execution/resource_manager.py
  python/ray/data/context.py
  python/ray/data/tests/test_backpressure_policies.py
Due: docstyle, check-import-order

use StatusSet
  python/ray/_raylet.pyx
  python/ray/includes/common.pxd
  src/ray/common/status.h
  src/ray/raylet/node_manager.cc
  src/ray/util/file_persistence.cc
  src/ray/util/file_persistence.h
  src/ray/util/port_persistence.cc
  src/ray/util/port_persistence.h
  src/ray/util/tests/file_persistence_test.cc
Due: check-cpp-files-inclusion

[data] Fix: Ensure task cleanup runs when actor dies mid-task
  python/ray/data/_internal/execution/streaming_executor_state.py
  python/ray/data/tests/test_streaming_executor.py
Due: docstyle, check-import-order

set defaults
  python/ray/serve/_private/constants.py
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/metrics.py
Due: docstyle, check-import-order

set defaults
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/metrics.py
Due: docstyle, check-import-order

Address comments for string logging and remove unused files
  bazel/BUILD.bazel
  src/ray/common/cgroup2/BUILD.bazel
  src/ray/raylet/BUILD.bazel
  src/ray/raylet/node_manager.cc
  src/ray/raylet/tests/BUILD.bazel
  src/ray/raylet/worker_killing_policy.cc
  src/ray/raylet/worker_killing_policy.h
  src/ray/raylet/worker_killing_policy_group_by_owner.cc
  src/ray/raylet/worker_killing_policy_group_by_owner.h
Due: check-cpp-files-inclusion

add note
  doc/source/serve/monitoring.md
  python/ray/serve/_private/deployment_state.py
Due: docstyle, check-import-order

[Serve][7/n] Add long poll metrics (#59246)
  doc/source/serve/monitoring.md
  python/ray/serve/_private/long_poll.py
  python/ray/serve/tests/test_metrics.py
Due: docstyle, check-import-order

Remove mlagents/mlagents-envs dependency from requirements files
  ci/env/install-dependencies.sh
  python/requirements/ml/rllib-test-requirements.txt
  python/requirements_compiled.txt
Due: none

Remove OldStack-based Unity3DEnv wrapper
  rllib/env/__init__.py
  rllib/env/wrappers/unity3d_env.py
  rllib/examples/_old_api_stack/envs/unity3d_env_local.py
Due: docstyle, check-import-order

Remove outdated Unity3D image reference from external-envs documentation
  doc/source/rllib/external-envs.rst
Due: none

add routing exception metric
  doc/source/serve/monitoring.md
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/_private/proxy_state.py
  python/ray/serve/schema.py
  python/ray/serve/tests/test_metrics.py
  python/ray/serve/tests/test_metrics_2.py
Due: docstyle, check-import-order

Remove legacy integration guide from documentation
  doc/source/rllib/rllib-examples.rst
Due: none
