Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)

chore: cleanup stale comments
  python/ray/agentic/experimental/adapters.py
  python/ray/agentic/experimental/examples/langgraph_demo.py
  python/ray/agentic/experimental/examples/simple_distributed_demo.py
  python/ray/agentic/experimental/session.py
Due: docstyle, check-import-order

[core][rdt] Fix deregisterMem with none when using nixl (#57603)
  python/ray/experimental/collective/nixl_tensor_transport.py
Due: docstyle, check-import-order

Cleanup
  python/ray/data/_internal/datasource/parquet_datasource.py
Due: docstyle, check-import-order

testing semgrep lint
  python/ray/data/tests/test_arrow_serialization.py
  python/ray/data/tests/test_should_fail.py
  semgrep.yml
Due: docstyle, check-import-order

handle all handler types
  python/ray/data/_internal/logging.py
Due: docstyle, check-import-order

State mutation
  python/ray/data/_internal/logging.py
Due: docstyle, check-import-order

fix: automated cr comments
  python/ray/agentic/experimental/adapters.py
Due: docstyle, check-import-order

Tidying up metrics
  python/ray/data/_internal/execution/interfaces/op_runtime_metrics.py
Due: docstyle, check-import-order

[Data] - Add to_pyarrow() to Expr (#57271)
  python/ray/data/expressions.py
  python/ray/data/tests/test_expressions.py
Due: docstyle, check-import-order

[Data] Fixing prefetch loop to avoid being blocked on the block being fetched (#57613)
  python/ray/data/_internal/block_batching/util.py
  python/ray/data/_internal/stats.py
Due: docstyle, check-import-order

removing semgrep test
  .pre-commit-config.yaml
  python/ray/data/tests/test_should_fail.py
Due: docstyle, check-import-order

running semgrep pre-commit job in ci
  ci/lint/lint.sh
Due: none

adding pytest_format back
  .buildkite/lint.rayci.yml
Due: none

[llm][ci] Use team selector against //doc for doc tests
  .buildkite/llm.rayci.yml
Due: none

Apply suggestions from code review
  doc/source/ray-overview/examples/llamafactory-llm-fine-tune/README.md
Due: none

Add back python version flag
  .buildkite/llm.rayci.yml
Due: none

[serve] Prevent rechunking during streaming tests (#57592)
  python/ray/serve/tests/test_streaming_response.py
Due: docstyle, check-import-order

[release] Upload & download blobs from Azure (#57540)
  release/BUILD.bazel
  release/ray_release/buildkite/step.py
  release/ray_release/command_runner/_anyscale_job_wrapper.py
  release/ray_release/command_runner/anyscale_job_runner.py
  release/ray_release/file_manager/job_file_manager.py
  release/ray_release/glue.py
  release/ray_release/test.py
  release/ray_release/tests/test_util.py
  release/ray_release/util.py
Due: docstyle, check-import-order

[Data] Avoid `iter_batches` inference benchmark (#57618)
  release/nightly_tests/dataset/gpu_batch_inference.py
Due: docstyle, check-import-order

updating exclude patterns
  doc/source/conf.py
Due: none

update readme notebook
  doc/source/ray-overview/examples/llamafactory-llm-fine-tune/README.ipynb
Due: none

__dict__ doesn't preserve state
  python/ray/data/_internal/logging.py
  python/ray/data/tests/test_logging.py
Due: docstyle, check-import-order

installing precommit
  ci/lint/lint.sh
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Revert "Update CODEOWNERS"
  .github/CODEOWNERS
Due: none

add import error
  python/ray/data/aggregate.py
  python/ray/data/tests/test_custom_agg.py
Due: docstyle, check-import-order

Apply suggestion from @gemini-code-assist[bot]
  ci/raydepsets/tests/test_workspace.py
Due: docstyle, check-import-order

format
  ci/raydepsets/workspace.py
Due: docstyle, check-import-order

cleanup
  python/ray/data/_internal/logging.py
Due: docstyle, check-import-order

Run the Data LLM tests only once
  doc/BUILD.bazel
Due: none

tests: add new test to BAZEL config
  python/ray/tests/BUILD.bazel
Due: none

best practice: name validation runs after train run + epoch
  doc/source/train/doc_code/checkpoints.py
Due: none

address comments
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/task_execution/task_receiver.cc
Due: check-cpp-files-inclusion

update requirements_compiled.txt
  python/requirements_compiled.txt
Due: none

Update src/ray/common/ray_config_def.h
  src/ray/common/ray_config_def.h
Due: check-cpp-files-inclusion

WIP
  python/ray/llm/_internal/serve/deployments/llm/llm_engine.py
  python/ray/llm/_internal/serve/deployments/llm/llm_server.py
  python/ray/llm/_internal/serve/deployments/llm/vllm/vllm_engine.py
  python/ray/llm/_internal/serve/deployments/routers/router.py
  python/ray/llm/tests/serve/cpu/deployments/llm/test_llm_server.py
  python/ray/llm/tests/serve/cpu/deployments/routers/test_router.py
  python/ray/llm/tests/serve/mocks/mock_vllm_engine.py
Due: docstyle, check-import-order
