Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

Angelina feedback
  doc/source/ray-overview/examples/e2e-audio/e2e_audio/curation.ipynb
Due: none

rewrite section on Anyscale shared storage
  doc/source/ray-overview/examples/e2e-xgboost/notebooks/01-Distributed_Training.ipynb
Due: none

docstring
  python/ray/llm/_internal/serve/configs/server_models.py
  python/ray/serve/llm/__init__.py
Due: docstyle, check-import-order

delete redundant section
  doc/source/ray-overview/examples/e2e-xgboost/notebooks/01-Distributed_Training.ipynb
Due: none

Additional logging for testing
  python/ray/llm/_internal/serve/deployments/llm/vllm/vllm_engine.py
  python/ray/serve/_private/replica.py
Due: docstyle, check-import-order

Update doc/source/ray-overview/examples/e2e-xgboost/notebooks/01-Distributed_Training.ipynb
  doc/source/ray-overview/examples/e2e-xgboost/notebooks/01-Distributed_Training.ipynb
Due: none

[core][telemetry/01] migrate python metric collection to opentelemetry
  python/ray/_private/ray_constants.py
  python/ray/_private/telemetry/open_telemetry_metric_recorder.py
  python/ray/dashboard/modules/reporter/reporter_agent.py
  python/ray/tests/BUILD
  python/ray/tests/test_open_telemetry_metric_recorder.py
  python/requirements_compiled.txt
  src/ray/common/ray_config_def.h
Due: docstyle, check-import-order, check-cpp-files-inclusion

[core] Deflake `test_reference_counting.py` (#53332)
  python/ray/tests/test_reference_counting.py
Due: docstyle, check-import-order

[core] Fix `test_actor_client_mode` (#53329)
  python/ray/tests/test_actor.py
  python/ray/tests/test_client_terminate.py
Due: docstyle, check-import-order

Wip
  python/ray/llm/_internal/serve/configs/server_models.py
  python/ray/llm/tests/serve/cpu/configs/test_server_models.py
Due: docstyle, check-import-order

fix
  src/ray/raylet/local_task_manager.cc
Due: check-cpp-files-inclusion

address comments
  python/ray/serve/_private/router.py
  python/ray/serve/tests/test_api.py
Due: docstyle, check-import-order

Prevent repetitive eviction loops, add on_request_scheduled to pow2
  python/ray/llm/_internal/serve/replica_scheduler/prefix_aware/prefix_tree.py
  python/ray/serve/_private/replica_scheduler/prefix_aware_scheduler.py
  python/ray/serve/_private/replica_scheduler/replica_scheduler.py
  python/ray/setup-dev.py
Due: docstyle, check-import-order

[rllib] removes tf2onnx from rllib dependencies
  python/requirements/ml/rllib-requirements.txt
  python/requirements_compiled.txt
Due: none

Change level
  python/ray/llm/_internal/serve/deployments/llm/vllm/vllm_engine.py
  python/ray/serve/_private/replica.py
Due: docstyle, check-import-order

add type annotation for probes/models.py
  release/llm_tests/serve/probes/models.py
Due: docstyle, check-import-order

fix test
  python/ray/serve/_private/router.py
Due: docstyle, check-import-order

fix test
  python/ray/tests/test_get_locations.py
Due: docstyle, check-import-order

added xml docs
  doc/source/data/api/input_output.rst
Due: none

Apply suggestions from code review
  python/ray/_private/gpu_object_manager.py
Due: docstyle, check-import-order

Handle dead Actor state in Actor Pool Map operator
  python/ray/data/_internal/execution/operators/actor_pool_map_operator.py
Due: docstyle, check-import-order

[chore] Exclude `syntax_error.py` from pydoclint (#53304)
  .pre-commit-config.yaml
  ci/lint/pydoclint-baseline.txt
Due: none

[core] Remove remaining accelerated_dag terminology usage (#53280)
  python/ray/tests/BUILD
  release/microbenchmark/experimental/compiled_graph_gpu_microbenchmark.py
  release/release_tests.yaml
Due: docstyle, check-import-order

Update src/ray/common/bundle_spec.cc
  src/ray/common/bundle_spec.cc
Due: check-cpp-files-inclusion

allow to inject the event from the test
  python/ray/serve/_private/router.py
  python/ray/serve/tests/unit/test_router.py
Due: docstyle, check-import-order

wip
  python/ray/llm/_internal/serve/configs/server_models.py
  python/ray/llm/tests/serve/cpu/configs/test_server_models.py
  python/ray/llm/tests/serve/cpu/deployments/llm/multiplex/test_multiplex_deployment.py
Due: docstyle, check-import-order

lint
  python/ray/util/collective/collective_group/torch_gloo_collective_group.py
Due: docstyle, check-import-order

test
  python/ray/tests/BUILD
Due: none

use Keyword Args
  python/ray/serve/llm/__init__.py
Due: docstyle, check-import-order

[core] Large objects release test (#51625)
  release/benchmarks/object_store/large_objects.yaml
  release/benchmarks/object_store/test_large_objects.py
  release/release_tests.yaml
Due: docstyle, check-import-order

[core] GRPCServer takes ownership of GRPCService (#53300)
  src/ray/common/ray_syncer/ray_syncer.cc
  src/ray/common/ray_syncer/ray_syncer.h
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker.h
  src/ray/gcs/gcs_server/gcs_server.cc
  src/ray/gcs/gcs_server/gcs_server.h
  src/ray/object_manager/object_manager.cc
  src/ray/object_manager/object_manager.h
  src/ray/raylet/node_manager.cc
  src/ray/raylet/node_manager.h
  src/ray/rpc/grpc_server.cc
  src/ray/rpc/grpc_server.h
  src/ray/rpc/test/grpc_bench/grpc_bench.cc
  src/ray/rpc/test/grpc_server_client_test.cc
Due: check-cpp-files-inclusion

Addresses review comments
  python/ray/data/_internal/execution/operators/actor_pool_map_operator.py
Due: docstyle, check-import-order

more tests
  python/ray/tests/test_experimental_collective.py
Due: docstyle, check-import-order

[Test][Core/Dashboard] Fix flaky test test_logging_in_module (#53294)
  python/ray/dashboard/subprocesses/tests/test_e2e.py
Due: docstyle, check-import-order

[core][telemetry/01] migrate python telemetry recorder to opentelemetry (#53098)
  python/ray/_private/metrics_agent.py
  python/ray/_private/ray_constants.py
  python/ray/_private/telemetry/__init__.py
  python/ray/_private/telemetry/open_telemetry_metric_recorder.py
  python/ray/dashboard/modules/reporter/reporter_agent.py
  python/ray/dashboard/optional_deps.py
  python/ray/tests/BUILD
  python/ray/tests/test_open_telemetry_metric_recorder.py
  python/requirements.txt
  python/requirements_compiled.txt
  python/requirements_compiled_ray_py311_cpu.txt
  python/requirements_compiled_ray_py311_cu121.txt
  python/requirements_compiled_ray_py311_cu124.txt
  python/requirements_compiled_ray_test_py311_cpu.txt
  python/requirements_compiled_ray_test_py311_cu121.txt
  python/requirements_compiled_ray_test_py311_cu124.txt
  python/requirements_compiled_rayllm_py311_cpu.txt
  python/requirements_compiled_rayllm_py311_cu121.txt
  python/requirements_compiled_rayllm_py311_cu124.txt
  python/requirements_compiled_rayllm_test_py311_cpu.txt
  python/requirements_compiled_rayllm_test_py311_cu121.txt
  python/requirements_compiled_rayllm_test_py311_cu124.txt
  python/setup.py
  src/ray/common/ray_config_def.h
Due: docstyle, check-import-order, check-cpp-files-inclusion

not optional annot.
  python/ray/llm/_internal/serve/configs/server_models.py
  python/ray/serve/llm/__init__.py
Due: docstyle, check-import-order

Addressed review comments
  python/ray/data/_internal/execution/operators/actor_pool_map_operator.py
Due: docstyle, check-import-order

fix lints
  .pre-commit-config.yaml
  ci/lint/pydoclint-baseline.txt
  python/ray/llm/_internal/serve/configs/server_models.py
  python/ray/serve/llm/__init__.py
Due: docstyle, check-import-order

fix for filter, project, and fused op
  python/ray/data/_internal/execution/operators/actor_pool_map_operator.py
  python/ray/data/_internal/execution/operators/map_operator.py
  python/ray/data/_internal/execution/operators/map_transformer.py
  python/ray/data/_internal/logical/rules/operator_fusion.py
  python/ray/data/_internal/planner/plan_udf_map_op.py
Due: docstyle, check-import-order

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)
