Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

check-train-circular-imports:
  name: Check Ray Train circular imports
  entry: python python/ray/train/lint/check_circular_imports.py
  language: system
  pass_filenames: false
  args:
  - --patch_dir
  - ray/train/v2

[core][sandbox] Add a test.rules.txt rule for the sandbox CDI/GPU files
  .buildkite/test.rules.test.txt
  .buildkite/test.rules.txt
Due: none

[core][sandbox] Don't cache CDI spec generation in cdi_lib
  python/ray/_private/accelerators/nvidia_gpu.py
  python/ray/experimental/sandbox/_internal/cdi.py
  python/ray/experimental/sandbox/_internal/cdi_lib.py
  python/ray/experimental/sandbox/tests/test_cdi.py
  python/ray/experimental/sandbox/tests/test_cdi_lib.py
  python/ray/tests/accelerators/test_nvidia_gpu.py
Due: docstyle, check-import-order

[core][sandbox] Install nvidia-ctk at test time instead of in the CI build image
  ci/docker/core.build.Dockerfile
  python/ray/experimental/sandbox/tests/conftest.py
  python/ray/experimental/sandbox/tests/test_gvisor_gpu.py
  python/ray/experimental/sandbox/tests/test_gvisor_multi_gpu.py
Due: docstyle, check-import-order

[core][sandbox] Bump nvidia-ctk CDI generation timeout to 60s
  python/ray/_private/accelerators/nvidia_gpu.py
Due: docstyle, check-import-order

[core][sandbox] Simplify cdi_lib's module docstring
  python/ray/experimental/sandbox/_internal/cdi_lib.py
Due: docstyle, check-import-order

[core][sandbox] Fix monkeypatch recursion risk in CDI stat test
  python/ray/experimental/sandbox/tests/test_cdi_lib.py
Due: docstyle, check-import-order

[core][sandbox] Disable sandbox GPU CI jobs pending a runner driver bump
  .buildkite/core.rayci.yml
Due: none

[core][sandbox] Gate the nvidia-ctk install on BUILD_VARIANT=gpubuild
  ci/docker/core.build.Dockerfile
Due: none

[core][sandbox] Bump GPU sandbox test targets to size=large
  python/ray/experimental/sandbox/BUILD.bazel
Due: none

[Core][runtime_env] Allow verified CN-only HTTPS certificates
  doc/source/ray-core/handling-dependencies.rst
  python/ray/_private/runtime_env/protocol.py
  python/ray/tests/unit/test_runtime_env_http_kerberos.py
Due: docstyle, check-import-order

[serve][docs] Clarify rolling behavior for code updates
  doc/source/serve/advanced-guides/inplace-updates.md
Due: none

[Fix] address review comment
  python/ray/data/_internal/execution/operators/shuffle_operators/sort_sampling_operator.py
  python/ray/data/_internal/planner/plan_all_to_all_op.py
  python/ray/data/tests/test_sort_shuffle_v2.py
Due: docstyle, check-import-order

[serve] Keep a gang reservation when its PG removal fails
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/tests/unit/test_deployment_state.py
Due: docstyle, check-import-order

[core][sandbox] Move GPU CDI handling out of create_oci_spec
  python/ray/experimental/sandbox/image_manager.py
  python/ray/experimental/sandbox/tests/test_image_manager.py
Due: docstyle, check-import-order

[core][sandbox] Privatize GPU CDI mount directories to fix a boot race
  python/ray/experimental/sandbox/_internal/cdi_lib.py
  python/ray/experimental/sandbox/image_manager.py
  python/ray/experimental/sandbox/tests/test_image_manager.py
Due: docstyle, check-import-order

[rllib] Drop the rllib- filename prefix from the RLlib doc pages (#66060)
  doc/redirects/current.yaml
  doc/source/ray-overview/use-cases.md
  doc/source/rllib/advanced-api.rst
  doc/source/rllib/algorithms.rst
  doc/source/rllib/callback.rst
  doc/source/rllib/dev.rst
  doc/source/rllib/env.rst
  doc/source/rllib/examples.rst
  doc/source/rllib/fault-tolerance.rst
  doc/source/rllib/index.rst
  doc/source/rllib/learner.rst
  doc/source/rllib/offline.rst
  doc/source/rllib/replay-buffers.rst
  doc/source/rllib/rl-modules.rst
  doc/source/rllib/user-guides.rst
Due: none

[rllib] Convert the RLlib doc pages from reStructuredText to MyST Markdown
  doc/source/rllib/advanced-api.md
  doc/source/rllib/advanced-api.rst
  doc/source/rllib/algorithms.md
  doc/source/rllib/algorithms.rst
  doc/source/rllib/callback.md
  doc/source/rllib/callback.rst
  doc/source/rllib/dev.md
  doc/source/rllib/dev.rst
  doc/source/rllib/env.md
  doc/source/rllib/env.rst
  doc/source/rllib/examples.md
  doc/source/rllib/examples.rst
  doc/source/rllib/fault-tolerance.md
  doc/source/rllib/fault-tolerance.rst
  doc/source/rllib/learner.md
  doc/source/rllib/learner.rst
  doc/source/rllib/offline.md
  doc/source/rllib/offline.rst
  doc/source/rllib/replay-buffers.md
  doc/source/rllib/replay-buffers.rst
Due: none

[rllib] Fix a scheme-less bare-domain link in the multi-agent envs page
  doc/source/rllib/multi-agent-envs.md
Due: none

[rllib] Remove leaked generation-tool tags from converted guide pages
  doc/source/rllib/env-to-module-connector.md
  doc/source/rllib/hierarchical-envs.md
  doc/source/rllib/key-concepts.md
  doc/source/rllib/multi-agent-envs.md
  doc/source/rllib/new-api-stack-migration-guide.md
  doc/source/rllib/scaling-guide.md
  doc/source/rllib/user-guides.md
Due: none

[rllib] Convert the remaining RLlib guide pages from reStructuredText to MyST Markdown
  doc/source/rllib/algorithm-config.md
  doc/source/rllib/algorithm-config.rst
  doc/source/rllib/checkpoints.md
  doc/source/rllib/checkpoints.rst
  doc/source/rllib/connector-v2.md
  doc/source/rllib/connector-v2.rst
  doc/source/rllib/env-to-module-connector.md
  doc/source/rllib/env-to-module-connector.rst
  doc/source/rllib/external-envs.md
  doc/source/rllib/external-envs.rst
  doc/source/rllib/hierarchical-envs.md
  doc/source/rllib/hierarchical-envs.rst
  doc/source/rllib/key-concepts.md
  doc/source/rllib/key-concepts.rst
  doc/source/rllib/learner-connector.md
  doc/source/rllib/learner-connector.rst
  doc/source/rllib/metrics-logger.md
  doc/source/rllib/metrics-logger.rst
  doc/source/rllib/multi-agent-envs.md
  doc/source/rllib/multi-agent-envs.rst
  doc/source/rllib/new-api-stack-migration-guide.md
  doc/source/rllib/new-api-stack-migration-guide.rst
  doc/source/rllib/scaling-guide.md
  doc/source/rllib/scaling-guide.rst
  doc/source/rllib/single-agent-episode.md
  doc/source/rllib/single-agent-episode.rst
  doc/source/rllib/user-guides.md
  doc/source/rllib/user-guides.rst
Due: none

[rllib] Convert the RLlib index and RL Modules pages to MyST Markdown (#66216)
  doc/source/ray-overview/getting-started.md
  doc/source/rllib/index.md
  doc/source/rllib/index.rst
  doc/source/rllib/rl-modules.md
  doc/source/rllib/rl-modules.rst
  rllib/README.md
  rllib/README.rst
Due: none

[doc] rst-to-myst skill: make scheme-less link detector match per-link
  doc/.claude/skills/rst-to-myst/SKILL.md
Due: none

Update implementation
  python/ray/train/v2/_internal/callbacks/nccl_ras.py
Due: docstyle, check-import-order, check-train-circular-imports

[doc] rst-to-myst skill: fix include mapping, document substitution and raw-HTML-image traps (#66064)
  doc/.claude/skills/rst-to-myst/SKILL.md
Due: none

[rllib] Soft-wrap the converted RLlib guide pages
  doc/source/rllib/algorithm-config.md
  doc/source/rllib/checkpoints.md
  doc/source/rllib/connector-v2.md
  doc/source/rllib/env-to-module-connector.md
  doc/source/rllib/external-envs.md
  doc/source/rllib/hierarchical-envs.md
  doc/source/rllib/key-concepts.md
  doc/source/rllib/learner-connector.md
  doc/source/rllib/metrics-logger.md
  doc/source/rllib/multi-agent-envs.md
  doc/source/rllib/new-api-stack-migration-guide.md
  doc/source/rllib/scaling-guide.md
  doc/source/rllib/single-agent-episode.md
Due: none

[rllib] Soft-wrap the converted RLlib doc pages
  doc/source/rllib/advanced-api.md
  doc/source/rllib/algorithms.md
  doc/source/rllib/callback.md
  doc/source/rllib/dev.md
  doc/source/rllib/env.md
  doc/source/rllib/examples.md
  doc/source/rllib/fault-tolerance.md
  doc/source/rllib/learner.md
  doc/source/rllib/offline.md
  doc/source/rllib/replay-buffers.md
Due: none

[rllib] Soft-wrap the converted RLlib index and RL Modules pages
  doc/source/rllib/index.md
  doc/source/rllib/rl-modules.md
Due: none

[Data] Remove cross-AZ release tests
  release/nightly_tests/dataset/cross_az_250_350_compute_aws.yaml
  release/nightly_tests/dataset/cross_az_250_350_compute_gce.yaml
  release/release_data_tests.yaml
Due: none

[rllib] Soft-wrap all converted RLlib doc pages (#66214)
  doc/source/rllib/advanced-api.md
  doc/source/rllib/algorithm-config.md
  doc/source/rllib/algorithms.md
  doc/source/rllib/callback.md
  doc/source/rllib/checkpoints.md
  doc/source/rllib/connector-v2.md
  doc/source/rllib/dev.md
  doc/source/rllib/env-to-module-connector.md
  doc/source/rllib/env.md
  doc/source/rllib/examples.md
  doc/source/rllib/external-envs.md
  doc/source/rllib/fault-tolerance.md
  doc/source/rllib/hierarchical-envs.md
  doc/source/rllib/index.md
  doc/source/rllib/key-concepts.md
  doc/source/rllib/learner-connector.md
  doc/source/rllib/learner.md
  doc/source/rllib/metrics-logger.md
  doc/source/rllib/multi-agent-envs.md
  doc/source/rllib/new-api-stack-migration-guide.md
  doc/source/rllib/offline.md
  doc/source/rllib/replay-buffers.md
  doc/source/rllib/rl-modules.md
  doc/source/rllib/scaling-guide.md
  doc/source/rllib/single-agent-episode.md
Due: none

[doc] Seed a shared Ray Vale style package and RLlib terminology rules
  .vale/styles/RLlib/Terms.yml
  .vale/styles/Ray/Filler.yml
  .vale/styles/Ray/PermitVerbs.yml
  .vale/styles/Ray/Terms.yml
  .vale/styles/Ray/TimeRelative.yml
Due: none

[doc] Narrow the "refer to" Vale swap to "please refer to"
  .vale/styles/Ray/Terms.yml
Due: none

[doc] Inflect the utilize/leverage Vale swaps to match verb tense
  .vale/styles/Ray/Terms.yml
Due: none

[doc] Register the RLlib and shared Ray Vale styles for RLlib pages, warn-first
  .vale.ini
Due: none

code review + update tests
  python/ray/train/v2/_internal/callbacks/nccl_ras.py
  python/ray/train/v2/tests/test_nccl_ras_callback.py
Due: docstyle, check-import-order, check-train-circular-imports

[serve] Retry a failed gang PG reclaim once the deployment goes quiet
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/tests/unit/test_deployment_state.py
Due: docstyle, check-import-order

[Data] Remove cross-AZ release tests (#66282)
  release/nightly_tests/dataset/cross_az_250_350_compute_aws.yaml
  release/nightly_tests/dataset/cross_az_250_350_compute_gce.yaml
  release/release_data_tests.yaml
Due: none

[doc] Seed RLlib and shared Ray Vale style rules (warn-first, not yet enforced) (#66236)
  .vale.ini
  .vale/styles/RLlib/Terms.yml
  .vale/styles/Ray/Filler.yml
  .vale/styles/Ray/PermitVerbs.yml
  .vale/styles/Ray/Terms.yml
  .vale/styles/Ray/TimeRelative.yml
Due: none

[doc] Make the /data/dataset.html redirect version-relative
  doc/redirects/current.yaml
Due: none

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
