Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)

Getting absolute path.
  setup_hooks.sh
Due: none

Remove try-except block for unowned blocks since it's misleading
  python/ray/data/_internal/execution/block_ref_counter.py
  python/ray/data/tests/test_block_ref_counter.py
Due: docstyle, check-import-order

[docs] Update moved intersphinx inventory URLs for pydantic and torchvision
  doc/source/conf.py
Due: none

[Data] remove shuffle streaming reduce (#64481)
  python/ray/data/_internal/execution/operators/shuffle_operators/shuffle_reduce_operator.py
  python/ray/data/_internal/execution/operators/shuffle_operators/shuffle_tasks.py
  python/ray/data/_internal/logical/rules/operator_fusion.py
  python/ray/data/_internal/planner/plan_all_to_all_op.py
Due: docstyle, check-import-order

[serve] deflake test grpc for haproxy (#64471)
  python/ray/serve/_private/haproxy.py
  python/ray/serve/tests/test_haproxy_api.py
Due: docstyle, check-import-order

[docs] Document non-obvious conf.py build settings
  doc/source/conf.py
Due: none

Rename reports_custom_op_stats to should_report_custom_op_stats
  python/ray/data/_internal/execution/operators/map_transformer.py
  python/ray/data/tests/test_stats.py
Due: docstyle, check-import-order

[ci/doc] Guard against annotated subpackages that escape the API walk
  ci/ray_ci/doc/cmd_check_api_discrepancy.py
  ci/ray_ci/doc/module.py
  ci/ray_ci/doc/test_cmd_check_api_discrepancy.py
Due: docstyle, check-import-order

[Data] Make shuffle reduce op multi input
  python/ray/data/_internal/execution/operators/hash_shuffle_v2.py
  python/ray/data/_internal/execution/operators/shuffle_operators/shuffle_reduce_operator.py
  python/ray/data/_internal/execution/operators/shuffle_operators/shuffle_tasks.py
  python/ray/data/tests/test_hash_shuffle_v2.py
Due: docstyle, check-import-order

[serve] Add streaming support to grpc direct ingress (#64310)
  python/ray/serve/_private/direct_ingress_grpc_util.py
  python/ray/serve/_private/replica.py
  python/ray/serve/tests/test_grpc.py
Due: docstyle, check-import-order

[Docs] Style and grammar pass on ray-contribute developer guides (#64280)
  doc/source/ray-contribute/agent-development.md
  doc/source/ray-contribute/api-policy.md
  doc/source/ray-contribute/ci.md
  doc/source/ray-contribute/debugging.md
  doc/source/ray-contribute/development.md
  doc/source/ray-contribute/docs.md
  doc/source/ray-contribute/fake-autoscaler.md
  doc/source/ray-contribute/getting-involved.md
  doc/source/ray-contribute/index.md
  doc/source/ray-contribute/involvement.md
  doc/source/ray-contribute/profiling.md
  doc/source/ray-contribute/stability.md
  doc/source/ray-contribute/testing-tips.md
  doc/source/ray-contribute/whitepaper.md
  doc/source/ray-contribute/writing-code-snippets.md
Due: none

[docs] Document API-ref build behavior for code contributors
  doc/source/ray-contribute/api-policy.md
  doc/source/ray-contribute/docs.md
Due: none

move to utils
  python/ray/serve/_private/application_state.py
  python/ray/serve/_private/client.py
  python/ray/serve/_private/replica.py
  python/ray/serve/_private/utils.py
  python/ray/serve/api.py
  python/ray/serve/multiplex.py
  python/ray/serve/tests/unit/test_build_app.py
Due: docstyle, check-import-order

[Core] Optionally drain node on SIGTERM before shutting down `ray start --block`
  python/ray/_private/node.py
  python/ray/_private/ray_constants.py
  python/ray/tests/test_draining.py
  python/ray/tests/test_multi_node_3.py
Due: docstyle, check-import-order

[Data] Add SchedulingHints sibling field on BlockEntry / wire envelope
  python/ray/data/_internal/execution/interfaces/physical_operator.py
  python/ray/data/_internal/execution/interfaces/ref_bundle.py
  python/ray/data/_internal/execution/interfaces/task_context.py
  python/ray/data/_internal/execution/operators/map_operator.py
  python/ray/data/_internal/scheduling_hints.py
  python/ray/data/block.py
  python/ray/data/tests/test_ref_bundle.py
  python/ray/data/tests/test_scheduling_hints.py
Due: docstyle, check-import-order

[Docs] Add a documentation style and grammar guide for contributors and agents
  doc/.claude/rules/prose-style.md
  doc/.cursor/rules/ray-docs-style.mdc
  doc/source/ray-contribute/docs.md
  doc/source/ray-contribute/getting-involved.md
  doc/source/ray-contribute/writing-style.md
Due: none

Update doc/source/ray-contribute/docs.md
  doc/source/ray-contribute/docs.md
Due: none

Add todo comment to remind edge case
  python/ray/data/_internal/execution/block_ref_counter.py
Due: docstyle, check-import-order

write support
  python/ray/data/__init__.py
  python/ray/data/catalog.py
  python/ray/data/dataset.py
  python/ray/data/tests/test_catalog.py
Due: docstyle, check-import-order

guard try_create_dir
  python/ray/data/dataset.py
  python/ray/data/tests/test_catalog.py
Due: docstyle, check-import-order

refine comment
  python/ray/data/dataset.py
Due: docstyle, check-import-order

Update python/ray/data/catalog.py
  python/ray/data/catalog.py
Due: docstyle, check-import-order

partial reflect gemini
  python/ray/data/catalog.py
Due: docstyle, check-import-order

Track blocks for shuffle reduce
  python/ray/data/_internal/execution/operators/shuffle_operators/shuffle_reduce_operator.py
Due: docstyle, check-import-order

Address comments + Make BlockRefCounter mandatory in call chains
  python/ray/data/_internal/execution/interfaces/physical_operator.py
  python/ray/data/_internal/execution/operators/actor_pool_map_operator.py
  python/ray/data/_internal/execution/operators/base_physical_operator.py
  python/ray/data/_internal/execution/operators/hash_shuffle.py
  python/ray/data/_internal/execution/operators/input_data_buffer.py
  python/ray/data/_internal/execution/operators/map_operator.py
  python/ray/data/_internal/execution/operators/output_splitter.py
  python/ray/data/_internal/execution/operators/shuffle_operators/shuffle_reduce_operator.py
  python/ray/data/_internal/execution/operators/union_operator.py
  python/ray/data/_internal/execution/resource_manager.py
  python/ray/data/_internal/execution/streaming_executor.py
  python/ray/data/_internal/gpu_shuffle/hash_shuffle.py
  python/ray/data/tests/test_actor_pool_map_operator.py
  python/ray/data/tests/test_executor_resource_management.py
  python/ray/data/tests/test_map_operator.py
  python/ray/data/tests/test_operators.py
  python/ray/data/tests/test_output_splitter.py
  python/ray/data/tests/test_reservation_based_resource_allocator.py
  python/ray/data/tests/test_resource_manager.py
  python/ray/data/tests/test_streaming_executor.py
  python/ray/data/tests/unit/test_resource_manager.py
Due: docstyle, check-import-order

Wire blockRefCounter through operators
  python/ray/data/_internal/execution/interfaces/physical_operator.py
  python/ray/data/_internal/execution/operators/actor_pool_map_operator.py
  python/ray/data/_internal/execution/operators/base_physical_operator.py
  python/ray/data/_internal/execution/operators/hash_shuffle.py
  python/ray/data/_internal/execution/operators/input_data_buffer.py
  python/ray/data/_internal/execution/operators/map_operator.py
  python/ray/data/_internal/execution/operators/output_splitter.py
  python/ray/data/_internal/execution/operators/union_operator.py
  python/ray/data/_internal/execution/resource_manager.py
  python/ray/data/_internal/execution/streaming_executor.py
  python/ray/data/_internal/execution/streaming_executor_state.py
  python/ray/data/tests/test_operators.py
  python/ray/data/tests/test_streaming_executor.py
Due: docstyle, check-import-order

simplify shuffle reduce memory tracking logic
  python/ray/data/_internal/execution/operators/shuffle_operators/shuffle_reduce_operator.py
Due: docstyle, check-import-order

Add argument for blockRefCounter
  python/ray/data/tests/test_reservation_based_resource_allocator.py
  python/ray/data/tests/test_resource_manager.py
  python/ray/data/tests/unit/test_resource_manager.py
Due: docstyle, check-import-order

Add missing type notations + missing hash shuffle change
  python/ray/data/_internal/execution/interfaces/physical_operator.py
  python/ray/data/_internal/execution/operators/actor_pool_map_operator.py
  python/ray/data/_internal/execution/operators/base_physical_operator.py
  python/ray/data/_internal/execution/operators/hash_shuffle.py
  python/ray/data/_internal/execution/operators/input_data_buffer.py
  python/ray/data/_internal/execution/operators/map_operator.py
  python/ray/data/_internal/execution/operators/output_splitter.py
  python/ray/data/_internal/execution/operators/union_operator.py
  python/ray/data/_internal/gpu_shuffle/hash_shuffle.py
Due: docstyle, check-import-order

Address missed start calls
  python/ray/data/tests/test_gpu_shuffle.py
  python/ray/data/tests/test_limit_operator.py
Due: docstyle, check-import-order

Add block_ref_counter argument to build_streaming_topology
  python/ray/data/_internal/execution/interfaces/physical_operator.py
  python/ray/data/_internal/execution/streaming_executor.py
  python/ray/data/_internal/execution/streaming_executor_state.py
  python/ray/data/tests/conftest.py
  python/ray/data/tests/test_actor_pool_map_operator.py
  python/ray/data/tests/test_reservation_based_resource_allocator.py
  python/ray/data/tests/test_resource_manager.py
  python/ray/data/tests/test_streaming_executor.py
  python/ray/data/tests/unit/test_resource_manager.py
Due: docstyle, check-import-order

Remove duplicate start call mock_all_to_all_op
  python/ray/data/tests/test_resource_manager.py
Due: docstyle, check-import-order

Track blocks for limit, zip, and output splitter
  python/ray/data/_internal/execution/operators/limit_operator.py
  python/ray/data/_internal/execution/operators/output_splitter.py
  python/ray/data/_internal/execution/operators/zip_operator.py
Due: docstyle, check-import-order

Track blocks for aggregate num rows
  python/ray/data/_internal/execution/operators/aggregate_num_rows.py
Due: docstyle, check-import-order

Fix pyrefly
  python/ray/data/_internal/execution/operators/shuffle_operators/shuffle_reduce_operator.py
Due: docstyle, check-import-order

Premerge fixes
  python/ray/data/tests/test_gpu_shuffle.py
  python/ray/data/tests/test_reservation_based_resource_allocator.py
  python/ray/data/tests/test_resource_manager.py
Due: docstyle, check-import-order

Call on_block_produced for OutputSplitter when blocks are actually produced
  python/ray/data/_internal/execution/operators/output_splitter.py
Due: docstyle, check-import-order

Use noop_counter for tests unrelated to osm accounting
  python/ray/data/tests/test_actor_pool_map_operator.py
  python/ray/data/tests/test_executor_resource_management.py
  python/ray/data/tests/test_map_operator.py
  python/ray/data/tests/test_operators.py
  python/ray/data/tests/test_output_splitter.py
Due: docstyle, check-import-order

Address start argument changes
  python/ray/data/tests/conftest.py
  python/ray/data/tests/test_resource_manager.py
Due: docstyle, check-import-order

[core] Bump GCS io_context health check deadline to 30s and exclude ray_syncer_io_context
  src/ray/common/ray_config_def.h
  src/ray/gcs/gcs_server_io_context_policy.h
Due: check-cpp-files-inclusion
