Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)

[core][gpu objects] Rename GPU objects -> RDT objects in user-facing exceptions (#56396)
  python/ray/_private/serialization.py
  python/ray/experimental/collective/collective_tensor_transport.py
  python/ray/experimental/collective/nixl_tensor_transport.py
  python/ray/experimental/gpu_object_manager/gpu_object_store.py
  python/ray/tests/gpu_objects/test_gpu_objects_gloo.py
Due: docstyle, check-import-order

[DOC] Fix documentation issues in ray-observability directory (#56069)
  doc/source/ray-observability/getting-started.rst
  doc/source/ray-observability/images/post-mortem.gif
  doc/source/ray-observability/key-concepts.rst
  doc/source/ray-observability/ray-distributed-debugger.rst
  doc/source/ray-observability/reference/system-metrics.rst
  doc/source/ray-observability/user-guides/cli-sdk.rst
  doc/source/ray-observability/user-guides/configure-logging.md
  doc/source/ray-observability/user-guides/debug-apps/debug-failures.rst
  doc/source/ray-observability/user-guides/profiling.md
Due: none

[release-test][data][train] Preload a subset of modules for torch dataloader forkserver multiprocessing (#56343)
  release/train_tests/benchmark/torch_dataloader_factory.py
Due: docstyle, check-import-order

[Data] Add hash and `to_resource_dict` to `ExecutionResources` (#56383)
  python/ray/data/_internal/execution/interfaces/execution_options.py
  python/ray/data/tests/test_executor_resource_management.py
Due: docstyle, check-import-order

[core] Clean up `actor_creator` targets (#56336)
  src/mock/ray/core_worker/actor_creator.h
  src/ray/core_worker/BUILD.bazel
  src/ray/core_worker/actor_creator.cc
  src/ray/core_worker/actor_creator.h
  src/ray/core_worker/core_worker_process.cc
  src/ray/core_worker/fake_actor_creator.h
  src/ray/core_worker/task_submission/tests/BUILD.bazel
  src/ray/core_worker/task_submission/tests/actor_task_submitter_test.cc
  src/ray/core_worker/task_submission/tests/dependency_resolver_test.cc
  src/ray/core_worker/task_submission/tests/direct_actor_transport_test.cc
  src/ray/core_worker/task_submission/tests/normal_task_submitter_test.cc
  src/ray/core_worker/tests/actor_creator_test.cc
  src/ray/core_worker/tests/core_worker_test.cc
Due: check-cpp-files-inclusion

[wheel] remove nvm from manylinux build (#56376)
  ci/build/build-manylinux-forge.sh
  ci/build/build-manylinux-ray.sh
  ci/ci.sh
  python/build-wheel-manylinux2014.sh
Due: none

increase timeout for failed task test (#56328)
  python/ray/serve/tests/test_task_processor.py
Due: docstyle, check-import-order

[RLlib][release test] Upgrade g3 to g4 machine for aws release test (#56248)
  release/rllib_tests/2gpus_32cpus.yaml
  release/rllib_tests/2gpus_64cpus.yaml
Due: none

[core] Introduce env var to set rpc failure prob for all rpc's (#56413)
  src/ray/common/ray_config_def.h
  src/ray/rpc/rpc_chaos.cc
  src/ray/rpc/rpc_chaos.h
  src/ray/rpc/tests/rpc_chaos_test.cc
Due: check-cpp-files-inclusion

[ci] raydepsets check lock files (#55856)
  ci/raydepsets/cli.py
  ci/raydepsets/tests/test_cli.py
Due: docstyle, check-import-order

[core] (cgroups 5/n) Adding clean up methods to CgroupDriverInterface and SysFsCgroupDriver (#56255)
  src/ray/common/cgroup2/cgroup_driver_interface.h
  src/ray/common/cgroup2/cgroup_test_utils.cc
  src/ray/common/cgroup2/fake_cgroup_driver.h
  src/ray/common/cgroup2/integration_tests/sysfs_cgroup_driver_integration_test.cc
  src/ray/common/cgroup2/sysfs_cgroup_driver.cc
  src/ray/common/cgroup2/sysfs_cgroup_driver.h
  src/ray/common/cgroup2/tests/sysfs_cgroup_driver_test.cc
Due: check-cpp-files-inclusion

[core] initialize opentelemetry.metrics once (#56347)
  python/ray/_private/telemetry/open_telemetry_metric_recorder.py
Due: docstyle, check-import-order

[Core] Add S3 public bucket fallback to handle NoCredentialsError (#56334)
  python/ray/_private/runtime_env/protocol.py
  python/ray/tests/test_runtime_env_packaging.py
Due: docstyle, check-import-order

Make `ray-llm` code owner for `ray.data.llm` (#56420)
  .github/CODEOWNERS
Due: none

[Data] Remove deprecated `Dataset.to_torch` (#56333)
  doc/source/data/api/dataset.rst
  python/ray/data/dataset.py
  python/ray/data/tests/test_object_gc.py
  python/ray/data/tests/test_raydp.py
  python/ray/data/tests/test_torch.py
Due: docstyle, check-import-order

[docs] [serve] [llm] Fix serve llm examples (#56382)
  doc/source/serve/examples.yml
  doc/source/serve/tutorials/deployment-serve-llm/README.ipynb
  doc/source/serve/tutorials/deployment-serve-llm/README.md
  doc/source/serve/tutorials/deployment-serve-llm/hybrid-reasoning-llm/README.md
  doc/source/serve/tutorials/deployment-serve-llm/hybrid-reasoning-llm/client_streaming.py
  doc/source/serve/tutorials/deployment-serve-llm/hybrid-reasoning-llm/client_thinking_disabled.py
  doc/source/serve/tutorials/deployment-serve-llm/hybrid-reasoning-llm/client_thinking_enabled.py
  doc/source/serve/tutorials/deployment-serve-llm/hybrid-reasoning-llm/notebook.ipynb
  doc/source/serve/tutorials/deployment-serve-llm/large-size-llm/README.md
  doc/source/serve/tutorials/deployment-serve-llm/large-size-llm/client.py
  doc/source/serve/tutorials/deployment-serve-llm/large-size-llm/notebook.ipynb
  doc/source/serve/tutorials/deployment-serve-llm/medium-size-llm/README.md
  doc/source/serve/tutorials/deployment-serve-llm/medium-size-llm/client.py
  doc/source/serve/tutorials/deployment-serve-llm/medium-size-llm/notebook.ipynb
  doc/source/serve/tutorials/deployment-serve-llm/reasoning-llm/README.md
  doc/source/serve/tutorials/deployment-serve-llm/reasoning-llm/client.py
  doc/source/serve/tutorials/deployment-serve-llm/reasoning-llm/client_streaming.py
  doc/source/serve/tutorials/deployment-serve-llm/reasoning-llm/notebook.ipynb
  doc/source/serve/tutorials/deployment-serve-llm/small-size-llm/README.md
  doc/source/serve/tutorials/deployment-serve-llm/small-size-llm/client.py
  doc/source/serve/tutorials/deployment-serve-llm/small-size-llm/notebook.ipynb
  doc/source/serve/tutorials/deployment-serve-llm/vision-llm/README.md
  doc/source/serve/tutorials/deployment-serve-llm/vision-llm/client_local_image.py
  doc/source/serve/tutorials/deployment-serve-llm/vision-llm/client_url_image.py
  doc/source/serve/tutorials/deployment-serve-llm/vision-llm/notebook.ipynb
Due: none

[core] Fix batching logic in `CoreWorkerPlasmaStoreProvider::Get` (#56041)
  src/fakes/ray/object_manager/plasma/BUILD.bazel
  src/fakes/ray/object_manager/plasma/fake_plasma_client.h
  src/mock/ray/object_manager/plasma/client.h
  src/ray/core_worker/core_worker_process.cc
  src/ray/core_worker/store_provider/plasma_store_provider.cc
  src/ray/core_worker/store_provider/plasma_store_provider.h
  src/ray/core_worker/tests/BUILD.bazel
  src/ray/core_worker/tests/core_worker_test.cc
  src/ray/object_manager/plasma/BUILD.bazel
  src/ray/object_manager/plasma/client.h
  src/ray/raylet/tests/node_manager_test.cc
Due: check-cpp-files-inclusion

[serve] Explicitly close `choose_replicas_with_backoff` async generator (#56357)
  python/ray/serve/_private/request_router/request_router.py
Due: docstyle, check-import-order

[Data] Add `average_num_inputs_per_task` and `num_output_blocks_per_task_s` metrics (#56379)
  python/ray/data/_internal/execution/interfaces/op_runtime_metrics.py
  python/ray/data/tests/test_stats.py
Due: docstyle, check-import-order

[Core] Rewrite JobManager _monitor_job_internal to fix hanging issue and wrong job failure reason issue (#56296)
  python/ray/dashboard/modules/job/common.py
  python/ray/dashboard/modules/job/job_manager.py
  python/ray/dashboard/modules/job/tests/test_job_manager.py
Due: docstyle, check-import-order

Revert "[core] Correct bytes in flight when objects <5mb (#54349)" (#56387)
  src/ray/common/ray_config_def.h
  src/ray/object_manager/chunk_object_reader.h
  src/ray/object_manager/object_manager.cc
  src/ray/object_manager/object_manager.h
  src/ray/object_manager/push_manager.cc
  src/ray/object_manager/push_manager.h
  src/ray/object_manager/tests/push_manager_test.cc
  src/ray/raylet/main.cc
Due: check-cpp-files-inclusion

[core][rdt] Fix check crash on gpu obj free if driver knows actor is dead (#56404)
  src/ray/core_worker/core_worker_process.cc
  src/ray/core_worker/task_manager.cc
  src/ray/core_worker/task_manager.h
Due: check-cpp-files-inclusion

[core] [actor-event-01] Actor event: add proto schema (#56221)
  python/ray/dashboard/modules/aggregator/aggregator_agent.py
  src/ray/protobuf/public/BUILD.bazel
  src/ray/protobuf/public/events_actor_definition_event.proto
  src/ray/protobuf/public/events_actor_lifecycle_event.proto
  src/ray/protobuf/public/events_base_event.proto
Due: docstyle, check-import-order

[dashboard] fix grafana dashboard generation bug (#56346)
  python/ray/dashboard/modules/metrics/grafana_dashboard_factory.py
Due: docstyle, check-import-order

[DOC] Fix documentation issues in _includes and _templates directories (#56272)
  doc/source/_includes/_help.rst
  doc/source/_templates/csat.html
  doc/source/_templates/template.ipynb
  doc/source/_templates/template.md
Due: none

[data] fix metrics query for iteration + scheduling loop (#56390)
  python/ray/dashboard/modules/metrics/dashboards/data_dashboard_panels.py
Due: docstyle, check-import-order

[Data] Refactor `from_torch` unit tests (#56331)
  python/ray/data/tests/test_formats.py
  python/ray/data/tests/test_torch.py
Due: docstyle, check-import-order

[Data] Remove redundant check for initial size of actor pool (#56440)
  python/ray/data/_internal/compute.py
Due: docstyle, check-import-order

[RLlib] Fix Metrics/Stats lifetime count and throughput measurement for async remote actors. (#56047)
  rllib/utils/metrics/stats.py
  rllib/utils/metrics/tests/test_stats.py
Due: docstyle, check-import-order

WIP edits
  doc/source/ray-core/scheduling/index.rst
  doc/source/ray-core/scheduling/labels.md
  doc/source/ray-core/scheduling/resources.rst
Due: none

[core][rdt] Wait on nccl id with event (#56322)
  python/ray/util/collective/collective_group/nccl_collective_group.py
  python/ray/util/collective/util.py
Due: docstyle, check-import-order

use default gc frequency for proxy (#56511)
  python/ray/serve/_private/constants.py
Due: docstyle, check-import-order

[LLM][Serve] Allow setting `data_parallel_size=1` in engine_kwargs (#55750)
  python/ray/llm/_internal/serve/configs/server_models.py
  python/ray/llm/tests/serve/cpu/configs/test_models.py
Due: docstyle, check-import-order

[ci] disable running release tests that have been long failing (#56561)
  release/release_tests.yaml
Due: none

Add parallelism parameter to read_snowflake (#56588)
  python/ray/data/read_api.py
Due: docstyle, check-import-order

[ci] removing python ver check for llm lockfile compile (#56495)
  ci/raydepsets/pre_hooks/remove-compiled-headers.sh
Due: none

[Data] Update image embedding benchmark to use `download` (#56245)
  release/nightly_tests/dataset/image_embedding_from_uris/autoscaling_cluster_compute.yaml
  release/nightly_tests/dataset/image_embedding_from_uris/fixed_size_cluster_compute.yaml
  release/nightly_tests/dataset/image_embedding_from_uris/main.py
  release/release_data_tests.yaml
Due: docstyle, check-import-order

[data] skip loading dynamic modules for HF datasets >= v4.0.0 (#55908)
  python/ray/data/_internal/datasource/huggingface_datasource.py
Due: docstyle, check-import-order
