Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

check-train-circular-imports:
  name: Check Ray Train circular imports
  entry: python python/ray/train/lint/check_circular_imports.py
  language: system
  pass_filenames: false
  args:
  - --patch_dir
  - ray/train/v2

[deps] upgrade lz4 (#59297)
  python/deplocks/llm/ray_py311_cpu.lock
  python/deplocks/llm/ray_py311_cu128.lock
  python/deplocks/llm/ray_test_py311_cpu.lock
  python/deplocks/llm/ray_test_py311_cu128.lock
  python/deplocks/llm/rayllm_py311_cpu.lock
  python/deplocks/llm/rayllm_py311_cu128.lock
  python/deplocks/llm/rayllm_subset_py311_cu128.lock
  python/deplocks/llm/rayllm_test_py311_cpu.lock
  python/deplocks/llm/rayllm_test_py311_cu128.lock
  python/deplocks/ray_img/ray_img_py310.lock
  python/deplocks/ray_img/ray_img_py311.lock
  python/deplocks/ray_img/ray_img_py312.lock
  python/deplocks/ray_img/ray_img_py39.lock
  python/requirements/test-requirements.txt
  python/requirements_compiled.txt
  release/ray_release/byod/ray_base_extra_testdeps_cuda_py3.10.lock
  release/ray_release/byod/ray_base_extra_testdeps_cuda_py3.11.lock
  release/ray_release/byod/ray_base_extra_testdeps_cuda_py3.12.lock
  release/ray_release/byod/ray_base_extra_testdeps_cuda_py3.9.lock
  release/ray_release/byod/ray_base_extra_testdeps_gpu_py3.10.lock
  release/ray_release/byod/ray_base_extra_testdeps_gpu_py3.9.lock
  release/ray_release/byod/ray_base_extra_testdeps_py3.10.lock
  release/ray_release/byod/ray_base_extra_testdeps_py3.11.lock
  release/ray_release/byod/ray_base_extra_testdeps_py3.12.lock
  release/ray_release/byod/ray_base_extra_testdeps_py3.9.lock
  release/ray_release/byod/ray_ml_base_extra_testdeps_cuda_py3.10.lock
  release/ray_release/byod/ray_ml_base_extra_testdeps_cuda_py3.9.lock
  release/ray_release/byod/ray_ml_base_extra_testdeps_py3.10.lock
  release/ray_release/byod/ray_ml_base_extra_testdeps_py3.9.lock
Due: none

[deps] unify cryptography version constraint (#59294)
  python/requirements/test-requirements.txt
  python/requirements_compiled.txt
Due: none

adding new image for tensorflow-datasets
  ci/docker/datatfds.build.Dockerfile
  ci/docker/datatfds.build.wanda.yaml
Due: none

[serve] Copied override policy state
  python/ray/serve/_private/autoscaling_state.py
Due: docstyle, check-import-order

Specify STRICT_PACK for release test
  release/llm_tests/serve/configs/model_config/llama_3dot1_8b_tp2.yaml
Due: none

running tfds tests togheter
  .buildkite/data.rayci.yml
  python/ray/data/tests/test_execution_optimizer_integrations.py
  python/ray/data/tests/test_formats.py
  python/ray/data/tests/test_tensorflow_datasets.py
Due: docstyle, check-import-order

adding build target
  python/ray/data/BUILD.bazel
Due: none

updating tag
  python/ray/data/BUILD.bazel
Due: none

Clean formatting
  src/ray/ray_syncer/ray_syncer.h
Due: check-cpp-files-inclusion

Update src/ray/observability/open_telemetry_metric_recorder.cc
  src/ray/observability/open_telemetry_metric_recorder.cc
Due: check-cpp-files-inclusion

Bump SGLang version to accomodate torch 2.9 ABI
  release/ray_release/byod/byod_llm_sglang_test.sh
Due: none

[serve][llm] Parity with vLLM: model should be optional in Ray Serve LLM (#59156)
  python/ray/llm/_internal/serve/core/ingress/ingress.py
  python/ray/llm/tests/serve/conftest.py
  python/ray/llm/tests/serve/gpu/integration/test_openai_compatibility.py
  python/ray/llm/tests/serve/mock_vllm_model_2.yaml
  python/ray/llm/tests/serve/mocks/mock_vllm_engine.py
Due: docstyle, check-import-order

fix
  python/ray/tune/schedulers/pb2_utils.py
Due: docstyle, check-import-order

[serve] Added a test to verify policy state validation
  python/ray/serve/tests/unit/test_application_state.py
Due: docstyle, check-import-order

removing skips
  python/ray/tune/tests/test_api.py
  python/ray/tune/tests/test_trial_scheduler_pbt.py
Due: docstyle, check-import-order

fix
  python/ray/tune/schedulers/pb2.py
Due: docstyle, check-import-order

setting explicity py3.9 on release test
  release/release_data_tests.yaml
Due: none

[serve] Refactored test
  python/ray/serve/tests/unit/test_application_state.py
Due: docstyle, check-import-order

updating image name
  ci/docker/datatfds.build.wanda.yaml
Due: none

[Serve] Preserve deployment metadata on wrapper classes (#58478)
  python/ray/serve/_private/utils.py
  python/ray/serve/api.py
  python/ray/serve/task_consumer.py
  python/ray/serve/tests/test_api.py
  python/ray/serve/tests/unit/test_task_consumer.py
Due: docstyle, check-import-order

[Data] Change level of "Exiting prefetcher's background thread" log from INFO to DEBUG (#59309)
  python/ray/data/_internal/block_batching/util.py
Due: docstyle, check-import-order

[Data] Add contributing guide to Ray Data documentation (#58589)
  .vale/styles/config/vocabularies/Data/accept.txt
  doc/source/data/contributing/contributing.rst
  doc/source/data/contributing/how-to-contribute-an-improvement.md
  doc/source/data/contributing/how-to-write-tests.md
  doc/source/data/data.rst
Due: none

Add VLLM_DISABLE_COMPILE_CACHE to doc tests
  doc/source/llm/doc_code/serve/qwen/llm_yaml_config_example.py
  doc/source/llm/doc_code/serve/qwen/qwen_example.py
Due: none

Initial commit
  doc/source/data/contributing/contributing-guide.md
  doc/source/data/contributing/contributing.rst
Due: none

Address review comments
  doc/source/data/contributing/contributing-guide.md
Due: none

Compatibility with transformers v5, used in SGLang
  python/ray/llm/_internal/batch/utils.py
Due: docstyle, check-import-order

update doc and expose TensorTransportManager publicly
  doc/source/ray-core/api/direct-transport.rst
  doc/source/ray-core/direct-transport.rst
  python/ray/experimental/__init__.py
  python/ray/experimental/gpu_object_manager/__init__.py
  python/ray/experimental/gpu_object_manager/tensor_transport_manager.py
Due: docstyle, check-import-order

Remove VLLM_USE_V1 from llm_config_example.yaml also
  doc/source/llm/doc_code/serve/qwen/llm_config_example.yaml
Due: none

Remove resources and stale file
  release/llm_tests/serve/test_llm_serve_disaggregated_wide_ep.py
  release/llm_tests/serve/test_llm_serve_multi_node_integration.py
Due: docstyle, check-import-order

error on re-registration
  python/ray/experimental/gpu_object_manager/util.py
Due: docstyle, check-import-order

numpy stuff..
  python/deplocks/base_deps/ray_base_deps_py3.10.lock
  python/deplocks/base_deps/ray_base_deps_py3.11.lock
  python/deplocks/base_deps/ray_base_deps_py3.12.lock
  python/deplocks/base_deps/ray_base_deps_py3.13.lock
  python/deplocks/base_extra/ray_base_extra_py3.10.lock
  python/deplocks/base_extra/ray_base_extra_py3.11.lock
  python/deplocks/base_extra/ray_base_extra_py3.12.lock
  python/deplocks/base_extra/ray_base_extra_py3.13.lock
  python/deplocks/llm/ray_py311_cpu.lock
  python/deplocks/llm/ray_py311_cu128.lock
  python/deplocks/llm/ray_test_py311_cpu.lock
  python/deplocks/llm/ray_test_py311_cu128.lock
  python/deplocks/llm/rayllm_py311_cpu.lock
  python/deplocks/llm/rayllm_py311_cu128.lock
  python/deplocks/llm/rayllm_subset_py311_cu128.lock
  python/deplocks/llm/rayllm_test_py311_cpu.lock
  python/deplocks/llm/rayllm_test_py311_cu128.lock
  python/deplocks/ray_img/ray_img_py310.lock
  python/deplocks/ray_img/ray_img_py311.lock
  python/deplocks/ray_img/ray_img_py312.lock
  python/deplocks/ray_img/ray_img_py313.lock
  python/requirements/test-requirements.txt
  python/requirements_compiled.txt
  release/ray_release/byod/ray_base_extra_testdeps_cuda_py3.10.lock
  release/ray_release/byod/ray_base_extra_testdeps_cuda_py3.11.lock
  release/ray_release/byod/ray_base_extra_testdeps_cuda_py3.12.lock
  release/ray_release/byod/ray_base_extra_testdeps_gpu_py3.10.lock
  release/ray_release/byod/ray_base_extra_testdeps_py3.10.lock
  release/ray_release/byod/ray_base_extra_testdeps_py3.11.lock
  release/ray_release/byod/ray_base_extra_testdeps_py3.12.lock
  release/ray_release/byod/ray_base_extra_testdeps_py3.13.lock
  release/ray_release/byod/ray_ml_base_extra_testdeps_cuda_py3.10.lock
  release/ray_release/byod/ray_ml_base_extra_testdeps_py3.10.lock
Due: none

upper before
  python/ray/experimental/gpu_object_manager/util.py
Due: docstyle, check-import-order

extending the timeout
  rllib/BUILD.bazel
Due: none

[core] internal doc for metric exporter
  doc/source/ray-core/internals.rst
  doc/source/ray-core/internals/metric-exporter.rst
Due: none

ray client server now read from GCS
  python/ray/_private/node.py
  python/ray/_private/services.py
  python/ray/includes/global_state_accessor.pxi
  python/ray/util/client/server/proxier.py
  python/ray/util/client/server/server.py
Due: docstyle, check-import-order

adding bazel target
  python/ray/data/BUILD.bazel
  python/ray/data/tests/test_execution_optimizer_integrations.py
  python/ray/data/tests/test_formats.py
  python/ray/data/tests/test_tensorflow_datasets.py
Due: docstyle, check-import-order

More comments
  python/ray/data/_internal/execution/operators/map_operator.py
  python/ray/data/_internal/planner/plan_write_op.py
  python/ray/data/dataset.py
  python/ray/data/datasource/file_datasink.py
Due: docstyle, check-import-order

[serve] move pydantic and tracing tests to py3.10
  .buildkite/serve.rayci.yml
  ci/docker/servepydantic1.build.wanda.yaml
  ci/docker/servetracing.build.wanda.yaml
Due: none

[serve][llm] Fix LLM target_ongoing_requests default
  python/ray/llm/_internal/serve/core/ingress/ingress.py
  python/ray/llm/_internal/serve/core/server/builder.py
Due: docstyle, check-import-order

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
