Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)

Fix linter errors
  python/ray/serve/_private/replica.py
  python/ray/serve/tests/test_custom_metrics.py
Due: docstyle, check-import-order

Add initialization checks
  python/ray/serve/_private/replica.py
Due: docstyle, check-import-order

Fixing test_custom_serve_timeout
  python/ray/serve/_private/autoscaling_state.py
  python/ray/serve/_private/replica.py
  python/ray/serve/tests/test_custom_metrics.py
Due: docstyle, check-import-order

Include custom metrics method and report to controller
  python/ray/serve/_private/autoscaling_state.py
  python/ray/serve/_private/constants.py
  python/ray/serve/_private/controller.py
  python/ray/serve/tests/test_custom_metrics.py
Due: docstyle, check-import-order

Pass user_callable_wrapper into ReplicaMetricsManager
  python/ray/serve/_private/replica.py
Due: docstyle, check-import-order

Fix test_deployment_state
  python/ray/serve/_private/autoscaling_state.py
Due: docstyle, check-import-order

Add integration test for default record_autoscaling_stats method
  python/ray/serve/_private/autoscaling_state.py
  python/ray/serve/_private/metrics_utils.py
  python/ray/serve/_private/replica.py
  python/ray/serve/tests/test_custom_metrics.py
Due: docstyle, check-import-order

Fix record_request_metrics_for_replica condition
  python/ray/serve/_private/autoscaling_state.py
Due: docstyle, check-import-order

Address comments part 3
  python/ray/serve/_private/autoscaling_state.py
  python/ray/serve/_private/replica.py
  python/ray/serve/tests/BUILD.bazel
  python/ray/serve/tests/test_custom_metrics.py
Due: docstyle, check-import-order

Address comments part 4
  python/ray/serve/_private/replica.py
  python/ray/serve/tests/test_custom_metrics.py
Due: docstyle, check-import-order

Add validation check and test
  python/ray/serve/_private/replica.py
  python/ray/serve/tests/test_custom_metrics.py
Due: docstyle, check-import-order

Fix timeout test and add bazel test env var
  python/ray/serve/_private/autoscaling_state.py
  python/ray/serve/_private/replica.py
  python/ray/serve/tests/BUILD.bazel
  python/ray/serve/tests/test_custom_metrics.py
Due: docstyle, check-import-order

Address comments part 5
  doc/source/ray-overview/examples/e2e-rag/notebooks/03_Deploy_LLM_with_Ray_Serve.ipynb
  doc/source/ray-overview/examples/e2e-rag/notebooks/serve_llm.py
  doc/source/ray-overview/examples/mcp-ray-serve/04 Deploy_multiple_mcp_stdio_docker_images_with_ray_serve.ipynb
  doc/source/ray-overview/examples/mcp-ray-serve/multi_mcp_ray_serve.py
  python/ray/serve/_private/replica.py
  python/ray/serve/tests/BUILD.bazel
  python/ray/serve/tests/test_custom_autoscaling_metrics.py
Due: docstyle, check-import-order

creating byod 3.10 input requirements
  release/ray_release/byod/requirements_byod_3.10.in
Due: none

remove PyBullet
  rllib/env/utils/__init__.py
  rllib/utils/error.py
Due: docstyle, check-import-order

remove cgroup change
  src/ray/common/cgroup/cgroup_setup.cc
Due: check-cpp-files-inclusion

support filtering in GCS publisher
  python/ray/dashboard/modules/aggregator/aggregator_agent.py
  python/ray/dashboard/modules/aggregator/publisher/async_publisher_client.py
  python/ray/dashboard/modules/aggregator/publisher/configs.py
Due: docstyle, check-import-order

update config
  python/ray/dashboard/modules/aggregator/publisher/configs.py
Due: docstyle, check-import-order

[image] add support for building and publishing ray-extra images (#56543)
  .buildkite/build.rayci.yml
  ci/ray_ci/builder.py
  ci/ray_ci/docker_container.py
  ci/ray_ci/ray_docker_container.py
  ci/ray_ci/test_ray_docker_container.py
Due: docstyle, check-import-order

[core] Disable GcsNodeManager:TestRayEventRecorder (#56659)
  src/ray/gcs/tests/gcs_node_manager_test.cc
Due: check-cpp-files-inclusion

[Serve]Added downscale_to_zero_delay_s into test files
  python/ray/serve/tests/test_deploy_2.py
Due: docstyle, check-import-order

defaulting to python 3.10 for release tests
  .buildkite/release/build.rayci.yml
  python/ray/autoscaler/aws/tests/aws_config.yaml
  python/ray/autoscaler/gcp/tests/gce_config.yaml
  python/ray/autoscaler/launch_and_verify_cluster.py
  release/ray_release/test.py
Due: docstyle, check-import-order

up
  python/ray/_raylet.pyx
Due: none

fix bugs
  python/ray/dashboard/modules/aggregator/aggregator_agent.py
  python/ray/dashboard/modules/aggregator/publisher/configs.py
  python/ray/dashboard/modules/aggregator/tests/test_aggregator_agent.py
Due: docstyle, check-import-order

fix test
  python/ray/serve/tests/test_proxy_actor_wrapper.py
Due: docstyle, check-import-order

p
  release/ray_release/scripts/custom_image_build_and_test_init.py
Due: docstyle, check-import-order

[core][otel] (yet another) clean up gauge metric cache (#56502)
  python/ray/_private/test_utils.py
  python/ray/tests/BUILD.bazel
  python/ray/tests/test_metric_cardinality.py
  python/ray/tests/test_metrics_agent.py
  python/ray/tests/test_task_metrics.py
  python/ray/tests/test_task_metrics_reconstruction.py
  src/ray/observability/open_telemetry_metric_recorder.cc
  src/ray/stats/stats.h
Due: docstyle, check-import-order, check-cpp-files-inclusion

[core] Moved ony pickle_dumps into _common
  python/ray/_common/serialization.py
  python/ray/_private/function_manager.py
  python/ray/_private/serialization.py
  python/ray/air/util/object_extensions/arrow.py
  python/ray/remote_function.py
  python/ray/serve/_private/benchmarks/serialization/serialization_benchmark.py
  python/ray/serve/_private/config.py
  python/ray/serve/api.py
Due: docstyle, check-import-order

revert cpp api
  cpp/include/ray/api/metric.h
  cpp/src/ray/runtime/metric/metric.cc
  cpp/src/ray/test/examples/metric_example.cc
Due: none

debug
  release/ray_release/scripts/custom_image_build_and_test_init.py
Due: docstyle, check-import-order

creating ray ml base extra test deps
  .buildkite/release/build.rayci.yml
  ci/raydepsets/rayimg.depsets.yaml
  release/ray_release/byod/ray_ml_base_extra_testdeps_py3.10.lock
  release/ray_release/byod/ray_ml_base_extra_testdeps_py3.9.lock
  release/ray_release/byod/requirements_ml_byod_3.10.in
Due: none

format
  src/ray/stats/tests/metric_exporter_grpc_test.cc
Due: check-cpp-files-inclusion

p
  release/ray_release/buildkite/step.py
Due: docstyle, check-import-order

[Core][TaskEventFollowup/05] Make RayEventsTuple a Data Class (#56630)
  src/ray/core_worker/task_event_buffer.cc
  src/ray/core_worker/task_event_buffer.h
  src/ray/core_worker/tests/task_event_buffer_test.cc
Due: check-cpp-files-inclusion

[ci] raydepsets: prehook args shlex split (2/?) (#56637)
  ci/raydepsets/cli.py
  ci/raydepsets/tests/test_cli.py
  ci/raydepsets/tests/test_data/pre-hook-test.sh
  ci/raydepsets/tests/test_data/test.depsets.yaml
  ci/raydepsets/tests/test_workspace.py
Due: docstyle, check-import-order

remove logger
  release/ray_release/scripts/custom_image_build_and_test_init.py
Due: docstyle, check-import-order

[fix][core]A timeout should be set when submitting patch requests for autoscaler (#56605)
  python/ray/autoscaler/_private/kuberay/node_provider.py
Due: docstyle, check-import-order

no background concurrency group
  python/ray/actor.py
Due: docstyle, check-import-order

update normal task queue stop impl and address other comments
  src/ray/core_worker/task_execution/actor_scheduling_queue.cc
  src/ray/core_worker/task_execution/actor_scheduling_queue.h
  src/ray/core_worker/task_execution/normal_scheduling_queue.cc
  src/ray/core_worker/task_execution/normal_scheduling_queue.h
  src/ray/core_worker/task_execution/out_of_order_actor_scheduling_queue.cc
  src/ray/core_worker/task_execution/out_of_order_actor_scheduling_queue.h
  src/ray/core_worker/task_execution/task_receiver.cc
Due: check-cpp-files-inclusion
