Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

check-train-circular-imports:
  name: Check Ray Train circular imports
  entry: python python/ray/train/lint/check_circular_imports.py
  language: system
  pass_filenames: false
  args:
  - --patch_dir
  - ray/train/v2

[release test] remove unused --no-terminate flag (#59758)
  release/ray_release/glue.py
  release/ray_release/scripts/run_release_test.py
Due: docstyle, check-import-order

[release test] remove `--cluster-id` and `--cluster-env-id` flags (#59766)
  release/ray_release/glue.py
  release/ray_release/scripts/run_release_test.py
Due: docstyle, check-import-order

[release test] remove FullClusterManager (#59759)
  release/ray_release/cluster_manager/cluster_manager.py
  release/ray_release/cluster_manager/full.py
  release/ray_release/cluster_manager/minimal.py
  release/ray_release/exception.py
  release/ray_release/glue.py
  release/ray_release/tests/test_cluster_manager.py
  release/ray_release/tests/test_glue.py
Due: docstyle, check-import-order

[release test] migrate lookup functions to new anyscale sdk (#59772)
  release/ray_release/anyscale_util.py
Due: docstyle, check-import-order

[Data] minor clean-up about Write concurrency (#59483)
  python/ray/data/_internal/logical/operators/write_operator.py
  python/ray/data/_internal/planner/plan_write_op.py
  python/ray/data/dataset.py
  python/ray/data/tests/test_execution_optimizer_advanced.py
Due: docstyle, check-import-order

[Data] Move `get_ineligible_op_usage` to `ResourceManager` for better encapsulation (#59754)
  python/ray/data/_internal/execution/resource_manager.py
  python/ray/data/tests/test_reservation_based_resource_allocator.py
Due: docstyle, check-import-order

[Data] - Add support for callable classes for UDFExpr (#56725)
  python/ray/data/_internal/logical/operators/map_operator.py
  python/ray/data/_internal/logical/rules/projection_pushdown.py
  python/ray/data/_internal/planner/plan_expression/expression_evaluator.py
  python/ray/data/_internal/planner/plan_expression/expression_visitors.py
  python/ray/data/_internal/planner/plan_udf_map_op.py
  python/ray/data/dataset.py
  python/ray/data/expressions.py
  python/ray/data/tests/test_map.py
  python/ray/data/tests/test_with_column.py
  python/ray/data/tests/unit/test_expressions.py
  python/ray/data/util/expression_utils.py
Due: docstyle, check-import-order

[serve] deflake windows test (#59771)
  python/ray/serve/tests/BUILD.bazel
  python/ray/serve/tests/test_deploy_2.py
Due: docstyle, check-import-order

[Data] Compute Expressions - Expr Arithmetic (#59678)
  python/ray/data/expressions.py
  python/ray/data/tests/test_with_column.py
Due: docstyle, check-import-order

[release][ci] Enhance release test metadata with build and team information (#59741)
  release/ray_release/glue.py
Due: docstyle, check-import-order

[release test] refactor release test step generation (#59755)
  release/ray_release/buildkite/step.py
  release/ray_release/tests/test_buildkite.py
  release/ray_release/tests/test_step.py
Due: docstyle, check-import-order

[Data] Return 'inf' for max object store memory usage (#59751)
  python/ray/data/_internal/execution/operators/actor_pool_map_operator.py
  python/ray/data/_internal/execution/operators/task_pool_map_operator.py
  python/ray/data/tests/test_actor_pool_map_operator.py
Due: docstyle, check-import-order

[Data] Split test_sort.py into smaller test modules to improve CI parallelization (#59736)
  python/ray/data/BUILD.bazel
  python/ray/data/tests/test_push_based_shuffle.py
  python/ray/data/tests/test_shuffle_diagnostics.py
  python/ray/data/tests/test_sort.py
Due: docstyle, check-import-order

[deps] update anyscale CLI/SDK (#59770)
  docker/base-extra/requirements.in
  python/deplocks/base_extra/ray_base_extra_py3.10.lock
  python/deplocks/base_extra/ray_base_extra_py3.11.lock
  python/deplocks/base_extra/ray_base_extra_py3.12.lock
  release/ray_release/byod/audio_transcription_py3.10.lock
  release/ray_release/byod/document_embedding_py3.10.lock
  release/ray_release/byod/image_classification_py3.10.lock
  release/ray_release/byod/large_image_embedding_py3.10.lock
  release/ray_release/byod/ray_base_extra_testdeps_cuda_py3.10.lock
  release/ray_release/byod/ray_base_extra_testdeps_cuda_py3.11.lock
  release/ray_release/byod/ray_base_extra_testdeps_cuda_py3.12.lock
  release/ray_release/byod/ray_base_extra_testdeps_gpu_py3.10.lock
  release/ray_release/byod/ray_base_extra_testdeps_py3.10.lock
  release/ray_release/byod/ray_base_extra_testdeps_py3.11.lock
  release/ray_release/byod/ray_base_extra_testdeps_py3.12.lock
  release/ray_release/byod/ray_ml_base_extra_testdeps_cuda_py3.10.lock
  release/ray_release/byod/ray_ml_base_extra_testdeps_py3.10.lock
  release/ray_release/byod/video_object_detection_py3.10.lock
  release/requirements_py310.in
  release/requirements_py310.txt
Due: none

[Data] Remove obsolete `_DatasetWrapper` (#59310)
  python/ray/data/_internal/iterator/stream_split_iterator.py
  python/ray/train/v2/tests/test_data_resource_cleanup.py
Due: docstyle, check-import-order, check-train-circular-imports

[Data] Add `create_resource_allocator` (#59670)
  python/ray/data/_internal/execution/__init__.py
  python/ray/data/_internal/execution/resource_manager.py
  python/ray/data/tests/test_reservation_based_resource_allocator.py
Due: docstyle, check-import-order

[release test] remove unused FileManager abstract class (#59746)
  release/ray_release/command_runner/anyscale_job_runner.py
  release/ray_release/command_runner/command_runner.py
  release/ray_release/file_manager/file_manager.py
  release/ray_release/file_manager/job_file_manager.py
  release/ray_release/tests/test_glue.py
Due: docstyle, check-import-order

[Data] Add BackpressurePolicy to streaming executor progress bar (#59637)
  python/ray/data/_internal/execution/backpressure_policy/backpressure_policy.py
  python/ray/data/_internal/execution/backpressure_policy/concurrency_cap_backpressure_policy.py
  python/ray/data/_internal/execution/backpressure_policy/downstream_capacity_backpressure_policy.py
  python/ray/data/_internal/execution/backpressure_policy/resource_budget_backpressure_policy.py
  python/ray/data/_internal/execution/interfaces/physical_operator.py
  python/ray/data/_internal/execution/streaming_executor_state.py
  python/ray/data/tests/test_streaming_executor.py
Due: docstyle, check-import-order

[Data] Remove extra "the" from resource request comment (#59676)
  python/ray/data/_internal/execution/autoscaling_requester.py
Due: docstyle, check-import-order

[release test] remove unused old JobManager (#59761)
  release/ray_release/command_runner/anyscale_job_runner.py
  release/ray_release/file_manager/job_file_manager.py
  release/ray_release/job_manager/__init__.py
  release/ray_release/job_manager/job_manager.py
Due: docstyle, check-import-order

[Serve] Remove shutdown() method from TaskProcessorAdapter (#59713)
  python/ray/serve/schema.py
  python/ray/serve/task_consumer.py
  python/ray/serve/task_processor.py
  python/ray/serve/tests/unit/test_task_consumer.py
Due: docstyle, check-import-order

[Data] Remove dead parameters from `max_task_output_bytes_to_read` (#59672)
  python/ray/data/_internal/execution/resource_manager.py
  python/ray/data/tests/test_reservation_based_resource_allocator.py
Due: docstyle, check-import-order

[release test] move testing of test result struct into test_result.py (#59752)
  release/ray_release/glue.py
  release/ray_release/result.py
  release/ray_release/tests/test_glue.py
  release/ray_release/tests/test_result.py
Due: docstyle, check-import-order

[docs] Update contribution guide with some common labels (#59473)
  CONTRIBUTING.rst
  doc/source/ray-contribute/getting-involved.rst
Due: none

[rllib] add ormsgpack in python/requirements.txt (#59730)
  python/deplocks/llm/ray_py311_cpu.lock
  python/deplocks/llm/ray_py311_cu128.lock
  python/deplocks/llm/ray_test_py311_cpu.lock
  python/deplocks/llm/ray_test_py311_cu128.lock
  python/deplocks/llm/rayllm_py311_cpu.lock
  python/deplocks/llm/rayllm_py311_cu128.lock
  python/deplocks/llm/rayllm_subset_py311_cu128.lock
  python/deplocks/llm/rayllm_test_py311_cpu.lock
  python/deplocks/llm/rayllm_test_py311_cu128.lock
  python/requirements.txt
  python/requirements_compiled.txt
  python/setup.py
  release/ray_release/byod/llm_batch/llm_batch_single_node_benchmark_py311_cu128.lock
Due: docstyle, check-import-order

[Data] Enable and Tune DownstreamCapacityBackpressurePolicy (#59753)
  python/ray/data/_internal/block_batching/iter_batches.py
  python/ray/data/_internal/execution/backpressure_policy/concurrency_cap_backpressure_policy.py
  python/ray/data/_internal/execution/backpressure_policy/downstream_capacity_backpressure_policy.py
  python/ray/data/_internal/execution/resource_manager.py
  python/ray/data/_internal/execution/streaming_executor.py
  python/ray/data/_internal/iterator/iterator_impl.py
  python/ray/data/_internal/iterator/stream_split_iterator.py
  python/ray/data/context.py
  python/ray/data/dataset.py
  python/ray/data/iterator.py
  python/ray/data/tests/block_batching/test_iter_batches.py
  python/ray/data/tests/test_backpressure_policies.py
  python/ray/data/tests/test_downstream_capacity_backpressure_policy.py
  python/ray/data/tests/test_split.py
Due: docstyle, check-import-order

[ci] removing python 3.9 buildkite jobs & wanda files (#59769)
  .buildkite/base.rayci.yml
  ci/docker/base.gpu.py39.wanda.yaml
  ci/docker/base.test.py39.wanda.yaml
Due: none

[Data] Restoring `ray.air.util.object_extensions.arrow` class aliases to fix deserialization of existing datasets (#59828)
  python/ray/air/util/object_extensions/__init__.py
  python/ray/air/util/object_extensions/arrow.py
  python/ray/air/util/tensor_extensions/__init__.py
Due: docstyle, check-import-order

[core] `jemalloc_conf` arg is a string in `propagate_jemalloc_env_var` (#59786)
  python/ray/_private/services.py
Due: docstyle, check-import-order

[release test] removes cluster_url and cluster_id (#59776)
  release/ray_release/anyscale_util.py
  release/ray_release/cluster_manager/cluster_manager.py
  release/ray_release/cluster_manager/minimal.py
  release/ray_release/glue.py
  release/ray_release/job_manager/anyscale_job_manager.py
  release/ray_release/reporter/db.py
  release/ray_release/reporter/log.py
  release/ray_release/result.py
  release/ray_release/tests/test_glue.py
  release/ray_release/util.py
Due: docstyle, check-import-order

[Data][LLM] Support vLLM structured outputs + backward-compat for guided_decoding… (#59421)
  doc/source/llm/examples/batch/vllm-with-structural-output.ipynb
  doc/source/ray-overview/examples/e2e-audio/README.ipynb
  doc/source/ray-overview/examples/e2e-audio/README.md
  doc/source/ray-overview/examples/entity-recognition-with-llms/README.ipynb
  doc/source/ray-overview/examples/entity-recognition-with-llms/README.md
  python/ray/llm/_internal/batch/stages/vllm_engine_stage.py
  python/ray/llm/tests/batch/gpu/stages/test_vllm_engine_stage.py
Due: docstyle, check-import-order

[Data] `AutoscalingCoordinator` prevent double-allocates resources if there are multiple datasets (#59740)
  python/ray/data/_internal/cluster_autoscaler/default_autoscaling_coordinator.py
  python/ray/data/tests/test_autoscaling_coordinator.py
Due: docstyle, check-import-order

bugfix
  python/ray/_private/runtime_env/uv_runtime_env_hook.py
Due: docstyle, check-import-order

[ci] bump prebuilt manylinux 251216.3835fc5 -> 260103.868e54c (#59821)
  .buildkite/_forge.rayci.yml
  .buildkite/build.rayci.yml
  .buildkite/linux_aarch64.rayci.yml
  ci/docker/manylinux.wanda.yaml
  ci/docker/ray-core.wanda.yaml
  ci/docker/ray-dashboard.wanda.yaml
  ci/docker/ray-java.wanda.yaml
Due: none

[Data] Add Checkpointing to Ray Data (#59409)
  doc/source/data/api/api.rst
  doc/source/data/api/checkpoint.rst
  python/ray/data/BUILD.bazel
  python/ray/data/_internal/planner/checkpoint/__init__.py
  python/ray/data/_internal/planner/checkpoint/plan_read_op.py
  python/ray/data/_internal/planner/checkpoint/plan_write_op.py
  python/ray/data/_internal/planner/planner.py
  python/ray/data/checkpoint/__init__.py
  python/ray/data/checkpoint/checkpoint_filter.py
  python/ray/data/checkpoint/checkpoint_writer.py
  python/ray/data/checkpoint/interfaces.py
  python/ray/data/checkpoint/load_checkpoint_callback.py
  python/ray/data/checkpoint/util.py
  python/ray/data/context.py
  python/ray/data/tests/test_checkpoint.py
Due: docstyle, check-import-order

[Core] Adding the node id to the base event (#59242)
  doc/source/ray-observability/user-guides/ray-event-export.rst
  python/ray/dashboard/modules/aggregator/tests/test_ray_actor_events.py
  python/ray/dashboard/modules/aggregator/tests/test_ray_job_events.py
  python/ray/dashboard/modules/aggregator/tests/test_ray_node_events.py
  python/ray/tests/test_ray_event_export_task_events.py
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker_process.cc
  src/ray/core_worker/core_worker_shutdown_executor.cc
  src/ray/core_worker/profile_event.cc
  src/ray/core_worker/task_event_buffer.cc
  src/ray/core_worker/task_event_buffer.h
  src/ray/core_worker/task_execution/tests/scheduling_queue_test.cc
  src/ray/core_worker/task_execution/tests/task_receiver_test.cc
  src/ray/core_worker/tests/core_worker_test.cc
  src/ray/core_worker/tests/task_event_buffer_export_event_test.cc
  src/ray/core_worker/tests/task_event_buffer_test.cc
  src/ray/core_worker/tests/task_manager_test.cc
  src/ray/gcs/gcs_node_manager.cc
  src/ray/gcs/gcs_server.cc
  src/ray/gcs/gcs_server.h
  src/ray/gcs/gcs_server_main.cc
  src/ray/observability/ray_event_recorder.cc
  src/ray/observability/ray_event_recorder.h
  src/ray/observability/tests/ray_event_recorder_test.cc
  src/ray/protobuf/public/events_base_event.proto
Due: docstyle, check-import-order, check-cpp-files-inclusion

[core] Update seq no skip error message (#59779)
  src/ray/core_worker/task_execution/actor_scheduling_queue.cc
Due: check-cpp-files-inclusion

[Core] Replace startup token with worker id (#59737)
  cpp/src/ray/config_internal.cc
  cpp/src/ray/config_internal.h
  cpp/src/ray/util/process_helper.cc
  java/performance_test/src/main/java/io/ray/performancetest/test/ActorPerformanceTestBase.java
  java/runtime/src/main/java/io/ray/runtime/RayNativeRuntime.java
  java/runtime/src/main/java/io/ray/runtime/config/RayConfig.java
  java/runtime/src/main/resources/ray.default.conf
  java/test.sh
  java/test/src/main/java/io/ray/test/ExitActorTest2.java
  java/test/src/main/java/io/ray/test/FailureTest.java
  java/test/src/main/java/io/ray/test/JobConfigTest.java
  java/test/src/main/java/io/ray/test/KillActorTest.java
  python/ray/_private/worker.py
  python/ray/_private/workers/default_worker.py
  python/ray/_raylet.pyx
  python/ray/includes/libcoreworker.pxd
  src/mock/ray/raylet/worker_pool.h
  src/ray/core_worker/core_worker_options.h
  src/ray/core_worker/core_worker_process.cc
  src/ray/core_worker/lib/java/io_ray_runtime_RayNativeRuntime.cc
  src/ray/core_worker/lib/java/io_ray_runtime_RayNativeRuntime.h
  src/ray/flatbuffers/node_manager.fbs
  src/ray/raylet/fake_worker.h
  src/ray/raylet/node_manager.cc
  src/ray/raylet/node_manager.h
  src/ray/raylet/scheduling/tests/cluster_lease_manager_test.cc
  src/ray/raylet/tests/local_lease_manager_test.cc
  src/ray/raylet/tests/util.h
  src/ray/raylet/tests/worker_pool_test.cc
  src/ray/raylet/worker.cc
  src/ray/raylet/worker.h
  src/ray/raylet/worker_interface.h
  src/ray/raylet/worker_pool.cc
  src/ray/raylet/worker_pool.h
  src/ray/raylet_ipc_client/fake_raylet_ipc_client.h
  src/ray/raylet_ipc_client/raylet_ipc_client.cc
  src/ray/raylet_ipc_client/raylet_ipc_client.h
  src/ray/raylet_ipc_client/raylet_ipc_client_interface.h
  src/ray/util/process.h
Due: docstyle, check-import-order, check-cpp-files-inclusion

[data] Support Arrow-based transformations for preprocessors (#59810)
  python/ray/data/preprocessor.py
  python/ray/data/preprocessors/encoder.py
  python/ray/data/preprocessors/utils.py
  python/ray/data/tests/preprocessors/test_encoder.py
  python/ray/data/tests/preprocessors/test_imputer.py
  python/ray/data/tests/preprocessors/test_preprocessors.py
Due: docstyle, check-import-order

[Data] Compute Expressions - Expr Trigonometric (#59712)
  python/ray/data/expressions.py
  python/ray/data/tests/test_with_column.py
Due: docstyle, check-import-order

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
