Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

check-train-circular-imports:
  name: Check Ray Train circular imports
  entry: python python/ray/train/lint/check_circular_imports.py
  language: system
  pass_filenames: false
  args:
  - --patch_dir
  - ray/train/v2

[serve][ci] Exclude gpu-tagged tests from the flaky tests step
  .buildkite/serve.rayci.yml
Due: none

Expand --except-tags to match the main serve: tests step
  .buildkite/serve.rayci.yml
Due: none

Revert: keep --except-tags scoped to gpu only
  .buildkite/serve.rayci.yml
Due: none

[core] Print function context when inspecting closures in inspect_serializability
  python/ray/util/check_serialize.py
  python/tests/test_check_serialize.py
Due: docstyle, check-import-order

[serve][llm] Configurable session-id header (RAY_SERVE_SESSION_ID_HEADER_KEY)
  python/ray/llm/_internal/serve/core/ingress/ingress.py
  python/ray/llm/_internal/serve/core/ingress/router.py
  python/ray/serve/_private/constants.py
  python/ray/serve/_private/haproxy.py
  python/ray/serve/_private/http_util.py
  python/ray/serve/_private/ingress_request_router.lua.tmpl
  python/ray/serve/_private/proxy.py
  python/ray/serve/experimental/consistent_hash_router.py
  python/ray/serve/tests/test_http_headers.py
Due: docstyle, check-import-order

Provide guidance on how to adjust the system to avoid kernel OOMs
  src/ray/raylet/node_manager.cc
Due: check-cpp-files-inclusion

[data] Fix silent data corruption in read_webdataset for unordered tars
  python/ray/data/_internal/datasource/webdataset_datasource.py
  python/ray/data/tests/datasource/test_webdataset.py
Due: docstyle, check-import-order

[data] Use pytest.raises match= idiom in unordered-tar test
  python/ray/data/tests/datasource/test_webdataset.py
Due: docstyle, check-import-order

[release] parse_override: parametrize tests, chain JSON error, pin validation order
  release/ray_release/buildkite/image_pinning.py
  release/ray_release/tests/test_image_pinning.py
Due: docstyle, check-import-order

[Dashboard] Collect OOM event counters
  python/ray/dashboard/modules/databricks_telemetry/constants.py
Due: docstyle, check-import-order

refactor collector
  python/ray/serve/_private/haproxy.py
Due: docstyle, check-import-order

add collector + lint
  python/ray/serve/_private/haproxy.py
  python/ray/serve/_private/haproxy_metrics.py
Due: docstyle, check-import-order

remove
  python/ray/util/serialization_addons.py
Due: docstyle, check-import-order

[serve][llm] Address review: separator-tolerant session header + fix tests
  python/ray/llm/_internal/serve/core/ingress/ingress.py
  python/ray/llm/_internal/serve/core/ingress/router.py
  python/ray/llm/tests/serve/cpu/deployments/routers/test_router.py
  python/ray/serve/_private/ingress_request_router.lua.tmpl
Due: docstyle, check-import-order

[core] Fix lint and register test in BUILD for check_serialize
  python/tests/BUILD
  python/tests/test_check_serialize.py
Due: docstyle, check-import-order

udpate metrics
  python/ray/serve/_private/haproxy_metrics.py
  python/ray/serve/_private/ingress_request_router.lua.tmpl
Due: docstyle, check-import-order

[doc][DOC-943] add master-vs-latest rule for PR preview review
  doc/.claude/CLAUDE.md
Due: none

add regression test
  python/ray/data/tests/datasource/test_parquet.py
Due: docstyle, check-import-order

fix lint
  python/ray/tests/accelerators/test_amd_gpu.py
Due: docstyle, check-import-order

also remove redundant publishes in PublishObjectLocationSnapshot
  src/ray/core_worker/reference_counter.cc
Due: check-cpp-files-inclusion

use RAY_CHECK in PublishObjectLocationSnapshot
  src/ray/core_worker/reference_counter.cc
Due: check-cpp-files-inclusion

[release] Add resolve_override_tests for override-mode test lookup
  release/ray_release/buildkite/image_pinning.py
  release/ray_release/tests/test_image_pinning.py
Due: docstyle, check-import-order

updating deps
  .buildkite/ml.rayci.yml
  ci/docker/ml.build.Dockerfile
  ci/docker/torch.build.wanda.yaml
  ci/raydepsets/configs/ci_core.depsets.yaml
  ci/raydepsets/configs/ci_data.depsets.yaml
  python/deplocks/ci/core-build-ci_depset_py3.10.lock
  python/deplocks/ci/core-build-ci_depset_py3.12.lock
  python/deplocks/ci/core-gpu-cu130-build-ci_depset_py3.10.lock
  python/deplocks/ci/core-gpu-cu130-build-ci_depset_py3.12.lock
  python/deplocks/ci/data-base-ci_depset_py3.10.lock
  python/deplocks/ci/data-base-ci_depset_py3.11.lock
  python/deplocks/ci/data-base-ci_depset_py3.12.lock
  python/deplocks/ci/data-mongo-ci_depset_py3.10.lock
  python/deplocks/ci/data-pyarrow-latest-ci_depset_py3.10.lock
  python/deplocks/ci/data-pyarrow-latest-ci_depset_py3.12.lock
  python/deplocks/ci/data-pyarrow-nightly-ci_depset_py3.10.lock
  python/deplocks/ci/data-pyarrow-v17-ci_depset_py3.10.lock
  python/deplocks/ci/ml-build-ci_depset_py3.10.lock
  python/deplocks/ci/ml-build-ci_depset_py3.12.lock
  python/deplocks/ci/relaxed_data-ci_depset_py3.10.lock
  python/deplocks/ci/relaxed_data-ci_depset_py3.12.lock
  python/deplocks/ci/rllib-build-ci_depset_py3.10.lock
  python/deplocks/ci/rllib-build-ci_depset_py3.12.lock
  python/deplocks/docs/doctest_depset_py3.10.lock
  python/requirements/ml/py313/dl-cpu-requirements.txt
  python/requirements_compiled_py3.13.txt
Due: none

removing torchft tags
  .buildkite/ml.rayci.yml
  python/ray/train/v2/BUILD.bazel
Due: none

[Data] Add wide-schema variant to the worker_scaling release test series
  release/nightly_tests/dataset/worker_scaling_benchmark.py
  release/release_data_tests.yaml
Due: docstyle, check-import-order

[Data] Add scheduling-loop avg/max metrics to DatasetStatsSummary
  python/ray/data/_internal/stats.py
  release/nightly_tests/dataset/benchmark.py
Due: docstyle, check-import-order

stage
  doc/source/serve/production-guide/fault-tolerance.md
  python/ray/serve/_private/replica.py
  python/ray/serve/tests/test_direct_ingress.py
  python/ray/serve/tests/test_healthcheck.py
  python/ray/serve/tests/test_regression.py
  python/ray/serve/tests/unit/test_user_callable_wrapper.py
  python/ray/tests/resource_isolation/test_resource_isolation_integration.py
Due: docstyle, check-import-order

removing torch image from test.rules.txt
  .buildkite/test.rules.txt
Due: none

[serve][LLM] use model_id, not remote URI, as cache identifier in VLLMEngineConfig
  python/ray/llm/_internal/serve/engines/vllm/vllm_models.py
Due: docstyle, check-import-order

test and doc
  ci/ray_ci/serve_hap_test_names.txt
  doc/source/serve/monitoring.md
  python/ray/serve/_private/haproxy_metrics.py
  python/ray/serve/tests/test_haproxy_metrics.py
Due: docstyle, check-import-order

lint
  python/ray/serve/_private/haproxy_metrics.py
  python/ray/serve/tests/test_haproxy_metrics.py
Due: docstyle, check-import-order

todo
  src/ray/raylet/local_object_manager.cc
  src/ray/raylet/local_object_manager.h
  src/ray/raylet/tests/local_object_manager_test.cc
Due: check-cpp-files-inclusion

drop unused RetryFreeLocalObjects, add warning log on RPC failure
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker.h
Due: check-cpp-files-inclusion

initial commit for FreeLocalObjects RPC
  src/mock/ray/raylet_client/raylet_client.h
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker.h
  src/ray/core_worker/core_worker_process.cc
  src/ray/core_worker/reference_counter.cc
  src/ray/core_worker/reference_counter.h
  src/ray/core_worker/task_submission/tests/actor_task_submitter_test.cc
  src/ray/core_worker/task_submission/tests/direct_actor_transport_test.cc
  src/ray/core_worker/tests/core_worker_test.cc
  src/ray/core_worker/tests/object_recovery_manager_test.cc
  src/ray/core_worker/tests/reference_counter_test.cc
  src/ray/core_worker/tests/task_manager_test.cc
  src/ray/protobuf/node_manager.proto
  src/ray/raylet/local_object_manager.cc
  src/ray/raylet/local_object_manager.h
  src/ray/raylet/local_object_manager_interface.h
  src/ray/raylet/node_manager.cc
  src/ray/raylet/node_manager.h
  src/ray/raylet/tests/local_object_manager_test.cc
  src/ray/raylet/tests/node_manager_test.cc
  src/ray/raylet_rpc_client/fake_raylet_client.h
  src/ray/raylet_rpc_client/raylet_client.cc
  src/ray/raylet_rpc_client/raylet_client.h
  src/ray/raylet_rpc_client/raylet_client_interface.h
  src/ray/rpc/node_manager/node_manager_server.h
Due: check-cpp-files-inclusion

test
  src/ray/core_worker/actor_management/tests/actor_manager_test.cc
Due: check-cpp-files-inclusion

lint changes
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/reference_counter.cc
  src/ray/core_worker/task_submission/tests/actor_task_submitter_test.cc
  src/ray/core_worker/tests/core_worker_test.cc
  src/ray/core_worker/tests/reference_counter_test.cc
  src/ray/raylet/local_object_manager.cc
  src/ray/raylet/node_manager.h
Due: check-cpp-files-inclusion

[Data] Display logical memory in progress bar resource status
  python/ray/data/_internal/execution/resource_manager.py
  python/ray/data/_internal/execution/streaming_executor.py
Due: docstyle, check-import-order

[Data] Move memory before CPU in progress bar resource display
  python/ray/data/_internal/execution/resource_manager.py
  python/ray/data/_internal/execution/streaming_executor.py
Due: docstyle, check-import-order

[Data] Fix memory ordering: place after CPU, before GPU
  python/ray/data/_internal/execution/resource_manager.py
  python/ray/data/_internal/execution/streaming_executor.py
Due: docstyle, check-import-order

[release] Plumb image_overrides into step.py for pinned-image mode
  release/ray_release/buildkite/step.py
  release/ray_release/tests/test_buildkite.py
Due: docstyle, check-import-order

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
