Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)

fix tests
  python/ray/_private/test_utils.py
  python/ray/tests/BUILD.bazel
  python/ray/tests/test_metric_cardinality.py
  python/ray/tests/test_metrics_agent.py
  python/ray/tests/test_task_metrics.py
  python/ray/tests/test_task_metrics_reconstruction.py
  src/ray/observability/open_telemetry_metric_recorder.cc
  src/ray/stats/stats.h
Due: docstyle, check-import-order, check-cpp-files-inclusion

[Data] Allow `BlockOutputBuffer` to accept nullable output_block_size_option (#56567)
  ci/lint/pydoclint-baseline.txt
  python/ray/data/_internal/output_buffer.py
  python/ray/data/tests/test_dynamic_block_split.py
Due: docstyle, check-import-order

`lint`
  python/ray/data/_internal/execution/operators/limit_operator.py
Due: docstyle, check-import-order

Avoid copying PA blocks in `BlockOutputBuffer`
  python/ray/data/_internal/output_buffer.py
Due: docstyle, check-import-order

Avoid copying blocks in splitter
  python/ray/data/_internal/execution/operators/map_transformer.py
Due: docstyle, check-import-order

Avoid copying in Limit
  python/ray/data/_internal/execution/operators/limit_operator.py
Due: docstyle, check-import-order

updating unit test
  ci/raydepsets/cli.py
  ci/raydepsets/tests/test_cli.py
  ci/raydepsets/tests/test_data/test.depsets.yaml
Due: docstyle, check-import-order

docs: Add note about using `uv run --active` to avoid Python version mismatch errors
  doc/source/ray-core/handling-dependencies.rst
Due: none

[Data][llm] Add chat_template_kwargs as option when building processor (#56490)
  python/ray/data/llm.py
  python/ray/llm/_internal/batch/processor/sglang_engine_proc.py
  python/ray/llm/_internal/batch/processor/vllm_engine_proc.py
  python/ray/llm/_internal/batch/stages/chat_template_stage.py
  python/ray/llm/tests/batch/cpu/stages/test_chat_template_stage.py
Due: docstyle, check-import-order

Enhance documentation on using --active flag with uv run
  doc/source/ray-core/handling-dependencies.rst
Due: none

[Core][Autoscaler] Add `labels` to KubeRay autoscaling config (#56532)
  python/ray/autoscaler/_private/kuberay/autoscaling_config.py
  python/ray/tests/kuberay/test_autoscaling_config.py
Due: docstyle, check-import-order

[Serve] Resolve test_deploy_app.py flakiness (#55721)
  python/ray/serve/_private/application_state.py
Due: docstyle, check-import-order

[Data] Fix a typo (#56587)
  python/ray/data/_internal/execution/autoscaling_requester.py
Due: docstyle, check-import-order

Add parallelism parameter to read_snowflake (#56588)
  python/ray/data/read_api.py
Due: docstyle, check-import-order

[docs] run apt-get update before install for ray debugger (#56579)
  doc/source/ray-observability/ray-distributed-debugger.rst
Due: none

[image] add test rules for image building files (#56554)
  ci/pipeline/test_rules.txt
Due: none

[Core] Update cluster scheduler to handle label selector hard node id constraint (#56235)
  src/ray/common/scheduling/BUILD.bazel
  src/ray/common/scheduling/label_selector.h
  src/ray/core_worker/lease_policy.cc
  src/ray/raylet/scheduling/cluster_lease_manager.cc
  src/ray/raylet/scheduling/cluster_resource_manager.h
  src/ray/raylet/scheduling/cluster_resource_scheduler.h
  src/ray/raylet/scheduling/tests/cluster_resource_scheduler_test.cc
Due: check-cpp-files-inclusion

[ci] disable running release tests that have been long failing (#56561)
  release/release_tests.yaml
Due: none

docs: clarify Ray/Python version matching and --active usage in uv best practices
  doc/source/ray-core/handling-dependencies.rst
Due: none

[core] (cgroups 9/n) end-to-end integration of cgroups with ray start. (#56352)
  .buildkite/core.rayci.yml
  python/ray/_private/services.py
  python/ray/tests/BUILD.bazel
  python/ray/tests/resource_isolation/BUILD
  python/ray/tests/resource_isolation/conftest.py
  python/ray/tests/resource_isolation/test_resource_isolation_config.py
  python/ray/tests/resource_isolation/test_resource_isolation_integration.py
  python/ray/tests/test_cli.py
  python/ray/tests/test_ray_init.py
  src/ray/common/cgroup2/BUILD.bazel
  src/ray/common/cgroup2/cgroup_manager.cc
  src/ray/common/cgroup2/cgroup_manager.h
  src/ray/common/cgroup2/cgroup_manager_interface.h
  src/ray/common/cgroup2/sysfs_cgroup_driver.cc
  src/ray/common/cgroup2/tests/cgroup_manager_test.cc
  src/ray/raylet/BUILD.bazel
  src/ray/raylet/main.cc
  src/ray/raylet/node_manager.cc
  src/ray/raylet/node_manager.h
  src/ray/raylet/tests/BUILD.bazel
  src/ray/raylet/tests/node_manager_test.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

[docs] Add guidance for matching Ray and Python versions with uv environments and --active flag usage
  doc/source/ray-core/handling-dependencies.rst
Due: none

Address comments
  python/ray/data/_expression_evaluator.py
  python/ray/data/tests/test_map.py
Due: docstyle, check-import-order

Fix too high env_steps_sampled/trained
  rllib/core/learner/differentiable_learner.py
  rllib/core/learner/learner.py
  rllib/offline/offline_evaluation_runner.py
Due: docstyle, check-import-order

[core][1eventx/04] node event: send node events to the aggregator (#56426)
  BUILD.bazel
  python/ray/dashboard/modules/aggregator/tests/test_ray_node_events.py
  src/mock/ray/gcs/gcs_node_manager.h
  src/mock/ray/gcs/gcs_resource_manager.h
  src/ray/gcs/BUILD.bazel
  src/ray/gcs/gcs_node_manager.cc
  src/ray/gcs/gcs_node_manager.h
  src/ray/gcs/gcs_server.cc
  src/ray/gcs/tests/BUILD.bazel
  src/ray/gcs/tests/export_api/gcs_node_manager_export_event_test.cc
  src/ray/gcs/tests/gcs_actor_scheduler_mock_test.cc
  src/ray/gcs/tests/gcs_actor_scheduler_test.cc
  src/ray/gcs/tests/gcs_node_manager_test.cc
  src/ray/gcs/tests/gcs_placement_group_scheduler_test.cc
  src/ray/observability/BUILD.bazel
  src/ray/observability/ray_node_definition_event.cc
  src/ray/observability/ray_node_definition_event.h
  src/ray/observability/ray_node_lifecycle_event.cc
  src/ray/observability/ray_node_lifecycle_event.h
  src/ray/protobuf/public/events_node_definition_event.proto
  src/ray/protobuf/public/events_node_lifecycle_event.proto
Due: docstyle, check-import-order, check-cpp-files-inclusion

fix reef test
  ci/ray_ci/test_linux_tester_container.py
Due: docstyle, check-import-order

Clean up code for the chosen solution
  src/ray/gcs/gcs_node_manager.cc
  src/ray/gcs/tests/BUILD.bazel
  src/ray/gcs/tests/gcs_node_manager_bench.cc
  src/ray/protobuf/gcs.proto
  src/ray/raylet/scheduling/cluster_resource_scheduler.h
Due: check-cpp-files-inclusion

moving lock file
  ci/raydepsets/llmexamples.depsets.yaml
  release/ray_release/byod/build.py
  release/ray_release/byod/byod.custom.Dockerfile
  release/ray_release/byod/entity_recognition_with_llms_py311_cu128.lock
  release/ray_release/scripts/custom_byod_build.py
  release/ray_release/test.py
  release/release_tests.yaml
Due: docstyle, check-import-order

updating unit test
  ci/raydepsets/tests/test_cli.py
Due: docstyle, check-import-order

Addressing comments
  src/ray/rpc/retryable_grpc_client.cc
Due: check-cpp-files-inclusion

[core][1eventx/01] add protobuf for driver job event
  python/ray/dashboard/modules/aggregator/tests/test_aggregator_agent.py
Due: docstyle, check-import-order

event recorder interface
  python/ray/dashboard/modules/aggregator/tests/test_aggregator_agent.py
  src/ray/protobuf/common.proto
  src/ray/protobuf/events_driver_job_event.proto
Due: docstyle, check-import-order

[core][1eventx/03] job event: export to Aggregator process
  src/ray/common/asio/periodical_runner.cc
  src/ray/common/asio/periodical_runner.h
  src/ray/protobuf/events_driver_job_event.proto
Due: check-cpp-files-inclusion

[core][1eventx/04] job event: use a separated thread (#55395)
  src/ray/protobuf/events_driver_job_event.proto
Due: none

[core][1eventx/01] add protobuf for driver job event
  src/ray/protobuf/events_driver_job_event.proto
Due: none

event recorder interface
  src/ray/common/asio/periodical_runner.cc
  src/ray/common/asio/periodical_runner.h
Due: check-cpp-files-inclusion

[core][1eventx/01] add protobuf for driver job event
  src/ray/protobuf/common.proto
Due: none

[core][1eventx/04] job event: use a separated thread (#55395)
  BUILD.bazel
Due: none

[core][1eventx/03] job event: export to Aggregator process
  src/ray/protobuf/events_driver_job_event.proto
Due: none

[core][1eventx/04] job event: use a separated thread (#55395)
  src/ray/gcs/BUILD.bazel
  src/ray/observability/ray_event_recorder.h
Due: check-cpp-files-inclusion
