Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

check-train-circular-imports:
  name: Check Ray Train circular imports
  entry: python python/ray/train/lint/check_circular_imports.py
  language: system
  pass_filenames: false
  args:
  - --patch_dir
  - ray/train/v2

Fix: drain unconditionally + route metadata-fetch errors through max_errored_blocks
  python/ray/data/_internal/execution/interfaces/physical_operator.py
  python/ray/data/_internal/execution/metadata_prefetcher.py
  python/ray/data/_internal/execution/streaming_executor_state.py
  python/ray/data/tests/test_streaming_executor.py
  python/ray/data/tests/util.py
Due: docstyle, check-import-order

[serve][llm] Create KvRouter eagerly in KVRouterActor and register workers
  python/ray/llm/_internal/serve/core/server/builder.py
  python/ray/llm/_internal/serve/routing_policies/kv_aware/kv_aware_actor.py
  python/ray/llm/tests/serve/cpu/deployments/routers/test_kv_aware_router.py
  python/ray/llm/tests/serve/cpu/deployments/routers/test_kv_events.py
Due: docstyle, check-import-order

[serve][llm] Publish engine KV events from replicas to the event plane
  python/ray/llm/_internal/serve/engines/vllm/vllm_engine.py
  python/ray/llm/_internal/serve/routing_policies/kv_aware/kv_event_publisher.py
Due: docstyle, check-import-order

[serve][llm] Add ZMQ event broker and Dynamo event plane configuration
  python/ray/llm/_internal/serve/routing_policies/kv_aware/constants.py
  python/ray/llm/_internal/serve/routing_policies/kv_aware/kv_event_broker.py
  python/ray/llm/_internal/serve/routing_policies/kv_aware/kv_event_plane.py
  python/ray/llm/tests/serve/cpu/deployments/routers/test_kv_events.py
Due: docstyle, check-import-order

[serve][llm] Add GPU test exercising KV event emission and consumption
  python/ray/llm/tests/BUILD.bazel
  python/ray/llm/tests/serve/gpu/integration/test_kv_events.py
Due: docstyle, check-import-order

[serve][llm] Ship worker discovery records to the router for recovery
  python/ray/llm/_internal/serve/routing_policies/kv_aware/constants.py
  python/ray/llm/_internal/serve/routing_policies/kv_aware/kv_aware_actor.py
  python/ray/llm/_internal/serve/routing_policies/kv_aware/kv_event_plane.py
  python/ray/llm/tests/serve/cpu/deployments/routers/test_kv_events.py
Due: docstyle, check-import-order

[serve][llm] Enable engine KV events for KVAwareRouter deployments
  python/ray/llm/_internal/serve/core/server/builder.py
  python/ray/llm/_internal/serve/engines/vllm/vllm_engine.py
  python/ray/llm/_internal/serve/routing_policies/kv_aware/constants.py
  python/ray/llm/_internal/serve/routing_policies/kv_aware/kv_events.py
  python/ray/llm/tests/serve/cpu/deployments/routers/test_kv_events.py
Due: docstyle, check-import-order

[serve][llm] Use KvRouter.add_worker; drop KV discovery-record relay
  python/ray/llm/_internal/serve/routing_policies/kv_aware/constants.py
  python/ray/llm/_internal/serve/routing_policies/kv_aware/kv_aware_actor.py
  python/ray/llm/_internal/serve/routing_policies/kv_aware/kv_event_plane.py
  python/ray/llm/_internal/serve/routing_policies/kv_aware/kv_event_publisher.py
  python/ray/llm/tests/serve/cpu/deployments/routers/test_kv_events.py
Due: docstyle, check-import-order

[serve][llm] Pass request token IDs into choose_replica from LLMRouter
  python/ray/llm/_internal/serve/core/ingress/builder.py
  python/ray/llm/_internal/serve/core/ingress/router.py
  python/ray/llm/tests/serve/cpu/deployments/routers/test_router.py
Due: docstyle, check-import-order

[serve][llm] Add CPU tests for pre-routing tokenization
  python/ray/llm/tests/serve/cpu/deployments/routers/test_tokenizer.py
Due: docstyle, check-import-order

[serve][llm] Add Tokenizer that tokenizes requests via replica /tokenize
  python/ray/llm/_internal/serve/core/ingress/tokenizer.py
Due: docstyle, check-import-order

[serve][llm] KV-aware scoring: route via KvRouter.select_worker
  python/ray/llm/_internal/serve/routing_policies/kv_aware/kv_aware_actor.py
  python/ray/llm/_internal/serve/routing_policies/kv_aware/kv_aware_router.py
  python/ray/llm/tests/serve/cpu/deployments/routers/test_kv_events.py
Due: docstyle, check-import-order

Guard worker crash error reporting during task execution
  python/ray/_raylet.pyx
Due: none

docs(serve): fix RequestRouterConfig stats docstring to reference record_routing_stats
  python/ray/serve/config.py
Due: docstyle, check-import-order

docs(serve): fix RequestRouterConfig stats docstring to reference record_routing_stats (#64086)
  python/ray/serve/config.py
Due: docstyle, check-import-order

[data] Thread per-actor placement group config through map_batches plumbing
  doc/source/data/api/dataset.rst
  python/ray/data/_internal/execution/operators/map_operator.py
  python/ray/data/_internal/logical/operators/map_operator.py
  python/ray/data/_internal/logical/rules/operator_fusion.py
  python/ray/data/_internal/planner/plan_udf_map_op.py
  python/ray/data/_internal/util.py
  python/ray/data/context.py
  python/ray/data/dataset.py
Due: docstyle, check-import-order

[data] Make ActorPoolMapOperator own per-actor placement group lifecycle and accounting
  python/ray/data/_internal/execution/operators/actor_pool_map_operator.py
Due: docstyle, check-import-order

[data] Test placement group lifecycle, accounting, validation, fusion, and failures
  python/ray/data/tests/test_actor_pool_map_operator.py
Due: docstyle, check-import-order

apply obs filters in compute_single_action()
  rllib/algorithms/algorithm.py
Due: docstyle, check-import-order

linto!
  rllib/algorithms/algorithm.py
Due: docstyle, check-import-order

lint, take 2
  rllib/algorithms/algorithm.py
Due: docstyle, check-import-order

Minor edits
  python/ray/data/dataset.py
  python/ray/data/tests/test_actor_pool_map_operator.py
Due: docstyle, check-import-order

address pr review feedback
  doc/source/train/user-guides/cross-validation.md
  doc/source/train/user-guides/cross-validation.rst
  python/ray/train/BUILD.bazel
  python/ray/train/cross_validation/cross_validate.py
  python/ray/train/cross_validation/kfold/_hashbased.py
  python/ray/train/cross_validation/kfold/grouped_kfold_splitter.py
  python/ray/train/cross_validation/kfold/kfold_splitter.py
  python/ray/train/cross_validation/kfold/stratified_kfold_splitter.py
  python/ray/train/cross_validation/time_series_splitter.py
  python/ray/train/tests/test_cross_validate_smoke.py
  python/ray/train/tests/test_cross_validation.py
  python/ray/train/tests/test_splitters_integration.py
  python/ray/train/tests/test_time_series_splitter.py
Due: docstyle, check-import-order, check-train-circular-imports

Fix vLLM engine placement group leak via ray data native map_batches with PG API
  python/ray/llm/_internal/batch/processor/base.py
  python/ray/llm/_internal/batch/stages/vllm_engine_stage.py
  python/ray/llm/tests/batch/gpu/processor/test_vllm_engine_proc.py
  python/ray/llm/tests/batch/gpu/stages/test_vllm_engine_stage.py
  release/llm_tests/batch/test_batch_vllm.py
Due: docstyle, check-import-order

Minor style edits
  python/ray/llm/_internal/batch/processor/base.py
Due: docstyle, check-import-order

materialize unconditionally in time series splitter and add __main__ guards to tests
  doc/source/train/user-guides/cross-validation.md
  python/ray/train/cross_validation/time_series_splitter.py
  python/ray/train/tests/test_cross_validate_functional.py
  python/ray/train/tests/test_cross_validate_smoke.py
  python/ray/train/tests/test_cross_validation.py
  python/ray/train/tests/test_grouped_kfold_splitter.py
  python/ray/train/tests/test_kfold_splitter.py
  python/ray/train/tests/test_stratified_kfold_splitter.py
  python/ray/train/tests/test_time_series_splitter.py
Due: docstyle, check-import-order, check-train-circular-imports

logs for testing
  .buildkite/core.rayci.yml
Due: none

Prefetcher: make the fallback wait a pure park, batch the harvest
  python/ray/data/_internal/execution/metadata_prefetcher.py
Due: docstyle, check-import-order

Prefetcher: collapse to a single ray.wait in the fetch loop
  python/ray/data/_internal/execution/metadata_prefetcher.py
Due: docstyle, check-import-order

more logs
  .buildkite/core.rayci.yml
Due: none

[Serve][LLM] Support concurrent streaming in SGLang completions() endpoint
  python/ray/llm/_internal/serve/engines/sglang/sglang_engine.py
  python/ray/llm/tests/serve/cpu/deployments/test_sglang_server.py
Due: docstyle, check-import-order

[Serve][LLM] Await cancelled background streaming tasks in completions() finally block
  python/ray/llm/_internal/serve/engines/sglang/sglang_engine.py
Due: docstyle, check-import-order

[Train] Preemption-aware worker lifecycle for Ray Train v2
  python/ray/train/__init__.py
  python/ray/train/v2/_internal/callbacks/preemption_callback.py
  python/ray/train/v2/_internal/constants.py
  python/ray/train/v2/_internal/execution/context.py
  python/ray/train/v2/_internal/execution/controller/controller.py
  python/ray/train/v2/_internal/execution/controller/state.py
  python/ray/train/v2/_internal/execution/failure_handling/default.py
  python/ray/train/v2/_internal/execution/preemption.py
  python/ray/train/v2/_internal/execution/worker_group/poll.py
  python/ray/train/v2/_internal/execution/worker_group/worker.py
  python/ray/train/v2/api/config.py
  python/ray/train/v2/api/context.py
  python/ray/train/v2/api/exceptions.py
  python/ray/train/v2/api/train_fn_utils.py
  python/ray/train/v2/tests/preemption_integration_demo.py
  python/ray/train/v2/tests/test_preemption_unit.py
Due: docstyle, check-import-order, check-train-circular-imports

Self-review round 1
  python/ray/llm/_internal/serve/routing_policies/kv_aware/constants.py
  python/ray/llm/_internal/serve/routing_policies/kv_aware/kv_aware_actor.py
  python/ray/llm/_internal/serve/routing_policies/kv_aware/kv_event_plane.py
  python/ray/llm/tests/serve/cpu/deployments/routers/test_kv_aware_router.py
  python/ray/llm/tests/serve/cpu/deployments/routers/test_kv_events.py
  python/ray/llm/tests/serve/gpu/integration/test_kv_events.py
Due: docstyle, check-import-order

Revert "Prefetcher: collapse to a single ray.wait in the fetch loop"
  python/ray/data/_internal/execution/metadata_prefetcher.py
Due: docstyle, check-import-order

Add ai-dynamo deps
  python/deplocks/llm/rayllm_py312_cpu.lock
  python/deplocks/llm/rayllm_py312_cu130.lock
  python/deplocks/llm/rayllm_test_py312_cpu.lock
  python/deplocks/llm/rayllm_test_py312_cu130.lock
  python/requirements/llm/llm-requirements.txt
  python/requirements_compiled.txt
Due: none

Sanity check dynamo is importable
  ci/docker/llm.build.Dockerfile
  docker/ray-llm/Dockerfile
Due: none

Set _quiescing on SlotReservationActor test fake
  python/ray/serve/tests/test_actor_replica_wrapper.py
Due: docstyle, check-import-order

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
