Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

format
  release/ray_release/byod/build.py
  release/ray_release/scripts/build_pipeline.py
Due: docstyle, check-import-order

fix
  release/train_tests/benchmark/image_classification/localfs_image_classification_jpeg/factory.py
Due: docstyle, check-import-order

typo
  release/train_tests/benchmark/image_classification/localfs_image_classification_jpeg/factory.py
Due: docstyle, check-import-order

wip
  python/ray/llm/_internal/batch/stages/sglang_engine_stage.py
  release/ray_release/byod/byod_llm_sglang_test.sh
Due: docstyle, check-import-order

lint
  release/ray_release/byod/build.py
Due: docstyle, check-import-order

wip
  python/ray/llm/_internal/batch/stages/sglang_engine_stage.py
Due: docstyle, check-import-order

add payloaderror exception
  python/ray/llm/_internal/batch/stages/http_request_stage.py
Due: docstyle, check-import-order

[data.dashboard.x][03] improve computation of generated blocks
  python/ray/data/_internal/execution/interfaces/op_runtime_metrics.py
  python/ray/data/_internal/stats.py
  python/ray/data/tests/test_stats.py
Due: docstyle, check-import-order

Add iwyu exmaple
  .bazelrc
  BUILD.bazel
  ci/iwyu/BUILD.bazel
  ci/iwyu/iwyu_test.cc
  ci/run/iwyu.sh
Due: none

[core][autoscaler][v1] prune IPs from the LoadMetrics after terminating nodes
  python/ray/autoscaler/_private/autoscaler.py
  python/ray/tests/test_autoscaler.py
Due: docstyle, check-import-order

fix
  python/ray/tune/examples/lightgbm_example.py
Due: docstyle, check-import-order

up
  python/ray/tests/test_streaming_generator_2.py
Due: docstyle, check-import-order

rewrite download
  release/train_tests/benchmark/image_classification/localfs_image_classification_jpeg/download_input_data_from_s3.sh
Due: none

remove
  python/ray/1.py
Due: docstyle, check-import-order

[RLlib] Better handling of tensors in `MetricsLogger` and `Stats`. (#52334)
  rllib/algorithms/marwil/tests/test_marwil.py
  rllib/core/learner/differentiable_learner.py
  rllib/core/learner/learner.py
  rllib/core/learner/tf/tf_learner.py
  rllib/core/learner/torch/torch_differentiable_learner.py
  rllib/core/learner/torch/torch_learner.py
  rllib/core/learner/torch/torch_meta_learner.py
  rllib/utils/metrics/metrics_logger.py
  rllib/utils/metrics/stats.py
Due: docstyle, check-import-order

[test] OOM test fixed by large instance
  .buildkite/core.rayci.yml
  .buildkite/serve.rayci.yml
Due: none

[Data][doc] Update on ray.data.Dataset.map() type hints
  python/ray/data/block.py
  python/ray/data/dataset.py
Due: docstyle, check-import-order

chore(doc): fix docs for Ray data vectorizers
  doc/source/data/api/preprocessor.rst
Due: none

chore(doc): update vocab
  .vale/styles/config/vocabularies/Data/accept.txt
Due: none

feat(data): Add on_error and error_handler to map_batches
  python/ray/data/_internal/execution/operators/actor_pool_map_operator.py
  python/ray/data/_internal/execution/operators/map_operator.py
  python/ray/data/_internal/execution/operators/map_transformer.py
  python/ray/data/_internal/execution/operators/task_pool_map_operator.py
  python/ray/data/_internal/logical/operators/map_operator.py
  python/ray/data/dataset.py
Due: docstyle, check-import-order

[core][autoscaler] always add `Total` to ray status section titles
  python/ray/autoscaler/v2/utils.py
Due: docstyle, check-import-order

Fix: Use specific targets instead of broad dependencies
  src/ray/gcs/BUILD.bazel
  src/ray/gcs/pubsub/BUILD.bazel
Due: none

Revert "Ray Train Test: Enable shard locality option (#52116)"
  release/train_tests/benchmark/config.py
  release/train_tests/benchmark/train_benchmark.py
Due: docstyle, check-import-order

Revert "[Data] Properly shutdown executor after fetching schema (#52379)"
  python/ray/data/_internal/execution/interfaces/executor.py
  python/ray/data/_internal/execution/interfaces/physical_operator.py
  python/ray/data/_internal/execution/legacy_compat.py
  python/ray/data/_internal/execution/operators/map_operator.py
  python/ray/data/_internal/execution/operators/task_pool_map_operator.py
  python/ray/data/_internal/execution/streaming_executor.py
  python/ray/data/_internal/iterator/iterator_impl.py
  python/ray/data/_internal/plan.py
  python/ray/data/dataset.py
  python/ray/data/tests/test_dynamic_block_split.py
  python/ray/data/tests/test_size_estimation.py
Due: docstyle, check-import-order

fix
  src/ray/core_worker/transport/normal_task_submitter.cc
Due: check-cpp-files-inclusion

Cluster task manager changes
  src/ray/raylet/scheduling/cluster_task_manager.cc
  src/ray/raylet/scheduling/cluster_task_manager.h
  src/ray/raylet/scheduling/internal.h
  src/ray/util/container_util.h
Due: check-cpp-files-inclusion

[deps] upgrade lightgbm to 4.6.0 (#52410)
  python/ray/train/lightgbm/lightgbm_checkpoint.py
  python/ray/train/lightgbm/lightgbm_predictor.py
  python/ray/tune/examples/lightgbm_example.py
  python/requirements/ml/core-requirements.txt
  python/requirements_compiled.txt
  release/ray_release/byod/requirements_byod_3.9.txt
Due: docstyle, check-import-order

fix comment
  src/ray/common/cgroup/cgroup_setup.cc
Due: check-cpp-files-inclusion

normal_task_submitter changes
  src/ray/core_worker/transport/normal_task_submitter.cc
  src/ray/core_worker/transport/normal_task_submitter.h
Due: check-cpp-files-inclusion

fix for cpp test
  src/ray/common/task/task_util.h
Due: check-cpp-files-inclusion

Get priority from python to cpp
  python/ray/_private/ray_option_utils.py
  python/ray/_raylet.pyx
  python/ray/includes/common.pxd
  python/ray/remote_function.py
  src/ray/common/task/task_util.h
  src/ray/core_worker/common.h
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/transport/normal_task_submitter.cc
  src/ray/protobuf/common.proto
Due: docstyle, check-import-order, check-cpp-files-inclusion

[test] fixed OOM failure of ray core wheel test
  .buildkite/core.rayci.yml
Due: none

update rules-proto-grpc from before 1.0 to 4.6.0
  bazel/ray_deps_setup.bzl
  java/BUILD.bazel
  src/ray/protobuf/BUILD
Due: none

[core] add more context on logs
  src/ray/core_worker/actor_manager.cc
  src/ray/core_worker/common.cc
  src/ray/core_worker/context.cc
Due: check-cpp-files-inclusion

[chore][core] Reformatted changed files
  src/ray/core_worker/actor_manager.cc
  src/ray/core_worker/common.cc
Due: check-cpp-files-inclusion

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)
