Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)

[train][tests] Abort cancels validation tasks and has deterministic behavior
  python/ray/train/v2/_internal/execution/checkpoint/validation_manager.py
  python/ray/train/v2/tests/test_async_checkpointing_validation.py
Due: docstyle, check-import-order, check-train-circular-imports

upstream before_controller_abort changes
  python/ray/train/v2/_internal/execution/callback.py
  python/ray/train/v2/_internal/execution/controller/controller.py
  python/ray/train/v2/tests/test_controller.py
Due: docstyle, check-import-order, check-train-circular-imports

[docs] profiling: include legacy RAYLET_PERFTOOLS env aliases
  doc/source/ray-contribute/profiling.rst
Due: none

core[events]: add bundle placements to placement group lifecycle proto
  src/ray/protobuf/public/events_placement_group_lifecycle_event.proto
Due: none

[docs] Fix Ray Tune import count in CIFAR example
  doc/source/tune/examples/tune-pytorch-cifar.ipynb
Due: none

[deps][ci] Introduce py312 + cuda13 depsets (#61496)
  .buildkite/_images.rayci.yml
  .buildkite/build.rayci.yml
  .buildkite/llm.rayci.yml
  .buildkite/release/build.rayci.yml
  ci/docker/llm.build.wanda.yaml
  ci/raydepsets/configs/llm_release_tests.depsets.yaml
  ci/raydepsets/configs/rayimg.depsets.yaml
  ci/raydepsets/configs/rayllm.depsets.yaml
  docker/ray-llm/Dockerfile
  docker/ray-llm/cuda.wanda.yaml
  python/deplocks/base_extra_testdeps/ray-llm-base_extra_testdeps_py3.12.lock
  python/deplocks/llm/ray_py312_cu130.lock
  python/deplocks/llm/ray_test_py312_cu130.lock
  python/deplocks/llm/rayllm_py312_cu130.lock
  python/deplocks/llm/rayllm_subset_py312_cu130.lock
  python/deplocks/llm/rayllm_test_py312_cu130.lock
  release/ray_release/byod/llm_batch/llm_batch_single_node_benchmark_py312_cu130.lock
Due: none

core[gcs]: emit PREPARED placement group lifecycle events
  src/ray/gcs/gcs_placement_group_manager.cc
  src/ray/gcs/gcs_placement_group_scheduler.cc
  src/ray/gcs/gcs_placement_group_scheduler.h
Due: check-cpp-files-inclusion

core[events]: populate PREPARED bundle placements from bundle node_id
  src/ray/observability/ray_placement_group_lifecycle_event.cc
Due: check-cpp-files-inclusion

core[tests]: cover PREPARED emission and bundle placement payload
  src/ray/gcs/tests/gcs_placement_group_manager_mock_test.cc
  src/ray/gcs/tests/gcs_placement_group_manager_test.cc
  src/ray/observability/tests/ray_placement_group_event_test.cc
Due: check-cpp-files-inclusion

fix lint
  src/ray/gcs/gcs_placement_group_scheduler.cc
  src/ray/gcs/tests/gcs_placement_group_manager_mock_test.cc
  src/ray/gcs/tests/gcs_placement_group_manager_test.cc
Due: check-cpp-files-inclusion

improve comment
  src/ray/protobuf/public/events_placement_group_lifecycle_event.proto
Due: none

[Serve] Add missing tracing attributes to gRPC client/bidi streaming paths (#61451)
  python/ray/serve/_private/proxy.py
  python/ray/serve/tests/test_tracing_utils.py
Due: docstyle, check-import-order

docs(serve): add bidirectional speech-to-text example link
  doc/source/serve/examples.yml
Due: none

release memory on abort/failures/garbage collection
  python/ray/experimental/gpu_object_manager/uccl_tensor_transport.py
Due: docstyle, check-import-order

temp
  python/ray/experimental/gpu_object_manager/util.py
  python/ray/tests/gpu_objects/test_gpu_objects_uccl.py
Due: docstyle, check-import-order

[serve][5/n] Gang scheduling -- downscaling (#61215)
  python/ray/serve/_private/deployment_scheduler.py
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/tests/test_cli.py
  python/ray/serve/tests/test_config_files/gang_scheduling.py
  python/ray/serve/tests/test_config_files/gang_scheduling_2_replicas.yaml
  python/ray/serve/tests/test_config_files/gang_scheduling_4_replicas.yaml
  python/ray/serve/tests/test_gang_scheduling.py
  python/ray/serve/tests/unit/test_deployment_state.py
Due: docstyle, check-import-order

[serve] Fix async __init__ silently discarded in @serve.ingress wrapper (#61490)
  python/ray/serve/api.py
  python/ray/serve/tests/test_api.py
Due: docstyle, check-import-order

[Data]Support dense union arrays in ray custom arrow serialization
  python/ray/_private/arrow_serialization.py
  python/ray/data/tests/test_arrow_serialization.py
Due: docstyle, check-import-order

fix checkstyle
  python/ray/_private/arrow_serialization.py
Due: docstyle, check-import-order

[data] Surface Arrow serialization errors in tests for dense unions
  python/ray/_private/arrow_serialization.py
Due: docstyle, check-import-order

fix ut
  python/ray/data/tests/test_arrow_serialization.py
Due: docstyle, check-import-order

[Serve] Skip sending autoscaling metric when previous one is in flight
  python/ray/serve/_private/constants.py
  python/ray/serve/_private/controller.py
  python/ray/serve/_private/replica.py
  python/ray/serve/_private/router.py
Due: docstyle, check-import-order

update comment
  python/ray/serve/_private/replica.py
  python/ray/serve/_private/router.py
Due: docstyle, check-import-order

[Data] Support non-mutating add_transform_fns and use it for limit wrapping
  python/ray/data/_internal/execution/operators/map_operator.py
  python/ray/data/_internal/execution/operators/map_transformer.py
Due: docstyle, check-import-order

[Serve] Add unit tests for NodePortManager (#61491)
  python/ray/serve/tests/unit/test_node_port_manager.py
Due: docstyle, check-import-order

Allow matching worker_process_setup_hook on re-entry
  python/ray/_private/function_manager.py
  python/ray/_private/runtime_env/setup_hook.py
  python/ray/tests/test_runtime_env_setup_func.py
Due: docstyle, check-import-order

Fixed to bugs in paths.
  rllib/algorithms/bc/tests/test_bc.py
Due: docstyle, check-import-order

add test
  ci/ray_ci/serve_hap_test_names.txt
Due: none

conftest with test modifs : some errors are expected for testing behavior
  python/ray/data/tests/conftest.py
  python/ray/data/tests/test_arrow_block.py
  python/ray/data/tests/test_transform_pyarrow.py
Due: docstyle, check-import-order

add some comments
  python/ray/data/_internal/cluster_autoscaler/default_autoscaling_coordinator.py
Due: docstyle, check-import-order

code assist fixes : some erorrs are expected for behavior verification
  python/ray/data/tests/conftest.py
Due: docstyle, check-import-order

conftest with test modifs : some errors are expected for testing behavior
  python/ray/data/tests/conftest.py
Due: docstyle, check-import-order

conftest with test modifs : some errors are expected for testing behavior
  python/ray/data/tests/conftest.py
  python/ray/data/tests/test_arrow_block.py
Due: docstyle, check-import-order

check if wrong mark : some errors expected for CI
  python/ray/data/tests/conftest.py
Due: docstyle, check-import-order

[docs][data] add RAG debugging checklist link to LLM troubleshooting (#61228)
  doc/source/data/working-with-llms.rst
Due: none

[docs] add Raylet-prefixed perftools env vars
  doc/source/ray-contribute/profiling.rst
Due: none

feat: scale down non matching primary labels first
  python/ray/serve/_private/deployment_scheduler.py
Due: docstyle, check-import-order

fix: fix logic
  python/ray/serve/_private/deployment_scheduler.py
Due: docstyle, check-import-order

initial
  rllib/env/multi_agent_env_runner.py
  rllib/env/single_agent_env_runner.py
Due: docstyle, check-import-order

fix: correct typo prom_addreses -> prom_addresses
  python/ray/_common/test_utils.py
Due: docstyle, check-import-order
