Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

check-train-circular-imports:
  name: Check Ray Train circular imports
  entry: python python/ray/train/lint/check_circular_imports.py
  language: system
  pass_filenames: false
  args:
  - --patch_dir
  - ray/train/v2

fix
  src/ray/core_worker/task_execution/ordered_actor_task_execution_queue.cc
  src/ray/core_worker/task_execution/ordered_actor_task_execution_queue.h
Due: check-cpp-files-inclusion

fix
  src/ray/core_worker/task_execution/ordered_actor_task_execution_queue.cc
Due: check-cpp-files-inclusion

[core] Add debugging logs related to pinned argument size limit (#60175)
  src/ray/raylet/local_lease_manager.cc
Due: check-cpp-files-inclusion

[rllib] Remove learner state warnings
  rllib/algorithms/impala/impala_learner.py
Due: docstyle, check-import-order

[Serve] Add gRPC inter-deployment communication (#59908)
  .buildkite/serve.rayci.yml
  ci/lint/pydoclint-baseline.txt
  python/ray/serve/_private/common.py
  python/ray/serve/_private/constants.py
  python/ray/serve/_private/default_impl.py
  python/ray/serve/_private/handle_options.py
  python/ray/serve/_private/proxy.py
  python/ray/serve/_private/replica.py
  python/ray/serve/_private/replica_result.py
  python/ray/serve/_private/request_router/replica_wrapper.py
  python/ray/serve/_private/serialization.py
  python/ray/serve/_private/utils.py
  python/ray/serve/handle.py
  python/ray/serve/tests/BUILD.bazel
  python/ray/serve/tests/test_grpc_e2e.py
  python/ray/serve/tests/test_grpc_replica_wrapper.py
  python/ray/serve/tests/test_handle_2.py
  python/ray/serve/tests/test_regression.py
  python/ray/serve/tests/test_telemetry_1.py
  python/ray/serve/tests/unit/test_grpc_replica_result.py
  src/ray/protobuf/serve.proto
Due: docstyle, check-import-order

fixing breakage due to merge
  src/ray/gcs/BUILD.bazel
Due: none

refactor: clarify encoding selection
  python/ray/data/_internal/logging.py
Due: docstyle, check-import-order

fix: default ray data log encoding to utf-8 on windows
  python/ray/data/_internal/logging.py
  python/ray/data/tests/test_logging.py
Due: docstyle, check-import-order

update
  .github/CODEOWNERS
Due: none

[rllib] Add CartPole HPO example
  rllib/examples/ray_tune/cartpole_hyperopt.py
Due: docstyle, check-import-order

Update src/ray/core_worker/task_execution/unordered_actor_task_execution_queue.h
  src/ray/core_worker/task_execution/unordered_actor_task_execution_queue.h
Due: check-cpp-files-inclusion

refactor using utils
  python/ray/data/preprocessors/scaler.py
Due: docstyle, check-import-order

[Data] Disable ConcurrencyCap Backpressure policy by default (#59788)
  python/ray/data/context.py
Due: docstyle, check-import-order

Update documentation
  rllib/examples/ray_tune/cartpole_hyperopt.py
Due: docstyle, check-import-order

[Data][LLM] Add should_continue_on_error support for ServeDeploymentStage (#59395)
  python/ray/llm/_internal/batch/processor/serve_deployment_proc.py
  python/ray/llm/_internal/batch/stages/base.py
  python/ray/llm/_internal/batch/stages/common.py
  python/ray/llm/_internal/batch/stages/serve_deployment_stage.py
  python/ray/llm/_internal/batch/stages/vllm_engine_stage.py
  python/ray/llm/tests/batch/gpu/processor/test_serve_deployment_proc.py
  python/ray/llm/tests/batch/gpu/stages/test_serve_deployment_stage.py
Due: docstyle, check-import-order

fix
  src/ray/core_worker/task_execution/BUILD.bazel
  src/ray/core_worker/task_execution/actor_task_execution_queue_interface.h
Due: check-cpp-files-inclusion

fix
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/task_execution/scheduling_util.cc
  src/ray/core_worker/task_execution/scheduling_util.h
Due: check-cpp-files-inclusion

fix
  src/ray/core_worker/task_execution/scheduling_util.cc
Due: check-cpp-files-inclusion

fix
  src/ray/core_worker/core_worker.cc
Due: check-cpp-files-inclusion

addressed comments
  doc/source/train/examples.yml
  doc/source/train/examples/jax/intro_to_jax_trainer/README.ipynb
Due: none

convert new README.md
  doc/source/train/examples/jax/intro_to_jax_trainer/README.md
Due: none

fix
  doc/source/cluster/images/ray-job-diagram.png
Due: none

Fix typo in README
  doc/source/serve/tutorials/video-analysis/README.md
Due: none

Update README.ipynb
  doc/source/serve/tutorials/video-analysis/README.ipynb
Due: none

Update README.md
  doc/source/serve/tutorials/video-analysis/README.md
Due: none

Remove comments and replace warning with debug
  rllib/algorithms/impala/impala_learner.py
Due: docstyle, check-import-order

Remove `ray-docs` from code ownership of library documentation (#60179)
  .github/CODEOWNERS
Due: none

[Release] Replace deprecated AnyscaleSDK with job API in LLM tests
  release/llm_tests/serve/run_llm_serve_test_and_bms.py
  release/llm_tests/serve/test_utils.py
Due: docstyle, check-import-order

device
  python/ray/experimental/gpu_object_manager/cuda_ipc_transport.py
Due: docstyle, check-import-order

[docs][data][llm] Batch inference docs reorg + update to reflect per-stage config refactor (#59214)
  .vale/styles/config/vocabularies/Data/accept.txt
  doc/source/data/api/llm.rst
  doc/source/data/doc_code/working-with-llms/basic_llm_example.py
  doc/source/data/doc_code/working-with-llms/classification_example.py
  doc/source/data/doc_code/working-with-llms/embedding_example.py
  doc/source/data/doc_code/working-with-llms/vlm_image_example.py
  doc/source/data/working-with-llms.rst
Due: none

add to jax/flax to allowed framework
  doc/source/custom_directives.py
Due: none

fix review
  python/ray/_private/runtime_env/packaging.py
Due: docstyle, check-import-order

Update python/ray/serve/_private/controller.py
  python/ray/serve/_private/controller.py
Due: docstyle, check-import-order

Fix incorrect error message in autoscaler for on-prem clusters
  python/ray/autoscaler/_private/local/config.py
Due: docstyle, check-import-order

fix model registry mlflow example link
  doc/source/serve/examples.yml
Due: none

[Serve] Add direct ingress support for Ray Serve
  python/ray/serve/_private/constants.py
  python/ray/serve/_private/controller.py
  python/ray/serve/_private/direct_ingress_http_util.py
  python/ray/serve/_private/node_port_manager.py
  python/ray/serve/_private/replica.py
  python/ray/serve/_private/replica_response_generator.py
  python/ray/serve/schema.py
  python/ray/serve/tests/BUILD.bazel
  python/ray/serve/tests/test_direct_ingress.py
  python/ray/serve/tests/test_direct_ingress_standalone.py
  python/ray/serve/tests/unit/BUILD.bazel
  python/ray/serve/tests/unit/test_controller_direct_ingress.py
Due: docstyle, check-import-order

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
