Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)

fix tests
  python/ray/_private/utils.py
  python/ray/_private/worker.py
  python/ray/tests/test_signal_e2e.py
  python/ray/tests/test_unified_signal_handlers.py
Due: docstyle, check-import-order

deprecate subreaper usage and do pg cleanup on worker death
  src/ray/core_worker/core_worker_process.cc
  src/ray/raylet/main.cc
  src/ray/raylet/node_manager.cc
  src/ray/raylet/worker_pool.cc
  src/ray/util/process.cc
  src/ray/util/process.h
Due: check-cpp-files-inclusion

process group cleaner falg plumbing
  src/ray/common/ray_config_def.h
  src/ray/raylet/main.cc
  src/ray/util/process.cc
  src/ray/util/process.h
Due: check-cpp-files-inclusion

update docs ad PG cleanup on Raylet stop
  doc/source/ray-core/user-spawn-processes.rst
  src/ray/raylet/node_manager.cc
Due: check-cpp-files-inclusion

add process spawn pg test
  src/ray/util/tests/BUILD.bazel
  src/ray/util/tests/process_spawn_pg_test.cc
Due: check-cpp-files-inclusion

update python kill subprocess tests
  python/ray/tests/test_kill_subprocesses.py
Due: docstyle, check-import-order

fix format
  python/ray/tests/test_kill_subprocesses.py
  src/ray/raylet/worker_pool.cc
  src/ray/util/process.cc
  src/ray/util/tests/process_spawn_pg_test.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

Fix record_request_metrics_for_replica condition
  python/ray/serve/_private/autoscaling_state.py
Due: docstyle, check-import-order

remove subreaper log from raylet
  src/ray/raylet/main.cc
  src/ray/util/tests/BUILD.bazel
Due: check-cpp-files-inclusion

copying lock file in byod custom image
  docker/ray-llm/cuda.wanda.yaml
  release/ray_release/byod/byod.custom.Dockerfile
  release/ray_release/byod/byod_e2e_audio.sh
Due: none

Add hf trainer support for dictionary of datasets
  python/ray/train/huggingface/transformers/_transformers_utils.py
Due: docstyle, check-import-order

Lint file
  python/ray/train/huggingface/transformers/_transformers_utils.py
Due: docstyle, check-import-order

Add tests
  python/ray/train/tests/test_torch_transformers_train.py
  python/ray/train/v2/tests/test_torch_transformers_train.py
Due: docstyle, check-import-order

Lint files
  python/ray/train/tests/test_torch_transformers_train.py
  python/ray/train/v2/tests/test_torch_transformers_train.py
Due: docstyle, check-import-order

[core] Remove perf test in `shutdown_coordinator_test` (#56033)
  src/ray/core_worker/tests/shutdown_coordinator_test.cc
Due: check-cpp-files-inclusion

[core] Turn off -wshadow for tests (#56030)
  bazel/ray.bzl
  src/ray/core_worker/task_submission/tests/normal_task_submitter_test.cc
  src/ray/core_worker/tests/memory_store_test.cc
  src/ray/core_worker/tests/task_manager_test.cc
  src/ray/gcs/gcs_client/tests/gcs_client_test.cc
  src/ray/gcs/gcs_server/tests/export_api/gcs_actor_manager_export_event_test.cc
  src/ray/gcs/gcs_server/tests/gcs_actor_manager_test.cc
  src/ray/object_manager/plasma/tests/object_store_test.cc
Due: check-cpp-files-inclusion

Addressing pytest failure
  src/ray/object_manager/object_manager.cc
Due: check-cpp-files-inclusion

stop ray instance in serve test logging
  python/ray/serve/tests/test_logging.py
Due: docstyle, check-import-order

[docs] Batch inference for embedding models in ray data (#56027)
  doc/source/data/working-with-llms.rst
Due: none

[serve] use shutdown async for microbenchmark cleanup (#56013)
  release/serve_tests/workloads/microbenchmarks.py
Due: docstyle, check-import-order

[core] Split `gcs_autoscaler_state_manager` out from `gcs_server_lib` (#56053)
  src/ray/gcs/gcs_server/BUILD.bazel
  src/ray/gcs/gcs_server/gcs_autoscaler_state_manager.cc
  src/ray/gcs/gcs_server/gcs_autoscaler_state_manager.h
  src/ray/gcs/gcs_server/gcs_server.cc
  src/ray/gcs/gcs_server/gcs_task_manager.h
  src/ray/gcs/gcs_server/grpc_service_interfaces.h
  src/ray/gcs/gcs_server/grpc_services.cc
  src/ray/gcs/gcs_server/grpc_services.h
  src/ray/gcs/gcs_server/tests/BUILD.bazel
  src/ray/gcs/gcs_server/tests/gcs_autoscaler_state_manager_test.cc
  src/ray/rpc/gcs/gcs_rpc_server.h
Due: check-cpp-files-inclusion

[core][autoscaler] Enable autoscaler v2 on clusters launched by the cluster launcher (#55865)
  python/ray/autoscaler/_private/commands.py
  python/ray/tests/test_cli_patterns/test_ray_up.txt
  python/ray/tests/test_cli_patterns/test_ray_up_docker.txt
  python/ray/tests/test_cli_patterns/test_ray_up_record.txt
  release/release_tests.yaml
Due: docstyle, check-import-order

[core] Split `gcs_actor_scheduler` out from `gcs_server_lib` (#56002)
  src/ray/gcs/gcs_server/BUILD.bazel
  src/ray/gcs/gcs_server/gcs_actor_scheduler.cc
  src/ray/gcs/gcs_server/tests/BUILD.bazel
  src/ray/gcs/gcs_server/tests/gcs_actor_scheduler_mock_test.cc
  src/ray/gcs/gcs_server/tests/gcs_actor_scheduler_test.cc
Due: check-cpp-files-inclusion

[Core] Fixed the issue of RemoveActorNameFromRegistry being called repeatedly. (#54955)
  python/ray/tests/test_actor.py
  src/ray/gcs/gcs_server/gcs_actor_manager.cc
  src/ray/gcs/gcs_server/tests/gcs_actor_manager_test.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

Support cpu tensor transfer with NIXL in GPU Objects (#56055)
  python/ray/experimental/channel/serialization_context.py
  python/ray/experimental/collective/collective_tensor_transport.py
  python/ray/experimental/collective/nixl_tensor_transport.py
  python/ray/experimental/collective/tensor_transport_manager.py
  python/ray/experimental/collective/util.py
  python/ray/experimental/gpu_object_manager/gpu_object_store.py
  python/ray/tests/test_gpu_objects_nixl.py
  python/ray/util/collective/types.py
Due: docstyle, check-import-order

[core] use prebuilt redis for osx arm64 (#56036)
  BUILD.bazel
  WORKSPACE
Due: none

[serve] skip running soft-fail tests on premerge (#56034)
  .buildkite/serve.rayci.yml
Due: none

[core] Split `gcs_placement_group_manager` out from `gcs_server_lib` (#56048)
  src/mock/ray/gcs/gcs_server/gcs_actor_manager.h
  src/mock/ray/gcs/gcs_server/gcs_actor_scheduler.h
  src/mock/ray/gcs/gcs_server/gcs_init_data.h
  src/mock/ray/gcs/gcs_server/gcs_job_manager.h
  src/mock/ray/gcs/gcs_server/gcs_kv_manager.h
  src/mock/ray/gcs/gcs_server/gcs_node_manager.h
  src/mock/ray/gcs/gcs_server/gcs_placement_group_manager.h
  src/mock/ray/gcs/gcs_server/gcs_placement_group_scheduler.h
  src/mock/ray/gcs/gcs_server/gcs_resource_manager.h
  src/mock/ray/gcs/gcs_server/gcs_server.h
  src/mock/ray/gcs/gcs_server/gcs_table_storage.h
  src/mock/ray/gcs/gcs_server/gcs_task_manager.h
  src/mock/ray/gcs/gcs_server/gcs_worker_manager.h
  src/ray/gcs/gcs_server/BUILD.bazel
  src/ray/gcs/gcs_server/gcs_autoscaler_state_manager.cc
  src/ray/gcs/gcs_server/gcs_placement_group_manager.cc
  src/ray/gcs/gcs_server/gcs_placement_group_manager.h
  src/ray/gcs/gcs_server/gcs_server.cc
  src/ray/gcs/gcs_server/grpc_service_interfaces.h
  src/ray/gcs/gcs_server/grpc_services.cc
  src/ray/gcs/gcs_server/grpc_services.h
  src/ray/gcs/gcs_server/tests/BUILD.bazel
  src/ray/gcs/gcs_server/tests/gcs_autoscaler_state_manager_test.cc
  src/ray/gcs/gcs_server/tests/gcs_placement_group_manager_mock_test.cc
  src/ray/gcs/gcs_server/tests/gcs_placement_group_manager_test.cc
  src/ray/rpc/gcs/gcs_rpc_server.h
Due: check-cpp-files-inclusion

[air] update `/python/ray/air` CODEOWNERS (#55891)
  .github/CODEOWNERS
Due: none

[Data] - Handle the case when number of rows exceeds the number of bytes for a block (#55790)
  python/ray/data/_internal/arrow_block.py
  python/ray/data/tests/test_arrow_block.py
Due: docstyle, check-import-order

[Data] Prevent unbounded growth of_StatsActor.datasets (#55925)
  python/ray/data/_internal/stats.py
  python/ray/data/tests/test_stats.py
Due: docstyle, check-import-order

Update async_api.rst (#56042)
  doc/source/ray-core/actors/async_api.rst
Due: none

[core] Remove unused RPC macros (#56052)
  src/ray/rpc/gcs/gcs_rpc_server.h
Due: check-cpp-files-inclusion

[release] Read test filters from both release-test-filters and release-test-attr-regex-filters (#56039)
  release/ray_release/buildkite/settings.py
Due: docstyle, check-import-order

Mm ai 082725 (#56035)
  doc/source/ray-overview/examples/e2e-multimodal-ai-workloads/containerfile
  doc/source/ray-overview/examples/e2e-multimodal-ai-workloads/notebooks/01-Batch-Inference.ipynb
  doc/source/ray-overview/examples/e2e-multimodal-ai-workloads/notebooks/02-Distributed-Training.ipynb
  doc/source/ray-overview/examples/e2e-multimodal-ai-workloads/notebooks/03-Online-Serving.ipynb
  release/ray_release/byod/byod_e2e_multimodal_ai_workloads.sh
Due: none

[core][gpu-objects] Fix #55987 (#56021)
  python/ray/actor.py
  python/ray/experimental/collective/collective_tensor_transport.py
  python/ray/experimental/collective/nixl_tensor_transport.py
  python/ray/experimental/collective/tensor_transport_manager.py
  python/ray/experimental/collective/util.py
  python/ray/experimental/gpu_object_manager/gpu_object_manager.py
  python/ray/experimental/gpu_object_manager/gpu_object_store.py
  python/ray/tests/test_gpu_objects_gloo.py
Due: docstyle, check-import-order

[core] Split `gcs_actor_manager` out from `gcs_server_lib` (#56049)
  src/ray/gcs/gcs_server/BUILD.bazel
  src/ray/gcs/gcs_server/gcs_actor_manager.cc
  src/ray/gcs/gcs_server/gcs_actor_manager.h
  src/ray/gcs/gcs_server/gcs_server.cc
  src/ray/gcs/gcs_server/grpc_service_interfaces.h
  src/ray/gcs/gcs_server/grpc_services.cc
  src/ray/gcs/gcs_server/grpc_services.h
  src/ray/gcs/gcs_server/tests/BUILD.bazel
  src/ray/gcs/gcs_server/tests/export_api/gcs_actor_manager_export_event_test.cc
  src/ray/gcs/gcs_server/tests/gcs_actor_manager_test.cc
  src/ray/rpc/gcs/gcs_rpc_server.h
Due: check-cpp-files-inclusion

[core] gcs AddEvent support (#55528)
  src/ray/common/grpc_util.h
  src/ray/core_worker/task_event_buffer.cc
  src/ray/gcs/gcs_server/BUILD.bazel
  src/ray/gcs/gcs_server/gcs_ray_event_converter.cc
  src/ray/gcs/gcs_server/gcs_ray_event_converter.h
  src/ray/gcs/gcs_server/gcs_task_manager.cc
  src/ray/gcs/gcs_server/gcs_task_manager.h
  src/ray/gcs/gcs_server/tests/BUILD.bazel
  src/ray/gcs/gcs_server/tests/gcs_ray_event_converter_test.cc
  src/ray/gcs/gcs_server/tests/gcs_task_manager_test.cc
  src/ray/gcs/tests/gcs_test_util.h
  src/ray/protobuf/public/events_task_execution_event.proto
Due: check-cpp-files-inclusion

[data] Remove unification of schemas (#55926)
  python/ray/data/BUILD
  python/ray/data/_internal/arrow_ops/transform_pyarrow.py
  python/ray/data/_internal/equalize.py
  python/ray/data/_internal/execution/legacy_compat.py
  python/ray/data/_internal/execution/operators/map_operator.py
  python/ray/data/_internal/execution/streaming_executor_state.py
  python/ray/data/_internal/logical/operators/from_operators.py
  python/ray/data/_internal/logical/operators/input_data_operator.py
  python/ray/data/_internal/logical/operators/read_operator.py
  python/ray/data/_internal/plan.py
  python/ray/data/_internal/planner/aggregate.py
  python/ray/data/_internal/planner/exchange/push_based_shuffle_task_scheduler.py
  python/ray/data/_internal/planner/sort.py
  python/ray/data/block.py
  python/ray/data/context.py
  python/ray/data/tests/test_deduping_schema.py
  python/ray/data/tests/test_unify_schemas_performance.py
Due: docstyle, check-import-order

[data] add commas in data dashboard (#56014)
  python/ray/dashboard/modules/metrics/dashboards/data_dashboard_panels.py
Due: docstyle, check-import-order
