Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

check-train-circular-imports:
  name: Check Ray Train circular imports
  entry: python python/ray/train/lint/check_circular_imports.py
  language: system
  pass_filenames: false
  args:
  - --patch_dir
  - ray/train/v2

fix: manual decrease cache only when not dispatched
  python/ray/serve/_private/router.py
Due: docstyle, check-import-order

fix: call request_counter.inc in DeploymentHandle._choose_replica
  python/ray/serve/handle.py
Due: docstyle, check-import-order

refactor: precommit
  python/ray/serve/_private/router.py
Due: docstyle, check-import-order

fix: mark dispatch after check replica available
  python/ray/serve/_private/router.py
Due: docstyle, check-import-order

fix: prevent double count in cache mode
  python/ray/serve/_private/request_router/request_router.py
Due: docstyle, check-import-order

fix: remove duplicate columns
  release/nightly_tests/dataset/tpch/common.py
Due: docstyle, check-import-order

fix: solve docstrong error
  python/ray/serve/handle.py
Due: docstyle, check-import-order

fix: skip _SUCCESS
  python/ray/data/datasource/file_meta_provider.py
  python/ray/data/tests/datasource/test_parquet.py
Due: docstyle, check-import-order

skip python/ray/data/tests/preprocessors/test_transformer.py
  ci/lint/pyrefly-allowlist.txt
Due: none

Update python/ray/data/datasource/file_meta_provider.py
  python/ray/data/datasource/file_meta_provider.py
Due: docstyle, check-import-order

[Data] Remove special skip-write handling in Dataset.write_datasink
  python/ray/data/_internal/datasource/parquet_datasink.py
  python/ray/data/_internal/planner/plan_write_op.py
  python/ray/data/dataset.py
  python/ray/data/datasource/file_datasink.py
  python/ray/data/tests/datasource/test_file_datasink.py
  python/ray/data/tests/datasource/test_parquet.py
Due: docstyle, check-import-order

Update doc/source/ray-overview/ray-libraries.rst
  doc/source/ray-overview/ray-libraries.rst
Due: none

PR 4: Strip to schema evolution scope, clean all leaked features
  python/ray/data/_internal/datasource/delta/__init__.py
  python/ray/data/_internal/datasource/delta/committer.py
  python/ray/data/_internal/datasource/delta/datasink.py
  python/ray/data/_internal/datasource/delta/datasource.py
  python/ray/data/_internal/datasource/delta/utils.py
  python/ray/data/_internal/datasource/delta/writer.py
  python/ray/data/dataset.py
  python/ray/data/read_api.py
  python/ray/data/tests/datasource/test_delta.py
Due: docstyle, check-import-order

PR 5: Add time travel support, strip leaked features
  python/ray/data/_internal/datasource/delta/__init__.py
  python/ray/data/_internal/datasource/delta/committer.py
  python/ray/data/_internal/datasource/delta/datasink.py
  python/ray/data/_internal/datasource/delta/datasource.py
  python/ray/data/_internal/datasource/delta/schema.py
  python/ray/data/_internal/datasource/delta/utils.py
  python/ray/data/_internal/datasource/delta/writer.py
  python/ray/data/dataset.py
  python/ray/data/read_api.py
  python/ray/data/tests/datasource/test_delta.py
Due: docstyle, check-import-order

PR 6: Add upsert mode, strip leaked features
  python/ray/data/_internal/datasource/delta/committer.py
  python/ray/data/_internal/datasource/delta/datasink.py
  python/ray/data/_internal/datasource/delta/datasource.py
  python/ray/data/_internal/datasource/delta/writer.py
  python/ray/data/dataset.py
  python/ray/data/read_api.py
  python/ray/data/tests/datasource/test_delta.py
Due: docstyle, check-import-order

PR 7: Add partition overwrite modes, strip file buffering
  python/ray/data/_internal/datasource/delta/committer.py
  python/ray/data/_internal/datasource/delta/datasink.py
  python/ray/data/_internal/datasource/delta/datasource.py
  python/ray/data/_internal/datasource/delta/writer.py
  python/ray/data/dataset.py
  python/ray/data/read_api.py
Due: docstyle, check-import-order

Tiny updates to resolve cursor bot comments
  python/ray/llm/examples/sglang/modules/sglang_engine.py
  release/llm_tests/serve/test_llm_serve_sglang.py
Due: docstyle, check-import-order

PR 8: Final cleanup - all features, fix GCS credentials
  python/ray/data/_internal/datasource/delta/utils.py
  python/ray/data/dataset.py
Due: docstyle, check-import-order

PR 1: Fix 3 bugbot issues (GCS creds, dead code, empty schema test)
  python/ray/data/_internal/datasource/delta/utils.py
  python/ray/data/tests/datasource/test_delta.py
Due: docstyle, check-import-order

Fix test_autoscaler_yaml test
  python/ray/tests/test_autoscaler_yaml.py
Due: docstyle, check-import-order

Clamp rolling utilization averages to zero to fix assertion error
  python/ray/data/_internal/cluster_autoscaler/resource_utilization_gauge.py
Due: docstyle, check-import-order

Adjust PromQL
  python/ray/dashboard/modules/metrics/dashboards/serve_llm_dashboard_panels.py
Due: docstyle, check-import-order

[Docs] Apply Google style guide to development.rst (#61502)
  doc/source/ray-contribute/development.rst
Due: none

[Docs] Add path-chooser, fix cross-references, and reorganize tips (#61501)
  doc/source/ray-contribute/development.rst
Due: none

[Docs] Reduce callout noise in development.rst
  doc/source/ray-contribute/development.rst
Due: none

[Docs] Add distributable manylinux wheel build path to development.rst
  doc/source/ray-contribute/development.rst
Due: none

[ci] Revert LLVM to 14.0.0 ubuntu-18.04 tarball
  ci/env/install-llvm-binaries.sh
Due: none

[ci] Set CC/CXX env vars in base.test.Dockerfile
  ci/docker/base.test.Dockerfile
Due: none

[ci] upgrade CI test containers from Ubuntu 20.04 to 22.04
  .buildkite/release-automation/forge_arm64.wanda.yaml
  .buildkite/release-automation/forge_x86_64.wanda.yaml
  ci/docker/base.build.Dockerfile
  ci/docker/base.cu128.wanda.yaml
  ci/docker/base.gpu.Dockerfile
  ci/docker/base.gpu.wanda.yaml
  ci/docker/base.test.Dockerfile
  ci/docker/base.test.aarch64.wanda.yaml
  ci/docker/base.test.wanda.yaml
  ci/docker/data.build.Dockerfile
  ci/env/install-dependencies.sh
  ci/env/install-hdfs.sh
  ci/env/install-llvm-binaries.sh
  doc/source/serve/advanced-guides/multi-app-container.md
  python/ray/data/tests/datasource/test_mongo.py
  python/ray/tests/test_dashboard_profiler.py
  python/requirements/ml/rllib-requirements.txt
  python/requirements_compiled.txt
  python/requirements_compiled_py3.13.txt
Due: docstyle, check-import-order

[Core] Eliminate python gcs client from state manager get all node info (#61232)
  python/ray/dashboard/modules/node/node_head.py
  python/ray/dashboard/state_aggregator.py
  python/ray/includes/common.pxd
  python/ray/includes/gcs_client.pxi
  python/ray/tests/test_client_builder.py
  python/ray/tests/test_exit_observability.py
  python/ray/tests/test_multi_tenancy.py
  python/ray/tests/test_node_manager.py
  python/ray/tests/test_state_api.py
  python/ray/tests/test_state_api_summary.py
  python/ray/tests/test_worker_state.py
  python/ray/util/state/state_manager.py
  src/mock/ray/gcs_client/accessor.h
  src/ray/core_worker_rpc_client/tests/core_worker_client_pool_test.cc
  src/ray/gcs_rpc_client/accessor.cc
  src/ray/gcs_rpc_client/accessor.h
  src/ray/gcs_rpc_client/global_state_accessor.cc
  src/ray/gcs_rpc_client/tests/gcs_client_test.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

some refactors
  python/ray/data/_internal/execution/interfaces/op_runtime_metrics.py
  python/ray/data/_internal/execution/streaming_executor_state.py
  python/ray/data/_internal/execution/util.py
  python/ray/data/_internal/logical/operators/read_operator.py
  python/ray/data/_internal/planner/plan_read_op.py
  python/ray/data/context.py
  python/ray/data/datasource/file_based_datasource.py
Due: docstyle, check-import-order

updating relax function
  ci/raydepsets/cli.py
  ci/raydepsets/configs/ci_data.depsets.yaml
  python/deplocks/ci/data-mongo-ci_depset_py3.10.lock
  python/deplocks/ci/data-pyarrow-latest-ci_depset_py3.10.lock
  python/deplocks/ci/data-pyarrow-latest-ci_depset_py3.12.lock
  python/deplocks/ci/data-pyarrow-nightly-ci_depset_py3.10.lock
  python/deplocks/ci/data-pyarrow-v9-ci_depset_py3.10.lock
  python/deplocks/ci/relaxed_data-ci_depset_py3.10.lock
  python/deplocks/ci/relaxed_data-ci_depset_py3.12.lock
  python/requirements/data/pyarrow-v9.txt
Due: docstyle, check-import-order

preserved-oder
  python/ray/data/_internal/planner/plan_read_op.py
Due: docstyle, check-import-order

Bumped down number for iceberg upserts benchmark
  release/nightly_tests/dataset/iceberg_benchmark.py
Due: docstyle, check-import-order

Fix max_model_len: use tokenizer_manager.context_len instead of server_args
  python/ray/llm/examples/sglang/modules/sglang_engine.py
Due: docstyle, check-import-order

[serve][llm] Add tokenize and detokenize endpoints to SGLang example engine
  python/ray/llm/examples/sglang/modules/sglang_engine.py
  python/ray/llm/examples/sglang/readme.md
  release/llm_tests/serve/test_llm_serve_sglang.py
Due: docstyle, check-import-order

Fix embeddings method signature to match LLMEngine protocol
  python/ray/llm/examples/sglang/modules/sglang_engine.py
Due: docstyle, check-import-order

Address comments
  python/ray/data/_internal/datasource_v2/listing/file_indexer.py
  python/ray/data/_internal/datasource_v2/listing/file_manifest.py
  python/ray/data/tests/unit/datasource_v2/test_file_indexer.py
Due: docstyle, check-import-order

[Data] Add datasource_v2 file listing infrastructure
  python/ray/data/_internal/datasource_v2/__init__.py
  python/ray/data/_internal/datasource_v2/listing/file_indexer.py
  python/ray/data/_internal/datasource_v2/listing/file_manifest.py
  python/ray/data/_internal/datasource_v2/listing/file_pruners.py
  python/ray/data/_internal/datasource_v2/listing/indexing_utils.py
  python/ray/data/tests/unit/datasource_v2/__init__.py
  python/ray/data/tests/unit/datasource_v2/test_file_indexer.py
Due: docstyle, check-import-order

Refine
  python/ray/_raylet.pyx
Due: none

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
