Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

fix
  python/ray/_private/worker.py
Due: docstyle, check-import-order

fix tests
  python/ray/dashboard/modules/serve/tests/test_serve_dashboard.py
Due: docstyle, check-import-order

Revert IsRetriable changes
  src/ray/common/lease/lease_spec.cc
  src/ray/common/lease/lease_spec.h
  src/ray/common/task/task_util.h
  src/ray/core_worker/task_submission/normal_task_submitter.cc
  src/ray/core_worker/task_submission/normal_task_submitter.h
  src/ray/protobuf/common.proto
  src/ray/protobuf/node_manager.proto
  src/ray/raylet/node_manager.cc
  src/ray/raylet/node_manager.h
  src/ray/raylet/tests/worker_killing_policy_test.cc
  src/ray/raylet/worker_killing_policy.h
  src/ray/raylet/worker_killing_policy_group_by_owner.cc
  src/ray/raylet/worker_killing_policy_group_by_owner.h
Due: check-cpp-files-inclusion

fix num_workers==0
  release/train_tests/benchmark/torch_dataloader_factory.py
Due: docstyle, check-import-order

add comments
  python/ray/data/_internal/execution/resource_manager.py
Due: docstyle, check-import-order

preload some whitelisted modules
  release/train_tests/benchmark/torch_dataloader_factory.py
Due: docstyle, check-import-order

Allow access to request context of each reqeust in batch
  python/ray/serve/batching.py
  python/ray/serve/context.py
  python/ray/serve/tests/test_batching.py
Due: docstyle, check-import-order

initial commiT
  python/ray/data/tests/test_csv.py
  python/ray/data/tests/test_file_based_datasource.py
Due: docstyle, check-import-order

Fix more tests
  python/ray/data/tests/conftest.py
  python/ray/data/tests/test_binary.py
  python/ray/data/tests/test_csv.py
  python/ray/data/tests/test_text.py
Due: docstyle, check-import-order

Initial commit
  python/ray/data/tests/test_csv.py
Due: docstyle, check-import-order

Fix test
  python/ray/data/tests/test_object_gc.py
Due: docstyle, check-import-order

[dashboard] fix grafana dashboard generation bug
  python/ray/dashboard/modules/metrics/grafana_dashboard_factory.py
Due: docstyle, check-import-order

Update doc/source/ray-observability/user-guides/ray-event-export.rst
  doc/source/ray-observability/user-guides/ray-event-export.rst
Due: none

[core] Make RequestWorkerLease RPC Fault Tolerant (#56191)
  python/ray/tests/BUILD
  python/ray/tests/test_failure_3.py
  python/ray/tests/test_failure_4.py
  python/ray/tests/test_object_manager.py
  python/ray/tests/test_raylet_fault_tolerance.py
  python/ray/tests/test_reconstruction.py
  python/ray/tests/test_reconstruction_2.py
  python/ray/tests/test_reconstruction_stress.py
  python/ray/tests/test_reconstruction_stress_spill.py
  python/ray/tests/test_streaming_generator_2.py
  python/ray/tests/test_streaming_generator_4.py
  src/ray/core_worker/task_submission/normal_task_submitter.cc
  src/ray/core_worker/task_submission/normal_task_submitter.h
  src/ray/core_worker/task_submission/tests/normal_task_submitter_test.cc
  src/ray/raylet/node_manager.cc
  src/ray/raylet/tests/node_manager_test.cc
  src/ray/rpc/raylet/raylet_client.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

[DOC] Fix documentation issues in _includes and _templates directories (#56272)
  doc/source/_includes/_help.rst
  doc/source/_templates/csat.html
  doc/source/_templates/template.ipynb
  doc/source/_templates/template.md
Due: none

[core][doc][autoscaler] Explain the autoscaler
  doc/source/ray-core/internals.rst
  doc/source/ray-core/internals/autoscaler.rst
Due: none

small refactor
  release/train_tests/benchmark/torch_dataloader_factory.py
Due: docstyle, check-import-order

address comments
  python/ray/util/collective/collective_group/nccl_collective_group.py
  python/ray/util/collective/util.py
Due: docstyle, check-import-order

[core] disable test db for cpp tests
  .buildkite/core.rayci.yml
Due: none

fix
  python/ray/air/tests/test_tensor_extension.py
Due: docstyle, check-import-order

lint
  python/ray/serve/tests/test_batching.py
Due: docstyle, check-import-order

nit
  python/ray/serve/tests/test_batching.py
Due: docstyle, check-import-order

[core][doc][autoscaler] Add threading requirement to NodeProvider interface
  python/ray/autoscaler/node_provider.py
Due: docstyle, check-import-order

Apply suggestions from code review
  doc/source/train/benchmarks.rst
Due: none

debug release test failure
  src/ray/common/ray_config_def.h
Due: check-cpp-files-inclusion

update the global limit instead
  python/ray/data/_internal/execution/resource_manager.py
  python/ray/data/tests/test_resource_manager.py
Due: docstyle, check-import-order

stable links for Ray serve (#56241) (#56253)
  doc/source/serve/production-guide/config.md
Due: none

[release-test][data][train] Preload a subset of modules for torch dataloader forkserver multiprocessing (#56343)
  release/train_tests/benchmark/torch_dataloader_factory.py
Due: docstyle, check-import-order

[Core] [Doc] Add OSS Document for Task Events (#56203)
  doc/source/ray-core/tasks.rst
  doc/source/ray-observability/images/ray-event-export.png
  doc/source/ray-observability/user-guides/index.md
  doc/source/ray-observability/user-guides/ray-event-export.rst
Due: none

change _policy to policy
  python/ray/serve/config.py
  python/ray/serve/tests/test_autoscaling_policy.py
  src/ray/protobuf/serve.proto
Due: docstyle, check-import-order

change to xla://{coordinator}
  python/ray/train/torch/config.py
  test_xla_spmd_fixed.py
Due: docstyle, check-import-order

modified examples.yml so the template shows up in the OSS docs
  doc/source/train/examples.yml
  doc/source/train/examples/pytorch/pytorch-fsdp/README.ipynb
  doc/source/train/examples/pytorch/pytorch-fsdp/README.md
Due: none

[serve] deflake test pow 2 router (#56342)
  python/ray/serve/tests/unit/test_pow_2_request_router.py
Due: docstyle, check-import-order

more clean up
  src/ray/gcs/gcs_server/gcs_node_manager.cc
  src/ray/gcs/gcs_server/gcs_node_manager.h
Due: check-cpp-files-inclusion

copy the global limit
  python/ray/data/_internal/execution/resource_manager.py
Due: docstyle, check-import-order

[core] (cgroups 9/n) End-to-end integration of ray start with cgroups
  .buildkite/core.rayci.yml
  python/ray/_private/node.py
  python/ray/_private/services.py
  python/ray/tests/BUILD
  python/ray/tests/resource_isolation/BUILD
  python/ray/tests/resource_isolation/conftest.py
  python/ray/tests/resource_isolation/test_resource_isolation_config.py
  python/ray/tests/resource_isolation/test_resource_isolation_integration.py
  python/ray/tests/test_resource_isolation_integration.py
  src/ray/common/cgroup2/BUILD.bazel
  src/ray/common/cgroup2/cgroup_manager.cc
  src/ray/common/cgroup2/cgroup_manager.h
  src/ray/common/cgroup2/cgroup_manager_interface.h
  src/ray/common/cgroup2/sysfs_cgroup_driver.cc
  src/ray/common/cgroup2/tests/cgroup_manager_test.cc
  src/ray/raylet/BUILD.bazel
  src/ray/raylet/main.cc
  src/ray/raylet/node_manager.cc
  src/ray/raylet/node_manager.h
Due: docstyle, check-import-order, check-cpp-files-inclusion

Fix failing tesT
  python/ray/data/tests/test_text.py
Due: docstyle, check-import-order

Remvoe more terstS
  python/ray/data/tests/test_raydp.py
  python/ray/data/tests/test_torch.py
Due: docstyle, check-import-order

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)
