Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)

[rllib] Fix segment_tree.py edge case (#57599)
  rllib/execution/segment_tree.py
  rllib/utils/replay_buffers/tests/test_segment_tree_replay_buffer_api.py
Due: docstyle, check-import-order

[core] (ray-get 2/n) Making ray.get thread-safe (#57911)
  python/ray/tests/BUILD.bazel
  python/ray/tests/test_draining.py
  python/ray/tests/test_ray_get.py
  src/ray/core_worker/store_provider/plasma_store_provider.cc
  src/ray/core_worker/store_provider/plasma_store_provider.h
  src/ray/flatbuffers/node_manager.fbs
  src/ray/raylet/lease_dependency_manager.cc
  src/ray/raylet/lease_dependency_manager.h
  src/ray/raylet/node_manager.cc
  src/ray/raylet/node_manager.h
  src/ray/raylet/tests/lease_dependency_manager_test.cc
  src/ray/raylet/tests/node_manager_test.cc
  src/ray/raylet_ipc_client/fake_raylet_ipc_client.h
  src/ray/raylet_ipc_client/raylet_ipc_client.cc
  src/ray/raylet_ipc_client/raylet_ipc_client.h
  src/ray/raylet_ipc_client/raylet_ipc_client_interface.h
Due: docstyle, check-import-order, check-cpp-files-inclusion

[core] Don't log actor restart warning if arg is detached actor (#57931)
  src/ray/core_worker/actor_handle.cc
  src/ray/core_worker/actor_handle.h
  src/ray/core_worker/actor_manager.cc
  src/ray/core_worker/actor_manager.h
  src/ray/core_worker/core_worker.cc
  src/ray/protobuf/core_worker.proto
Due: check-cpp-files-inclusion

[codeowners] Reorder `CODEOWNERS` for resolution order + organization (#57891)
  .github/CODEOWNERS
Due: none

[ci] change macos bisect job to use arm64 (#57914)
  .buildkite/bisect/bisect.rayci.yml
  ci/pipeline/test_rules.txt
Due: none

[RLlib] Add Prometheus metrics to the selected RLlib components (#57932)
  rllib/algorithms/algorithm.py
  rllib/algorithms/appo/utils.py
  rllib/algorithms/impala/impala.py
  rllib/algorithms/impala/impala_learner.py
  rllib/algorithms/utils.py
  rllib/core/learner/learner.py
  rllib/core/learner/learner_group.py
  rllib/env/env_runner.py
  rllib/env/multi_agent_env_runner.py
  rllib/env/single_agent_env_runner.py
  rllib/utils/metrics/ray_metrics.py
Due: docstyle, check-import-order

[core] allow reporter agent to get pid via rpc to raylet (#57004)
  BUILD.bazel
  python/ray/_private/ray_constants.py
  python/ray/_private/worker.py
  python/ray/_raylet.pyx
  python/ray/dashboard/modules/job/common.py
  python/ray/dashboard/modules/job/utils.py
  python/ray/dashboard/modules/node/tests/test_node.py
  python/ray/dashboard/modules/reporter/reporter_agent.py
  python/ray/dashboard/modules/reporter/tests/test_reporter.py
  python/ray/dashboard/optional_utils.py
  python/ray/includes/common.pxd
  python/ray/includes/common.pxi
  python/ray/includes/raylet_client.pxi
  src/mock/ray/raylet/worker_pool.h
  src/ray/common/constants.h
  src/ray/gcs/gcs_job_manager.h
  src/ray/protobuf/node_manager.proto
  src/ray/raylet/node_manager.cc
  src/ray/raylet/node_manager.h
  src/ray/raylet/scheduling/tests/cluster_lease_manager_test.cc
  src/ray/raylet/tests/local_lease_manager_test.cc
  src/ray/raylet/tests/node_manager_test.cc
  src/ray/raylet/worker_pool.cc
  src/ray/raylet/worker_pool.h
  src/ray/raylet_rpc_client/BUILD.bazel
  src/ray/raylet_rpc_client/raylet_client.cc
  src/ray/raylet_rpc_client/raylet_client.h
  src/ray/raylet_rpc_client/raylet_client_with_io_context.cc
  src/ray/raylet_rpc_client/raylet_client_with_io_context.h
  src/ray/rpc/node_manager/node_manager_server.h
Due: docstyle, check-import-order, check-cpp-files-inclusion

[doc] remove "Note that" in dataset.py documentation (#57884)
  python/ray/data/dataset.py
Due: docstyle, check-import-order

[tracing] Update OpenTelemetry dependencies and fixing doc to make tracing work (#57908)
  doc/source/ray-observability/user-guides/ray-tracing.rst
  python/ray/util/tracing/tracing_helper.py
Due: docstyle, check-import-order

[core] Attempt to deflake `test_actor_failures.py::test_async_generator_crash_restart` (#57952)
  python/ray/tests/test_actor_failures.py
Due: docstyle, check-import-order

test commit
  python/ray/train/v2/api/result.py
  python/ray/train/v2/tests/test_result.py
Due: docstyle, check-import-order

rename
  python/ray/data/_internal/execution/operators/hash_shuffle.py
Due: docstyle, check-import-order

[serve] Add `from_proxy_manager` arg in get_target_groups (#57620)
  python/ray/serve/_private/controller.py
  python/ray/serve/_private/test_utils.py
Due: docstyle, check-import-order

[serve] Check if proxy is ready to serve traffic (#57723)
  python/ray/serve/_private/client.py
  python/ray/serve/_private/proxy.py
  python/ray/serve/api.py
  python/ray/serve/tests/test_api.py
  python/ray/serve/tests/test_deploy_app.py
  python/ray/serve/tests/test_deploy_app_2.py
  python/ray/serve/tests/test_gcs_failure.py
Due: docstyle, check-import-order

commit
  python/ray/train/v2/_internal/execution/callback.py
  python/ray/train/v2/api/result.py
  python/ray/train/v2/tests/conftest.py
  python/ray/train/v2/tests/test_result.py
Due: docstyle, check-import-order

controller test fix
  python/ray/serve/tests/test_controller.py
Due: docstyle, check-import-order

updating notebook
  doc/source/serve/tutorials/deployment-serve-llm/gpt-oss/notebook.ipynb
Due: none

[docs] Expose dashboard url when deploying on Yarn using Skein (#57793)
  doc/source/cluster/doc_code/yarn/dashboard.py
  doc/source/cluster/doc_code/yarn/ray-skein.yaml
  doc/source/cluster/images/yarn-job-dashboard.png
  doc/source/cluster/vms/user-guides/community/yarn.rst
  doc/yarn/dashboard.py
  doc/yarn/ray-skein.yaml
Due: docstyle, check-import-order

[core] (cgroups 21/n) Do not move dashboard modules into the workers cgroup even if they are drivers (#57955)
  python/ray/tests/resource_isolation/test_resource_isolation_integration.py
  src/ray/raylet/node_manager.cc
  src/ray/raylet/worker_pool.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

remove redundant checks
  python/ray/train/v2/api/train_fn_utils.py
Due: docstyle, check-import-order

address comment
  python/ray/train/v2/torch/train_loop_utils.py
Due: docstyle, check-import-order

[train] FSDP2 Template: Resume from previous epoch when checkpointing (#57938)
  doc/source/train/examples/pytorch/pytorch-fsdp/README.ipynb
  doc/source/train/examples/pytorch/pytorch-fsdp/README.md
Due: none

add path validation
  python/ray/train/v2/api/result.py
  python/ray/train/v2/tests/test_result.py
Due: docstyle, check-import-order

[core] Make Cancel Remote Task RPC Fault Tolerant (#57965)
  python/ray/tests/test_core_worker_fault_tolerance.py
  src/mock/ray/core_worker/core_worker.h
  src/mock/ray/rpc/worker/core_worker_client.h
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker.h
  src/ray/core_worker/core_worker_rpc_proxy.h
  src/ray/core_worker/grpc_service.cc
  src/ray/core_worker/grpc_service.h
  src/ray/core_worker/task_submission/normal_task_submitter.cc
  src/ray/core_worker_rpc_client/core_worker_client.h
  src/ray/core_worker_rpc_client/core_worker_client_interface.h
  src/ray/core_worker_rpc_client/fake_core_worker_client.h
  src/ray/protobuf/core_worker.proto
Due: docstyle, check-import-order, check-cpp-files-inclusion

Update doc/source/train/user-guides/local_mode.rst
  doc/source/train/user-guides/local_mode.rst
Due: none

resolve comments
  doc/source/train/user-guides/local_mode.rst
Due: none

Create MBLT.py
  python/ray/_private/accelerators/MBLT.py
Due: docstyle, check-import-order

Create mblt.py
  python/ray/_private/accelerators/mblt.py
Due: docstyle, check-import-order

Delete python/ray/_private/accelerators/MBLT.py
  python/ray/_private/accelerators/MBLT.py
Due: docstyle, check-import-order

Update BUILD.bazel
  python/ray/tests/BUILD.bazel
Due: none

[ray release] change version number
  ci/ray_ci/utils.py
  java/api/pom_template.xml
  java/performance_test/pom_template.xml
  java/pom.xml
  java/runtime/pom_template.xml
  java/serve/pom_template.xml
  java/test/pom_template.xml
  python/ray/_version.py
  src/ray/common/constants.h
Due: docstyle, check-import-order, check-cpp-files-inclusion

[ray release] change version number for 2.51.0 (#58009)
  ci/ray_ci/utils.py
  java/api/pom_template.xml
  java/performance_test/pom_template.xml
  java/pom.xml
  java/runtime/pom_template.xml
  java/serve/pom_template.xml
  java/test/pom_template.xml
  python/ray/_version.py
  src/ray/common/constants.h
Due: docstyle, check-import-order, check-cpp-files-inclusion

[train] fix job working dir test
  release/jobs_tests/workloads/run_simple_tune_job.py
Due: docstyle, check-import-order

[train] fix job working dir test (#58010)
  release/jobs_tests/workloads/run_simple_tune_job.py
Due: docstyle, check-import-order
