Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)

[Core] store clients to return void instead of Status::OK (#55663)
  src/mock/ray/gcs/store_client/in_memory_store_client.h
  src/mock/ray/gcs/store_client/redis_store_client.h
  src/mock/ray/gcs/store_client/store_client.h
  src/ray/gcs/gcs_server/gcs_actor_manager.cc
  src/ray/gcs/gcs_server/gcs_actor_scheduler.cc
  src/ray/gcs/gcs_server/gcs_init_data.cc
  src/ray/gcs/gcs_server/gcs_job_manager.cc
  src/ray/gcs/gcs_server/gcs_node_manager.cc
  src/ray/gcs/gcs_server/gcs_placement_group_manager.cc
  src/ray/gcs/gcs_server/gcs_placement_group_scheduler.cc
  src/ray/gcs/gcs_server/gcs_table_storage.cc
  src/ray/gcs/gcs_server/gcs_table_storage.h
  src/ray/gcs/gcs_server/gcs_worker_manager.cc
  src/ray/gcs/gcs_server/store_client_kv.cc
  src/ray/gcs/gcs_server/tests/gcs_actor_scheduler_mock_test.cc
  src/ray/gcs/gcs_server/tests/gcs_actor_scheduler_test.cc
  src/ray/gcs/gcs_server/tests/gcs_placement_group_manager_mock_test.cc
  src/ray/gcs/gcs_server/tests/gcs_placement_group_manager_test.cc
  src/ray/gcs/gcs_server/tests/gcs_table_storage_test_base.h
  src/ray/gcs/store_client/in_memory_store_client.cc
  src/ray/gcs/store_client/in_memory_store_client.h
  src/ray/gcs/store_client/observable_store_client.cc
  src/ray/gcs/store_client/observable_store_client.h
  src/ray/gcs/store_client/redis_store_client.cc
  src/ray/gcs/store_client/redis_store_client.h
  src/ray/gcs/store_client/store_client.h
  src/ray/gcs/store_client/tests/redis_store_client_test.cc
  src/ray/gcs/store_client/tests/store_client_test_base.h
Due: check-cpp-files-inclusion

[core] Cleanup / detangle flatbuffer utilties (#55794)
  .pre-commit-config.yaml
  src/ray/common/BUILD.bazel
  src/ray/common/common_protocol.cc
  src/ray/common/common_protocol.h
  src/ray/common/constants.h
  src/ray/common/flatbuf_utils.h
  src/ray/common/id.cc
  src/ray/common/id.h
  src/ray/common/lease/lease_spec.cc
  src/ray/common/tests/id_test.cc
  src/ray/core_worker/task_manager.cc
  src/ray/gcs/gcs_client/accessor.cc
  src/ray/gcs/store_client/in_memory_store_client.h
  src/ray/gcs/store_client/redis_context.h
  src/ray/gcs/store_client/redis_store_client.cc
  src/ray/gcs/store_client/redis_store_client.h
  src/ray/gcs/store_client/tests/store_client_test_base.h
  src/ray/ipc/BUILD.bazel
  src/ray/ipc/client_connection.h
  src/ray/ipc/fake_raylet_ipc_client.h
  src/ray/ipc/raylet_ipc_client.cc
  src/ray/ipc/raylet_ipc_client.h
  src/ray/object_manager/object_manager.cc
  src/ray/object_manager/pull_manager.cc
  src/ray/object_manager/tests/pull_manager_test.cc
  src/ray/raylet/BUILD.bazel
  src/ray/raylet/lease_dependency_manager.cc
  src/ray/raylet/lease_dependency_manager.h
  src/ray/raylet/main.cc
  src/ray/raylet/node_manager.cc
  src/ray/raylet/node_manager.h
  src/ray/raylet_client/raylet_client.cc
Due: check-cpp-files-inclusion

[ci] build & test placeholder wheel (#55594)
  .buildkite/build.rayci.yml
  ci/build/test-linux-placeholder-wheel.sh
  ci/ray_ci/builder_container.py
  python/setup.py
Due: docstyle, check-import-order

[Core] Enable ruff for python/ray/dag/ (#56075)
  .pre-commit-config.yaml
  pyproject.toml
  python/ray/dag/class_node.py
  python/ray/dag/collective_node.py
  python/ray/dag/compiled_dag_node.py
  python/ray/dag/conftest.py
  python/ray/dag/context.py
  python/ray/dag/dag_node.py
  python/ray/dag/dag_node_operation.py
  python/ray/dag/dag_operation_future.py
  python/ray/dag/function_node.py
  python/ray/dag/input_node.py
  python/ray/dag/output_node.py
  python/ray/dag/py_obj_scanner.py
  python/ray/dag/tests/experimental/actor_defs.py
  python/ray/dag/tests/experimental/test_collective_dag.py
  python/ray/dag/tests/experimental/test_compiled_graphs.py
  python/ray/dag/tests/experimental/test_cpu_communicator_dag.py
  python/ray/dag/tests/experimental/test_dag_error_handling.py
  python/ray/dag/tests/experimental/test_dag_visualization.py
  python/ray/dag/tests/experimental/test_execution_schedule.py
  python/ray/dag/tests/experimental/test_execution_schedule_gpu.py
  python/ray/dag/tests/experimental/test_mocked_nccl_dag.py
  python/ray/dag/tests/experimental/test_multi_args_gpu.py
  python/ray/dag/tests/experimental/test_multi_node_dag.py
  python/ray/dag/tests/experimental/test_torch_tensor_dag.py
  python/ray/dag/tests/experimental/test_torch_tensor_transport.py
  python/ray/dag/tests/test_input_node.py
  python/ray/dag/tests/test_output_node.py
  python/ray/dag/tests/test_plot.py
  python/ray/dag/tests/test_py_obj_scanner.py
  python/ray/dag/utils.py
  python/ray/dag/vis_utils.py
Due: docstyle, check-import-order

[core] Remove Driver Specific LeaseID (#56090)
  src/ray/common/id.cc
  src/ray/common/id.h
  src/ray/core_worker/task_submission/normal_task_submitter.cc
  src/ray/gcs/gcs_server/gcs_actor_scheduler.cc
  src/ray/raylet/node_manager.cc
  src/ray/raylet/tests/worker_pool_test.cc
  src/ray/raylet/worker.cc
  src/ray/raylet/worker.h
  src/ray/raylet/worker_pool.cc
Due: check-cpp-files-inclusion

Fix/metric set state issue (#55892)
  .gitignore
  rllib/utils/metrics/metrics_logger.py
  rllib/utils/metrics/tests/test_stats.py
Due: docstyle, check-import-order

[core] Fix named actor test for windows (#56134)
  python/ray/tests/test_actor.py
Due: docstyle, check-import-order

[train][checkpoint] Add ray.train.get_all_reported_checkpoints method (#54555)
  ci/lint/pydoclint-baseline.txt
  python/ray/train/__init__.py
  python/ray/train/v2/_internal/execution/checkpoint/checkpoint_manager.py
  python/ray/train/v2/_internal/execution/context.py
  python/ray/train/v2/_internal/execution/controller/controller.py
  python/ray/train/v2/_internal/execution/train_fn_utils.py
  python/ray/train/v2/_internal/execution/worker_group/worker.py
  python/ray/train/v2/_internal/execution/worker_group/worker_group.py
  python/ray/train/v2/api/reported_checkpoint.py
  python/ray/train/v2/api/train_fn_utils.py
  python/ray/train/v2/tests/conftest.py
  python/ray/train/v2/tests/test_accelerator_utils.py
  python/ray/train/v2/tests/test_checkpoint_manager.py
  python/ray/train/v2/tests/test_controller.py
  python/ray/train/v2/tests/test_data_parallel_trainer.py
  python/ray/train/v2/tests/test_persistence.py
  python/ray/train/v2/tests/test_worker_group.py
Due: docstyle, check-import-order, check-train-circular-imports

[Core] Change the size of `test_gpu_objects_gloo.py` to large (#56168)
  python/ray/tests/BUILD
Due: none

[core] Move `gcs_pb_utils` to common (#56160)
  src/ray/common/BUILD.bazel
  src/ray/common/protobuf_utils.cc
  src/ray/common/protobuf_utils.h
  src/ray/core_worker/BUILD.bazel
  src/ray/core_worker/actor_manager.cc
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker_process.cc
  src/ray/core_worker/lib/java/BUILD.bazel
  src/ray/core_worker/lib/java/io_ray_runtime_RayNativeRuntime.cc
  src/ray/core_worker/task_event_buffer.h
  src/ray/core_worker/task_execution/tests/BUILD.bazel
  src/ray/core_worker/task_execution/tests/task_receiver_test.cc
  src/ray/core_worker/task_manager.cc
  src/ray/core_worker/task_submission/BUILD.bazel
  src/ray/core_worker/task_submission/actor_task_submitter.cc
  src/ray/core_worker/task_submission/normal_task_submitter.cc
  src/ray/gcs/BUILD.bazel
  src/ray/gcs/gcs_client/BUILD.bazel
  src/ray/gcs/gcs_client/tests/BUILD.bazel
  src/ray/gcs/gcs_client/tests/gcs_client_test.cc
  src/ray/gcs/gcs_server/BUILD.bazel
  src/ray/gcs/gcs_server/gcs_actor_manager.cc
  src/ray/gcs/gcs_server/gcs_autoscaler_state_manager.cc
  src/ray/gcs/gcs_server/gcs_job_manager.cc
  src/ray/gcs/gcs_server/gcs_node_manager.cc
  src/ray/gcs/gcs_server/gcs_placement_group_manager.cc
  src/ray/gcs/gcs_server/gcs_task_manager.h
  src/ray/gcs/gcs_server/tests/BUILD.bazel
  src/ray/gcs/gcs_server/tests/gcs_autoscaler_state_manager_test.cc
  src/ray/gcs/gcs_server/tests/gcs_task_manager_test.cc
  src/ray/gcs/pb_utils.cc
  src/ray/raylet/BUILD.bazel
  src/ray/raylet/node_manager.cc
  src/ray/raylet/worker_pool.cc
Due: check-cpp-files-inclusion

[core] Make test-only transition methods private in ShutdownCoordinator (#56050)
  src/ray/core_worker/core_worker_shutdown_executor.cc
  src/ray/core_worker/shutdown_coordinator.cc
  src/ray/core_worker/shutdown_coordinator.h
  src/ray/core_worker/tests/shutdown_coordinator_test.cc
Due: check-cpp-files-inclusion

[release test] split images into its own group (#56122)
  .buildkite/_forge.rayci.yml
  .buildkite/_images.rayci.yml
  .buildkite/release/_images.rayci.yml
  .buildkite/release/config.yml
Due: none

[core] move the `RayletClientInterface` to its own build target (#56101)
  BUILD.bazel
  python/ray/includes/common.pxd
  src/fakes/ray/rpc/raylet/BUILD.bazel
  src/fakes/ray/rpc/raylet/raylet_client.h
  src/ray/core_worker/BUILD.bazel
  src/ray/core_worker/core_worker.h
  src/ray/core_worker/core_worker_process.cc
  src/ray/core_worker/experimental_mutable_object_provider.h
  src/ray/core_worker/lib/java/io_ray_runtime_task_NativeTaskExecutor.cc
  src/ray/core_worker/object_recovery_manager.h
  src/ray/core_worker/task_submission/BUILD.bazel
  src/ray/core_worker/task_submission/normal_task_submitter.h
  src/ray/core_worker/task_submission/tests/BUILD.bazel
  src/ray/core_worker/task_submission/tests/normal_task_submitter_test.cc
  src/ray/core_worker/tests/BUILD.bazel
  src/ray/core_worker/tests/object_recovery_manager_test.cc
  src/ray/gcs/gcs_server/BUILD.bazel
  src/ray/gcs/gcs_server/gcs_actor_manager.cc
  src/ray/gcs/gcs_server/gcs_actor_scheduler.h
  src/ray/gcs/gcs_server/gcs_autoscaler_state_manager.h
  src/ray/gcs/gcs_server/gcs_node_manager.h
  src/ray/gcs/gcs_server/gcs_placement_group_scheduler.h
  src/ray/gcs/gcs_server/gcs_server.cc
  src/ray/gcs/gcs_server/gcs_server.h
  src/ray/gcs/gcs_server/gcs_server_main.cc
  src/ray/raylet/BUILD.bazel
  src/ray/raylet/main.cc
  src/ray/raylet/node_manager.h
  src/ray/raylet_client/BUILD.bazel
  src/ray/raylet_client/node_manager_client.h
  src/ray/raylet_client/raylet_client.cc
  src/ray/raylet_client/raylet_client.h
  src/ray/raylet_client/raylet_client_interface.h
  src/ray/raylet_client/raylet_client_pool.cc
  src/ray/raylet_client/raylet_client_pool.h
  src/ray/raylet_client/tests/BUILD.bazel
  src/ray/raylet_client/tests/raylet_client_pool_test.cc
  src/ray/rpc/BUILD.bazel
  src/ray/rpc/node_manager/node_manager_server.h
  src/ray/rpc/worker/core_worker_client_pool.h
Due: check-cpp-files-inclusion

[core][autoscaler] fix races when waiting for stopping aws nodes to be reused by cache_stopped_nodes (#56007)
  python/ray/autoscaler/_private/aws/node_provider.py
Due: docstyle, check-import-order

[core] Fix test_kill_raylet_signal_log on mac (#56151)
  python/ray/tests/test_kill_raylet_signal_log.py
Due: docstyle, check-import-order

[hotfix][data]Fix some Python code defects in ray data scanned by PyLint tool (#55417)
  python/ray/data/dataset.py
  python/ray/data/datasource/file_based_datasource.py
  python/ray/data/read_api.py
Due: docstyle, check-import-order

[docs] Update performance tips documentation for new execution options resource limits assignment (#56051)
  doc/source/data/performance-tips.rst
Due: none

[RLlib] Update rllib-env.rst - typo (#56140)
  doc/source/rllib/rllib-env.rst
Due: none

Fix non thread safe asyncio task creation in router (#56124)
  python/ray/serve/_private/router.py
  python/ray/serve/_private/utils.py
  python/ray/serve/tests/unit/test_run_coroutine_threadsafe.py
Due: docstyle, check-import-order

[Serve.llm][PD] changed LMCache dependency to use 0.3.3 to avoid regressions in the release test (#56104)
  release/ray_release/byod/byod_llm_lmcache_test.sh
Due: none

Add metadata to indicate full dashboard embedding is supported (#56077)
  python/ray/dashboard/modules/metrics/dashboards/default_grafana_dashboard_base.json
Due: none

[data] Do not log the content of data block that failed (#56133)
  python/ray/data/_internal/planner/plan_udf_map_op.py
  python/ray/data/tests/test_exceptions.py
Due: docstyle, check-import-order

[DOC][Data] Fix grammar and formatting issues in Ray Data documentation (#56066)
  doc/source/data/aggregations.rst
  doc/source/data/comparisons.rst
  doc/source/data/data-internals.rst
  doc/source/data/joining-data.rst
  doc/source/data/key-concepts.rst
  doc/source/data/saving-data.rst
  doc/source/data/user-guide.rst
Due: none

[core] Revert granted check change from #55806 (#56155)
  src/ray/raylet/worker.h
Due: check-cpp-files-inclusion

[DOC] Fix documentation typos, grammar, and terminology inconsistencies in Ray Serve docs (#56131)
  doc/source/serve/advanced-guides/app-builder-guide.md
  doc/source/serve/advanced-guides/dev-workflow.md
  doc/source/serve/advanced-guides/performance.md
  doc/source/serve/architecture.md
  doc/source/serve/develop-and-deploy.md
  doc/source/serve/getting_started.md
  doc/source/serve/http-guide.md
  doc/source/serve/index.md
  doc/source/serve/model-multiplexing.md
  doc/source/serve/monitoring.md
  doc/source/serve/multi-app.md
  doc/source/serve/resource-allocation.md
  doc/source/serve/tutorials/java.md
Due: none

[ci] declare test rule tags in test_rules file (#56127)
  ci/pipeline/determine_tests_to_run.py
  ci/pipeline/test_conditional_testing.py
  ci/pipeline/test_rules.txt
Due: docstyle, check-import-order

[Data] Removing Parquet metadata fetching in `ParquetDatasource` (#56105)
  python/ray/data/_internal/datasource/parquet_datasource.py
  python/ray/data/_internal/logical/operators/count_operator.py
  python/ray/data/dataset.py
  python/ray/data/datasource/file_meta_provider.py
  python/ray/data/datasource/parquet_meta_provider.py
  python/ray/data/datasource/partitioning.py
  python/ray/data/datasource/path_util.py
  python/ray/data/tests/test_consumption.py
  python/ray/data/tests/test_metadata_provider.py
  python/ray/data/tests/test_parquet.py
Due: docstyle, check-import-order

[SERVE] E2E Fix: test_standalone_3.py (#55685)
  python/ray/serve/tests/test_proxy.py
  python/ray/serve/tests/test_standalone_3.py
Due: docstyle, check-import-order

[core][proto] add ownership and readme for public proto (#56023)
  .github/CODEOWNERS
  src/ray/protobuf/public/README
Due: none

[core] Move core worker gRPC service definition to `core_worker/` (#56197)
  src/ray/core_worker/BUILD.bazel
  src/ray/core_worker/core_worker.h
  src/ray/core_worker/core_worker_process.cc
  src/ray/core_worker/core_worker_process.h
  src/ray/core_worker/grpc_service.cc
  src/ray/core_worker/grpc_service.h
  src/ray/core_worker/tests/BUILD.bazel
  src/ray/core_worker/tests/core_worker_test.cc
  src/ray/rpc/BUILD.bazel
  src/ray/rpc/grpc_server.h
  src/ray/rpc/worker/core_worker_server.h
Due: check-cpp-files-inclusion

[release] Use bazel workspace directory when referencing path from repo root (#55989)
  release/BUILD.bazel
  release/ray_release/template.py
  release/ray_release/tests/test_template.py
Due: docstyle, check-import-order

[core] Revert lease spec optimization from #55806 (#56179)
  src/ray/core_worker/task_submission/normal_task_submitter.cc
Due: check-cpp-files-inclusion

[DOC] Fix documentation issues in ray-overview directory (#56129)
  doc/source/ray-overview/examples/object-detection/README.md
  doc/source/ray-overview/getting-started.md
  doc/source/ray-overview/index.md
  doc/source/ray-overview/installation.rst
  doc/source/ray-overview/use-cases.rst
Due: none

[core][raylet][gcs] Add io_context metrics to gcs and raylet (#55762)
  python/ray/tests/test_metrics_agent.py
  src/ray/common/asio/asio_util.h
  src/ray/common/asio/instrumented_io_context.cc
  src/ray/common/asio/instrumented_io_context.h
  src/ray/common/asio/io_service_pool.cc
  src/ray/common/asio/periodical_runner.cc
  src/ray/common/event_stats.cc
  src/ray/common/event_stats.h
  src/ray/common/file_system_monitor.h
  src/ray/common/ray_config_def.h
  src/ray/gcs/gcs_server/gcs_server_main.cc
  src/ray/raylet/main.cc
  src/ray/rpc/client_call.h
  src/ray/stats/metric_defs.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

[train] Add Torch process group shutdown timeout (#56182)
  python/ray/train/constants.py
  python/ray/train/tests/test_backend.py
  python/ray/train/torch/config.py
Due: docstyle, check-import-order, check-train-circular-imports

[core][gpu-objects] CI for gpu objects (#56020)
  .buildkite/core.rayci.yml
  ci/pipeline/test_conditional_testing.py
  ci/pipeline/test_rules.txt
  python/ray/tests/BUILD
  python/ray/tests/gpu_objects/test_gpu_objects_gloo.py
  python/ray/tests/gpu_objects/test_gpu_objects_nccl.py
  python/ray/tests/gpu_objects/test_gpu_objects_nixl.py
Due: docstyle, check-import-order

[DOC] docs: Fix typos, grammar, and syntax issues in Ray Tune documentation (#56132)
  doc/source/tune/api/api.rst
  doc/source/tune/api/env.rst
  doc/source/tune/api/logging.rst
  doc/source/tune/api/schedulers.rst
  doc/source/tune/examples/index.rst
  doc/source/tune/faq.rst
  doc/source/tune/getting-started.rst
  doc/source/tune/index.rst
  doc/source/tune/key-concepts.rst
  doc/source/tune/tutorials/tune-search-spaces.rst
  doc/source/tune/tutorials/tune_get_data_in_and_out.md
Due: none

[DOC] Fix documentation errors in ray-references and ray-security directories (#56128)
  doc/source/ray-references/faq.rst
  doc/source/ray-references/glossary.rst
  doc/source/ray-security/index.md
Due: none
