Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

[Serve.llm] Add LMCacheConnectorV1 support for kv_transfer_config (#54579)
  doc/source/cluster/kubernetes/examples/rayserve-deepseek-example.md
  doc/source/cluster/kubernetes/examples/rayserve-llm-example.md
  doc/source/serve/doc_code/pd_dissagregation/lmcache/mooncake.yaml
  doc/source/serve/doc_code/pd_dissagregation/lmcache/nixl/decoder.yaml
  doc/source/serve/doc_code/pd_dissagregation/lmcache/nixl/prefiller.yaml
  doc/source/serve/doc_code/pd_dissagregation/lmcache_mooncake_example.yaml
  doc/source/serve/doc_code/pd_dissagregation/lmcache_nixl_example.yaml
  doc/source/serve/doc_code/pd_dissagregation/nixl_example.yaml
  doc/source/serve/index.md
  doc/source/serve/llm/index.md
  doc/source/serve/llm/pd-dissagregation.md
  doc/source/serve/llm/quick-start.rst
  python/ray/llm/_internal/serve/configs/server_models.py
  python/ray/llm/_internal/serve/deployments/llm/vllm/kv_transfer_backends/__init__.py
  python/ray/llm/_internal/serve/deployments/llm/vllm/kv_transfer_backends/base.py
  python/ray/llm/_internal/serve/deployments/llm/vllm/kv_transfer_backends/lmcache_connector_v1.py
  python/ray/llm/_internal/serve/deployments/llm/vllm/kv_transfer_backends/nixl_connector.py
  python/ray/llm/_internal/serve/deployments/llm/vllm/vllm_engine.py
  python/ray/llm/_internal/serve/deployments/prefill_decode_disagg/prefill_decode_disagg.py
  python/ray/llm/tests/serve/cpu/deployments/llm/vllm/kv_transfer_backends/__init__.py
  python/ray/llm/tests/serve/cpu/deployments/llm/vllm/kv_transfer_backends/test_lmcache_connector_v1.py
  python/ray/llm/tests/serve/cpu/deployments/llm/vllm/kv_transfer_backends/test_nixl_connector.py
  python/ray/llm/tests/serve/cpu/deployments/prefill_decode_disagg/test_prefill_decode_disagg.py
  python/ray/llm/tests/serve/gpu/deployments/llm/prefill_decode_disagg/test_prefill_decode_disagg_gpu.py
  release/llm_tests/serve/configs/lmcache/decoder.yaml
  release/llm_tests/serve/configs/lmcache/prefiller.yaml
  release/llm_tests/serve/configs/serve_llama_3dot1_8b_quantized_tp1_2p6d_lmcache.yaml
  release/ray_release/byod/byod_llm_lmcache_test.sh
  release/release_tests.yaml
Due: docstyle, check-import-order

[serve] Support custom autoscaling at deployment level for ray serve (#55253)
  doc/source/serve/api/index.md
  python/ray/serve/_private/autoscaling_state.py
  python/ray/serve/_private/constants.py
  python/ray/serve/autoscaling_policy.py
  python/ray/serve/config.py
  python/ray/serve/tests/test_controller.py
  python/ray/serve/tests/test_deploy_app_2.py
  python/ray/serve/tests/unit/test_autoscaling_policy.py
  python/ray/serve/tests/unit/test_config.py
  src/ray/protobuf/serve.proto
Due: docstyle, check-import-order

[image] add base-extra layer (#55513)
  .buildkite/_forge.rayci.yml
  .buildkite/release/build.rayci.yml
  ci/build/build-anyscale-docker.sh
  ci/docker/ray.cpu.base-extra.wanda.yaml
  ci/docker/ray.cuda.base-extra.wanda.yaml
  ci/ray_ci/anyscale_docker_container.py
  ci/ray_ci/builder.py
  ci/ray_ci/docker_container.py
  ci/ray_ci/ray_docker_container.py
  docker/base-extra/Dockerfile
Due: docstyle, check-import-order

[release test] remove "multi" test frequency (#55561)
  release/ray_release/buildkite/settings.py
  release/ray_release/schema.json
  release/ray_release/tests/test_buildkite.py
  release/ray_release/tests/test_config.py
Due: docstyle, check-import-order

[DOC][Tune] fix: remove extra space in tune documentation (#55125)
  doc/source/tune/key-concepts.rst
Due: none

[core] Improve gcs publish perf + clean up publisher in general (#55560)
  python/ray/_raylet.pyx
  python/ray/includes/common.pxd
  python/ray/includes/gcs_client.pxi
  src/mock/ray/gcs/gcs_client/accessor.h
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/test/reference_count_test.cc
  src/ray/gcs/callback.h
  src/ray/gcs/gcs_client/accessor.cc
  src/ray/gcs/gcs_client/accessor.h
  src/ray/gcs/gcs_client/test/gcs_client_test.cc
  src/ray/gcs/gcs_server/gcs_actor_manager.cc
  src/ray/gcs/gcs_server/gcs_autoscaler_state_manager.cc
  src/ray/gcs/gcs_server/gcs_job_manager.cc
  src/ray/gcs/gcs_server/gcs_node_manager.cc
  src/ray/gcs/gcs_server/gcs_node_manager.h
  src/ray/gcs/gcs_server/gcs_server.cc
  src/ray/gcs/gcs_server/gcs_worker_manager.cc
  src/ray/gcs/gcs_server/pubsub_handler.cc
  src/ray/gcs/gcs_server/pubsub_handler.h
  src/ray/gcs/pb_util.h
  src/ray/gcs/pb_utils.cc
  src/ray/gcs/pubsub/gcs_pub_sub.cc
  src/ray/gcs/pubsub/gcs_pub_sub.h
  src/ray/pubsub/README.md
  src/ray/pubsub/publisher.cc
  src/ray/pubsub/publisher.h
  src/ray/pubsub/test/integration_test.cc
  src/ray/pubsub/test/publisher_test.cc
  src/ray/raylet/node_manager.cc
  src/ray/raylet/worker_pool.cc
Due: check-cpp-files-inclusion

[ci] raydepsets: implementing build arg sets (2/2) (#55423)
  ci/raydepsets/cli.py
  ci/raydepsets/tests/test_cli.py
  ci/raydepsets/tests/test_workspace.py
Due: docstyle, check-import-order

Suppress type error (#50994)
  python/ray/train/constants.py
Due: docstyle, check-import-order

[train] Change DEFAULT variables from strings to bools (#55581)
  python/ray/train/v2/_internal/constants.py
Due: docstyle, check-import-order

[ci] raydepsets: implementing build arg sets (1/2) (#55408)
  ci/raydepsets/tests/test_cli.py
  ci/raydepsets/tests/test_data/test.depsets.yaml
  ci/raydepsets/tests/test_workspace.py
  ci/raydepsets/workspace.py
Due: docstyle, check-import-order

[Serve.llm] Use DEFAULT_MAX_ONGOING_REQUESTS for DPServer (#55583)
  python/ray/llm/_internal/serve/deployments/data_parallel/dp_server.py
Due: docstyle, check-import-order

[data.llm] Add FAQ to doc, explain STRICT_PACK strategy used in data.llm (#55505)
  doc/source/data/working-with-llms.rst
Due: none

[serve.llm] fix: improve error handling for invalid model_id (#55589)
  python/ray/llm/_internal/serve/configs/server_models.py
Due: docstyle, check-import-order

[core] Store local_raylet_rpc_client in raylet_client_pool (#55490)
  src/ray/core_worker/core_worker_process.cc
  src/ray/core_worker/task_submission/normal_task_submitter.cc
  src/ray/core_worker/task_submission/normal_task_submitter.h
  src/ray/core_worker/task_submission/test/normal_task_submitter_test.cc
Due: check-cpp-files-inclusion

add support for async inference (#54824)
  doc/source/serve/api/index.md
  python/ray/serve/schema.py
  python/ray/serve/task_consumer.py
  python/ray/serve/task_processor.py
  python/ray/serve/tests/BUILD
  python/ray/serve/tests/test_task_processor.py
  python/ray/serve/tests/unit/test_task_consumer.py
  python/requirements.txt
  python/requirements_compiled.txt
  python/requirements_compiled_ray_py311_cpu.txt
  python/requirements_compiled_ray_py311_cu121.txt
  python/requirements_compiled_ray_py311_cu128.txt
  python/requirements_compiled_ray_test_py311_cpu.txt
  python/requirements_compiled_ray_test_py311_cu121.txt
  python/requirements_compiled_ray_test_py311_cu128.txt
  python/requirements_compiled_rayllm_py311_cpu.txt
  python/requirements_compiled_rayllm_py311_cu121.txt
  python/requirements_compiled_rayllm_py311_cu128.txt
  python/requirements_compiled_rayllm_test_py311_cpu.txt
  python/requirements_compiled_rayllm_test_py311_cu121.txt
  python/requirements_compiled_rayllm_test_py311_cu128.txt
  python/setup.py
Due: docstyle, check-import-order

[ci] add rayci build id tags for release test images (#55605)
  ci/ray_ci/docker_container.py
  ci/ray_ci/test_anyscale_docker_container.py
  ci/ray_ci/test_base.py
  ci/ray_ci/test_ray_docker_container.py
Due: docstyle, check-import-order

[image] add base-extra for aarch64 images (#55586)
  .buildkite/_forge.rayci.yml
  .buildkite/linux_aarch64.rayci.yml
  ci/docker/ray.cpu.base-extra.wanda.yaml
  ci/docker/ray.cpu.base.aarch64.wanda.yaml
  ci/docker/ray.cpu.base.wanda.yaml
  ci/docker/ray.cuda.base-extra.wanda.yaml
  ci/docker/ray.cuda.base.aarch64.wanda.yaml
  ci/docker/ray.cuda.base.wanda.yaml
Due: none

[core][gpu-object] Add a user-facing call to wait for tensor to be freed (#55076)
  python/ray/_private/serialization.py
  python/ray/_private/worker.py
  python/ray/experimental/__init__.py
  python/ray/experimental/gpu_object_manager/__init__.py
  python/ray/experimental/gpu_object_manager/gpu_object_manager.py
  python/ray/experimental/gpu_object_manager/gpu_object_store.py
  python/ray/tests/test_gpu_objects_gloo.py
Due: docstyle, check-import-order

[ci] remove unused `use_base_extra` (#55604)
  ci/ray_ci/docker_container.py
Due: docstyle, check-import-order

[RLlib] Add docs for Implicit Q-Learning. (#55422)
  doc/source/rllib/rllib-algorithms.rst
Due: none

[Doc][KubeRay] Add InteractiveMode description for `ray-job-quick-start.md` (#55570)
  doc/source/cluster/kubernetes/getting-started/rayjob-quick-start.md
Due: none

[ci] fix incorrect ml-baseextra depends_on (#55596)
  .buildkite/_forge.rayci.yml
Due: none

[Core] Add Logic to Check Label Selector in PG Scheduling (#55599)
  python/ray/tests/test_bundle_label_selector.py
  src/ray/raylet/scheduling/policy/scorer.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

[Serve.llm] Improve PrefixCacheAffinityRouter text normalization compat (#55588)
  python/ray/llm/_internal/serve/request_router/prefix_aware/prefix_aware_router.py
  python/ray/llm/tests/serve/cpu/deployments/test_prefix_aware_request_router.py
Due: docstyle, check-import-order

[serve.llm][docs] Documentation for prefix cache-aware router (#55218)
  doc/source/llm/doc_code/serve/prefix_aware_router/prefix_aware_example.py
  doc/source/serve/llm/index.md
  doc/source/serve/llm/prefix-aware-request-router.md
  python/ray/llm/_internal/serve/request_router/prefix_aware/prefix_aware_router.py
Due: docstyle, check-import-order

skip test task processor for windows (#55616)
  python/ray/serve/tests/test_task_processor.py
Due: docstyle, check-import-order

[release] Script to build custom BYOD image (#55577)
  release/BUILD.bazel
  release/ray_release/scripts/custom_byod_build.py
  release/ray_release/tests/test_custom_byod_build.py
Due: docstyle, check-import-order

[Data] Update the export API to refresh the dataset and operator states (#55355)
  python/ray/data/_internal/execution/dataset_state.py
  python/ray/data/_internal/execution/streaming_executor.py
  python/ray/data/_internal/metadata_exporter.py
  python/ray/data/_internal/stats.py
  python/ray/data/tests/test_state_export.py
  src/ray/protobuf/export_dataset_metadata.proto
Due: docstyle, check-import-order

[ci] read gce credentials file from global config when building anyscale images (#55580)
  ci/ray_ci/anyscale_docker_container.py
  ci/ray_ci/test_anyscale_docker_container.py
Due: docstyle, check-import-order

[core][otel] change+simplify the feature flag for open telemetry (#55592)
  python/ray/_private/ray_constants.py
  python/ray/dashboard/modules/reporter/reporter_agent.py
  python/ray/dashboard/modules/reporter/tests/test_reporter.py
  python/ray/tests/BUILD
  python/ray/tests/test_metric_cardinality.py
  python/ray/tests/test_metrics_agent.py
  python/ray/util/metrics.py
  release/release_tests.yaml
  src/ray/common/ray_config_def.h
  src/ray/stats/metric.cc
  src/ray/stats/metric.h
  src/ray/stats/stats.h
  src/ray/stats/tests/BUILD.bazel
Due: docstyle, check-import-order, check-cpp-files-inclusion

[ci] raydepsets changing load to build (1/4) (#55627)
  ci/raydepsets/cli.py
  ci/raydepsets/tests/test_cli.py
Due: docstyle, check-import-order

[core] Fix ubsan for publisher_test (#55621)
  src/ray/pubsub/test/publisher_test.cc
Due: check-cpp-files-inclusion

[Train] - Bump up test size for test_data_integration (#55633)
  python/ray/train/v2/BUILD
Due: none

[Serve] Add route_prefix field to DeploymentVersion (#55407)
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/_private/replica.py
  python/ray/serve/_private/version.py
  python/ray/serve/tests/test_deploy_app_2.py
  python/ray/serve/tests/test_deployment_version.py
Due: docstyle, check-import-order

[core] add test rules for container tests (#55622)
  .buildkite/core.rayci.yml
  ci/pipeline/test_rules.txt
  python/ray/tests/BUILD
Due: none

[ci] pipe through `RAYCI_DISABLE_JAVA` for manylinux base image building (#55606)
  ci/build/build-manylinux-forge.sh
  ci/docker/manylinux.Dockerfile
  ci/docker/manylinux.aarch64.wanda.yaml
  ci/docker/manylinux.wanda.yaml
Due: none

[ci] release test: use rayci to perform test init (#55629)
  .buildkite/release/config.yml
  .buildkite/release/test-init.sh
  .buildkite/release/test.rayci.yml
Due: none

[ci] upgrading uv binary and updating test (2/4) (#55626)
  WORKSPACE
  ci/raydepsets/tests/test_cli.py
Due: docstyle, check-import-order

[ci] Add hook to clean the Ray address file before the test run starts (#54715)
  python/ray/tests/conftest.py
Due: docstyle, check-import-order

[serve] pin the version of wrk used in serve ci base (#55650)
  ci/docker/serve.build.Dockerfile
Due: none

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)
