Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)

[Data] Remove redundant ORC format override
  python/ray/data/_internal/datasource_v2/formats/orc/orc_file_reader.py
Due: docstyle, check-import-order

[Data] Fix normalize_block_types picking the count instead of the block type
  python/ray/data/_internal/table_block.py
  python/ray/data/tests/test_arrow_block.py
Due: docstyle, check-import-order

[Jobs] Guard recovered monitors against stale job state
  python/ray/dashboard/modules/job/common.py
  python/ray/dashboard/modules/job/job_manager.py
  python/ray/dashboard/modules/job/tests/test_common.py
  python/ray/dashboard/modules/job/tests/test_job_manager_recovery.py
  python/ray/includes/common.pxd
  python/ray/includes/gcs_client.pxi
  src/ray/gcs/fake_gcs_kv_manager.h
  src/ray/gcs/gcs_kv_manager.cc
  src/ray/gcs/gcs_kv_manager.h
  src/ray/gcs/store_client/fake_store_client.h
  src/ray/gcs/store_client/in_memory_store_client.cc
  src/ray/gcs/store_client/in_memory_store_client.h
  src/ray/gcs/store_client/observable_store_client.cc
  src/ray/gcs/store_client/observable_store_client.h
  src/ray/gcs/store_client/redis_store_client.cc
  src/ray/gcs/store_client/redis_store_client.h
  src/ray/gcs/store_client/rocksdb_store_client.cc
  src/ray/gcs/store_client/rocksdb_store_client.h
  src/ray/gcs/store_client/store_client.h
  src/ray/gcs/store_client/tests/in_memory_store_client_test.cc
  src/ray/gcs/store_client/tests/redis_store_client_test.cc
  src/ray/gcs/store_client/tests/rocksdb_parity_test.cc
  src/ray/gcs/store_client/tests/store_client_test_base.h
  src/ray/gcs/store_client_kv.cc
  src/ray/gcs/store_client_kv.h
  src/ray/gcs/tests/gcs_kv_manager_test.cc
  src/ray/gcs_rpc_client/accessor.cc
  src/ray/gcs_rpc_client/accessor.h
  src/ray/protobuf/gcs_service.proto
Due: docstyle, check-import-order, check-cpp-files-inclusion

Fix pg commit race condition
  src/ray/gcs/gcs_placement_group_scheduler.cc
  src/ray/gcs/gcs_placement_group_scheduler.h
  src/ray/gcs/tests/gcs_placement_group_scheduler_test.cc
Due: check-cpp-files-inclusion

[Data] Fix projected ORC partition columns
  python/ray/data/_internal/datasource_v2/formats/orc/orc_file_reader.py
  python/ray/data/_internal/datasource_v2/formats/orc/orc_scanner.py
  python/ray/data/tests/datasource/test_orc.py
  python/ray/data/tests/unit/datasource_v2/test_orc_file_reader.py
Due: docstyle, check-import-order

[serve] Format scheduling constraints in one place, include placement-group selectors
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/_private/test_utils.py
  python/ray/serve/tests/unit/test_deployment_state.py
Due: docstyle, check-import-order

[RLlib] Don't leave an agent without timesteps when sharding multi-agent episodes
  python/ray/rllib/utils/minibatch_utils.py
  python/ray/rllib/utils/tests/test_minibatch_utils.py
Due: docstyle, check-import-order

initial
  python/ray/rllib/core/learner/learner.py
  python/ray/rllib/core/learner/tests/test_learner_group.py
  python/ray/rllib/core/learner/torch/torch_learner.py
  python/ray/rllib/utils/tests/test_minibatch_utils.py
Due: docstyle, check-import-order

[RLlib] Expect the larger minibatch count in the never_skip_update group test
  python/ray/rllib/core/learner/tests/test_learner_group.py
Due: docstyle, check-import-order

[ci] Read push_release_test_image's GCP credentials from the global config
  ci/ray_ci/automation/BUILD.bazel
  ci/ray_ci/automation/push_release_test_image.py
  ci/ray_ci/automation/test_push_release_test_image.py
  release/BUILD.bazel
Due: docstyle, check-import-order

[Serve] Narrow the LongPoll host actor ID type for mypy
  python/ray/serve/_private/long_poll.py
Due: docstyle, check-import-order

Fix RDT cross-device test
  python/ray/experimental/rdt/nixl_tensor_transport.py
Due: docstyle, check-import-order

[serve][release] Run gRPC microbenchmarks in the HAProxy throughput-optimized variant
  release/release_tests.yaml
Due: none

[RLlib] Fix the LSTM encoder's ONNX export under torch 2.10 (#66721)
  python/ray/rllib/core/models/tests/test_recurrent_encoders.py
  python/ray/rllib/core/models/torch/encoder.py
  python/ray/rllib/examples/inference/policy_inference_after_training_w_connector.py
Due: docstyle, check-import-order

Revert "[Serve] Run sync deployment methods in a thread pool (#66436)"
  doc/source/serve/advanced-guides/asyncio-best-practices.md
  python/ray/serve/_private/constants.py
  python/ray/serve/tests/BUILD.bazel
Due: docstyle, check-import-order

Revert "[serve] Prevent routing tasks from abandoning pending requests (#66325)"
  python/ray/serve/_private/request_router/request_router.py
  python/ray/serve/tests/unit/test_request_router.py
Due: docstyle, check-import-order

[serve][llm] Add a LoRA routing release test for PrefixCacheAffinityRouter
  release/llm_tests/serve/llm_cpu_single_node.yaml
  release/llm_tests/serve/prefix_router_lora_benchmark.py
  release/release_tests.yaml
Due: docstyle, check-import-order

[Data] Prevent integer overflow in sum and mean aggregations
  python/ray/data/BUILD.bazel
  python/ray/data/_internal/arrow_aggregation.py
  python/ray/data/_internal/arrow_block.py
  python/ray/data/_internal/execution/operators/hash_aggregate_v2.py
  python/ray/data/_internal/pandas_block.py
  python/ray/data/aggregate.py
  python/ray/data/dataset.py
  python/ray/data/tests/test_integer_aggregation_overflow.py
Due: docstyle, check-import-order

code review from jason
  python/ray/train/v2/_internal/callbacks/nccl_ras.py
  python/ray/train/v2/tests/test_nccl_ras_callback.py
Due: docstyle, check-import-order, check-train-circular-imports

fix
  python/ray/experimental/sandbox/modal/__init__.py
Due: docstyle, check-import-order

Preserve write initialization schema by preventing unsafe fusion
  python/ray/data/_internal/planner/plan_write_op.py
  python/ray/data/tests/test_operator_fusion.py
Due: docstyle, check-import-order

[Core] Fix clang-format in the test fake schedulers
  src/ray/gcs/actor/tests/gcs_actor_manager_test.cc
  src/ray/gcs/tests/export_api/gcs_actor_manager_export_event_test.cc
Due: check-cpp-files-inclusion

code review
  python/ray/train/v2/tests/test_nccl_ras_hang_detection.py
Due: docstyle, check-import-order, check-train-circular-imports

[Data] Resolve integer sum schemas from actual results
  python/ray/data/_internal/arrow_aggregation.py
  python/ray/data/_internal/arrow_block.py
  python/ray/data/_internal/execution/operators/hash_aggregate_v2.py
  python/ray/data/aggregate.py
  python/ray/data/tests/test_infer_schema.py
  python/ray/data/tests/test_integer_aggregation_overflow.py
Due: docstyle, check-import-order

merge conflicts
  python/ray/train/v2/_internal/callbacks/nccl_ras.py
  python/ray/train/v2/tests/test_nccl_ras_callback.py
Due: docstyle, check-import-order, check-train-circular-imports

[Fix][Core/Auth] Enable token auth in C++ and Java drivers that start their own local cluster
  cpp/BUILD.bazel
  cpp/src/ray/util/process_helper.cc
  java/runtime/src/main/java/io/ray/runtime/RayNativeRuntime.java
  src/ray/core_worker/lib/java/BUILD.bazel
  src/ray/core_worker/lib/java/io_ray_runtime_RayNativeRuntime.cc
  src/ray/core_worker/lib/java/io_ray_runtime_RayNativeRuntime.h
  src/ray/rpc/authentication/BUILD.bazel
  src/ray/rpc/authentication/authentication_token_loader.cc
  src/ray/rpc/authentication/authentication_token_loader.h
Due: check-cpp-files-inclusion

[core][rdt] nixl: raise when a cached registration is smaller than the tensor
  python/ray/experimental/rdt/nixl_tensor_transport.py
  python/ray/experimental/rdt/util.py
Due: docstyle, check-import-order

pre-commit
  python/ray/train/v2/tests/test_nccl_ras_callback.py
Due: docstyle, check-import-order, check-train-circular-imports

[autoscaler] Release every stopped-node claim when OCI reuse fails
  python/ray/autoscaler/_private/_oci/node_provider.py
  python/ray/tests/test_autoscaler_oci.py
Due: docstyle, check-import-order

[autoscaler] Add Oracle Cloud Infrastructure (OCI) node provider
  doc/source/cluster/vms/getting-started.md
  doc/source/cluster/vms/index.md
  doc/source/cluster/vms/references/ray-cluster-configuration.md
  doc/source/cluster/vms/user-guides/launching-clusters/index.md
  doc/source/cluster/vms/user-guides/launching-clusters/oci.md
  python/ray/autoscaler/BUILD.bazel
  python/ray/autoscaler/_private/_oci/__init__.py
  python/ray/autoscaler/_private/_oci/config.py
  python/ray/autoscaler/_private/_oci/node_provider.py
  python/ray/autoscaler/_private/_oci/utils.py
  python/ray/autoscaler/_private/providers.py
  python/ray/autoscaler/oci/BUILD.bazel
  python/ray/autoscaler/oci/__init__.py
  python/ray/autoscaler/oci/defaults.yaml
  python/ray/autoscaler/oci/example-full.yaml
  python/ray/autoscaler/oci/example-minimal.yaml
  python/ray/tests/BUILD.bazel
  python/ray/tests/test_autoscaler_oci.py
  python/setup.py
Due: docstyle, check-import-order

[autoscaler] Fix AD visibility, stopped-node reuse and tenancy lookup in the OCI provider
  python/ray/autoscaler/_private/_oci/config.py
  python/ray/autoscaler/_private/_oci/node_provider.py
  python/ray/autoscaler/_private/_oci/utils.py
  python/ray/tests/test_autoscaler_oci.py
Due: docstyle, check-import-order

[autoscaler] Make the OCI tenancy-fallback test independent of caplog
  python/ray/tests/test_autoscaler_oci.py
Due: docstyle, check-import-order

Delete rllib ignores from pydoclint-baseline.txt
  ci/lint/pydoclint-baseline.txt
Due: none

[autoscaler] Don't hold the OCI provider lock during tag retries; reserve post-launch tags
  doc/source/cluster/vms/user-guides/launching-clusters/oci.md
  python/ray/autoscaler/_private/_oci/node_provider.py
  python/ray/autoscaler/_private/_oci/utils.py
  python/ray/tests/test_autoscaler_oci.py
Due: docstyle, check-import-order

[serve] Address review: one owner for the lag window, no duplicated verdict
  python/ray/serve/_private/constants.py
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/_private/replica.py
  python/ray/serve/tests/unit/test_deployment_state.py
  python/ray/serve/tests/unit/test_metrics_utils.py
Due: docstyle, check-import-order

[serve] Replicas push their own health, with an ingest-lag gate
  python/ray/serve/_private/constants.py
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/_private/replica.py
  python/ray/serve/_private/test_utils.py
  python/ray/serve/tests/unit/test_deployment_state.py
  python/ray/serve/tests/unit/test_metrics_utils.py
Due: docstyle, check-import-order

[serve] Share one wrapper builder between the push-health suites
  python/ray/serve/tests/unit/test_deployment_state.py
Due: docstyle, check-import-order

[serve] Hold both ends to one push-freshness window
  python/ray/serve/_private/common.py
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/_private/replica.py
  python/ray/serve/tests/unit/test_deployment_state.py
  python/ray/serve/tests/unit/test_metrics_utils.py
Due: docstyle, check-import-order

[serve] Restore ReplicaID's PublicAPI annotation and keep the window private
  python/ray/serve/_private/common.py
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/_private/replica.py
  python/ray/serve/tests/unit/test_deployment_state.py
  python/ray/serve/tests/unit/test_metrics_utils.py
Due: docstyle, check-import-order
