Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)

Update python/ray/serve/tests/test_websockets.py
  python/ray/serve/tests/test_websockets.py
Due: docstyle, check-import-order

fix test_controller_deserialization_deployment_def
  python/ray/serve/tests/test_standalone_2.py
Due: docstyle, check-import-order

fix cuda index
  python/ray/train/v2/torch/train_loop_utils.py
Due: docstyle, check-import-order

[deps] Allow to call individual functions within install-dependencies (#54502)
  ci/env/install-dependencies.sh
Due: none

[core] Improve status messages and add comments about stale seq_no handling (#54470)
  src/ray/core_worker/transport/actor_scheduling_queue.cc
  src/ray/core_worker/transport/actor_scheduling_queue.h
  src/ray/core_worker/transport/out_of_order_actor_scheduling_queue.cc
  src/ray/core_worker/transport/out_of_order_actor_scheduling_queue.h
  src/ray/core_worker/transport/scheduling_util.cc
  src/ray/core_worker/transport/scheduling_util.h
  src/ray/protobuf/core_worker.proto
Due: check-cpp-files-inclusion

adding test setup
  ci/raydepsets/cli.py
  ci/raydepsets/test_cli.py
  ci/raydepsets/workspace.py
Due: docstyle, check-import-order

Remove circular dep
  python/ray/data/_expression_evaluator.py
  python/ray/data/_internal/planner/plan_udf_map_op.py
  python/ray/data/expressions.py
Due: docstyle, check-import-order

split _wrap_user_method_call into _wrap_request and _start_request (#54485)
  python/ray/serve/_private/replica.py
Due: docstyle, check-import-order

[core][telemetry/08] record counter metric e2e
  python/ray/tests/test_open_telemetry_metric_recorder.py
Due: docstyle, check-import-order

[core][telemetry/09] record sum metric e2e
  src/ray/stats/tests/metric_with_open_telemetry_test.cc
Due: check-cpp-files-inclusion

[core][telemetry/10] support custom gauge+counter+sum metrics
  src/ray/stats/tests/metric_with_open_telemetry_test.cc
Due: check-cpp-files-inclusion

[core] remove otel from hard dependencies
  python/ray/tests/test_open_telemetry_metric_recorder.py
Due: docstyle, check-import-order

[core][telemetry/08] record counter metric e2e
  src/ray/stats/tests/metric_with_open_telemetry_test.cc
Due: check-cpp-files-inclusion

[core][telemetry/13] performance tests
  release/release_tests.yaml
  src/ray/stats/tests/metric_with_open_telemetry_test.cc
Due: check-cpp-files-inclusion

[core][telemetry/12] record histogram metric e2e
  src/ray/stats/tests/metric_with_open_telemetry_test.cc
Due: check-cpp-files-inclusion

feat: clean up Signed-off-by: Omkar <omkar@anyscale.com>
  python/ray/serve/_private/test_utils.py
Due: docstyle, check-import-order

[Serve] Update timeout to 20 for test_deploy_bad_pip_package_deployment
  python/ray/serve/tests/test_deploy_2.py
Due: docstyle, check-import-order

formatting
  ci/raydepsets/cli.py
  ci/raydepsets/workspace.py
Due: docstyle, check-import-order

use wait_condition
  python/ray/serve/tests/test_logging.py
Due: docstyle, check-import-order

updating bk job
  .buildkite/cicd.rayci.yml
  ci/raydepsets/cli.py
  ci/raydepsets/test_cli.py
  python/ray/llm/_internal/batch/processor/base.py
Due: docstyle, check-import-order

[Docs] Troubleshooting DeepSeek/multi-node GPU deployment on KubeRay (#54229)
  doc/source/cluster/kubernetes/troubleshooting/troubleshooting.md
  doc/source/serve/advanced-guides/index.md
  doc/source/serve/advanced-guides/multi-node-gpu-troubleshooting.md
  doc/source/serve/tutorials/serve-deepseek.md
Due: none

wip
  python/ray/llm/_internal/serve/deployments/llm/vllm/vllm_models.py
Due: docstyle, check-import-order

[core] prevent sending SIGTERM after calling Worker::MarkDead
  src/ray/raylet/node_manager.cc
  src/ray/raylet/test/util.h
  src/ray/raylet/worker.cc
  src/ray/raylet/worker.h
Due: check-cpp-files-inclusion

Address comments
  python/ray/data/_internal/block_builder.py
  python/ray/data/_internal/planner/plan_udf_map_op.py
Due: docstyle, check-import-order

refactoring workspace
  ci/raydepsets/test_cli.py
  ci/raydepsets/workspace.py
Due: docstyle, check-import-order

fix
  python/ray/serve/tests/test_deploy.py
Due: docstyle, check-import-order

review changes
  python/ray/serve/tests/test_logging.py
Due: docstyle, check-import-order

Feat/fix callback tests (#54507)
  python/ray/serve/tests/test_callback.py
Due: docstyle, check-import-order

Optimize get_live_deployments (#54454)
  python/ray/serve/_private/deployment_state.py
Due: docstyle, check-import-order

remove change in block builder
  python/ray/data/_internal/block_builder.py
  python/ray/data/_internal/planner/plan_udf_map_op.py
Due: docstyle, check-import-order

Remove block builder change
  python/ray/data/_internal/block_builder.py
Due: docstyle, check-import-order

cleaner
  python/ray/data/_internal/planner/exchange/aggregate_task_spec.py
  python/ray/data/_internal/planner/exchange/sort_task_spec.py
Due: docstyle, check-import-order

more clean
  python/ray/data/_internal/planner/exchange/aggregate_task_spec.py
  python/ray/data/_internal/planner/exchange/sort_task_spec.py
Due: docstyle, check-import-order

Make pre-commit happy
  python/ray/data/_internal/planner/plan_udf_map_op.py
Due: docstyle, check-import-order

deflake test_e2e_preserve_prev_replicas
  python/ray/serve/_private/test_utils.py
  python/ray/serve/tests/test_autoscaling_policy.py
Due: docstyle, check-import-order

[serve] fix `test_standalone_2` (#54508)
  python/ray/serve/tests/test_standalone_2.py
Due: docstyle, check-import-order

[Serve.llm] Make llm serve endpoints compatible with vLLM serve frontend (2/N): Incremental refactor of LLMEngine (#54443)
  python/ray/llm/_internal/serve/deployments/llm/llm_engine.py
  python/ray/llm/_internal/serve/deployments/llm/vllm/vllm_engine.py
  python/ray/llm/_internal/serve/deployments/llm/vllm/vllm_models.py
Due: docstyle, check-import-order
