Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)

Fix uninitialized last_started_worker_process
  src/ray/raylet/tests/worker_pool_test.cc
Due: check-cpp-files-inclusion

[core] (cgroups 21/n) Making cgroup_path a part of the public API for ray.init(...)
  ci/lint/pydoclint-baseline.txt
  python/ray/_private/worker.py
Due: docstyle, check-import-order

better docstrings
  python/ray/autoscaler/_private/util.py
Due: docstyle, check-import-order

gemini
  python/ray/_private/worker.py
Due: docstyle, check-import-order

Add Torch Trace GPU profiling feature for PyTorch workers
  python/ray/dashboard/client/src/components/WorkerTable.tsx
  python/ray/dashboard/client/src/pages/cmd/CMDResult.tsx
  python/ray/dashboard/client/src/pages/node/NodeRow.tsx
Due: none

[Data][release test] add spilling information to release teste (#60550)
  release/train_tests/benchmark/ray_dataloader_factory.py
Due: docstyle, check-import-order

try to upgrade doc test to v2
  doc/BUILD.bazel
Due: none

fix test_offline_data test
  rllib/offline/offline_prelearner.py
  rllib/offline/tests/test_offline_data.py
Due: docstyle, check-import-order

reenable some use_tpu scaling config test
  doc/source/train/getting-started-jax.rst
Due: none

experiment -- enable core min CI
  .buildkite/core.rayci.yml
Due: none

[RLlib] - Uncomment offline prelearner tests. (#60714)
  rllib/offline/tests/test_offline_prelearner.py
Due: docstyle, check-import-order

Fix huber loss target and quantile shapes
  rllib/BUILD.bazel
  rllib/algorithms/tqc/torch/tqc_torch_learner.py
Due: docstyle, check-import-order

update tqc examples
  rllib/examples/algorithms/tqc/humanoid_tqc.py
  rllib/examples/algorithms/tqc/mujoco_tqc.py
  rllib/examples/algorithms/tqc/pendulum_tqc.py
Due: docstyle, check-import-order

[Serve] Add generic actor registration API for shutdown cleanup (#60067)
  python/ray/llm/_internal/serve/routing_policies/prefix_aware/prefix_aware_router.py
  python/ray/llm/tests/serve/cpu/deployments/test_prefix_aware_request_router.py
  python/ray/serve/_private/controller.py
  python/ray/serve/tests/test_standalone.py
Due: docstyle, check-import-order

fix test
  python/ray/data/tests/test_tensor_extension.py
Due: docstyle, check-import-order

data doc depset
  .buildkite/data.rayci.yml
  ci/docker/data.docs.build.wanda.yaml
  ci/raydepsets/configs/ci_data.depsets.yaml
  python/deplocks/base_slim/ray_base_slim_py3.12.lock
  python/requirements/data/data-docs.txt
Due: none

Fixed Custom checkpoint callback subclass never found issue
  python/ray/data/_internal/planner/planner.py
Due: docstyle, check-import-order

installing tf keras for tensorflow compatibility
  .buildkite/data.rayci.yml
  ci/docker/data.base.build.Dockerfile
  ci/raydepsets/configs/ci_data.depsets.yaml
  doc/BUILD.bazel
  python/deplocks/ci/data_base_ci_depset_py3.10.lock
  python/deplocks/ci/data_base_ci_depset_py3.12.lock
  python/requirements/data/data-base.txt
  python/requirements/data/data-docs.txt
Due: none

upgrade pytest
  ci/docker/min.build.Dockerfile
Due: none

fix
  python/ray/experimental/gpu_object_manager/gpu_object_manager.py
Due: docstyle, check-import-order

Fixing the test. Enabling all cgroup tests on all python changes in CI
  .buildkite/core.rayci.yml
  python/ray/tests/resource_isolation/test_resource_isolation_integration.py
Due: docstyle, check-import-order

ippr: make the ray.io/ippr feature flag to be more explicit
  python/ray/autoscaler/v2/instance_manager/cloud_providers/kuberay/ippr_provider.py
Due: docstyle, check-import-order

[image] consolidate apt package installation (#60687)
  docker/base-extra/Dockerfile
  docker/base-slim/Dockerfile
Due: none

[Data] Store _source_paths in object store rather than self to prevent excessive spilling during read task serialization (#59999)
  python/ray/data/_internal/datasource/parquet_datasource.py
  python/ray/data/datasource/file_based_datasource.py
Due: docstyle, check-import-order

[ci] chore: update rayciversion 0.27.0 to 0.28.0 (#60723)
  .rayciversion
Due: none

[ci] chore: bump manylinux version to 260128.221a193 (#60671)
  rayci.env
Due: none

Checkpoint ref fix
  python/ray/data/checkpoint/load_checkpoint_callback.py
Due: docstyle, check-import-order

example with project schema resolution
  python/ray/data/_internal/logical/operators/map_operator.py
  python/ray/data/_internal/planner/plan_expression/expression_analyzer.py
  python/ray/data/datatype.py
Due: docstyle, check-import-order

[train] Add a CallbackManager and guardrail some callback hooks (#60117)
  python/ray/train/v2/BUILD.bazel
  python/ray/train/v2/_internal/execution/callback_manager.py
  python/ray/train/v2/_internal/execution/controller/controller.py
  python/ray/train/v2/tests/test_callback_manager.py
  python/ray/train/v2/tests/test_controller.py
Due: docstyle, check-import-order, check-train-circular-imports

fix test
  python/ray/tests/gpu_objects/test_gpu_objects_nixl.py
Due: docstyle, check-import-order

add back removed test and don't error out for module spec
  rllib/offline/offline_prelearner.py
  rllib/offline/tests/test_offline_prelearner.py
Due: docstyle, check-import-order

feat(build): add container-resource-utils
  ci/build/BUILD.bazel
  ci/build/container_resource_utils.py
  ci/build/container_resource_utils_test.py
  ci/docker/ray-core.Dockerfile
  ci/docker/ray-core.wanda.yaml
  ci/docker/ray-java.Dockerfile
  ci/docker/ray-java.wanda.yaml
Due: docstyle, check-import-order

update
  python/ray/data/_internal/planner/plan_expression/expression_analyzer.py
  python/ray/data/expressions.py
Due: docstyle, check-import-order

[core][autoscaler] fix: shorten sha256 hex with base32 to comply with GCP label limits (#60722)
  python/ray/autoscaler/_private/util.py
Due: docstyle, check-import-order

[docs] Add multi-agent A2A example with Ray Serve
  doc/source/ray-overview/examples/multi-agent-a2a/.anyscaleignore
  doc/source/ray-overview/examples/multi-agent-a2a/README.md
  doc/source/ray-overview/examples/multi-agent-a2a/agent_runtime/a2a_deployment.py
  doc/source/ray-overview/examples/multi-agent-a2a/agent_runtime/agent_builder.py
  doc/source/ray-overview/examples/multi-agent-a2a/agent_runtime/config.py
  doc/source/ray-overview/examples/multi-agent-a2a/agent_runtime/serve_deployment.py
  doc/source/ray-overview/examples/multi-agent-a2a/agents/research_agent_with_web_search_mcp.py
  doc/source/ray-overview/examples/multi-agent-a2a/agents/travel_agent_with_a2a.py
  doc/source/ray-overview/examples/multi-agent-a2a/agents/weather_agent_with_mcp.py
  doc/source/ray-overview/examples/multi-agent-a2a/anyscale_service_multi_config.yaml
  doc/source/ray-overview/examples/multi-agent-a2a/llm/llm_deploy_qwen.py
  doc/source/ray-overview/examples/multi-agent-a2a/mcps/weather_mcp_server.py
  doc/source/ray-overview/examples/multi-agent-a2a/mcps/web_search_mcp_server.py
  doc/source/ray-overview/examples/multi-agent-a2a/protocols/a2a_card.py
  doc/source/ray-overview/examples/multi-agent-a2a/protocols/a2a_client.py
  doc/source/ray-overview/examples/multi-agent-a2a/ray_serve_all_deployments.py
  doc/source/ray-overview/examples/multi-agent-a2a/requirements.txt
  doc/source/ray-overview/examples/multi-agent-a2a/serve_multi_config.yaml
  doc/source/ray-overview/examples/multi-agent-a2a/tests/__init__.py
  doc/source/ray-overview/examples/multi-agent-a2a/tests/helpers.py
  doc/source/ray-overview/examples/multi-agent-a2a/tests/run_all.py
  doc/source/ray-overview/examples/multi-agent-a2a/tests/test_a2a.py
  doc/source/ray-overview/examples/multi-agent-a2a/tests/test_agents_sse.py
  doc/source/ray-overview/examples/multi-agent-a2a/tests/test_llm.py
  doc/source/ray-overview/examples/multi-agent-a2a/tests/test_mcp.py
Due: none

delete
  doc/source/ray-overview/examples/multi-agent-a2a/.anyscaleignore
Due: none

fix
  python/ray/data/_internal/planner/plan_expression/expression_analyzer.py
Due: docstyle, check-import-order

[core] Moving all Actor Management related code in the worker to a separate bazel package. (#60505)
  src/ray/core_worker/BUILD.bazel
  src/ray/core_worker/actor_management/BUILD.bazel
  src/ray/core_worker/actor_management/actor_creator.cc
  src/ray/core_worker/actor_management/actor_creator.h
  src/ray/core_worker/actor_management/actor_handle.cc
  src/ray/core_worker/actor_management/actor_handle.h
  src/ray/core_worker/actor_management/actor_manager.cc
  src/ray/core_worker/actor_management/actor_manager.h
  src/ray/core_worker/actor_management/fake_actor_creator.h
  src/ray/core_worker/actor_management/tests/BUILD.bazel
  src/ray/core_worker/actor_management/tests/actor_creator_test.cc
  src/ray/core_worker/actor_management/tests/actor_manager_test.cc
  src/ray/core_worker/core_worker.h
  src/ray/core_worker/lib/java/io_ray_runtime_RayNativeRuntime.cc
  src/ray/core_worker/lib/java/io_ray_runtime_actor_NativeActorHandle.cc
  src/ray/core_worker/task_manager.cc
  src/ray/core_worker/task_submission/BUILD.bazel
  src/ray/core_worker/task_submission/actor_task_submitter.h
  src/ray/core_worker/task_submission/dependency_resolver.h
  src/ray/core_worker/task_submission/tests/BUILD.bazel
  src/ray/core_worker/task_submission/tests/actor_task_submitter_test.cc
  src/ray/core_worker/task_submission/tests/dependency_resolver_test.cc
  src/ray/core_worker/task_submission/tests/direct_actor_transport_test.cc
  src/ray/core_worker/task_submission/tests/normal_task_submitter_test.cc
  src/ray/core_worker/tests/BUILD.bazel
  src/ray/core_worker/tests/core_worker_test.cc
Due: check-cpp-files-inclusion

[Core] fix idle_time_ms resetting for nodes not running tasks (#60581)
  src/ray/raylet/scheduling/local_lease_manager.cc
  src/ray/raylet/scheduling/local_resource_manager.cc
  src/ray/raylet/scheduling/local_resource_manager.h
  src/ray/raylet/scheduling/tests/local_resource_manager_test.cc
Due: check-cpp-files-inclusion

[Core] Rename _DoubleGaugeCallback to follow C++ naming conventions (#60660)
  doc/source/ray-core/internals/metric-exporter.rst
  src/ray/observability/open_telemetry_metric_recorder.cc
Due: check-cpp-files-inclusion
