Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

check-train-circular-imports:
  name: Check Ray Train circular imports
  entry: python python/ray/train/lint/check_circular_imports.py
  language: system
  pass_filenames: false
  args:
  - --patch_dir
  - ray/train/v2

log once
  rllib/env/multi_agent_env_runner.py
  rllib/env/single_agent_env_runner.py
Due: docstyle, check-import-order

cursor comment
  rllib/env/multi_agent_env_runner.py
  rllib/env/single_agent_env_runner.py
Due: docstyle, check-import-order

feat: consider bundle label selector during scale down
  python/ray/serve/_private/deployment_scheduler.py
Due: docstyle, check-import-order

[docs][RLlib] Fix outdated parametric DQN docs link (#59079)
  doc/source/rllib/rllib-algorithms.rst
Due: none

Update copy logic
  python/ray/data/_internal/execution/operators/map_transformer.py
Due: docstyle, check-import-order

fix log_once
  rllib/env/multi_agent_env_runner.py
  rllib/env/single_agent_env_runner.py
Due: docstyle, check-import-order

Fixed a few more bugs in tests and added test data for stateless cartpole.
  rllib/algorithms/marwil/tests/test_marwil.py
  rllib/offline/tests/test_offline_rl_stateful.py
Due: docstyle, check-import-order

[docs] keep local search results on local docs builds
  doc/source/conf.py
Due: none

feat: track and get real resource usage
  python/ray/data/_internal/execution/operators/actor_pool_map_operator.py
Due: docstyle, check-import-order

test: correct resource transition
  python/ray/data/tests/test_actor_pool_map_operator.py
Due: docstyle, check-import-order

test: ensure getting real resources
  python/ray/data/tests/test_executor_resource_management.py
Due: docstyle, check-import-order

[util][rpdb] Fix IndexError in legacy post-mortem debugging
  python/ray/util/rpdb.py
Due: docstyle, check-import-order

Simon's review
  rllib/connectors/learner/add_columns_from_episodes_to_train_batch.py
Due: docstyle, check-import-order

support 0-sized native tensors
  python/ray/data/_internal/datasource/parquet_datasource.py
  python/ray/data/_internal/tensor_extensions/arrow.py
  python/ray/data/read_api.py
  python/ray/data/tests/test_tensor_extension.py
Due: docstyle, check-import-order

add warning
  python/ray/data/_internal/tensor_extensions/arrow.py
Due: docstyle, check-import-order

[Docs] Add documentation for RAY_BACKEND_LOG_JSON environment variable
  doc/source/ray-observability/user-guides/configure-logging.md
Due: none

intentionally failing test fixed
  python/ray/data/tests/test_arrow_block.py
  python/ray/data/tests/test_transform_pyarrow.py
Due: docstyle, check-import-order

bump min version to 16 because 12 contains errors in serialization of extension arrays + slicing bugs + to_numpy() scalar issues
  python/ray/data/_internal/tensor_extensions/arrow.py
  python/ray/data/tests/conftest.py
  python/ray/data/tests/test_tensor.py
  python/ray/data/tests/test_tensor_extension.py
Due: docstyle, check-import-order

preserve comments
  python/ray/data/_internal/arrow_ops/transform_pyarrow.py
Due: docstyle, check-import-order

lint
  python/ray/data/_internal/arrow_ops/transform_pyarrow.py
Due: docstyle, check-import-order

fix: ci
  python/ray/data/random_access_dataset.py
  python/ray/data/tests/test_random_access.py
Due: docstyle, check-import-order

reducing depset
  ci/raydepsets/configs/ci_ml.depsets.yaml
  python/deplocks/base_extra_testdeps/ray-base_extra_testdeps_py3.10.lock
  python/deplocks/base_extra_testdeps/ray-base_extra_testdeps_py3.11.lock
  python/deplocks/base_extra_testdeps/ray-base_extra_testdeps_py3.12.lock
  python/deplocks/base_extra_testdeps/ray-gpu-base_extra_testdeps_py3.10.lock
  python/deplocks/base_extra_testdeps/ray-ml-base_extra_testdeps_py3.10.lock
  python/deplocks/base_slim/ray_base_slim_py3.10.lock
  python/deplocks/base_slim/ray_base_slim_py3.11.lock
  python/deplocks/base_slim/ray_base_slim_py3.12.lock
  python/deplocks/ci/ml-build-ci_depset_py3.10.lock
  python/deplocks/ci/ml-build-ci_depset_py3.12.lock
  python/deplocks/ci/ml-gpubuild-ci_depset_py3.10.lock
  python/deplocks/ci/ml-gpubuild-ci_depset_py3.12.lock
  python/deplocks/ci/ml-lightninggpubuild-ci_depset_py3.10.lock
  python/deplocks/ci/ml-lightninggpubuild-ci_depset_py3.12.lock
  python/deplocks/ray_img/ray_img_py310.lock
  python/deplocks/ray_img/ray_img_py311.lock
  python/deplocks/ray_img/ray_img_py312.lock
  python/requirements_compiled.txt
  python/requirements_compiled_py3.13.txt
Due: none

fix the target block size for read op
  python/ray/data/_internal/logical/operators/read_operator.py
Due: docstyle, check-import-order

fix warning
  python/ray/data/_internal/tensor_extensions/arrow.py
Due: docstyle, check-import-order

relaxing pyarrow version
  .buildkite/data.rayci.yml
  ci/docker/data.build.Dockerfile
  ci/docker/data.build.wanda.yaml
  ci/docker/data9.build.wanda.yaml
  ci/docker/datal.build.wanda.yaml
  ci/docker/datamongo.build.wanda.yaml
  ci/docker/datan.build.wanda.yaml
  ci/raydepsets/configs/ci_data.depsets.yaml
  ci/raydepsets/workspace.py
  python/deplocks/ci/data-base-ci_depset_py3.10.lock
  python/deplocks/ci/data-base-ci_depset_py3.12.lock
  python/deplocks/ci/data-mongo-ci_depset_py3.10.lock
  python/deplocks/ci/data-pyarrow-latest-ci_depset_py3.10.lock
  python/deplocks/ci/data-pyarrow-latest-ci_depset_py3.12.lock
  python/deplocks/ci/data-pyarrow-nightly-ci_depset_py3.10.lock
  python/deplocks/ci/data-pyarrow-v9-ci_depset_py3.10.lock
  python/deplocks/ci/relaxed_data-ci_depset_py3.10.lock
  python/deplocks/ci/relaxed_data-ci_depset_py3.12.lock
  python/requirements/data/mongo.txt
  python/requirements/data/pyarrow-latest.txt
  python/requirements/data/pyarrow-nightly.txt
  python/requirements/data/pyarrow-v9.txt
  python/requirements/ml/data-requirements-py313.txt
  python/requirements/ml/data-test-requirements-py313.txt
  python/requirements_compiled_py3.13.txt
Due: docstyle, check-import-order

issue fixed
  python/ray/data/tests/test_transform_pyarrow.py
Due: docstyle, check-import-order

[Data] Add data operator id to ActorPoolMapOperator tasks
  python/ray/_raylet.pyx
  python/ray/actor.py
  python/ray/data/_internal/execution/operators/actor_pool_map_operator.py
  src/ray/core_worker/core_worker.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

new set of requirements
  ci/raydepsets/configs/ci_data.depsets.yaml
  doc/BUILD.bazel
  python/deplocks/ci/data-base-ci_depset_py3.10.lock
  python/deplocks/ci/data-base-ci_depset_py3.12.lock
  python/deplocks/ci/data-pyarrow-nightly-ci_depset_py3.10.lock
  python/deplocks/ci/relaxed_data-ci_depset_py3.10.lock
  python/deplocks/ci/relaxed_data-ci_depset_py3.12.lock
  python/ray/data/BUILD.bazel
  python/ray/data/_internal/util.py
  python/ray/data/datasource/file_meta_provider.py
  python/ray/data/tests/test_dataset_validation.py
  python/ray/data/tests/unit/test_data_batch_conversion.py
  python/requirements/ml/data-requirements.txt
  python/requirements/ml/py313/data-requirements.txt
  python/requirements/ml/py313/data-test-requirements.txt
  python/requirements/ml/py313/dl-cpu-requirements.txt
  python/requirements/ml/py313/dl-gpu-requirements.txt
  python/requirements_compiled_py3.13.txt
Due: docstyle, check-import-order

PR 2: Strip to write modes only, remove leaked features
  python/ray/data/_internal/datasource/delta/committer.py
  python/ray/data/_internal/datasource/delta/datasink.py
  python/ray/data/_internal/datasource/delta/datasource.py
  python/ray/data/_internal/datasource/delta/utils.py
  python/ray/data/_internal/datasource/delta/writer.py
  python/ray/data/dataset.py
  python/ray/data/read_api.py
  python/ray/data/tests/datasource/test_delta.py
Due: docstyle, check-import-order

updating depsets
  python/deplocks/ci/rllib-build-ci_depset_py3.10.lock
  python/deplocks/ci/rllib-build-ci_depset_py3.12.lock
  python/deplocks/ci/rllib-gpubuild-ci_depset_py3.10.lock
  python/deplocks/ci/rllib-gpubuild-ci_depset_py3.12.lock
  python/requirements/ml/rllib-test-requirements.txt
  rllib/BUILD.bazel
Due: none

[Core] Add labels as ref IDs to the actor definition OneEvent to be able to link actor and Ray Data operator
  src/ray/gcs/actor/gcs_actor.h
  src/ray/observability/ray_actor_definition_event.cc
  src/ray/observability/tests/ray_actor_definition_event_test.cc
  src/ray/protobuf/gcs.proto
  src/ray/protobuf/public/events_actor_definition_event.proto
Due: check-cpp-files-inclusion

PR 3: Strip to partitioning only, remove leaked features
  python/ray/data/_internal/datasource/delta/committer.py
  python/ray/data/_internal/datasource/delta/datasink.py
  python/ray/data/_internal/datasource/delta/datasource.py
  python/ray/data/_internal/datasource/delta/utils.py
  python/ray/data/_internal/datasource/delta/writer.py
  python/ray/data/dataset.py
  python/ray/data/read_api.py
  python/ray/data/tests/datasource/test_delta.py
Due: docstyle, check-import-order

reverting data-test-requirements.txt
  python/requirements/ml/data-test-requirements.txt
Due: none

Add Rustic AI to ecosystem
  doc/source/images/rustic-ai.png
  doc/source/ray-overview/ray-libraries.rst
Due: none

randomize the streaming_executor_state
  python/ray/data/_internal/execution/streaming_executor_state.py
  python/ray/data/_internal/planner/plan_read_op.py
  python/ray/data/context.py
Due: docstyle, check-import-order

[serve] add websockets test for haproxy (#61516)
  ci/ray_ci/serve_hap_test_names.txt
Due: none

[Core] Support placement group events in one-event framework (#60449)
  src/ray/protobuf/public/BUILD.bazel
  src/ray/protobuf/public/events_base_event.proto
  src/ray/protobuf/public/events_placement_group_definition_event.proto
  src/ray/protobuf/public/events_placement_group_lifecycle_event.proto
Due: none

fix docstring
  python/ray/data/_internal/arrow_ops/transform_pyarrow.py
Due: docstyle, check-import-order

add back comment
  python/ray/data/_internal/datasource/parquet_datasource.py
  python/ray/data/util/data_batch_conversion.py
Due: docstyle, check-import-order

patch grpc deps
  bazel/ray_deps_setup.bzl
  thirdparty/patches/grpc-disable-layering-check.patch
Due: none

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
