Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)

Added fixes for controller recovery. Switch from GCS -> serve internal api
  python/ray/serve/tests/test_controller_recovery_backup2.py
Due: docstyle, check-import-order

feat: Fixed issues with _private/service_sdk.py to parse py_executable Signed-off-by: Omkar omkar@anyscale.com
  python/ray/serve/tests/test_controller_recovery_backup2.py
Due: docstyle, check-import-order

feat: Fixed issues with _private/service_sdk.py to parse py_executable Signed-off-by: Omkar omkar@anyscale.com
  python/ray/serve/tests/test_controller_recovery.py
Due: docstyle, check-import-order

[Serve.llm][Bugfix] Allow users to enable log_stats (#54719)
  python/ray/llm/_internal/serve/configs/server_models.py
  python/ray/llm/_internal/serve/deployments/llm/vllm/vllm_models.py
  python/ray/llm/tests/serve/cpu/configs/test_models.py
Due: docstyle, check-import-order

Fixed the 'save_to_path' and 'restore_from_path' in case no local env-runner is used.
  rllib/algorithms/algorithm.py
  rllib/algorithms/tests/test_algorithm_save_load_checkpoint_connectors.py
Due: docstyle, check-import-order

Added new test to the CI pipeline and renamed the test suite.
  rllib/BUILD
  rllib/algorithms/tests/test_algorithm_save_load_checkpoint_connectors.py
Due: docstyle, check-import-order

fix
  doc/source/rllib/learner-connector.rst
Due: none

ci: remove duplicate podman + sorted file
  .vale/styles/config/vocabularies/General/accept.txt
Due: none

Set disable_log_requests: True by default
  python/ray/llm/_internal/serve/deployments/llm/vllm/vllm_models.py
Due: docstyle, check-import-order

fix version switcher CSS (#54730)
  doc/source/_static/css/custom.css
Due: none

[java] encapsulation + resource immutability for option classes (#54370)
  java/api/src/main/java/io/ray/api/options/ActorCreationOptions.java
  java/api/src/main/java/io/ray/api/options/BaseTaskOptions.java
  java/api/src/main/java/io/ray/api/options/CallOptions.java
  java/api/src/main/java/io/ray/api/options/PlacementGroupCreationOptions.java
  java/runtime/src/main/java/io/ray/runtime/AbstractRayRuntime.java
  java/runtime/src/main/java/io/ray/runtime/task/LocalModeTaskSubmitter.java
  java/runtime/src/main/java/io/ray/runtime/task/NativeTaskSubmitter.java
  java/test/src/main/java/io/ray/test/BaseTaskOptionsTest.java
Due: none

[cpp] remove boost patch
  thirdparty/patches/boost-exception-no_warn_typeid_evaluated.patch
Due: none

[data] Increase test join size (#54716)
  python/ray/data/BUILD
Due: none

Update python/ray/train/v2/_internal/execution/context.py
  python/ray/train/v2/_internal/execution/context.py
Due: docstyle, check-import-order

fix bugs and runtime-env fix
  python/ray/autoscaler/_private/monitor.py
  python/ray/autoscaler/v2/monitor.py
  python/ray/dashboard/agent.py
  python/ray/dashboard/head.py
  python/ray/dashboard/http_server_agent.py
  python/ray/dashboard/modules/reporter/reporter_agent.py
  python/ray/scripts/scripts.py
  src/ray/raylet/node_manager.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

fix test failure
  python/ray/dashboard/modules/event/tests/test_export_task.py
  src/ray/core_worker/test/scheduling_queue_test.cc
  src/ray/core_worker/test/task_receiver_test.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

fix for UT
  python/ray/_private/services.py
  python/ray/air/util/torch_dist.py
  python/ray/dashboard/modules/reporter/reporter_agent.py
Due: docstyle, check-import-order

fix test failure
  python/ray/tests/unit/test_node_affinity_validation.py
Due: docstyle, check-import-order

resolve comments
  python/ray/train/v2/api/exceptions.py
Due: docstyle, check-import-order

resolve comments
  python/ray/train/v2/tests/test_state.py
Due: docstyle, check-import-order

overlords
  python/ray/_private/internal_api.py
Due: docstyle, check-import-order

Initial commit
  python/ray/data/_internal/execution/operators/actor_pool_map_operator.py
Due: docstyle, check-import-order

Comment on caller requirements for GetObjectStatus
  src/ray/protobuf/core_worker.proto
Due: none

fix typo
  python/ray/train/v2/_internal/execution/controller/controller.py
Due: docstyle, check-import-order

nit
  python/ray/serve/tests/test_deploy_2.py
Due: docstyle, check-import-order

[Serve.llm][logging] Set disable_log_requests: True by default (#54732)
  python/ray/llm/_internal/serve/deployments/llm/vllm/vllm_models.py
Due: docstyle, check-import-order

[Core] Remove ineffectual TODO comment (#54464)
  src/ray/raylet/scheduling/cluster_task_manager.h
Due: check-cpp-files-inclusion

[ci] mac: check en7 too for ip address (#54711)
  java/test.sh
Due: none

[java] add hermetic pom & proto genrule for zips (#54724)
  ci/docker/base.test.Dockerfile
  java/BUILD.bazel
Due: none

feat: Fixed issues with _private/service_sdk.py to parse py_executable Signed-off-by: Omkar omkar@anyscale.com
  python/ray/serve/tests/test_cli_2.py
  python/ray/serve/tests/test_controller_recovery.py
Due: docstyle, check-import-order

[core] Deprecate internal.free (#54727)
  python/ray/_private/internal_api.py
Due: docstyle, check-import-order

controllerError doesn't need message to pass in
  python/ray/train/v2/api/exceptions.py
Due: docstyle, check-import-order

define a new status that can be handled by policy
  python/ray/train/v2/_internal/execution/controller/controller.py
  python/ray/train/v2/_internal/execution/failure_handling/default.py
  python/ray/train/v2/_internal/execution/failure_handling/failure_policy.py
  python/ray/train/v2/_internal/execution/worker_group/__init__.py
  python/ray/train/v2/_internal/execution/worker_group/poll.py
  python/ray/train/v2/_internal/execution/worker_group/state.py
Due: docstyle, check-import-order

lint
  python/ray/train/v2/_internal/execution/controller/controller.py
  python/ray/train/v2/_internal/execution/failure_handling/default.py
  python/ray/train/v2/_internal/execution/failure_handling/failure_policy.py
  python/ray/train/v2/_internal/execution/worker_group/__init__.py
  python/ray/train/v2/_internal/execution/worker_group/poll.py
  python/ray/train/v2/_internal/execution/worker_group/protocol.py
  python/ray/train/v2/_internal/execution/worker_group/state.py
  python/ray/train/v2/tests/test_controller.py
  python/ray/train/v2/tests/util.py
Due: docstyle, check-import-order

begin testing
  python/ray/train/v2/_internal/execution/controller/controller.py
  python/ray/train/v2/_internal/execution/worker_group/poll.py
  python/ray/train/v2/_internal/execution/worker_group/state.py
Due: docstyle, check-import-order

clean the api
  python/ray/train/v2/_internal/execution/controller/controller.py
  python/ray/train/v2/_internal/execution/failure_handling/__init__.py
  python/ray/train/v2/_internal/execution/failure_handling/default.py
  python/ray/train/v2/_internal/execution/failure_handling/failure_policy.py
  python/ray/train/v2/_internal/execution/failure_handling/utils.py
  python/ray/train/v2/_internal/execution/worker_group/state.py
  python/ray/train/v2/tests/test_controller.py
  python/ray/train/v2/tests/test_failure_policy.py
Due: docstyle, check-import-order

sign off
  python/ray/train/v2/tests/test_controller.py
Due: docstyle, check-import-order

split into 2 classes to make it more clear
  python/ray/train/v2/_internal/execution/controller/controller.py
  python/ray/train/v2/_internal/execution/failure_handling/default.py
  python/ray/train/v2/_internal/execution/failure_handling/failure_policy.py
  python/ray/train/v2/_internal/execution/worker_group/__init__.py
  python/ray/train/v2/_internal/execution/worker_group/poll.py
  python/ray/train/v2/_internal/execution/worker_group/protocol.py
  python/ray/train/v2/_internal/execution/worker_group/state.py
  python/ray/train/v2/tests/test_controller.py
  python/ray/train/v2/tests/test_failure_policy.py
  python/ray/train/v2/tests/util.py
Due: docstyle, check-import-order
