Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)

Bump h11 0.14.0 -> 0.16.0
  python/requirements_compiled.txt
  python/requirements_compiled_ray_py311_cpu.txt
  python/requirements_compiled_ray_py311_cu121.txt
  python/requirements_compiled_ray_py311_cu124.txt
  python/requirements_compiled_ray_test_py311_cpu.txt
  python/requirements_compiled_ray_test_py311_cu121.txt
  python/requirements_compiled_ray_test_py311_cu124.txt
  python/requirements_compiled_rayllm_py311_cpu.txt
  python/requirements_compiled_rayllm_py311_cu121.txt
  python/requirements_compiled_rayllm_py311_cu124.txt
  python/requirements_compiled_rayllm_test_py311_cpu.txt
  python/requirements_compiled_rayllm_test_py311_cu121.txt
  python/requirements_compiled_rayllm_test_py311_cu124.txt
Due: none

Manually update stragglers
  python/requirements/test-requirements.txt
  release/ray_release/byod/requirements_ml_byod_3.9.txt
  release/requirements_buildkite.txt
Due: none

[core] fix linter failure (#53348)
  python/ray/_private/telemetry/open_telemetry_metric_recorder.py
Due: docstyle, check-import-order

minor edits to xgboost tutorial
  doc/source/ray-overview/examples/e2e-xgboost/notebooks/01-Distributed_Training.ipynb
Due: none

clarify that code is different for ray data
  doc/source/train/common/torch-configure-train_func.rst
Due: none

clarify that torch utils are for pytorch classes
  python/ray/train/torch/train_loop_utils.py
Due: docstyle, check-import-order

chore: test
  python/ray/dag/dag_node_operation.py
  python/ray/dag/tests/experimental/test_execution_schedule.py
  python/ray/dag/tests/experimental/unified-op-0520/dev.ipynb
  python/ray/dag/tests/experimental/unified-op-0520/test.ipynb
Due: docstyle, check-import-order

[serve.llm] Allow setting `name_prefix` in `build_llm_deployment` (#53316)
  ci/lint/pydoclint-baseline.txt
  python/ray/llm/_internal/serve/configs/server_models.py
  python/ray/llm/_internal/serve/deployments/prefill_decode_disagg/prefill_decode_disagg.py
  python/ray/llm/tests/serve/cpu/builders/test_application_builders.py
  python/ray/serve/llm/__init__.py
Due: docstyle, check-import-order

[Serve.llm] Rewrote the test_multiplex_deployment to make it more maintainable (#53345)
  python/ray/llm/tests/serve/cpu/deployments/llm/multiplex/test_multiplex_deployment.py
  python/ray/llm/tests/serve/mocks/mock_vllm_engine.py
Due: docstyle, check-import-order

typos
  doc/source/train/common/torch-configure-train_func.rst
Due: none

chore: polish
  python/ray/dag/dag_node_operation.py
  python/ray/dag/tests/experimental/sync-op-0514/dev.ipynb
  python/ray/dag/tests/experimental/sync-op-0514/test.ipynb
Due: docstyle, check-import-order

add prints
  python/ray/data/tests/test_daft.py
Due: docstyle, check-import-order

updating bazel query
  .gitignore
  ci/ray_ci/automation/doc_test_cov/README.md
  ci/ray_ci/automation/doc_test_cov/buildkite.py
  ci/ray_ci/automation/doc_test_cov/main.py
  ci/ray_ci/automation/doc_test_cov/query.py
  ci/ray_ci/automation/doc_test_cov/s3.py
Due: docstyle, check-import-order

[train][data] Remove deprecated `DatasetConfig` (#53213)
  ci/lint/pydoclint-baseline.txt
  python/ray/air/__init__.py
  python/ray/air/config.py
  python/ray/air/util/check_ingest.py
Due: docstyle, check-import-order

rm confusing 'directly'
  doc/source/train/common/torch-configure-train_func.rst
Due: none

chore: test
  python/ray/dag/tests/experimental/test_execution_schedule.py
  python/ray/dag/tests/experimental/unified-op-0520/dev.ipynb
  python/ray/dag/tests/experimental/unified-op-0520/test.ipynb
Due: docstyle, check-import-order

Address feedback on ipynb
  doc/source/train/examples/pytorch/distributing-pytorch/README.ipynb
  doc/source/train/examples/pytorch/distributing-pytorch/README.md
Due: none

[Serve] Expose public request router components (#53251)
  python/ray/serve/_private/constants.py
  python/ray/serve/_private/replica_scheduler/__init__.py
  python/ray/serve/_private/request_router/__init__.py
  python/ray/serve/_private/request_router/common.py
  python/ray/serve/_private/request_router/pow_2_router.py
  python/ray/serve/_private/request_router/replica_wrapper.py
  python/ray/serve/_private/request_router/request_router.py
  python/ray/serve/_private/router.py
  python/ray/serve/api.py
  python/ray/serve/deployment.py
  python/ray/serve/request_router.py
  python/ray/serve/tests/test_actor_replica_wrapper.py
  python/ray/serve/tests/test_api.py
  python/ray/serve/tests/test_controller.py
  python/ray/serve/tests/test_multiplex.py
  python/ray/serve/tests/unit/test_config.py
  python/ray/serve/tests/unit/test_pow_2_request_router.py
  python/ray/serve/tests/unit/test_router.py
Due: docstyle, check-import-order

[data] upgrade raydp
  python/requirements/ml/data-test-requirements.txt
  python/requirements_compiled.txt
Due: none

changed log message as per review
  python/ray/train/v2/_internal/callbacks/state_manager.py
Due: docstyle, check-import-order

Add test to guard against upstream StatLogger changes
  python/ray/llm/tests/serve/gpu/deployments/llm/test_engine_metrics.py
Due: docstyle, check-import-order

[core][telemetry] set RAY_experimental_enable_open_telemetry_on_agent to False (#53346)
  python/ray/_private/ray_constants.py
  src/ray/common/ray_config_def.h
Due: docstyle, check-import-order, check-cpp-files-inclusion

[Serve] fix windows setting and getting request router class test
  python/ray/serve/tests/unit/test_config.py
Due: docstyle, check-import-order

format
  src/ray/protobuf/gcs_service.proto
Due: none

format the code use prettier
  python/ray/dashboard/client/src/pages/metrics/Metrics.tsx
  python/ray/dashboard/client/src/pages/metrics/utils.ts
  python/ray/dashboard/client/src/pages/overview/OverviewPage.component.test.tsx
  python/ray/dashboard/client/src/pages/serve/ServeDeploymentMetricsSection.tsx
Due: none

[ci] Updated Stalebot to GH Actions and removed old Stalebot (#53250)
  .github/stale.yml
  .github/workflows/stale_pull_request.yaml
Due: none

add TODO for removing GPU object ref
  python/ray/_private/gpu_object_manager.py
Due: docstyle, check-import-order

add E2E tests. Need to figure out why benchmark is slowing down.
  python/ray/llm/_internal/serve/replica_scheduler/prefix_aware/prefix_tree.py
  python/ray/llm/tests/serve/cpu/deployments/test_prefix_aware_replica_scheduler.py
  python/ray/llm/tests/serve/cpu/deployments/test_prefix_aware_replica_scheduler_chatgpt.py
  python/ray/llm/tests/serve/cpu/deployments/test_prefix_aware_replica_scheduler_cursor.py
  python/ray/llm/tests/serve/cpu/deployments/test_prefix_tree.py
  python/ray/serve/_private/replica_scheduler/prefix_aware_scheduler.py
  python/ray/serve/_private/replica_scheduler/replica_scheduler.py
  python/ray/serve/_private/router.py
Due: docstyle, check-import-order

fix import
  python/ray/serve/tests/unit/test_config.py
Due: docstyle, check-import-order

Increase CI parallelism to 2 for flaky core windows tests
  .buildkite/windows.rayci.yml
Due: none

remove prints
  python/ray/data/tests/test_daft.py
Due: docstyle, check-import-order

comment
  .buildkite/windows.rayci.yml
Due: none

[Serve] Implement recording routing stats periodically
  ci/lint/pydoclint-baseline.txt
  java/serve/src/main/java/io/ray/serve/common/Constants.java
  java/serve/src/main/java/io/ray/serve/config/DeploymentConfig.java
  python/ray/serve/_private/common.py
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/_private/replica.py
  python/ray/serve/_private/request_router/replica_wrapper.py
  python/ray/serve/multiplex.py
  python/ray/serve/tests/test_multiplex.py
  python/ray/serve/tests/unit/test_deployment_state.py
Due: docstyle, check-import-order

checkout ci/lint/pydoclint-baseline.txt
  ci/lint/pydoclint-baseline.txt
Due: none

add missing protobuf
  src/ray/protobuf/serve.proto
Due: none

add missing const
  python/ray/serve/_private/constants.py
Due: docstyle, check-import-order

add more missing changes
  python/ray/serve/_private/config.py
  python/ray/serve/_private/constants.py
Due: docstyle, check-import-order

add more missing changes
  python/ray/serve/_private/client.py
  python/ray/serve/_private/controller.py
  python/ray/serve/multiplex.py
Due: docstyle, check-import-order

Cleanup plasma client and object manager
  src/ray/object_manager/object_manager.cc
  src/ray/object_manager/object_manager.h
  src/ray/object_manager/plasma/client.cc
  src/ray/object_manager/plasma/client.h
  src/ray/object_manager/pull_manager.cc
  src/ray/object_manager/pull_manager.h
  src/ray/object_manager/push_manager.cc
  src/ray/object_manager/push_manager.h
Due: check-cpp-files-inclusion
