Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)

Fix tests
  python/ray/dashboard/tests/test_dashboard_auth.py
Due: docstyle, check-import-order

fix(autoscaler): deduplicate cloud instances during termination (#65419)
  python/ray/autoscaler/v2/instance_manager/subscribers/cloud_instance_updater.py
  python/ray/autoscaler/v2/tests/test_subscribers.py
Due: docstyle, check-import-order

Expose backpressure policy in execution stats
  python/ray/data/_internal/execution/streaming_executor.py
  python/ray/data/_internal/stats.py
  python/ray/data/tests/test_streaming_executor.py
Due: docstyle, check-import-order

Fix backpressure stats attribution
  python/ray/data/_internal/execution/streaming_executor.py
  python/ray/data/_internal/stats.py
  python/ray/data/tests/test_stats.py
  python/ray/data/tests/test_streaming_executor.py
Due: docstyle, check-import-order

Harden backpressure stats formatting
  python/ray/data/_internal/stats.py
Due: docstyle, check-import-order

[autoscaler][kuberay] Propagate worker group priority from RayCluster CR to the autoscaler (#65244)
  python/ray/autoscaler/_private/kuberay/autoscaling_config.py
  python/ray/tests/kuberay/test_autoscaling_config.py
Due: docstyle, check-import-order

[Autoscaler] Request ID sharing causes instance starvation due to launch_errors dict collision and request_id reuse (#65299)
  python/ray/autoscaler/v2/instance_manager/reconciler.py
  python/ray/autoscaler/v2/tests/test_reconciler.py
Due: docstyle, check-import-order

Simplify backpressure stats indentation
  python/ray/data/_internal/stats.py
Due: docstyle, check-import-order

fix(core): clean up async generator timeout waiters
  python/ray/_private/object_ref_generator.py
  python/ray/tests/test_streaming_generator.py
Due: docstyle, check-import-order

Fix tests error
  python/ray/_private/pytest_token_auth_isolation.py
  python/ray/dashboard/modules/tests/test_utils.py
  python/ray/dashboard/tests/test_dashboard.py
Due: docstyle, check-import-order

KV cache & token aware routing blog post benchmarks
  python/ray/llm/examples/blogs/kv_token_aware_routing/async_rl_rollout_straggler/README.md
  python/ray/llm/examples/blogs/kv_token_aware_routing/async_rl_rollout_straggler/async_rl_rollout_router_comparison.png
  python/ray/llm/examples/blogs/kv_token_aware_routing/async_rl_rollout_straggler/patches/aiperf-local-benchmark-support.patch
  python/ray/llm/examples/blogs/kv_token_aware_routing/async_rl_rollout_straggler/patches/dynamo-cache-affinity-only.patch
  python/ray/llm/examples/blogs/kv_token_aware_routing/async_rl_rollout_straggler/reproduce.sh
  python/ray/llm/examples/blogs/kv_token_aware_routing/async_rl_rollout_straggler/scripts/analyze.py
  python/ray/llm/examples/blogs/kv_token_aware_routing/async_rl_rollout_straggler/scripts/apply_aiperf_patch.sh
  python/ray/llm/examples/blogs/kv_token_aware_routing/async_rl_rollout_straggler/scripts/build_dynamo_cache_affinity_wheel.sh
  python/ray/llm/examples/blogs/kv_token_aware_routing/async_rl_rollout_straggler/scripts/calibrate_session_affinity_skew.py
  python/ray/llm/examples/blogs/kv_token_aware_routing/async_rl_rollout_straggler/scripts/deploy.py
  python/ray/llm/examples/blogs/kv_token_aware_routing/async_rl_rollout_straggler/scripts/env.sh
  python/ray/llm/examples/blogs/kv_token_aware_routing/async_rl_rollout_straggler/scripts/generate_results.sh
  python/ray/llm/examples/blogs/kv_token_aware_routing/async_rl_rollout_straggler/scripts/generate_workload.py
  python/ray/llm/examples/blogs/kv_token_aware_routing/async_rl_rollout_straggler/scripts/plot_results.py
  python/ray/llm/examples/blogs/kv_token_aware_routing/async_rl_rollout_straggler/scripts/prepare.sh
  python/ray/llm/examples/blogs/kv_token_aware_routing/async_rl_rollout_straggler/scripts/prepare_session_affinity_skew.sh
  python/ray/llm/examples/blogs/kv_token_aware_routing/async_rl_rollout_straggler/scripts/raynoophook.py
  python/ray/llm/examples/blogs/kv_token_aware_routing/async_rl_rollout_straggler/scripts/routers.py
  python/ray/llm/examples/blogs/kv_token_aware_routing/async_rl_rollout_straggler/scripts/run_cell.sh
  python/ray/llm/examples/blogs/kv_token_aware_routing/async_rl_rollout_straggler/scripts/seed_prefix_cache.py
  python/ray/llm/examples/blogs/kv_token_aware_routing/async_rl_rollout_straggler/scripts/sitecustomize.py
  python/ray/llm/examples/blogs/kv_token_aware_routing/claude_code_traces/README.md
  python/ray/llm/examples/blogs/kv_token_aware_routing/claude_code_traces/data/weka_trace_selection.json
  python/ray/llm/examples/blogs/kv_token_aware_routing/claude_code_traces/plots/cc_traces_distribution.png
  python/ray/llm/examples/blogs/kv_token_aware_routing/claude_code_traces/plots/cc_traces_router_comparison.png
  python/ray/llm/examples/blogs/kv_token_aware_routing/claude_code_traces/reproduce.sh
  python/ray/llm/examples/blogs/kv_token_aware_routing/claude_code_traces/scripts/analyze.py
  python/ray/llm/examples/blogs/kv_token_aware_routing/claude_code_traces/scripts/deploy.py
  python/ray/llm/examples/blogs/kv_token_aware_routing/claude_code_traces/scripts/download_weka_traces.py
  python/ray/llm/examples/blogs/kv_token_aware_routing/claude_code_traces/scripts/env.sh
  python/ray/llm/examples/blogs/kv_token_aware_routing/claude_code_traces/scripts/plot_cc_traces_distribution.py
  python/ray/llm/examples/blogs/kv_token_aware_routing/claude_code_traces/scripts/plot_router_comparison.py
  python/ray/llm/examples/blogs/kv_token_aware_routing/claude_code_traces/scripts/raynoophook.py
  python/ray/llm/examples/blogs/kv_token_aware_routing/claude_code_traces/scripts/routers.py
  python/ray/llm/examples/blogs/kv_token_aware_routing/claude_code_traces/scripts/run_cell.sh
  python/ray/llm/examples/blogs/kv_token_aware_routing/claude_code_traces/scripts/sitecustomize.py
  python/ray/llm/examples/blogs/kv_token_aware_routing/claude_code_traces/scripts/validate.py
  python/ray/llm/examples/blogs/kv_token_aware_routing/claude_code_traces/scripts/verify_weka_inputs.py
Due: docstyle, check-import-order

[Data] Export task USS distribution metrics
  python/ray/dashboard/modules/metrics/dashboards/data_dashboard_panels.py
  python/ray/data/_internal/execution/interfaces/op_runtime_metrics.py
  python/ray/data/_internal/issue_detection/detectors/high_memory_detector.py
  python/ray/data/_internal/stats.py
  python/ray/data/tests/test_issue_detection.py
  python/ray/data/tests/test_op_runtime_metrics.py
  python/ray/data/tests/test_stats.py
Due: docstyle, check-import-order

[Core] Free unconsumed object reported for deleted generator (#65276)
  python/ray/tests/test_streaming_generator_regression.py
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker_process.cc
  src/ray/core_worker/task_manager.cc
  src/ray/core_worker/task_manager.h
  src/ray/core_worker/tests/core_worker_test.cc
  src/ray/core_worker/tests/task_manager_test.cc
  src/ray/raylet/node_manager.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

Remove signal handler override from SGLang engine (#61894)
  python/ray/llm/_internal/serve/engines/sglang/sglang_engine.py
Due: docstyle, check-import-order

[Data] Handle distributions without sample counts
  python/ray/data/_internal/stats.py
  python/ray/data/tests/test_stats.py
Due: docstyle, check-import-order

[Data][release] Add shuffle-v2 shard-compression sweep tests
  release/release_data_tests.yaml
Due: none

[Data] Address WebDataset review feedback
  python/ray/data/dataset.py
Due: docstyle, check-import-order

[Data] Fix ResourceBudget backpressure causing pipeline stall
  python/ray/data/_internal/execution/__init__.py
  python/ray/data/_internal/execution/resource_manager.py
  python/ray/data/context.py
  python/ray/data/tests/test_resource_manager.py
  python/ray/data/tests/test_streaming_integration.py
Due: docstyle, check-import-order

[data] revert(test_gate): remove test gate from test_write_delta.py
  python/ray/data/tests/datasource/test_write_delta.py
Due: docstyle, check-import-order

docs: clarify streaming generator guidance
  doc/source/ray-core/ray-generator.rst
Due: none

docs(dag): fix duplicate CompiledDAGRef mention in experimental_compile docstring
  python/ray/dag/dag_node.py
Due: docstyle, check-import-order

[core] Guarantee each pending lease request only receives at most one CancelWorkerLease RPC (#65613)
  src/ray/core_worker/task_submission/normal_task_submitter.cc
  src/ray/core_worker/task_submission/normal_task_submitter.h
  src/ray/core_worker/task_submission/tests/normal_task_submitter_test.cc
Due: check-cpp-files-inclusion

[serve] test_callback: import the controller module it reloads
  python/ray/serve/tests/test_callback.py
Due: docstyle, check-import-order

fix(core): handle concurrent GCS poll shutdown
  python/ray/_private/gcs_pubsub.py
  python/ray/tests/test_gcs_pubsub.py
Due: docstyle, check-import-order

fix(serve): cancel metrics tasks after shutdown timeout
  python/ray/serve/_private/metrics_utils.py
  python/ray/serve/tests/unit/test_metrics_utils.py
Due: docstyle, check-import-order

Fix tests
  python/ray/dashboard/modules/event/tests/test_generate_export_events.py
  python/ray/dashboard/modules/job/tests/test_cli_integration.py
  python/ray/dashboard/modules/job/tests/test_http_job_server.py
  python/ray/dashboard/modules/job/tests/test_job_manager.py
  python/ray/dashboard/modules/job/tests/test_sdk.py
Due: docstyle, check-import-order

[data] Support custom checkpoint filter via CheckpointConfig.checkpoint_filter_cls
  python/ray/data/_internal/planner/checkpoint/plan_read_op.py
  python/ray/data/checkpoint/__init__.py
  python/ray/data/checkpoint/checkpoint_filter.py
  python/ray/data/checkpoint/interfaces.py
  python/ray/data/tests/test_checkpoint.py
Due: docstyle, check-import-order

[data] Support custom checkpoint manager via CheckpointConfig.checkpoint_manager_cls
  python/ray/data/_internal/planner/checkpoint/plan_read_op.py
  python/ray/data/checkpoint/__init__.py
  python/ray/data/checkpoint/checkpoint_filter.py
  python/ray/data/checkpoint/interfaces.py
  python/ray/data/tests/test_checkpoint.py
Due: docstyle, check-import-order

[data] Address review: shared validation helper, reject abstract classes, annotate __getattr__
  python/ray/data/checkpoint/__init__.py
  python/ray/data/checkpoint/interfaces.py
  python/ray/data/tests/test_checkpoint.py
Due: docstyle, check-import-order

[data] Address bot review: base filter constructor accepts checkpoint_ref
  python/ray/data/checkpoint/__init__.py
  python/ray/data/checkpoint/checkpoint_filter.py
  python/ray/data/checkpoint/interfaces.py
  python/ray/data/tests/test_checkpoint.py
Due: docstyle, check-import-order

[data] Fix pyrefly bad-dunder-all: TYPE_CHECKING imports for lazy exports
  python/ray/data/checkpoint/__init__.py
Due: docstyle, check-import-order

Address review: let absl hash the resource map directly
  src/ray/common/scheduling/BUILD.bazel
  src/ray/common/scheduling/fixed_point.h
  src/ray/common/scheduling/resource_set.h
  src/ray/common/scheduling/tests/resource_set_test.cc
Due: check-cpp-files-inclusion

Enable direct ingress multiplexing
  python/ray/serve/_private/deploy_utils.py
  python/ray/serve/_private/replica.py
  python/ray/serve/tests/test_direct_ingress.py
Due: docstyle, check-import-order

Enable round-robin multiplexing
  python/ray/serve/experimental/round_robin_router.py
  python/ray/serve/tests/unit/test_round_robin_router.py
Due: docstyle, check-import-order

Enable LoRA direct streaming
  python/ray/llm/_internal/serve/core/ingress/builder.py
  python/ray/llm/_internal/serve/core/ingress/router.py
  python/ray/llm/_internal/serve/core/server/llm_server.py
  python/ray/llm/tests/BUILD.bazel
  python/ray/llm/tests/serve/cpu/deployments/routers/test_builder_ingress.py
  python/ray/llm/tests/serve/cpu/deployments/routers/test_router.py
  python/ray/llm/tests/serve/cpu/deployments/routers/test_router_direct_streaming.py
  python/ray/llm/tests/serve/mocks/mock_vllm_engine.py
  python/ray/serve/_private/haproxy.py
  python/ray/serve/_private/haproxy_templates.py
  python/ray/serve/tests/test_haproxy_api.py
Due: docstyle, check-import-order

Support LoRA in P/D
  python/ray/llm/_internal/serve/serving_patterns/prefill_decode/builder.py
  python/ray/llm/_internal/serve/serving_patterns/prefill_decode/pd_server.py
  python/ray/llm/tests/serve/cpu/deployments/prefill_decode_disagg/test_prefill_decode_disagg.py
Due: docstyle, check-import-order

Address review: tighten the hash comment and assert the quantity case
  src/ray/common/scheduling/resource_set.h
  src/ray/common/scheduling/tests/resource_set_test.cc
Due: check-cpp-files-inclusion

Trim the hash comments to what the code does not already say
  src/ray/common/scheduling/fixed_point.h
  src/ray/common/scheduling/resource_set.h
Due: check-cpp-files-inclusion

Trim the comments to what the code does not already say
  src/ray/core_worker/actor_management/actor_handle.cc
Due: check-cpp-files-inclusion

rdt/nixl: allow pool to serve tensors on a different device
  python/ray/experimental/rdt/nixl_tensor_transport.py
Due: docstyle, check-import-order
