Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)

[docs] Hide output of very verbose ipynb notebooks (#51140)
  doc/source/train/examples/deepspeed/gptj_deepspeed_fine_tuning.ipynb
  doc/source/tune/examples/tune-pytorch-lightning.ipynb
Due: none

Remove rllib dependency from core tests (#51171)
  python/ray/tests/BUILD
  python/ray/tests/test_client_library_integration.py
  python/ray/tests/test_output.py
  rllib/BUILD
  rllib/tests/test_ray_client.py
Due: docstyle, check-import-order

[doc] Add documentation for Asynchronous HyperBand Example in Tune (#50708)
  doc/source/tune/examples/includes/async_hyperband_example.rst
  python/ray/tune/examples/async_hyperband_example.py
Due: docstyle, check-import-order

[RLlib; docs] Fix 4 broken html links. (#51015)
  doc/source/rllib/metrics-logger.rst
  doc/source/rllib/rllib-algorithms.rst
  doc/source/rllib/rllib-env.rst
Due: none

[train] Remove ray storage dependency and deprecate `RAY_STORAGE` env var configuration option (#50872)
  doc/source/train/user-guides/persistent-storage.rst
  python/ray/air/config.py
  python/ray/tune/tests/test_tuner_restore.py
Due: docstyle, check-import-order

[core][cgraph][docs] Fix cgraph gpu docs code (#51132)
  doc/source/ray-core/doc_code/cgraph_nccl.py
  doc/source/ray-core/doc_code/cgraph_profiling.py
  src/ray/core_worker/experimental_mutable_object_manager.h
  src/ray/core_worker/experimental_mutable_object_provider.h
Due: check-cpp-files-inclusion

[Data] Make num_blocks in repartition optional (#50997)
  python/ray/data/dataset.py
  python/ray/data/tests/test_all_to_all.py
Due: docstyle, check-import-order

[Doc] Improvements to PBT example (#50870)
  doc/source/tune/examples/pbt_visualization/pbt.gif
  doc/source/tune/examples/pbt_visualization/pbt4.gif
  doc/source/tune/examples/pbt_visualization/pbt_visualization.ipynb
  doc/source/tune/examples/pbt_visualization/pbt_visualization_utils.py
Due: none

[Doc] Various enhancements to the Gradio Ray Serve tutorial (#50276)
  doc/source/serve/tutorials/gradio-integration.md
Due: none

[core] Cover cpplint for `src/ray/object_manager/plasma` (#50954)
  .pre-commit-config.yaml
  src/ray/object_manager/plasma/client.cc
  src/ray/object_manager/plasma/common.h
  src/ray/object_manager/plasma/connection.cc
  src/ray/object_manager/plasma/connection.h
  src/ray/object_manager/plasma/create_request_queue.cc
  src/ray/object_manager/plasma/create_request_queue.h
  src/ray/object_manager/plasma/dlmalloc.cc
  src/ray/object_manager/plasma/eviction_policy.cc
  src/ray/object_manager/plasma/get_request_queue.cc
  src/ray/object_manager/plasma/get_request_queue.h
  src/ray/object_manager/plasma/object_lifecycle_manager.cc
  src/ray/object_manager/plasma/object_lifecycle_manager.h
  src/ray/object_manager/plasma/object_store.cc
  src/ray/object_manager/plasma/object_store.h
  src/ray/object_manager/plasma/plasma.cc
  src/ray/object_manager/plasma/plasma_allocator.cc
  src/ray/object_manager/plasma/plasma_allocator.h
  src/ray/object_manager/plasma/protocol.cc
  src/ray/object_manager/plasma/protocol.h
  src/ray/object_manager/plasma/shared_memory.cc
  src/ray/object_manager/plasma/shared_memory.h
  src/ray/object_manager/plasma/store.cc
  src/ray/object_manager/plasma/store_runner.cc
  src/ray/object_manager/plasma/store_runner.h
  src/ray/object_manager/plasma/test/eviction_policy_test.cc
  src/ray/object_manager/plasma/test/fallback_allocator_test.cc
  src/ray/object_manager/plasma/test/mutable_object_test.cc
  src/ray/object_manager/plasma/test/object_lifecycle_manager_test.cc
  src/ray/object_manager/plasma/test/object_store_test.cc
  src/ray/object_manager/plasma/test/stats_collector_test.cc
Due: check-cpp-files-inclusion

[core] Block before running gpu tests (#51131)
  .buildkite/core.rayci.yml
Due: none

[train] Deprecate torch amp wrapper utilities (#51066)
  python/ray/train/BUILD
  python/ray/train/tests/test_gpu_amp.py
  python/ray/train/torch/train_loop_utils.py
Due: docstyle, check-import-order

[core] `BoundedExecutor` is never used when an actor is async (#51069)
  src/ray/core_worker/transport/task_receiver.cc
Due: check-cpp-files-inclusion

[Core][Autoscaler] Refactor v2 Log Formatting (#49350)
  python/ray/autoscaler/v2/tests/test_utils.py
  python/ray/autoscaler/v2/utils.py
Due: docstyle, check-import-order

[serve] Exclude redirects from request error count (#51130)
  python/ray/serve/_private/proxy.py
  python/ray/serve/tests/test_metrics.py
Due: docstyle, check-import-order

[serve] Fix bad `mock` import (#51170)
  python/ray/serve/tests/unit/test_deployment_state.py
Due: docstyle, check-import-order

[Doc] minor improvements to hyperopt tutorial (#50697)
  doc/source/tune/examples/hyperopt_example.ipynb
Due: none

[LLM APIs] Fast follow up for 2.44 (2/N) (#51064)
  doc/source/serve/api/index.md
  doc/source/serve/llm/serving-llms.rst
  python/ray/llm/_internal/serve/builders/__init__.py
  python/ray/llm/_internal/serve/builders/application_builders.py
  python/ray/llm/_internal/serve/configs/server_models.py
  python/ray/llm/_internal/serve/deployments/llm/llm_deployment.py
  python/ray/llm/_internal/serve/deployments/llm/llm_server.py
  python/ray/llm/tests/serve/builders/test_application_builders.py
  python/ray/llm/tests/serve/deployments/llm/multiplex/test_lora_deployment_base_client.py
  python/ray/llm/tests/serve/deployments/llm/multiplex/test_multiplex_deployment.py
  python/ray/serve/llm/__init__.py
  python/ray/serve/tests/unit/test_llm_imports.py
Due: docstyle, check-import-order

[Doc] Various improvements to the Getting Started page (#50878)
  .vale/styles/Google/WordList.yml
  .vale/styles/config/vocabularies/General/accept.txt
  .vale/styles/config/vocabularies/RLlib/accept.txt
  doc/source/ray-core/walkthrough.rst
  doc/source/ray-overview/getting-started.md
  doc/source/rllib/doc_code/rllib_on_ray_readme.py
Due: none

[core][cgraph] Fix doc test cgraph_overlap (#51139)
  doc/source/ray-core/doc_code/cgraph_overlap.py
  python/ray/dag/compiled_dag_node.py
Due: docstyle, check-import-order

[LLM APIs] Fast follow ups for 2.44 (1/N) (#51042)
  doc/source/data/working-with-llms.rst
  doc/source/llm/examples/batch/vllm-with-structural-output.ipynb
  doc/source/serve/api/index.md
  doc/source/serve/doc_code/vllm_example.py
  doc/source/serve/index.md
  doc/source/serve/llm/api.rst
  doc/source/serve/llm/index.rst
  doc/source/serve/llm/serving-llms.rst
  python/ray/data/llm.py
  python/ray/llm/_internal/batch/processor/base.py
  python/ray/llm/_internal/batch/processor/vllm_engine_proc.py
  python/ray/llm/_internal/common/__init__.py
  python/ray/llm/_internal/common/base_pydantic.py
  python/ray/llm/_internal/serve/builders/application_builders.py
  python/ray/llm/_internal/serve/configs/openai_api_models.py
  python/ray/llm/_internal/serve/configs/server_models.py
  python/ray/llm/_internal/serve/deployments/llm/vllm/vllm_deployment.py
  python/ray/llm/_internal/serve/deployments/llm/vllm/vllm_engine.py
  python/ray/llm/_internal/serve/deployments/llm/vllm/vllm_models.py
  python/ray/llm/_internal/serve/observability/usage_telemetry/usage.py
  python/ray/llm/tests/batch/gpu/processor/test_vllm_engine_proc.py
  python/ray/llm/tests/serve/builders/test_application_builders.py
  python/ray/llm/tests/serve/configs/configs/matching_configs/hf_prompt_format.yaml
  python/ray/llm/tests/serve/deployments/llm/multiplex/test_lora_deployment_base_client.py
  python/ray/llm/tests/serve/deployments/llm/multiplex/test_lora_model_loader.py
  python/ray/llm/tests/serve/deployments/llm/multiplex/test_multiplex_deployment.py
  python/ray/llm/tests/serve/deployments/llm/vllm/test_vllm_engine.py
  python/ray/llm/tests/serve/deployments/mock_vllm_engine.py
  python/ray/llm/tests/serve/mock_vllm_model.yaml
  python/ray/llm/tests/serve/mock_vllm_model_no_accelerator.yaml
  python/ray/llm/tests/serve/observability/usage_telemetry/test_usage.py
  python/ray/serve/llm/__init__.py
  python/ray/serve/llm/builders.py
  python/ray/serve/llm/configs.py
  python/ray/serve/llm/deployments.py
  python/ray/serve/tests/unit/test_llm_imports.py
  release/llm_tests/serve_llama_3dot1_8b_lora.yaml
  release/llm_tests/serve_llama_3dot1_8b_quantized_tp1.yaml
  release/llm_tests/serve_llama_3dot1_8b_tp2.yaml
Due: docstyle, check-import-order

[core] Fix path comparison on windows (#51142)
  python/ray/tests/test_logging.py
Due: docstyle, check-import-order

[data] fix the new dataset metrics (#51148)
  python/ray/data/_internal/stats.py
Due: docstyle, check-import-order

[core] Enable `make_shared` in plasma client (#51100)
  src/ray/common/client_connection.cc
  src/ray/common/client_connection.h
  src/ray/object_manager/plasma/connection.cc
  src/ray/object_manager/plasma/connection.h
Due: check-cpp-files-inclusion

[core] Implement call once token (#51053)
  src/ray/util/BUILD
  src/ray/util/invoke_once_token.h
  src/ray/util/process_cleaner.cc
  src/ray/util/tests/BUILD
  src/ray/util/tests/invoke_once_token_test.cc
Due: check-cpp-files-inclusion

[Docs] update all hpu related docs (#51028)
  doc/source/serve/doc_code/intel_gaudi_inference_serve.py
  doc/source/serve/doc_code/intel_gaudi_inference_serve_deepspeed.py
  doc/source/serve/tutorials/intel-gaudi-inference.md
  doc/source/train/examples/intel_gaudi/bert.ipynb
  doc/source/train/examples/intel_gaudi/llama.ipynb
  doc/source/train/examples/intel_gaudi/llama_pretrain.ipynb
  doc/source/train/examples/intel_gaudi/resnet.ipynb
  doc/source/train/examples/intel_gaudi/sd.ipynb
Due: none

[core][cgraph][docs] Compiled Graph troubleshooting (#51030)
  .vale/styles/config/vocabularies/General/accept.txt
  doc/BUILD
  doc/source/ray-core/compiled-graph/ray-compiled-graph.rst
  doc/source/ray-core/compiled-graph/troubleshooting.rst
  doc/source/ray-core/doc_code/cgraph_troubleshooting.py
Due: none

[serve] Skip locality backoff unit test on windows (#51101)
  python/ray/serve/tests/unit/test_pow_2_replica_scheduler.py
Due: docstyle, check-import-order

[data] fix non-unique operator id (#51108)
  python/ray/dashboard/modules/data/tests/test_data_head.py
  python/ray/data/_internal/execution/streaming_executor.py
  python/ray/data/tests/test_stats.py
Due: docstyle, check-import-order

Discover TPU logs in Ray Dashboard (#47737)
  python/ray/_private/log_monitor.py
  python/ray/_private/node.py
  python/ray/tests/test_logging.py
Due: docstyle, check-import-order

[Doc] Various improvements to lightgbm tutorial: (#50704)
  doc/source/tune/examples/lightgbm_example.ipynb
Due: none

[core][refactor] Move `node_stats_to_dict` to `utils.py` to avoid importing unnecessary modules (#51187)
  python/ray/dashboard/memory_utils.py
  python/ray/dashboard/modules/node/node_head.py
  python/ray/dashboard/utils.py
Due: docstyle, check-import-order

[telemetry] Move library usage tests out of core (#51161)
  python/ray/_private/test_utils.py
  python/ray/serve/tests/BUILD
  python/ray/serve/tests/test_telemetry.py
  python/ray/serve/tests/test_telemetry_1.py
  python/ray/serve/tests/test_telemetry_serve_used.py
  python/ray/tests/test_usage_stats.py
  python/ray/train/BUILD
  python/ray/train/tests/test_telemetry.py
  python/ray/tune/BUILD
  python/ray/tune/tests/test_telemetry.py
  rllib/BUILD
  rllib/tests/test_telemetry.py
Due: docstyle, check-import-order

[core][dashboard] Lazy init `NotifyQueue` (#51178)
  python/ray/dashboard/utils.py
Due: docstyle, check-import-order

[ray.llm] Refactor download utilities (#51225)
  python/ray/llm/_internal/common/utils/cloud_utils.py
  python/ray/llm/_internal/common/utils/download_utils.py
  python/ray/llm/_internal/serve/configs/server_models.py
  python/ray/llm/_internal/serve/deployments/llm/multiplex/lora_model_loader.py
  python/ray/llm/_internal/serve/deployments/llm/multiplex/utils.py
  python/ray/llm/_internal/serve/deployments/llm/vllm/vllm_models.py
  python/ray/llm/_internal/serve/deployments/utils/node_initialization_utils.py
  python/ray/llm/tests/BUILD
  python/ray/llm/tests/common/utils/test_cloud_utils.py
  python/ray/llm/tests/serve/deployments/llm/multiplex/test_lora_model_loader.py
Due: docstyle, check-import-order

[doc][core][cgraph] Clean up docs (#51263)
  doc/source/ray-core/compiled-graph/compiled-graph-api.rst
  doc/source/ray-core/compiled-graph/quickstart.rst
  doc/source/ray-core/compiled-graph/ray-compiled-graph.rst
  doc/source/ray-core/compiled-graph/troubleshooting.rst
Due: none

[Serve.llm] update build_openai_app to include yaml example (#51283)
  python/ray/serve/llm/__init__.py
Due: docstyle, check-import-order

[tune] Fix `RunConfig` deprecation message in Tune being emitted in `trainer.fit` usage (#51198)
  python/ray/train/tests/test_api_migrations.py
  python/ray/tune/impl/tuner_internal.py
Due: docstyle, check-import-order

[RLlib] Unify namings for actor managers' outstanding in-flight requests metrics. (#51159)
  rllib/algorithms/algorithm.py
Due: docstyle, check-import-order
