Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)

extract method
  python/ray/data/_internal/logical/operators/all_to_all_operator.py
Due: docstyle, check-import-order

[Serve] Downstream deployments over-provision when receiving DeploymentResponse arguments from slow upstream
  python/ray/serve/_private/router.py
  python/ray/serve/tests/test_autoscaling_policy.py
Due: docstyle, check-import-order

adding debugging to pass seed
  rllib/BUILD.bazel
  rllib/examples/connectors/flatten_observations_dict_space.py
Due: docstyle, check-import-order

Fix: Configure TLS/mTLS for OpenTelemetry OTLP gRPC exporter
  bazel/ray_deps_setup.bzl
  src/ray/observability/BUILD.bazel
  src/ray/observability/open_telemetry_metric_recorder.cc
  thirdparty/patches/opentelemetry-cpp-enable-mtls.patch
Due: check-cpp-files-inclusion

Address code review: add file I/O error handling and clarify cert reuse
  src/ray/observability/open_telemetry_metric_recorder.cc
Due: check-cpp-files-inclusion

[core] [docs] (cgroups 24/n) Adding public docs for the Resource Isolation (#60183)
  doc/source/ray-core/resource-isolation-with-cgroupv2.rst
  doc/source/ray-core/user-guide.rst
Due: none

[data] remove dead code batch_format validation (#59900)
  python/ray/data/_internal/logical/operators/map_operator.py
  python/ray/data/block.py
  python/ray/data/dataset.py
Due: docstyle, check-import-order

Reduce precision for Ray Data rows/s stats to match report style.
  python/ray/data/_internal/stats.py
Due: docstyle, check-import-order

Refactor Delta Lake datasink with optimizations and improved architecture
  python/ray/data/_internal/datasource/delta/__init__.py
  python/ray/data/_internal/datasource/delta/committer.py
  python/ray/data/_internal/datasource/delta/datasink.py
  python/ray/data/_internal/datasource/delta/datasource.py
  python/ray/data/_internal/datasource/delta/delta_committer.py
  python/ray/data/_internal/datasource/delta/delta_datasink.py
  python/ray/data/_internal/datasource/delta/delta_upsert.py
  python/ray/data/_internal/datasource/delta/delta_writer.py
  python/ray/data/_internal/datasource/delta/fs.py
  python/ray/data/_internal/datasource/delta/schema.py
  python/ray/data/_internal/datasource/delta/upsert.py
  python/ray/data/_internal/datasource/delta/utils.py
  python/ray/data/_internal/datasource/delta/writer.py
Due: docstyle, check-import-order

Fix ruff formatting in writer.py
  python/ray/data/_internal/datasource/delta/writer.py
Due: docstyle, check-import-order

[core] deflaky test_plasma_store_operation_after_raylet_dies
  python/ray/tests/test_failure_3.py
Due: docstyle, check-import-order

Refactor: reuse rpc::ReadCert instead of duplicating cert reading logic
  src/ray/observability/BUILD.bazel
  src/ray/observability/open_telemetry_metric_recorder.cc
  src/ray/rpc/BUILD.bazel
Due: check-cpp-files-inclusion

change torchft primitives only
  driver.py
Due: docstyle, check-import-order

Simplify schema to fields logic and clean up
  python/ray/data/_internal/execution/streaming_executor_state.py
  python/ray/data/tests/unit/test_deduping_schema.py
Due: docstyle, check-import-order

Modify memory monitor to take cgroup for mocking memory usage during test
  src/ray/common/cgroup2/cgroup_manager.cc
  src/ray/common/cgroup2/cgroup_manager.h
  src/ray/common/cgroup2/cgroup_manager_interface.h
  src/ray/common/cgroup2/noop_cgroup_manager.h
  src/ray/common/memory_monitor.cc
  src/ray/common/memory_monitor.h
  src/ray/common/tests/memory_monitor_test.cc
  src/ray/raylet/node_manager.cc
  src/ray/raylet/node_manager.h
  src/ray/raylet/tests/BUILD.bazel
  src/ray/raylet/tests/node_manager_test.cc
  src/ray/raylet/tests/worker_killing_policy_test.cc
  src/ray/raylet/worker_killing_policy.cc
  src/ray/raylet/worker_killing_policy.h
  src/ray/raylet/worker_killing_policy_group_by_owner.cc
  src/ray/raylet/worker_killing_policy_group_by_owner.h
Due: check-cpp-files-inclusion

Refine
  doc/source/ray-core/api/direct-transport.rst
  python/ray/experimental/__init__.py
  python/ray/experimental/gpu_object_manager/__init__.py
Due: docstyle, check-import-order

add b300 in list of accelerators
  python/ray/util/accelerators/accelerators.py
Due: docstyle, check-import-order

[Serve] force kill ingress replica after min draining period
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/_private/replica.py
  python/ray/serve/tests/test_direct_ingress.py
  python/ray/serve/tests/unit/test_deployment_state.py
Due: docstyle, check-import-order

[release test] treat test as non jailed when github issue disappeared
  release/ray_release/test.py
  release/ray_release/tests/test_test.py
Due: docstyle, check-import-order

add test
  python/ray/serve/tests/test_direct_ingress.py
Due: docstyle, check-import-order

Fix type hints, error messages, and race condition handling
  python/ray/data/_internal/datasource/delta/committer.py
  python/ray/data/_internal/datasource/delta/datasink.py
  python/ray/data/_internal/datasource/delta/datasource.py
  python/ray/data/_internal/datasource/delta/fs.py
  python/ray/data/_internal/datasource/delta/schema.py
  python/ray/data/_internal/datasource/delta/upsert.py
  python/ray/data/_internal/datasource/delta/utils.py
Due: docstyle, check-import-order

Handle disordered schema case
  python/ray/data/_internal/execution/streaming_executor_state.py
  python/ray/data/tests/unit/test_deduping_schema.py
Due: docstyle, check-import-order

Fix merge typo
  python/ray/_private/worker.py
Due: docstyle, check-import-order

Initial commit
  python/ray/data/_internal/logical/rules/operator_fusion.py
  python/ray/data/tests/test_operator_fusion.py
Due: docstyle, check-import-order

Update comment
  python/ray/data/_internal/logical/rules/operator_fusion.py
Due: docstyle, check-import-order

Handle empty incoming schema
  python/ray/data/_internal/execution/streaming_executor_state.py
  python/ray/data/tests/unit/test_deduping_schema.py
Due: docstyle, check-import-order

[core] deflaky test_plasma_store_operation_after_raylet_dies (#60751)
  python/ray/tests/test_failure_3.py
Due: docstyle, check-import-order

Bound object spilling file size to avoid disk increase pressure (#60098)
  src/ray/common/ray_config_def.h
  src/ray/raylet/BUILD.bazel
  src/ray/raylet/local_object_manager.cc
  src/ray/raylet/local_object_manager.h
  src/ray/raylet/tests/local_object_manager_test.cc
Due: check-cpp-files-inclusion

Revert memory monitor to use /sys/fs/cgroup for cgroup path by default
  src/ray/common/cgroup2/cgroup_manager.cc
  src/ray/common/cgroup2/cgroup_manager.h
  src/ray/common/cgroup2/cgroup_manager_interface.h
  src/ray/common/cgroup2/noop_cgroup_manager.h
  src/ray/common/memory_monitor.cc
  src/ray/common/memory_monitor.h
  src/ray/common/tests/memory_monitor_test.cc
  src/ray/raylet/node_manager.cc
  src/ray/raylet/tests/BUILD.bazel
  src/ray/raylet/tests/node_manager_test.cc
Due: check-cpp-files-inclusion

exclude flaky test case
  python/ray/tests/test_basic_5.py
Due: docstyle, check-import-order

Add env vars
  python/ray/serve/_private/constants.py
Due: docstyle, check-import-order

Revert "Revert "[Core] Introduce node specific temp-dir specification. (#57735)" (#60388)"
  ci/lint/pydoclint-baseline.txt
  cpp/src/ray/util/process_helper.cc
  java/runtime/src/main/java/io/ray/runtime/RayNativeRuntime.java
  python/ray/_common/usage/usage_lib.py
  python/ray/_common/utils.py
  python/ray/_private/node.py
  python/ray/_private/services.py
  python/ray/_private/state.py
  python/ray/_private/utils.py
  python/ray/_private/worker.py
  python/ray/air/_internal/filelock.py
  python/ray/air/tests/test_utils.py
  python/ray/autoscaler/_private/kuberay/run_autoscaler.py
  python/ray/autoscaler/_private/local/config.py
  python/ray/dashboard/modules/reporter/reporter_agent.py
  python/ray/dashboard/modules/reporter/tests/test_reporter.py
  python/ray/experimental/raysort/tracing_utils.py
  python/ray/runtime_context.py
  python/ray/scripts/scripts.py
  python/ray/tests/conftest.py
  python/ray/tests/test_cli.py
  python/ray/tests/test_coordinator_server.py
  python/ray/tests/test_metrics_head.py
  python/ray/tests/test_multi_node_3.py
  python/ray/tests/test_object_spilling.py
  python/ray/tests/test_tempdir.py
  python/ray/tune/tests/test_progress_reporter.py
  rllib/algorithms/tests/test_algorithm_export_checkpoint.py
  rllib/examples/_old_api_stack/checkpoints/cartpole_dqn_export.py
  rllib/examples/_old_api_stack/offline_rl/saving_experiences.py
  rllib/policy/tests/test_export_checkpoint_and_model.py
  src/ray/protobuf/gcs.proto
  src/ray/raylet/main.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

grpc
  python/ray/serve/_private/constants.py
Due: docstyle, check-import-order

[Data] Fuse `MapBatches` even if they modify the row count (#60756)
  python/ray/data/_internal/logical/rules/operator_fusion.py
  python/ray/data/tests/test_operator_fusion.py
Due: docstyle, check-import-order

Remove unused import in test_download_expression.py
  python/ray/data/tests/test_download_expression.py
Due: docstyle, check-import-order
