Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)

[Data] Add documentation for `iter_torch_batches` `collate_fn` callable class (#56425)
  python/ray/data/iterator.py
Due: docstyle, check-import-order

[core][ci] Fix install cpp api for java tests (#56592)
  .buildkite/others.rayci.yml
  ci/ray_ci/linux_container.py
  ci/ray_ci/tester.py
  ci/ray_ci/tests.env.Dockerfile
  src/ray/core_worker/actor_manager.h
Due: docstyle, check-import-order, check-cpp-files-inclusion

[core] Disable GcsNodeManager:TestRayEventRecorder (#56659)
  src/ray/gcs/tests/gcs_node_manager_test.cc
Due: check-cpp-files-inclusion

[core] Make PinObjectIDs RPC Fault Tolerant (#56443)
  src/fakes/ray/object_manager/plasma/fake_plasma_client.h
  src/ray/raylet/tests/node_manager_test.cc
  src/ray/rpc/raylet/raylet_client.cc
Due: check-cpp-files-inclusion

[release] Separate custom BYOD image build & set up image build dependency for test jobs in release test pipeline (#56233)
  .buildkite/release/test.rayci.yml
  .gitignore
  release/BUILD.bazel
  release/ray_release/.separate_custom_build.stamp
  release/ray_release/buildkite/step.py
  release/ray_release/custom_byod_build_init_helper.py
  release/ray_release/scripts/build_pipeline.py
  release/ray_release/scripts/custom_byod_build_init.py
  release/ray_release/test.py
  release/ray_release/tests/test_buildkite.py
  release/ray_release/tests/test_custom_byod_build_init_helper.py
  release/ray_release/tests/test_step.py
Due: docstyle, check-import-order

[core] (cgroups 9/n) end-to-end integration of cgroups with ray start. (#56352)
  .buildkite/core.rayci.yml
  python/ray/_private/services.py
  python/ray/tests/BUILD.bazel
  python/ray/tests/resource_isolation/BUILD
  python/ray/tests/resource_isolation/conftest.py
  python/ray/tests/resource_isolation/test_resource_isolation_config.py
  python/ray/tests/resource_isolation/test_resource_isolation_integration.py
  python/ray/tests/test_cli.py
  python/ray/tests/test_ray_init.py
  src/ray/common/cgroup2/BUILD.bazel
  src/ray/common/cgroup2/cgroup_manager.cc
  src/ray/common/cgroup2/cgroup_manager.h
  src/ray/common/cgroup2/cgroup_manager_interface.h
  src/ray/common/cgroup2/sysfs_cgroup_driver.cc
  src/ray/common/cgroup2/tests/cgroup_manager_test.cc
  src/ray/raylet/BUILD.bazel
  src/ray/raylet/main.cc
  src/ray/raylet/node_manager.cc
  src/ray/raylet/node_manager.h
  src/ray/raylet/tests/BUILD.bazel
  src/ray/raylet/tests/node_manager_test.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

[core][ci] Don't build cpp api in ci test container (#56517)
  ci/ray_ci/tests.env.Dockerfile
  ci/ray_ci/windows/tests.env.Dockerfile
Due: none

[Data] Avoid unnecessary copying of blocks (#56569)
  python/ray/data/_internal/execution/operators/limit_operator.py
  python/ray/data/_internal/execution/operators/map_transformer.py
  python/ray/data/_internal/output_buffer.py
Due: docstyle, check-import-order

[image] remove slim's dependency on normal bases (#56544)
  .buildkite/_images.rayci.yml
Due: none

[Data][doc] Update on ray.data.Dataset.map() type hints (#52455)
  python/ray/data/block.py
  python/ray/data/dataset.py
Due: docstyle, check-import-order

[core][1eventx/04] node event: send node events to the aggregator (#56426)
  BUILD.bazel
  python/ray/dashboard/modules/aggregator/tests/test_ray_node_events.py
  src/mock/ray/gcs/gcs_node_manager.h
  src/mock/ray/gcs/gcs_resource_manager.h
  src/ray/gcs/BUILD.bazel
  src/ray/gcs/gcs_node_manager.cc
  src/ray/gcs/gcs_node_manager.h
  src/ray/gcs/gcs_server.cc
  src/ray/gcs/tests/BUILD.bazel
  src/ray/gcs/tests/export_api/gcs_node_manager_export_event_test.cc
  src/ray/gcs/tests/gcs_actor_scheduler_mock_test.cc
  src/ray/gcs/tests/gcs_actor_scheduler_test.cc
  src/ray/gcs/tests/gcs_node_manager_test.cc
  src/ray/gcs/tests/gcs_placement_group_scheduler_test.cc
  src/ray/observability/BUILD.bazel
  src/ray/observability/ray_node_definition_event.cc
  src/ray/observability/ray_node_definition_event.h
  src/ray/observability/ray_node_lifecycle_event.cc
  src/ray/observability/ray_node_lifecycle_event.h
  src/ray/protobuf/public/events_node_definition_event.proto
  src/ray/protobuf/public/events_node_lifecycle_event.proto
Due: docstyle, check-import-order, check-cpp-files-inclusion

[Data] - Optimize memory usage for One Hot Encoder (#56565)
  python/ray/data/preprocessors/encoder.py
Due: docstyle, check-import-order

add more tests for async inf (#56408)
  python/ray/serve/task_processor.py
  python/ray/serve/tests/conftest.py
  python/ray/serve/tests/test_task_processor.py
Due: docstyle, check-import-order

Bump vLLM to 0.10.2 (#56535)
  python/deplocks/llm/rayllm_py311_cpu.lock
  python/deplocks/llm/rayllm_py311_cu121.lock
  python/deplocks/llm/rayllm_py311_cu128.lock
  python/deplocks/llm/rayllm_test_py311_cpu.lock
  python/deplocks/llm/rayllm_test_py311_cu121.lock
  python/deplocks/llm/rayllm_test_py311_cu128.lock
  python/requirements/llm/llm-requirements.txt
  python/requirements/llm/llm-test-requirements.txt
  python/setup.py
Due: docstyle, check-import-order

[image] add test rules for image building files (#56554)
  ci/pipeline/test_rules.txt
Due: none

use default gc frequency for proxy (#56511)
  python/ray/serve/_private/constants.py
Due: docstyle, check-import-order

[core] Fix `clang-format` pre-commit step (#56534)
  .pre-commit-config.yaml
  ci/lint/format.sh
Due: none

[image] allow using explicit base type (#56545)
  ci/ray_ci/builder.py
  ci/ray_ci/ray_docker_container.py
Due: docstyle, check-import-order

Add parallelism parameter to read_snowflake (#56588)
  python/ray/data/read_api.py
Due: docstyle, check-import-order

[core] (cgroups 10/n) Adding support in CgroupManager and CgroupDriver to move processes into system cgroup (#56446)
  src/ray/common/cgroup2/cgroup_driver_interface.h
  src/ray/common/cgroup2/cgroup_manager.cc
  src/ray/common/cgroup2/cgroup_manager.h
  src/ray/common/cgroup2/cgroup_manager_interface.h
  src/ray/common/cgroup2/fake_cgroup_driver.h
  src/ray/common/cgroup2/integration_tests/sysfs_cgroup_driver_integration_test.cc
  src/ray/common/cgroup2/sysfs_cgroup_driver.cc
  src/ray/common/cgroup2/sysfs_cgroup_driver.h
  src/ray/common/cgroup2/tests/cgroup_manager_test.cc
Due: check-cpp-files-inclusion

[image] change tag methods of container class to private (#56551)
  ci/ray_ci/docker_container.py
  ci/ray_ci/test_ray_docker_container.py
Due: docstyle, check-import-order

[Core][Autoscaler] Add `labels` to KubeRay autoscaling config (#56532)
  python/ray/autoscaler/_private/kuberay/autoscaling_config.py
  python/ray/tests/kuberay/test_autoscaling_config.py
Due: docstyle, check-import-order

Fix accidentally using task throughput instead of row throughput (#56503)
  python/ray/dashboard/modules/metrics/dashboards/data_dashboard_panels.py
Due: docstyle, check-import-order

[ci] rename `docker_login` to `ecr_docker_login` (#56622)
  ci/ray_ci/builder.py
  ci/ray_ci/test_utils.py
  ci/ray_ci/tester.py
  ci/ray_ci/utils.py
Due: docstyle, check-import-order

[Serve] Resolve test_deploy_app.py flakiness (#55721)
  python/ray/serve/_private/application_state.py
Due: docstyle, check-import-order

[Data] Allow `BlockOutputBuffer` to accept nullable output_block_size_option (#56567)
  ci/lint/pydoclint-baseline.txt
  python/ray/data/_internal/output_buffer.py
  python/ray/data/tests/test_dynamic_block_split.py
Due: docstyle, check-import-order

[image] add ray-llm image type check (#56542)
  ci/ray_ci/docker_container.py
  ci/ray_ci/test_ray_docker_container.py
Due: docstyle, check-import-order

Add optional APIType filter to /api/serve/applications/ endpoint (#56458)
  python/ray/dashboard/modules/serve/serve_head.py
  python/ray/dashboard/modules/serve/tests/test_serve_dashboard.py
  python/ray/serve/_private/application_state.py
  python/ray/serve/_private/controller.py
  python/ray/serve/schema.py
Due: docstyle, check-import-order

[core][ci] Install cpp api for java tests (#56571)
  ci/ray_ci/tests.env.Dockerfile
  ci/ray_ci/windows/tests.env.Dockerfile
Due: none

[Data] Fix a typo (#56587)
  python/ray/data/_internal/execution/autoscaling_requester.py
Due: docstyle, check-import-order

[core] Make Free Objects RPC Fault Tolerant (#56293)
  python/ray/tests/BUILD.bazel
  python/ray/tests/test_object_manager_fault_tolerance.py
  src/ray/object_manager/object_manager.cc
  src/ray/object_manager/object_manager.h
Due: docstyle, check-import-order, check-cpp-files-inclusion

[ci] updating raydepsets llm check (#56439)
  .buildkite/dependencies.rayci.yml
  ci/raydepsets/rayllm.depsets.yaml
Due: none

[ci][deps] raydepsets: building ray img lockfiles (#56444)
  .buildkite/build.rayci.yml
  .buildkite/dependencies.rayci.yml
  ci/build/build-placeholder-wheel.sh
  ci/docker/manylinux.Dockerfile
  ci/raydepsets/cli.py
  ci/raydepsets/rayimg.depsets.yaml
  ci/raydepsets/rayllm.depsets.yaml
  ci/raydepsets/tests/test_cli.py
  python/deplocks/llm/ray_py311_cpu.lock
  python/deplocks/llm/ray_py311_cu121.lock
  python/deplocks/llm/ray_py311_cu128.lock
  python/deplocks/llm/ray_test_py311_cpu.lock
  python/deplocks/llm/ray_test_py311_cu121.lock
  python/deplocks/llm/rayllm_py311_cpu.lock
  python/deplocks/llm/rayllm_py311_cu121.lock
  python/deplocks/llm/rayllm_py311_cu128.lock
  python/deplocks/llm/rayllm_test_py311_cpu.lock
  python/deplocks/llm/rayllm_test_py311_cu121.lock
  python/deplocks/llm/rayllm_test_py311_cu128.lock
  python/deplocks/ray_img/ray_img_py310.lock
  python/deplocks/ray_img/ray_img_py311.lock
  python/deplocks/ray_img/ray_img_py312.lock
  python/deplocks/ray_img/ray_img_py39.lock
Due: docstyle, check-import-order

[docs] run apt-get update before install for ray debugger (#56579)
  doc/source/ray-observability/ray-distributed-debugger.rst
Due: none

[Core] Update cluster scheduler to handle label selector hard node id constraint (#56235)
  src/ray/common/scheduling/BUILD.bazel
  src/ray/common/scheduling/label_selector.h
  src/ray/core_worker/lease_policy.cc
  src/ray/raylet/scheduling/cluster_lease_manager.cc
  src/ray/raylet/scheduling/cluster_resource_manager.h
  src/ray/raylet/scheduling/cluster_resource_scheduler.h
  src/ray/raylet/scheduling/tests/cluster_resource_scheduler_test.cc
Due: check-cpp-files-inclusion

[SERVE] Proxy Actor Interface (#56288)
  python/ray/serve/_private/proxy.py
Due: docstyle, check-import-order

[Data][llm] Add chat_template_kwargs as option when building processor (#56490)
  python/ray/data/llm.py
  python/ray/llm/_internal/batch/processor/sglang_engine_proc.py
  python/ray/llm/_internal/batch/processor/vllm_engine_proc.py
  python/ray/llm/_internal/batch/stages/chat_template_stage.py
  python/ray/llm/tests/batch/cpu/stages/test_chat_template_stage.py
Due: docstyle, check-import-order

stop ray instance in serve test logging (#56480)
  python/ray/serve/tests/test_logging.py
Due: docstyle, check-import-order
