Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)

[core] fix //src/ray/gcs/tests:gcs_node_manager_test tsan/asan (#56631)
  src/ray/gcs/gcs_node_manager.cc
  src/ray/gcs/tests/gcs_node_manager_test.cc
Due: check-cpp-files-inclusion

[core] Improve GCS actor manager logs on node death (#56787)
  src/ray/gcs/gcs_actor_manager.cc
Due: check-cpp-files-inclusion

[deps] ban click 8.3.0 (#56789)
  .buildkite/core.rayci.yml
  python/requirements.txt
  python/setup.py
Due: docstyle, check-import-order

[core][actor-event-02] Add RayEventInterface implementations for Actor definition and actor lifecycle events (#56321)
  src/ray/observability/BUILD.bazel
  src/ray/observability/ray_actor_definition_event.cc
  src/ray/observability/ray_actor_definition_event.h
  src/ray/observability/ray_actor_lifecycle_event.cc
  src/ray/observability/ray_actor_lifecycle_event.h
  src/ray/observability/tests/BUILD.bazel
  src/ray/observability/tests/ray_actor_definition_event_test.cc
  src/ray/observability/tests/ray_actor_lifecycle_event_test.cc
  src/ray/observability/tests/ray_event_recorder_test.cc
Due: check-cpp-files-inclusion

[Core] [Azure] Fix issue where cached config file gets corrupted if cluster config contains path objects (#56589)
  python/ray/autoscaler/_private/_azure/config.py
  python/ray/tests/BUILD.bazel
  python/ray/tests/test_azure_path_serialization.py
Due: docstyle, check-import-order

[ci] raydepsets: build-placeholder-wheel script as prehook (#56547)
  .buildkite/dependencies.rayci.yml
  ci/build/build-placeholder-wheel.sh
  ci/raydepsets/pre_hooks/build-placeholder-wheel.sh
  ci/raydepsets/rayimg.depsets.yaml
  ci/raydepsets/tests/test_cli.py
  ci/raydepsets/tests/test_data/test.depsets.yaml
  ci/raydepsets/tests/test_workspace.py
Due: docstyle, check-import-order

[core] fix test_task_metrics flakiness (#56768)
  python/ray/_private/test_utils.py
  python/ray/dashboard/modules/aggregator/tests/test_ray_job_events.py
  python/ray/dashboard/modules/aggregator/tests/test_ray_node_events.py
  python/ray/tests/test_task_metrics.py
Due: docstyle, check-import-order

[release] Make run_release_test binary hermetic (#56717)
  release/BUILD.bazel
Due: none

[Data] Fixing flaky tests (ordering) (#56819)
  python/ray/data/tests/test_split.py
Due: docstyle, check-import-order

[core][actor-event-03] Emit actor events to Event aggregator (#56617)
  python/ray/dashboard/modules/aggregator/tests/test_ray_actor_events.py
  src/mock/ray/gcs/gcs_actor_manager.h
  src/ray/gcs/BUILD.bazel
  src/ray/gcs/gcs_actor.cc
  src/ray/gcs/gcs_actor.h
  src/ray/gcs/gcs_actor_manager.cc
  src/ray/gcs/gcs_actor_manager.h
  src/ray/gcs/gcs_server.cc
  src/ray/gcs/tests/export_api/gcs_actor_manager_export_event_test.cc
  src/ray/gcs/tests/gcs_actor_manager_test.cc
  src/ray/gcs/tests/gcs_actor_scheduler_mock_test.cc
  src/ray/gcs/tests/gcs_actor_scheduler_test.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

[core] rename BUILD to BUILD.bazel (#56842)
  python/ray/tests/resource_isolation/BUILD.bazel
Due: none

[core] Add node_id validation in NodeAffinitySchedulingStrategy (#56708)
  python/ray/dashboard/modules/job/tests/test_job_manager.py
  python/ray/data/tests/test_sort.py
  python/ray/data/tests/test_streaming_executor.py
  python/ray/serve/tests/unit/test_deployment_scheduler.py
  python/ray/serve/tests/unit/test_deployment_state.py
  python/ray/tests/unit/test_node_affinity_validation.py
  python/ray/util/scheduling_strategies.py
Due: docstyle, check-import-order

[Fix] Fix typos: correct "stablity" to "stability". (#56730)
  python/ray/data/_internal/savemode.py
  python/ray/util/accelerators/tpu.py
  rllib/models/tests/test_distributions.py
Due: docstyle, check-import-order

[core] fix windows copts on `task_event_buffer` (#56840)
  src/ray/core_worker/BUILD.bazel
Due: none

[tune][release] Move tune_with_frequent_pausing to Ray Train v2 and tune_tests folder (#56799)
  release/release_tests.yaml
  release/tune_tests/frequent_pausing/compute_config_aws.yaml
  release/tune_tests/frequent_pausing/compute_config_gce.yaml
  release/tune_tests/frequent_pausing/script.py
Due: docstyle, check-import-order

[image] build ray-extra images for aarch64 (#56818)
  .buildkite/linux_aarch64.rayci.yml
Due: none

[ci] add `BUILDKITE_CACHE_READONLY` into `_DOCKER_ENV` (#56839)
  ci/ray_ci/container.py
Due: docstyle, check-import-order

[core] Add concurrency guards to gcs node manager (#56351)
  src/ray/common/asio/postable.h
  src/ray/common/bundle_location_index.cc
  src/ray/common/bundle_location_index.h
  src/ray/gcs/gcs_actor_manager.cc
  src/ray/gcs/gcs_actor_manager.h
  src/ray/gcs/gcs_actor_scheduler.cc
  src/ray/gcs/gcs_actor_scheduler.h
  src/ray/gcs/gcs_autoscaler_state_manager.cc
  src/ray/gcs/gcs_node_manager.cc
  src/ray/gcs/gcs_node_manager.h
  src/ray/gcs/gcs_placement_group_scheduler.cc
  src/ray/gcs/gcs_placement_group_scheduler.h
  src/ray/gcs/gcs_server.cc
  src/ray/gcs/gcs_server_io_context_policy.h
  src/ray/gcs/tests/gcs_actor_scheduler_test.cc
  src/ray/gcs/tests/gcs_autoscaler_state_manager_test.cc
  src/ray/gcs/tests/gcs_node_manager_test.cc
  src/ray/gcs/tests/gcs_placement_group_scheduler_test.cc
  src/ray/util/event.cc
  src/ray/util/event.h
Due: check-cpp-files-inclusion

[core] Fixing ray_actors metric for concurrent actors. (#56598)
  doc/source/ray-observability/reference/system-metrics.rst
  python/ray/dashboard/modules/metrics/dashboards/default_dashboard_panels.py
  python/ray/tests/test_actor_state_metrics.py
  src/ray/core_worker/core_worker.cc
  src/ray/stats/metric_defs.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

[doc] rename BUILD to BUILD.bazel (#56841)
  doc/source/train/examples/pytorch/pytorch-fsdp/ci/BUILD.bazel
Due: none

[core][event] export node event by default (#56810)
  python/ray/dashboard/modules/aggregator/aggregator_agent.py
Due: docstyle, check-import-order

[core][rdt] Handle system errors with a background monitor thread (#56513)
  python/ray/_private/worker.py
  python/ray/experimental/collective/collective.py
  python/ray/experimental/collective/collective_tensor_transport.py
  python/ray/experimental/collective/tensor_transport_manager.py
  python/ray/experimental/gpu_object_manager/gpu_object_manager.py
  python/ray/tests/gpu_objects/test_gpu_objects_gloo.py
  python/ray/util/collective/collective_group/nccl_collective_group.py
Due: docstyle, check-import-order

[data][train] Refactor call_with_retry into shared library and use it to retry checkpoint upload (#56608)
  ci/lint/pydoclint-baseline.txt
  python/ray/_common/retry.py
  python/ray/_common/tests/BUILD.bazel
  python/ray/_common/tests/test_retry.py
  python/ray/data/_internal/datasource/lance_datasource.py
  python/ray/data/_internal/datasource/parquet_datasink.py
  python/ray/data/_internal/util.py
  python/ray/data/datasource/file_datasink.py
  python/ray/train/v2/_internal/constants.py
  python/ray/train/v2/_internal/execution/context.py
Due: docstyle, check-import-order, check-train-circular-imports

[data] Tensor Type __repr__ should be custom tensor types (#56457)
  doc/source/data/loading-data.rst
  doc/source/data/performance-tips.rst
  doc/source/data/working-with-images.rst
  doc/source/data/working-with-pytorch.rst
  doc/source/rllib/rllib-offline.rst
  python/ray/air/tests/test_tensor_extension.py
  python/ray/air/util/tensor_extensions/arrow.py
  python/ray/air/util/tensor_extensions/pandas.py
  python/ray/data/context.py
  python/ray/data/dataset.py
  python/ray/data/read_api.py
  python/ray/data/tests/test_arrow_block.py
  python/ray/data/tests/test_tensor.py
Due: docstyle, check-import-order

add gen_redis_pkg bazel target (#56527)
  BUILD.bazel
  gen_redis_pkg.py
  python/setup.py
Due: docstyle, check-import-order

[core] [noop] Adding deprecation notice to old DrainNode API (#56629)
  src/ray/gcs/gcs_node_manager.h
  src/ray/protobuf/gcs_service.proto
Due: check-cpp-files-inclusion

[docs] Add serve llm example to index page + other minor fix (#56788)
  doc/source/serve/llm/index.md
  doc/source/serve/tutorials/deployment-serve-llm/hybrid-reasoning-llm/README.md
  doc/source/serve/tutorials/deployment-serve-llm/hybrid-reasoning-llm/client_streaming.py
  doc/source/serve/tutorials/deployment-serve-llm/hybrid-reasoning-llm/client_thinking_disabled.py
  doc/source/serve/tutorials/deployment-serve-llm/hybrid-reasoning-llm/client_thinking_enabled.py
  doc/source/serve/tutorials/deployment-serve-llm/hybrid-reasoning-llm/notebook.ipynb
  doc/source/serve/tutorials/deployment-serve-llm/hybrid-reasoning-llm/serve_qwen_3_32b.py
  doc/source/serve/tutorials/deployment-serve-llm/large-size-llm/README.md
  doc/source/serve/tutorials/deployment-serve-llm/large-size-llm/client.py
  doc/source/serve/tutorials/deployment-serve-llm/large-size-llm/notebook.ipynb
  doc/source/serve/tutorials/deployment-serve-llm/medium-size-llm/README.md
  doc/source/serve/tutorials/deployment-serve-llm/medium-size-llm/client.py
  doc/source/serve/tutorials/deployment-serve-llm/medium-size-llm/notebook.ipynb
  doc/source/serve/tutorials/deployment-serve-llm/medium-size-llm/serve_llama_3_1_70b.py
  doc/source/serve/tutorials/deployment-serve-llm/reasoning-llm/README.md
  doc/source/serve/tutorials/deployment-serve-llm/reasoning-llm/client.py
  doc/source/serve/tutorials/deployment-serve-llm/reasoning-llm/client_streaming.py
  doc/source/serve/tutorials/deployment-serve-llm/reasoning-llm/notebook.ipynb
  doc/source/serve/tutorials/deployment-serve-llm/reasoning-llm/serve_qwq_32b.py
  doc/source/serve/tutorials/deployment-serve-llm/small-size-llm/README.md
  doc/source/serve/tutorials/deployment-serve-llm/small-size-llm/client.py
  doc/source/serve/tutorials/deployment-serve-llm/small-size-llm/notebook.ipynb
  doc/source/serve/tutorials/deployment-serve-llm/vision-llm/README.md
  doc/source/serve/tutorials/deployment-serve-llm/vision-llm/client_local_image.py
  doc/source/serve/tutorials/deployment-serve-llm/vision-llm/client_url_image.py
  doc/source/serve/tutorials/deployment-serve-llm/vision-llm/notebook.ipynb
  doc/source/serve/tutorials/deployment-serve-llm/vision-llm/serve_qwen_VL.py
Due: none

[core][rdt] Retry + Make FreeActorObject idempotent (#56447)
  python/ray/_raylet.pyx
  python/ray/experimental/gpu_object_manager/gpu_object_store.py
  src/mock/ray/rpc/worker/core_worker_client.h
  src/ray/core_worker/task_manager.cc
  src/ray/core_worker_rpc_client/core_worker_client.h
  src/ray/core_worker_rpc_client/core_worker_client_interface.h
  src/ray/core_worker_rpc_client/fake_core_worker_client.h
  src/ray/protobuf/core_worker.proto
Due: docstyle, check-import-order, check-cpp-files-inclusion

[ci] use ray user in manylinux ci image (#56828)
  ci/docker/manylinux.Dockerfile
Due: none

[serve] use deployment method in access logs for replicas (#56829)
  python/ray/serve/_private/replica.py
Due: docstyle, check-import-order

[tune] Enable Train V2 in Tune unit tests and examples (#56816)
  python/ray/tune/BUILD.bazel
  python/ray/tune/examples/xgboost_dynamic_resources_example.py
  python/ray/tune/examples/xgboost_example.py
  python/ray/tune/tests/_test_multi_tenancy_run.py
  python/ray/tune/tests/test_api_checkpoint_integration.py
  python/ray/tune/tests/test_commands.py
  python/ray/tune/tests/test_experiment.py
  python/ray/tune/tests/test_function_api.py
  python/ray/tune/tests/test_remote.py
  python/ray/tune/tests/test_run_experiment.py
  python/ray/tune/tests/test_tune_restore.py
  python/ray/tune/tests/test_tuner.py
  python/ray/tune/tests/test_tuner_restore.py
Due: docstyle, check-import-order

[core] build dashboard with wanda (#56886)
  .buildkite/build.rayci.yml
  ci/docker/ray-core.Dockerfile
  ci/docker/ray-core.wanda.yaml
  ci/docker/ray-dashboard.Dockerfile
  ci/docker/ray-dashboard.wanda.yaml
Due: none

[Data] Add descriptive error if user tries to download from invalid column (#56852)
  python/ray/data/_internal/planner/plan_download_op.py
  python/ray/data/tests/test_download_expression.py
Due: docstyle, check-import-order

[Data] - Add alias expression (#56550)
  python/ray/data/_expression_evaluator.py
  python/ray/data/_internal/arrow_block.py
  python/ray/data/_internal/pandas_block.py
  python/ray/data/_internal/planner/plan_udf_map_op.py
  python/ray/data/expressions.py
  python/ray/data/tests/test_expressions.py
  python/ray/data/tests/test_map.py
Due: docstyle, check-import-order

[ci] do not disable cache uploading in base images (#56822)
  ci/docker/base.gpu.Dockerfile
Due: none

[core] Reorder asyncio actor shutdown to terminate asyncio thread first (#56827)
  python/ray/_raylet.pyx
  python/ray/includes/libcoreworker.pxd
  src/ray/core_worker/core_worker_options.h
  src/ray/core_worker/core_worker_shutdown_executor.cc
  src/ray/core_worker/core_worker_shutdown_executor.h
  src/ray/core_worker/shutdown_coordinator.cc
  src/ray/core_worker/shutdown_coordinator.h
  src/ray/core_worker/tests/shutdown_coordinator_test.cc
Due: check-cpp-files-inclusion

[core] building ray core binary parts with wanda on manylinux (#56825)
  .buildkite/build.rayci.yml
  ci/docker/ray-core.Dockerfile
  ci/docker/ray-core.wanda.yaml
Due: none

[Data] - make test_unify_schemas_nested_struct_tensors deterministic (#56817)
  python/ray/data/_internal/arrow_ops/transform_pyarrow.py
Due: docstyle, check-import-order
