Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)

[train] Consolidate Train Run Metadata Sanitization and Improve Readability (#63182)
  python/ray/train/v2/_internal/state/export.py
  python/ray/train/v2/_internal/state/schema.py
  python/ray/train/v2/_internal/state/state_manager.py
  python/ray/train/v2/tests/test_state.py
  python/ray/train/v2/tests/test_state_export.py
Due: docstyle, check-import-order, check-train-circular-imports

[Serve][Bugfix] Fail loud when ingress request router dispatch fails (#63215)
  python/ray/serve/_private/haproxy_templates.py
  python/ray/serve/_private/ingress_request_router.lua.tmpl
  python/ray/serve/_private/replica.py
  python/ray/serve/tests/test_haproxy_api.py
Due: docstyle, check-import-order

[serve] Fix serve router benchmark client setup (#63147)
  release/release_tests.yaml
  release/serve_tests/workloads/router_microbenchmark.py
Due: docstyle, check-import-order

[data] DataSourceV2: V2 checkpoint filter integration (#63172)
  python/ray/data/_internal/planner/checkpoint/__init__.py
  python/ray/data/_internal/planner/checkpoint/plan_read_files_op.py
  python/ray/data/_internal/planner/planner.py
  python/ray/data/checkpoint/checkpoint_filter.py
Due: docstyle, check-import-order

[RLlib] Handle the all-evaluation-workers-unhealthy case uniformly across modes (#63128)
  rllib/BUILD.bazel
  rllib/algorithms/algorithm.py
  rllib/algorithms/algorithm_config.py
  rllib/algorithms/tests/test_eval_workers_all_unhealthy.py
  rllib/env/env_runner_group.py
Due: docstyle, check-import-order

[data] DataSourceV2: support ``_block_udf`` + ``tensor_column_schema``; per-fragment reads for variable-shape tensors (#63174)
  python/ray/data/_internal/datasource_v2/parquet_datasource_v2.py
  python/ray/data/_internal/datasource_v2/readers/file_reader.py
  python/ray/data/_internal/datasource_v2/readers/parquet_file_reader.py
  python/ray/data/_internal/datasource_v2/scanners/parquet_scanner.py
  python/ray/data/_internal/datasource_v2/tests/test_parquet_datasource_v2.py
  python/ray/data/_internal/logical/operators/read_operator.py
  python/ray/data/_internal/planner/plan_read_files_op.py
  python/ray/data/read_api.py
  python/ray/data/tests/datasource/test_parquet.py
  python/ray/data/tests/unit/datasource_v2/test_read_parquet_v2.py
Due: docstyle, check-import-order

[Train] Add timeouts to validation functions of `ray.train.report` (#62916)
  python/ray/train/v2/_internal/execution/checkpoint/checkpoint_manager.py
  python/ray/train/v2/_internal/execution/checkpoint/validation_manager.py
  python/ray/train/v2/api/reported_checkpoint.py
  python/ray/train/v2/api/validation_config.py
  python/ray/train/v2/tests/test_async_checkpointing_validation.py
  python/ray/train/v2/tests/test_checkpoint_manager.py
  python/ray/train/v2/tests/test_validation_manager.py
Due: docstyle, check-import-order, check-train-circular-imports

[docs] Slurm: add guide for running Ray inside Docker containers (#63221)
  doc/source/cluster/vms/user-guides/community/slurm.rst
Due: none

[Serve] Gate replica/deployment creation during shutdown (#62761)
  python/ray/serve/_private/controller.py
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/tests/unit/test_deployment_state.py
Due: docstyle, check-import-order

[Train / Release] Fix Huggingface TRL release test (#63188)
  release/ray_release/byod/byod_huggingface_trl.sh
Due: none

[serve] Avoid rolling replicas for no-op config overrides (#63034)
  python/ray/serve/_private/application_state.py
  python/ray/serve/tests/test_cli.py
  python/ray/serve/tests/unit/test_application_state.py
Due: docstyle, check-import-order

[Data] Remove tfx-bsl support from read_tfrecords (#63245)
  .buildkite/data.rayci.yml
  ci/docker/data-tfxbsl.build.Dockerfile
  ci/docker/datatfxbsl.build.wanda.yaml
  ci/lint/pydoclint-baseline.txt
  ci/raydepsets/configs/ci_data.depsets.yaml
  doc/source/data/api/loading_data.rst
  pyrefly.toml
  python/deplocks/ci/data-tfxbsl-ci_depset_py3.11.lock
  python/deplocks/ci/relaxed_data_tfxbsl-ci_depset_py3.10.lock
  python/deplocks/ci/relaxed_data_tfxbsl-ci_depset_py3.11.lock
  python/ray/data/BUILD.bazel
  python/ray/data/__init__.py
  python/ray/data/_internal/datasource/tfrecords_datasource.py
  python/ray/data/read_api.py
  python/ray/data/tests/datasource/test_tfrecords.py
  python/requirements/data/tfxbsl.txt
Due: docstyle, check-import-order

[data] Add `Dataset.mix()` public API and user guide for weighted dataset mixing (#63168)
  .vale/styles/config/vocabularies/Data/accept.txt
  doc/source/data/api/dataset.rst
  doc/source/data/images/dataset_mixing/per_block_mix.png
  doc/source/data/images/dataset_mixing/random_mix.png
  doc/source/data/mixing-data.rst
  doc/source/data/scaling-collation-functions.rst
  doc/source/data/user-guide.rst
  doc/source/train/user-guides.rst
  doc/source/train/user-guides/data-loading-preprocessing.rst
  python/ray/data/__init__.py
  python/ray/data/_internal/execution/operators/base_physical_operator.py
  python/ray/data/_internal/execution/operators/mix_operator.py
  python/ray/data/_internal/logical/operators/n_ary_operator.py
  python/ray/data/dataset.py
  python/ray/data/tests/test_mix.py
Due: docstyle, check-import-order

[Core] Lazily evaluate `scratch_dir` to avoid `os.getcwd()` on import (#63040)
  python/ray/_private/runtime_env/py_modules.py
  python/ray/_private/runtime_env/working_dir.py
Due: docstyle, check-import-order

[deps] Ray py3.14 dependencies and requirements for image building (#63080)
  ci/raydepsets/configs/rayimg.depsets.yaml
  docker/base-deps/Dockerfile
  python/deplocks/base_deps/ray_base_deps_py3.14.lock
  python/deplocks/base_extra/ray_base_extra_py3.14.lock
  python/deplocks/base_extra_testdeps/ray-base_extra_testdeps_py3.14.lock
  python/deplocks/base_slim/ray_base_slim_py3.14.lock
  python/deplocks/ray_img/ray_img_py314.lock
  python/requirements_compiled_py3.14.txt
  ray-images.json
  release/ray_release/byod/requirements_byod_3.14.in
Due: none

[Core] Add host vs container memory usage distinction to memory panels (#63111)
  doc/source/ray-observability/reference/system-metrics.rst
  python/ray/_private/utils.py
  python/ray/autoscaler/aws/cloudwatch/example-cloudwatch-agent-config.json
  python/ray/dashboard/modules/metrics/dashboards/common.py
  python/ray/dashboard/modules/metrics/dashboards/default_dashboard_panels.py
  python/ray/dashboard/modules/reporter/reporter_agent.py
  python/ray/dashboard/modules/reporter/reporter_models.py
  python/ray/dashboard/modules/reporter/tests/test_reporter.py
  python/ray/tests/test_metrics_agent.py
  release/ray_release/command_runner/_prometheus_metrics.py
Due: docstyle, check-import-order

[train] Deflake test_state (#63240)
  python/ray/train/v2/tests/test_state.py
Due: docstyle, check-import-order, check-train-circular-imports

[serve][ci] Disable whole-step retry for HAProxy tests (#63271)
  .buildkite/serve.rayci.yml
Due: none

[Core] (Resource Isolation 14/n) Introduce user slice threshold monitor for resource isolation mode (#63067)
  src/ray/common/BUILD.bazel
  src/ray/common/cgroup2/cgroup_manager.cc
  src/ray/common/cgroup2/cgroup_manager.h
  src/ray/common/cgroup2/cgroup_manager_interface.h
  src/ray/common/cgroup2/linux_cgroup_manager_factory.cc
  src/ray/common/cgroup2/noop_cgroup_manager.h
  src/ray/common/memory_monitor_interface.h
  src/ray/common/memory_monitor_test_fixture.cc
  src/ray/common/memory_monitor_test_fixture.h
  src/ray/common/memory_monitor_utils.cc
  src/ray/common/memory_monitor_utils.h
  src/ray/common/multi_memory_monitor_factory.cc
  src/ray/common/tests/memory_monitor_factory_test.cc
  src/ray/common/tests/memory_monitor_utils_test.cc
  src/ray/common/tests/threshold_memory_monitor_test.cc
  src/ray/common/threshold_memory_monitor.cc
  src/ray/common/threshold_memory_monitor.h
  src/ray/raylet/node_manager.cc
  src/ray/raylet/node_manager.h
  src/ray/raylet/noop_worker_killing_policy.h
  src/ray/raylet/tests/worker_killing_policy_by_time_test.cc
  src/ray/raylet/tests/worker_killing_policy_group_by_owner_test.cc
  src/ray/raylet/worker_killing_policy_by_time.cc
  src/ray/raylet/worker_killing_policy_by_time.h
  src/ray/raylet/worker_killing_policy_factory.cc
  src/ray/raylet/worker_killing_policy_group_by_owner.cc
  src/ray/raylet/worker_killing_policy_group_by_owner.h
  src/ray/raylet/worker_killing_policy_interface.h
Due: check-cpp-files-inclusion

[serve][1/3] Add replica-side slot reservation primitive (#63252)
  doc/source/serve/api/index.md
  python/ray/serve/_private/common.py
  python/ray/serve/_private/replica.py
  python/ray/serve/_private/request_router/__init__.py
  python/ray/serve/_private/request_router/replica_wrapper.py
  python/ray/serve/exceptions.py
  python/ray/serve/tests/unit/test_router.py
Due: docstyle, check-import-order

[serve] Introduce round robin router (#63238)
  python/ray/serve/experimental/round_robin_router.py
  python/ray/serve/tests/BUILD.bazel
  python/ray/serve/tests/test_round_robin_router.py
  python/ray/serve/tests/unit/BUILD.bazel
  python/ray/serve/tests/unit/test_round_robin_router.py
Due: docstyle, check-import-order

[serve][2/3] Add `choose_replica`/`dispatch` to `AsyncioRouter` (#63254)
  python/ray/serve/_private/request_router/replica_wrapper.py
  python/ray/serve/_private/request_router/request_router.py
  python/ray/serve/_private/router.py
  python/ray/serve/tests/test_actor_replica_wrapper.py
  python/ray/serve/tests/unit/test_router.py
Due: docstyle, check-import-order

[serve][3/3] Expose `choose_replica`/`dispatch` on deployment handles (#63255)
  python/ray/serve/_private/local_testing_mode.py
  python/ray/serve/_private/router.py
  python/ray/serve/handle.py
  python/ray/serve/tests/test_handle.py
  python/ray/serve/tests/test_handle_1.py
  python/ray/serve/tests/unit/test_router.py
Due: docstyle, check-import-order

[ci] Stop billing tags from overriding advanced_instance_config fields (#63296)
  release/ray_release/cluster_manager/cluster_manager.py
  release/ray_release/tests/test_cluster_manager.py
Due: docstyle, check-import-order

[core][rdt] ray.get launches concurrent one-sided transfers for multiple ObjectRefs (#61773)
  doc/source/ray-core/doc_code/direct_transport_gloo.py
  python/ray/_private/worker.py
  python/ray/experimental/rdt/nixl_tensor_transport.py
  python/ray/experimental/rdt/rdt_manager.py
  python/ray/experimental/rdt/rdt_store.py
  python/ray/experimental/rdt/tensor_transport_manager.py
  python/ray/experimental/rdt/util.py
  python/ray/tests/rdt/test_rdt_manager.py
Due: docstyle, check-import-order

[train] Add log line before launching training function (#62911)
  python/ray/train/v2/_internal/execution/worker_group/worker.py
Due: docstyle, check-import-order, check-train-circular-imports

[util][rpdb] Fix IndexError in legacy post-mortem debugging (#61479)
  python/ray/util/rpdb.py
Due: docstyle, check-import-order

[Core] Deflake test_typing (#63283)
  python/ray/tests/BUILD.bazel
Due: none

[core][train][data] Keep strong references to fire-and-forget asyncio tasks (#63291)
  python/ray/_private/async_utils.py
  python/ray/data/_internal/planner/plan_udf_map_op.py
  python/ray/train/v2/_internal/execution/checkpoint/checkpoint_manager.py
Due: docstyle, check-import-order, check-train-circular-imports

[core] Improve traversal context in inspect_serializability (#63258)
  ci/lint/pydoclint-baseline.txt
  python/ray/tests/test_serialization.py
  python/ray/util/check_serialize.py
  python/ray/util/client/__init__.py
Due: docstyle, check-import-order

[Data] Support UDF retries in case of transient exceptions (#63023)
  ci/lint/pydoclint-baseline.txt
  python/ray/_common/retry.py
  python/ray/_common/tests/test_retry.py
  python/ray/data/_internal/execution/operators/map_operator.py
  python/ray/data/_internal/util.py
  python/ray/data/context.py
  python/ray/data/tests/test_map.py
  python/ray/data/tests/test_util.py
Due: docstyle, check-import-order

[Doc] Add iter_jax_batches documentation to JaxTrainer guide (#63294)
  doc/source/train/examples/jax/intro_to_jax_trainer/README.ipynb
  doc/source/train/examples/jax/intro_to_jax_trainer/README.md
  python/ray/data/dataset.py
Due: docstyle, check-import-order

[Train] Deflake `test_tensorflow_checkpoint` (#63301)
  python/ray/train/BUILD.bazel
Due: none

[core] Split out `periodical_runner_interface.h` build target (#63205)
  src/ray/asio/BUILD.bazel
  src/ray/asio/fake_periodical_runner.h
  src/ray/asio/periodical_runner.h
  src/ray/asio/periodical_runner_interface.h
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker.h
  src/ray/core_worker/core_worker_process.cc
  src/ray/gcs/actor/tests/BUILD.bazel
  src/ray/gcs/actor/tests/gcs_actor_manager_test.cc
  src/ray/gcs/tests/BUILD.bazel
  src/ray/gcs/tests/export_api/gcs_actor_manager_export_event_test.cc
  src/ray/pubsub/BUILD.bazel
  src/ray/pubsub/publisher.h
  src/ray/pubsub/tests/BUILD.bazel
Due: check-cpp-files-inclusion

[CI] Skip premerge tests for doc/*.rst changes (#63198)
  .buildkite/test.rules.test.txt
  .buildkite/test.rules.txt
Due: none

[RDT] Pre-allocate nixl memory pool (#61573)
  doc/source/ray-core/api/direct-transport.rst
  python/ray/experimental/__init__.py
  python/ray/experimental/rdt/__init__.py
  python/ray/experimental/rdt/nixl_memory_pool.py
  python/ray/experimental/rdt/nixl_tensor_transport.py
  python/ray/experimental/rdt/util.py
  python/ray/tests/BUILD.bazel
  python/ray/tests/rdt/test_nixl_memory_pool.py
  python/ray/tests/rdt/test_rdt_nixl.py
Due: docstyle, check-import-order

[core] Fix accelerator detection on NVIDIA Blackwell consumer GPUs (#63322)
  python/ray/_private/accelerators/nvidia_gpu.py
  python/ray/_private/accelerators/tpu.py
  python/ray/tests/accelerators/test_nvidia_gpu.py
  python/ray/tests/accelerators/test_tpu.py
Due: docstyle, check-import-order

[Data][LLM] Fix max_pending_requests default to track vLLM's GPU-dependent max_num_seqs (#62918)
  python/ray/llm/_internal/batch/stages/vllm_engine_stage.py
  python/ray/llm/tests/batch/gpu/stages/test_vllm_engine_stage.py
Due: docstyle, check-import-order

[serve] Deflake serve windows tests (#63281)
  .buildkite/windows.rayci.yml
Due: none

[Docs] Fix broken PyTorch tutorial link in ResNet fine-tune example (#60036)
  doc/source/train/examples/pytorch/pytorch_resnet_finetune.ipynb
Due: none
