Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)

Fix build
  python/ray/data/expressions.py
Due: docstyle, check-import-order

Fixes
  python/ray/data/tests/test_stats.py
Due: docstyle, check-import-order

autoscaler for spot resources
  .aoneci/build.yaml
  python/ray/autoscaler/v2/scheduler.py
Due: docstyle, check-import-order

autoscaler for spot resources
  ci/build/build-manylinux-ray.sh
Due: none

autoscaler for spot resources
  ci/build/build-manylinux-forge.sh
  python/build-wheel-manylinux2014.sh
Due: none

autoscaler for spot resources
  release/requirements_buildkite.txt
Due: none

Clean up
  python/ray/data/expressions.py
Due: docstyle, check-import-order

improve async inf docs
  doc/source/serve/asynchronous-inference.md
Due: none

Remove ALE from testing as not installed on microcheck
  rllib/algorithms/algorithm_config.py
  rllib/env/multi_agent_env_runner.py
  rllib/env/single_agent_env_runner.py
  rllib/env/tests/test_single_agent_env_runner.py
Due: docstyle, check-import-order

[rllib] Fix Deterministic Sampling and Training documentation link
  doc/source/rllib/rllib-examples.rst
Due: none

clarify comments in actor manager wrt timer
  src/ray/gcs/gcs_actor_manager.cc
  src/ray/gcs/gcs_actor_manager.h
Due: check-cpp-files-inclusion

clarify doc notes and add testable code snippet
  doc/source/ray-core/actors/terminating-actors.rst
Due: none

[rllib] allow DreamerV3 to support num_env_runners > 0
  rllib/algorithms/dreamerv3/dreamerv3.py
Due: docstyle, check-import-order

Move where the `single_observation_space` and `single_action_space` is computed
  rllib/algorithms/dreamerv3/dreamerv3.py
Due: docstyle, check-import-order

fix some lint issues
  python/ray/experimental/collective/hccl_tensor_transport.py
  python/ray/util/collective/collective.py
  python/ray/util/collective/collective_group/hccl_collective_group.py
  python/ray/util/collective/collective_group/torch_gloo_collective_group.py
Due: docstyle, check-import-order

[core] Configure an interceptor to pass auth token in python direct g… (#58395)
  python/ray/_private/authentication/authentication_utils.py
  python/ray/_private/authentication/grpc_authentication_client_interceptor.py
  python/ray/_private/authentication/http_token_authentication.py
  python/ray/_private/utils.py
  python/ray/tests/test_token_auth_integration.py
Due: docstyle, check-import-order

[air] Add stacklevel option to deprecation_warning (#58357)
  python/ray/_common/deprecation.py
Due: docstyle, check-import-order

[Doc][KubeRay] eliminate vale errors (#58429)
  .vale/styles/Google/Acronyms.yml
  .vale/styles/config/vocabularies/General/accept.txt
  doc/source/cluster/kubernetes/k8s-ecosystem/kai-scheduler.md
Due: none

fix
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker.h
  src/ray/core_worker/task_execution/actor_scheduling_queue.cc
  src/ray/core_worker/task_execution/actor_scheduling_queue.h
  src/ray/core_worker/task_execution/out_of_order_actor_scheduling_queue.cc
  src/ray/core_worker/task_execution/out_of_order_actor_scheduling_queue.h
  src/ray/core_worker/task_execution/scheduling_util.cc
  src/ray/core_worker/task_execution/scheduling_util.h
  src/ray/core_worker/task_execution/task_receiver.cc
  src/ray/core_worker/task_execution/task_receiver.h
  src/ray/core_worker/task_execution/tests/scheduling_queue_test.cc
  src/ray/core_worker/task_execution/tests/task_receiver_test.cc
  src/ray/gcs_rpc_client/accessor.h
Due: check-cpp-files-inclusion

fix merge
  python/ray/_private/object_ref_generator.py
  python/ray/tests/test_streaming_generator.py
Due: docstyle, check-import-order

remove __del__
  python/ray/_private/object_ref_generator.py
  python/ray/_raylet.pyx
Due: docstyle, check-import-order

regenerating llm depsets
  python/deplocks/llm/rayllm_test_py311_cpu.lock
  python/deplocks/llm/rayllm_test_py311_cu128.lock
Due: none

[serve][llm] Fix import path in muli-node release test
  release/llm_tests/serve/test_llm_serve_multi_node_integration.py
Due: docstyle, check-import-order

Define an env for controlling UVloop (#58442)
  python/ray/_private/async_compat.py
Due: docstyle, check-import-order

fix quotes
  ci/raydepsets/configs/rayimg.depsets.yaml
  ci/raydepsets/configs/release_multimodal_inference_benchmarks_tests.depsets.yaml
Due: none

[bazel] rename contraint from hermatic to python_version
  BUILD.bazel
  WORKSPACE
  bazel/BUILD.bazel
  ci/lint/BUILD.bazel
  ci/pipeline/BUILD.bazel
  ci/ray_ci/BUILD.bazel
  ci/ray_ci/automation/BUILD.bazel
  ci/ray_ci/bisect/BUILD.bazel
  ci/ray_ci/doc/BUILD.bazel
  ci/ray_ci/pipeline/BUILD.bazel
  ci/raydepsets/BUILD.bazel
  doc/BUILD.bazel
  release/BUILD.bazel
Due: none

[core] Add .rayignore
  doc/source/ray-core/handling-dependencies.rst
  python/ray/_private/runtime_env/packaging.py
  python/ray/tests/test_runtime_env_packaging.py
Due: docstyle, check-import-order

lint/precommit/vale refactor
  .vale/styles/config/vocabularies/General/accept.txt
  doc/source/serve/tutorials/deployment-serve-llm/gpt-oss/README.md
  doc/source/serve/tutorials/deployment-serve-llm/gpt-oss/notebook.ipynb
  doc/source/serve/tutorials/deployment-serve-llm/large-size-llm/README.md
  doc/source/serve/tutorials/deployment-serve-llm/large-size-llm/notebook.ipynb
  doc/source/serve/tutorials/deployment-serve-llm/medium-size-llm/README.md
  doc/source/serve/tutorials/deployment-serve-llm/medium-size-llm/notebook.ipynb
  doc/source/serve/tutorials/deployment-serve-llm/small-size-llm/README.md
  doc/source/serve/tutorials/deployment-serve-llm/small-size-llm/notebook.ipynb
Due: none

docstring + remove logging
  python/ray/_private/runtime_env/packaging.py
Due: docstyle, check-import-order

increase timeout for test_initial_replica tests (#58423)
  python/ray/serve/tests/test_target_capacity.py
Due: docstyle, check-import-order

regenerate
  release/ray_release/byod/audio_transcription_py3.10.lock
  release/ray_release/byod/audio_transcription_py3.9.lock
  release/ray_release/byod/document_embedding_py3.10.lock
  release/ray_release/byod/document_embedding_py3.9.lock
  release/ray_release/byod/image_classification_py3.10.lock
  release/ray_release/byod/image_classification_py3.9.lock
  release/ray_release/byod/large_image_embedding_py3.10.lock
  release/ray_release/byod/large_image_embedding_py3.9.lock
  release/ray_release/byod/ray_base_extra_testdeps_gpu_py3.10.lock
  release/ray_release/byod/ray_base_extra_testdeps_gpu_py3.9.lock
  release/ray_release/byod/video_object_detection_py3.10.lock
  release/ray_release/byod/video_object_detection_py3.9.lock
Due: none

[release test] remove setup.py in release/
  release/__init__.py
  release/ray_release/__init__.py
  release/ray_release/alerts/__init__.py
  release/ray_release/buildkite/__init__.py
  release/ray_release/byod/__init__.py
  release/ray_release/cluster_manager/__init__.py
  release/ray_release/command_runner/__init__.py
  release/ray_release/configs/__init__.py
  release/ray_release/file_manager/__init__.py
  release/ray_release/reporter/__init__.py
  release/ray_release/scripts/__init__.py
  release/ray_release/test_automation/__init__.py
  release/ray_release/tests/__init__.py
  release/requirements_buildkite.in
  release/setup.py
Due: docstyle, check-import-order

use orphan metadata insteaed of sclude
  doc/source/conf.py
  doc/source/data/examples/unstructured-data-ingestion/content/unstructured-data-ingestion.ipynb
Due: none

[ci] seperate doc related jobs into its own group (#58454)
  .buildkite/base.rayci.yml
  .buildkite/build.rayci.yml
  .buildkite/doc.rayci.yml
  .buildkite/lint.rayci.yml
  ci/pipeline/test_rules.txt
Due: none

fix tests
  python/ray/llm/tests/common/cloud/__init__.py
  python/ray/llm/tests/common/cloud/test_cloud_filesystem.py
  python/ray/llm/tests/common/cloud/test_mirror_config.py
  python/ray/llm/tests/common/cloud/test_pyarrow_filesystem.py
  python/ray/llm/tests/common/cloud/test_s3_filesystem.py
  python/ray/llm/tests/common/cloud/test_utils.py
Due: docstyle, check-import-order

Doctest
  python/ray/data/expressions.py
Due: docstyle, check-import-order

adding hashes back
  ci/raydepsets/cli.py
  ci/raydepsets/configs/docs.depsets.yaml
  ci/raydepsets/configs/rayimg.depsets.yaml
  ci/raydepsets/configs/rayllm.depsets.yaml
  ci/raydepsets/configs/release_multimodal_inference_benchmarks_tests.depsets.yaml
  ci/raydepsets/configs/req_compiled.depsets.yaml
  python/deplocks/ray_img/ray_img_py310.lock
  python/deplocks/ray_img/ray_img_py311.lock
  python/deplocks/ray_img/ray_img_py312.lock
  python/deplocks/ray_img/ray_img_py39.lock
  python/deplocks/req_compiled/req_compiled_py3.11.lock
  python/deplocks/req_compiled/req_compiled_py3.12.lock
  release/ray_release/byod/ray_base_extra_testdeps_cuda_py3.10.lock
  release/ray_release/byod/ray_base_extra_testdeps_cuda_py3.11.lock
  release/ray_release/byod/ray_base_extra_testdeps_cuda_py3.12.lock
  release/ray_release/byod/ray_base_extra_testdeps_cuda_py3.9.lock
  release/ray_release/byod/ray_base_extra_testdeps_py3.10.lock
  release/ray_release/byod/ray_base_extra_testdeps_py3.11.lock
  release/ray_release/byod/ray_base_extra_testdeps_py3.12.lock
  release/ray_release/byod/ray_base_extra_testdeps_py3.9.lock
  release/ray_release/byod/ray_ml_base_extra_testdeps_cuda_py3.10.lock
  release/ray_release/byod/ray_ml_base_extra_testdeps_cuda_py3.9.lock
  release/ray_release/byod/ray_ml_base_extra_testdeps_py3.10.lock
  release/ray_release/byod/ray_ml_base_extra_testdeps_py3.9.lock
Due: docstyle, check-import-order

not including req compiled lock files for large file pre commit check
  .pre-commit-config.yaml
Due: none

[Data] - Fix TPCH Q1 Release test
  release/nightly_tests/dataset/tpch_q1.py
Due: docstyle, check-import-order

[java] remove local genrule `//java:ray_java_pkg`
  ci/build/build-manylinux-ray.sh
  ci/docker/ray-java.Dockerfile
  java/BUILD.bazel
Due: none
