Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

check-train-circular-imports:
  name: Check Ray Train circular imports
  entry: python python/ray/train/lint/check_circular_imports.py
  language: system
  pass_filenames: false
  args:
  - --patch_dir
  - ray/train/v2

[train] Improve JaxTrainer TPU multi-slice fault tolerance and reservation ergonomics (#62893)
  java/test/src/main/java/io/ray/test/GlobalGcTest.java
  python/ray/_private/accelerators/tpu.py
  python/ray/train/v2/_internal/execution/worker_group/worker_group.py
  python/ray/train/v2/jax/config.py
  python/ray/train/v2/tests/test_jax_trainer.py
  python/ray/train/v2/tests/test_worker_group.py
  python/ray/util/tpu.py
Due: docstyle, check-import-order, check-train-circular-imports

[serve] Move direct-ingress host default to HTTPOptions class
  python/ray/serve/_private/constants.py
  python/ray/serve/config.py
Due: docstyle, check-import-order

[serve] Emit direct-ingress host warning regardless of HAProxy branch
  python/ray/serve/_private/controller.py
Due: docstyle, check-import-order

[ci][llm] Fix release tests' incompatibility with Ansycale SDK (#63134)
  release/llm_tests/serve/run_llm_serve_test_and_bms.py
  release/llm_tests/serve/test_utils.py
  release/ray_release/job_manager/anyscale_job_manager.py
  release/ray_release/tests/test_anyscale_job_manager.py
Due: docstyle, check-import-order

[serve] Gate 0.0.0.0 default and warning on HAProxy, not direct ingress
  python/ray/serve/_private/controller.py
  python/ray/serve/config.py
  python/ray/serve/tests/test_per_request_headers.py
Due: docstyle, check-import-order

[serve] Log when HA_PROXY overrides the default HTTPOptions.host
  python/ray/serve/_private/controller.py
Due: docstyle, check-import-order

[ci] narrow pre-existing (*) fan-ins to (python=3.10) subsets (#62804)
  .buildkite/build.rayci.yml
  .buildkite/doc.rayci.yml
  .buildkite/kuberay.rayci.yml
  .buildkite/others.rayci.yml
  .buildkite/rllib.rayci.yml
Due: none

[serve] Move HAProxy host-binding test to test_haproxy.py
  python/ray/serve/tests/test_haproxy.py
  python/ray/serve/tests/test_per_request_headers.py
Due: docstyle, check-import-order

[serve] Trim probability-math comment in haproxy deflake test
  python/ray/serve/tests/test_haproxy.py
Due: docstyle, check-import-order

[Serve] Drop and replace replicas that survive a controller crash without rank assignment
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/_private/replica.py
  python/ray/serve/_private/test_utils.py
  python/ray/serve/tests/unit/conftest.py
  python/ray/serve/tests/unit/test_deployment_state.py
Due: docstyle, check-import-order

Move mmh3 to python/requirements.txt and recompile deps
  python/deplocks/ci/serve_base_depset_py3.10.lock
  python/deplocks/ci/serve_base_depset_py3.12.lock
  python/deplocks/ci/serve_ci_depset_py3.10.lock
  python/deplocks/ci/serve_ci_depset_py3.12.lock
  python/deplocks/llm/ray_py311_cpu.lock
  python/deplocks/llm/ray_py311_cu128.lock
  python/deplocks/llm/ray_py312_cpu.lock
  python/deplocks/llm/ray_py312_cu130.lock
  python/deplocks/llm/ray_test_py311_cpu.lock
  python/deplocks/llm/ray_test_py311_cu128.lock
  python/deplocks/llm/ray_test_py312_cpu.lock
  python/deplocks/llm/ray_test_py312_cu130.lock
  python/deplocks/llm/rayllm_py311_cpu.lock
  python/deplocks/llm/rayllm_py311_cu128.lock
  python/deplocks/llm/rayllm_py312_cpu.lock
  python/deplocks/llm/rayllm_py312_cu130.lock
  python/deplocks/llm/rayllm_subset_py311_cu128.lock
  python/deplocks/llm/rayllm_subset_py312_cu130.lock
  python/deplocks/llm/rayllm_test_py311_cpu.lock
  python/deplocks/llm/rayllm_test_py311_cu128.lock
  python/deplocks/llm/rayllm_test_py312_cpu.lock
  python/deplocks/llm/rayllm_test_py312_cu130.lock
  python/requirements.txt
  python/requirements/serve/serve-requirements.txt
  python/requirements_compiled.txt
  python/requirements_compiled_py3.13.txt
  release/ray_release/byod/llm_batch/llm_batch_single_node_benchmark_py311_cu128.lock
  release/ray_release/byod/llm_batch/llm_batch_single_node_benchmark_py312_cu130.lock
Due: none

track rejection separately from num_queued_requests
  python/ray/serve/_private/router.py
Due: docstyle, check-import-order

[serve][release] Drop unneeded shellcheck SC2102 disable
  release/ray_release/byod/byod_install_ray_haproxy.sh
Due: none

update tests
  python/ray/tests/test_wait.py
Due: docstyle, check-import-order

Add __init__.py for datasource_v2 subpackages so wheels include listing/readers/scanners/partitioners
  python/ray/data/_internal/datasource_v2/listing/__init__.py
  python/ray/data/_internal/datasource_v2/partitioners/__init__.py
  python/ray/data/_internal/datasource_v2/readers/__init__.py
  python/ray/data/_internal/datasource_v2/scanners/__init__.py
Due: docstyle, check-import-order

add public api
  python/ray/data/__init__.py
  python/ray/data/dataset.py
  python/ray/data/tests/test_mix.py
Due: docstyle, check-import-order

[Serve] Fix HAProxy Lua action emitted without lua-load-per-thread
  python/ray/serve/_private/constants.py
  python/ray/serve/_private/haproxy.py
  python/ray/serve/_private/haproxy_templates.py
  python/ray/serve/tests/test_haproxy_api.py
Due: docstyle, check-import-order

add public api annotation
  python/ray/data/_internal/logical/operators/n_ary_operator.py
Due: docstyle, check-import-order

Only add host and cgroup level metric to be saved without replacing
  release/ray_release/command_runner/_prometheus_metrics.py
Due: docstyle, check-import-order

Add separator
  python/ray/_private/utils.py
Due: docstyle, check-import-order

fix default
  python/ray/data/dataset.py
Due: docstyle, check-import-order

[llm][serve] Materialize chat completion message `content` in sanitizer (#63119)
  python/ray/llm/_internal/serve/core/ingress/ingress.py
  python/ray/llm/tests/serve/cpu/configs/test_openai_api_models_backends.py
Due: docstyle, check-import-order

DATA-2225: Add __init__.py for datasource_v2 subpackages.
  python/ray/data/_internal/datasource_v2/listing/__init__.py
  python/ray/data/_internal/datasource_v2/partitioners/__init__.py
  python/ray/data/_internal/datasource_v2/readers/__init__.py
  python/ray/data/_internal/datasource_v2/scanners/__init__.py
Due: docstyle, check-import-order

[doc] fix sphinx-sitemap output across versions (#63115)
  doc/requirements-doc.txt
  doc/source/conf.py
  python/deplocks/docs/docbuild_depset_py3.10.lock
Due: none

allow ray task error in backend
  python/ray/train/v2/_internal/callbacks/backend_setup.py
  python/ray/train/v2/tests/test_worker_group.py
Due: docstyle, check-import-order, check-train-circular-imports

[Data] Raise original error if unwrap_error = True in iterate with retry to prevent hiding root cause
  python/ray/data/_internal/util.py
Due: docstyle, check-import-order

revise comments
  python/ray/train/v2/tests/test_worker_group.py
Due: docstyle, check-import-order, check-train-circular-imports

[Serve] Forward truncated bodies to ingress router with X-Body-Truncated
  python/ray/serve/_private/constants.py
  python/ray/serve/_private/haproxy.py
  python/ray/serve/_private/haproxy_templates.py
  python/ray/serve/_private/ingress_request_router.lua.tmpl
Due: docstyle, check-import-order

[Serve] Include ingress_request_router.lua.tmpl in package_data
  python/setup.py
Due: docstyle, check-import-order

Add __init__.py for datasource_v2 subpackages (#63141)
  python/ray/data/_internal/datasource_v2/listing/__init__.py
  python/ray/data/_internal/datasource_v2/partitioners/__init__.py
  python/ray/data/_internal/datasource_v2/readers/__init__.py
  python/ray/data/_internal/datasource_v2/scanners/__init__.py
Due: docstyle, check-import-order

[serve] Scope HAProxy paths under node_id
  python/ray/serve/_private/haproxy.py
  python/ray/serve/tests/test_haproxy.py
Due: docstyle, check-import-order

[serve] Reword node_id path-scoping comment
  python/ray/serve/_private/haproxy.py
Due: docstyle, check-import-order

test
  src/ray/core_worker/actor_management/tests/actor_manager_test.cc
Due: check-cpp-files-inclusion

[serve] Log resolved HAProxy binary path on proxy startup
  python/ray/serve/_private/haproxy.py
Due: docstyle, check-import-order

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
