Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

check-train-circular-imports:
  name: Check Ray Train circular imports
  entry: python python/ray/train/lint/check_circular_imports.py
  language: system
  pass_filenames: false
  args:
  - --patch_dir
  - ray/train/v2

Fix byod_llm_cpu.sh to use correct Ray wheel from image
  release/ray_release/byod/byod_llm_cpu.sh
Due: none

onehotencoder
  python/ray/data/preprocessors/encoder.py
  python/ray/data/tests/preprocessors/test_encoder.py
Due: docstyle, check-import-order

Remove unnecessary anyio upgrade workaround
  ci/raydepsets/configs/rayllm.depsets.yaml
Due: none

address feedback
  doc/source/data/api/llm.rst
  doc/source/data/working-with-llms.rst
Due: none

cache optimization for onehot encoder
  python/ray/data/preprocessors/encoder.py
  python/ray/data/tests/preprocessors/test_encoder.py
Due: docstyle, check-import-order

fix: handle dual task errors with read-only args (#59507)
  python/ray/exceptions.py
  python/ray/tests/test_traceback.py
Due: docstyle, check-import-order

[Core] Skip reporter and event aggregator client creation in minimal … (#59846)
  src/ray/core_worker/core_worker_process.cc
  src/ray/gcs/gcs_server.cc
  src/ray/raylet/main.cc
  src/ray/rpc/metrics_agent_client.h
  src/ray/rpc/tests/metrics_agent_client_test.cc
Due: check-cpp-files-inclusion

[Core] Add Auth to Dashboard http agent + client (#59891)
  python/ray/dashboard/http_server_agent.py
  python/ray/dashboard/modules/event/event_agent.py
  python/ray/dashboard/modules/job/job_head.py
  python/ray/tests/test_token_auth_integration.py
  python/ray/util/state/state_manager.py
Due: docstyle, check-import-order

update standardscaler
  python/ray/data/preprocessors/scaler.py
Due: docstyle, check-import-order

[Serve][LLM] Make PrefixCacheAwareRouter imbalance threshold less surprising (#59390)
  doc/source/serve/llm/user-guides/prefix-aware-routing.md
  python/ray/llm/_internal/serve/routing_policies/prefix_aware/prefix_aware_router.py
  python/ray/llm/tests/serve/cpu/deployments/test_prefix_aware_request_router.py
Due: docstyle, check-import-order

fix
  python/ray/data/_internal/execution/bundle_queue/bundler.py
  python/ray/data/_internal/execution/operators/actor_pool_map_operator.py
  python/ray/data/_internal/execution/operators/map_operator.py
Due: docstyle, check-import-order

case for list
  python/ray/data/_internal/issue_detection/detectors/hanging_detector.py
Due: docstyle, check-import-order

[Train] Add TPU multi-slice support to JaxTrainer (#58629)
  doc/source/ray-core/api/utility.rst
  python/ray/tests/test_tpu.py
  python/ray/train/v2/_internal/callbacks/__init__.py
  python/ray/train/v2/_internal/callbacks/tpu_reservation_callback.py
  python/ray/train/v2/_internal/execution/controller/controller.py
  python/ray/train/v2/_internal/execution/worker_group/state.py
  python/ray/train/v2/_internal/execution/worker_group/worker_group.py
  python/ray/train/v2/api/config.py
  python/ray/train/v2/api/data_parallel_trainer.py
  python/ray/train/v2/jax/config.py
  python/ray/train/v2/jax/jax_trainer.py
  python/ray/train/v2/tests/test_config.py
  python/ray/train/v2/tests/test_jax_trainer.py
  python/ray/util/tpu.py
Due: docstyle, check-import-order, check-train-circular-imports

Fix None check for fallback strategy
  python/ray/serve/_private/deployment_scheduler.py
Due: docstyle, check-import-order

increase timeout for doctest[rllib2] to eternal
  doc/BUILD.bazel
  rllib/examples/ray_serve/ray_serve_with_rllib.py
Due: docstyle, check-import-order

[Data] - Add tests for fast_producer -> slow_consumer for backpressure policy (#59803)
  python/ray/data/tests/test_downstream_capacity_backpressure_policy.py
Due: docstyle, check-import-order

updating shape
  rllib/models/tf/misc.py
  rllib/utils/tf_utils.py
Due: docstyle, check-import-order

[llm][batch] Add bundle_per_worker config for simpler placement group setup
  python/ray/llm/_internal/batch/processor/vllm_engine_proc.py
  python/ray/llm/_internal/batch/stages/vllm_engine_stage.py
  python/ray/llm/tests/batch/gpu/processor/test_vllm_engine_proc.py
Due: docstyle, check-import-order

[llm][serve] Add bundle_per_worker config for Ray Serve LLM
  doc/source/serve/doc_code/cross_node_parallelism_example.py
  doc/source/serve/llm/user-guides/cross-node-parallelism.md
  python/ray/llm/_internal/serve/core/configs/llm_config.py
  python/ray/llm/_internal/serve/engines/vllm/vllm_models.py
  python/ray/llm/tests/serve/cpu/configs/test_multi_node_placement_groups.py
Due: docstyle, check-import-order

[3/n] catalog ray serve env vars (#59647)
  doc/source/serve/advanced-guides/performance.md
  doc/source/serve/monitoring.md
  doc/source/serve/production-guide/config.md
  doc/source/serve/production-guide/fault-tolerance.md
  python/ray/serve/_private/constants.py
  python/ray/serve/_private/constants_utils.py
  python/ray/serve/_private/deployment_state.py
Due: docstyle, check-import-order

[core][rdt] Support out-of-order actors by extracting metadata when creating (#59610)
  doc/source/ray-core/api/exceptions.rst
  python/ray/_private/serialization.py
  python/ray/_raylet.pyx
  python/ray/actor.py
  python/ray/exceptions.py
  python/ray/experimental/gpu_object_manager/gpu_object_manager.py
  python/ray/experimental/gpu_object_manager/gpu_object_store.py
  python/ray/experimental/gpu_object_manager/nixl_tensor_transport.py
  python/ray/includes/common.pxd
  python/ray/includes/libcoreworker.pxd
  python/ray/tests/gpu_objects/test_gpu_objects_gloo.py
  python/ray/tests/gpu_objects/test_gpu_objects_nixl.py
  src/ray/common/ray_object.h
  src/ray/core_worker/BUILD.bazel
  src/ray/core_worker/common.cc
  src/ray/core_worker/core_worker_options.h
  src/ray/core_worker/core_worker_process.cc
  src/ray/core_worker/task_manager.cc
  src/ray/core_worker/task_manager.h
  src/ray/core_worker/task_manager_interface.h
  src/ray/core_worker/tests/core_worker_test.cc
  src/ray/core_worker/tests/task_manager_test.cc
  src/ray/protobuf/common.proto
Due: docstyle, check-import-order, check-cpp-files-inclusion

Update ci/raydepsets/parser.py
  ci/raydepsets/parser.py
Due: docstyle, check-import-order

add wheel build to release
  .buildkite/release/build.rayci.yml
Due: none

using re.search for efficiency
  ci/raydepsets/parser.py
  ci/raydepsets/tests/test_parser.py
Due: docstyle, check-import-order

dont push for PRs
  .buildkite/release/build.rayci.yml
  ci/ray_ci/automation/push_anyscale_image.py
Due: docstyle, check-import-order

[Data] - Use plain instead of grid for OpMetrics
  python/ray/data/_internal/execution/streaming_executor.py
  python/ray/data/tests/test_streaming_executor.py
Due: docstyle, check-import-order

aarch64
  .buildkite/linux_aarch64.rayci.yml
  ci/ray_ci/automation/push_anyscale_image.py
  ci/ray_ci/automation/push_ray_image.py
Due: docstyle, check-import-order

[llm] Nest bundle_per_worker inside placement_group_config
  doc/source/serve/doc_code/cross_node_parallelism_example.py
  doc/source/serve/llm/user-guides/cross-node-parallelism.md
  python/ray/llm/_internal/batch/processor/vllm_engine_proc.py
  python/ray/llm/_internal/batch/stages/vllm_engine_stage.py
  python/ray/llm/_internal/serve/core/configs/llm_config.py
  python/ray/llm/_internal/serve/engines/vllm/vllm_models.py
  python/ray/llm/tests/batch/gpu/processor/test_vllm_engine_proc.py
  python/ray/llm/tests/serve/cpu/configs/test_multi_node_placement_groups.py
Due: docstyle, check-import-order

updating doc string
  ci/raydepsets/dependency_graph.py
Due: docstyle, check-import-order

[CI] Add docstrings to raydepsets CLI functions
  ci/raydepsets/cli.py
Due: docstyle, check-import-order

still push in release test
  .buildkite/build.rayci.yml
  .buildkite/linux_aarch64.rayci.yml
  .buildkite/release/build.rayci.yml
  ci/docker/ray-extra-image-cpu.wanda.yaml
  ci/docker/ray-extra-image-cuda.wanda.yaml
  ci/docker/ray-llm-extra-image-cuda.wanda.yaml
  ci/docker/ray-llm-image-cuda.wanda.yaml
  ci/ray_ci/automation/push_anyscale_image.py
  ci/ray_ci/automation/push_ray_image.py
Due: docstyle, check-import-order

add ci init
  ci/ray_ci/automation/push_anyscale_image.py
Due: docstyle, check-import-order

[Core] Support `ALL` in exposable event config (#59878)
  python/ray/dashboard/modules/aggregator/publisher/async_publisher_client.py
  python/ray/dashboard/modules/aggregator/publisher/configs.py
  python/ray/dashboard/modules/aggregator/tests/test_aggregator_agent.py
Due: docstyle, check-import-order

[core] Enable aggregator mode in state API and task event tests (#59784)
  python/ray/autoscaler/v2/tests/test_node_provider.py
  python/ray/tests/BUILD.bazel
  python/ray/tests/conftest.py
  python/ray/tests/test_state_api.py
  python/ray/tests/test_state_api_2.py
  python/ray/tests/test_state_api_summary.py
  python/ray/tests/test_task_events.py
  python/ray/tests/test_task_events_2.py
  python/ray/tests/test_task_events_3.py
Due: docstyle, check-import-order

no skip upload for release test
  ci/ray_ci/automation/push_anyscale_image.py
Due: docstyle, check-import-order

upload wheel-cpp
  .buildkite/build.rayci.yml
  .buildkite/linux_aarch64.rayci.yml
Due: none

[deps][llm] vLLM 0.13.0 (#59440)
  docker/base-extra/requirements.in
  python/deplocks/base_extra/ray_base_extra_py3.10.lock
  python/deplocks/base_extra/ray_base_extra_py3.11.lock
  python/deplocks/base_extra/ray_base_extra_py3.12.lock
  python/deplocks/llm/ray_py311_cpu.lock
  python/deplocks/llm/ray_py311_cu128.lock
  python/deplocks/llm/ray_test_py311_cpu.lock
  python/deplocks/llm/ray_test_py311_cu128.lock
  python/deplocks/llm/rayllm_py311_cpu.lock
  python/deplocks/llm/rayllm_py311_cu128.lock
  python/deplocks/llm/rayllm_subset_py311_cu128.lock
  python/deplocks/llm/rayllm_test_py311_cpu.lock
  python/deplocks/llm/rayllm_test_py311_cu128.lock
  python/deplocks/ray_img/ray_img_py310.lock
  python/deplocks/ray_img/ray_img_py311.lock
  python/deplocks/ray_img/ray_img_py312.lock
  python/ray/llm/_internal/batch/processor/vllm_engine_proc.py
  python/ray/llm/_internal/batch/stages/prepare_multimodal_stage.py
  python/ray/llm/_internal/batch/stages/sglang_engine_stage.py
  python/ray/llm/_internal/batch/stages/vllm_engine_stage.py
  python/ray/llm/tests/batch/gpu/processor/test_vllm_engine_proc.py
  python/ray/llm/tests/batch/gpu/stages/test_vllm_engine_stage.py
  python/requirements/cloud-requirements.txt
  python/requirements/llm/llm-requirements.txt
  python/requirements/ml/tune-test-requirements.txt
  python/requirements/test-requirements.txt
  python/requirements_compiled.txt
  python/setup.py
  release/llm_tests/batch/test_batch_vllm.py
  release/ray_release/byod/ray_base_extra_testdeps_cuda_py3.10.lock
  release/ray_release/byod/ray_base_extra_testdeps_cuda_py3.11.lock
  release/ray_release/byod/ray_base_extra_testdeps_cuda_py3.12.lock
  release/ray_release/byod/ray_base_extra_testdeps_gpu_py3.10.lock
  release/ray_release/byod/ray_base_extra_testdeps_py3.10.lock
  release/ray_release/byod/ray_base_extra_testdeps_py3.11.lock
  release/ray_release/byod/ray_base_extra_testdeps_py3.12.lock
  release/ray_release/byod/ray_ml_base_extra_testdeps_cuda_py3.10.lock
  release/ray_release/byod/ray_ml_base_extra_testdeps_py3.10.lock
Due: docstyle, check-import-order

[release test] use `AnyscaleJobRunner` in testing (#59858)
  release/ray_release/tests/test_glue.py
Due: docstyle, check-import-order

pass bundle_label_selector through config override path
  python/ray/serve/_private/application_state.py
  python/ray/serve/tests/unit/test_application_state.py
Due: docstyle, check-import-order

Update python/ray/serve/schema.py
  python/ray/serve/schema.py
Due: docstyle, check-import-order

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
