Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)

[Data] arrow-rs reader: fix pyrefly type-check errors
  ci/lint/pyrefly-excluded-files.txt
  pyrefly.toml
  python/ray/data/_internal/datasource_v2/native_metadata.py
  python/ray/data/_internal/datasource_v2/readers/arrow_rs_parquet_file_reader.py
Due: docstyle, check-import-order

[Data] arrow-rs: page-align S3 fetch windows, fix wide-schema re-decode
  python/ray/data/_internal/datasource_v2/native/ray_data_arrow_rs/src/lib.rs
Due: none

[Data] TESTING (revert before PR): run arrow-rs reader across data release suite
  python/ray/data/_internal/datasource_v2/readers/arrow_rs_parquet_file_reader.py
  python/ray/data/_internal/datasource_v2/scanners/parquet_scanner.py
  python/ray/data/context.py
  release/ray_release/byod/byod_arrow_rs_parquet.sh
  release/release_data_tests.yaml
Due: docstyle, check-import-order

[Data] Unify arrow-rs S3 read paths under one budget-gated prefetch driver
  python/ray/data/_internal/datasource_v2/native/ray_data_arrow_rs/Cargo.lock
  python/ray/data/_internal/datasource_v2/native/ray_data_arrow_rs/src/lib.rs
  python/ray/data/_internal/datasource_v2/readers/arrow_rs_parquet_file_reader.py
  python/ray/data/_internal/datasource_v2/readers/parquet_file_reader.py
  python/ray/data/tests/datasource/test_arrow_rs_parquet_reader.py
Due: docstyle, check-import-order

[Data] release benchmark: log per-operator time / output bytes / decode USS
  release/nightly_tests/dataset/benchmark.py
  release/nightly_tests/dataset/read_and_consume_benchmark.py
Due: docstyle, check-import-order

[Data] arrow-rs Parquet reader: address review + fix import ordering
  python/ray/data/_internal/datasource_v2/native/ray_data_arrow_rs/src/lib.rs
  python/ray/data/_internal/datasource_v2/native/ray_data_arrow_rs/src/predicate.rs
  python/ray/data/_internal/datasource_v2/native_metadata.py
  python/ray/data/_internal/datasource_v2/readers/arrow_rs_parquet_file_reader.py
  python/ray/data/_internal/datasource_v2/readers/parquet_file_reader.py
  python/ray/data/tests/datasource/test_arrow_rs_parquet_reader.py
Due: docstyle, check-import-order

[Data] TESTING (revert before PR): one-shot setup.sh for arrow-rs S3 probe
  release/nightly_tests/dataset/arrow_rs_probe/setup.sh
Due: none

[Data] Add flag-gated arrow-rs Parquet reader for DataSource V2
  python/ray/data/_internal/datasource_v2/native/ray_data_arrow_rs/.gitignore
  python/ray/data/_internal/datasource_v2/native/ray_data_arrow_rs/Cargo.lock
  python/ray/data/_internal/datasource_v2/native/ray_data_arrow_rs/Cargo.toml
  python/ray/data/_internal/datasource_v2/native/ray_data_arrow_rs/README.md
  python/ray/data/_internal/datasource_v2/native/ray_data_arrow_rs/pyproject.toml
  python/ray/data/_internal/datasource_v2/native/ray_data_arrow_rs/src/lib.rs
  python/ray/data/_internal/datasource_v2/native/ray_data_arrow_rs/src/predicate.rs
  python/ray/data/_internal/datasource_v2/native_metadata.py
  python/ray/data/_internal/datasource_v2/readers/arrow_rs_parquet_file_reader.py
  python/ray/data/_internal/datasource_v2/readers/file_reader.py
  python/ray/data/_internal/datasource_v2/scanners/parquet_scanner.py
  python/ray/data/context.py
  python/ray/data/tests/datasource/test_arrow_rs_parquet_reader.py
Due: docstyle, check-import-order

[Data] arrow-rs: fix two reader defaults that measured worse than their alternatives
  python/ray/data/_internal/datasource_v2/native/ray_data_arrow_rs/dist/ray_data_arrow_rs-0.1.0-cp39-abi3-macosx_11_0_arm64.whl
  python/ray/data/_internal/datasource_v2/readers/arrow_rs_parquet_file_reader.py
  python/ray/data/_internal/datasource_v2/readers/file_reader.py
  python/ray/data/tests/datasource/test_arrow_rs_parquet_reader.py
Due: docstyle, check-import-order

[Data] arrow-rs: the decode budget is a throughput knob, not a memory one
  python/ray/data/_internal/datasource_v2/native/ray_data_arrow_rs/.gitignore
  python/ray/data/_internal/datasource_v2/native/ray_data_arrow_rs/dist/ray_data_arrow_rs-0.1.0-cp39-abi3-macosx_11_0_arm64.whl
  python/ray/data/_internal/datasource_v2/readers/arrow_rs_parquet_file_reader.py
Due: docstyle, check-import-order

[Data] arrow-rs: port the reader onto footer-based row-group chunking
  python/ray/data/_internal/datasource_v2/native_metadata.py
  python/ray/data/_internal/datasource_v2/readers/arrow_rs_parquet_file_reader.py
  python/ray/data/tests/datasource/test_arrow_rs_parquet_reader.py
Due: docstyle, check-import-order

[Data] Surface per-task max USS/RSS in op metrics and release benchmarks
  python/ray/data/_internal/execution/interfaces/op_runtime_metrics.py
  python/ray/data/_internal/execution/operators/map_operator.py
  python/ray/data/_internal/util.py
  python/ray/data/block.py
  python/ray/data/tests/test_stats.py
  release/nightly_tests/dataset/benchmark.py
  release/nightly_tests/dataset/read_from_uris_benchmark.py
  release/nightly_tests/dataset/wide_schema_pipeline_benchmark.py
Due: docstyle, check-import-order

[Data] Vectorize aggregation v2 (#64956)
  ci/lint/pyrefly-excluded-files.txt
  python/ray/data/_internal/arrow_aggregation.py
  python/ray/data/_internal/execution/operators/hash_aggregate_v2.py
  python/ray/data/_internal/execution/operators/shuffle_operators/shuffle_tasks.py
  python/ray/data/_internal/planner/exchange/aggregate_task_spec.py
  python/ray/data/aggregate.py
  python/ray/data/block.py
Due: docstyle, check-import-order

[Cherry-pick][Data] Fail execution if no operator makes progress within a timeout (#65349)
  python/ray/data/BUILD.bazel
  python/ray/data/_internal/execution/no_progress_guard.py
  python/ray/data/_internal/execution/streaming_executor.py
  python/ray/data/context.py
  python/ray/data/exceptions.py
  python/ray/data/tests/test_no_progress_guard.py
  python/ray/data/tests/unit/test_no_progress_guard.py
Due: docstyle, check-import-order

[Data] Add support for reading ORC files (#64600)
  .vale/styles/config/vocabularies/Data/accept.txt
  doc/source/data/api/loading_data.rst
  python/ray/data/BUILD.bazel
  python/ray/data/__init__.py
  python/ray/data/_internal/datasource/orc_datasource.py
  python/ray/data/datasource/file_based_datasource.py
  python/ray/data/read_api.py
  python/ray/data/tests/datasource/test_orc.py
Due: docstyle, check-import-order

[core][taskEvents out of GCS][4/n] Notify task events head on worker death and job finished (#65057)
  python/ray/_private/gcs_pubsub.py
  python/ray/dashboard/consts.py
  python/ray/dashboard/head.py
  python/ray/dashboard/modules/aggregator/aggregator_agent.py
  python/ray/dashboard/modules/aggregator/publisher/async_publisher_client.py
  python/ray/dashboard/modules/aggregator/publisher/authenticated_http_client.py
  python/ray/dashboard/modules/aggregator/task_events_metadata_buffer.py
  python/ray/dashboard/modules/task_events/task_events_head.py
  python/ray/dashboard/modules/task_events/tests/test_task_events_head.py
  python/ray/dashboard/modules/task_events/tests/test_task_events_head_integration.py
  python/ray/dashboard/subprocesses/module.py
  python/ray/dashboard/tests/test_dashboard.py
  python/ray/tests/resource_isolation/test_resource_isolation_integration.py
Due: docstyle, check-import-order

[cherry-pick][2.58.0][core][taskEvents out of GCS][4/n] Notify task events head on worker death and job finished (#65057) (#65353)
  python/ray/_private/gcs_pubsub.py
  python/ray/dashboard/consts.py
  python/ray/dashboard/head.py
  python/ray/dashboard/modules/aggregator/aggregator_agent.py
  python/ray/dashboard/modules/aggregator/publisher/async_publisher_client.py
  python/ray/dashboard/modules/aggregator/publisher/authenticated_http_client.py
  python/ray/dashboard/modules/aggregator/task_events_metadata_buffer.py
  python/ray/dashboard/modules/task_events/task_events_head.py
  python/ray/dashboard/modules/task_events/tests/test_task_events_head.py
  python/ray/dashboard/modules/task_events/tests/test_task_events_head_integration.py
  python/ray/dashboard/subprocesses/module.py
  python/ray/dashboard/tests/test_dashboard.py
  python/ray/tests/resource_isolation/test_resource_isolation_integration.py
Due: docstyle, check-import-order

[core][taskEvents out of GCS][5/n] In-memory task event store implementation on task events head (#65123)
  python/ray/dashboard/modules/task_events/gc_policy.py
  python/ray/dashboard/modules/task_events/ray_event_converter.py
  python/ray/dashboard/modules/task_events/task_event_storage.py
  python/ray/dashboard/modules/task_events/task_events_head.py
  python/ray/dashboard/modules/task_events/tests/test_gc_policy.py
  python/ray/dashboard/modules/task_events/tests/test_ray_event_converter.py
  python/ray/dashboard/modules/task_events/tests/test_task_event_storage.py
  python/ray/dashboard/modules/task_events/tests/test_task_events_head.py
  python/ray/includes/ray_config.pxd
  python/ray/includes/ray_config.pxi
  src/ray/common/ray_config_def.h
Due: docstyle, check-import-order, check-cpp-files-inclusion

[cherry-pick][2.58.0][core][taskEvents out of GCS][5/n] In-memory task event store implementation on task events head (#65123) (#65354)
  python/ray/dashboard/modules/task_events/gc_policy.py
  python/ray/dashboard/modules/task_events/ray_event_converter.py
  python/ray/dashboard/modules/task_events/task_event_storage.py
  python/ray/dashboard/modules/task_events/task_events_head.py
  python/ray/dashboard/modules/task_events/tests/test_gc_policy.py
  python/ray/dashboard/modules/task_events/tests/test_ray_event_converter.py
  python/ray/dashboard/modules/task_events/tests/test_task_event_storage.py
  python/ray/dashboard/modules/task_events/tests/test_task_events_head.py
  python/ray/includes/ray_config.pxd
  python/ray/includes/ray_config.pxi
  src/ray/common/ray_config_def.h
Due: docstyle, check-import-order, check-cpp-files-inclusion

[core][taskEvents out of GCS][6/n] Reconcile task states on worker death and job notifications (#65141)
  python/ray/dashboard/modules/task_events/task_event_manager.py
  python/ray/dashboard/modules/task_events/task_event_query.py
  python/ray/dashboard/modules/task_events/task_event_storage.py
  python/ray/dashboard/modules/task_events/task_events_head.py
  python/ray/dashboard/modules/task_events/tests/test_task_event_manager.py
  python/ray/dashboard/modules/task_events/tests/test_task_event_query.py
  python/ray/dashboard/modules/task_events/tests/test_task_event_storage.py
  python/ray/dashboard/modules/task_events/tests/test_task_events_head.py
  python/ray/dashboard/modules/task_events/tests/test_task_events_head_integration.py
  python/ray/includes/ray_config.pxd
  python/ray/includes/ray_config.pxi
Due: docstyle, check-import-order

[cherry-pick][2.58.0][core][taskEvents out of GCS][6/n] Reconcile task states on worker death and job notifications (#65141) (#65355)
  python/ray/dashboard/modules/task_events/task_event_manager.py
  python/ray/dashboard/modules/task_events/task_event_query.py
  python/ray/dashboard/modules/task_events/task_event_storage.py
  python/ray/dashboard/modules/task_events/task_events_head.py
  python/ray/dashboard/modules/task_events/tests/test_task_event_manager.py
  python/ray/dashboard/modules/task_events/tests/test_task_event_query.py
  python/ray/dashboard/modules/task_events/tests/test_task_event_storage.py
  python/ray/dashboard/modules/task_events/tests/test_task_events_head.py
  python/ray/dashboard/modules/task_events/tests/test_task_events_head_integration.py
  python/ray/includes/ray_config.pxd
  python/ray/includes/ray_config.pxi
Due: docstyle, check-import-order

wip
  python/ray/llm/_internal/serve/__init__.py
  python/ray/llm/_internal/serve/core/ingress/builder.py
  python/ray/llm/_internal/serve/core/ingress/router.py
  python/ray/llm/_internal/serve/engines/vllm/kv_transfer/base.py
  python/ray/llm/_internal/serve/engines/vllm/vllm_engine.py
  python/ray/llm/_internal/serve/routing_policies/kv_aware/kv_aware_router.py
  python/ray/llm/_internal/serve/routing_policies/kv_aware/kv_token_tracker.py
  python/ray/llm/_internal/serve/routing_policies/kv_aware/pd_router.py
  python/ray/llm/_internal/serve/routing_policies/kv_aware/utils.py
  python/ray/llm/_internal/serve/routing_policies/kv_aware/vllm/kv_events.py
  python/ray/llm/_internal/serve/routing_policies/kv_aware/vllm/token_tracking.py
  python/ray/llm/_internal/serve/serving_patterns/prefill_decode/builder.py
  python/ray/llm/_internal/serve/serving_patterns/prefill_decode/pd_server.py
  python/ray/llm/tests/serve/cpu/deployments/llm/vllm/kv_transfer_backends/test_pd_protocol.py
  python/ray/llm/tests/serve/cpu/deployments/prefill_decode_disagg/test_prefill_decode_disagg.py
  python/ray/llm/tests/serve/cpu/deployments/routers/kv/test_kv_events.py
  python/ray/llm/tests/serve/cpu/deployments/routers/kv/test_pd_router.py
  python/ray/llm/tests/serve/cpu/deployments/routers/test_builder_ingress.py
  python/ray/llm/tests/serve/gpu/deployments/llm/prefill_decode_disagg/test_prefill_decode_disagg_gpu.py
  python/ray/serve/_private/router.py
  python/ray/serve/tests/unit/test_router.py
Due: docstyle, check-import-order

authorization headers should be unredirected
  python/ray/experimental/sandbox/_internal/image_utils.py
Due: docstyle, check-import-order

[Docs] Support rollback in zero-downtime incremental upgrade (#65249)
  doc/source/cluster/kubernetes/user-guides/rayservice-incremental-upgrade.md
Due: none

[llm][ci] Hold NCCL override across vLLM EP scripts so DeepEP V2 builds
  docker/ray-llm/Dockerfile
  docker/ray-llm/cuda.wanda.yaml
  python/requirements/llm/nccl_overrides.txt
Due: none

[core][taskEvents out of GCS][8/n] Reroute state head to task events head for state APIs. (#65160)
  python/ray/_private/state_api_test_utils.py
  python/ray/dashboard/modules/reporter/reporter_head.py
  python/ray/dashboard/modules/state/state_head.py
  python/ray/tests/test_state_api_data_source_client_get.py
  python/ray/util/state/state_manager.py
Due: docstyle, check-import-order

[cherry-pick][2.58.0][core][taskEvents out of GCS][8/n] Reroute state head to task events head for state APIs. (#65160) (#65357)
  python/ray/_private/state_api_test_utils.py
  python/ray/dashboard/modules/reporter/reporter_head.py
  python/ray/dashboard/modules/state/state_head.py
  python/ray/tests/test_state_api_data_source_client_get.py
  python/ray/util/state/state_manager.py
Due: docstyle, check-import-order

[core][taskEvents out of GCS][9/n] Reroute ray.timeline to task events head (#65218)
  python/ray/_private/state.py
  python/ray/tests/test_state_api_2.py
Due: docstyle, check-import-order

[cherry-pick][2.58.0][core][taskEvents out of GCS][9/n] Reroute ray.timeline to task events head (#65218) (#65358)
  python/ray/_private/state.py
  python/ray/tests/test_state_api_2.py
Due: docstyle, check-import-order

[core][taskEvents out of GCS][2.5/n] Optimize ray task event recorder (#65288)
  src/ray/core_worker/BUILD.bazel
  src/ray/core_worker/task_event_buffer.cc
  src/ray/core_worker/task_event_buffer.h
  src/ray/core_worker/tests/task_event_buffer_test.cc
  src/ray/observability/BUILD.bazel
  src/ray/observability/ray_actor_task_definition_event.cc
  src/ray/observability/ray_actor_task_definition_event.h
  src/ray/observability/ray_event_recorder_base.cc
  src/ray/observability/ray_event_recorder_base.h
  src/ray/observability/ray_task_definition_event.cc
  src/ray/observability/ray_task_definition_event.h
  src/ray/observability/ray_task_event_recorder.cc
  src/ray/observability/ray_task_event_recorder.h
  src/ray/observability/ray_task_lifecycle_event.cc
  src/ray/observability/ray_task_lifecycle_event.h
  src/ray/observability/task_event_populators.cc
  src/ray/observability/task_event_populators.h
  src/ray/observability/task_state_update.h
  src/ray/observability/tests/BUILD.bazel
  src/ray/observability/tests/ray_actor_task_definition_event_test.cc
  src/ray/observability/tests/ray_task_definition_event_test.cc
  src/ray/observability/tests/ray_task_lifecycle_event_test.cc
Due: check-cpp-files-inclusion

[cherry-pick][2.58.0][core][taskEvents out of GCS][2.5/n] Optimize ray task event recorder (#65288) (#65359)
  src/ray/core_worker/BUILD.bazel
  src/ray/core_worker/task_event_buffer.cc
  src/ray/core_worker/task_event_buffer.h
  src/ray/core_worker/tests/task_event_buffer_test.cc
  src/ray/observability/BUILD.bazel
  src/ray/observability/ray_actor_task_definition_event.cc
  src/ray/observability/ray_actor_task_definition_event.h
  src/ray/observability/ray_event_recorder_base.cc
  src/ray/observability/ray_event_recorder_base.h
  src/ray/observability/ray_task_definition_event.cc
  src/ray/observability/ray_task_definition_event.h
  src/ray/observability/ray_task_event_recorder.cc
  src/ray/observability/ray_task_event_recorder.h
  src/ray/observability/ray_task_lifecycle_event.cc
  src/ray/observability/ray_task_lifecycle_event.h
  src/ray/observability/task_event_populators.cc
  src/ray/observability/task_event_populators.h
  src/ray/observability/task_state_update.h
  src/ray/observability/tests/BUILD.bazel
  src/ray/observability/tests/ray_actor_task_definition_event_test.cc
  src/ray/observability/tests/ray_task_definition_event_test.cc
  src/ray/observability/tests/ray_task_lifecycle_event_test.cc
Due: check-cpp-files-inclusion

[core][taskEvents out of GCS][10/n] Fix bugs found after migration (#65247)
  python/ray/_private/state.py
  python/ray/dashboard/modules/aggregator/tests/test_aggregator_agent.py
  python/ray/dashboard/modules/task_events/ray_event_converter.py
  python/ray/tests/resource_isolation/test_resource_isolation_integration.py
  python/ray/tests/test_memory_pressure.py
  python/ray/tests/test_state_api.py
  python/ray/tests/test_state_api_data_source_client_get.py
  python/ray/tests/test_task_events_2.py
Due: docstyle, check-import-order

[cherry-pick][2.58.0][core][taskEvents out of GCS][10/n] Fix bugs found after migration (#65247) (#65360)
  python/ray/_private/state.py
  python/ray/dashboard/modules/aggregator/tests/test_aggregator_agent.py
  python/ray/dashboard/modules/task_events/ray_event_converter.py
  python/ray/tests/resource_isolation/test_resource_isolation_integration.py
  python/ray/tests/test_memory_pressure.py
  python/ray/tests/test_state_api.py
  python/ray/tests/test_state_api_data_source_client_get.py
  python/ray/tests/test_task_events_2.py
Due: docstyle, check-import-order

[Data] Vectorize aggregation v2 (#64956) (cherry-pick 2.58.0) (#65329)
  ci/lint/pyrefly-excluded-files.txt
  python/ray/data/_internal/arrow_aggregation.py
  python/ray/data/_internal/execution/operators/hash_aggregate_v2.py
  python/ray/data/_internal/execution/operators/shuffle_operators/shuffle_tasks.py
  python/ray/data/_internal/planner/exchange/aggregate_task_spec.py
  python/ray/data/aggregate.py
  python/ray/data/block.py
Due: docstyle, check-import-order

[Cherry-Pick][Data] Remove estimated_input_blocks as num partitions for shuffles #65296 (#65335)
  python/ray/data/_internal/planner/plan_all_to_all_op.py
Due: docstyle, check-import-order

fix: don't abandon the batch on a missing ID in RemoveSubmittedTaskReferences
  src/ray/core_worker/reference_counter.cc
Due: check-cpp-files-inclusion

[dashboard] Share HTTP header parsing across CLIs
  python/ray/dashboard/modules/job/cli.py
  python/ray/dashboard/modules/job/cli_utils.py
  python/ray/dashboard/modules/job/tests/test_cli.py
Due: docstyle, check-import-order

[state] Address review feedback
  python/ray/dashboard/modules/job/cli_utils.py
  python/ray/dashboard/modules/job/tests/test_cli.py
  python/ray/tests/test_state_api.py
  python/ray/util/state/api.py
Due: docstyle, check-import-order
