Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

update
  python/ray/data/examples/data/video_processing/README.md
  python/ray/data/examples/data/video_processing/envs.py
  python/ray/data/examples/data/video_processing/http_utils.py
  python/ray/data/examples/data/video_processing/main.py
  python/ray/data/examples/data/video_processing/tests/test_video_processor.py
  python/ray/data/examples/data/video_processing/video_processor.py
Due: none

Update Readme link
  doc/source/cluster/vms/user-guides/launching-clusters/vsphere.md
Due: none

Fix document link
  doc/source/cluster/vms/user-guides/launching-clusters/vsphere.md
Due: none

Fix documentation
  doc/source/cluster/vms/getting-started.rst
Due: none

Update getting started and set up document for ray on vsphere
  doc/source/cluster/vms/getting-started.rst
  doc/source/cluster/vms/user-guides/launching-clusters/vsphere.md
Due: none

Fix typo
  doc/source/cluster/vms/user-guides/launching-clusters/vsphere.md
Due: none

keep a map of timer by actor, handle actor restart and cancel timer when appropriate; update docs
  doc/source/ray-core/actors/terminating-actors.rst
  src/ray/gcs/gcs_actor_manager.cc
  src/ray/gcs/gcs_actor_manager.h
Due: check-cpp-files-inclusion

defer created_actors_ cleanup for grceful shutdown; fix doc lint
  doc/source/ray-core/actors/terminating-actors.rst
  src/ray/gcs/gcs_actor_manager.cc
Due: check-cpp-files-inclusion

[serve] Reduce number of tests
  python/ray/serve/_private/api.py
  python/ray/serve/tests/test_controller_crashes.py
Due: docstyle, check-import-order

[release auto] stop checking ray-ml image commits
  .buildkite/release-automation/pre_release.rayci.yml
Due: none

fixed workerID verification and infinite timeout case
  src/ray/gcs/gcs_actor_manager.cc
Due: check-cpp-files-inclusion

[release] Don't block release test run if AUTOMATIC is specified (#57157)
  release/ray_release/scripts/custom_image_build_and_test_init.py
  release/ray_release/tests/test_custom_image_build_and_test_init.py
Due: docstyle, check-import-order

PBT: do not allow nan scores
  python/ray/tune/schedulers/pbt.py
Due: docstyle, check-import-order

Add test for NaN scores
  python/ray/tune/tests/test_trial_scheduler_pbt.py
Due: docstyle, check-import-order

[Core] fixes but in get_cloud_from_metadata_requests where VMs running in Azure might report running in AWS
  python/ray/_common/tests/test_usage_stats.py
  python/ray/_common/usage/usage_lib.py
  python/ray/autoscaler/_private/_azure/node_provider.py
Due: docstyle, check-import-order

fix
  python/ray/data/examples/data/video_processing/README.md
  python/ray/data/examples/data/video_processing/envs.py
  python/ray/data/examples/data/video_processing/http_utils.py
  python/ray/data/examples/data/video_processing/main.py
  python/ray/data/examples/data/video_processing/video_processor.py
Due: none

correct trial naming
  python/ray/tune/tests/test_trial_scheduler_pbt.py
Due: docstyle, check-import-order

fixup DummyTrial usage
  python/ray/tune/tests/test_trial_scheduler_pbt.py
Due: docstyle, check-import-order

fix
  python/ray/data/examples/data/video_processing/http_utils.py
  python/ray/llm/_internal/batch/stages/prepare_image_stage.py
Due: docstyle, check-import-order

fixup config keyword
  python/ray/tune/tests/test_trial_scheduler_pbt.py
Due: docstyle, check-import-order

Update python/ray/tune/tests/test_trial_scheduler_pbt.py
  python/ray/tune/tests/test_trial_scheduler_pbt.py
Due: docstyle, check-import-order

PB2 add iter for PB2
  python/ray/tune/tests/test_trial_scheduler_pbt.py
Due: docstyle, check-import-order

[ci] mark java related tests with java tag
  .buildkite/build.rayci.yml
  .buildkite/core.rayci.yml
  .buildkite/linux_aarch64.rayci.yml
Due: none

[serve] Reduce number of tests
  python/ray/serve/api.py
Due: docstyle, check-import-order

[Core] Remove mpi runtime env plugin (#57143)
  ci/env/install-miniforge.sh
  ci/lint/pydoclint-baseline.txt
  python/ray/_private/runtime_env/agent/runtime_env_agent.py
  python/ray/_private/runtime_env/mpi.py
  python/ray/_private/runtime_env/mpi_runner.py
  python/ray/runtime_env/__init__.py
  python/ray/runtime_env/runtime_env.py
  python/ray/tests/BUILD.bazel
  python/ray/tests/test_mpi.py
Due: docstyle, check-import-order

Add tags to envrunner calls, count in flight requests by tag in actor manager
  rllib/env/env_runner_group.py
  rllib/env/tests/test_env_runner_group.py
Due: docstyle, check-import-order

nit
  rllib/algorithms/impala/impala.py
Due: docstyle, check-import-order

remove local env runner code
  rllib/env/env_runner_group.py
Due: docstyle, check-import-order

Make Algorithm + IMPALA use tags for all the foreach async calls and use foreach_env_runner_async_fetch_ready
  rllib/algorithms/algorithm.py
  rllib/algorithms/impala/impala.py
Due: docstyle, check-import-order

1 sec
  rllib/env/tests/test_env_runner_group.py
Due: docstyle, check-import-order

revert sync_env_runner_states changes
  rllib/env/env_runner_group.py
Due: docstyle, check-import-order

introduce fetch_ready to actor manager directly
  rllib/algorithms/algorithm.py
  rllib/env/env_runner_group.py
  rllib/utils/actor_manager.py
  rllib/utils/tests/test_actor_manager.py
Due: docstyle, check-import-order

move assertion inside of if func list statement
  rllib/utils/actor_manager.py
Due: docstyle, check-import-order

fix test
  rllib/utils/actor_manager.py
Due: docstyle, check-import-order

fix
  rllib/algorithms/algorithm.py
  rllib/algorithms/impala/impala.py
  rllib/env/env_runner_group.py
  rllib/utils/actor_manager.py
Due: docstyle, check-import-order

[ci] better logging groups on buildkite
  ci/ray_ci/tester.py
Due: docstyle, check-import-order

skip doctest for code snippet
  doc/source/ray-core/actors/terminating-actors.rst
Due: none

skipping standalone tests on win32 platform
  python/ray/serve/tests/test_standalone_3.py
Due: docstyle, check-import-order

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)
