Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

[Fix][Core/Runtime] Revert PR 48552 and add validation for conda env folder path (#52173)
  python/ray/_private/runtime_env/conda.py
  python/ray/_private/runtime_env/conda_utils.py
  python/ray/_private/runtime_env/validation.py
  python/ray/tests/test_runtime_env_conda_and_pip.py
Due: docstyle, check-import-order

[core] Use a signal actor instead of sleep to avoid flakiness in extreme cases (#52121)
  python/ray/tests/test_actor_failures.py
Due: docstyle, check-import-order

[core][refactor] Remove update_seqno (#52153)
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker.h
  src/ray/core_worker/task_manager.cc
  src/ray/core_worker/task_manager.h
  src/ray/core_worker/test/task_manager_test.cc
Due: check-cpp-files-inclusion

up
  python/ray/_private/log_monitor.py
  python/ray/_private/node.py
  python/ray/_private/runtime_env/agent/main.py
  python/ray/_private/runtime_env/agent/runtime_env_agent.py
  python/ray/_private/services.py
  python/ray/dashboard/agent.py
  python/ray/tests/test_logging.py
Due: docstyle, check-import-order

use large machine for debug build
  .buildkite/core.rayci.yml
  ci/ci.sh
Due: none

fix interleave placement group creation process due to node failure
  src/ray/gcs/gcs_server/gcs_placement_group_manager.cc
  src/ray/gcs/gcs_server/test/gcs_placement_group_manager_test.cc
Due: check-cpp-files-inclusion

fix
  python/ray/_private/runtime_env/agent/main.py
Due: docstyle, check-import-order

doctest
  python/ray/data/read_api.py
Due: docstyle, check-import-order

up
  doc/source/ray-observability/user-guides/configure-logging.md
Due: none

Update engine kwargs in lora instructions
  doc/source/serve/llm/serving-llms.rst
Due: none

Update serving-llms.rst
  doc/source/serve/llm/serving-llms.rst
Due: none

Update serving-llms.rst lora example
  doc/source/serve/llm/serving-llms.rst
Due: none

Apply buildifier
  src/ray/gcs/gcs_server/BUILD.bazel
Due: none

Add grpc code to the RpcError status ToString
  src/ray/common/status.cc
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/future_resolver.cc
  src/ray/core_worker/task_event_buffer.cc
  src/ray/gcs/gcs_client/accessor.cc
  src/ray/gcs/gcs_server/gcs_placement_group_manager.cc
  src/ray/object_manager/object_manager.cc
  src/ray/raylet/node_manager.cc
Due: check-cpp-files-inclusion

save
  python/ray/tests/test_placement_group_5.py
Due: docstyle, check-import-order

increase timeout and instance_type for debug wheel build
  .buildkite/build.rayci.yml
Due: none

[VirtualCluster] Remove specified nodes from a virtual cluster (#557)
  python/ray/dashboard/modules/virtual_cluster/tests/test_virtual_cluster.py
  python/ray/dashboard/modules/virtual_cluster/virtual_cluster_head.py
  src/ray/common/status.cc
  src/ray/common/status.h
  src/ray/gcs/gcs_server/gcs_virtual_cluster.cc
  src/ray/gcs/gcs_server/gcs_virtual_cluster.h
  src/ray/gcs/gcs_server/gcs_virtual_cluster_manager.cc
  src/ray/gcs/gcs_server/gcs_virtual_cluster_manager.h
  src/ray/protobuf/gcs_service.proto
  src/ray/rpc/gcs_server/gcs_rpc_client.h
  src/ray/rpc/gcs_server/gcs_rpc_server.h
Due: docstyle, check-import-order, check-cpp-files-inclusion

Remove json example from comment
  python/ray/scripts/scripts.py
Due: docstyle, check-import-order

remove unsupported timeout_in_minutes key
  .buildkite/build.rayci.yml
Due: none

fixes
  rllib/algorithms/algorithm.py
  rllib/algorithms/algorithm_config.py
  rllib/env/env_runner_group.py
Due: docstyle, check-import-order

[Feat][Core/Dashboard] Convert ServeHead to subprocess module
  python/ray/dashboard/modules/serve/serve_head.py
Due: docstyle, check-import-order

LINT
  rllib/algorithms/algorithm_config.py
Due: docstyle, check-import-order

wip
  rllib/algorithms/infinite_appo/infinite_appo.py
  rllib/algorithms/infinite_appo/infinite_appo_multi_agent_env_runner.py
  rllib/algorithms/infinite_appo/torch/infinite_appo_torch_learner.py
  rllib/algorithms/infinite_appo/utils.py
  rllib/tuned_examples/infinite_appo/multi_agent_cartpole_infinite_appo.py
Due: docstyle, check-import-order

LINT
  rllib/algorithms/algorithm_config.py
  rllib/env/env_runner_group.py
Due: docstyle, check-import-order

[Data] Add `InMemorySizeEstimator` (#1607)
  python/ray/anyscale/data/_internal/logical/operators/list_files_operator.py
  python/ray/anyscale/data/_internal/planner/plan_list_files_op.py
  python/ray/anyscale/data/_internal/readers/__init__.py
  python/ray/anyscale/data/_internal/readers/binary_reader.py
  python/ray/anyscale/data/_internal/readers/in_memory_size_estimator.py
  python/ray/anyscale/data/_internal/readers/parquet_reader.py
  python/ray/anyscale/data/api/read_api.py
  python/ray/anyscale/data/tests/test_partition_files.py
Due: docstyle, check-import-order

Pass down only stats, no values
  rllib/utils/metrics/metrics_logger.py
  rllib/utils/metrics/tests/test_metrics_logger.py
Due: docstyle, check-import-order

Merge branch 'master' of https://github.com/anyscale/rayturbo into infinite_appo_w_real_components
  python/ray/_private/runtime_env/conda.py
  python/ray/_private/runtime_env/conda_utils.py
  python/ray/_private/runtime_env/validation.py
  python/ray/tests/test_actor_failures.py
  python/ray/tests/test_runtime_env_conda_and_pip.py
  rllib/algorithms/infinite_appo/infinite_appo.py
  rllib/algorithms/infinite_appo/utils.py
  rllib/tuned_examples/infinite_appo/multi_agent_cartpole_infinite_appo.py
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker.h
  src/ray/core_worker/task_manager.cc
  src/ray/core_worker/task_manager.h
  src/ray/core_worker/test/task_manager_test.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

[Feat][Core/Dashboard] Add CPU and memory metrics for subprocesses
  python/ray/dashboard/consts.py
  python/ray/dashboard/dashboard_metrics.py
  python/ray/dashboard/head.py
  python/ray/tests/test_metrics_agent.py
Due: docstyle, check-import-order

fixes
  rllib/algorithms/algorithm.py
Due: docstyle, check-import-order

Fix deps
  BUILD.bazel
Due: none

[core] Place plasma bazel targets into separate directories
  BUILD.bazel
  bazel/ray.bzl
  src/ray/object_manager/plasma/BUILD.bazel
Due: none

Fix dep prefix
  BUILD.bazel
Due: none

Put tests in a seperate BUILD file
  bazel/ray.bzl
  src/ray/object_manager/plasma/BUILD.bazel
  src/ray/object_manager/plasma/test/BUILD.bazel
  src/ray/object_manager/plasma/test/mutable_object_test.cc
  src/ray/object_manager/plasma/test/object_lifecycle_manager_test.cc
Due: check-cpp-files-inclusion

Replace core_worker dep
  src/ray/object_manager/plasma/test/BUILD.bazel
Due: none

Fix stats lib path
  src/ray/object_manager/plasma/BUILD.bazel
Due: none

[Data] Optimize count pushdown rule (#1612)
  python/ray/anyscale/data/_internal/logical/rules/pushdown_count_files.py
  python/ray/anyscale/data/_internal/planner/plan_read_files_op.py
  python/ray/anyscale/data/_internal/readers/__init__.py
  python/ray/anyscale/data/_internal/readers/binary_reader.py
  python/ray/anyscale/data/_internal/readers/file_reader.py
  python/ray/anyscale/data/_internal/readers/image_reader.py
  python/ray/anyscale/data/_internal/readers/parquet_reader.py
  python/ray/anyscale/data/_internal/readers/supports_row_counting.py
Due: docstyle, check-import-order

[CI] fix build image in ci (#555)
  .github/workflows/ray-ci.yml
  ci/ray_ci/report_gen.py
  ci/ray_ci/tests.env.Dockerfile
Due: docstyle, check-import-order

[Core] Cover cpplint for ray/src/ray/common/asio
  src/ray/common/asio/asio_chaos.cc
  src/ray/common/asio/asio_util.h
  src/ray/common/asio/instrumented_io_context.cc
  src/ray/common/asio/instrumented_io_context.h
  src/ray/common/asio/io_service_pool.h
  src/ray/common/asio/periodical_runner.cc
  src/ray/common/asio/periodical_runner.h
  src/ray/common/asio/postable.h
Due: check-cpp-files-inclusion

[core][autoscaler] test providers exist with defaults
  python/ray/autoscaler/_private/providers.py
  python/ray/tests/BUILD
  python/ray/tests/autoscaler/test_providers.py
Due: docstyle, check-import-order

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)
