Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

Use abstrct class for Acclerator Runtime
  python/ray/dag/compiled_dag_node.py
  python/ray/dag/dag_operation_future.py
  python/ray/dag/tests/experimental/test_torch_tensor_dag.py
  python/ray/experimental/channel/torch_tensor_nccl_channel.py
  python/ray/experimental/channel/utils.py
Due: docstyle, check-import-order

fix typo
  python/ray/util/collective/collective.py
  python/ray/util/collective/collective_group/hccl_collective_group.py
Due: docstyle, check-import-order

[data] add fragment merge_column
  python/ray/data/_internal/datasource/lance_datasink.py
  python/ray/data/_internal/datasource/lance_datasource.py
  python/ray/data/dataset.py
  python/ray/data/read_api.py
  python/ray/data/tests/test_lance.py
Due: docstyle, check-import-order

Added @sven1977's review and fixed a bug in 'test_marwil'.
  rllib/algorithms/marwil/tests/test_marwil.py
  rllib/core/learner/learner.py
  rllib/offline/offline_data.py
  rllib/offline/offline_prelearner.py
  rllib/offline/utils.py
  rllib/tuned_examples/appo/cartpole_appo.py
  rllib/utils/__init__.py
  rllib/utils/test_utils.py
Due: docstyle, check-import-order

[core][1/N] Fix `KillActor` RPC for threaded actors (#51414)
  python/ray/dashboard/modules/snapshot/tests/test_actors.py
  src/ray/core_worker/core_worker.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

[core] Use async next for grpc server (#51378)
  src/ray/rpc/client_call.h
  src/ray/rpc/grpc_server.cc
  src/ray/rpc/grpc_server.h
Due: check-cpp-files-inclusion

Update rayservice-no-ray-serve-replica.md
  doc/source/cluster/kubernetes/user-guides/rayservice-no-ray-serve-replica.md
Due: none

Add environment variable support for Ray Data execution callbacks.
  python/ray/data/_internal/execution/execution_callback.py
  python/ray/data/tests/test_streaming_executor.py
Due: docstyle, check-import-order

[Feat][Core/Dashboard] Add SubprocessModules to the Dashboard routes, and convert HealthzHead (#51282)
  python/ray/_private/node.py
  python/ray/_private/usage/usage_lib.py
  python/ray/_private/utils.py
  python/ray/dashboard/dashboard.py
  python/ray/dashboard/head.py
  python/ray/dashboard/http_server_head.py
  python/ray/dashboard/modules/healthz/healthz_head.py
  python/ray/dashboard/subprocesses/handle.py
  python/ray/dashboard/subprocesses/module.py
  python/ray/dashboard/subprocesses/tests/test_e2e.py
  python/ray/dashboard/subprocesses/tests/utils.py
  python/ray/dashboard/subprocesses/utils.py
  python/ray/dashboard/tests/test_dashboard.py
  python/ray/tests/test_tempfile.py
Due: docstyle, check-import-order

move serve tests
  .buildkite/core.rayci.yml
  .buildkite/serve.rayci.yml
  ci/docker/runtime_env_image_uri/Dockerfile
  python/ray/serve/tests/BUILD
  python/ray/serve/tests/runtime_env_image_uri/test_serve_basic.py
  python/ray/serve/tests/runtime_env_image_uri/test_serve_telemetry.py
  python/ray/serve/tests/test_runtime_env_image_uri.py
  python/ray/tests/BUILD
  python/ray/tests/conftest_docker.py
  python/ray/tests/runtime_env_image_uri/test_job.py
  python/ray/tests/runtime_env_image_uri/test_log_file_exists.py
  python/ray/tests/runtime_env_image_uri/test_put_get.py
  python/ray/tests/runtime_env_image_uri/test_ray_env_vars.py
  python/ray/tests/runtime_env_image_uri/test_shared_memory.py
  python/ray/tests/runtime_env_image_uri/test_with_env_vars.py
  python/ray/tests/runtime_env_image_uri/test_worker_exit_intended_system_exit_and_user_error.py
  python/ray/tests/test_runtime_env_image_uri.py
Due: docstyle, check-import-order

update
  ci/docker/runtime_env_image_uri/core.Dockerfile
  ci/docker/runtime_env_image_uri/serve.Dockerfile
  python/ray/serve/tests/test_runtime_env_image_uri.py
Due: docstyle, check-import-order

[Data] Adding in metrics for number of actors alive, pending and restarting (#51082)
  python/ray/data/_internal/execution/interfaces/op_runtime_metrics.py
  python/ray/data/_internal/execution/interfaces/physical_operator.py
  python/ray/data/_internal/execution/operators/actor_pool_map_operator.py
  python/ray/data/_internal/execution/streaming_executor_state.py
  python/ray/data/tests/test_stats.py
Due: docstyle, check-import-order

revert commit
  python/setup.py
Due: docstyle, check-import-order

Update src/ray/gcs/gcs_server/gcs_autoscaler_state_manager.cc
  src/ray/gcs/gcs_server/gcs_autoscaler_state_manager.cc
Due: check-cpp-files-inclusion

Revert "[core] Don't build cpp api on pip install (#50499)" (#51450)
  python/setup.py
Due: docstyle, check-import-order

fix warning message
  src/ray/gcs/gcs_server/gcs_autoscaler_state_manager.cc
Due: check-cpp-files-inclusion

properly build cpp wheels
  python/setup.py
Due: docstyle, check-import-order

properly build cpp wheels (#51452)
  python/setup.py
Due: docstyle, check-import-order

add throughputs to steps metrics
  rllib/core/learner/learner.py
Due: docstyle, check-import-order

Add assertion error message
  python/ray/_private/accelerators/amd_gpu.py
Due: docstyle, check-import-order

[WIP] Cgroups in CI 1. Add support for privileged containers in linux_tester_container 2. Add cgroup bazel config for writable sandbox
  .bazelrc
  .buildkite/core.rayci.yml
  BUILD.bazel
  ci/ray_ci/linux_container.py
  ci/ray_ci/linux_tester_container.py
  ci/ray_ci/test_tester.py
  ci/ray_ci/tester.py
  ci/ray_ci/tester_container.py
  irabbani_shell_test.sh
Due: docstyle, check-import-order

Fix cpplint warnings and update precommit configuration file to include files under src/ray/core_worker/transport.
  .pre-commit-config.yaml
  src/ray/core_worker/transport/actor_scheduling_queue.cc
  src/ray/core_worker/transport/actor_scheduling_queue.h
  src/ray/core_worker/transport/actor_submit_queue.h
  src/ray/core_worker/transport/actor_task_submitter.cc
  src/ray/core_worker/transport/actor_task_submitter.h
  src/ray/core_worker/transport/concurrency_group_manager.cc
  src/ray/core_worker/transport/concurrency_group_manager.h
  src/ray/core_worker/transport/dependency_resolver.cc
  src/ray/core_worker/transport/dependency_resolver.h
  src/ray/core_worker/transport/normal_scheduling_queue.cc
  src/ray/core_worker/transport/normal_scheduling_queue.h
  src/ray/core_worker/transport/normal_task_submitter.cc
  src/ray/core_worker/transport/normal_task_submitter.h
  src/ray/core_worker/transport/out_of_order_actor_scheduling_queue.cc
  src/ray/core_worker/transport/out_of_order_actor_scheduling_queue.h
  src/ray/core_worker/transport/out_of_order_actor_submit_queue.cc
  src/ray/core_worker/transport/out_of_order_actor_submit_queue.h
  src/ray/core_worker/transport/scheduling_util.cc
  src/ray/core_worker/transport/scheduling_util.h
  src/ray/core_worker/transport/sequential_actor_submit_queue.cc
  src/ray/core_worker/transport/sequential_actor_submit_queue.h
  src/ray/core_worker/transport/task_receiver.cc
  src/ray/core_worker/transport/task_receiver.h
  src/ray/core_worker/transport/thread_pool.cc
  src/ray/core_worker/transport/thread_pool.h
Due: check-cpp-files-inclusion

[core] Unreverting commit to see if MacOS tests will pass
  python/ray/_private/numpy_serialization.py
  python/ray/tests/test_serialization.py
  python/ray/util/serialization_addons.py
Due: docstyle, check-import-order

Fix test failure
  python/ray/data/tests/test_stats.py
  release/nightly_tests/dataset/benchmark.py
  release/release_data_tests.yaml
Due: docstyle, check-import-order

fixies
  bazel/BUILD
  bazel/default_doctest_pytest_plugin.py
  bazel/python.bzl
  doc/BUILD
  python/ray/data/BUILD
  python/ray/data/tests/doctest_pytest_plugin.py
Due: docstyle, check-import-order

fixies
  python/ray/data/BUILD
Due: none

Fix lint clang_format error
  src/ray/core_worker/transport/actor_task_submitter.cc
  src/ray/core_worker/transport/concurrency_group_manager.cc
  src/ray/core_worker/transport/dependency_resolver.cc
  src/ray/core_worker/transport/out_of_order_actor_submit_queue.cc
  src/ray/core_worker/transport/sequential_actor_submit_queue.cc
  src/ray/core_worker/transport/task_receiver.cc
Due: check-cpp-files-inclusion

Remove comment
  python/ray/data/block.py
Due: docstyle, check-import-order

Fixing a minor bug. Adding some debugging log lines
  ci/ray_ci/linux_container.py
  ci/ray_ci/test_tester.py
  ci/ray_ci/tester.py
Due: docstyle, check-import-order

Fix release test
  release/release_data_tests.yaml
Due: none

Address review comments
  release/release_data_tests.yaml
Due: none

fixup
  python/ray/_private/log.py
  python/ray/_private/ray_logging/__init__.py
  python/ray/tests/test_usage_stats.py
Due: docstyle, check-import-order

use cord for cgraphs obj transfer
  src/ray/core_worker/experimental_mutable_object_provider.cc
  src/ray/protobuf/node_manager.proto
  src/ray/raylet_client/raylet_client.cc
Due: check-cpp-files-inclusion

fix
  python/ray/_private/log.py
  python/ray/_private/ray_logging/constants.py
  python/ray/_private/ray_logging/formatters.py
  python/ray/_private/ray_logging/handlers.py
Due: docstyle, check-import-order

fix
  python/ray/_private/ray_logging/handlers.py
Due: docstyle, check-import-order

fix
  python/ray/_private/log.py
Due: docstyle, check-import-order

init
  BUILD.bazel
  python/ray/_raylet.pyx
  python/ray/includes/libcoreworker.pxd
  python/ray/util/torch_collective_group.py
  src/ray/core_worker/collective_group_manager.h
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker.h
Due: docstyle, check-import-order, check-cpp-files-inclusion

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)
