Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)

[serve] Drop constants.py mypy workaround; fixed upstream in #64752
  python/ray/serve/_private/constants.py
Due: docstyle, check-import-order

[serve] Narrow RAY_SERVE_HAPROXY_CLOSE_SPREAD_TIME_S for mypy
  python/ray/serve/_private/constants.py
Due: docstyle, check-import-order

[serve] Make num_replicas per-node an internal flag (retire public API)
  python/ray/serve/_private/application_state.py
  python/ray/serve/_private/config.py
  python/ray/serve/api.py
  python/ray/serve/deployment.py
  python/ray/serve/schema.py
  python/ray/serve/tests/unit/test_application_state.py
  python/ray/serve/tests/unit/test_config.py
  python/ray/serve/tests/unit/test_schema.py
Due: docstyle, check-import-order

Patch RandombytesDataSource test
  python/ray/data/tests/test_dynamic_block_split.py
Due: docstyle, check-import-order

Deep-merge framework_config into the DeepSpeed config
  release/train_tests/benchmark/frameworks/deepspeed/adapter.py
Due: docstyle, check-import-order

Advance the DistributedSampler epoch when cycling the dataloader
  release/train_tests/benchmark/frameworks/deepspeed/adapter.py
Due: docstyle, check-import-order

Revert "[ci] Trigger wheel/aarch64 builds when the manylinux forge script changes"
  .buildkite/test.rules.test.txt
  .buildkite/test.rules.txt
Due: none

[serve] per-proxy-node placement: pin one replica to each proxy node
  python/ray/serve/_private/controller.py
  python/ray/serve/_private/deployment_scheduler.py
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/_private/test_utils.py
  python/ray/serve/tests/unit/test_deployment_state.py
Due: docstyle, check-import-order

[serve] Move Prometheus autoscaling to a policy-side mixin
  python/ray/llm/tests/serve/cpu/deployments/test_prometheus_autoscaling.py
  python/ray/serve/_private/autoscaling_state.py
  python/ray/serve/_private/config.py
  python/ray/serve/_private/constants.py
  python/ray/serve/_private/controller.py
  python/ray/serve/_private/prometheus_metrics.py
  python/ray/serve/autoscaling_policy.py
  python/ray/serve/config.py
  python/ray/serve/llm/autoscaling.py
  python/ray/serve/tests/BUILD.bazel
  python/ray/serve/tests/test_controller.py
  python/ray/serve/tests/test_deploy_2.py
  python/ray/serve/tests/test_deploy_app_2.py
  python/ray/serve/tests/test_direct_ingress.py
  python/ray/serve/tests/test_prometheus_autoscaling_metrics.py
  python/ray/serve/tests/unit/test_prometheus_query_mixin.py
  release/llm_tests/serve/test_llm_serve_integration.py
  src/ray/protobuf/serve.proto
Due: docstyle, check-import-order

[serve.llm] Scale the ingress router per proxy node via the internal flag
  python/ray/llm/_internal/serve/core/ingress/builder.py
  python/ray/llm/tests/serve/cpu/deployments/routers/test_builder_ingress.py
Due: docstyle, check-import-order

[serve] Prometheus autoscaling review cleanups
  python/ray/serve/autoscaling_policy.py
  python/ray/serve/tests/unit/test_prometheus_query_mixin.py
Due: docstyle, check-import-order

[Data] Add memory hint for reads to `image_embedding_from_jsonl` (#64717)
  release/nightly_tests/dataset/image_embedding_from_jsonl/main.py
Due: docstyle, check-import-order

[Data] Enable spilling and OOM check for remaining multimodal release tests (#64298)
  release/nightly_tests/multimodal_inference_benchmarks/audio_transcription/ray_data_main.py
  release/nightly_tests/multimodal_inference_benchmarks/video_object_detection/ray_data_main.py
  release/ray_release/command_runner/_anyscale_job_wrapper.py
  release/release_multimodal_inference_benchmarks_tests.yaml
Due: docstyle, check-import-order

[serve] Tighten Prometheus fetch: single catch, vector-only results
  python/ray/serve/autoscaling_policy.py
  python/ray/serve/tests/unit/test_prometheus_query_mixin.py
Due: docstyle, check-import-order

[serve.llm] SGLang direct streaming: expose /v1/models/{id} at vLLM parity
  python/ray/llm/_internal/serve/core/server/llm_server.py
  python/ray/llm/_internal/serve/engines/sglang/sglang_engine.py
  release/llm_tests/serve/test_llm_serve_sglang.py
  release/llm_tests/serve/test_utils.py
Due: docstyle, check-import-order

[serve] Key per-proxy-node placement off the ingress_request_router marker
  python/ray/serve/_private/config.py
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/tests/unit/test_config.py
  python/ray/serve/tests/unit/test_deployment_state.py
  src/ray/protobuf/serve.proto
Due: docstyle, check-import-order

[serve.llm] Drop the router scaling flag; placement follows the ingress marker
  python/ray/llm/_internal/serve/core/ingress/builder.py
  python/ray/llm/tests/serve/cpu/deployments/routers/test_builder_ingress.py
Due: docstyle, check-import-order

[doc] Repoint ASHA Tune example links to README (fixes docs build) (#64630)
  doc/source/conf.py
  doc/source/tune/examples/index.rst
  doc/source/tune/examples/tune-pytorch-cifar.ipynb
Due: none

Address comments
  python/ray/data/_internal/execution/backpressure_policy/downstream_capacity_backpressure_policy.py
  python/ray/data/_internal/execution/interfaces/physical_operator.py
  python/ray/data/_internal/execution/operators/shuffle_operators/shuffle_map_operator.py
  python/ray/data/_internal/execution/resource_manager.py
  python/ray/data/tests/test_resource_manager.py
  python/ray/data/tests/unit/test_resource_manager.py
Due: docstyle, check-import-order

[serve][llm] Friendlier TTFTAutoscalingPolicy: env address + model scoping
  python/ray/llm/tests/serve/cpu/deployments/test_prometheus_autoscaling.py
  python/ray/serve/autoscaling_policy.py
  python/ray/serve/llm/autoscaling.py
  python/ray/serve/tests/unit/test_prometheus_query_mixin.py
  release/llm_tests/serve/test_llm_serve_integration.py
Due: docstyle, check-import-order

Decrease 50000 config to 20000 due to oom
  release/benchmarks/object_store/test_callback_throughput.py
Due: docstyle, check-import-order

[to-review-in-detail] Fix bug in AbortCreateInternal - see if this is too surgical of a fix
  PLASMA_MOVE_SEMANTICS.md
  src/ray/object_manager/object_buffer_pool.cc
Due: check-cpp-files-inclusion

[serve] Fold the ingress-router placement into the normal scale path
  python/ray/serve/_private/deployment_scheduler.py
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/tests/unit/test_deployment_state.py
Due: docstyle, check-import-order

[serve.llm] re-sync sglang GPU-clear helper docstrings with #64611
  release/llm_tests/serve/test_llm_serve_sglang.py
  release/llm_tests/serve/test_utils.py
Due: docstyle, check-import-order

[serve] Restore master's update() step numbering
  python/ray/serve/_private/deployment_state.py
Due: docstyle, check-import-order

[serve.llm] Require model_id for TTFTAutoscalingPolicy and auto-fill from LLMConfig
  python/ray/llm/_internal/serve/core/server/llm_server.py
  python/ray/llm/tests/serve/cpu/deployments/test_prometheus_autoscaling.py
  python/ray/serve/llm/autoscaling.py
Due: docstyle, check-import-order

[serve.llm] Step TTFTAutoscalingPolicy off target_num_replicas
  python/ray/llm/tests/serve/cpu/deployments/test_prometheus_autoscaling.py
  python/ray/serve/llm/autoscaling.py
Due: docstyle, check-import-order

[serve.llm] Drop model_id auto-fill; keep it a required kwarg
  python/ray/llm/_internal/serve/core/server/llm_server.py
  python/ray/llm/tests/serve/cpu/deployments/test_prometheus_autoscaling.py
  python/ray/serve/llm/autoscaling.py
Due: docstyle, check-import-order

[serve] Pin ingress-router replicas with hard node affinity
  python/ray/serve/_private/deployment_scheduler.py
Due: docstyle, check-import-order

[serve] Drop history from the pin comments
  python/ray/serve/_private/deployment_scheduler.py
  python/ray/serve/_private/deployment_state.py
Due: docstyle, check-import-order

[serve] Clarify the _rescale_to docstring
  python/ray/serve/_private/deployment_state.py
Due: docstyle, check-import-order

Address reviews
  python/ray/data/_internal/datasource/numpy_datasource.py
  python/ray/data/tests/datasource/test_numpy.py
Due: docstyle, check-import-order

[core][build] Extract _TSAN_CACHE_ENTRIES constant and fix buildifier formatting
  bazel/rocksdb.BUILD
Due: none

[core][build] Fix TSAN false-positive data races in RocksDB GCS backend
  .bazelrc
  bazel/rocksdb.BUILD
Due: none

[train] Add configurable window and refine Data Ingestion panels
  python/ray/dashboard/modules/metrics/dashboards/train_dashboard_panels.py
  python/ray/dashboard/modules/metrics/dashboards/train_grafana_dashboard_base.json
Due: docstyle, check-import-order

[ci] Pin typescript in eslint pre-commit hook to fix plugin load crash (#64618)
  .pre-commit-config.yaml
Due: none

[docs][core] Document the embedded RocksDB GCS backend
  doc/source/cluster/kubernetes/user-guides.md
  doc/source/cluster/kubernetes/user-guides/kuberay-gcs-ft.md
  doc/source/cluster/kubernetes/user-guides/kuberay-gcs-rocksdb-ft.md
  doc/source/ray-core/fault_tolerance/gcs.rst
Due: none

[docs] Set worker reconnect timeout in the RocksDB KubeRay example
  doc/source/cluster/kubernetes/user-guides/kuberay-gcs-rocksdb-ft.md
Due: none

[docs] Clarify the RocksDB single-writer constraint vs. the RWO recommendation
  doc/source/cluster/kubernetes/user-guides/kuberay-gcs-rocksdb-ft.md
Due: none

[docs][core] Brand the RocksDB GCS backend as alpha, not experimental
  doc/source/cluster/kubernetes/user-guides/kuberay-gcs-ft.md
  doc/source/cluster/kubernetes/user-guides/kuberay-gcs-rocksdb-ft.md
  doc/source/ray-core/fault_tolerance/gcs.rst
Due: none
