Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

check-train-circular-imports:
  name: Check Ray Train circular imports
  entry: python python/ray/train/lint/check_circular_imports.py
  language: system
  pass_filenames: false
  args:
  - --patch_dir
  - ray/train/v2

fix according to cursor
  src/ray/ray_syncer/ray_syncer_bidi_reactor_base.h
Due: check-cpp-files-inclusion

[core] Support get-auth-token cli command
  python/ray/includes/rpc_token_authentication.pxd
  python/ray/includes/rpc_token_authentication.pxi
  python/ray/scripts/scripts.py
  python/ray/tests/BUILD.bazel
  python/ray/tests/authentication/BUILD.bazel
  python/ray/tests/authentication/test_token_auth_integration.py
  src/ray/rpc/authentication/authentication_token.h
Due: docstyle, check-import-order, check-cpp-files-inclusion

address comments
  python/ray/scripts/scripts.py
  python/ray/tests/authentication/test_token_auth_integration.py
Due: docstyle, check-import-order

fix lint
  python/ray/tests/authentication/BUILD.bazel
Due: none

fix import after merge
  python/ray/autoscaler/v2/tests/test_sdk.py
Due: docstyle, check-import-order

fix lint issues
  python/ray/autoscaler/v2/tests/test_sdk.py
Due: docstyle, check-import-order

update
  python/ray/data/_internal/execution/interfaces/ref_bundle.py
  python/ray/data/_internal/streaming_repartition.py
  python/ray/data/tests/test_ref_bundle.py
Due: docstyle, check-import-order

[serve] Check valid keys
  python/ray/serve/_private/api.py
  python/ray/serve/tests/test_api_2.py
Due: docstyle, check-import-order

use None to represent full block
  python/ray/data/_internal/execution/interfaces/ref_bundle.py
  python/ray/data/_internal/iterator/stream_split_iterator.py
  python/ray/data/_internal/streaming_repartition.py
  python/ray/data/tests/test_ref_bundle.py
Due: docstyle, check-import-order

add more test for test_slice_ref_bundle_invalid_rows
  python/ray/data/tests/test_ref_bundle.py
Due: docstyle, check-import-order

add __str__ method
  python/ray/data/_internal/execution/interfaces/ref_bundle.py
  python/ray/data/tests/test_ref_bundle.py
Due: docstyle, check-import-order

check 0 of num_rows
  python/ray/data/_internal/execution/interfaces/ref_bundle.py
Due: docstyle, check-import-order

fix imports
  python/ray/_private/test_utils.py
  python/ray/autoscaler/v2/tests/test_sdk.py
  python/ray/dashboard/modules/node/node_head.py
  python/ray/tests/test_memory_pressure.py
  python/ray/tests/test_state_api.py
  python/ray/util/client/server/proxier.py
  python/ray/util/state/state_manager.py
Due: docstyle, check-import-order

[Core] use client interceptor for adding auth token in c++ client calls (#58424)
  python/ray/autoscaler/v2/tests/test_sdk.py
  src/ray/pubsub/python_gcs_subscriber.cc
  src/ray/pubsub/python_gcs_subscriber.h
  src/ray/rpc/BUILD.bazel
  src/ray/rpc/authentication/BUILD.bazel
  src/ray/rpc/authentication/token_auth_client_interceptor.cc
  src/ray/rpc/authentication/token_auth_client_interceptor.h
  src/ray/rpc/client_call.h
  src/ray/rpc/grpc_client.cc
  src/ray/rpc/grpc_client.h
Due: docstyle, check-import-order, check-cpp-files-inclusion

[core] Use graceful shutdown path when actor OUT_OF_SCOPE (`del actor`) (#57090)
  doc/source/ray-core/actors/terminating-actors.rst
  python/ray/tests/test_actor_failures.py
  src/ray/common/ray_config_def.h
  src/ray/gcs/gcs_actor_manager.cc
  src/ray/gcs/gcs_actor_manager.h
  src/ray/gcs/gcs_server.cc
  src/ray/gcs/gcs_server.h
Due: docstyle, check-import-order, check-cpp-files-inclusion

[Docs] Support Kueue + Ray autoscaler in KubeRay
  doc/source/cluster/kubernetes/k8s-ecosystem/kueue.md
Due: none

wip
  rllib/algorithms/algorithm.py
  rllib/algorithms/utils.py
  rllib/core/learner/differentiable_learner.py
  rllib/core/learner/learner.py
  rllib/env/env_runner.py
  rllib/env/external/env_runner_server_for_external_inference.py
  rllib/utils/metrics/metrics_logger.py
  rllib/utils/metrics/stats/base.py
  rllib/utils/metrics/stats/ema.py
  rllib/utils/metrics/stats/item.py
  rllib/utils/metrics/stats/item_series.py
  rllib/utils/metrics/stats/lifetime_sum.py
  rllib/utils/metrics/stats/percentiles.py
  rllib/utils/metrics/stats/series.py
  rllib/utils/metrics/tests/test_metrics_logger.py
  rllib/utils/replay_buffers/episode_replay_buffer.py
  rllib/utils/runners/runner.py
Due: docstyle, check-import-order

fix external inference test
  rllib/env/external/env_runner_server_for_external_inference.py
Due: docstyle, check-import-order

Fix error when creating legacy stats because we check for leafs
  rllib/utils/metrics/metrics_logger.py
Due: docstyle, check-import-order

make grpc_utils imports lazy
  python/ray/_private/grpc_utils.py
  python/ray/_private/test_utils.py
  python/ray/autoscaler/v2/tests/test_sdk.py
  python/ray/tests/authentication/__init__.py
  python/ray/tests/authentication/conftest.py
  python/ray/tests/authentication/test_async_grpc_interceptors.py
  python/ray/tests/authentication/test_sync_grpc_interceptors.py
  python/ray/util/state/state_manager.py
Due: docstyle, check-import-order

add BUILD.bazel
  python/ray/tests/BUILD.bazel
  python/ray/tests/authentication/BUILD.bazel
  python/ray/tests/test_grpc_authentication_server_interceptor.py
Due: docstyle, check-import-order

fix maml
  rllib/utils/metrics/stats/lifetime_sum.py
Due: docstyle, check-import-order

[core] fix idle node termination on object pulling (#57928)
  src/ray/raylet/local_lease_manager.cc
  src/ray/raylet/node_manager.h
  src/ray/raylet/scheduling/local_resource_manager.cc
  src/ray/raylet/scheduling/local_resource_manager.h
  src/ray/raylet/tests/local_lease_manager_test.cc
  src/ray/raylet/tests/node_manager_test.cc
Due: check-cpp-files-inclusion

[Data] Lowering `DEFAULT_ACTOR_MAX_TASKS_IN_FLIGHT_TO_MAX_CONCURRENCY_FACTOR` to 2 (#58262)
  python/ray/data/context.py
Due: docstyle, check-import-order

[serve][llm] Fix ReplicaContext serialization error in DPRankAssigner (#58504)
  doc/source/data/doc_code/working-with-llms/minimal_quickstart.py
  python/ray/llm/_internal/serve/serving_patterns/data_parallel/dp_rank_assigner.py
  python/ray/llm/_internal/serve/serving_patterns/data_parallel/dp_server.py
Due: docstyle, check-import-order

Re-enable DreamerV3 test with num-env-runners=4
  rllib/BUILD.bazel
Due: none

fix test
  python/ray/_private/runtime_env/packaging.py
  python/ray/_private/runtime_env/py_modules.py
  python/ray/_private/runtime_env/working_dir.py
  python/ray/_private/worker.py
  python/ray/dashboard/modules/dashboard_sdk.py
  python/ray/tests/test_runtime_env_packaging.py
  python/ray/tests/test_runtime_env_working_dir.py
Due: docstyle, check-import-order

remove comment
  python/ray/data/_internal/logical/rules/projection_pushdown.py
Due: docstyle, check-import-order

remove agg from projection pushdown
  python/ray/data/_internal/logical/operators/all_to_all_operator.py
Due: docstyle, check-import-order

Some cleanup
  python/ray/data/_internal/logical/interfaces/logical_operator.py
  python/ray/data/_internal/logical/rules/predicate_pushdown.py
Due: docstyle, check-import-order

Fix ups
  python/ray/data/_internal/block_batching/iter_batches.py
  python/ray/data/_internal/iterator/stream_split_iterator.py
Due: docstyle, check-import-order

rename class
  python/ray/data/_internal/logical/interfaces/__init__.py
  python/ray/data/_internal/logical/interfaces/logical_operator.py
  python/ray/data/_internal/logical/operators/all_to_all_operator.py
  python/ray/data/_internal/logical/operators/join_operator.py
  python/ray/data/_internal/logical/operators/map_operator.py
  python/ray/data/_internal/logical/operators/n_ary_operator.py
  python/ray/data/_internal/logical/operators/one_to_one_operator.py
  python/ray/data/_internal/logical/rules/predicate_pushdown.py
Due: docstyle, check-import-order

Address header comments and missed messages
  src/ray/core_worker/store_provider/plasma_store_provider.cc
  src/ray/flatbuffers/node_manager.fbs
  src/ray/raylet/lease_dependency_manager.h
  src/ray/raylet/node_manager.h
Due: check-cpp-files-inclusion

Clean up
  python/ray/data/_internal/block_batching/iter_batches.py
Due: docstyle, check-import-order

aggregate into one async call
  python/ray/train/v2/jax/config.py
Due: docstyle, check-import-order, check-train-circular-imports

Data LLM Config Refactor - Part 4: Add deprecation warnings for legacy boolean flags
  python/ray/llm/_internal/batch/processor/base.py
Due: docstyle, check-import-order

get_or_create_stats_actor fix
  python/ray/dashboard/modules/data/data_head.py
Due: docstyle, check-import-order

lint
  python/ray/data/_internal/logical/interfaces/logical_operator.py
  python/ray/data/_internal/logical/operators/all_to_all_operator.py
  python/ray/data/_internal/logical/operators/join_operator.py
Due: docstyle, check-import-order

[core][rdt] Asyncio / out of order actor RDT support
  python/ray/actor.py
  python/ray/experimental/collective/collective_tensor_transport.py
  python/ray/experimental/collective/nixl_tensor_transport.py
  python/ray/experimental/gpu_object_manager/gpu_object_manager.py
  python/ray/tests/BUILD.bazel
  python/ray/tests/gpu_objects/test_rdt_all_transports.py
Due: docstyle, check-import-order

update docs
  doc/source/rllib/images/metrics_logger_api.svg
  doc/source/rllib/images/metrics_logger_hierarchy.svg
  doc/source/rllib/images/metrics_logger_overview.svg
  doc/source/rllib/metrics-logger.rst
Due: none

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
