Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

check-train-circular-imports:
  name: Check Ray Train circular imports
  entry: python python/ray/train/lint/check_circular_imports.py
  language: system
  pass_filenames: false
  args:
  - --patch_dir
  - ray/train/v2

[ci] load real oss_config.yaml in state-machine tests via bazel_runfile
  ci/ray_ci/bisect/test_generic_validator.py
  release/BUILD.bazel
  release/ray_release/tests/test_state_machine.py
Due: docstyle, check-import-order

[core][actor scalability] Prefill PG bundle cache at creation to fix actor submission bottleneck
  python/ray/util/placement_group.py
Due: docstyle, check-import-order

add partition_size_hint deprecataion warning
  python/ray/data/dataset.py
Due: docstyle, check-import-order

removed comments
  python/ray/data/tests/test_stats.py
  python/ray/data/tests/test_streaming_integration.py
Due: docstyle, check-import-order

review
  src/ray/core_worker/task_manager.cc
  src/ray/core_worker/tests/task_manager_test.cc
Due: check-cpp-files-inclusion

remove ray_remote_args
  python/ray/data/_internal/logical/operators/join_operator.py
Due: docstyle, check-import-order

[core] Plasma move semantics .md file
  PLASMA_MOVE_SEMANTICS.md
Due: none

[core] Fix: skip move semantics for ray.put() objects
  src/ray/common/BUILD.bazel
  src/ray/common/id.cc
  src/ray/common/id.h
  src/ray/raylet/node_manager.cc
Due: check-cpp-files-inclusion

[core] Add MockObjectDirectory::ReportObjectPrimaryMoved override
  src/mock/ray/object_manager/object_directory.h
Due: none

[core] Fix: consumer→owner pin update on move completion
  src/mock/ray/object_manager/object_manager.h
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/reference_counter.cc
  src/ray/object_manager/object_directory.h
  src/ray/object_manager/object_manager.cc
  src/ray/object_manager/object_manager.h
  src/ray/object_manager/ownership_object_directory.cc
  src/ray/object_manager/ownership_object_directory.h
  src/ray/object_manager_rpc_client/fake_object_manager_client.h
  src/ray/object_manager_rpc_client/object_manager_client.h
  src/ray/object_manager_rpc_client/object_manager_client_interface.h
  src/ray/protobuf/core_worker.proto
  src/ray/protobuf/object_manager.proto
  src/ray/raylet/local_object_manager.cc
  src/ray/raylet/local_object_manager.h
  src/ray/raylet/local_object_manager_interface.h
  src/ray/raylet/node_manager.cc
  src/ray/raylet/tests/node_manager_test.cc
  src/ray/rpc/object_manager_server.h
Due: check-cpp-files-inclusion

[core] Baseline plasma move semantics + config flag
  src/mock/ray/object_manager/object_manager.h
  src/ray/common/ray_config_def.h
  src/ray/object_manager/object_manager.cc
  src/ray/object_manager/object_manager.h
  src/ray/raylet/node_manager.cc
Due: check-cpp-files-inclusion

[core][tpu] fix unintended cpu <-> tpu serialization
  python/ray/_private/serialization.py
Due: docstyle, check-import-order

[serve][llm] Fix SGLang release-test GPU cleanup and test ordering
  release/llm_tests/serve/test_llm_serve_sglang.py
  release/llm_tests/serve/test_llm_serve_sleep_wakeup.py
  release/llm_tests/serve/test_utils.py
Due: docstyle, check-import-order

review
  src/ray/core_worker/task_manager.cc
Due: check-cpp-files-inclusion

remove comment
  python/ray/data/_internal/utils/pipelined_finalize.py
Due: docstyle, check-import-order

deprecate join_operator_actor_num_cpus_override
  python/ray/data/context.py
Due: docstyle, check-import-order

add todo comment for whole empty input
  python/ray/data/_internal/execution/operators/join.py
Due: docstyle, check-import-order

[Data] hash_shuffle: enable Ray-lineage-based FT for external reducer
  python/ray/data/_internal/execution/operators/shuffle_operators/shuffle_reduce_operator_external.py
  python/ray/data/tests/bench_shuffle_handle_serialization.py
Due: docstyle, check-import-order

[core] fix autoscaler/v2/tests/test_allocation_timeout_recovery.py
  python/ray/autoscaler/v2/tests/test_allocation_timeout_recovery.py
Due: docstyle, check-import-order

[Data] hash_shuffle: add _on_shuffle_node_lost hook (unimplemented)
  python/ray/data/_internal/execution/operators/shuffle_operators/shuffle_reduce_operator_external.py
Due: docstyle, check-import-order

[serve][test] Address review: parallelism 3, fix multiplex skip reason
  .buildkite/serve.rayci.yml
  python/ray/serve/tests/test_multiplex.py
  python/ray/serve/tests/test_telemetry_1.py
Due: docstyle, check-import-order

[serve][ci] Drop CODEOWNERS entry for the deleted HAProxy allowlist
  .github/CODEOWNERS
Due: none

[Data] hash_shuffle: drop _on_shuffle_node_lost hook, align FT narrative
  python/ray/data/_internal/execution/operators/hash_shuffle_external.py
  python/ray/data/_internal/execution/operators/shuffle_operators/shuffle_reduce_operator_external.py
Due: docstyle, check-import-order

init agg
  python/ray/data/_internal/execution/operators/hash_aggregate_v2.py
  python/ray/data/_internal/execution/operators/shuffle_operators/shuffle_map_operator.py
  python/ray/data/_internal/execution/operators/shuffle_operators/shuffle_reduce_operator.py
  python/ray/data/_internal/execution/operators/shuffle_operators/shuffle_tasks.py
  python/ray/data/_internal/planner/plan_all_to_all_op.py
  python/ray/data/tests/test_gpu_aggregate.py
Due: docstyle, check-import-order

review + tests
  src/ray/core_worker/task_manager.cc
  src/ray/core_worker/tests/task_manager_test.cc
Due: check-cpp-files-inclusion

decouple collate from pinning
  python/ray/data/collate_fn.py
  python/ray/data/dataset.py
  python/ray/data/iterator.py
  python/ray/data/tests/test_iterator.py
  python/ray/data/util/torch_utils.py
  python/ray/train/tests/test_iter_torch_batches_gpu.py
Due: docstyle, check-import-order, check-train-circular-imports

torch_device import
  python/ray/data/iterator.py
Due: docstyle, check-import-order

fix remote args
  python/ray/data/_internal/logical/operators/join_operator.py
Due: docstyle, check-import-order

remove some doc
  python/ray/data/dataset.py
  python/ray/data/iterator.py
Due: docstyle, check-import-order

[Data] Run projection/predicate pushdown before limit pushdown
  python/ray/data/_internal/logical/rules/limit_pushdown.py
  python/ray/data/_internal/logical/ruleset.py
Due: docstyle, check-import-order

fix test
  python/ray/data/tests/test_iterator.py
Due: docstyle, check-import-order

fix comment
  python/ray/_private/telemetry/open_telemetry_metric_recorder.py
  src/ray/stats/stats.h
Due: docstyle, check-import-order, check-cpp-files-inclusion

[Data] Add ruleset unit tests for edge dedup and disjoint-cycle detection
  python/ray/data/tests/unit/test_ruleset.py
Due: docstyle, check-import-order

[Data] hash_shuffle: in-place retry until node-death verdict
  python/ray/data/_internal/execution/operators/hash_shuffle_external.py
  python/ray/data/_internal/execution/operators/shuffle_operators/shuffle_reduce_operator_external.py
Due: docstyle, check-import-order

[Data] hash_shuffle: use structured ActorDiedError hints in _classify_and_raise
  python/ray/data/_internal/execution/operators/hash_shuffle_external.py
Due: docstyle, check-import-order

[Data] hash_shuffle: simplify retry backoff to fixed interval
  python/ray/data/_internal/execution/operators/hash_shuffle_external.py
Due: docstyle, check-import-order

[Data] hash_shuffle: annotate out_file_obj as _PwriteSink
  python/ray/data/_internal/execution/operators/hash_shuffle_external.py
Due: docstyle, check-import-order

[Data] hash_shuffle: slim ExternalHashShuffleReduceOp comments
  python/ray/data/_internal/execution/operators/shuffle_operators/shuffle_reduce_operator_external.py
Due: docstyle, check-import-order

[Data] hash_shuffle: purge v2-comparison comments from external code
  python/ray/data/_internal/execution/operators/hash_shuffle_external.py
  python/ray/data/_internal/execution/operators/shuffle_operators/shuffle_map_operator_external.py
  python/ray/data/_internal/execution/operators/shuffle_operators/shuffle_reduce_operator_external.py
  python/ray/data/_internal/logical/rules/operator_fusion.py
  python/ray/data/_internal/planner/plan_all_to_all_op.py
Due: docstyle, check-import-order

[Data] hash_shuffle: rename "plasma" variant → "in-memory", drop nonexistent design doc refs
  python/ray/data/_internal/execution/operators/hash_shuffle_external.py
  python/ray/data/_internal/logical/rules/operator_fusion.py
  python/ray/data/_internal/planner/plan_all_to_all_op.py
  python/ray/data/context.py
Due: docstyle, check-import-order

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
