Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)

[Core] Publish platform events via Ray Event Recorder
  python/ray/dashboard/modules/aggregator/tests/test_ray_platform_events.py
Due: docstyle, check-import-order

[Core] Publish platform events via Ray Event Recorder
  python/ray/_common/observability/__init__.py
  python/ray/_common/observability/platform_events.py
  python/ray/_private/ray_constants.py
  python/ray/dashboard/modules/aggregator/publisher/configs.py
  python/ray/dashboard/modules/aggregator/tests/test_ray_platform_events.py
  python/ray/dashboard/modules/job/job_head.py
  python/ray/dashboard/modules/job/job_manager.py
  python/ray/dashboard/modules/job/utils.py
  python/ray/dashboard/modules/platform_events/platform_event_head.py
  python/ray/dashboard/modules/platform_events/tests/test_platform_event_head.py
  python/ray/dashboard/utils.py
Due: docstyle, check-import-order

style(core): fix python import order in test_is_cluster_running.py
  python/ray/tests/test_is_cluster_running.py
Due: docstyle, check-import-order

[autoscaler] Clarify head node commands in ray up output (#63409)
  python/ray/autoscaler/BUILD.bazel
  python/ray/autoscaler/_private/cli_output_helpers.py
  python/ray/autoscaler/_private/commands.py
  python/ray/scripts/scripts.py
  python/ray/tests/test_cli_patterns/test_ray_start.txt
  python/ray/tests/test_cli_patterns/test_ray_start_windows_osx.txt
  python/ray/tests/test_cli_patterns/test_ray_up.txt
  python/ray/tests/test_cli_patterns/test_ray_up_docker.txt
  python/ray/tests/test_cli_patterns/test_ray_up_record.txt
  python/ray/tests/unit/BUILD.bazel
  python/ray/tests/unit/test_cli_output_context.py
Due: docstyle, check-import-order

Remove return in finally block (Python 3.14 SyntaxWarning) (#63742)
  python/ray/_common/usage/usage_lib.py
Due: docstyle, check-import-order

Give GetCgroupCpuLimit functions internal linkage
  src/ray/common/monitors/cpu_monitor_utils.cc
  src/ray/common/monitors/cpu_monitor_utils.h
  src/ray/common/ray_config_def.h
Due: check-cpp-files-inclusion

Link enable resource isolation guide to oom debugging guide
  doc/source/ray-core/resource-isolation-with-cgroupv2.rst
Due: none

[dashboard] Remove heavily-mocked cpu_percent test per review
  python/ray/tests/test_advanced_8.py
Due: docstyle, check-import-order

[Data] Address review: freeze ExecutionResources, guard __eq__
  python/ray/data/_internal/execution/interfaces/execution_options.py
Due: docstyle, check-import-order

[serve][llm] Add telemetry for direct streaming feature
  python/ray/llm/_internal/serve/core/ingress/builder.py
  python/ray/llm/_internal/serve/observability/usage_telemetry/usage.py
  python/ray/llm/tests/serve/cpu/observability/usage_telemetry/test_usage.py
  src/ray/protobuf/usage.proto
Due: docstyle, check-import-order

[serve] Log RAY_SERVE* env var overrides at controller startup
  python/ray/serve/_private/controller.py
  python/ray/serve/tests/unit/test_controller.py
Due: docstyle, check-import-order

[serve][core] Deflake Windows tests via ray.shutdown(wait_for_processes=True)
  python/ray/_private/worker.py
  python/ray/serve/tests/test_callback.py
  python/ray/serve/tests/test_target_capacity.py
  python/ray/tests/test_ray_init.py
  python/ray/util/client/server/server.py
Due: docstyle, check-import-order

update
  python/ray/_private/worker.py
  python/ray/serve/tests/test_callback.py
  python/ray/serve/tests/test_target_capacity.py
  python/ray/tests/test_ray_init.py
Due: docstyle, check-import-order

[Data] Force pandas 3.0 in iter_batches_pandas release test via post_build_script
  release/ray_release/byod/byod_install_pandas3.sh
  release/release_data_tests.yaml
Due: none

[Data] Revert None->0 coalescing in __init__ (keep None sentinel)
  python/ray/data/_internal/execution/interfaces/execution_options.py
Due: docstyle, check-import-order

[Data] Drop safe_round changes (moved to #63680)
  python/ray/data/_internal/execution/interfaces/execution_options.py
Due: docstyle, check-import-order

[serve][llm] Deflake test_openai_compatibility_direct_streaming (#63732)
  python/ray/llm/tests/serve/conftest.py
Due: docstyle, check-import-order

[core][autoscaler] improve autoscaler v2 performance by skipping serializations for debug logs (#63778)
  python/ray/autoscaler/v2/scheduler.py
Due: docstyle, check-import-order

Refine ray data LLM multimodal docs
  doc/source/data/doc_code/working-with-llms/vlm_video_example.py
  doc/source/data/working-with-llms.rst
Due: none

Fix linter
  doc/source/data/working-with-llms.rst
Due: none

update
  doc/source/data/working-with-llms.rst
  doc/source/serve/llm/troubleshooting.md
Due: none

Fix vLLMEngineProcessorConfig docstring
  python/ray/data/llm.py
Due: docstyle, check-import-order

update
  doc/source/data/doc_code/working-with-llms/vlm_video_example.py
  doc/source/data/working-with-llms.rst
  doc/source/serve/llm/troubleshooting.md
Due: none

[Data] fix datasource pushdown crashes for generic UDFExpr filter predicates
  python/ray/data/_internal/logical/rules/predicate_pushdown.py
  python/ray/data/expressions.py
  python/ray/data/tests/test_predicate_pushdown.py
Due: docstyle, check-import-order

[serve][llm] Document why direct streaming telemetry guard is narrow
  python/ray/llm/_internal/serve/observability/usage_telemetry/usage.py
Due: docstyle, check-import-order

[data] Disable DataSourceV2 by default (#63674)
  python/ray/data/context.py
  python/ray/data/tests/datasource/test_parquet.py
  python/ray/data/tests/test_streaming_executor.py
Due: docstyle, check-import-order

Update python/ray/data/expressions.py
  python/ray/data/expressions.py
Due: docstyle, check-import-order

[serve][llm] Record direct streaming telemetry on replica, not at build
  python/ray/llm/_internal/serve/core/ingress/builder.py
  python/ray/llm/_internal/serve/core/server/llm_server.py
  python/ray/llm/_internal/serve/observability/usage_telemetry/usage.py
Due: docstyle, check-import-order

[Data] Revert pandas 3.0 dependency markers; rely on post_build_script instead
  python/requirements.txt
  python/setup.py
Due: docstyle, check-import-order

[serve][llm] Trim direct streaming telemetry comments to house style
  python/ray/llm/_internal/serve/observability/usage_telemetry/usage.py
Due: docstyle, check-import-order

[serve][llm] Simplify direct streaming telemetry helper
  python/ray/llm/_internal/serve/observability/usage_telemetry/usage.py
Due: docstyle, check-import-order

[serve][llm] Inline direct streaming telemetry record call
  python/ray/llm/_internal/serve/core/server/llm_server.py
  python/ray/llm/_internal/serve/observability/usage_telemetry/usage.py
  python/ray/llm/tests/serve/cpu/observability/usage_telemetry/test_usage.py
Due: docstyle, check-import-order

[Data] Drive incremental resource refresh from the scheduling loop
  python/ray/data/_internal/actor_autoscaler/default_actor_autoscaler.py
  python/ray/data/_internal/execution/interfaces/physical_operator.py
  python/ray/data/_internal/execution/operators/actor_pool_map_operator.py
  python/ray/data/_internal/execution/operators/task_pool_map_operator.py
  python/ray/data/_internal/execution/resource_manager.py
  python/ray/data/_internal/execution/streaming_executor.py
  python/ray/data/_internal/execution/streaming_executor_state.py
  python/ray/data/tests/test_resource_manager.py
Due: docstyle, check-import-order

[serve][llm] Clarify direct streaming telemetry comment
  python/ray/llm/_internal/serve/core/server/llm_server.py
Due: docstyle, check-import-order

Gemini comment
  doc/source/data/doc_code/working-with-llms/vlm_video_example.py
Due: none

[Data] Pre-resolve filesystem in threaded download to avoid IMDS herd (#62898)
  python/ray/data/_internal/planner/plan_download_op.py
  python/ray/data/tests/unit/test_obstore_download.py
Due: docstyle, check-import-order

[Data] iter_batches bench: --repeat trials + per-batch format percentiles
  python/ray/data/_internal/block_batching/iter_batches.py
  python/ray/data/_internal/block_batching/util.py
  release/nightly_tests/dataset/read_and_consume_benchmark.py
  release/release_data_tests.yaml
Due: docstyle, check-import-order

[serve][llm] Make LLM telemetry trustworthy (serve + batch)
  python/ray/llm/_internal/batch/observability/usage_telemetry/usage.py
  python/ray/llm/_internal/batch/processor/http_request_proc.py
  python/ray/llm/_internal/batch/processor/vllm_engine_proc.py
  python/ray/llm/_internal/serve/observability/usage_telemetry/usage.py
  python/ray/llm/tests/batch/observability/usage_telemetry/test_usage.py
  python/ray/llm/tests/serve/cpu/observability/usage_telemetry/test_usage.py
  src/ray/protobuf/usage.proto
Due: docstyle, check-import-order

[serve][llm] Address review: handle num_replicas=auto and guard batch agent init
  python/ray/llm/_internal/batch/observability/usage_telemetry/usage.py
  python/ray/llm/_internal/serve/observability/usage_telemetry/usage.py
  python/ray/llm/tests/serve/cpu/observability/usage_telemetry/test_usage.py
Due: docstyle, check-import-order

[Data] Add pandas 2.x control twin for iter_batches_pandas
  release/release_data_tests.yaml
Due: none
