Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

check-train-circular-imports:
  name: Check Ray Train circular imports
  entry: python python/ray/train/lint/check_circular_imports.py
  language: system
  pass_filenames: false
  args:
  - --patch_dir
  - ray/train/v2

[llm][kv][14/N] Add KV cache offload/reload dashboard (#65122)
  python/ray/dashboard/modules/metrics/dashboards/serve_llm_dashboard_panels.py
Due: docstyle, check-import-order

fixing
  python/ray/_private/test_utils.py
  python/ray/tests/test_ray_event_export_worker_events.py
  src/ray/gcs/gcs_worker_manager.cc
  src/ray/gcs/gcs_worker_manager.h
  src/ray/gcs/tests/gcs_worker_manager_test.cc
  src/ray/raylet/node_manager.h
Due: docstyle, check-import-order, check-cpp-files-inclusion

Fix task log info fields in lifecycle events
  src/ray/gcs/gcs_ray_event_converter.cc
  src/ray/protobuf/public/events_task_lifecycle_event.proto
Due: check-cpp-files-inclusion

[Data] TESTING (revert before PR): one-shot setup.sh for arrow-rs S3 probe
  release/nightly_tests/dataset/arrow_rs_probe/setup.sh
Due: none

fix lint
  src/ray/core_worker/task_execution/fiber_stack_protection.h
Due: check-cpp-files-inclusion

[docs] Refresh intersphinx snapshots before merge (DOC-1050)
  doc/source/_intersphinx/pydantic.inv
  doc/source/_intersphinx/python.inv
  doc/source/_intersphinx/transformers.inv
Due: none

reflect review
  python/ray/data/_internal/compute.py
  python/ray/data/_internal/utils/torch_inference.py
  python/ray/data/_internal/utils/torch_utils.py
  python/ray/data/tests/test_torch_inference.py
  python/ray/data/util/torch_inference.py
Due: docstyle, check-import-order

improved test
  python/ray/data/BUILD.bazel
  python/ray/data/tests/test_torch_inference.py
Due: docstyle, check-import-order

[serve][test] Keep shutdown override scoped to flaky suite
  python/ray/serve/tests/conftest.py
  python/ray/serve/tests/test_direct_ingress.py
  python/ray/serve/tests/test_haproxy.py
  python/ray/serve/tests/test_metrics_haproxy.py
  release/llm_tests/kv_router_test/test_kv_events.py
  release/llm_tests/kv_router_test/test_request_lifecycle_tracking.py
  release/llm_tests/kv_router_test/test_token_load_state.py
  release/llm_tests/serve/test_llm_serve_fault_tolerance.py
  release/llm_tests/serve/test_llm_serve_integration.py
  release/llm_tests/serve/test_llm_serve_sglang.py
Due: docstyle, check-import-order

ADdign test
  src/ray/gcs/tests/gcs_ray_event_converter_test.cc
Due: check-cpp-files-inclusion

[java] Upgrade com.google.code.gson from 2.9.1 to 2.11.0 (#64273) (#65131)
  java/dependencies.bzl
Due: none

[Data] Don't convert Arrow null columns to null[pyarrow] in to_pandas (#65187)
  python/ray/data/_internal/arrow_block.py
  python/ray/data/tests/test_arrow_block.py
Due: docstyle, check-import-order

[Data] arrow-rs: page-align S3 fetch windows, fix wide-schema re-decode
  python/ray/data/_internal/datasource_v2/native/ray_data_arrow_rs/src/lib.rs
Due: none

[Data] Managed Torch Inference (#65157)
  python/ray/data/BUILD.bazel
  python/ray/data/_internal/compute.py
  python/ray/data/_internal/logical/operators/map_operator.py
  python/ray/data/_internal/utils/torch_inference.py
  python/ray/data/_internal/utils/torch_utils.py
  python/ray/data/tests/test_torch_inference.py
  python/ray/data/util/torch_inference.py
  python/ray/data/util/torch_utils.py
Due: docstyle, check-import-order

[Data] external shuffle: default reduce to no-combine + widen frame length to u64
  python/ray/data/_internal/execution/operators/shuffle_operators/external_shuffle_runtime.py
  python/ray/data/_internal/execution/operators/shuffle_operators/external_shuffle_tasks.py
Due: docstyle, check-import-order

[Data] TESTING (revert before PR): read_probe deterministic per-task USS
  release/nightly_tests/dataset/arrow_rs_probe/read_probe.py
Due: docstyle, check-import-order

[Data] TESTING (revert before PR): wide-schema column-windowing S3 path
  python/ray/data/_internal/datasource_v2/native/ray_data_arrow_rs/src/lib.rs
  python/ray/data/_internal/datasource_v2/readers/arrow_rs_parquet_file_reader.py
Due: docstyle, check-import-order

Initial commit
  python/ray/data/_internal/planner/plan_read_files_op.py
  python/ray/data/tests/test_map.py
Due: docstyle, check-import-order

Address comments
  python/ray/serve/tests/test_replica_grpc_auth.py
Due: docstyle, check-import-order

[autoscaler] Fix implicit resource default and test assertion
  python/ray/autoscaler/v2/scheduler.py
  python/ray/autoscaler/v2/tests/test_scheduler.py
Due: docstyle, check-import-order

[serve] Backpressure rejections can return 429 instead of 503 and carry a Retry-After header, configurable per deployment. Defaults unchanged.
  doc/source/serve/production-guide/best-practices.md
  python/ray/serve/_private/config.py
  python/ray/serve/_private/http_util.py
  python/ray/serve/_private/proxy_request_response.py
  python/ray/serve/_private/replica.py
  python/ray/serve/_private/router.py
  python/ray/serve/api.py
  python/ray/serve/deployment.py
  python/ray/serve/exceptions.py
  python/ray/serve/schema.py
  python/ray/serve/tests/unit/test_config.py
  python/ray/serve/tests/unit/test_http_util.py
  src/ray/protobuf/serve.proto
Due: docstyle, check-import-order

[core] only let worker subscribe to owner death when actor level back pressure is enabled (#65136)
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker.h
Due: check-cpp-files-inclusion

[Data] external shuffle: address review — typed auth error, endpoint NamedTuple, clearer names, tests
  python/ray/data/_internal/execution/operators/shuffle_operators/external_shuffle_runtime.py
  python/ray/data/_internal/execution/operators/shuffle_operators/external_shuffle_tasks.py
  python/ray/data/tests/test_hash_shuffle_external_runtime.py
Due: docstyle, check-import-order

Address comments
  python/ray/data/_internal/logical/rules/combine_downloads.py
  python/ray/data/_internal/planner/download_partition_actor.py
  python/ray/data/tests/test_combine_downloads.py
Due: docstyle, check-import-order

[Data] external shuffle tests: self-documenting ids
  python/ray/data/tests/test_hash_shuffle_external_runtime.py
Due: docstyle, check-import-order

Ray data / serve LLM GA
  doc/source/data/doc_code/working-with-llms/basic_llm_example.py
  doc/source/data/working-with-llms.rst
  python/ray/data/llm.py
  python/ray/llm/_internal/batch/processor/base.py
  python/ray/llm/_internal/batch/processor/sglang_engine_proc.py
  python/ray/llm/_internal/batch/processor/vllm_engine_proc.py
  python/ray/llm/_internal/batch/stages/vllm_engine_stage.py
  python/ray/llm/_internal/serve/serving_patterns/prefill_decode/builder.py
  python/ray/llm/_internal/serve/serving_patterns/prefill_decode/pd_server.py
  python/ray/llm/tests/batch/cpu/processor/test_backward_compat.py
  python/ray/llm/tests/batch/cpu/processor/test_processor_base.py
  python/ray/llm/tests/batch/gpu/stages/test_vllm_engine_stage.py
  python/ray/llm/tests/serve/cpu/deployments/prefill_decode_disagg/test_prefill_decode_disagg.py
  python/ray/serve/llm/__init__.py
  python/ray/serve/llm/deployment.py
  python/ray/serve/llm/gen_config.py
  python/ray/serve/llm/ingress.py
  python/ray/serve/llm/openai_api_models.py
  python/ray/serve/llm/request_router.py
Due: docstyle, check-import-order

[Data] Improve error message and docs for min_rows_per_file with partition_cols
  doc/source/data/saving-data.rst
  python/ray/data/_internal/datasource/parquet_datasink.py
  python/ray/data/dataset.py
  python/ray/data/tests/datasource/test_parquet.py
Due: docstyle, check-import-order

fix
  python/ray/tests/test_ray_event_export_task_events.py
  src/ray/raylet/node_manager.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

Update history server documentation
  doc/source/cluster/kubernetes/user-guides/images/kuberay-historyserver-select-cluster.png
  doc/source/cluster/kubernetes/user-guides/kuberay-history-server.md
Due: none

[Core] Fix Python 3.14 async-actor memory leak by re-anchoring stack … (#65177)
  python/ray/_raylet.pyx
  python/ray/tests/test_asyncio.py
  src/ray/core_worker/task_execution/fiber.h
Due: docstyle, check-import-order, check-cpp-files-inclusion

[ci/doc] Ignore inherited API annotations in documentation checks
  ci/ray_ci/doc/cmd_check_api_discrepancy.py
  ci/ray_ci/doc/mock/mock_module.py
  ci/ray_ci/doc/module.py
  ci/ray_ci/doc/test_cmd_check_api_discrepancy.py
  ci/ray_ci/doc/test_module.py
Due: docstyle, check-import-order

Fix linter
  python/ray/serve/llm/__init__.py
Due: docstyle, check-import-order

[Data] Update the join test to use all 2 all cluster config (#65164)
  release/release_data_tests.yaml
Due: none

[core] Subscribe to specific owner worker deaths instead of all worker deaths for generator backpressure
  src/mock/ray/gcs_client/accessor.h
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker.h
  src/ray/core_worker/tests/core_worker_test.cc
  src/ray/gcs_rpc_client/accessor.cc
  src/ray/gcs_rpc_client/accessor.h
  src/ray/gcs_rpc_client/tests/gcs_client_test.cc
  src/ray/pubsub/gcs_subscriber.cc
  src/ray/pubsub/gcs_subscriber.h
  src/ray/pubsub/subscriber.cc
Due: check-cpp-files-inclusion

[Data] Bump shuffle release tests to SF1000; default v2 tests to 8KB inlining; TPC-H joins to 200 partitions
  release/nightly_tests/dataset/groupby_benchmark.py
  release/nightly_tests/dataset/tpch/tpch_q10.py
  release/nightly_tests/dataset/tpch/tpch_q11.py
  release/nightly_tests/dataset/tpch/tpch_q12.py
  release/nightly_tests/dataset/tpch/tpch_q13.py
  release/nightly_tests/dataset/tpch/tpch_q14.py
  release/nightly_tests/dataset/tpch/tpch_q15.py
  release/nightly_tests/dataset/tpch/tpch_q17.py
  release/nightly_tests/dataset/tpch/tpch_q18.py
  release/nightly_tests/dataset/tpch/tpch_q2.py
  release/nightly_tests/dataset/tpch/tpch_q20.py
  release/nightly_tests/dataset/tpch/tpch_q21.py
  release/nightly_tests/dataset/tpch/tpch_q22.py
  release/nightly_tests/dataset/tpch/tpch_q3.py
  release/nightly_tests/dataset/tpch/tpch_q4.py
  release/nightly_tests/dataset/tpch/tpch_q5.py
  release/nightly_tests/dataset/tpch/tpch_q7.py
  release/nightly_tests/dataset/tpch/tpch_q8.py
  release/nightly_tests/dataset/tpch/tpch_q9.py
  release/release_data_tests.yaml
Due: docstyle, check-import-order

refactor
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker.h
  src/ray/core_worker/tests/core_worker_test.cc
  src/ray/gcs_rpc_client/accessor.cc
  src/ray/gcs_rpc_client/accessor.h
  src/ray/pubsub/subscriber.cc
Due: check-cpp-files-inclusion

update
  release/nightly_tests/dataset/groupby_benchmark.py
  release/nightly_tests/dataset/tpch/tpch_q10.py
  release/nightly_tests/dataset/tpch/tpch_q11.py
  release/nightly_tests/dataset/tpch/tpch_q12.py
  release/nightly_tests/dataset/tpch/tpch_q13.py
  release/nightly_tests/dataset/tpch/tpch_q14.py
  release/nightly_tests/dataset/tpch/tpch_q15.py
  release/nightly_tests/dataset/tpch/tpch_q17.py
  release/nightly_tests/dataset/tpch/tpch_q18.py
  release/nightly_tests/dataset/tpch/tpch_q2.py
  release/nightly_tests/dataset/tpch/tpch_q20.py
  release/nightly_tests/dataset/tpch/tpch_q21.py
  release/nightly_tests/dataset/tpch/tpch_q22.py
  release/nightly_tests/dataset/tpch/tpch_q3.py
  release/nightly_tests/dataset/tpch/tpch_q4.py
  release/nightly_tests/dataset/tpch/tpch_q5.py
  release/nightly_tests/dataset/tpch/tpch_q7.py
  release/nightly_tests/dataset/tpch/tpch_q8.py
  release/nightly_tests/dataset/tpch/tpch_q9.py
  release/release_data_tests.yaml
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker.h
Due: docstyle, check-import-order, check-cpp-files-inclusion

[Serve] Fix ZeroDivisionError in prefix_aware_router and AttributeError in Deployment.__eq__()
  python/ray/llm/_internal/serve/routing_policies/prefix_aware/prefix_aware_router.py
  python/ray/llm/tests/serve/cpu/deployments/test_prefix_aware_request_router.py
  python/ray/serve/deployment.py
  python/ray/serve/tests/unit/test_schema.py
Due: docstyle, check-import-order

[ci] Drop the leftover debug print from py_test_run_all_notebooks
  bazel/python.bzl
Due: none

[ci] Stop three doc notebooks being declared and run twice
  doc/source/ray-core/examples/BUILD.bazel
  doc/source/train/examples/pytorch/BUILD.bazel
Due: none

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
