Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

check-train-circular-imports:
  name: Check Ray Train circular imports
  entry: python python/ray/train/lint/check_circular_imports.py
  language: system
  pass_filenames: false
  args:
  - --patch_dir
  - ray/train/v2

[CI] Convert release/build.rayci.yml to array + update get_prerequisite_step (#62273)
  .buildkite/release/build.rayci.yml
  ci/ray_ci/oss_config.yaml
  release/BUILD.bazel
  release/ray_release/buildkite/step.py
  release/ray_release/configs/global_config.py
  release/ray_release/custom_byod_build_init_helper.py
  release/ray_release/scripts/custom_image_build_and_test_init.py
  release/ray_release/tests/test_custom_byod_build_init_helper.py
  release/ray_release/tests/test_global_config.py
Due: docstyle, check-import-order

[CI] Read ECR from config instead of hardcoding in test (#62612)
  release/ray_release/tests/test_custom_byod_build_init_helper.py
Due: docstyle, check-import-order

[doc][llm] Add tokenization disaggregation documentation (#62494)
  .vale/styles/config/vocabularies/General/accept.txt
  doc/source/data/doc_code/working-with-llms/tokenization_aggregation_example.py
  doc/source/data/doc_code/working-with-llms/tokenization_disaggregation_example.py
  doc/source/data/working-with-llms.rst
Due: none

[Data] Set chunk combining threshold to 1 for batcher (#62579)
  python/ray/data/_internal/arrow_ops/transform_pyarrow.py
  python/ray/data/_internal/batcher.py
  python/ray/data/tests/test_batcher.py
  python/ray/data/tests/unit/test_transform_pyarrow.py
Due: docstyle, check-import-order

[ci] Migrate object store and many nodes benchmark compute configs to new schema (#62490)
  release/benchmarks/many_nodes.yaml
  release/benchmarks/many_nodes_gce.yaml
  release/benchmarks/object_store.yaml
  release/benchmarks/object_store/large_objects.yaml
  release/benchmarks/object_store/small_objects.yaml
  release/benchmarks/object_store_gce.yaml
  release/release_tests.yaml
Due: none

[docs] Add andrewsykim, ryanaoleary, and sampan-s-nayak to committers list (#62617)
  doc/source/ray-governance/people.md
Due: none

[core][Let the driver I/O context breathe] Resolve task dependencies synchronously when objects already exist (#62561)
  src/ray/core_worker/task_submission/dependency_resolver.cc
  src/ray/core_worker/task_submission/tests/dependency_resolver_test.cc
Due: check-cpp-files-inclusion

[RLlib] Fix wrong assert variable in `_update_env_seed_if_necessary` (#61823)
  rllib/evaluation/rollout_worker.py
  rllib/evaluation/tests/test_rollout_worker.py
Due: docstyle, check-import-order

[data] add jax data iterator (#61630)
  python/deplocks/ci/data-base-ci_depset_py3.10.lock
  python/deplocks/ci/data-base-ci_depset_py3.11.lock
  python/deplocks/ci/data-base-ci_depset_py3.12.lock
  python/deplocks/ci/data-mongo-ci_depset_py3.10.lock
  python/deplocks/ci/data-pyarrow-latest-ci_depset_py3.10.lock
  python/deplocks/ci/data-pyarrow-latest-ci_depset_py3.12.lock
  python/deplocks/ci/data-pyarrow-nightly-ci_depset_py3.10.lock
  python/deplocks/ci/data-pyarrow-v9-ci_depset_py3.10.lock
  python/deplocks/ci/data-tfxbsl-ci_depset_py3.11.lock
  python/deplocks/ci/docgpu_depset_py3.10.lock
  python/deplocks/ci/docgpu_depset_py3.12.lock
  python/deplocks/ci/ml-build-ci_depset_py3.10.lock
  python/deplocks/ci/ml-build-ci_depset_py3.12.lock
  python/deplocks/ci/ml-gpubuild-ci_depset_py3.10.lock
  python/deplocks/ci/ml-gpubuild-ci_depset_py3.12.lock
  python/deplocks/ci/ml-lightning1gpubuild-ci_depset_py3.10.lock
  python/deplocks/ci/relaxed_data-ci_depset_py3.10.lock
  python/deplocks/ci/relaxed_data-ci_depset_py3.12.lock
  python/deplocks/ci/relaxed_data_tfxbsl-ci_depset_py3.11.lock
  python/ray/data/BUILD.bazel
  python/ray/data/dataset.py
  python/ray/data/iterator.py
  python/ray/data/tests/test_dataset_iter.py
  python/ray/data/tests/test_iter_jax.py
  python/ray/data/tests/unit/test_jax_util.py
  python/ray/data/util/jax_util.py
  python/ray/train/v2/jax/config.py
  python/ray/train/v2/tests/test_jax_trainer.py
  python/requirements/ml/dl-cpu-requirements.txt
  python/requirements/ml/dl-gpu-requirements.txt
  python/requirements/ml/py313/dl-cpu-requirements.txt
  python/requirements/ml/py313/dl-gpu-requirements.txt
  python/requirements_compiled.txt
  python/requirements_compiled_py3.13.txt
Due: docstyle, check-import-order, check-train-circular-imports

[Data] Consider nans as nulls in preprocessor encoder (#62618)
  python/ray/data/preprocessors/encoder.py
Due: docstyle, check-import-order

[Data] - Clean up `test_parquet.py` (#62621)
  python/ray/data/tests/datasource/test_parquet.py
Due: docstyle, check-import-order

[ci] Migrate distributed benchmark compute configs to new schema (#62404)
  release/benchmarks/distributed.yaml
  release/benchmarks/distributed/many_nodes_tests/actor_test.py
  release/benchmarks/distributed/many_nodes_tests/compute_config.yaml
  release/benchmarks/distributed/many_nodes_tests/compute_config_gce.yaml
  release/benchmarks/distributed_gce.yaml
  release/benchmarks/distributed_smoke_test.yaml
  release/release_tests.yaml
Due: docstyle, check-import-order

[ci] Migrate dashboard, golden notebook, k8s, and jobs test compute configs to new schema (#62510)
  release/dashboard/agent_stress_compute.yaml
  release/dashboard/agent_stress_compute_gce.yaml
  release/jobs_tests/compute_tpl_4_xlarge.yaml
  release/jobs_tests/compute_tpl_gce_4_xlarge.yaml
  release/jobs_tests/compute_tpl_gce_gpu_node.yaml
  release/jobs_tests/compute_tpl_gce_gpu_worker.yaml
  release/jobs_tests/compute_tpl_gpu_node.yaml
  release/jobs_tests/compute_tpl_gpu_worker.yaml
  release/k8s_tests/compute_tpl.yaml
  release/release_tests.yaml
Due: none

[train] Increase get_actor timeout (#62516)
  python/ray/train/v2/_internal/callbacks/placement_group_callback.py
  python/ray/train/v2/_internal/constants.py
  python/ray/train/v2/_internal/execution/controller/placement_group_cleaner.py
  python/ray/train/v2/tests/test_placement_group_cleaner.py
  python/ray/train/v2/tests/test_state.py
Due: docstyle, check-import-order, check-train-circular-imports

[serve] Bump HAProxy to avoid CVE-2025-11230 (#62585)
  ci/docker/serve.build.Dockerfile
  doc/source/serve/advanced-guides/performance.md
  docker/base-deps/Dockerfile
  docker/base-slim/Dockerfile
Due: none

bump rayciversion (#62567)
  .rayciversion
Due: none

[Serve] Fix high-cardinality namespace tag on long poll metrics (#62386)
  python/ray/serve/_private/constants.py
  python/ray/serve/_private/long_poll.py
  python/ray/serve/tests/test_long_poll.py
Due: docstyle, check-import-order

[Data] Refactor test_stats.py to remove brittle canonicalize usage (#62233)
  python/ray/data/tests/test_stats.py
Due: docstyle, check-import-order

[Data] Skip unconditional null strip in `find_partition_index` (#62594)
  python/ray/data/_internal/util.py
  python/ray/data/tests/test_util.py
Due: docstyle, check-import-order

[serve] HAProxy abspath env var (#62610)
  docker/base-deps/Dockerfile
  docker/base-slim/Dockerfile
  python/ray/serve/_private/constants.py
  python/ray/serve/_private/haproxy.py
Due: docstyle, check-import-order

[CI][Serve] Install ray-haproxy in Serve CI Docker image (#62590)
  ci/raydepsets/configs/ci_serve.depsets.yaml
  python/deplocks/ci/serve_base_depset_py3.10.lock
  python/deplocks/ci/serve_base_depset_py3.12.lock
  python/deplocks/ci/serve_ci_depset_py3.10.lock
  python/deplocks/ci/serve_ci_depset_py3.12.lock
  python/deplocks/ci/serve_tracing_depset_py3.10.lock
  python/requirements/serve/haproxy-reqs.txt
Due: none

[serve] Replace socat subprocess with Python socket for HAProxy admin communication (#61897)
  ci/docker/serve.build.Dockerfile
  doc/source/serve/advanced-guides/performance.md
  docker/base-deps/Dockerfile
  docker/base-slim/Dockerfile
  python/ray/serve/_private/haproxy.py
  python/ray/serve/tests/test_haproxy.py
Due: docstyle, check-import-order

[core][rdt] Bring your own transport docs page (#60308)
  doc/source/ray-core/direct-transport/custom-tensor-transport.rst
  doc/source/ray-core/direct-transport/direct-transport.rst
  doc/source/ray-core/doc_code/direct_transport_custom.py
  doc/source/ray-core/user-guide.rst
  python/ray/experimental/rdt/tensor_transport_manager.py
Due: docstyle, check-import-order

[Serve] Enable RAY_SERVE_LOG_CLIENT_ADDRESS in all Serve bazel tests (#61789)
  python/ray/serve/tests/BUILD.bazel
  python/ray/serve/tests/test_logging.py
Due: docstyle, check-import-order

[core] Disable profiling endpoints by default (#62531)
  doc/source/ray-observability/user-guides/profiling.md
  python/ray/_private/ray_constants.py
  python/ray/dashboard/client/src/common/ProfilingLink.tsx
  python/ray/dashboard/modules/reporter/reporter_head.py
  python/ray/dashboard/modules/reporter/tests/test_reporter.py
  python/ray/dashboard/tests/test_dashboard.py
  python/ray/tests/test_dashboard_profiler.py
Due: docstyle, check-import-order

[Data] Release pinned blocks after dataset execution (executor shutdown, terminal ops, OutputSplitter) (#62456)
  python/ray/data/_internal/execution/operators/output_splitter.py
  python/ray/data/_internal/execution/streaming_executor.py
  python/ray/data/_internal/execution/streaming_executor_state.py
  python/ray/data/tests/test_streaming_integration.py
Due: docstyle, check-import-order

[Data] Ensure consistent nan_is_null semantics in unique_post_fn of encoder (#62623)
  python/ray/data/preprocessors/encoder.py
Due: docstyle, check-import-order

[deps] cleanup datatfds image (#62613)
  .buildkite/data.rayci.yml
  ci/docker/datatfds.build.Dockerfile
  ci/docker/datatfds.build.wanda.yaml
Due: none

[ci][llm] Narrow down `LD_LIBRARY_PATH` override to fix ssh connection (#62625)
  ci/docker/llm.build.Dockerfile
  doc/source/data/working-with-llms.rst
  doc/source/serve/llm/troubleshooting.md
  docker/ray-llm/Dockerfile
  release/hello_world_tests/sanity_check_ssh.sh
  release/release_tests.yaml
Due: none

[Data] Add debug logging to SplitCoordinator and OutputSplitter (#62632)
  python/ray/data/_internal/execution/operators/output_splitter.py
  python/ray/data/_internal/iterator/stream_split_iterator.py
Due: docstyle, check-import-order

[serve] Refactor MockTaskProcessorAdapter to use instance attributes instead of class attributes (#62620)
  python/ray/serve/tests/unit/test_task_consumer.py
Due: docstyle, check-import-order

[Data] - Replace read_images test with testing invalid bytes instead testing with empty file (#62647)
  python/ray/data/tests/datasource/test_image.py
Due: docstyle, check-import-order

[Data] Optimize local shuffle with incremental index method and configurable compaction threshold (#62539)
  python/ray/data/_internal/batcher.py
  python/ray/data/tests/test_batcher.py
Due: docstyle, check-import-order

[Doc] Add map_batches shuffle section to shuffling data guide (#62576)
  doc/source/data/shuffling-data.rst
Due: none

[Core] Fix get_last_job() not actually sorting in test_task_events_2 (#62616)
  python/ray/tests/test_task_events_2.py
Due: docstyle, check-import-order

[data][release] Add raylet scheduling overhead to release tests (#62436)
  python/ray/data/_internal/execution/operators/actor_pool_map_operator.py
  python/ray/data/_internal/scheduling_overhead.py
  python/ray/data/_internal/stats.py
  python/ray/data/dataset.py
  release/nightly_tests/dataset/benchmark.py
Due: docstyle, check-import-order

[Core] Use ACTOR_STATUS from custom_types in validate_actor_state_name (#62629)
  python/ray/_private/utils.py
Due: docstyle, check-import-order

[Data] Make Auto-downscaling Resource Aware (#62574)
  python/ray/data/_internal/actor_autoscaler/default_actor_autoscaler.py
  python/ray/data/_internal/execution/resource_manager.py
  python/ray/data/tests/test_autoscaler.py
Due: docstyle, check-import-order

[deps][llm] Upgrade to vLLM 0.19.0 (#62349)
  docker/ray-llm/Dockerfile
  python/deplocks/llm/rayllm_py311_cpu.lock
  python/deplocks/llm/rayllm_py311_cu128.lock
  python/deplocks/llm/rayllm_py312_cpu.lock
  python/deplocks/llm/rayllm_py312_cu130.lock
  python/deplocks/llm/rayllm_test_py311_cpu.lock
  python/deplocks/llm/rayllm_test_py311_cu128.lock
  python/deplocks/llm/rayllm_test_py312_cpu.lock
  python/deplocks/llm/rayllm_test_py312_cu130.lock
  python/ray/llm/_internal/batch/stages/vllm_engine_stage.py
  python/ray/llm/_internal/serve/core/ingress/mixins/pausable.py
  python/ray/llm/_internal/serve/engines/vllm/vllm_engine.py
  python/ray/llm/tests/serve/mocks/mock_vllm_engine.py
  python/requirements/llm/llm-requirements.txt
  python/setup.py
  release/llm_tests/batch/test_batch_vllm.py
  release/llm_tests/serve/test_llm_serve_multi_node_integration.py
  release/llm_tests/serve/test_llm_serve_pause_resume.py
Due: docstyle, check-import-order

[Data] Speed up checkpoint filter and reduce memory usage (#60294)
  python/ray/data/_internal/planner/checkpoint/plan_read_op.py
  python/ray/data/_internal/planner/planner.py
  python/ray/data/checkpoint/checkpoint_filter.py
  python/ray/data/checkpoint/interfaces.py
  python/ray/data/checkpoint/load_checkpoint_callback.py
  python/ray/data/checkpoint/util.py
  python/ray/data/tests/test_checkpoint.py
Due: docstyle, check-import-order

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
