Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)

[core] building ray core binary parts with wanda on manylinux (#56825)
  .buildkite/build.rayci.yml
  ci/docker/ray-core.Dockerfile
  ci/docker/ray-core.wanda.yaml
Due: none

[tune] Enable Train V2 in Tune unit tests and examples (#56816)
  python/ray/tune/BUILD.bazel
  python/ray/tune/examples/xgboost_dynamic_resources_example.py
  python/ray/tune/examples/xgboost_example.py
  python/ray/tune/tests/_test_multi_tenancy_run.py
  python/ray/tune/tests/test_api_checkpoint_integration.py
  python/ray/tune/tests/test_commands.py
  python/ray/tune/tests/test_experiment.py
  python/ray/tune/tests/test_function_api.py
  python/ray/tune/tests/test_remote.py
  python/ray/tune/tests/test_run_experiment.py
  python/ray/tune/tests/test_tune_restore.py
  python/ray/tune/tests/test_tuner.py
  python/ray/tune/tests/test_tuner_restore.py
Due: docstyle, check-import-order

[serve] use deployment method in access logs for replicas (#56829)
  python/ray/serve/_private/replica.py
Due: docstyle, check-import-order

[tune] Enable Train v2 in doc examples (#56820)
  doc/BUILD.bazel
  doc/source/tune/api/env.rst
  doc/source/tune/examples/BUILD.bazel
  doc/source/tune/examples/ax_example.ipynb
  doc/source/tune/examples/horovod_simple.ipynb
  doc/source/tune/examples/index.rst
  doc/source/tune/examples/pbt_guide.ipynb
  doc/source/tune/examples/tune-comet.ipynb
  doc/source/tune/examples/tune-pytorch-cifar.ipynb
  doc/source/tune/examples/tune-pytorch-lightning.ipynb
  doc/source/tune/examples/tune-vanilla-pytorch-lightning.ipynb
  doc/source/tune/examples/tune-xgboost.ipynb
  doc/source/tune/faq.rst
  doc/source/tune/tutorials/tune-lifecycle.rst
  doc/source/tune/tutorials/tune-output.rst
  doc/source/tune/tutorials/tune-resources.rst
  doc/source/tune/tutorials/tune-search-spaces.rst
  doc/source/tune/tutorials/tune-stopping.rst
  doc/source/tune/tutorials/tune-trial-checkpoints.rst
  doc/source/tune/tutorials/tune_get_data_in_and_out.md
Due: none

[Data] Add descriptive error if user tries to download from invalid column (#56852)
  python/ray/data/_internal/planner/plan_download_op.py
  python/ray/data/tests/test_download_expression.py
Due: docstyle, check-import-order

[core] Reorder asyncio actor shutdown to terminate asyncio thread first (#56827)
  python/ray/_raylet.pyx
  python/ray/includes/libcoreworker.pxd
  src/ray/core_worker/core_worker_options.h
  src/ray/core_worker/core_worker_shutdown_executor.cc
  src/ray/core_worker/core_worker_shutdown_executor.h
  src/ray/core_worker/shutdown_coordinator.cc
  src/ray/core_worker/shutdown_coordinator.h
  src/ray/core_worker/tests/shutdown_coordinator_test.cc
Due: check-cpp-files-inclusion

[core] Deflake test_reference_counting.py::test_recursive_serialized_reference (#56870)
  python/ray/tests/test_reference_counting.py
Due: docstyle, check-import-order

[Data] - Add alias expression (#56550)
  python/ray/data/_expression_evaluator.py
  python/ray/data/_internal/arrow_block.py
  python/ray/data/_internal/pandas_block.py
  python/ray/data/_internal/planner/plan_udf_map_op.py
  python/ray/data/expressions.py
  python/ray/data/tests/test_expressions.py
  python/ray/data/tests/test_map.py
Due: docstyle, check-import-order

[core] build dashboard with wanda (#56886)
  .buildkite/build.rayci.yml
  ci/docker/ray-core.Dockerfile
  ci/docker/ray-core.wanda.yaml
  ci/docker/ray-dashboard.Dockerfile
  ci/docker/ray-dashboard.wanda.yaml
Due: none

[data.LLM] fix doc test for Working with LLMs guide (#55917)
  doc/BUILD.bazel
  doc/source/data/doc_code/working-with-llms/basic_llm_example.py
  doc/source/data/doc_code/working-with-llms/embedding_example.py
  doc/source/data/doc_code/working-with-llms/openai_api_example.py
  doc/source/data/doc_code/working-with-llms/vlm_example.py
  doc/source/data/working-with-llms.rst
Due: none

[Data] - make test_unify_schemas_nested_struct_tensors deterministic (#56817)
  python/ray/data/_internal/arrow_ops/transform_pyarrow.py
Due: docstyle, check-import-order

[core][event] rename DriverJobExecutionEvent to DriverJobLifecycleEvent (#56809)
  python/ray/dashboard/modules/aggregator/aggregator_agent.py
  python/ray/dashboard/modules/aggregator/tests/test_aggregator_agent.py
  python/ray/dashboard/modules/aggregator/tests/test_ray_job_events.py
  src/ray/gcs/BUILD.bazel
  src/ray/gcs/gcs_job_manager.cc
  src/ray/gcs/gcs_job_manager.h
  src/ray/gcs/tests/export_api/gcs_job_manager_export_event_test.cc
  src/ray/observability/BUILD.bazel
  src/ray/observability/ray_driver_job_execution_event.cc
  src/ray/observability/ray_driver_job_lifecycle_event.cc
  src/ray/observability/ray_driver_job_lifecycle_event.h
  src/ray/observability/tests/BUILD.bazel
  src/ray/observability/tests/ray_driver_job_lifecycle_event_test.cc
  src/ray/observability/tests/ray_event_recorder_test.cc
  src/ray/protobuf/public/BUILD.bazel
  src/ray/protobuf/public/events_base_event.proto
  src/ray/protobuf/public/events_driver_job_definition_event.proto
  src/ray/protobuf/public/events_driver_job_lifecycle_event.proto
Due: docstyle, check-import-order, check-cpp-files-inclusion

Add node ip in runtime env error message to improve debug observability (#56837)
  python/ray/_private/runtime_env/agent/runtime_env_agent.py
  python/ray/tests/test_runtime_env.py
Due: docstyle, check-import-order

[release] Rename custom byod build job (#56861)
  release/ray_release/custom_byod_build_init_helper.py
  release/ray_release/tests/test_custom_byod_build_init_helper.py
Due: docstyle, check-import-order

[core][rdt] Retry + Make FreeActorObject idempotent (#56447)
  python/ray/_raylet.pyx
  python/ray/experimental/gpu_object_manager/gpu_object_store.py
  src/mock/ray/rpc/worker/core_worker_client.h
  src/ray/core_worker/task_manager.cc
  src/ray/core_worker_rpc_client/core_worker_client.h
  src/ray/core_worker_rpc_client/core_worker_client_interface.h
  src/ray/core_worker_rpc_client/fake_core_worker_client.h
  src/ray/protobuf/core_worker.proto
Due: docstyle, check-import-order, check-cpp-files-inclusion

[core] (cgroups 12/n) Raylet will start worker processes in the application cgroup (#56549)
  python/ray/tests/resource_isolation/test_resource_isolation_integration.py
  src/ray/common/cgroup2/cgroup_manager.cc
  src/ray/common/cgroup2/cgroup_manager.h
  src/ray/common/cgroup2/cgroup_manager_interface.h
  src/ray/common/cgroup2/noop_cgroup_manager.cc
  src/ray/raylet/BUILD.bazel
  src/ray/raylet/agent_manager.cc
  src/ray/raylet/agent_manager.h
  src/ray/raylet/main.cc
  src/ray/raylet/node_manager.cc
  src/ray/raylet/node_manager.h
  src/ray/raylet/tests/node_manager_test.cc
  src/ray/raylet/worker_pool.cc
  src/ray/raylet/worker_pool.h
  src/ray/util/process.cc
  src/ray/util/process.h
Due: docstyle, check-import-order, check-cpp-files-inclusion

[core] Deprecate LIFO/FIFO worker killing policies (#56314)
  python/ray/tests/test_memory_pressure.py
  release/release_data_tests.yaml
  release/release_tests.yaml
  src/ray/common/lease/lease_spec.cc
  src/ray/common/lease/lease_spec.h
  src/ray/common/ray_config_def.h
  src/ray/common/task/task_spec.cc
  src/ray/common/task/task_spec.h
  src/ray/core_worker/task_manager.cc
  src/ray/protobuf/common.proto
  src/ray/protobuf/gcs.proto
  src/ray/raylet/BUILD.bazel
  src/ray/raylet/node_manager.cc
  src/ray/raylet/tests/BUILD.bazel
  src/ray/raylet/tests/worker_killing_policy_group_by_owner_test.cc
  src/ray/raylet/tests/worker_killing_policy_retriable_fifo_test.cc
  src/ray/raylet/tests/worker_killing_policy_test.cc
  src/ray/raylet/worker.h
  src/ray/raylet/worker_killing_policy.cc
  src/ray/raylet/worker_killing_policy.h
  src/ray/raylet/worker_killing_policy_group_by_owner.cc
  src/ray/raylet/worker_killing_policy_group_by_owner.h
  src/ray/raylet/worker_killing_policy_retriable_fifo.cc
  src/ray/raylet/worker_killing_policy_retriable_fifo.h
Due: docstyle, check-import-order, check-cpp-files-inclusion

[core][rdt][cgraphs] Only allocate tensor without initializing/writing on recv (#56882)
  python/ray/experimental/channel/conftest.py
  python/ray/experimental/channel/torch_tensor_accelerator_channel.py
  python/ray/experimental/gpu_object_manager/gpu_object_store.py
  release/microbenchmark/experimental/compiled_graph_gpu_microbenchmark.py
Due: docstyle, check-import-order

[image] add haproxy binary, for ray serve use (#56845)
  docker/base-extra/Dockerfile
  docker/base-slim/Dockerfile
Due: none

[Data] Cleaning up `ParquetDatasource` sampling sequence (#56892)
  python/ray/data/_internal/datasource/parquet_datasource.py
Due: docstyle, check-import-order

Fix log monitor seeking bug after log rotation
  python/ray/_private/log_monitor.py
  python/ray/tests/test_logging.py
Due: docstyle, check-import-order

new tests
  python/ray/tests/gpu_objects/test_gpu_objects_gloo.py
  python/ray/tests/gpu_objects/test_gpu_objects_ipc.py
Due: docstyle, check-import-order

Fix log monitor seeking bug after log rotation
  python/ray/_private/log_monitor.py
Due: docstyle, check-import-order

[core][train] Ray Train disables blocking get inside async warning (#56757)
  python/ray/_common/constants.py
  python/ray/_private/worker.py
  python/ray/train/v2/_internal/constants.py
  python/ray/train/v2/api/data_parallel_trainer.py
  python/ray/train/v2/tests/test_data_parallel_trainer.py
Due: docstyle, check-import-order

cache uuid
  python/ray/experimental/gpu_object_manager/gpu_object_manager.py
Due: docstyle, check-import-order

wip: use prebuilt ray core binaries and ray dashboard
  .buildkite/build.rayci.yml
  .buildkite/core.rayci.yml
  .buildkite/data.rayci.yml
  .buildkite/ml.rayci.yml
  .buildkite/rllib.rayci.yml
  ci/ray_ci/automation/docker_tags_lib.py
  ci/ray_ci/builder.py
  ci/ray_ci/builder_container.py
  ci/ray_ci/container.py
  ci/ray_ci/docker_container.py
  ci/ray_ci/linux_container.py
  ci/ray_ci/linux_tester_container.py
  ci/ray_ci/test_ray_docker_container.py
  ci/ray_ci/tester.py
  ci/ray_ci/tests.env.Dockerfile
  doc/source/ray-contribute/development.rst
  python/setup.py
Due: docstyle, check-import-order

[wheel] add option to skip ray core building
  doc/source/ray-contribute/development.rst
  python/setup.py
Due: docstyle, check-import-order

add better logs
  python/ray/dashboard/modules/job/tests/test_job_agent.py
Due: docstyle, check-import-order

fix error assertion
  release/train_tests/multinode_persistence/test_persistence.py
Due: docstyle, check-import-order

removed get_tensor_meta func
  python/ray/experimental/gpu_object_manager/gpu_object_manager.py
  python/ray/tests/gpu_objects/test_gpu_objects_ipc.py
Due: docstyle, check-import-order

Adding in exclude tensorizer download from all layers of model download if load_format is specified as one that needs to skip
  python/ray/llm/_internal/batch/processor/vllm_engine_proc.py
  python/ray/llm/_internal/batch/stages/vllm_engine_stage.py
  python/ray/llm/_internal/common/utils/download_utils.py
Due: docstyle, check-import-order

added TODO
  python/ray/experimental/gpu_object_manager/gpu_object_store.py
Due: docstyle, check-import-order

fix test
  python/ray/data/tests/test_execution_optimizer.py
Due: docstyle, check-import-order

.
  ci/ray_ci/tester.py
Due: docstyle, check-import-order

.
  ci/ray_ci/linux_container.py
Due: docstyle, check-import-order

[tune][release] Upgrade tune_torch_benchmark to v2 (#56804)
  release/air_tests/air_benchmarks/workloads/tune_torch_benchmark.py
  release/release_tests.yaml
Due: docstyle, check-import-order

[train][release] Attach a quick checkpoint when reporting metrics (#56718)
  release/air_tests/air_benchmarks/workloads/torch_benchmark.py
  release/release_tests.yaml
Due: docstyle, check-import-order

[ci] normalize wanda build / key name
  .buildkite/build.rayci.yml
Due: none

use config inside train func
  release/train_tests/local_mode/torch_local_mode_test.py
Due: docstyle, check-import-order

[core] (cgroups 13/n) Deleting old cgroups implementation
  src/ray/common/cgroup/BUILD.bazel
  src/ray/common/cgroup/README.md
  src/ray/common/cgroup/base_cgroup_setup.h
  src/ray/common/cgroup/cgroup_context.h
  src/ray/common/cgroup/cgroup_manager.cc
  src/ray/common/cgroup/cgroup_manager.h
  src/ray/common/cgroup/cgroup_setup.cc
  src/ray/common/cgroup/cgroup_setup.h
  src/ray/common/cgroup/cgroup_utils.cc
  src/ray/common/cgroup/cgroup_utils.h
  src/ray/common/cgroup/constants.h
  src/ray/common/cgroup/fake_cgroup_setup.cc
  src/ray/common/cgroup/fake_cgroup_setup.h
  src/ray/common/cgroup/scoped_cgroup_handle.h
  src/ray/common/cgroup/tests/BUILD.bazel
  src/ray/common/cgroup/tests/cgroup_test_utils.cc
  src/ray/common/cgroup/tests/cgroup_test_utils.h
  src/ray/common/cgroup/tests/cgroup_v2_setup_test.cc
  src/ray/common/cgroup/tests/cgroup_v2_utils_privileged_test.cc
  src/ray/common/cgroup/tests/cgroup_v2_utils_unprivileged_test.cc
  src/ray/common/cgroup/tests/fake_cgroup_setup_test.cc
  src/ray/core_worker/BUILD.bazel
Due: check-cpp-files-inclusion
