Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

Fixing pytest error
  python/ray/tests/test_reference_counting.py
Due: docstyle, check-import-order

fix test
  python/ray/dashboard/modules/reporter/tests/test_reporter.py
Due: docstyle, check-import-order

updating lockfile
  ci/raydepsets/llmexamples.depsets.yaml
  release/ray_release/byod/e2e_xgboost_py311_cu124.lock
Due: none

Apply suggestions from code review
  doc/source/ray-core/scheduling/labels.md
Due: none

try with just the tag defs gone
  src/ray/core_worker/core_worker_process.cc
  src/ray/core_worker/store_provider/memory_store/memory_store.cc
  src/ray/gcs/gcs_task_manager.cc
  src/ray/gcs/store_client/redis_context.h
  src/ray/object_manager/plasma/stats_collector.cc
  src/ray/raylet/local_object_manager.cc
  src/ray/raylet/main.cc
  src/ray/rpc/rpc_chaos.h
  src/ray/stats/BUILD.bazel
  src/ray/stats/metric_defs.cc
  src/ray/stats/metric_defs.h
  src/ray/stats/tag_defs.cc
  src/ray/stats/tag_defs.h
  src/ray/stats/tests/metric_exporter_grpc_test.cc
  src/ray/stats/tests/stats_test.cc
Due: check-cpp-files-inclusion

updates
  doc/source/ray-core/scheduling/labels.md
Due: none

fixing error per cursor
  doc/source/ray-core/scheduling/index.rst
Due: none

[serve] Add validation for 'proxy_location' and 'http_options' config parameters for the 'serve deploy' command
  doc/source/serve/production-guide/config.md
  python/ray/serve/scripts.py
  python/ray/serve/tests/unit/test_cli.py
Due: docstyle, check-import-order

[serve] Fail on the change of 'proxy_location' and 'http_options' parameters for the 'serve' API
  python/ray/dashboard/modules/serve/serve_head.py
  python/ray/dashboard/modules/serve/tests/test_serve_dashboard_2.py
  python/ray/serve/_private/api.py
  python/ray/serve/api.py
  python/ray/serve/exceptions.py
  python/ray/serve/scripts.py
  python/ray/serve/tests/conftest.py
  python/ray/serve/tests/test_api_2.py
  python/ray/serve/tests/test_cli.py
  python/ray/serve/tests/test_cli_2.py
  python/ray/serve/tests/unit/test_cli.py
Due: docstyle, check-import-order

Use Redis "SCAN" instead of "KEYS"
  src/ray/gcs/store_client/redis_store_client.cc
Due: check-cpp-files-inclusion

Improve comments
  python/ray/_private/gcs_utils.py
Due: docstyle, check-import-order

[core] Remove TagKey cython wrapper
  python/ray/includes/metric.pxd
  python/ray/includes/metric.pxi
Due: none

[serve] Fail on the change of 'proxy_location' or 'http_options' parameters for the 'serve' API
  python/ray/dashboard/modules/serve/serve_head.py
Due: docstyle, check-import-order

test head and worker node with different temp-dir
  python/ray/_private/node.py
  python/ray/scripts/scripts.py
Due: docstyle, check-import-order

[core][docs][RDT] Add docs for asyncio and object mutability (#56790)
  doc/source/ray-core/api/direct-transport.rst
  doc/source/ray-core/direct-transport.rst
  doc/source/ray-core/doc_code/direct_transport_gloo.py
  python/ray/experimental/gpu_object_manager/gpu_object_manager.py
Due: docstyle, check-import-order

[Data] - Unify project logical operators to use expressions
  python/ray/data/_internal/arrow_block.py
  python/ray/data/_internal/logical/operators/map_operator.py
  python/ray/data/_internal/logical/rules/projection_pushdown.py
  python/ray/data/_internal/planner/plan_udf_map_op.py
  python/ray/data/dataset.py
  python/ray/data/tests/test_map.py
Due: docstyle, check-import-order

rename bernulli to random
  python/ray/data/dataset.py
  python/ray/data/tests/test_split.py
Due: docstyle, check-import-order

something
  BUILD.bazel
  src/mock/ray/gcs/gcs_actor_manager.h
  src/mock/ray/gcs/gcs_placement_group_manager.h
  src/ray/common/BUILD.bazel
  src/ray/common/metrics.h
  src/ray/core_worker/BUILD.bazel
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/tests/core_worker_test.cc
  src/ray/gcs/BUILD.bazel
  src/ray/gcs/gcs_job_manager.cc
  src/ray/gcs/gcs_job_manager.h
  src/ray/gcs/gcs_placement_group_manager.cc
  src/ray/gcs/gcs_placement_group_manager.h
  src/ray/gcs/gcs_server.cc
  src/ray/gcs/gcs_server.h
  src/ray/gcs/gcs_server_main.cc
  src/ray/gcs/metrics.h
  src/ray/gcs/store_client/tests/observable_store_client_test.cc
  src/ray/gcs/tests/BUILD.bazel
  src/ray/gcs/tests/export_api/gcs_actor_manager_export_event_test.cc
  src/ray/gcs/tests/export_api/gcs_job_manager_export_event_test.cc
  src/ray/gcs/tests/gcs_actor_manager_test.cc
  src/ray/gcs/tests/gcs_autoscaler_state_manager_test.cc
  src/ray/gcs/tests/gcs_job_manager_test.cc
  src/ray/gcs/tests/gcs_placement_group_manager_mock_test.cc
  src/ray/gcs/tests/gcs_placement_group_manager_test.cc
  src/ray/gcs/tests/gcs_server_rpc_test.cc
  src/ray/gcs/tests/gcs_task_manager_test.cc
  src/ray/gcs_rpc_client/tests/gcs_client_reconnection_test.cc
  src/ray/gcs_rpc_client/tests/gcs_client_test.cc
  src/ray/gcs_rpc_client/tests/global_state_accessor_test.cc
  src/ray/observability/fake_metric.h
  src/ray/observability/ray_node_lifecycle_event.cc
Due: check-cpp-files-inclusion

p
  release/hello_world_tests/hello_world_compute_config_aks.yaml
Due: none

[core] Clean up / improve GCS EventRecorder + GCS TaskManager (#56912)
  src/ray/gcs/gcs_ray_event_converter.cc
  src/ray/gcs/gcs_ray_event_converter.h
  src/ray/gcs/gcs_task_manager.cc
  src/ray/gcs/gcs_task_manager.h
  src/ray/gcs/tests/gcs_ray_event_converter_test.cc
Due: check-cpp-files-inclusion

release tests for serve proxy
  release/serve_tests/workloads/serve_proxy_smoke.py
Due: docstyle, check-import-order

release tests for serve proxy
  release/release_tests.yaml
Due: none

add train_v2_gpu tag
  python/ray/train/BUILD.bazel
Due: none

fix ml rayci yml
  .buildkite/ml.rayci.yml
  python/ray/data/BUILD.bazel
Due: none

fix test_examples
  python/ray/train/tests/test_examples.py
  python/ray/train/v2/BUILD.bazel
  python/ray/train/v2/tests/test_torch_transformers_train.py
Due: docstyle, check-import-order

fixup
  python/ray/dashboard/modules/reporter/tests/test_reporter.py
Due: docstyle, check-import-order

fix test_gpu_examples
  python/ray/train/examples/pytorch/torch_regression_example.py
  python/ray/train/tests/test_gpu_examples.py
Due: docstyle, check-import-order

update build
  python/ray/train/BUILD.bazel
Due: none

linter wrapup
  .pre-commit-config.yaml
  python/ray/train/lint/check_circular_imports.py
Due: docstyle, check-import-order

round timestamp to 10ms during time series merge (#56876)
  python/ray/serve/_private/metrics_utils.py
  python/ray/serve/tests/unit/test_metrics_utils.py
Due: docstyle, check-import-order

updating unit tests
  ci/raydepsets/tests/test_cli.py
  ci/raydepsets/tests/test_data/requirements_compiled_test.txt
  ci/raydepsets/tests/test_data/requirements_compiled_test_expand.txt
  ci/raydepsets/tests/test_data/requirements_compiled_test_update.txt
Due: docstyle, check-import-order

Change References to `state.actors()` to `ray.util.state.list_actors` or `ray.util.state.get_actor` (#56733)
  python/ray/_private/test_utils.py
  python/ray/data/tests/conftest.py
  python/ray/runtime_context.py
  python/ray/serve/_private/test_utils.py
  python/ray/serve/tests/test_autoscaling_policy.py
  python/ray/serve/tests/test_logging.py
  python/ray/serve/tests/test_metrics.py
  python/ray/tests/test_actor.py
  python/ray/tests/test_actor_advanced.py
  python/ray/tests/test_actor_group.py
  python/ray/tests/test_actor_state_metrics.py
  python/ray/tests/test_advanced_3.py
  python/ray/tests/test_advanced_9.py
  python/ray/tests/test_asyncio.py
  python/ray/tests/test_client_references.py
  python/ray/tests/test_client_terminate.py
  python/ray/tests/test_failure.py
  python/ray/tests/test_failure_4.py
  python/ray/tests/test_gcs_fault_tolerance.py
  python/ray/tests/test_global_state.py
  python/ray/tests/test_job.py
  python/ray/tests/test_object_spilling_2.py
  python/ray/tests/test_placement_group.py
  python/ray/tests/test_placement_group_2.py
  python/ray/tests/test_placement_group_3.py
  python/ray/tests/test_placement_group_5.py
  python/ray/tests/test_runtime_env_standalone.py
Due: docstyle, check-import-order

[core] (cgroups 13/n) Deleting old cgroups implementation (#56909)
  python/ray/scripts/scripts.py
  src/ray/common/cgroup/BUILD.bazel
  src/ray/common/cgroup/README.md
  src/ray/common/cgroup/base_cgroup_setup.h
  src/ray/common/cgroup/cgroup_context.h
  src/ray/common/cgroup/cgroup_manager.cc
  src/ray/common/cgroup/cgroup_manager.h
  src/ray/common/cgroup/cgroup_setup.cc
  src/ray/common/cgroup/cgroup_setup.h
  src/ray/common/cgroup/cgroup_utils.cc
  src/ray/common/cgroup/cgroup_utils.h
  src/ray/common/cgroup/constants.h
  src/ray/common/cgroup/fake_cgroup_setup.cc
  src/ray/common/cgroup/fake_cgroup_setup.h
  src/ray/common/cgroup/scoped_cgroup_handle.h
  src/ray/common/cgroup/tests/BUILD.bazel
  src/ray/common/cgroup/tests/cgroup_test_utils.cc
  src/ray/common/cgroup/tests/cgroup_test_utils.h
  src/ray/common/cgroup/tests/cgroup_v2_setup_test.cc
  src/ray/common/cgroup/tests/cgroup_v2_utils_privileged_test.cc
  src/ray/common/cgroup/tests/cgroup_v2_utils_unprivileged_test.cc
  src/ray/common/cgroup/tests/fake_cgroup_setup_test.cc
  src/ray/core_worker/BUILD.bazel
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker_process.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

updating install script
  ci/raydepsets/llmexamples.depsets.yaml
  doc/source/ray-overview/examples/e2e-timeseries/README.ipynb
  doc/source/ray-overview/examples/e2e-timeseries/README.md
  doc/source/ray-overview/examples/e2e-timeseries/ci/run_tests.sh
  release/ray_release/byod/byod_e2e_timeseries.sh
Due: none

[Data] Fix streaming executor to drain upstream output queue(s)
  python/ray/data/_internal/execution/streaming_executor_state.py
  python/ray/data/tests/test_operators.py
  python/ray/data/tests/test_streaming_executor.py
Due: docstyle, check-import-order

Fixing sglang runai
  python/ray/llm/_internal/batch/processor/sglang_engine_proc.py
  python/ray/llm/_internal/batch/stages/vllm_engine_stage.py
Due: docstyle, check-import-order

try to attach the trainer to tune session
  python/ray/train/base_trainer.py
  python/ray/train/v2/api/data_parallel_trainer.py
  python/ray/tune/trainable/function_trainable.py
Due: docstyle, check-import-order

remove v1 hook
  python/ray/train/base_trainer.py
Due: docstyle, check-import-order

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)
