Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)

[data] PR 8: Extract shared Parquet I/O primitives
  python/ray/data/_internal/datasource/_parquet_io.py
  python/ray/data/_internal/datasource/delta/writer.py
Due: docstyle, check-import-order

[data] PR 3: Add write_delta APPEND MVP
  ci/lint/pyrefly-excluded-files.txt
  python/ray/data/_internal/datasource/delta/__init__.py
  python/ray/data/_internal/datasource/delta/adapter.py
  python/ray/data/_internal/datasource/delta/committer.py
  python/ray/data/_internal/datasource/delta/datasink.py
  python/ray/data/_internal/datasource/delta/fs.py
  python/ray/data/_internal/datasource/delta/utils.py
  python/ray/data/_internal/datasource/delta/writer.py
  python/ray/data/dataset.py
  python/ray/data/tests/datasource/test_write_delta.py
Due: docstyle, check-import-order

[data] PR 5: Add partitioning + dynamic overwrite + buffered writes to write_delta
  python/ray/data/_internal/datasource/delta/adapter.py
  python/ray/data/_internal/datasource/delta/committer.py
  python/ray/data/_internal/datasource/delta/datasink.py
  python/ray/data/_internal/datasource/delta/utils.py
  python/ray/data/_internal/datasource/delta/writer.py
  python/ray/data/dataset.py
  python/ray/data/tests/datasource/test_write_delta.py
Due: docstyle, check-import-order

[data] PR 1: Introduce TableDatasink + TableAdapter abstraction
  ci/lint/pyrefly-excluded-files.txt
  python/ray/data/_internal/datasource/table/__init__.py
  python/ray/data/_internal/datasource/table/adapter.py
  python/ray/data/_internal/datasource/table/file_writer.py
  python/ray/data/_internal/datasource/table/modes.py
  python/ray/data/_internal/datasource/table/result.py
  python/ray/data/_internal/datasource/table/table_datasink.py
  python/ray/data/tests/datasource/test_table_datasink.py
  python/ray/data/tests/datasource/test_table_datasink_integration.py
Due: docstyle, check-import-order

[data] PR 9a: Add Catalog abstraction + read_delta(catalog=)
  pyrefly.toml
  python/ray/data/__init__.py
  python/ray/data/catalog.py
  python/ray/data/read_api.py
  python/ray/data/tests/datasource/test_catalog.py
Due: docstyle, check-import-order

[data] PR 9b: write_delta(catalog=) + worker credential plumbing fix
  python/ray/data/_internal/datasource/delta/fs.py
  python/ray/data/dataset.py
  python/ray/data/tests/datasource/test_catalog.py
  python/ray/data/tests/datasource/test_write_delta.py
Due: docstyle, check-import-order

[data] PR 6: Add schema evolution to write_delta
  python/ray/data/_internal/datasource/delta/adapter.py
  python/ray/data/_internal/datasource/delta/datasink.py
  python/ray/data/_internal/datasource/delta/schema.py
  python/ray/data/dataset.py
  python/ray/data/tests/datasource/test_write_delta.py
Due: docstyle, check-import-order

[data] PR 4: Add OVERWRITE / ERROR / IGNORE modes to write_delta
  debug_parquet_read_spread.py
  demo_spread_streaming_hang.py
  python/ray/data/_internal/datasource/delta/adapter.py
  python/ray/data/_internal/datasource/delta/committer.py
  python/ray/data/dataset.py
  python/ray/data/tests/datasource/test_write_delta.py
Due: docstyle, check-import-order

[data] PR 7: Add cloud auto-detection, app-transaction idempotency, and orphan cleanup to write_delta
  pyrefly.toml
  python/ray/data/_internal/datasource/delta/adapter.py
  python/ray/data/_internal/datasource/delta/committer.py
  python/ray/data/_internal/datasource/delta/utils.py
  python/ray/data/_internal/datasource/iceberg_adapter.py
  python/ray/data/_internal/datasource/iceberg_datasink.py
  python/ray/data/_internal/datasource/table/__init__.py
  python/ray/data/_internal/datasource/table/adapter.py
  python/ray/data/context.py
  python/ray/data/dataset.py
  python/ray/data/tests/datasource/test_iceberg.py
  python/ray/data/tests/datasource/test_table_datasink.py
  python/ray/data/tests/datasource/test_write_delta.py
Due: docstyle, check-import-order

[data] PR 2: Refactor IcebergDatasink onto TableDatasink + IcebergAdapter
  ci/lint/pyrefly-excluded-files.txt
  python/ray/data/_internal/datasource/iceberg_adapter.py
  python/ray/data/_internal/datasource/iceberg_datasink.py
  python/ray/data/tests/datasource/test_iceberg.py
Due: docstyle, check-import-order

[core] [1/2] Topology aware scheduling public API (#63479)
  python/ray/_raylet.pyx
  python/ray/dashboard/client/src/components/PlacementGroupTable.component.test.tsx
  python/ray/dashboard/client/src/components/PlacementGroupTable.tsx
  python/ray/dashboard/client/src/type/placementGroup.ts
  python/ray/includes/common.pxd
  python/ray/includes/common.pxi
  python/ray/tests/BUILD.bazel
  python/ray/tests/test_bundle_label_selector.py
  python/ray/tests/test_placement_group.py
  python/ray/tests/test_state_api.py
  python/ray/tests/test_state_api_manager.py
  python/ray/tests/test_topology_strategy.py
  python/ray/util/placement_group.py
  python/ray/util/state/common.py
  src/ray/common/constants.h
  src/ray/common/placement_group.h
  src/ray/core_worker/common.h
  src/ray/core_worker/core_worker.cc
  src/ray/gcs/gcs_autoscaler_state_manager.cc
  src/ray/gcs/gcs_placement_group.cc
  src/ray/gcs/gcs_placement_group.h
  src/ray/gcs/gcs_placement_group_manager.cc
  src/ray/gcs/gcs_placement_group_scheduler.cc
  src/ray/gcs/tests/gcs_autoscaler_state_manager_test.cc
  src/ray/protobuf/common.proto
  src/ray/protobuf/gcs.proto
  src/ray/raylet/scheduling/policy/label_domain_bundle_scheduling_policy.h
Due: docstyle, check-import-order, check-cpp-files-inclusion

[Core] Make RDT tensor transport metadata extraction asynchronous
  python/ray/_private/serialization.py
  python/ray/_raylet.pyx
  python/ray/experimental/rdt/rdt_store.py
  python/ray/includes/common.pxd
  python/ray/tests/rdt/test_rdt_custom.py
  src/ray/common/ray_object.h
  src/ray/core_worker/common.cc
  src/ray/core_worker/task_execution/task_receiver.cc
  src/ray/core_worker/task_execution/task_receiver.h
Due: docstyle, check-import-order, check-cpp-files-inclusion

[core] [2/2] Topology aware scheduling public API docs change (#63740)
  doc/source/ray-core/scheduling/placement-group.rst
Due: none

Add nvidia 13 as a requirement
  python/deplocks/base_extra_testdeps/ray-llm-base_extra_testdeps_py3.14.lock
  release/ray_release/byod/requirements_llm_byod_3.14.txt
Due: none

[Data] DataSourceV2: row-group-aware Parquet chunking (#64301)
  ci/lint/pyrefly-excluded-files.txt
  python/ray/data/_internal/datasource_v2/chunkers/file_chunker.py
  python/ray/data/_internal/datasource_v2/chunkers/parquet_file_chunking_utils.py
  python/ray/data/_internal/datasource_v2/listing/file_indexer.py
  python/ray/data/_internal/datasource_v2/tests/test_parquet_datasource_v2.py
  python/ray/data/context.py
  python/ray/data/tests/unit/datasource_v2/test_file_chunker.py
  python/ray/data/tests/unit/datasource_v2/test_file_indexer.py
Due: docstyle, check-import-order

[Data] New `Catalog` Abstraction and Unity Catalog Read Consolidation (#64193)
  doc/source/data/api/loading_data.rst
  python/ray/data/BUILD.bazel
  python/ray/data/__init__.py
  python/ray/data/_internal/datasource/uc_datasource.py
  python/ray/data/catalog.py
  python/ray/data/read_api.py
  python/ray/data/tests/datasource/test_uc_datasource.py
  python/ray/data/tests/test_catalog.py
Due: docstyle, check-import-order

fix(data): add missing Optional and return type annotations to aggregation API
  python/ray/data/aggregate.py
  python/ray/data/grouped_data.py
Due: docstyle, check-import-order

Fix Serve ResNet
  release/serve_tests/workloads/serve_resnet_benchmark.py
Due: docstyle, check-import-order

[ci] Refresh stale .buildkite/README and remove dead ci_tags_from_change.sh
  .buildkite/README.md
  ci/ci_tags_from_change.sh
Due: none

Revert vllm to 0.22.0 with py 3.14 support
  python/deplocks/base_deps/ray_base_deps_tpu_py3.14.lock
  python/deplocks/base_extra_testdeps/ray-base_extra_testdeps_py3.14.lock
  python/deplocks/base_extra_testdeps/ray-llm-base_extra_testdeps_py3.14.lock
  python/deplocks/llm/ray_py314_cpu.lock
  python/deplocks/llm/ray_py314_cu128.lock
  python/deplocks/llm/ray_test_py314_cpu.lock
  python/deplocks/llm/ray_test_py314_cu128.lock
  python/deplocks/llm/rayllm_py314_cpu.lock
  python/deplocks/llm/rayllm_py314_cu128.lock
  python/deplocks/llm/rayllm_subset_py314_cu128.lock
  python/deplocks/llm/rayllm_test_py314_cpu.lock
  python/deplocks/llm/rayllm_test_py314_cu128.lock
  python/deplocks/ray-torch/ray-torch-cu128_base_py3.14.lock
  python/requirements/llm/llm-requirements.txt
  python/setup.py
  release/ray_release/byod/llm_batch/llm_batch_single_node_benchmark_py314_cu128.lock
Due: docstyle, check-import-order

[Data] Add docstring explaining MapTransformCallable type change for CustomOpStats
  python/ray/data/_internal/execution/operators/map_transformer.py
Due: docstyle, check-import-order

[serve] Track actor fallback_strategy on DeploymentSchedulingInfo (#64346)
  python/ray/serve/_private/deployment_scheduler.py
Due: docstyle, check-import-order

Fix tests
  release/llm_tests/kv_router_test/test_kv_event_ingestion.py
  release/llm_tests/kv_router_test/test_kv_events.py
Due: docstyle, check-import-order

[Data] Add custom operator stats to capture worker-side Ray Data metrics during task execution (#64221)
  python/ray/data/_internal/execution/operators/map_operator.py
  python/ray/data/_internal/execution/operators/map_transformer.py
  python/ray/data/block.py
  python/ray/data/tests/test_stats.py
Due: docstyle, check-import-order

[Data] Background block-metadata fetch with two modes behind a MetadataFetcher interface
  python/ray/data/_internal/execution/interfaces/physical_operator.py
  python/ray/data/_internal/execution/metadata_fetcher.py
  python/ray/data/_internal/execution/metadata_prefetcher.py
  python/ray/data/_internal/execution/streaming_executor.py
  python/ray/data/_internal/execution/streaming_executor_state.py
  python/ray/data/tests/test_streaming_executor.py
Due: docstyle, check-import-order

[docs][serve] Fix Serve LLM examples sidebar doc links 404 (#64209)
  doc/source/custom_directives.py
Due: none

addressing doc error
  doc/source/train/api/api.rst
  python/ray/train/v2/_internal/execution/preemption.py
Due: docstyle, check-import-order, check-train-circular-imports

[data] remove cluster autoscaler v1
  ci/lint/pyrefly-excluded-files.txt
  python/ray/data/BUILD.bazel
  python/ray/data/_internal/cluster_autoscaler/__init__.py
  python/ray/data/_internal/cluster_autoscaler/default_cluster_autoscaler.py
  python/ray/data/tests/test_actor_autoscaler.py
  python/ray/train/_internal/data_config.py
  python/ray/train/v2/tests/test_data_integration.py
  python/ray/train/v2/tests/test_data_resource_cleanup.py
Due: docstyle, check-import-order, check-train-circular-imports

rebase
  ci/lint/pyrefly-excluded-files.txt
  python/ray/data/BUILD.bazel
  python/ray/data/_internal/cluster_autoscaler/__init__.py
  python/ray/train/v2/tests/test_data_resource_cleanup.py
Due: docstyle, check-import-order, check-train-circular-imports

rebase
  python/ray/train/v2/tests/test_data_resource_cleanup.py
Due: docstyle, check-import-order, check-train-circular-imports

Integrate more realistic benchmark
  python/ray/_private/ray_perf.py
  release/benchmarks/object_store/callback_throughput.yaml
  release/benchmarks/object_store/test_callback_throughput.py
  release/release_tests.yaml
Due: docstyle, check-import-order

rebase
  python/ray/data/tests/test_actor_autoscaler.py
Due: docstyle, check-import-order

[Data] Make minor improvements to Ray Data OOM docs (#64297)
  doc/source/data/data-internals.rst
  doc/source/data/how-to-avoid-ooms.md
Due: none

[Data] Add guide on how to avoid out-of-memory errors (OOMs) (#64046)
  .vale/styles/config/vocabularies/Data/accept.txt
  .vale/styles/config/vocabularies/General/accept.txt
  doc/source/data/data-internals.rst
  doc/source/data/data-memory-model-1.svg
  doc/source/data/data-memory-model-2.svg
  doc/source/data/data-memory-model-3.svg
  doc/source/data/how-to-avoid-ooms.md
  doc/source/data/node-count.png
  doc/source/data/performance-tips.rst
  doc/source/data/ray-oom-kills-chart.png
  doc/source/data/unexpected-system-level-chart.png
  doc/source/data/user-guide.rst
Due: none

Fix release configs
  release/release_data_tests.yaml
  release/release_tests.yaml
Due: none

[Doc] Add kuberay autoscaler command overwrite (#63627)
  doc/source/cluster/kubernetes/user-guides/configuring-autoscaling.md
Due: none

[Autoscaler] Handle deleted node types in metrics reporter (#64184)
  python/ray/autoscaler/v2/metrics_reporter.py
  python/ray/autoscaler/v2/tests/test_metrics_reporter.py
Due: docstyle, check-import-order

Fix tests
  release/llm_tests/kv_router_test/test_kv_events.py
Due: docstyle, check-import-order
