Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

check-train-circular-imports:
  name: Check Ray Train circular imports
  entry: python python/ray/train/lint/check_circular_imports.py
  language: system
  pass_filenames: false
  args:
  - --patch_dir
  - ray/train/v2

lower batch size
  release/train_tests/benchmark/simple_ingest_benchmark.py
Due: docstyle, check-import-order

revert old changes and improve vendored code
  python/ray/_private/runtime_env/agent/main.py
  python/ray/_private/workers/default_worker.py
  python/ray/dashboard/agent.py
  python/ray/includes/setproctitle.pxi
  src/ray/thirdparty/setproctitle/spt_setup.c
Due: docstyle, check-import-order

[data] Support multiple datasets in a cluster (1/2): Pipe DataContext.ExecutionOptions.label_selector to task submissions (#63331)
  python/ray/data/_internal/datasource/parquet_datasource.py
  python/ray/data/_internal/execution/interfaces/execution_options.py
  python/ray/data/_internal/execution/operators/actor_pool_map_operator.py
  python/ray/data/_internal/execution/operators/hash_shuffle.py
  python/ray/data/_internal/execution/operators/limit_operator.py
  python/ray/data/_internal/execution/operators/map_operator.py
  python/ray/data/_internal/execution/operators/output_splitter.py
  python/ray/data/_internal/execution/operators/zip_operator.py
  python/ray/data/_internal/execution/util.py
  python/ray/data/_internal/gpu_shuffle/hash_shuffle.py
  python/ray/data/_internal/planner/aggregate.py
  python/ray/data/_internal/planner/checkpoint/plan_read_op.py
  python/ray/data/_internal/planner/exchange/sort_task_spec.py
  python/ray/data/_internal/planner/exchange/split_repartition_task_scheduler.py
  python/ray/data/_internal/planner/random_shuffle.py
  python/ray/data/_internal/planner/repartition.py
  python/ray/data/_internal/planner/sort.py
  python/ray/data/_internal/split.py
  python/ray/data/checkpoint/checkpoint_filter.py
  python/ray/data/dataset.py
  python/ray/data/datasource/file_meta_provider.py
  python/ray/data/random_access_dataset.py
  python/ray/data/read_api.py
  python/ray/data/tests/test_actor_pool_map_operator.py
  python/ray/data/tests/test_checkpoint.py
  python/ray/data/tests/test_hash_shuffle.py
  python/ray/data/tests/test_task_pool_map_operator.py
  python/ray/data/tests/test_util.py
Due: docstyle, check-import-order

[Data][Release] Add datasketches to py3.10 BYOD image
  python/deplocks/base_extra_testdeps/ray-base_extra_testdeps_py3.10.lock
  python/deplocks/base_extra_testdeps/ray-gpu-base_extra_testdeps_py3.10.lock
  release/ray_release/byod/requirements_byod_3.10.in
  release/ray_release/byod/requirements_byod_gpu_3.10.in
Due: none

Update ray_actor_lifecycle_event_test.cc
  src/ray/observability/tests/ray_actor_lifecycle_event_test.cc
Due: check-cpp-files-inclusion

[data] Repartition in text embeddings benchmark for V2 reads
  release/nightly_tests/dataset/text_embeddings_benchmark.py
Due: docstyle, check-import-order

sync
  doc/source/conf.py
Due: none

[data] AutoscalingCoordinator _tick loop respects subcluster boundaries
  python/ray/data/_internal/cluster_autoscaler/__init__.py
  python/ray/data/_internal/cluster_autoscaler/default_autoscaling_coordinator.py
  python/ray/data/_internal/cluster_autoscaler/default_cluster_autoscaler_v2.py
  python/ray/data/_internal/execution/interfaces/execution_options.py
  python/ray/data/tests/test_autoscaling_coordinator.py
Due: docstyle, check-import-order

move tests and remove unnecessary env var
  python/ray/data/_internal/cluster_autoscaler/__init__.py
  python/ray/data/_internal/cluster_autoscaler/default_autoscaling_coordinator.py
  python/ray/data/_internal/cluster_autoscaler/default_cluster_autoscaler_v2.py
  python/ray/data/tests/test_autoscaling_coordinator.py
  python/ray/data/tests/test_default_cluster_autoscaler_v2.py
Due: docstyle, check-import-order

address pr feedback
  python/ray/data/_internal/cluster_autoscaler/default_autoscaling_coordinator.py
  python/ray/data/tests/test_autoscaling_coordinator.py
Due: docstyle, check-import-order

safeguard against None.get
  python/ray/data/_internal/cluster_autoscaler/default_autoscaling_coordinator.py
Due: docstyle, check-import-order

rebase with upstream
  .vale/styles/config/vocabularies/Data/accept.txt
  python/ray/data/__init__.py
  python/ray/data/_internal/datasource/zarrv2_datasource.py
  python/ray/data/read_api.py
  python/ray/data/tests/datasource/test_zarrv2.py
Due: docstyle, check-import-order

linting fixes
  python/ray/data/__init__.py
  python/ray/data/read_api.py
Due: docstyle, check-import-order

lint checking
  pyrefly.toml
  python/ray/data/_internal/datasource/zarrv2_datasource.py
  python/ray/data/tests/datasource/test_zarrv2.py
Due: docstyle, check-import-order

linting
  python/ray/data/tests/datasource/test_zarrv2.py
Due: docstyle, check-import-order

Revert "[Doc] merge autoscaler-command.md into pod command overwrite"
  doc/source/cluster/kubernetes/user-guides.md
  doc/source/cluster/kubernetes/user-guides/autoscaler-command.md
  doc/source/cluster/kubernetes/user-guides/pod-command.md
Due: none

[Doc] merge into configuring-autoscaling.md
  doc/source/cluster/kubernetes/user-guides.md
  doc/source/cluster/kubernetes/user-guides/autoscaler-command.md
  doc/source/cluster/kubernetes/user-guides/configuring-autoscaling.md
Due: none

debugging tests
  python/ray/data/tests/datasource/test_zarrv2.py
Due: docstyle, check-import-order

[autoscaler] Remove unrelated data changes
  python/ray/data/tests/unit/test_parquet_schema_inference.py
  release/nightly_tests/dataset/fixed_size_2000_cpu_compute.yaml
  release/nightly_tests/dataset/fixed_size_5000_cpu_compute.yaml
  release/nightly_tests/dataset/fixed_size_500_cpu_compute.yaml
Due: docstyle, check-import-order

pubsub: remove notification staleness diagnostics
  src/ray/pubsub/BUILD.bazel
  src/ray/pubsub/subscriber.cc
  src/ray/pubsub/subscriber.h
  src/ray/pubsub/tests/subscriber_test.cc
Due: check-cpp-files-inclusion

fix issue
  python/ray/data/dataset.py
Due: docstyle, check-import-order

doc
  doc/source/ray-core/scheduling/placement-group.rst
Due: none

fix
  doc/source/ray-core/scheduling/placement-group.rst
Due: none

fix
  python/ray/dashboard/client/src/components/PlacementGroupTable.tsx
Due: none

Update llm locks
  python/deplocks/llm/rayllm_py312_cpu.lock
  python/deplocks/llm/rayllm_py312_cu130.lock
  python/deplocks/llm/rayllm_test_py312_cpu.lock
  python/deplocks/llm/rayllm_test_py312_cu130.lock
Due: none

Update `requirements_py310.txt`
  release/requirements_py310.txt
Due: none

build requirements_py310.txt on linux
  release/requirements_py310.txt
Due: none

Remove return in finally block (Python 3.14 SyntaxWarning)
  python/ray/_common/usage/usage_lib.py
Due: docstyle, check-import-order

[Core] Add log in HandleKillLocalActor to diagnose orphan replicas
  src/ray/raylet/node_manager.cc
Due: check-cpp-files-inclusion

[Data][Release] Move datasketches to docker/base-extra
  docker/base-extra/requirements.in
  python/deplocks/base_extra/ray_base_extra_py3.10.lock
  python/deplocks/base_extra/ray_base_extra_py3.11.lock
  python/deplocks/base_extra/ray_base_extra_py3.12.lock
  python/deplocks/base_extra/ray_base_extra_py3.13.lock
  python/deplocks/base_extra/ray_base_extra_py3.14.lock
  python/deplocks/base_extra_testdeps/ray-base_extra_testdeps_py3.10.lock
  python/deplocks/base_extra_testdeps/ray-base_extra_testdeps_py3.11.lock
  python/deplocks/base_extra_testdeps/ray-base_extra_testdeps_py3.12.lock
  python/deplocks/base_extra_testdeps/ray-base_extra_testdeps_py3.13.lock
  python/deplocks/base_extra_testdeps/ray-base_extra_testdeps_py3.14.lock
  python/deplocks/base_extra_testdeps/ray-gpu-base_extra_testdeps_py3.10.lock
  python/deplocks/base_extra_testdeps/ray-llm-base_extra_testdeps_py3.11.lock
  python/deplocks/base_extra_testdeps/ray-llm-base_extra_testdeps_py3.12.lock
  python/deplocks/base_extra_testdeps/ray-ml-base_extra_testdeps_py3.10.lock
  release/ray_release/byod/requirements_byod_3.10.in
  release/ray_release/byod/requirements_byod_gpu_3.10.in
Due: none

Fix gradio doc-code and update matplotlib version for numpy>=2
  doc/source/serve/doc_code/gradio-integration-parallel.py
  doc/source/serve/doc_code/gradio-integration.py
  doc/source/serve/doc_code/gradio-original.py
  python/deplocks/base_extra_testdeps/ray-ml-base_extra_testdeps_py3.10.lock
  python/requirements_compiled.txt
Due: none

adding retries for template fetch
  doc/source/conf.py
Due: none

upgrading all templates on post release
  .buildkite/release-automation/gen_cursor_template_upgrade.py
  .buildkite/release-automation/post_release.rayci.yml
Due: docstyle, check-import-order

Export MOBILINT_ARIES and MOBILINT_REGULUS from ray.util.accelerators
  python/ray/util/accelerators/__init__.py
Due: docstyle, check-import-order

fix: Prevent tarfile path traversal in Tune and Prometheus installer
  python/ray/dashboard/modules/metrics/install_and_start_prometheus.py
  python/ray/tune/tests/test_util_file_transfer.py
  python/ray/tune/utils/file_transfer.py
Due: docstyle, check-import-order

fix: validate tar symlink member targets
  python/ray/dashboard/modules/metrics/install_and_start_prometheus.py
  python/ray/tune/tests/test_util_file_transfer.py
  python/ray/tune/utils/file_transfer.py
Due: docstyle, check-import-order

fix: validate tar symlink member targets
  python/ray/_private/tar_utils.py
  python/ray/dashboard/modules/metrics/install_and_start_prometheus.py
  python/ray/tune/tests/test_util_file_transfer.py
  python/ray/tune/utils/file_transfer.py
Due: docstyle, check-import-order

[dashboard] Guard against non-positive num_cpus in cpu_percent
  python/ray/dashboard/k8s_utils.py
Due: docstyle, check-import-order

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
