Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)

fix
  src/ray/raylet/BUILD.bazel
  src/ray/raylet/scheduling/tests/BUILD.bazel
Due: none

[core] Fix flaky `shutdown_coordinator_test`
  src/ray/core_worker/tests/shutdown_coordinator_test.cc
Due: check-cpp-files-inclusion

p
  release/ray_release/buildkite/settings.py
  release/ray_release/scripts/build_pipeline.py
Due: docstyle, check-import-order

Fix dag test
  python/ray/data/_internal/execution/operators/actor_pool_map_operator.py
Due: docstyle, check-import-order

removed stress test
  python/ray/tests/test_gpu_objects_gloo.py
Due: docstyle, check-import-order

fix
  src/ray/gcs/gcs_server/gcs_server.cc
  src/ray/gcs/gcs_server/gcs_server.h
Due: check-cpp-files-inclusion

fix
  src/ray/gcs/gcs_server/gcs_server.cc
Due: check-cpp-files-inclusion

[Data] Fix `UnboundLocalError` when `read_parquet` with columns and no partitioning (#55820)
  python/ray/data/_internal/datasource/parquet_datasource.py
  python/ray/data/tests/test_parquet.py
Due: docstyle, check-import-order

[serve] install httpx for running container runtime env tests (#55869)
  ci/docker/runtime_env_container/Dockerfile
Due: none

Apply suggestions from code review
  python/ray/dashboard/modules/metrics/dashboards/serve_llm_dashboard_panels.py
Due: docstyle, check-import-order

fix
  src/ray/gcs/gcs_server/BUILD.bazel
  src/ray/gcs/gcs_server/gcs_resource_manager.cc
  src/ray/gcs/gcs_server/gcs_resource_manager.h
  src/ray/gcs/gcs_server/grpc_service_interfaces.h
  src/ray/gcs/gcs_server/grpc_services.cc
  src/ray/gcs/gcs_server/grpc_services.h
  src/ray/rpc/gcs/gcs_rpc_server.h
Due: check-cpp-files-inclusion

fix
  src/ray/gcs/gcs_server/BUILD.bazel
Due: none

fix
  src/ray/gcs/gcs_server/BUILD.bazel
  src/ray/gcs/gcs_server/gcs_node_manager.h
  src/ray/gcs/gcs_server/gcs_resource_manager.h
Due: check-cpp-files-inclusion

fix
  src/ray/gcs/gcs_server/BUILD.bazel
  src/ray/gcs/gcs_server/gcs_node_manager.h
Due: check-cpp-files-inclusion

fix
  src/ray/gcs/gcs_server/grpc_services.h
Due: check-cpp-files-inclusion

router tests
  python/ray/serve/tests/unit/test_router.py
Due: docstyle, check-import-order

whitespace
  python/ray/serve/_private/router.py
Due: docstyle, check-import-order

fix
  src/ray/gcs/gcs_server/BUILD.bazel
  src/ray/gcs/gcs_server/gcs_job_manager.cc
  src/ray/gcs/gcs_server/gcs_job_manager.h
  src/ray/gcs/gcs_server/grpc_service_interfaces.h
  src/ray/gcs/gcs_server/grpc_services.cc
  src/ray/gcs/gcs_server/grpc_services.h
  src/ray/rpc/gcs/gcs_rpc_server.h
Due: check-cpp-files-inclusion

fix
  src/ray/gcs/gcs_server/BUILD.bazel
  src/ray/gcs/gcs_server/gcs_server.cc
  src/ray/gcs/gcs_server/grpc_services.cc
  src/ray/gcs/gcs_server/grpc_services.h
Due: check-cpp-files-inclusion

fix
  src/ray/gcs/gcs_server/gcs_server.cc
  src/ray/gcs/gcs_server/grpc_services.cc
  src/ray/gcs/gcs_server/grpc_services.h
Due: check-cpp-files-inclusion

Update python/ray/data/_internal/stats.py
  python/ray/data/_internal/stats.py
Due: docstyle, check-import-order

add test
  release/release_tests.yaml
Due: none

fix
  src/ray/gcs/gcs_server/BUILD.bazel
  src/ray/gcs/gcs_server/gcs_server.cc
  src/ray/gcs/gcs_server/grpc_service_interfaces.h
  src/ray/gcs/gcs_server/grpc_services.cc
  src/ray/gcs/gcs_server/grpc_services.h
  src/ray/gcs/gcs_server/runtime_env_handler.h
  src/ray/rpc/gcs/gcs_rpc_server.h
Due: check-cpp-files-inclusion

fix
  src/ray/gcs/gcs_server/BUILD.bazel
  src/ray/gcs/gcs_server/runtime_env_handler.h
Due: check-cpp-files-inclusion

Fix resource manager test
  python/ray/data/_internal/execution/operators/actor_pool_map_operator.py
Due: docstyle, check-import-order

clean up prints
  python/ray/experimental/gpu_object_manager/gpu_object_manager.py
  python/ray/tests/test_gpu_objects_gloo.py
  python/ray/tests/test_gpu_objects_nccl.py
Due: docstyle, check-import-order

[core] Remove unnecessary `gcs_client` dependency (#55883)
  src/ray/raylet/BUILD.bazel
  src/ray/raylet/scheduling/BUILD.bazel
  src/ray/raylet/scheduling/local_resource_manager.cc
  src/ray/raylet/scheduling/local_resource_manager.h
  src/ray/raylet/scheduling/tests/BUILD.bazel
Due: check-cpp-files-inclusion

renaming lock_files to deplocks
  ci/docker/llm.build.Dockerfile
  ci/docker/llm.build.wanda.yaml
  ci/docker/ray-llm.base.wanda.yaml
  ci/pipeline/test_rules.txt
  ci/raydepsets/rayllm.depsets.yaml
  ci/test_compile_llm_requirements.sh
  doc/source/ray-overview/examples/e2e-audio/requirements.txt
  docker/ray-llm/Dockerfile
  python/deplocks/llm/ray_py311_cpu.lock
  python/deplocks/llm/ray_py311_cu121.lock
  python/deplocks/llm/ray_py311_cu128.lock
  python/deplocks/llm/ray_test_py311_cpu.lock
  python/deplocks/llm/ray_test_py311_cu121.lock
  python/deplocks/llm/ray_test_py311_cu128.lock
  python/deplocks/llm/rayllm_py311_cpu.lock
  python/deplocks/llm/rayllm_py311_cu121.lock
  python/deplocks/llm/rayllm_py311_cu128.lock
  python/deplocks/llm/rayllm_test_py311_cpu.lock
  python/deplocks/llm/rayllm_test_py311_cu121.lock
  python/deplocks/llm/rayllm_test_py311_cu128.lock
Due: none

fix
  src/ray/gcs/gcs_server/tests/gcs_server_test_util.h
Due: check-cpp-files-inclusion

fix
  src/ray/gcs/gcs_server/tests/BUILD.bazel
Due: none

[ci] raydepsets: remove build_arg_sets arg from raydepsets (#55852)
  ci/raydepsets/cli.py
Due: docstyle, check-import-order

lint
  ci/lint/pydoclint-baseline.txt
Due: none

added warning for inter actor
  python/ray/experimental/gpu_object_manager/gpu_object_manager.py
Due: docstyle, check-import-order

tfrecords test
  python/ray/data/_internal/arrow_ops/transform_pyarrow.py
Due: docstyle, check-import-order

[core] Move create call / receiving off of execution io_context
  src/ray/rpc/server_call.h
Due: check-cpp-files-inclusion

lint
  python/ray/experimental/gpu_object_manager/gpu_object_store.py
Due: docstyle, check-import-order

Fix panel alignment
  python/ray/dashboard/modules/metrics/dashboards/serve_llm_dashboard_panels.py
Due: docstyle, check-import-order
