Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

remove static ray cluster without kuberay
  doc/source/cluster/kubernetes/user-guides.md
  doc/source/cluster/kubernetes/user-guides/static-ray-cluster-without-kuberay.md
  doc/source/ray-core/fault_tolerance/gcs.rst
Due: none

fix minor mistake
  doc/source/cluster/kubernetes/k8s-ecosystem/ingress.md
Due: none

address feedback: abort with workergroupcallback, clean up tests/comments
  python/ray/train/v2/_internal/callbacks/state_manager.py
  python/ray/train/v2/_internal/execution/callback.py
  python/ray/train/v2/_internal/execution/controller/controller.py
  python/ray/train/v2/_internal/execution/controller/state.py
  python/ray/train/v2/_internal/execution/worker_group/worker_group.py
  python/ray/train/v2/api/data_parallel_trainer.py
  python/ray/train/v2/tests/test_controller.py
  python/ray/train/v2/tests/test_worker_group.py
Due: docstyle, check-import-order

fix doc strings to state `finalize` instead of `_finalize`
  python/ray/data/aggregate.py
Due: docstyle, check-import-order

[Serve] Check multiple FastAPI ingress deployments in a single application
  python/ray/serve/_private/application_state.py
  python/ray/serve/tests/test_fastapi.py
Due: docstyle, check-import-order

Extract multiple app check to seperate API
  python/ray/serve/_private/application_state.py
Due: docstyle, check-import-order

Remove unused docs_path
  python/ray/serve/_private/application_state.py
  python/ray/serve/_private/client.py
  python/ray/serve/_private/controller.py
  python/ray/serve/_private/deploy_utils.py
  python/ray/serve/_private/deployment_info.py
  python/ray/serve/_private/replica.py
  python/ray/serve/deployment.py
  python/ray/serve/tests/unit/test_application_state.py
Due: docstyle, check-import-order

[core] fix task to task_
  src/ray/raylet/local_task_manager.cc
Due: check-cpp-files-inclusion

[Doc] Small mistake in kuberay ingress (#53834)
  doc/source/cluster/kubernetes/k8s-ecosystem/ingress.md
Due: none

[Doc] Remove "Deploying a static Ray cluster without KubeRay" (#53833)
  doc/source/cluster/kubernetes/user-guides.md
  doc/source/cluster/kubernetes/user-guides/static-ray-cluster-without-kuberay.md
  doc/source/ray-core/fault_tolerance/gcs.rst
Due: none

[core] fix shadowed variables
  src/ray/raylet/local_task_manager.cc
  src/ray/raylet/main.cc
Due: check-cpp-files-inclusion

[devx] Fix 'uv run' command line parsing
  python/ray/_private/runtime_env/uv_runtime_env_hook.py
Due: docstyle, check-import-order

update
  doc/source/cluster/kubernetes/configs/xgboost-benchmark-autoscaler.yaml
  doc/source/cluster/kubernetes/configs/xgboost-benchmark.yaml
  doc/source/cluster/kubernetes/examples.md
  doc/source/cluster/kubernetes/examples/ml-example.md
Due: none

update
  doc/source/cluster/doc_code/pytorch_training_e2e_submit.py
  doc/source/cluster/kubernetes/configs/ray-cluster.gpu.yaml
  doc/source/cluster/kubernetes/examples/gpu-training-example.md
Due: none

update
  doc/source/cluster/kubernetes/examples.md
Due: none

remove
  doc/source/cluster/kubernetes/configs/migration-example.yaml
  doc/source/cluster/kubernetes/configs/static-ray-cluster-networkpolicy.yaml
  doc/source/cluster/kubernetes/configs/static-ray-cluster.with-fault-tolerance.yaml
Due: none

fixes
  python/ray/_private/runtime_env/uv_runtime_env_hook.py
Due: docstyle, check-import-order

lint
  python/ray/_private/runtime_env/uv_runtime_env_hook.py
Due: docstyle, check-import-order

add regression test
  python/ray/_private/runtime_env/uv_runtime_env_hook.py
  python/ray/tests/test_runtime_env_uv_run.py
Due: docstyle, check-import-order

last changes to script
  ci/ray_ci/automation/doc_test_cov/main.py
  ci/ray_ci/automation/doc_test_cov/parser.py
  ci/ray_ci/automation/doc_test_cov/test_results.py
Due: docstyle, check-import-order

removing comments
  ci/ray_ci/automation/doc_test_cov/buildkite.py
  ci/ray_ci/automation/doc_test_cov/parser.py
  ci/ray_ci/automation/doc_test_cov/test_results.py
Due: docstyle, check-import-order

updating readme
  ci/ray_ci/automation/doc_test_cov/README.md
Due: none

[core] Add a config to control whether to construct a default concurrency group executor when max-concurrency=1 and there is no other concurrency group for an actor
  src/ray/core_worker/transport/thread_pool.h
Due: check-cpp-files-inclusion

[serve] Revert request timeout from serve instance fixtures (#53809)
  python/ray/serve/tests/conftest.py
  python/ray/serve/tests/test_controller.py
Due: docstyle, check-import-order

[Doc][KubeRay] Update KubeRay operator installation reference
  doc/source/cluster/kubernetes/examples/modin-example.md
Due: none

[RuntimeEnv] Modify podman command (#602)
  python/ray/_private/runtime_env/constants.py
  python/ray/_private/runtime_env/image_uri.py
  python/ray/_private/utils.py
Due: docstyle, check-import-order

[core] Add a config to control whether to construct a default concurrency group executor when max-concurrency=1 and there is no other concurrency group for an actor
  src/ray/core_worker/transport/concurrency_group_manager.cc
  src/ray/core_worker/transport/thread_pool.h
Due: check-cpp-files-inclusion

[core] Add a config to control whether to construct a default concurrency group executor when max-concurrency=1 and there is no other concurrency group for an actor
  src/ray/common/ray_config_def.h
  src/ray/core_worker/fiber.h
  src/ray/core_worker/transport/concurrency_group_manager.cc
  src/ray/core_worker/transport/thread_pool.h
Due: check-cpp-files-inclusion

remove devapi
  python/ray/serve/_private/test_utils.py
Due: docstyle, check-import-order

update
  doc/source/cluster/kubernetes/user-guides/rayservice-no-ray-serve-replica.md
Due: none

update
  doc/source/cluster/kubernetes/examples.md
  doc/source/cluster/kubernetes/examples/vllm-rayservice.md
Due: none

[core] Add switch for the cache of runtime env
  python/ray/_private/runtime_env/agent/runtime_env_agent.py
  python/ray/runtime_env/runtime_env.py
  python/ray/tests/test_runtime_env.py
  src/ray/common/task/task_spec.cc
  src/ray/gcs/gcs_server/gcs_job_manager.cc
  src/ray/protobuf/export_runtime_env.proto
  src/ray/protobuf/runtime_env_common.proto
Due: docstyle, check-import-order, check-cpp-files-inclusion

update
  doc/source/cluster/kubernetes/k8s-ecosystem/scheduler-plugins.md
Due: none

rename flag and remove the fatal exit from agent manager
  src/ray/raylet/agent_manager.cc
  src/ray/raylet/node_manager.cc
  src/ray/raylet/node_manager.h
Due: check-cpp-files-inclusion

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)
