Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)

[ci] remove old wheel building logic (#56375)
  ci/ci.sh
  ci/ray_ci/macos/macos_ci_build.sh
Due: none

[wheel] remove nvm from manylinux build
  ci/build/build-manylinux-forge.sh
  ci/build/build-manylinux-ray.sh
  ci/ci.sh
  python/build-wheel-manylinux2014.sh
Due: none

Add test for pending job timeout during raylet creation
  python/ray/dashboard/modules/job/tests/test_job_manager.py
Due: docstyle, check-import-order

update doc string
  python/ray/data/dataset.py
  python/ray/data/grouped_data.py
Due: docstyle, check-import-order

reuse code path
  python/ray/data/_internal/util.py
Due: docstyle, check-import-order

lint
  python/ray/serve/_private/common.py
Due: docstyle, check-import-order

Refactor: Adjust environment variable setting for job timeout test
  python/ray/dashboard/modules/job/tests/test_job_manager.py
Due: docstyle, check-import-order

Remove unused import for `ParquetMetadataProvider` from public API
  python/ray/data/datasource/__init__.py
Due: docstyle, check-import-order

doc
  doc/BUILD.bazel
  doc/source/ray-core/api/direct-transport.rst
  doc/source/ray-core/api/index.rst
  doc/source/ray-core/direct-transport.rst
  doc/source/ray-core/doc_code/direct_transport_gloo.py
  doc/source/ray-core/doc_code/direct_transport_nccl.py
  doc/source/ray-core/doc_code/direct_transport_nixl.py
  python/ray/actor.py
Due: docstyle, check-import-order

rebase with changes in master
  python/ray/dashboard/modules/aggregator/aggregator_agent.py
  python/ray/dashboard/modules/aggregator/multi_consumer_event_buffer.py
  python/ray/dashboard/modules/aggregator/publisher/ray_event_publisher.py
  python/ray/dashboard/modules/aggregator/shared.py
Due: docstyle, check-import-order

[docs] [serve] [llm] Fix serve llm examples (#56382)
  doc/source/serve/examples.yml
  doc/source/serve/tutorials/deployment-serve-llm/README.ipynb
  doc/source/serve/tutorials/deployment-serve-llm/README.md
  doc/source/serve/tutorials/deployment-serve-llm/hybrid-reasoning-llm/README.md
  doc/source/serve/tutorials/deployment-serve-llm/hybrid-reasoning-llm/client_streaming.py
  doc/source/serve/tutorials/deployment-serve-llm/hybrid-reasoning-llm/client_thinking_disabled.py
  doc/source/serve/tutorials/deployment-serve-llm/hybrid-reasoning-llm/client_thinking_enabled.py
  doc/source/serve/tutorials/deployment-serve-llm/hybrid-reasoning-llm/notebook.ipynb
  doc/source/serve/tutorials/deployment-serve-llm/large-size-llm/README.md
  doc/source/serve/tutorials/deployment-serve-llm/large-size-llm/client.py
  doc/source/serve/tutorials/deployment-serve-llm/large-size-llm/notebook.ipynb
  doc/source/serve/tutorials/deployment-serve-llm/medium-size-llm/README.md
  doc/source/serve/tutorials/deployment-serve-llm/medium-size-llm/client.py
  doc/source/serve/tutorials/deployment-serve-llm/medium-size-llm/notebook.ipynb
  doc/source/serve/tutorials/deployment-serve-llm/reasoning-llm/README.md
  doc/source/serve/tutorials/deployment-serve-llm/reasoning-llm/client.py
  doc/source/serve/tutorials/deployment-serve-llm/reasoning-llm/client_streaming.py
  doc/source/serve/tutorials/deployment-serve-llm/reasoning-llm/notebook.ipynb
  doc/source/serve/tutorials/deployment-serve-llm/small-size-llm/README.md
  doc/source/serve/tutorials/deployment-serve-llm/small-size-llm/client.py
  doc/source/serve/tutorials/deployment-serve-llm/small-size-llm/notebook.ipynb
  doc/source/serve/tutorials/deployment-serve-llm/vision-llm/README.md
  doc/source/serve/tutorials/deployment-serve-llm/vision-llm/client_local_image.py
  doc/source/serve/tutorials/deployment-serve-llm/vision-llm/client_url_image.py
  doc/source/serve/tutorials/deployment-serve-llm/vision-llm/notebook.ipynb
Due: none

[bazel] change core BUILD files to BUILD.bazel
  python/ray/_common/tests/BUILD.bazel
  python/ray/_private/BUILD.bazel
  python/ray/_private/runtime_env/BUILD.bazel
  python/ray/autoscaler/BUILD.bazel
  python/ray/autoscaler/aws/BUILD.bazel
  python/ray/autoscaler/azure/BUILD.bazel
  python/ray/autoscaler/gcp/BUILD.bazel
  python/ray/autoscaler/local/BUILD.bazel
  python/ray/autoscaler/v2/BUILD.bazel
  python/ray/dashboard/BUILD.bazel
  python/ray/runtime_env/BUILD.bazel
  python/ray/scripts/BUILD.bazel
  python/ray/util/BUILD.bazel
  python/ray/util/dask/BUILD.bazel
  python/ray/util/dask/tests/BUILD.bazel
  python/setup.py
Due: docstyle, check-import-order

Revert "[core] Correct bytes in flight when objects <5mb (#54349)" (#56387)
  src/ray/common/ray_config_def.h
  src/ray/object_manager/chunk_object_reader.h
  src/ray/object_manager/object_manager.cc
  src/ray/object_manager/object_manager.h
  src/ray/object_manager/push_manager.cc
  src/ray/object_manager/push_manager.h
  src/ray/object_manager/tests/push_manager_test.cc
  src/ray/raylet/main.cc
Due: check-cpp-files-inclusion

test on tpu with xla://
  python/ray/train/torch/config.py
Due: docstyle, check-import-order

[core] Improve docs for custom serialization for exceptions + add test (#56156)
  doc/source/ray-core/objects/serialization.rst
  python/ray/exceptions.py
  python/ray/tests/test_traceback.py
Due: docstyle, check-import-order

update
  doc/source/ray-core/internals/autoscaler-v2.rst
Due: none

fix failing tests + minor refactoring
  python/ray/dashboard/modules/aggregator/aggregator_agent.py
  python/ray/dashboard/modules/aggregator/task_metadata_buffer.py
  python/ray/dashboard/modules/aggregator/tests/test_aggregator_agent.py
  python/ray/dashboard/modules/aggregator/tests/test_ray_event_publisher.py
  python/ray/dashboard/modules/aggregator/tests/test_task_metadata_buffer.py
  python/ray/tests/test_metrics_agent.py
Due: docstyle, check-import-order

fix ruff linting issues
  python/ray/dashboard/modules/aggregator/aggregator_agent.py
  python/ray/dashboard/modules/aggregator/multi_consumer_event_buffer.py
  python/ray/dashboard/modules/aggregator/publisher/async_publisher_client.py
  python/ray/dashboard/modules/aggregator/publisher/ray_event_publisher.py
  python/ray/dashboard/modules/aggregator/tests/test_multi_consumer_event_buffer.py
  python/ray/dashboard/modules/aggregator/tests/test_ray_event_publisher.py
Due: docstyle, check-import-order

add more tests for async inf
  python/ray/serve/task_processor.py
  python/ray/serve/tests/test_task_processor.py
Due: docstyle, check-import-order

[core][gpu objects] Rename GPU objects -> RDT objects in user-facing exceptions (#56396)
  python/ray/_private/serialization.py
  python/ray/experimental/collective/collective_tensor_transport.py
  python/ray/experimental/collective/nixl_tensor_transport.py
  python/ray/experimental/gpu_object_manager/gpu_object_store.py
  python/ray/tests/gpu_objects/test_gpu_objects_gloo.py
Due: docstyle, check-import-order

fixing failing cpp unit tests
  src/fakes/ray/rpc/raylet/BUILD.bazel
  src/fakes/ray/rpc/raylet/raylet_client.h
  src/ray/raylet/tests/BUILD.bazel
  src/ray/raylet/tests/placement_group_resource_manager_test.cc
  src/ray/rpc/BUILD.bazel
  src/ray/rpc/raylet/raylet_client_interface.h
Due: check-cpp-files-inclusion

[bazel] change core BUILD files to BUILD.bazel (#56406)
  python/ray/_common/tests/BUILD.bazel
  python/ray/_private/BUILD.bazel
  python/ray/_private/runtime_env/BUILD.bazel
  python/ray/autoscaler/BUILD.bazel
  python/ray/autoscaler/aws/BUILD.bazel
  python/ray/autoscaler/azure/BUILD.bazel
  python/ray/autoscaler/gcp/BUILD.bazel
  python/ray/autoscaler/local/BUILD.bazel
  python/ray/autoscaler/v2/BUILD.bazel
  python/ray/dashboard/BUILD.bazel
  python/ray/runtime_env/BUILD.bazel
  python/ray/scripts/BUILD.bazel
  python/ray/util/BUILD.bazel
  python/ray/util/dask/BUILD.bazel
  python/ray/util/dask/tests/BUILD.bazel
  python/setup.py
Due: docstyle, check-import-order

review changes
  python/ray/serve/tests/unit/test_deployment_state.py
Due: docstyle, check-import-order

[bazel] rename more BUILD to BUILD.bazel
  python/ray/dag/BUILD.bazel
  python/ray/experimental/BUILD.bazel
  python/ray/tests/BUILD.bazel
  python/ray/tests/horovod/BUILD.bazel
  python/ray/tests/ludwig/BUILD.bazel
  python/ray/tests/modin/BUILD.bazel
  python/ray/tests/unit/BUILD.bazel
Due: none

use correct package name
  src/ray/protobuf/public/events_actor_definition_event.proto
  src/ray/protobuf/public/events_actor_lifecycle_event.proto
Due: none

[bazel] rename train/tune/air BUILD files to BUILD.bazel
  python/ray/air/BUILD.bazel
  python/ray/train/BUILD.bazel
  python/ray/train/v2/BUILD.bazel
  python/ray/tune/BUILD.bazel
Due: none

review changes
  python/ray/serve/_private/deployment_state.py
Due: docstyle, check-import-order

fix build
  src/ray/core_worker/core_worker_process.cc
Due: check-cpp-files-inclusion

review changes
  python/ray/dashboard/modules/serve/serve_head.py
Due: docstyle, check-import-order

[wheel] remove nvm from manylinux build (#56376)
  ci/build/build-manylinux-forge.sh
  ci/build/build-manylinux-ray.sh
  ci/ci.sh
  python/build-wheel-manylinux2014.sh
Due: none

update tests
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/tests/unit/test_deployment_state.py
Due: docstyle, check-import-order

Update llm-requirements.txt
  python/requirements/llm/llm-requirements.txt
Due: none

[bazel] rename train/tune/air BUILD files to BUILD.bazel (#56410)
  python/ray/air/BUILD.bazel
  python/ray/train/BUILD.bazel
  python/ray/train/v2/BUILD.bazel
  python/ray/tune/BUILD.bazel
Due: none

[core] Introduce env var to set rpc failure prob for all rpc's
  src/ray/common/ray_config_def.h
  src/ray/rpc/rpc_chaos.cc
  src/ray/rpc/rpc_chaos.h
Due: check-cpp-files-inclusion

p
  release/ray_release/custom_byod_build_init_helper.py
Due: docstyle, check-import-order

fix build failure
  python/ray/dashboard/modules/aggregator/aggregator_agent.py
  python/ray/dashboard/modules/aggregator/tests/test_aggregator_agent.py
  python/ray/tests/test_http_utils.py
  python/ray/tests/test_metrics_agent.py
Due: docstyle, check-import-order

test
  src/ray/rpc/rpc_chaos.cc
  src/ray/rpc/tests/rpc_chaos_test.cc
Due: check-cpp-files-inclusion

Addressing comments
  src/fakes/ray/object_manager/plasma/fake_plasma_client.h
  src/ray/object_manager/object_manager.cc
  src/ray/object_manager/object_manager.h
  src/ray/object_manager/tests/object_manager_test.cc
  src/ray/raylet/main.cc
Due: check-cpp-files-inclusion

fixing (hopefully last) cpp test failure
  src/ray/raylet/scheduling/tests/BUILD.bazel
Due: none
