Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  doc/external/|
  doc/source/
)
)

Add api reference
  doc/source/ray-core/api/utility.rst
Due: none

updating check command
  .buildkite/dependencies.rayci.yml
Due: none

Fixed visitor to properly carry over `_is_renamed` flag
  python/ray/data/_internal/planner/plan_expression/expression_visitors.py
Due: docstyle, check-import-order

Fixed expression duplication
  python/ray/data/_internal/logical/rules/projection_pushdown.py
Due: docstyle, check-import-order

Make sure rebinding visitor properly
  python/ray/data/_internal/logical/rules/projection_pushdown.py
  python/ray/data/_internal/planner/plan_expression/expression_visitors.py
  python/ray/data/expressions.py
Due: docstyle, check-import-order

Reverting
  python/ray/tests/test_runtime_env_working_dir_3.py
Due: docstyle, check-import-order

`lint`
  python/ray/data/_internal/planner/plan_expression/expression_visitors.py
Due: docstyle, check-import-order

including job env
  .buildkite/dependencies.rayci.yml
Due: none

Remove test_distinct_empty_dataset to fix CI timeout
  python/ray/data/tests/test_distinct.py
Due: docstyle, check-import-order

[Data] Fix MCAP datasource import for better compatibility (#57964)
  python/ray/data/_internal/datasource/mcap_datasource.py
Due: docstyle, check-import-order

updating readme.md
  doc/source/serve/tutorials/deployment-serve-llm/gpt-oss/README.md
Due: none

yaya
  src/ray/gcs/gcs_task_manager.cc
  src/ray/gcs/gcs_task_manager.h
Due: check-cpp-files-inclusion

Fixed typo
  python/ray/data/_internal/planner/plan_expression/expression_evaluator.py
Due: docstyle, check-import-order

fix version mismatch + remove env var by default
  doc/source/train/examples/pytorch/distributing-pytorch/README.ipynb
  doc/source/train/examples/pytorch/distributing-pytorch/README.md
Due: none

[data] Include total memory in aggregator memory calculation (#58002)
  python/ray/data/_internal/execution/operators/hash_shuffle.py
  python/ray/data/_internal/execution/util.py
  python/ray/data/tests/test_executor_resource_management.py
Due: docstyle, check-import-order

updating docgpubuilds to 3.10
  .buildkite/base.rayci.yml
  .buildkite/data.rayci.yml
  .buildkite/serve.rayci.yml
Due: none

remove is_hidden attribute
  python/ray/train/v2/_internal/callbacks/state_manager.py
  python/ray/train/v2/_internal/execution/controller/state.py
Due: docstyle, check-import-order

Fix cluster resource scheduler test
  src/ray/raylet/scheduling/tests/cluster_resource_scheduler_test.cc
Due: check-cpp-files-inclusion

remove dead code
  python/ray/data/_internal/arrow_block.py
  python/ray/data/_internal/pandas_block.py
  python/ray/data/block.py
Due: docstyle, check-import-order

[core][onevent] implement even merge logic at export time
  src/ray/observability/ray_event_recorder.cc
  src/ray/observability/tests/ray_event_recorder_test.cc
Due: check-cpp-files-inclusion

upd
  doc/source/ray-core/direct-transport.rst
Due: none

Apply suggestion from @dayshah
  doc/source/ray-core/direct-transport.rst
Due: none

rename preserve_row_count to udf_modifying_row_count
  python/ray/data/_internal/logical/operators/map_operator.py
  python/ray/data/dataset.py
  python/ray/data/grouped_data.py
  python/ray/data/tests/test_execution_optimizer_limit_pushdown.py
Due: docstyle, check-import-order

[Data] Fix renamed columns to be appropriately dropped from the ouput (#58040)
  python/ray/data/_internal/arrow_block.py
  python/ray/data/_internal/logical/operators/map_operator.py
  python/ray/data/_internal/logical/rules/projection_pushdown.py
  python/ray/data/_internal/pandas_block.py
  python/ray/data/_internal/planner/plan_expression/expression_evaluator.py
  python/ray/data/_internal/planner/plan_expression/expression_visitors.py
  python/ray/data/block.py
  python/ray/data/dataset.py
  python/ray/data/expressions.py
  python/ray/data/tests/test_projection_fusion.py
Due: docstyle, check-import-order

[core][stats-die/03] kill STATS in core worker component
  src/ray/common/BUILD.bazel
  src/ray/common/metrics.h
  src/ray/common/task/task_spec.cc
  src/ray/common/task/task_spec.h
  src/ray/core_worker/core_worker_process.cc
  src/ray/core_worker/core_worker_process.h
  src/ray/core_worker/metrics.h
  src/ray/core_worker/task_manager.cc
  src/ray/core_worker/task_manager.h
  src/ray/core_worker/task_submission/normal_task_submitter.cc
  src/ray/core_worker/task_submission/normal_task_submitter.h
  src/ray/core_worker/task_submission/tests/normal_task_submitter_test.cc
  src/ray/core_worker/tests/core_worker_test.cc
  src/ray/core_worker/tests/task_manager_test.cc
  src/ray/gcs/BUILD.bazel
  src/ray/gcs/gcs_actor_scheduler.cc
  src/ray/gcs/gcs_actor_scheduler.h
  src/ray/gcs/gcs_placement_group.cc
  src/ray/gcs/gcs_placement_group.h
  src/ray/gcs/gcs_server.cc
  src/ray/gcs/gcs_server_main.cc
  src/ray/gcs/metrics.h
  src/ray/gcs/tests/BUILD.bazel
  src/ray/gcs/tests/gcs_actor_scheduler_mock_test.cc
  src/ray/gcs/tests/gcs_actor_scheduler_test.cc
  src/ray/gcs/tests/gcs_server_rpc_test.cc
  src/ray/gcs_rpc_client/tests/gcs_client_reconnection_test.cc
  src/ray/gcs_rpc_client/tests/gcs_client_test.cc
  src/ray/gcs_rpc_client/tests/global_state_accessor_test.cc
Due: check-cpp-files-inclusion

doc edits
  doc/source/serve/llm/user-guides/deployment-initialization.md
Due: none

fix tests
  python/ray/tests/test_ray_event_export_task_events.py
  src/ray/core_worker/task_event_buffer.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion

serve.llm: Add TP spacing to port offset for multi-replica deployments
  python/ray/llm/_internal/serve/engines/vllm/kv_transfer/base.py
Due: docstyle, check-import-order

wip
  python/ray/llm/_internal/serve/engines/vllm/kv_transfer/base.py
Due: docstyle, check-import-order

Update mblt.py
  python/ray/_private/accelerators/mblt.py
Due: docstyle, check-import-order

[Doc] Adding docs for Kuberay KAI scheduler integration (#54857)
  doc/source/cluster/kubernetes/k8s-ecosystem.md
  doc/source/cluster/kubernetes/k8s-ecosystem/kai-scheduler.md
  python/ray/data/_internal/plan.py
Due: docstyle, check-import-order

[Data] Fix renamed columns to be appropriately dropped from the ouput (#58040) (#58071)
  python/ray/data/_internal/arrow_block.py
  python/ray/data/_internal/logical/operators/map_operator.py
  python/ray/data/_internal/logical/rules/projection_pushdown.py
  python/ray/data/_internal/pandas_block.py
  python/ray/data/_internal/planner/plan_expression/expression_evaluator.py
  python/ray/data/_internal/planner/plan_expression/expression_visitors.py
  python/ray/data/block.py
  python/ray/data/dataset.py
  python/ray/data/expressions.py
  python/ray/data/tests/test_projection_fusion.py
Due: docstyle, check-import-order

add comments
  python/ray/data/_internal/plan.py
Due: docstyle, check-import-order

rename
  python/ray/data/_internal/plan.py
Due: docstyle, check-import-order

move
  python/ray/data/_internal/plan.py
Due: docstyle, check-import-order

fix doc build and num_slices type
  python/ray/util/accelerators/tpu.py
Due: docstyle, check-import-order

fix unittest
  python/ray/train/v2/tests/test_result.py
Due: docstyle, check-import-order

improve validate function
  python/ray/util/accelerators/tpu.py
Due: docstyle, check-import-order
