Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)

comment
  python/ray/train/v2/_internal/execution/controller/controller.py
Due: docstyle, check-import-order, check-train-circular-imports

comment
  python/ray/data/_internal/execution/operators/hash_shuffle.py
  python/ray/data/_internal/planner/plan_all_to_all_op.py
Due: docstyle, check-import-order

fix
  python/ray/data/_internal/execution/operators/hash_shuffle.py
Due: docstyle, check-import-order

upgrading h5py
  python/ray/train/v2/tests/test_jax_gpu.py
  python/ray/train/v2/tests/test_jax_trainer.py
  python/requirements/ml/rllib-requirements.txt
  python/requirements/ml/rllib-test-requirements.txt
  python/requirements_compiled.txt
  release/ray_release/byod/ray_base_extra_testdeps_cuda_py3.10.lock
  release/ray_release/byod/ray_base_extra_testdeps_cuda_py3.9.lock
  release/ray_release/byod/ray_base_extra_testdeps_gpu_py3.10.lock
  release/ray_release/byod/ray_base_extra_testdeps_gpu_py3.9.lock
  release/ray_release/byod/ray_base_extra_testdeps_py3.10.lock
  release/ray_release/byod/ray_base_extra_testdeps_py3.9.lock
Due: docstyle, check-import-order, check-train-circular-imports

done
  python/ray/data/_internal/execution/operators/hash_shuffle.py
  python/ray/data/tests/test_preserve_hash_shuffle_blocks.py
Due: docstyle, check-import-order

fix linter
  python/ray/data/expressions.py
Due: docstyle, check-import-order

skipping py312 jax tests
  python/ray/train/v2/tests/test_jax_gpu.py
  python/ray/train/v2/tests/test_jax_trainer.py
Due: docstyle, check-import-order, check-train-circular-imports

remove log file colin_code_format_check.log
  colin_code_format_check.log
  sgl_pi_run.log
Due: none

remove log file colin_code_format_check.log
  sgl_pi_run.log
Due: none

removing requirements file
  release/llm_tests/serve/requirements/requirements-llm-cache.txt
Due: none

removing unnused lock files
  release/ray_release/byod/llm_serve/llm_serve_llama_3dot1_8B_quantized_py311_cu128.lock
Due: none

fix test
  python/ray/data/tests/test_namespace_expressions.py
Due: docstyle, check-import-order

updaitng jax tests
  python/ray/train/v2/tests/test_jax_gpu.py
  python/ray/train/v2/tests/test_jax_trainer.py
Due: docstyle, check-import-order, check-train-circular-imports

updating jax tests
  python/ray/train/v2/tests/test_jax_gpu.py
  python/ray/train/v2/tests/test_jax_trainer.py
Due: docstyle, check-import-order, check-train-circular-imports

do not retry on ShuttingDownState
  python/ray/train/v2/_internal/execution/controller/controller.py
Due: docstyle, check-import-order, check-train-circular-imports

[train][jax] Skip py3.12 for jax test (#58979)
  python/ray/train/v2/tests/test_jax_gpu.py
  python/ray/train/v2/tests/test_jax_trainer.py
Due: docstyle, check-import-order, check-train-circular-imports

upgrading test requirements
  python/requirements/test-requirements.txt
  python/requirements_compiled.txt
Due: none

[train] Unblock `get_all_reported_checkpoints` if reporting only metrics (#58870)
  python/ray/train/v2/_internal/execution/checkpoint/checkpoint_manager.py
  python/ray/train/v2/tests/test_async_checkpointing_validation.py
  python/ray/train/v2/tests/test_data_parallel_trainer.py
  python/ray/train/v2/tests/test_report_handler.py
Due: docstyle, check-import-order, check-train-circular-imports

Raw request is no longer needed
  python/ray/llm/_internal/serve/engines/vllm/vllm_engine.py
Due: docstyle, check-import-order

fix Handle empty list to prevent IndexError
  python/ray/llm/examples/sglang/sglang_engine.py
Due: docstyle, check-import-order

[Serve] Short circuit autoscaling metrics (#58962)
  python/ray/serve/_private/metrics_utils.py
  python/ray/serve/tests/unit/test_metrics_utils.py
Due: docstyle, check-import-order

[core] Fix crash when using jvm HDFS by adding RAY_DISABLE_FAILURE_SIGNAL_HANDLER option (#58984)
  python/ray/_private/ray_constants.py
  python/ray/_raylet.pyx
Due: docstyle, check-import-order

Set request id header, don't forward headers to engine
  python/ray/llm/_internal/serve/core/ingress/ingress.py
  python/ray/llm/_internal/serve/core/ingress/middleware.py
  python/ray/llm/_internal/serve/core/server/llm_server.py
  python/ray/llm/tests/serve/cpu/deployments/llm/test_llm_server.py
Due: docstyle, check-import-order

nitpick remove todo comment
  doc/source/data/examples/unstructured-data-ingestion/ci/tests.sh
Due: none

fix Return SIG_DFL (default handler) to simulate a valid return value for signal.signal()
  python/ray/llm/examples/sglang/sglang_engine.py
Due: docstyle, check-import-order

Add resource based actor autoscaler
  python/ray/data/BUILD.bazel
  python/ray/data/_internal/actor_autoscaler/resource_based_actor_autoscaler.py
  python/ray/data/_internal/execution/operators/actor_pool_map_operator.py
  python/ray/data/_internal/execution/operators/actor_removal_strategy.py
  python/ray/data/_internal/execution/streaming_executor.py
  python/ray/data/context.py
  python/ray/data/tests/conftest.py
  python/ray/data/tests/test_actor_pool_map_operator.py
  python/ray/data/tests/test_actor_removal_strategy.py
  python/ray/data/tests/test_resource_based_actor_autoscaler.py
  python/ray/data/tests/test_streaming_integration.py
Due: docstyle, check-import-order

[Core] Support Zero-Copy Serialization for Read-Only Tensors (#57639)
  python/ray/_common/test_utils.py
  python/ray/_private/ray_constants.py
  python/ray/_private/serialization.py
  python/ray/_private/tensor_serialization_utils.py
  python/ray/tests/BUILD.bazel
  python/ray/tests/test_serialization.py
  python/ray/tests/test_tensor_zero_copy_serialization.py
Due: docstyle, check-import-order

collate to ray data doc
  doc/source/train/user-guides.rst
  doc/source/train/user-guides/move-collate-to-data.rst
Due: none

collate to ray data doc
  doc/source/train/user-guides/move-collate-to-data.rst
Due: none

fix Incorrect request and response types mismatched with OpenAiIngress
  python/ray/llm/examples/sglang/sglang_engine.py
Due: docstyle, check-import-order

fix Gate the setup hook with ENABLE_WORKER_PROCESS_SETUP_HOOK
  python/ray/llm/examples/sglang/sglang_engine.py
Due: docstyle, check-import-order

fix Gate the setup hook with import ENABLE_WORKER_PROCESS_SETUP_HOOK
  python/ray/llm/examples/sglang/sglang_engine.py
Due: docstyle, check-import-order

Update python/ray/data/_internal/logical/rules/operator_fusion.py
  python/ray/data/_internal/logical/rules/operator_fusion.py
Due: docstyle, check-import-order

skipping jax test
  python/ray/train/tests/test_backend.py
Due: docstyle, check-import-order, check-train-circular-imports

More PR comment resolutions.
  python/ray/dashboard/modules/metrics/dashboards/data_dashboard_panels.py
Due: docstyle, check-import-order
