Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)

[serve][llm] Enable direct streaming for DP and PD builders
  python/ray/llm/_internal/serve/core/ingress/builder.py
  python/ray/llm/_internal/serve/serving_patterns/data_parallel/builder.py
  python/ray/llm/_internal/serve/serving_patterns/prefill_decode/builder.py
  python/ray/llm/tests/serve/cpu/deployments/data_parallel/test_dp_server.py
  python/ray/llm/tests/serve/cpu/deployments/prefill_decode_disagg/test_prefill_decode_disagg.py
  python/ray/llm/tests/serve/cpu/deployments/routers/test_builder_ingress.py
Due: docstyle, check-import-order

Address gemini comment and run fewer copy calls
  python/ray/data/_internal/arrow_ops/transform_pyarrow.py
Due: docstyle, check-import-order

[doc][DOC-1051][DOC-1053] add intersphinx and urlopen timeouts
  doc/source/conf.py
Due: none

[Data] Cache deserialized Arrow schemas in BlockMetadataWithSchema
  python/ray/data/block.py
  python/ray/data/tests/unit/test_block_metadata_schema_cache.py
Due: docstyle, check-import-order

[Docs] Anonymize personal paths in Tune example notebook outputs
  doc/source/tune/examples/ax_example.ipynb
  doc/source/tune/examples/batch_tuning.ipynb
  doc/source/tune/examples/bayesopt_example.ipynb
  doc/source/tune/examples/bohb_example.ipynb
  doc/source/tune/examples/nevergrad_example.ipynb
  doc/source/tune/examples/pbt_guide.ipynb
  doc/source/tune/examples/tune-pytorch-lightning.ipynb
  doc/source/tune/examples/tune-xgboost.ipynb
  doc/source/tune/examples/tune_mnist_keras.ipynb
Due: none

[serve] Fold HAProxy host override into DEFAULT_HTTP_HOST
  python/ray/serve/_private/constants.py
  python/ray/serve/_private/controller.py
  python/ray/serve/config.py
  python/ray/serve/scripts.py
Due: docstyle, check-import-order

Address review feedback
  python/ray/serve/_private/constants.py
  python/ray/serve/tests/test_haproxy_api.py
Due: docstyle, check-import-order

[Docs] Add Bash invocation discipline to triage-ray-issue skill
  .claude/skills/triage-ray-issue/SKILL.md
Due: none

[serve] Fold HAProxy host override into existing RAY_SERVE_ENABLE_HA_PROXY block
  python/ray/serve/_private/constants.py
Due: docstyle, check-import-order

[serve] Simplify HAProxy host warning and merge into single branch
  python/ray/serve/_private/controller.py
Due: docstyle, check-import-order

[serve] Skip RAY_SERVE_DEFAULT_HTTP_HOST warning when value already matches
  python/ray/serve/_private/constants.py
Due: docstyle, check-import-order

clamp RSS deltas to avoid ZeroDivisionError in memory growth test
  python/ray/data/tests/datasource/test_parquet.py
Due: docstyle, check-import-order

Apply suggestions from code review
  doc/source/tune/examples/pbt_transformers.ipynb
Due: none

Apply suggestions from code review
  doc/source/train/user-guides/persistent-storage.rst
Due: none

[doc][DOC-933] add sphinxext-opengraph (#63343)
  doc/requirements-doc.txt
  doc/source/conf.py
  python/deplocks/docs/docbuild_depset_py3.10.lock
Due: none

[doc][DOC-941] unpin tf-keras: 2.20.0 was yanked (#63358)
  doc/requirements-doc.txt
  python/deplocks/docs/docbuild_depset_py3.10.lock
Due: none

[Data] Gate unsafe deserialization in WebDataset default decoder behind env var
  python/ray/data/_internal/datasource/webdataset_datasource.py
  python/ray/data/tests/datasource/test_webdataset.py
Due: docstyle, check-import-order

[Data] Gate pickle.load in ArrowPythonObjectScalar.as_py() behind env var
  python/ray/data/_internal/object_extensions/arrow.py
  python/ray/data/tests/unit/test_object_extension.py
Due: docstyle, check-import-order

[data] DataSourceV2: don't disable pre_buffer in Parquet scanner options
  python/ray/data/_internal/datasource_v2/readers/parquet_file_reader.py
Due: docstyle, check-import-order

Add tests to check in yaml
  release/release_data_tests.yaml
Due: none

[core] Print function context when inspecting closures in inspect_serializability (#63373)
  python/ray/tests/test_serialization.py
  python/ray/util/check_serialize.py
Due: docstyle, check-import-order

[Docs] Fix link text/target inconsistencies in cluster/key-concepts.rst (#36964) (#63437)
  doc/source/cluster/key-concepts.rst
Due: none

[core] Warn when runtime_env package approaches upload size limit (#63404)
  python/ray/_private/runtime_env/packaging.py
  python/ray/tests/test_runtime_env_packaging.py
Due: docstyle, check-import-order

[serve][llm] Add direct streaming OpenAI compatibility smoke tests
  python/ray/llm/tests/BUILD.bazel
  python/ray/llm/tests/serve/gpu/integration/test_openai_compatibility.py
  python/ray/llm/tests/serve/mocks/mock_vllm_engine.py
Due: docstyle, check-import-order

Inline _validate_direct_streaming_builder_config into build_openai_app
  python/ray/llm/_internal/serve/core/ingress/builder.py
Due: docstyle, check-import-order

Cleanups: move decode_builder, add PD direct-streaming log, docstring
  python/ray/llm/_internal/serve/core/ingress/builder.py
  python/ray/llm/_internal/serve/serving_patterns/prefill_decode/builder.py
Due: docstyle, check-import-order

[serve][llm] Tidy direct streaming builder tests
  python/ray/llm/_internal/serve/serving_patterns/prefill_decode/builder.py
  python/ray/llm/tests/serve/cpu/deployments/conftest.py
  python/ray/llm/tests/serve/cpu/deployments/data_parallel/test_dp_server.py
  python/ray/llm/tests/serve/cpu/deployments/prefill_decode_disagg/test_prefill_decode_disagg.py
Due: docstyle, check-import-order

[serve][llm] Add direct streaming DP PD test targets
  python/ray/llm/tests/BUILD.bazel
Due: none

[Data] Register schema cache test explicitly in BUILD.bazel
  python/ray/data/BUILD.bazel
Due: none

[serve][llm] Add direct streaming OpenAI test target
  python/ray/llm/tests/BUILD.bazel
  python/ray/llm/tests/serve/gpu/integration/test_openai_compatibility.py
  python/ray/llm/tests/serve/mocks/mock_vllm_engine.py
Due: docstyle, check-import-order

[serve][llm] Remove brittle direct streaming builder tests
  python/ray/llm/tests/BUILD.bazel
  python/ray/llm/tests/serve/cpu/deployments/conftest.py
  python/ray/llm/tests/serve/cpu/deployments/data_parallel/test_dp_server.py
  python/ray/llm/tests/serve/cpu/deployments/prefill_decode_disagg/test_prefill_decode_disagg.py
Due: docstyle, check-import-order

[serve][llm] Drop ingress test env override
  python/ray/llm/tests/serve/cpu/deployments/routers/test_builder_ingress.py
Due: docstyle, check-import-order

[Data] Fail multimodal release tests on worker OOM by default
  release/release_multimodal_inference_benchmarks_tests.yaml
Due: none

Use RayDeprecationWarning instead of DeprecationWarning
  python/ray/data/_internal/execution/backpressure_policy/concurrency_cap_backpressure_policy.py
  python/ray/data/tests/test_backpressure_policies.py
Due: docstyle, check-import-order

Drop per-worker num_cpus to 0.5 to halve the test cluster footprint
  release/nightly_tests/dataset/worker_scaling_benchmark.py
Due: docstyle, check-import-order

Address review: validation msg wording, return dict, fixed PD log
  python/ray/llm/_internal/serve/core/ingress/builder.py
  python/ray/llm/_internal/serve/serving_patterns/prefill_decode/builder.py
Due: docstyle, check-import-order

Address review: condense docs, drop duplicated comment
  python/ray/serve/_private/constants.py
  python/ray/serve/_private/haproxy.py
Due: docstyle, check-import-order

Remove two more brittle comments
  python/ray/data/tests/test_reservation_based_resource_allocator.py
Due: docstyle, check-import-order

ft prototype
  python/ray/train/__init__.py
  python/ray/train/v2/_internal/constants.py
  python/ray/train/v2/_internal/execution/context.py
  python/ray/train/v2/_internal/execution/controller/controller.py
  python/ray/train/v2/_internal/execution/controller/state.py
  python/ray/train/v2/_internal/execution/failure_handling/default.py
  python/ray/train/v2/_internal/execution/preemption.py
  python/ray/train/v2/_internal/execution/preemption_callback.py
  python/ray/train/v2/_internal/execution/worker_group/poll.py
  python/ray/train/v2/_internal/execution/worker_group/worker.py
  python/ray/train/v2/api/config.py
  python/ray/train/v2/api/context.py
  python/ray/train/v2/api/exceptions.py
  python/ray/train/v2/api/train_fn_utils.py
  python/ray/train/v2/tests/preemption_integration_demo.py
  python/ray/train/v2/tests/test_preemption_unit.py
Due: docstyle, check-import-order, check-train-circular-imports
