Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)

[Data] read_lerobot: expose per-feature normalization stats as a `stats` column
  python/ray/data/_internal/datasource/lerobot_datasource.py
  python/ray/data/read_api.py
  python/ray/data/tests/datasource/test_lerobot.py
Due: docstyle, check-import-order

[Data] read_lerobot: gate lerobot stack on py>=3.12 in test requirements
  python/ray/data/tests/datasource/test_lerobot.py
  python/requirements/ml/data-test-requirements.txt
  python/requirements/ml/py313/data-test-requirements.txt
Due: docstyle, check-import-order

[Data] read_lerobot: add lerobot to the py3.12 data deplock
  ci/raydepsets/configs/ci_data.depsets.yaml
  python/deplocks/ci/data-base-ci_depset_py3.10.lock
  python/deplocks/ci/data-base-ci_depset_py3.11.lock
  python/deplocks/ci/data-base-ci_depset_py3.12.lock
  python/deplocks/ci/data-pyarrow-latest-ci_depset_py3.10.lock
  python/deplocks/ci/data-pyarrow-latest-ci_depset_py3.12.lock
  python/deplocks/ci/relaxed_data-ci_depset_py3.10.lock
  python/deplocks/ci/relaxed_data-ci_depset_py3.12.lock
  python/requirements/ml/lerobot_overrides.txt
Due: none

revert out of scope changes of aggregators
  python/ray/data/_internal/planner/plan_all_to_all_op.py
Due: docstyle, check-import-order

Tighten code comments (review feedback)
  python/ray/serve/_private/proxy.py
  python/ray/serve/_private/replica.py
Due: docstyle, check-import-order

Bump DEFAULT_GRACEFUL_SHUTDOWN_TIMEOUT_S 20s -> 45s
  doc/source/serve/api/index.md
  doc/source/serve/configure-serve-deployment.md
  python/ray/serve/_private/constants.py
  python/ray/serve/tests/test_controller.py
  python/ray/serve/tests/test_direct_ingress.py
Due: docstyle, check-import-order

impl
  src/ray/common/BUILD.bazel
  src/ray/common/tests/BUILD.bazel
  src/ray/common/tests/threshold_memory_monitor_test.cc
  src/ray/common/threshold_memory_monitor.cc
  src/ray/common/threshold_memory_monitor.h
Due: check-cpp-files-inclusion

Fix 3.14 lock and remove sglang[all] for tracing
  release/ray_release/byod/byod_llm_sglang_test.sh
  release/release_tests.yaml
Due: none

Revert to 3.10
  release/release_tests.yaml
Due: none

impl
  src/ray/asio/tests/fake_periodical_runner_test.cc
  src/ray/util/BUILD.bazel
  src/ray/util/clock.cc
  src/ray/util/clock.h
Due: check-cpp-files-inclusion

[Data] read_lerobot: drop unresolved doc cross-refs (fix RTD -W build)
  python/ray/data/read_api.py
Due: docstyle, check-import-order

Added tests to cover the changes
  python/ray/dashboard/client/src/pages/node/NodeRow.component.test.tsx
Due: none

Tighten code comments (review feedback)
  python/ray/serve/_private/constants.py
  python/ray/serve/_private/haproxy.py
  python/ray/serve/tests/unit/test_haproxy_process_manager.py
Due: docstyle, check-import-order

Drop mock-heavy reload-signaling test class (review feedback)
  python/ray/serve/tests/unit/test_haproxy_process_manager.py
Due: docstyle, check-import-order

[train][Preemption handling 1/n] Add preemption watcher for node-drain observability (#63807)
  python/ray/train/v2/BUILD.bazel
  python/ray/train/v2/_internal/callbacks/preemption_callback.py
  python/ray/train/v2/_internal/constants.py
  python/ray/train/v2/_internal/execution/controller/controller.py
  python/ray/train/v2/_internal/execution/preemption.py
  python/ray/train/v2/tests/test_preemption_watcher.py
Due: docstyle, check-import-order, check-train-circular-imports

[Data] Shard exact download partitioning
  python/ray/data/_internal/planner/_obstore_download.py
  python/ray/data/_internal/planner/download_partition_actor.py
  python/ray/data/_internal/planner/plan_download_op.py
  python/ray/data/tests/test_download_expression.py
  python/ray/data/tests/unit/test_obstore_download.py
Due: docstyle, check-import-order

[serve.llm] Add MoRIIO KV-connector backend on the PD protocol
  python/ray/llm/_internal/serve/engines/vllm/kv_transfer/base.py
  python/ray/llm/_internal/serve/engines/vllm/kv_transfer/factory.py
  python/ray/llm/_internal/serve/engines/vllm/kv_transfer/moriio.py
  python/ray/llm/_internal/serve/serving_patterns/prefill_decode/builder.py
  python/ray/llm/_internal/serve/serving_patterns/prefill_decode/pd_server.py
  python/ray/llm/tests/serve/cpu/deployments/llm/vllm/kv_transfer_backends/test_moriio_connector.py
Due: docstyle, check-import-order

[serve.llm] Simplify MoRIIO id derivation and zmq address plumbing
  python/ray/llm/_internal/serve/engines/vllm/kv_transfer/moriio.py
  python/ray/llm/tests/serve/cpu/deployments/llm/vllm/kv_transfer_backends/test_moriio_connector.py
Due: docstyle, check-import-order

[serve.llm] MoRIIO: support DP>1, fix tp_size key, dedup, address review
  python/ray/llm/_internal/serve/engines/vllm/kv_transfer/base.py
  python/ray/llm/_internal/serve/engines/vllm/kv_transfer/moriio.py
  python/ray/llm/tests/serve/cpu/deployments/llm/vllm/kv_transfer_backends/test_moriio_connector.py
Due: docstyle, check-import-order

[serve.llm] Derive MoRIIO uid by hashing the seed, not a hardcoded uuid5 namespace
  python/ray/llm/_internal/serve/engines/vllm/kv_transfer/moriio.py
Due: docstyle, check-import-order

[serve.llm] Deliver connector-owned request id to engines; skip prewarm for peer binding
  python/ray/llm/_internal/serve/engines/vllm/kv_transfer/base.py
  python/ray/llm/_internal/serve/engines/vllm/kv_transfer/moriio.py
  python/ray/llm/_internal/serve/serving_patterns/prefill_decode/pd_server.py
  python/ray/llm/tests/serve/cpu/deployments/llm/vllm/kv_transfer_backends/test_moriio_connector.py
  python/ray/llm/tests/serve/cpu/deployments/prefill_decode_disagg/test_prefill_decode_disagg.py
Due: docstyle, check-import-order

[serve.llm] Simplify: rely on request-id passthrough for MoRIIO id delivery
  python/ray/llm/_internal/serve/engines/vllm/kv_transfer/base.py
  python/ray/llm/_internal/serve/engines/vllm/kv_transfer/moriio.py
  python/ray/llm/_internal/serve/serving_patterns/prefill_decode/pd_server.py
  python/ray/llm/tests/serve/cpu/deployments/llm/vllm/kv_transfer_backends/test_moriio_connector.py
  python/ray/llm/tests/serve/cpu/deployments/prefill_decode_disagg/test_prefill_decode_disagg.py
Due: docstyle, check-import-order

[Data] Move _ExactDownloadPartitioner to its own module
  python/ray/data/_internal/planner/download_partition_actor.py
  python/ray/data/_internal/planner/download_partitioner.py
Due: docstyle, check-import-order

Update python/ray/actor.py
  python/ray/actor.py
Due: docstyle, check-import-order

make compress & batch get number configurable
  python/ray/data/_internal/execution/operators/shuffle_operators/shuffle_map_operator.py
  python/ray/data/_internal/execution/operators/shuffle_operators/shuffle_reduce_operator.py
  python/ray/data/_internal/execution/operators/shuffle_operators/shuffle_tasks.py
  python/ray/data/context.py
Due: docstyle, check-import-order

de-lazy import and fix cursor comments
  python/ray/data/_internal/execution/operators/shuffle_operators/shuffle_map_operator.py
  python/ray/data/_internal/planner/plan_all_to_all_op.py
Due: docstyle, check-import-order

remove unnecessary comments
  python/ray/data/_internal/planner/plan_all_to_all_op.py
  python/ray/data/context.py
  python/ray/data/tests/test_hash_shuffle_v2.py
Due: docstyle, check-import-order

[serve.llm] Add MoRIIO KV-connector backend for prefill/decode (#63951)
  python/ray/llm/_internal/serve/engines/vllm/kv_transfer/base.py
  python/ray/llm/_internal/serve/engines/vllm/kv_transfer/factory.py
  python/ray/llm/_internal/serve/engines/vllm/kv_transfer/moriio.py
  python/ray/llm/_internal/serve/serving_patterns/prefill_decode/builder.py
  python/ray/llm/_internal/serve/serving_patterns/prefill_decode/pd_server.py
  python/ray/llm/tests/serve/cpu/deployments/llm/vllm/kv_transfer_backends/test_moriio_connector.py
  python/ray/llm/tests/serve/cpu/deployments/prefill_decode_disagg/test_prefill_decode_disagg.py
Due: docstyle, check-import-order

Count health-checked replicas in aggregate gauge
  python/ray/serve/_private/deployment_state.py
Due: docstyle, check-import-order

mainting backwards compatibility with error freed
  python/ray/_private/custom_types.py
  python/ray/_private/serialization.py
  python/ray/exceptions.py
Due: docstyle, check-import-order

revert torch-cu128 to gpu
  release/release_tests.yaml
Due: none

Decouple Sphinx from the test/CI dependency stack (#63962)
  python/deplocks/base_extra_testdeps/ray-ml-base_extra_testdeps_py3.10.lock
  python/deplocks/ci/core-build-ci_depset_py3.10.lock
  python/deplocks/ci/core-build-ci_depset_py3.12.lock
  python/deplocks/ci/core-gpu-cu130-build-ci_depset_py3.10.lock
  python/deplocks/ci/core-gpu-cu130-build-ci_depset_py3.12.lock
  python/deplocks/ci/core-gpubuild-ci_depset_py3.10.lock
  python/deplocks/ci/core-gpubuild-ci_depset_py3.12.lock
  python/deplocks/ci/docgpu_depset_py3.10.lock
  python/deplocks/ci/docgpu_depset_py3.12.lock
  python/deplocks/ci/macos_depset_py3.10.lock
  python/deplocks/ci/ml-build-ci_depset_py3.10.lock
  python/deplocks/ci/ml-build-ci_depset_py3.12.lock
  python/deplocks/ci/ml-gpubuild-ci_depset_py3.10.lock
  python/deplocks/ci/ml-gpubuild-ci_depset_py3.12.lock
  python/deplocks/ci/ml-lightning1gpubuild-ci_depset_py3.10.lock
  python/deplocks/ci/ml-torchft-ci_depset_py3.10.lock
  python/deplocks/docs/doctest_depset_py3.10.lock
  python/deplocks/llm/rayllm_test_py312_cpu.lock
  python/deplocks/llm/rayllm_test_py312_cu130.lock
  python/requirements/llm/llm-test-requirements.txt
  python/requirements/py313/test-requirements.txt
  python/requirements/test-requirements.txt
  python/requirements_compiled.txt
  python/requirements_compiled_py3.13.txt
  release/ray_release/byod/ml_torchft_py3.13.lock
Due: none

[core][rdt] Upgrade NIXL to v1.2.0 (#63980)
  python/deplocks/llm/rayllm_py312_cpu.lock
  python/deplocks/llm/rayllm_py312_cu130.lock
  python/deplocks/llm/rayllm_test_py312_cpu.lock
  python/deplocks/llm/rayllm_test_py312_cu130.lock
  python/requirements/llm/llm-requirements.txt
  python/requirements/ml/dl-gpu-requirements.txt
  python/setup.py
Due: docstyle, check-import-order

[core] Fix task event buffer leak by chaining flushes while a full batch remains
  src/ray/core_worker/task_event_buffer.cc
  src/ray/core_worker/task_event_buffer.h
  src/ray/core_worker/tests/task_event_buffer_test.cc
Due: check-cpp-files-inclusion

name
  python/ray/serve/_private/proxy_metrics.py
Due: docstyle, check-import-order

Aggregate low-cardinality metrics delay gauges
  python/ray/serve/_private/controller.py
Due: docstyle, check-import-order

fix
  python/ray/serve/_private/proxy_metrics.py
Due: docstyle, check-import-order

Refresh aggregate health gauge on replica stop
  python/ray/serve/_private/deployment_state.py
Due: docstyle, check-import-order

[doc] Upgrade Sphinx to 8.2.3 on Python 3.11 (step 1 of 8->9)
  .buildkite/doc.rayci.yml
  .readthedocs.yaml
  ci/raydepsets/configs/docs.depsets.yaml
  doc/Makefile
  doc/requirements-doc.lock.txt
  doc/requirements-doc.txt
  doc/source/_templates/autosummary/class_v2.rst
  doc/source/cluster/running-applications/job-submission/jobs-package-ref.rst
  doc/source/conf.py
  doc/source/data/api/loading_data.rst
  python/deplocks/docs/docbuild_depset_py3.10.lock
  python/deplocks/docs/docbuild_depset_py3.11.lock
Due: none
