Repository ray-project/ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

docstyle:
  name: Check for Ray docstyle violations
  entry: ci/lint/check-docstyle.sh
  language: system

check-import-order:
  name: Check for Ray import order violations
  entry: python ci/lint/check_import_order.py
  language: python
  pass_filenames: false
  args:
  - .
  - -s
  - ci
  - -s
  - python/ray/thirdparty_files
  - -s
  - python/build
  - -s
  - lib

check-cpp-files-inclusion:
  name: Check ray core C++ files inclusion violations
  entry: ci/lint/check_cpp_files_inclusion.py
  language: python

check-train-circular-imports:
  name: Check Ray Train circular imports
  entry: python python/ray/train/lint/check_circular_imports.py
  language: system
  pass_filenames: false
  args:
  - --patch_dir
  - ray/train/v2

[core] fix dashboard agent mock for persist_port
  python/ray/dashboard/modules/reporter/tests/test_reporter.py
Due: docstyle, check-import-order

[release test] migrate lookup functions to new anyscale sdk
  release/ray_release/anyscale_util.py
Due: docstyle, check-import-order

fix
  python/ray/data/_internal/execution/bundle_queue/bundler.py
  python/ray/data/_internal/execution/interfaces/ref_bundle.py
Due: docstyle, check-import-order

[core][data] Make data cross az test weekly
  release/release_data_tests.yaml
Due: none

Move SlicePlacementGroup to WorkerGroupState
  python/ray/train/v2/_internal/execution/worker_group/state.py
  python/ray/train/v2/_internal/execution/worker_group/worker_group.py
Due: docstyle, check-import-order, check-train-circular-imports

Delete TPUReservationCallback
  python/ray/train/v2/_internal/callbacks/tpu_reservation_callback.py
Due: docstyle, check-import-order, check-train-circular-imports

[release test] migrate lookup functions to new anyscale sdk (#59772)
  release/ray_release/anyscale_util.py
Due: docstyle, check-import-order

[release test] removes cluster_url and cluster_id
  release/ray_release/anyscale_util.py
  release/ray_release/cluster_manager/cluster_manager.py
  release/ray_release/cluster_manager/minimal.py
  release/ray_release/glue.py
  release/ray_release/job_manager/anyscale_job_manager.py
  release/ray_release/reporter/db.py
  release/ray_release/reporter/log.py
  release/ray_release/result.py
  release/ray_release/tests/test_glue.py
  release/ray_release/util.py
Due: docstyle, check-import-order

push
  ci/build/build-wheel-local.sh
  ci/build/local-build-utils.sh
Due: none

update
  ci/build/build-ray-image-local.sh
  ci/docker/ray-image.Dockerfile
Due: none

fix docstring
  python/ray/data/checkpoint/interfaces.py
Due: docstyle, check-import-order

[core] Update seq no skip error message
  src/ray/core_worker/task_execution/actor_scheduling_queue.cc
Due: check-cpp-files-inclusion

[docs] Update contribution guide with some common labels (#59473)
  CONTRIBUTING.rst
  doc/source/ray-contribute/getting-involved.rst
Due: none

[build] add ray-wheel for ray and ray-cpp, local wheel build scripts
  ci/build/Makefile
  ci/build/build_targets.py
  ci/build/build_wheel_local.py
  ci/build/test_build_targets.py
  ci/docker/ray-cpp-core.Dockerfile
  ci/docker/ray-cpp-core.wanda.yaml
  ci/docker/ray-wheel.Dockerfile
  ci/docker/ray-wheel.wanda.yaml
Due: docstyle, check-import-order

[release test] remove `artifact_path` argument in `fetch_artifact` (#59765)
  release/ray_release/command_runner/anyscale_job_runner.py
  release/ray_release/command_runner/command_runner.py
  release/ray_release/glue.py
Due: docstyle, check-import-order

[release test] removes cluster_url and cluster_id (#59776)
  release/ray_release/anyscale_util.py
  release/ray_release/cluster_manager/cluster_manager.py
  release/ray_release/cluster_manager/minimal.py
  release/ray_release/glue.py
  release/ray_release/job_manager/anyscale_job_manager.py
  release/ray_release/reporter/db.py
  release/ray_release/reporter/log.py
  release/ray_release/result.py
  release/ray_release/tests/test_glue.py
  release/ray_release/util.py
Due: docstyle, check-import-order

Remove num_slices arg and calculate it from num_workers
  python/ray/train/v2/api/config.py
  python/ray/train/v2/jax/config.py
  python/ray/train/v2/tests/test_config.py
  python/ray/train/v2/tests/test_jax_trainer.py
Due: docstyle, check-import-order, check-train-circular-imports

fix remote cache
  ci/docker/ray-cpp-core.Dockerfile
  ci/docker/ray-cpp-core.wanda.yaml
Due: none

readonly cache
  ci/build/build_targets.py
Due: docstyle, check-import-order

Remove num_slices from JaxTrainer
  python/ray/train/v2/jax/jax_trainer.py
Due: docstyle, check-import-order, check-train-circular-imports

.
  release/requirements_py310.txt
Due: none

Remove double placement group cleanup
  python/ray/train/v2/_internal/execution/worker_group/state.py
Due: docstyle, check-import-order, check-train-circular-imports

Replace NodeAffinitySchedulingStrategy soft=False with label selector
  python/ray/_private/ray_experimental_perf.py
  python/ray/_private/test_utils.py
  python/ray/air/util/node.py
  python/ray/dag/compiled_dag_node.py
  python/ray/dag/tests/experimental/test_multi_node_dag.py
  python/ray/dashboard/modules/job/job_manager.py
  python/ray/data/_internal/block_batching/util.py
  python/ray/data/_internal/datasource/parquet_datasource.py
  python/ray/data/_internal/execution/autoscaling_requester.py
  python/ray/data/_internal/execution/node_trackers/actor_location.py
  python/ray/data/_internal/iterator/stream_split_iterator.py
  python/ray/data/_internal/stats.py
  python/ray/data/dataset.py
  python/ray/data/read_api.py
  python/ray/serve/_private/proxy_state.py
  python/ray/tests/test_channel.py
  python/ray/tests/test_draining.py
  python/ray/tests/test_get_locations.py
  python/ray/tests/test_object_manager.py
  python/ray/tests/test_output.py
  python/ray/tests/test_runtime_env_working_dir_uri.py
  python/ray/tests/test_scheduling.py
  python/ray/tests/test_scheduling_2.py
  python/ray/tests/test_task_events.py
  python/ray/tests/test_wait.py
  python/ray/train/v2/_internal/execution/worker_group/worker_group.py
  python/ray/train/v2/api/data_parallel_trainer.py
  python/ray/util/check_open_ports.py
  release/benchmarks/distributed/many_nodes_tests/dashboard_test.py
  release/long_running_tests/workloads/many_drivers.py
  release/microbenchmark/experimental/compiled_graph_gpu_microbenchmark.py
  release/tune_tests/fault_tolerance_tests/workloads/terminate_node_aws.py
Due: docstyle, check-import-order, check-train-circular-imports

Update release/long_running_tests/workloads/many_drivers.py
  release/long_running_tests/workloads/many_drivers.py
Due: docstyle, check-import-order

Update python/ray/dashboard/modules/job/job_manager.py
  python/ray/dashboard/modules/job/job_manager.py
Due: docstyle, check-import-order

Update cluster resource scheduling logic to handle hard node ID constraint for label selector
  python/ray/tests/test_scheduling_2.py
  python/ray/train/v2/api/data_parallel_trainer.py
  src/ray/raylet/scheduling/cluster_resource_scheduler.cc
Due: docstyle, check-import-order, check-cpp-files-inclusion, check-train-circular-imports

Fix lint
  python/ray/dag/compiled_dag_node.py
  python/ray/dag/tests/experimental/test_multi_node_dag.py
  python/ray/tests/test_channel.py
  python/ray/tests/test_scheduling.py
Due: docstyle, check-import-order

Fix tests
  python/ray/dashboard/modules/job/job_manager.py
Due: docstyle, check-import-order

remove resource scheduler change
  src/ray/raylet/scheduling/cluster_resource_scheduler.cc
Due: check-cpp-files-inclusion

Fix comments
  python/ray/data/_internal/datasource/parquet_datasource.py
  python/ray/tests/test_scheduling_2.py
  release/long_running_tests/workloads/many_drivers.py
Due: docstyle, check-import-order

Remove unused import
  src/ray/raylet/scheduling/cluster_resource_scheduler.cc
Due: check-cpp-files-inclusion

Fix test name
  python/ray/tests/test_scheduling_2.py
Due: docstyle, check-import-order

Fix changed comment
  python/ray/data/_internal/execution/autoscaling_requester.py
Due: docstyle, check-import-order

Run lint precommit
  python/ray/_private/test_utils.py
  python/ray/util/check_open_ports.py
Due: docstyle, check-import-order

Fix legacy type being wrong
  python/ray/data/_internal/datasource/parquet_datasource.py
Due: docstyle, check-import-order

Fix data test and label selector handling with scheduling_strategy
  python/ray/data/_internal/logical/rules/operator_fusion.py
  python/ray/data/read_api.py
Due: docstyle, check-import-order

[Docs] Update KubeRay & Volcano integration document (#59636)
  doc/source/cluster/kubernetes/k8s-ecosystem/volcano.md
Due: none

Fix aggregator-to-GCS event conversion
  python/ray/_private/test_utils.py
  python/ray/dashboard/modules/aggregator/tests/test_ray_actor_events.py
  src/ray/core_worker/task_event_buffer.cc
  src/ray/gcs/BUILD.bazel
  src/ray/gcs/gcs_ray_event_converter.cc
  src/ray/gcs/tests/gcs_ray_event_converter_test.cc
  src/ray/protobuf/public/events_actor_task_definition_event.proto
  src/ray/protobuf/public/events_base_event.proto
  src/ray/protobuf/public/events_task_definition_event.proto
  src/ray/protobuf/public/events_task_lifecycle_event.proto
Due: docstyle, check-import-order, check-cpp-files-inclusion

Enable aggregator mode in state API and task event tests
  python/ray/tests/conftest.py
  python/ray/tests/test_state_api.py
  python/ray/tests/test_state_api_2.py
  python/ray/tests/test_state_api_summary.py
  python/ray/tests/test_task_events.py
  python/ray/tests/test_task_events_2.py
  python/ray/tests/test_task_events_3.py
Due: docstyle, check-import-order

Path conditions:
  docstyle: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-import-order: any of: \.py$, but not: (?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)

  check-cpp-files-inclusion: any of: ^src/ray/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
  check-train-circular-imports: any of: ^python/ray/train/.*\.py$ and \.py$ and not ((?x)^(
  python/ray/core/generated/|
  python/ray/serve/generated/|
  python/ray/cloudpickle/|
  python/ray/dashboard/client/public/|
  python/ray/tests/test_cli_patterns|
  python/ray/_private/runtime_env/_clonevirtualenv.py|
  python/ray/data/examples/data/|
  release/release_logs/|
  rllib/tests/data|
  thirdparty/patches/|
  src/ray/thirdparty/|
  doc/external/|
  doc/source/
)
)
